<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  Copyright (c) 2006, 2019 THALES GLOBAL SERVICES.
  
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0
  
  SPDX-License-Identifier: EPL-2.0

  Contributors:
       Thales - initial API and implementation
-->
<plugin>
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections contributorId="org.polarsys.capella.core.data.capellamodeller.properties">
         <propertySection
               class="org.polarsys.capella.core.data.ctx.properties.sections.CapabilityInvolvementSection"
               filter="org.polarsys.capella.core.data.ctx.properties.sections.CapabilityInvolvementSection"
               id="org.polarsys.capella.core.data.ctx.properties.sections.CapabilityInvolvementSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.ctx.properties.sections.MissionInvolvementSection"
               filter="org.polarsys.capella.core.data.ctx.properties.sections.MissionInvolvementSection"
               id="org.polarsys.capella.core.data.ctx.properties.sections.MissionInvolvementSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.ctx.properties.sections.SystemComponentPkgSection"
               filter="org.polarsys.capella.core.data.ctx.properties.sections.SystemComponentPkgSection"
               id="org.polarsys.capella.core.data.ctx.properties.sections.SystemComponentPkgSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.ctx.properties.sections.CapabilityExploitationSection"
               filter="org.polarsys.capella.core.data.ctx.properties.sections.CapabilityExploitationSection"
               id="org.polarsys.capella.core.data.ctx.properties.sections.CapabilityExploitationSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.ctx.properties.sections.CapabilityPkgSection"
               filter="org.polarsys.capella.core.data.ctx.properties.sections.CapabilityPkgSection"
               id="org.polarsys.capella.core.data.ctx.properties.sections.CapabilityPkgSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.ctx.properties.sections.CapabilitySection"
               filter="org.polarsys.capella.core.data.ctx.properties.sections.CapabilitySection"
               id="org.polarsys.capella.core.data.ctx.properties.sections.CapabilitySection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.ctx.properties.sections.MissionPkgSection"
               filter="org.polarsys.capella.core.data.ctx.properties.sections.MissionPkgSection"
               id="org.polarsys.capella.core.data.ctx.properties.sections.MissionPkgSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.ctx.properties.sections.OperationalAnalysisRealizationSection"
               filter="org.polarsys.capella.core.data.ctx.properties.sections.OperationalAnalysisRealizationSection"
               id="org.polarsys.capella.core.data.ctx.properties.sections.OperationalAnalysisRealizationSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.ctx.properties.sections.MissionSection"
               filter="org.polarsys.capella.core.data.ctx.properties.sections.MissionSection"
               id="org.polarsys.capella.core.data.ctx.properties.sections.MissionSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.ctx.properties.sections.SystemAnalysisSection"
               filter="org.polarsys.capella.core.data.ctx.properties.sections.SystemAnalysisSection"
               id="org.polarsys.capella.core.data.ctx.properties.sections.SystemAnalysisSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.ctx.properties.sections.SystemCommunicationHookSection"
               filter="org.polarsys.capella.core.data.ctx.properties.sections.SystemCommunicationHookSection"
               id="org.polarsys.capella.core.data.ctx.properties.sections.SystemCommunicationHookSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.ctx.properties.sections.SystemCommunicationSection"
               filter="org.polarsys.capella.core.data.ctx.properties.sections.SystemCommunicationSection"
               id="org.polarsys.capella.core.data.ctx.properties.sections.SystemCommunicationSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.ctx.properties.sections.SystemFunctionPkgSection"
               filter="org.polarsys.capella.core.data.ctx.properties.sections.SystemFunctionPkgSection"
               id="org.polarsys.capella.core.data.ctx.properties.sections.SystemFunctionPkgSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.ctx.properties.sections.SystemFunctionSection"
               filter="org.polarsys.capella.core.data.ctx.properties.sections.SystemFunctionSection"
               id="org.polarsys.capella.core.data.ctx.properties.sections.SystemFunctionSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.ctx.properties.sections.SystemComponentSection"
               filter="org.polarsys.capella.core.data.ctx.properties.sections.SystemComponentSection"
               id="org.polarsys.capella.core.data.ctx.properties.sections.SystemComponentSection"
               tab="BaseCapella">
         </propertySection>
      </propertySections>
   </extension>
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">      
	  <propertySections contributorId="org.eclipse.sirius.diagram.ui">
         <propertySection
               class="org.polarsys.capella.core.data.ctx.properties.sections.CapabilityInvolvementSection"
               filter="org.polarsys.capella.core.data.ctx.properties.sections.CapabilityInvolvementSection"
               id="org.polarsys.capella.core.data.ctx.properties.sections.CapabilityInvolvementSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.ctx.properties.sections.MissionInvolvementSection"
               filter="org.polarsys.capella.core.data.ctx.properties.sections.MissionInvolvementSection"
               id="org.polarsys.capella.core.data.ctx.properties.sections.MissionInvolvementSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.ctx.properties.sections.SystemComponentPkgSection"
               filter="org.polarsys.capella.core.data.ctx.properties.sections.SystemComponentPkgSection"
               id="org.polarsys.capella.core.data.ctx.properties.sections.ActorPkgSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.ctx.properties.sections.CapabilityExploitationSection"
               filter="org.polarsys.capella.core.data.ctx.properties.sections.CapabilityExploitationSection"
               id="org.polarsys.capella.core.data.ctx.properties.sections.CapabilityExploitationSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.ctx.properties.sections.CapabilityPkgSection"
               filter="org.polarsys.capella.core.data.ctx.properties.sections.CapabilityPkgSection"
               id="org.polarsys.capella.core.data.ctx.properties.sections.CapabilityPkgSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.ctx.properties.sections.CapabilitySection"
               filter="org.polarsys.capella.core.data.ctx.properties.sections.CapabilitySection"
               id="org.polarsys.capella.core.data.ctx.properties.sections.CapabilitySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.ctx.properties.sections.MissionPkgSection"
               filter="org.polarsys.capella.core.data.ctx.properties.sections.MissionPkgSection"
               id="org.polarsys.capella.core.data.ctx.properties.sections.MissionPkgSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.ctx.properties.sections.OperationalAnalysisRealizationSection"
               filter="org.polarsys.capella.core.data.ctx.properties.sections.OperationalAnalysisRealizationSection"
               id="org.polarsys.capella.core.data.ctx.properties.sections.OperationalAnalysisRealizationSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.ctx.properties.sections.MissionSection"
               filter="org.polarsys.capella.core.data.ctx.properties.sections.MissionSection"
               id="org.polarsys.capella.core.data.ctx.properties.sections.MissionSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.ctx.properties.sections.SystemAnalysisSection"
               filter="org.polarsys.capella.core.data.ctx.properties.sections.SystemAnalysisSection"
               id="org.polarsys.capella.core.data.ctx.properties.sections.SystemAnalysisSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.ctx.properties.sections.SystemCommunicationHookSection"
               filter="org.polarsys.capella.core.data.ctx.properties.sections.SystemCommunicationHookSection"
               id="org.polarsys.capella.core.data.ctx.properties.sections.SystemCommunicationHookSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.ctx.properties.sections.SystemCommunicationSection"
               filter="org.polarsys.capella.core.data.ctx.properties.sections.SystemCommunicationSection"
               id="org.polarsys.capella.core.data.ctx.properties.sections.SystemCommunicationSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.ctx.properties.sections.SystemFunctionPkgSection"
               filter="org.polarsys.capella.core.data.ctx.properties.sections.SystemFunctionPkgSection"
               id="org.polarsys.capella.core.data.ctx.properties.sections.SystemFunctionPkgSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.ctx.properties.sections.SystemFunctionSection"
               filter="org.polarsys.capella.core.data.ctx.properties.sections.SystemFunctionSection"
               id="org.polarsys.capella.core.data.ctx.properties.sections.SystemFunctionSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.ctx.properties.sections.SystemComponentSection"
               filter="org.polarsys.capella.core.data.ctx.properties.sections.SystemComponentSection"
               id="org.polarsys.capella.core.data.ctx.properties.sections.SystemComponentSection"
               tab="BaseSiriusDiagram">
         </propertySection>
      </propertySections>
   </extension>
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">      
	  <propertySections contributorId="org.eclipse.sirius.table.ui.EditorID">
         <propertySection
               class="org.polarsys.capella.core.data.ctx.properties.sections.CapabilityInvolvementSection"
               filter="org.polarsys.capella.core.data.ctx.properties.sections.CapabilityInvolvementSection"
               id="org.polarsys.capella.core.data.ctx.properties.sections.CapabilityInvolvementSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.ctx.properties.sections.MissionInvolvementSection"
               filter="org.polarsys.capella.core.data.ctx.properties.sections.MissionInvolvementSection"
               id="org.polarsys.capella.core.data.ctx.properties.sections.MissionInvolvementSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.ctx.properties.sections.SystemComponentPkgSection"
               filter="org.polarsys.capella.core.data.ctx.properties.sections.SystemComponentPkgSection"
               id="org.polarsys.capella.core.data.ctx.properties.sections.ActorPkgSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.ctx.properties.sections.CapabilityExploitationSection"
               filter="org.polarsys.capella.core.data.ctx.properties.sections.CapabilityExploitationSection"
               id="org.polarsys.capella.core.data.ctx.properties.sections.CapabilityExploitationSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.ctx.properties.sections.CapabilityPkgSection"
               filter="org.polarsys.capella.core.data.ctx.properties.sections.CapabilityPkgSection"
               id="org.polarsys.capella.core.data.ctx.properties.sections.CapabilityPkgSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.ctx.properties.sections.CapabilitySection"
               filter="org.polarsys.capella.core.data.ctx.properties.sections.CapabilitySection"
               id="org.polarsys.capella.core.data.ctx.properties.sections.CapabilitySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.ctx.properties.sections.MissionPkgSection"
               filter="org.polarsys.capella.core.data.ctx.properties.sections.MissionPkgSection"
               id="org.polarsys.capella.core.data.ctx.properties.sections.MissionPkgSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.ctx.properties.sections.OperationalAnalysisRealizationSection"
               filter="org.polarsys.capella.core.data.ctx.properties.sections.OperationalAnalysisRealizationSection"
               id="org.polarsys.capella.core.data.ctx.properties.sections.OperationalAnalysisRealizationSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.ctx.properties.sections.MissionSection"
               filter="org.polarsys.capella.core.data.ctx.properties.sections.MissionSection"
               id="org.polarsys.capella.core.data.ctx.properties.sections.MissionSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.ctx.properties.sections.SystemAnalysisSection"
               filter="org.polarsys.capella.core.data.ctx.properties.sections.SystemAnalysisSection"
               id="org.polarsys.capella.core.data.ctx.properties.sections.SystemAnalysisSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.ctx.properties.sections.SystemCommunicationHookSection"
               filter="org.polarsys.capella.core.data.ctx.properties.sections.SystemCommunicationHookSection"
               id="org.polarsys.capella.core.data.ctx.properties.sections.SystemCommunicationHookSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.ctx.properties.sections.SystemCommunicationSection"
               filter="org.polarsys.capella.core.data.ctx.properties.sections.SystemCommunicationSection"
               id="org.polarsys.capella.core.data.ctx.properties.sections.SystemCommunicationSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.ctx.properties.sections.SystemFunctionPkgSection"
               filter="org.polarsys.capella.core.data.ctx.properties.sections.SystemFunctionPkgSection"
               id="org.polarsys.capella.core.data.ctx.properties.sections.SystemFunctionPkgSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.ctx.properties.sections.SystemFunctionSection"
               filter="org.polarsys.capella.core.data.ctx.properties.sections.SystemFunctionSection"
               id="org.polarsys.capella.core.data.ctx.properties.sections.SystemFunctionSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.ctx.properties.sections.SystemComponentSection"
               filter="org.polarsys.capella.core.data.ctx.properties.sections.SystemComponentSection"
               id="org.polarsys.capella.core.data.ctx.properties.sections.SystemComponentSection"
               tab="BaseSiriusTable">
         </propertySection>
      </propertySections>
   </extension>
</plugin>
