<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  Copyright (c) 2006, 2020 THALES GLOBAL SERVICES.
  
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0
  
  SPDX-License-Identifier: EPL-2.0
  
  Contributors:
       Thales - initial API and implementation
-->
<plugin>
   <extension-point id="org.polarsys.capella.core.model.obfuscator.Obfuscator" name="Obfuscator" schema="schema/org.polarsys.capella.core.model.obfuscator.complement.exsd"/>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <actionProvider
            class="org.polarsys.capella.core.model.obfuscator.actions.ObfuscatorActionProvider"
            id="capella.project.explorer.actions.obfuscation">
         <enablement>
               <and>
                  <instanceof
                        value="org.eclipse.core.resources.IFile">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.core.resources.extension"
                        value="aird">
                  </test>
               </and>
            </enablement>
      </actionProvider>
   </extension>

</plugin>
