<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  Copyright (c) 2006, 2023 THALES GLOBAL SERVICES.
  
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0
  
  SPDX-License-Identifier: EPL-2.0
  
  Contributors:
       Thales - initial API and implementation
-->
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.polarsys.capella.core.platform.sirius.ui.perspective.CapellaPerspective"
            icon="icons/Capella16x16.png"
            id="capella.sirius.perspective"
            name="%perspective.name">
         <description>
            This is the Capella Perspective.
         </description>
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="capella.sirius.perspective">
         <viewShortcut id="org.polarsys.capella.common.tools.report.appenders.reportlogview.logview"/>
         <viewShortcut id="org.polarsys.capella.core.ui.semantic.browser.view.SemanticBrowserID"/>
         <viewShortcut
               id="capella.project.explorer">
         </viewShortcut>
         <viewShortcut id="org.polarsys.kitalpha.ad.viewpoint.ui.views.viewpointmanagerview"/>
         <viewShortcut id="org.eclipse.ui.views.PropertySheet"/> 
         <viewShortcut id="org.eclipse.ui.views.ContentOutline"/>       
      </perspectiveExtension>
   </extension>
    <extension
       point="org.eclipse.ui.views">
      <category
            id="org.polarsys.capella.views.category"
            name="Capella">
      </category>
      <category
            id="org.polarsys.capella.views.category.incubation"
            name="Capella (Incubation)">
      </category>
    </extension>
    <extension
          id="id"
          point="org.eclipse.core.runtime.applications">
       <application
             cardinality="singleton-global"
             thread="main"
             visible="true">
          <run
                class="org.polarsys.capella.core.platform.sirius.ui.app.CapellaApplication">
          </run>
       </application>
    </extension>
   <extension
         point="org.eclipse.ui.activities">
         
     <activity id="org.polarsys.capella.core.hidden.activity" 
     			description="Cover some features from Eclipse, Sirius or Kitalpha such as Sirius Specifier Project, Sirius Modeling Project, unused Kitalpha Views" 
     			name= "Platform Features"/>
     
     <categoryActivityBinding
          activityId="org.polarsys.capella.core.hidden.activity"
          categoryId="org.polarsys.capella.activities.categories.advanced">
     </categoryActivityBinding>
     
	 <activityPatternBinding activityId="org.polarsys.capella.core.hidden.activity" pattern=".*/org.eclipse.sirius.ui.specificationproject.wizard"/>
     <activityPatternBinding activityId="org.polarsys.capella.core.hidden.activity" pattern=".*/org.eclipse.ui.wizards.export.Preferences"/>
     
     <activityPatternBinding
            activityId="org.polarsys.capella.core.hidden.activity"
            pattern="org.polarsys.kitalpha.massactions/org.polarsys.kitalpha.massactions.edit.view">
     </activityPatternBinding>
     <activityPatternBinding
            activityId="org.polarsys.capella.core.hidden.activity"
            pattern="org.polarsys.kitalpha.massactions/org.polarsys.kitalpha.massactions.visualize.view">
     </activityPatternBinding> 
         
       <activityPatternBinding
            activityId="org.polarsys.capella.core.hidden.activity"
            pattern=".*/org.polarsys.kitalpha.resourcereuse.emfscheme.ui.load.content.command">
     </activityPatternBinding>
   
     <!-- Declare a specific activity for elements only hidden in Capella perspective -->
	 <activity
		description="Hide elements on Capella Perspective"
		id="org.polarsys.capella.core.perspective.hidden.activity"
		name="Capella Hidden Activities Perspective">
		<enabledWhen>
			<with
				variable="activeWorkbenchWindow.activePerspective">
				<not>
					<equals
						value="capella.sirius.perspective">
					</equals>
				</not>
			</with>
		</enabledWhen>
	 </activity>
	 
	 <activityPatternBinding activityId="org.polarsys.capella.core.perspective.hidden.activity" pattern=".*/org.eclipse.sirius.ui.modelingproject.wizard"/>
	 
     <!-- Hide Sirius close contextual menu in Capella perspective -->
	 <activityPatternBinding activityId="org.polarsys.capella.core.perspective.hidden.activity" isEqualityPattern="true" pattern="org.eclipse.sirius.ui.editor/org.eclipse.sirius.ui.closeSessionMenuContribution"/>
       
    </extension>
    
    
    
   <extension
         point="org.eclipse.ui.activities">
      <category
            description="Capella System Engineering Tools"
            id="org.polarsys.capella.activities.categories.capella"
            name="Capella Tools">
      </category>
      <category
            description="Capella System Engineering Phases"
            id="org.polarsys.capella.activities.categories.architectures"
            name="Capella Phases">
      </category>
      <category
            description="Capella System Engineering Concepts"
            id="org.polarsys.capella.activities.categories.common"
            name="Capella Concepts">
      </category>
      <category
            description="Platforrm"
            id="org.polarsys.capella.activities.categories.platform"
            name="Platform">
      </category>
      <category
            description="Modeling Features for Advanced Users"
            id="org.polarsys.capella.activities.categories.advanced"
            name="Capella Advanced Modeling">
      </category>
      
	 
	 
	   <activity
             description="Concepts related to Transitions"
             id="org.polarsys.capella.activities.transitions"
             name="Transitions">
       </activity>
       <defaultEnablement
             id="org.polarsys.capella.activities.transitions">
       </defaultEnablement>
       <categoryActivityBinding
             activityId="org.polarsys.capella.activities.transitions"
             categoryId="org.polarsys.capella.activities.categories.capella">
       </categoryActivityBinding>
       <activityPatternBinding pattern="org.polarsys.capella.core.transition.system.topdown.ui/.*" activityId="org.polarsys.capella.activities.transitions" />
       <activityPatternBinding pattern="org.polarsys.capella.core.projection.scenario/.*" activityId="org.polarsys.capella.activities.transitions" />
       <activityPatternBinding pattern="org.polarsys.capella.core.projection.exchanges/.*" activityId="org.polarsys.capella.activities.transitions" />
       <activityPatternBinding pattern="org.polarsys.capella.core.projection.interfaces/.*" activityId="org.polarsys.capella.activities.transitions" />

       <activity
             id="org.polarsys.capella.activities.libraries"
             description="Concepts related to Libraries"
             name="Libraries">
       </activity>
       <defaultEnablement
             id="org.polarsys.capella.activities.libraries">
       </defaultEnablement>
       <categoryActivityBinding
             activityId="org.polarsys.capella.activities.libraries"
             categoryId="org.polarsys.capella.activities.categories.capella">
       </categoryActivityBinding>
       <activityPatternBinding pattern="org.polarsys.capella.core.libraries/.*" activityId="org.polarsys.capella.activities.libraries" />
       <activityPatternBinding pattern="org.polarsys.capella.core.libraries.ui/.*" activityId="org.polarsys.capella.activities.libraries" />
       
       
       
       
       <activity
             description="Concepts related to the Replicable Elements"
             id="org.polarsys.capella.activities.re"
             name="Replicable Elements">
       </activity>
       <defaultEnablement id="org.polarsys.capella.activities.re"/>
        <categoryActivityBinding
             activityId="org.polarsys.capella.activities.re"
             categoryId="org.polarsys.capella.activities.categories.capella">
       </categoryActivityBinding>
      <activityPatternBinding pattern="org.polarsys.capella.common.re.ui/.*" activityId="org.polarsys.capella.activities.re" />
      <activityPatternBinding pattern="org.polarsys.capella.core.re.ui/.*" activityId="org.polarsys.capella.activities.re"/>
      <activityPatternBinding pattern="org.polarsys.capella.core.re.project/.*" activityId="org.polarsys.capella.activities.re"/>
      
      
      
      
      
      
      
      
       
       <activity
             description="Concepts related to Wizards"
             id="org.polarsys.capella.activities.wizards"
             name="Wizards">
       </activity>
       <defaultEnablement id="org.polarsys.capella.activities.wizards"/>
        <categoryActivityBinding
             activityId="org.polarsys.capella.activities.wizards"
             categoryId="org.polarsys.capella.activities.categories.capella">
       </categoryActivityBinding>
      <activityPatternBinding pattern="org.polarsys.capella.core.*wizard.*" activityId="org.polarsys.capella.activities.wizards" />
      
      
       <activity
             name="Modeling Accelerators"
             id="org.polarsys.capella.activities.accelerator"
             description="Concepts related to Modeling Accelerators">
       </activity>
       <defaultEnablement id="org.polarsys.capella.activities.accelerator"/>
        <categoryActivityBinding
             activityId="org.polarsys.capella.activities.accelerator"
             categoryId="org.polarsys.capella.activities.categories.capella">
       </categoryActivityBinding>
      <activityPatternBinding pattern="org.polarsys.capella.core.platform.sirius.ui.*accelerator.*" activityId="org.polarsys.capella.activities.accelerator" />
      <activityPatternBinding pattern="org.polarsys.capella.core.transfo.*accelerator.*" activityId="org.polarsys.capella.activities.accelerator" />
      <activityPatternBinding pattern="org.polarsys.capella.core.sirius.*accelerator.*" activityId="org.polarsys.capella.activities.accelerator" />
      <activityPatternBinding pattern=".*functions.from.mode.state.*" activityId="org.polarsys.capella.activities.accelerator" />
      <activityPatternBinding pattern=".*elements.from.scenario.*" activityId="org.polarsys.capella.activities.accelerator" />
      <activityPatternBinding pattern=".*initialization.from.existing.diagram.*" activityId="org.polarsys.capella.activities.accelerator" />
      
      
      
      
      <activity
             name="Element Creation in Project Explorer"
             id="org.polarsys.capella.activities.element.creation"
             description="Element Creation in Project Explorer">
       </activity>
       <defaultEnablement id="org.polarsys.capella.activities.element.creation"/>
        <categoryActivityBinding
             activityId="org.polarsys.capella.activities.element.creation"
             categoryId="org.polarsys.capella.activities.categories.advanced">
       </categoryActivityBinding>
      <activityPatternBinding pattern="capella.project.element.menu" activityId="org.polarsys.capella.activities.element.creation" />
      
      
      
      
      
      
       <activity
             name="Expert/Semantic Properties"
             id="org.polarsys.capella.activities.expert.properties"
             description="Allows the edition of model element properties through Expert Property View and Semantic Property View for diagram elements">
       </activity>
        <categoryActivityBinding
             activityId="org.polarsys.capella.activities.expert.properties"
             categoryId="org.polarsys.capella.activities.categories.advanced">
       </categoryActivityBinding>
      <activityPatternBinding pattern="org.polarsys.capella.common.data.modellingcore.section.advanced.ModelElement" activityId="org.polarsys.capella.activities.expert.properties" />
      <activityPatternBinding pattern="property.section.semantic" activityId="org.polarsys.capella.activities.expert.properties" />
      
      
      
      
      
      <activity
             name="Diagram Creation in Project Explorer"
             id="org.polarsys.capella.activities.diagram.creation"
             description="Diagram Creation in Project Explorer">
       </activity>
       <defaultEnablement id="org.polarsys.capella.activities.diagram.creation"/>
        <categoryActivityBinding
             activityId="org.polarsys.capella.activities.diagram.creation"
             categoryId="org.polarsys.capella.activities.categories.advanced">
       </categoryActivityBinding>
      <activityPatternBinding pattern="capella.project.diagrams.menu" activityId="org.polarsys.capella.activities.diagram.creation" />


      
      
      
      
      
      
      
      



      <activity id="org.polarsys.capella.activities.fastLinker" name="Fast Linker" 
                description="Concepts related to the Fast Linker Tool" />
      <categoryActivityBinding
            activityId="org.polarsys.capella.activities.fastLinker"
            categoryId="org.polarsys.capella.activities.categories.capella">
      </categoryActivityBinding>
      <activityPatternBinding
            activityId="org.polarsys.capella.activities.fastLinker"
            pattern="org.polarsys.capella.core.ui.fastlinker/.*">
      </activityPatternBinding>
      
      
      
      

      


      <activity
            id="org.polarsys.capella.activities.migration"
            description="Concepts related to Model Migration"
            name="Migration">
      </activity>
      <defaultEnablement
            id="org.polarsys.capella.activities.migration">
      </defaultEnablement>
      <categoryActivityBinding
            activityId="org.polarsys.capella.activities.migration"
            categoryId="org.polarsys.capella.activities.categories.capella">
      </categoryActivityBinding>
      <activityPatternBinding pattern="org.polarsys.capella.core.data.migration/.*" activityId="org.polarsys.capella.activities.migration"/>
      
      <activity
            id="org.polarsys.capella.activities.oa"
            description="Concepts related to the Operational Analysis Engineering Phase in Activity Explorer"
            name="1- Operational Analysis">
      </activity>
      <defaultEnablement
            id="org.polarsys.capella.activities.oa">
      </defaultEnablement>
      <categoryActivityBinding
            activityId="org.polarsys.capella.activities.oa"
            categoryId="org.polarsys.capella.activities.categories.architectures">
      </categoryActivityBinding>
      <activityPatternBinding pattern=".*/.*\.oa\..*" activityId="org.polarsys.capella.activities.oa"/>
      
      
      
      <activity
            id="org.polarsys.capella.activities.sa"
            description="Concepts related to the System Analysis Engineering Phase in Activity Explorer"
            name="2- System Analysis">
      </activity>
      <defaultEnablement
            id="org.polarsys.capella.activities.sa">
      </defaultEnablement>
      <categoryActivityBinding
            activityId="org.polarsys.capella.activities.sa"
            categoryId="org.polarsys.capella.activities.categories.architectures">
      </categoryActivityBinding>
      <activityPatternBinding pattern=".*/.*\.sa\..*" activityId="org.polarsys.capella.activities.sa"/>
      
      
      <activity
            id="org.polarsys.capella.activities.la"
            description="Concepts related to the Logical Architecture Engineering Phase in Activity Explorer"
            name="3- Logical Architecture">
      </activity>
      <defaultEnablement
            id="org.polarsys.capella.activities.la">
      </defaultEnablement>
      <categoryActivityBinding
            activityId="org.polarsys.capella.activities.la"
            categoryId="org.polarsys.capella.activities.categories.architectures">
      </categoryActivityBinding>
      <activityPatternBinding pattern=".*/.*\.la\..*" activityId="org.polarsys.capella.activities.la"/>
      
      
      
      
      <activity
            id="org.polarsys.capella.activities.pa"
            description="Concepts related to the Physical Architecture Engineering Phase in Activity Explorer"
            name="4- Physical Architecture">
      </activity>
      <defaultEnablement
            id="org.polarsys.capella.activities.pa">
      </defaultEnablement>
      <categoryActivityBinding
            activityId="org.polarsys.capella.activities.pa"
            categoryId="org.polarsys.capella.activities.categories.architectures">
      </categoryActivityBinding>
      <activityPatternBinding pattern=".*/.*\.pa\..*" activityId="org.polarsys.capella.activities.pa"/>
      
      <activity
            id="org.polarsys.capella.activities.epbs"
            description="Concepts related to the EPBS Engineering Phase in Activity Explorer"
            name="5- EPBS">
      </activity>
      <defaultEnablement
            id="org.polarsys.capella.activities.epbs">
      </defaultEnablement>
      <categoryActivityBinding
            activityId="org.polarsys.capella.activities.epbs"
            categoryId="org.polarsys.capella.activities.categories.architectures">
      </categoryActivityBinding>
      <activityPatternBinding pattern=".*/.*\.epbs\..*" activityId="org.polarsys.capella.activities.epbs"/>
      
      
      
      
      
      <activity
            id="org.polarsys.capella.activities.pa.node"
            description="Concepts related to Node Components"
            name="Node Concepts">
      </activity>
      
      <defaultEnablement
            id="org.polarsys.capella.activities.pa.node">
      </defaultEnablement>
      
      <categoryActivityBinding
            activityId="org.polarsys.capella.activities.pa.node"
            categoryId="org.polarsys.capella.activities.categories.common">
      </categoryActivityBinding>
      
   
   	  <activityPatternBinding pattern=".*node.*" activityId="org.polarsys.capella.activities.pa.node"/>
      <activityPatternBinding pattern=".*physical.(link|port|path).*" activityId="org.polarsys.capella.activities.pa.node"/>      
      <activityPatternBinding pattern=".*deploy.node.pc.*" activityId="org.polarsys.capella.activities.pa.node"/>
      <activityPatternBinding pattern=".*manage.node.pcs.deployment.*" activityId="org.polarsys.capella.activities.pa.node"/>
      <activityPatternBinding pattern=".*deployed.node.pcs.*" activityId="org.polarsys.capella.activities.pa.node"/>
      <activityPatternBinding pattern=".*all.deployed.node.pcs.*" activityId="org.polarsys.capella.activities.pa.node"/>
      <activityPatternBinding pattern=".*component.port.allocation.*" activityId="org.polarsys.capella.activities.pa.node"/>
      

      
      <activityRequirementBinding
      		activityId="org.polarsys.capella.activities.pa.node" requiredActivityId="org.polarsys.capella.activities.pa">
      </activityRequirementBinding>
      
      
      
      <activity
            id="org.polarsys.capella.activities.pa.behavior"
            description="Concepts related to Behavior Components"
            name="Behavior Concepts">
      </activity>
      
      <defaultEnablement
            id="org.polarsys.capella.activities.pa.behavior">
      </defaultEnablement>
      
      <categoryActivityBinding
            activityId="org.polarsys.capella.activities.pa.behavior"
            categoryId="org.polarsys.capella.activities.categories.common">
      </categoryActivityBinding>
      
      <activityPatternBinding pattern=".*behavior.*" activityId="org.polarsys.capella.activities.pa.behavior"/>      
      <activityPatternBinding pattern=".*deploy.behavior.pc.*" activityId="org.polarsys.capella.activities.pa.behavior"/>
      <activityPatternBinding pattern=".*manage.behavior.pcs.deployment.*" activityId="org.polarsys.capella.activities.pa.behavior"/>
      <activityPatternBinding pattern=".*deployed.behaviour.pcs.*" activityId="org.polarsys.capella.activities.pa.behavior"/>
      
      <activityPatternBinding pattern=".*(in|out).*flow.port.*" activityId="org.polarsys.capella.activities.pa.behavior"/>     
      <activityPatternBinding pattern=".*standard.port.*" activityId="org.polarsys.capella.activities.pa.behavior"/>             
      <activityPatternBinding pattern=".*component.exchange.*" activityId="org.polarsys.capella.activities.pa.behavior"/>            
      <activityPatternBinding pattern=".*delegation$" activityId="org.polarsys.capella.activities.pa.behavior"/>      
    
      <activityRequirementBinding
      		activityId="org.polarsys.capella.activities.pa.behavior" requiredActivityId="org.polarsys.capella.activities.pa">
      </activityRequirementBinding>
      

      <activity
            id="org.polarsys.capella.activities.fa"
            description="Concepts related to Functional Analysis"            
            name="Functional Analysis">
      </activity>
      <defaultEnablement
            id="org.polarsys.capella.activities.fa">
      </defaultEnablement>
      <categoryActivityBinding
            activityId="org.polarsys.capella.activities.fa"
            categoryId="org.polarsys.capella.activities.categories.common">
      </categoryActivityBinding>
      <activityPatternBinding pattern=".*function.*" activityId="org.polarsys.capella.activities.fa"/>
      <activityPatternBinding pattern=".*duplicate.*" activityId="org.polarsys.capella.activities.fa"/>
      <activityPatternBinding pattern=".*gather.*" activityId="org.polarsys.capella.activities.fa"/>
      <activityPatternBinding pattern=".*route.*" activityId="org.polarsys.capella.activities.fa"/>
      <activityPatternBinding pattern=".*select.*" activityId="org.polarsys.capella.activities.fa"/>
      <activityPatternBinding pattern=".*split.*" activityId="org.polarsys.capella.activities.fa"/>
      <activityPatternBinding pattern=".*functional.exchange.*" activityId="org.polarsys.capella.activities.fa"/>
      <activityPatternBinding pattern=".*function.port.*" activityId="org.polarsys.capella.activities.fa"/>
      <activityPatternBinding pattern=".*input.port.*" activityId="org.polarsys.capella.activities.fa"/>
      <activityPatternBinding pattern=".*output.port.*" activityId="org.polarsys.capella.activities.fa"/>
      <activityPatternBinding pattern="^(?!.*component).*port.*allocation.*" activityId="org.polarsys.capella.activities.fa"/>
      <activityPatternBinding pattern=".*manage.function.allocation.*" activityId="org.polarsys.capella.activities.fa"/>
      <activityPatternBinding pattern=".*allocated.function.*" activityId="org.polarsys.capella.activities.fa"/>
      <activityPatternBinding pattern=".*functional.chains.*" activityId="org.polarsys.capella.activities.fa"/>
      <activity
            description="Concepts related to Capella Configuration Projects"
            id="org.polarsys.capella.activities.configurationProjects"
            name="Configuration Projects">
      </activity>
      <categoryActivityBinding
            activityId="org.polarsys.capella.activities.configurationProjects"
            categoryId="org.polarsys.capella.activities.categories.capella">
      </categoryActivityBinding>
      <defaultEnablement
            id="org.polarsys.capella.activities.configurationProjects">
      </defaultEnablement>
      <activityPatternBinding
            activityId="org.polarsys.capella.activities.configurationProjects"
            pattern="org\.polarsys\.capella\.core\.preferences\.project\.configuration/.*">
      </activityPatternBinding>
      
      
      <activity
            description="Concepts related to Capella Projects"
            id="org.polarsys.capella.activities.capellaProjects"
            name="Capella Projects">
      </activity>
      <categoryActivityBinding
            activityId="org.polarsys.capella.activities.capellaProjects"
            categoryId="org.polarsys.capella.activities.categories.capella">
      </categoryActivityBinding>
      <defaultEnablement
            id="org.polarsys.capella.activities.capellaProjects">
      </defaultEnablement>
      <activityPatternBinding
            activityId="org.polarsys.capella.activities.capellaProjects"
            isEqualityPattern="true"
            pattern="org.polarsys.capella.core.platform.sirius.ui.project/capella.project.wizard">
      </activityPatternBinding>

      <!-- Behavior deployment concept -->
      <activityPatternBinding
            activityId="org.polarsys.capella.activities.behaviorDeployment"
            isEqualityPattern="true"
            pattern="pa.pab.deploy.behavior.pc">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.polarsys.capella.activities.behaviorDeployment"
            isEqualityPattern="true"
            pattern="pa.pab.manage.behavior.pcs.deployment">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.polarsys.capella.activities.behaviorDeployment"
            isEqualityPattern="true"
            pattern="pa.pab.deployed.behaviour.pcs">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.polarsys.capella.activities.behaviorDeployment"
            isEqualityPattern="true"
            pattern="pa.pab.all.deployed.behaviour.pcs">
      </activityPatternBinding>
      <activity
            description="Concepts related to behavior deployment"
            id="org.polarsys.capella.activities.behaviorDeployment"
            name="Behavior Deployment Concepts">
      </activity>
      <categoryActivityBinding
            activityId="org.polarsys.capella.activities.behaviorDeployment"
            categoryId="org.polarsys.capella.activities.categories.common">
      </categoryActivityBinding>
      <defaultEnablement
            id="org.polarsys.capella.activities.behaviorDeployment">
      </defaultEnablement>

      <!-- Node deployment concept -->
      <activityPatternBinding
            activityId="org.polarsys.capella.activities.nodeDeployment"
            isEqualityPattern="true"
            pattern="pa.pab.deploy.node.pc">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.polarsys.capella.activities.nodeDeployment"
            isEqualityPattern="true"
            pattern="pa.pab.manage.node.pcs.deployment">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.polarsys.capella.activities.nodeDeployment"
            isEqualityPattern="true"
            pattern="pa.pab.deployed.node.pcs">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.polarsys.capella.activities.nodeDeployment"
            isEqualityPattern="true"
            pattern="pa.pab.all.deployed.node.pcs">
      </activityPatternBinding>
      <activity
            description="Concepts related to node deployment"
            id="org.polarsys.capella.activities.nodeDeployment"
            name="Node Deployment Concepts">
      </activity>
      <categoryActivityBinding
            activityId="org.polarsys.capella.activities.nodeDeployment"
            categoryId="org.polarsys.capella.activities.categories.common">
      </categoryActivityBinding>
      <defaultEnablement
            id="org.polarsys.capella.activities.nodeDeployment">
      </defaultEnablement>
      
   </extension>
   
   <!--extension point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="org.polarsys.capella.core.platform.sirius.ui.perspective.CapellaSplashHandler"
            id="org.polarsys.capella.core.product.splashHandler">
      </splashHandler>
   </extension-->
   	<extension
         point="org.eclipse.ui.statusHandlers">
         <statusHandler
               class="org.polarsys.capella.core.platform.sirius.ui.app.CapellaStatusHandler"
               id="org.polarsys.capella.core.platform.sirius.ui.perspective.statusHandler">
      	</statusHandler>
   </extension>
	<extension
			point="org.eclipse.ui.services">
		<sourceProvider
			provider="org.polarsys.capella.core.platform.sirius.ui.app.CapellaExpressionSourceProvider">
			<variable
				name="org.polarsys.capella.core.platform.workbench"
				priorityLevel="workbench">
			</variable>
		</sourceProvider>
	</extension>
      <extension
         point="org.eclipse.ui.bindings">
      <scheme
            id="org.polarsys.capella.core.defaultAcceleratorConfiguration"
            name="Capella Accelerator Configuration"
            parentId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </scheme>
   </extension>
      <extension
            point="org.polarsys.capella.core.application.AppStart">
         <appStart
               class="org.polarsys.capella.core.platform.sirius.ui.AcceleratorConfigurationInitializer">
         </appStart>
      </extension>
      <extension
            point="org.eclipse.ui.services">
         <serviceFactory
               factoryClass="org.polarsys.capella.core.platform.sirius.ui.services.PlatformSiriusServiceFactory">
            <service
                  serviceClass="org.polarsys.capella.core.platform.sirius.ui.services.IElementIdentifierService"></service>
         </serviceFactory>
      </extension>
      <extension
            point="org.eclipse.sirius.diagram.toolManagement">
         <toolFilter
               class="org.polarsys.capella.core.platform.sirius.ui.services.ActivityToolFilter">
         </toolFilter>
      </extension>
      <extension
            point="org.eclipse.ui.activitySupport">
         <triggerPointAdvisor
               class="org.polarsys.capella.core.platform.sirius.ui.TriggerPointAdvisor"
               id="org.polarsys.capella.core.platform.sirius.ui.TriggerPointAdvisor">
         </triggerPointAdvisor>
      </extension>
</plugin>
