<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  Copyright (c) 2006, 2023 THALES GLOBAL SERVICES.
  
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0
  
  SPDX-License-Identifier: EPL-2.0
  
  Contributors:
       Thales - initial API and implementation
-->
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.polarsys.capella.core.platform.sirius.ui.perspective.CapellaPerspective"
            icon="icons/Capella16x16.png"
            id="capella.sirius.perspective"
            name="%perspective.name">
         <description>
            %perspective.description
         </description>
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="capella.sirius.perspective">
         <viewShortcut id="org.polarsys.capella.common.tools.report.appenders.reportlogview.logview"/>
         <viewShortcut id="org.polarsys.capella.core.ui.semantic.browser.view.SemanticBrowserID"/>
         <viewShortcut
               id="capella.project.explorer">
         </viewShortcut>
         <viewShortcut id="org.polarsys.kitalpha.ad.viewpoint.ui.views.viewpointmanagerview"/>
         <viewShortcut id="org.eclipse.ui.views.PropertySheet"/> 
         <viewShortcut id="org.eclipse.ui.views.ContentOutline"/>       
      </perspectiveExtension>
   </extension>
    <extension
       point="org.eclipse.ui.views">
      <category
            id="org.polarsys.capella.views.category"
            name="%category.name">
      </category>
      <category
            id="org.polarsys.capella.views.category.incubation"
            name="%category.name.0">
      </category>
    </extension>
    <extension
          id="id"
          point="org.eclipse.core.runtime.applications">
       <application
             cardinality="singleton-global"
             thread="main"
             visible="true">
          <run
                class="org.polarsys.capella.core.platform.sirius.ui.app.CapellaApplication">
          </run>
       </application>
    </extension>
   <extension
         point="org.eclipse.ui.activities">
         
     <activity id="org.polarsys.capella.core.hidden.activity" 
     			description="%activity.description" 
     			name= "%activity.name"/>
     
     <categoryActivityBinding
          activityId="org.polarsys.capella.core.hidden.activity"
          categoryId="org.polarsys.capella.activities.categories.advanced">
     </categoryActivityBinding>
     
	 <activityPatternBinding activityId="org.polarsys.capella.core.hidden.activity" pattern=".*/org.eclipse.sirius.ui.specificationproject.wizard"/>
     <activityPatternBinding activityId="org.polarsys.capella.core.hidden.activity" pattern=".*/org.eclipse.ui.wizards.export.Preferences"/>
     
     <activityPatternBinding
            activityId="org.polarsys.capella.core.hidden.activity"
            pattern="org.polarsys.kitalpha.massactions/org.polarsys.kitalpha.massactions.edit.view">
     </activityPatternBinding>
     <activityPatternBinding
            activityId="org.polarsys.capella.core.hidden.activity"
            pattern="org.polarsys.kitalpha.massactions/org.polarsys.kitalpha.massactions.visualize.view">
     </activityPatternBinding> 
         
       <activityPatternBinding
            activityId="org.polarsys.capella.core.hidden.activity"
            pattern=".*/org.polarsys.kitalpha.resourcereuse.emfscheme.ui.load.content.command">
     </activityPatternBinding>
   
     <!-- Declare a specific activity for elements only hidden in Capella perspective -->
	 <activity
		description="%activity.description.0"
		id="org.polarsys.capella.core.perspective.hidden.activity"
		name="%activity.name.0">
		<enabledWhen>
			<with
				variable="activeWorkbenchWindow.activePerspective">
				<not>
					<equals
						value="capella.sirius.perspective">
					</equals>
				</not>
			</with>
		</enabledWhen>
	 </activity>
	 
	 <activityPatternBinding activityId="org.polarsys.capella.core.perspective.hidden.activity" pattern=".*/org.eclipse.sirius.ui.modelingproject.wizard"/>
	 
     <!-- Hide Sirius close contextual menu in Capella perspective -->
	 <activityPatternBinding activityId="org.polarsys.capella.core.perspective.hidden.activity" isEqualityPattern="true" pattern="org.eclipse.sirius.ui.editor/org.eclipse.sirius.ui.closeSessionMenuContribution"/>
       
    </extension>
    
    
    
   <extension
         point="org.eclipse.ui.activities">
      <category
            description="%category.description"
            id="org.polarsys.capella.activities.categories.capella"
            name="%category.name.1">
      </category>
      <category
            description="%category.description.0"
            id="org.polarsys.capella.activities.categories.architectures"
            name="%category.name.2">
      </category>
      <category
            description="%category.description.1"
            id="org.polarsys.capella.activities.categories.common"
            name="%category.name.3">
      </category>
      <category
            description="%category.description.2"
            id="org.polarsys.capella.activities.categories.platform"
            name="%category.name.4">
      </category>
      <category
            description="%category.description.3"
            id="org.polarsys.capella.activities.categories.advanced"
            name="%category.name.5">
      </category>
      
	 
	 
	   <activity
             description="%activity.description.1"
             id="org.polarsys.capella.activities.transitions"
             name="%activity.name.1">
       </activity>
       <defaultEnablement
             id="org.polarsys.capella.activities.transitions">
       </defaultEnablement>
       <categoryActivityBinding
             activityId="org.polarsys.capella.activities.transitions"
             categoryId="org.polarsys.capella.activities.categories.capella">
       </categoryActivityBinding>
       <activityPatternBinding pattern="org.polarsys.capella.core.transition.system.topdown.ui/.*" activityId="org.polarsys.capella.activities.transitions" />
       <activityPatternBinding pattern="org.polarsys.capella.core.projection.scenario/.*" activityId="org.polarsys.capella.activities.transitions" />
       <activityPatternBinding pattern="org.polarsys.capella.core.projection.exchanges/.*" activityId="org.polarsys.capella.activities.transitions" />
       <activityPatternBinding pattern="org.polarsys.capella.core.projection.interfaces/.*" activityId="org.polarsys.capella.activities.transitions" />

       <activity
             id="org.polarsys.capella.activities.libraries"
             description="%activity.description.2"
             name="%activity.name.2">
       </activity>
       <defaultEnablement
             id="org.polarsys.capella.activities.libraries">
       </defaultEnablement>
       <categoryActivityBinding
             activityId="org.polarsys.capella.activities.libraries"
             categoryId="org.polarsys.capella.activities.categories.capella">
       </categoryActivityBinding>
       <activityPatternBinding pattern="org.polarsys.capella.core.libraries/.*" activityId="org.polarsys.capella.activities.libraries" />
       <activityPatternBinding pattern="org.polarsys.capella.core.libraries.ui/.*" activityId="org.polarsys.capella.activities.libraries" />
       
       
       
       
       <activity
             description="%activity.description.3"
             id="org.polarsys.capella.activities.re"
             name="%activity.name.3">
       </activity>
       <defaultEnablement id="org.polarsys.capella.activities.re"/>
        <categoryActivityBinding
             activityId="org.polarsys.capella.activities.re"
             categoryId="org.polarsys.capella.activities.categories.capella">
       </categoryActivityBinding>
      <activityPatternBinding pattern="org.polarsys.capella.common.re.ui/.*" activityId="org.polarsys.capella.activities.re" />
      <activityPatternBinding pattern="org.polarsys.capella.core.re.ui/.*" activityId="org.polarsys.capella.activities.re"/>
      <activityPatternBinding pattern="org.polarsys.capella.core.re.project/.*" activityId="org.polarsys.capella.activities.re"/>
      
      
      
      
      
      
      
      
       
       <activity
             description="%activity.description.4"
             id="org.polarsys.capella.activities.wizards"
             name="%activity.name.4">
       </activity>
       <defaultEnablement id="org.polarsys.capella.activities.wizards"/>
        <categoryActivityBinding
             activityId="org.polarsys.capella.activities.wizards"
             categoryId="org.polarsys.capella.activities.categories.capella">
       </categoryActivityBinding>
      <activityPatternBinding pattern="org.polarsys.capella.core.*wizard.*" activityId="org.polarsys.capella.activities.wizards" />
      
      
       <activity
             name="%activity.name.5"
             id="org.polarsys.capella.activities.accelerator"
             description="%activity.description.5">
       </activity>
       <defaultEnablement id="org.polarsys.capella.activities.accelerator"/>
        <categoryActivityBinding
             activityId="org.polarsys.capella.activities.accelerator"
             categoryId="org.polarsys.capella.activities.categories.capella">
       </categoryActivityBinding>
      <activityPatternBinding pattern="org.polarsys.capella.core.platform.sirius.ui.*accelerator.*" activityId="org.polarsys.capella.activities.accelerator" />
      <activityPatternBinding pattern="org.polarsys.capella.core.transfo.*accelerator.*" activityId="org.polarsys.capella.activities.accelerator" />
      <activityPatternBinding pattern="org.polarsys.capella.core.sirius.*accelerator.*" activityId="org.polarsys.capella.activities.accelerator" />
      <activityPatternBinding pattern=".*functions.from.mode.state.*" activityId="org.polarsys.capella.activities.accelerator" />
      <activityPatternBinding pattern=".*elements.from.scenario.*" activityId="org.polarsys.capella.activities.accelerator" />
      <activityPatternBinding pattern=".*initialization.from.existing.diagram.*" activityId="org.polarsys.capella.activities.accelerator" />
      
      
      
      
      <activity
             name="%activity.name.6"
             id="org.polarsys.capella.activities.element.creation"
             description="%activity.description.6">
       </activity>
       <defaultEnablement id="org.polarsys.capella.activities.element.creation"/>
        <categoryActivityBinding
             activityId="org.polarsys.capella.activities.element.creation"
             categoryId="org.polarsys.capella.activities.categories.advanced">
       </categoryActivityBinding>
      <activityPatternBinding pattern="capella.project.element.menu" activityId="org.polarsys.capella.activities.element.creation" />
      
      
      
      
      
      
       <activity
             name="%activity.name.7"
             id="org.polarsys.capella.activities.expert.properties"
             description="%activity.description.7">
       </activity>
        <categoryActivityBinding
             activityId="org.polarsys.capella.activities.expert.properties"
             categoryId="org.polarsys.capella.activities.categories.advanced">
       </categoryActivityBinding>
      <activityPatternBinding pattern="org.polarsys.capella.common.data.modellingcore.section.advanced.ModelElement" activityId="org.polarsys.capella.activities.expert.properties" />
      <activityPatternBinding pattern="property.section.semantic" activityId="org.polarsys.capella.activities.expert.properties" />
      
      
      
      
      
      <activity
             name="%activity.name.8"
             id="org.polarsys.capella.activities.diagram.creation"
             description="%activity.description.8">
       </activity>
       <defaultEnablement id="org.polarsys.capella.activities.diagram.creation"/>
        <categoryActivityBinding
             activityId="org.polarsys.capella.activities.diagram.creation"
             categoryId="org.polarsys.capella.activities.categories.advanced">
       </categoryActivityBinding>
      <activityPatternBinding pattern="capella.project.diagrams.menu" activityId="org.polarsys.capella.activities.diagram.creation" />


      
      
      
      
      
      
      
      



      <activity id="org.polarsys.capella.activities.fastLinker" name="%activity.name.9" 
                description="%activity.description.9" />
      <categoryActivityBinding
            activityId="org.polarsys.capella.activities.fastLinker"
            categoryId="org.polarsys.capella.activities.categories.capella">
      </categoryActivityBinding>
      <activityPatternBinding
            activityId="org.polarsys.capella.activities.fastLinker"
            pattern="org.polarsys.capella.core.ui.fastlinker/.*">
      </activityPatternBinding>
      
      
      
      

      


      <activity
            id="org.polarsys.capella.activities.migration"
            description="%activity.description.10"
            name="%activity.name.10">
      </activity>
      <defaultEnablement
            id="org.polarsys.capella.activities.migration">
      </defaultEnablement>
      <categoryActivityBinding
            activityId="org.polarsys.capella.activities.migration"
            categoryId="org.polarsys.capella.activities.categories.capella">
      </categoryActivityBinding>
      <activityPatternBinding pattern="org.polarsys.capella.core.data.migration/.*" activityId="org.polarsys.capella.activities.migration"/>
      
      <activity
            id="org.polarsys.capella.activities.oa"
            description="%activity.description.11"
            name="%activity.name.11">
      </activity>
      <defaultEnablement
            id="org.polarsys.capella.activities.oa">
      </defaultEnablement>
      <categoryActivityBinding
            activityId="org.polarsys.capella.activities.oa"
            categoryId="org.polarsys.capella.activities.categories.architectures">
      </categoryActivityBinding>
      <activityPatternBinding pattern=".*/.*\.oa\..*" activityId="org.polarsys.capella.activities.oa"/>
      
      
      
      <activity
            id="org.polarsys.capella.activities.sa"
            description="%activity.description.12"
            name="%activity.name.12">
      </activity>
      <defaultEnablement
            id="org.polarsys.capella.activities.sa">
      </defaultEnablement>
      <categoryActivityBinding
            activityId="org.polarsys.capella.activities.sa"
            categoryId="org.polarsys.capella.activities.categories.architectures">
      </categoryActivityBinding>
      <activityPatternBinding pattern=".*/.*\.sa\..*" activityId="org.polarsys.capella.activities.sa"/>
      
      
      <activity
            id="org.polarsys.capella.activities.la"
            description="%activity.description.13"
            name="%activity.name.13">
      </activity>
      <defaultEnablement
            id="org.polarsys.capella.activities.la">
      </defaultEnablement>
      <categoryActivityBinding
            activityId="org.polarsys.capella.activities.la"
            categoryId="org.polarsys.capella.activities.categories.architectures">
      </categoryActivityBinding>
      <activityPatternBinding pattern=".*/.*\.la\..*" activityId="org.polarsys.capella.activities.la"/>
      
      
      
      
      <activity
            id="org.polarsys.capella.activities.pa"
            description="%activity.description.14"
            name="%activity.name.14">
      </activity>
      <defaultEnablement
            id="org.polarsys.capella.activities.pa">
      </defaultEnablement>
      <categoryActivityBinding
            activityId="org.polarsys.capella.activities.pa"
            categoryId="org.polarsys.capella.activities.categories.architectures">
      </categoryActivityBinding>
      <activityPatternBinding pattern=".*/.*\.pa\..*" activityId="org.polarsys.capella.activities.pa"/>
      
      <activity
            id="org.polarsys.capella.activities.epbs"
            description="%activity.description.15"
            name="%activity.name.15">
      </activity>
      <defaultEnablement
            id="org.polarsys.capella.activities.epbs">
      </defaultEnablement>
      <categoryActivityBinding
            activityId="org.polarsys.capella.activities.epbs"
            categoryId="org.polarsys.capella.activities.categories.architectures">
      </categoryActivityBinding>
      <activityPatternBinding pattern=".*/.*\.epbs\..*" activityId="org.polarsys.capella.activities.epbs"/>
      
      
      
      
      
      <activity
            id="org.polarsys.capella.activities.pa.node"
            description="%activity.description.16"
            name="%activity.name.16">
      </activity>
      
      <defaultEnablement
            id="org.polarsys.capella.activities.pa.node">
      </defaultEnablement>
      
      <categoryActivityBinding
            activityId="org.polarsys.capella.activities.pa.node"
            categoryId="org.polarsys.capella.activities.categories.common">
      </categoryActivityBinding>
      
   
   	  <activityPatternBinding pattern=".*node.*" activityId="org.polarsys.capella.activities.pa.node"/>
      <activityPatternBinding pattern=".*physical.(link|port|path).*" activityId="org.polarsys.capella.activities.pa.node"/>      
      <activityPatternBinding pattern=".*deploy.node.pc.*" activityId="org.polarsys.capella.activities.pa.node"/>
      <activityPatternBinding pattern=".*manage.node.pcs.deployment.*" activityId="org.polarsys.capella.activities.pa.node"/>
      <activityPatternBinding pattern=".*deployed.node.pcs.*" activityId="org.polarsys.capella.activities.pa.node"/>
      <activityPatternBinding pattern=".*all.deployed.node.pcs.*" activityId="org.polarsys.capella.activities.pa.node"/>
      <activityPatternBinding pattern=".*component.port.allocation.*" activityId="org.polarsys.capella.activities.pa.node"/>
      

      
      <activityRequirementBinding
      		activityId="org.polarsys.capella.activities.pa.node" requiredActivityId="org.polarsys.capella.activities.pa">
      </activityRequirementBinding>
      
      
      
      <activity
            id="org.polarsys.capella.activities.pa.behavior"
            description="%activity.description.17"
            name="%activity.name.17">
      </activity>
      
      <defaultEnablement
            id="org.polarsys.capella.activities.pa.behavior">
      </defaultEnablement>
      
      <categoryActivityBinding
            activityId="org.polarsys.capella.activities.pa.behavior"
            categoryId="org.polarsys.capella.activities.categories.common">
      </categoryActivityBinding>
      
      <activityPatternBinding pattern=".*behavior.*" activityId="org.polarsys.capella.activities.pa.behavior"/>      
      <activityPatternBinding pattern=".*deploy.behavior.pc.*" activityId="org.polarsys.capella.activities.pa.behavior"/>
      <activityPatternBinding pattern=".*manage.behavior.pcs.deployment.*" activityId="org.polarsys.capella.activities.pa.behavior"/>
      <activityPatternBinding pattern=".*deployed.behaviour.pcs.*" activityId="org.polarsys.capella.activities.pa.behavior"/>
      
      <activityPatternBinding pattern=".*(in|out).*flow.port.*" activityId="org.polarsys.capella.activities.pa.behavior"/>     
      <activityPatternBinding pattern=".*standard.port.*" activityId="org.polarsys.capella.activities.pa.behavior"/>             
      <activityPatternBinding pattern=".*component.exchange.*" activityId="org.polarsys.capella.activities.pa.behavior"/>            
      <activityPatternBinding pattern=".*delegation$" activityId="org.polarsys.capella.activities.pa.behavior"/>      
    
      <activityRequirementBinding
      		activityId="org.polarsys.capella.activities.pa.behavior" requiredActivityId="org.polarsys.capella.activities.pa">
      </activityRequirementBinding>
      

      <activity
            id="org.polarsys.capella.activities.fa"
            description="%activity.description.18"            
            name="%activity.name.18">
      </activity>
      <defaultEnablement
            id="org.polarsys.capella.activities.fa">
      </defaultEnablement>
      <categoryActivityBinding
            activityId="org.polarsys.capella.activities.fa"
            categoryId="org.polarsys.capella.activities.categories.common">
      </categoryActivityBinding>
      <activityPatternBinding pattern=".*function.*" activityId="org.polarsys.capella.activities.fa"/>
      <activityPatternBinding pattern=".*duplicate.*" activityId="org.polarsys.capella.activities.fa"/>
      <activityPatternBinding pattern=".*gather.*" activityId="org.polarsys.capella.activities.fa"/>
      <activityPatternBinding pattern=".*route.*" activityId="org.polarsys.capella.activities.fa"/>
      <activityPatternBinding pattern=".*select.*" activityId="org.polarsys.capella.activities.fa"/>
      <activityPatternBinding pattern=".*split.*" activityId="org.polarsys.capella.activities.fa"/>
      <activityPatternBinding pattern=".*functional.exchange.*" activityId="org.polarsys.capella.activities.fa"/>
      <activityPatternBinding pattern=".*function.port.*" activityId="org.polarsys.capella.activities.fa"/>
      <activityPatternBinding pattern=".*input.port.*" activityId="org.polarsys.capella.activities.fa"/>
      <activityPatternBinding pattern=".*output.port.*" activityId="org.polarsys.capella.activities.fa"/>
      <activityPatternBinding pattern="^(?!.*component).*port.*allocation.*" activityId="org.polarsys.capella.activities.fa"/>
      <activityPatternBinding pattern=".*manage.function.allocation.*" activityId="org.polarsys.capella.activities.fa"/>
      <activityPatternBinding pattern=".*allocated.function.*" activityId="org.polarsys.capella.activities.fa"/>
      <activityPatternBinding pattern=".*functional.chains.*" activityId="org.polarsys.capella.activities.fa"/>
      <activity
            description="%activity.description.19"
            id="org.polarsys.capella.activities.configurationProjects"
            name="%activity.name.19">
      </activity>
      <categoryActivityBinding
            activityId="org.polarsys.capella.activities.configurationProjects"
            categoryId="org.polarsys.capella.activities.categories.capella">
      </categoryActivityBinding>
      <defaultEnablement
            id="org.polarsys.capella.activities.configurationProjects">
      </defaultEnablement>
      <activityPatternBinding
            activityId="org.polarsys.capella.activities.configurationProjects"
            pattern="org\.polarsys\.capella\.core\.preferences\.project\.configuration/.*">
      </activityPatternBinding>
      
      
      <activity
            description="%activity.description.20"
            id="org.polarsys.capella.activities.capellaProjects"
            name="%activity.name.20">
      </activity>
      <categoryActivityBinding
            activityId="org.polarsys.capella.activities.capellaProjects"
            categoryId="org.polarsys.capella.activities.categories.capella">
      </categoryActivityBinding>
      <defaultEnablement
            id="org.polarsys.capella.activities.capellaProjects">
      </defaultEnablement>
      <activityPatternBinding
            activityId="org.polarsys.capella.activities.capellaProjects"
            isEqualityPattern="true"
            pattern="org.polarsys.capella.core.platform.sirius.ui.project/capella.project.wizard">
      </activityPatternBinding>

      <!-- Behavior deployment concept -->
      <activityPatternBinding
            activityId="org.polarsys.capella.activities.behaviorDeployment"
            isEqualityPattern="true"
            pattern="pa.pab.deploy.behavior.pc">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.polarsys.capella.activities.behaviorDeployment"
            isEqualityPattern="true"
            pattern="pa.pab.manage.behavior.pcs.deployment">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.polarsys.capella.activities.behaviorDeployment"
            isEqualityPattern="true"
            pattern="pa.pab.deployed.behaviour.pcs">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.polarsys.capella.activities.behaviorDeployment"
            isEqualityPattern="true"
            pattern="pa.pab.all.deployed.behaviour.pcs">
      </activityPatternBinding>
      <activity
            description="%activity.description.21"
            id="org.polarsys.capella.activities.behaviorDeployment"
            name="%activity.name.21">
      </activity>
      <categoryActivityBinding
            activityId="org.polarsys.capella.activities.behaviorDeployment"
            categoryId="org.polarsys.capella.activities.categories.common">
      </categoryActivityBinding>
      <defaultEnablement
            id="org.polarsys.capella.activities.behaviorDeployment">
      </defaultEnablement>

      <!-- Node deployment concept -->
      <activityPatternBinding
            activityId="org.polarsys.capella.activities.nodeDeployment"
            isEqualityPattern="true"
            pattern="pa.pab.deploy.node.pc">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.polarsys.capella.activities.nodeDeployment"
            isEqualityPattern="true"
            pattern="pa.pab.manage.node.pcs.deployment">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.polarsys.capella.activities.nodeDeployment"
            isEqualityPattern="true"
            pattern="pa.pab.deployed.node.pcs">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.polarsys.capella.activities.nodeDeployment"
            isEqualityPattern="true"
            pattern="pa.pab.all.deployed.node.pcs">
      </activityPatternBinding>
      <activity
            description="%activity.description.22"
            id="org.polarsys.capella.activities.nodeDeployment"
            name="%activity.name.22">
      </activity>
      <categoryActivityBinding
            activityId="org.polarsys.capella.activities.nodeDeployment"
            categoryId="org.polarsys.capella.activities.categories.common">
      </categoryActivityBinding>
      <defaultEnablement
            id="org.polarsys.capella.activities.nodeDeployment">
      </defaultEnablement>
      
   </extension>
   
   <!--extension point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="org.polarsys.capella.core.platform.sirius.ui.perspective.CapellaSplashHandler"
            id="org.polarsys.capella.core.product.splashHandler">
      </splashHandler>
   </extension-->
   	<extension
         point="org.eclipse.ui.statusHandlers">
         <statusHandler
               class="org.polarsys.capella.core.platform.sirius.ui.app.CapellaStatusHandler"
               id="org.polarsys.capella.core.platform.sirius.ui.perspective.statusHandler">
      	</statusHandler>
   </extension>
	<extension
			point="org.eclipse.ui.services">
		<sourceProvider
			provider="org.polarsys.capella.core.platform.sirius.ui.app.CapellaExpressionSourceProvider">
			<variable
				name="org.polarsys.capella.core.platform.workbench"
				priorityLevel="workbench">
			</variable>
		</sourceProvider>
	</extension>
      <extension
         point="org.eclipse.ui.bindings">
      <scheme
            id="org.polarsys.capella.core.defaultAcceleratorConfiguration"
            name="%scheme.name"
            parentId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </scheme>
   </extension>
      <extension
            point="org.polarsys.capella.core.application.AppStart">
         <appStart
               class="org.polarsys.capella.core.platform.sirius.ui.AcceleratorConfigurationInitializer">
         </appStart>
      </extension>
      <extension
            point="org.eclipse.ui.services">
         <serviceFactory
               factoryClass="org.polarsys.capella.core.platform.sirius.ui.services.PlatformSiriusServiceFactory">
            <service
                  serviceClass="org.polarsys.capella.core.platform.sirius.ui.services.IElementIdentifierService"></service>
         </serviceFactory>
      </extension>
      <extension
            point="org.eclipse.sirius.diagram.toolManagement">
         <toolFilter
               class="org.polarsys.capella.core.platform.sirius.ui.services.ActivityToolFilter">
         </toolFilter>
      </extension>
      <extension
            point="org.eclipse.ui.activitySupport">
         <triggerPointAdvisor
               class="org.polarsys.capella.core.platform.sirius.ui.TriggerPointAdvisor"
               id="org.polarsys.capella.core.platform.sirius.ui.TriggerPointAdvisor">
         </triggerPointAdvisor>
      </extension>
</plugin>
