<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
  Copyright (c) 2006, 2022 THALES GLOBAL SERVICES.
  
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0
  
  SPDX-License-Identifier: EPL-2.0
  
  Contributors:
       Thales - initial API and implementation
-->
<plugin>
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.editpolicyProviders">
      <editpolicyProvider
            class="org.polarsys.capella.core.ui.properties.policies.TabbedPropertiesEditPolicyProvider">
         <Priority
               name="Highest">
         </Priority>
      </editpolicyProvider>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.polarsys.capella.core.data.capellamodeller.properties"
            labelProvider="org.polarsys.capella.core.ui.properties.TabbedPropertiesLabelProvider">
         <propertyCategory
               category="default">
         </propertyCategory>
         <propertyCategory
               category="extended">
         </propertyCategory>
         <propertyCategory
               category="advanced">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.polarsys.capella.core.data.capellamodeller.properties">
         <propertyTab
               label="%capellaLabel"
               category="default"
               id="BaseCapella">
         </propertyTab>
         <propertyTab
               label="%managementLabel"
               category="default"
               id="ManagementCapella"
               afterTab="BaseCapella">
         </propertyTab>
         <propertyTab
               label="%descriptionLabel"
               category="default"
               id="DescriptionCapella"
               afterTab="ManagementCapella">
         </propertyTab>
         <propertyTab
               label="%simpleDescriptionLabel"
               category="default"
               id="SimpleDescriptionCapella"
               afterTab="DescriptionCapella">
         </propertyTab>
         <propertyTab
               label="%extensionsLabel"
               category="extended"
               id="ExtensionsCapella"
               afterTab="SimpleDescriptionCapella">
         </propertyTab>
         <propertyTab
               label="Expert"
               category="advanced"
               id="AdvancedCapella"
               afterTab="ExtensionsCapella">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipse.sirius.diagram.ui">
         <propertyTab
               label="%capellaLabel"
               category="semantic &amp; extension"
               id="BaseSiriusDiagram">
         </propertyTab>
         <propertyTab
               label="%managementLabel"
               category="semantic &amp; extension"
               id="ManagementSiriusDiagram"
               afterTab="BaseSiriusDiagram">
         </propertyTab>
         <propertyTab
               label="%descriptionLabel"
               category="semantic &amp; extension"
               id="DescriptionSiriusDiagram"
               afterTab="ManagementSiriusDiagram">
         </propertyTab>
         <propertyTab
               label="%simpleDescriptionLabel"
               category="semantic &amp; extension"
               id="SimpleDescriptionSiriusDiagram"
               afterTab="DescriptionSiriusDiagram">
         </propertyTab>
         <propertyTab
               label="%extensionsLabel"
               category="semantic &amp; extension"
               id="ExtensionsSiriusDiagram"
               afterTab="SimpleDescriptionSiriusDiagram">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipse.sirius.table.ui.EditorID">
         <propertyTab
               label="%capellaLabel"
               category="default"
               id="BaseSiriusTable">
         </propertyTab>
         <propertyTab
               label="%managementLabel"
               category="default"
               id="ManagementSiriusTable"
               afterTab="BaseSiriusTable">
         </propertyTab>
         <propertyTab
               label="%descriptionLabel"
               category="default"
               id="DescriptionSiriusTable"
               afterTab="ManagementSiriusTable">
         </propertyTab>
         <propertyTab
               label="%simpleDescriptionLabel"
               category="default"
               id="SimpleDescriptionSiriusTable"
               afterTab="DescriptionSiriusTable">
         </propertyTab>
         <propertyTab
               label="%extensionsLabel"
               category="default"
               id="ExtensionsSiriusTable"
               afterTab="SimpleDescriptionSiriusTable">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections contributorId="org.polarsys.capella.core.data.capellamodeller.properties">
         <propertySection tab="AdvancedCapella"
               class="org.polarsys.capella.core.ui.properties.sections.CapellaAdvancedPropertySection"
               id="org.polarsys.capella.common.data.modellingcore.section.advanced.ModelElement">
          	<input type="org.eclipse.emf.ecore.EObject"/>
           <input
                 type="org.eclipse.core.resources.IResource">
           </input>
         </propertySection>
         <propertySection tab="ManagementCapella"
               class="org.polarsys.capella.core.ui.properties.sections.CapellaManagementPropertySection"
			   filter="org.polarsys.capella.core.ui.properties.sections.CapellaManagementPropertySection"
               id="org.polarsys.capella.core.ui.properties.sections.CapellaManagementPropertySection.navigator">
            <input
                  type="org.polarsys.capella.core.data.capellacore.CapellaElement">
            </input>
         </propertySection>
         <propertySection tab="ExtensionsCapella"
               class="org.polarsys.capella.core.ui.properties.sections.CapellaExtensionsPropertySection"
			   filter="org.polarsys.capella.core.ui.properties.sections.CapellaExtensionsPropertySection"
               id="org.polarsys.capella.core.ui.properties.sections.CapellaExtensionsPropertySection.navigator">
            <input
                  type="org.polarsys.capella.core.data.capellacore.CapellaElement">
            </input>
         </propertySection>
         <propertySection tab="ManagementCapella"
               class="org.polarsys.capella.core.ui.properties.sections.DiagramManagementPropertySection"
               filter="org.polarsys.capella.core.ui.properties.sections.DiagramManagementPropertySection"
               id="org.polarsys.capella.core.ui.properties.section.DiagramManagementPropertySection.navigator">
            <input
                  type="org.eclipse.sirius.viewpoint.DRepresentationDescriptor">
            </input>
         </propertySection>
         <propertySection tab="BaseCapella"
               class="org.polarsys.capella.core.ui.properties.sections.DiagramRepresentationPropertySection"
               filter="org.polarsys.capella.core.ui.properties.sections.DiagramRepresentationPropertySection"
               id="org.polarsys.capella.core.ui.properties.section.DiagramRepresentationPropertySection.navigator">
            <input
                  type="org.eclipse.sirius.viewpoint.DRepresentationDescriptor">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	  <propertySections contributorId="org.eclipse.sirius.diagram.ui">
         <propertySection tab="ManagementSiriusDiagram"
               class="org.polarsys.capella.core.ui.properties.sections.CapellaManagementPropertySection"
			   filter="org.polarsys.capella.core.ui.properties.sections.CapellaManagementPropertySection"
               id="org.polarsys.capella.core.ui.properties.sections.CapellaManagementPropertySection.diagram">
         </propertySection>
         <propertySection tab="ExtensionsSiriusDiagram"
               class="org.polarsys.capella.core.ui.properties.sections.CapellaExtensionsPropertySection"
			   filter="org.polarsys.capella.core.ui.properties.sections.CapellaExtensionsPropertySection"
               id="org.polarsys.capella.core.ui.properties.sections.CapellaExtensionsPropertySection.diagram">
         </propertySection>
         <propertySection tab="ManagementSiriusDiagram"
               class="org.polarsys.capella.core.ui.properties.sections.DiagramManagementPropertySection"
			   filter="org.polarsys.capella.core.ui.properties.sections.DiagramManagementPropertySection"
               id="org.polarsys.capella.core.ui.properties.sections.DiagramManagementPropertySection.diagram">
            <input
                  type="org.eclipse.sirius.diagram.ui.edit.api.part.IDDiagramEditPart">
            </input>
         </propertySection>
         <propertySection tab="BaseSiriusDiagram"
               class="org.polarsys.capella.core.ui.properties.sections.DiagramRepresentationPropertySection"
               filter="org.polarsys.capella.core.ui.properties.sections.DiagramRepresentationPropertySection"
               id="org.polarsys.capella.core.ui.properties.section.DiagramRepresentationPropertySection.diagram">
            <input
                  type="org.eclipse.sirius.diagram.ui.edit.api.part.IDDiagramEditPart">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	  <propertySections contributorId="org.eclipse.sirius.table.ui.EditorID">
         <propertySection tab="ManagementSiriusTable"
               class="org.polarsys.capella.core.ui.properties.sections.CapellaManagementPropertySection"
			   filter="org.polarsys.capella.core.ui.properties.sections.CapellaManagementPropertySection"
               id="org.polarsys.capella.core.ui.properties.sections.CapellaManagementPropertySection.table">
         </propertySection>
         <propertySection tab="ExtensionsSiriusTable"
               class="org.polarsys.capella.core.ui.properties.sections.CapellaExtensionsPropertySection"
			   filter="org.polarsys.capella.core.ui.properties.sections.CapellaExtensionsPropertySection"
               id="org.polarsys.capella.core.ui.properties.sections.CapellaExtensionsPropertySection.table">
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.polarsys.capella.core.ui.properties.preferences.CapellaUIPropertiesPreferencesInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.polarsys.capella.core.platform.sirius.ui.actions.Capella.page"
            class="org.polarsys.capella.core.ui.properties.preferences.TransfertViewerPreferencePage"
            id="org.polarsys.capella.core.ui.properties.TransfertViewerPreferencePage"
            name="%transfertViewerPreferencePageName">
      </page>
   </extension>
      <extension
         point="org.eclipse.ui.propertyPages">
      <page
            category="org.polarsys.capella.core.platform.sirius.ui.actions.Capella.page"
            class="org.polarsys.capella.core.ui.properties.preferences.TransfertViewerPreferencePage"
            id="org.polarsys.capella.core.ui.properties.TransfertViewerPreferencePage"
            objectClass="org.eclipse.core.resources.IProject"
            name="%transfertViewerPreferencePageName">
            <enabledWhen>
                 <reference definitionId="org.polarsys.capella.core.preferences.project.property.pages.visibilityExpression"/>
            </enabledWhen>
            
      </page>
   </extension>
   <extension
         id="id1"
         point="org.eclipse.sirius.common.ui.propertyContributorLabelProviderDelegate">
      <labelProviderProvider
            class="org.polarsys.capella.core.ui.properties.TabbedPropertiesLabelProvider">
      </labelProviderProvider>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.eclipse.sirius.diagram.ui"
            tabDescriptorProvider="org.polarsys.capella.core.ui.properties.tabbed.DiagramTabDescriptorProvider">
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.polarsys.capella.core.data.capellamodeller.properties"
            tabDescriptorProvider="org.polarsys.capella.core.ui.properties.tabbed.CapellaTabDescriptorProvider">
      </propertyContributor>
   </extension>
   <extension
         point="org.polarsys.capella.common.flexibility.wizards">
      <propertyRenderer
            id="toolkitBrowseRenderer"
          class="org.polarsys.capella.core.ui.properties.renderer.ToolkitBrowseRenderer">
      </propertyRenderer>
   </extension>
   <extension
         point="org.polarsys.capella.common.ef.editingDomainListener">
      <editingDomainListener
            class="org.polarsys.capella.core.ui.properties.CapellalEditingDomainListenerForPropertySections">
      </editingDomainListener>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=group.showIn">
         <command
               commandId="org.polarsys.capella.core.ui.properties.showInPropertiesDialog"
               icon="icons/property_page.gif"
               label="Show In Properties dialog"
               style="push">
            <visibleWhen
               checkEnabled="true">
               <with
                 variable="selection">
                 <and>
                  	<iterate>
                  		<and>
	              			<or>
	                           <instanceof
	                                 value="org.polarsys.kitalpha.emde.model.Element">
	                           </instanceof>
	                           <adapt
	                                 type="org.polarsys.kitalpha.emde.model.Element">
	                           </adapt>
	                        </or>
	                        <reference
                          		definitionId="org.polarsys.capella.common.platform.sirius.ted.definition.checkElementOfOpenedSessionOnCompareEditorPartOnly">
                        	</reference>
                  		</and>
                     </iterate>
                     <count
                           value="1">
                     </count>
                  </and>
               </with>
         </visibleWhen>
         </command>
      </menuContribution>
   </extension>   
      <extension
            point="org.eclipse.ui.commands">
         <command
               defaultHandler="org.polarsys.capella.core.ui.properties.property.ShowInPropertiesDialogHandler"
               id="org.polarsys.capella.core.ui.properties.showInPropertiesDialog"
               name="Show In Properties dialog">
         </command>
      </extension>
</plugin>
