<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  Copyright (c) 2006, 2020 THALES GLOBAL SERVICES.
  
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0
  
  SPDX-License-Identifier: EPL-2.0
  
  Contributors:
       Thales - initial API and implementation
-->
<plugin>
   <extension
         point="org.polarsys.capella.common.model.helpers.helper">
      <helperImpl
            class="org.polarsys.capella.core.data.helpers.cs.CompositeStructureHelper"
            nsURI="http://www.polarsys.org/capella/core/cs/7.0.0">
      </helperImpl>
   </extension>
   <extension
         point="org.polarsys.capella.common.model.helpers.helper">
      <helperImpl
            class="org.polarsys.capella.core.data.helpers.ctx.CtxHelper"
            nsURI="http://www.polarsys.org/capella/core/ctx/7.0.0">
      </helperImpl>
   </extension>
    <extension
         point="org.polarsys.capella.common.model.helpers.helper">
      <helperImpl
            class="org.polarsys.capella.core.data.helpers.epbs.EpbsHelper"
            nsURI="http://www.polarsys.org/capella/core/epbs/7.0.0">
      </helperImpl>
   </extension>
   <extension
         point="org.polarsys.capella.common.model.helpers.helper">
      <helperImpl
            class="org.polarsys.capella.core.data.helpers.fa.FunctionalAnalysisHelper"
            nsURI="http://www.polarsys.org/capella/core/fa/7.0.0">
      </helperImpl>
   </extension>
   <extension
         point="org.polarsys.capella.common.model.helpers.helper">
      <helperImpl
            class="org.polarsys.capella.core.data.helpers.information.InformationHelper"
            nsURI="http://www.polarsys.org/capella/core/information/7.0.0">
      </helperImpl>
   </extension>
   <extension
         point="org.polarsys.capella.common.model.helpers.helper">
      <helperImpl
            class="org.polarsys.capella.core.data.helpers.information.InformationHelper"
            nsURI="http://www.polarsys.org/capella/core/information/communication/7.0.0">
      </helperImpl>
   </extension>
   <extension
         point="org.polarsys.capella.common.model.helpers.helper">
      <helperImpl
            class="org.polarsys.capella.core.data.helpers.information.InformationHelper"
            nsURI="http://www.polarsys.org/capella/core/information/datavalue/7.0.0">
      </helperImpl>
   </extension>
   <extension
         point="org.polarsys.capella.common.model.helpers.helper">
      <helperImpl
            class="org.polarsys.capella.core.data.helpers.information.InformationHelper"
            nsURI="http://www.polarsys.org/capella/core/information/datatype/7.0.0">
      </helperImpl>
   </extension>
   <extension
         point="org.polarsys.capella.common.model.helpers.helper">
      <helperImpl
            class="org.polarsys.capella.core.data.helpers.interaction.CapellaInteractionHelper"
            nsURI="http://www.polarsys.org/capella/core/interaction/7.0.0">
      </helperImpl>
   </extension>
   <extension
         point="org.polarsys.capella.common.model.helpers.helper">
      <helperImpl
            class="org.polarsys.capella.core.data.helpers.la.LaHelper"
            nsURI="http://www.polarsys.org/capella/core/la/7.0.0">
      </helperImpl>
   </extension>
   <extension
         point="org.polarsys.capella.common.model.helpers.helper">
      <helperImpl
            class="org.polarsys.capella.core.data.helpers.capellacommon.CapellaCommonHelper"
            nsURI="http://www.polarsys.org/capella/core/common/7.0.0">
      </helperImpl>
   </extension>
   <extension
         point="org.polarsys.capella.common.model.helpers.helper">
      <helperImpl
            class="org.polarsys.capella.core.data.helpers.capellacore.CapellaCoreHelper"
            nsURI="http://www.polarsys.org/capella/core/core/7.0.0">
      </helperImpl>
   </extension>
   <extension
         point="org.polarsys.capella.common.model.helpers.helper">
      <helperImpl
            class="org.polarsys.capella.core.data.helpers.capellamodeller.CapellaModellerHelper"
            nsURI="http://www.polarsys.org/capella/core/modeller/7.0.0">
      </helperImpl>
   </extension>
   <extension
         point="org.polarsys.capella.common.model.helpers.helper">
      <helperImpl
            class="org.polarsys.capella.core.data.helpers.oa.OaHelper"
            nsURI="http://www.polarsys.org/capella/core/oa/7.0.0">
      </helperImpl>
   </extension>
   <extension
         point="org.polarsys.capella.common.model.helpers.helper">
      <helperImpl
            class="org.polarsys.capella.core.data.helpers.pa.PaHelper"
            nsURI="http://www.polarsys.org/capella/core/pa/7.0.0">
      </helperImpl>
   </extension>
   <extension
         point="org.polarsys.capella.common.model.helpers.helper">
      <helperImpl
            class="org.polarsys.capella.core.data.helpers.pa.PaHelper"
            nsURI="http://www.polarsys.org/capella/core/pa/deployment/7.0.0">
      </helperImpl>
   </extension>
   <extension
         point="org.polarsys.capella.common.model.helpers.helper">
      <helperImpl
            class="org.polarsys.capella.core.data.helpers.sharedmodel.SharedModelHelper"
            nsURI="http://www.polarsys.org/capella/core/sharedmodel/7.0.0">
      </helperImpl>
   </extension>
</plugin>
