<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
  Copyright (c) 2006, 2017 THALES GLOBAL SERVICES.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html

  Contributors:
       Thales - initial API and implementation
-->
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:capella.project.explorer#PopupMenu?after=group.edit">
         <command
               commandId="org.polarsys.capella.core.ui.search.findreplace"
               icon="icons/search.gif"
               label="Search and replace"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="org.polarsys.capella.core.ui.search.enableExpression">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.workbench.navigate?after=additions">
         <command
               commandId="org.polarsys.capella.core.ui.search.findreplace"
               icon="icons/search.gif"
               label="Search and replace"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="org.polarsys.capella.core.ui.search.enableExpression">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.polarsys.capella.core.ui.search.handler.FindReplaceHandler"
            commandId="org.polarsys.capella.core.ui.search.findreplace">
         <enabledWhen>
            <reference
                  definitionId="org.polarsys.capella.core.ui.search.enableExpression">
            </reference>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.polarsys.capella.core.ui.search.findreplace"
            name="Find and replace">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.polarsys.capella.core.ui.search.findreplace"
            schemeId="org.polarsys.capella.core.defaultAcceleratorConfiguration"
            sequence="M1+M2+F">
      </key>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.polarsys.capella.core.ui.search.searchableElement">
         <with
               variable="selection">
            <or>
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <or>
                        <instanceof
                              value="org.polarsys.capella.common.data.modellingcore.ModelElement">
                        </instanceof>
                     </or>
                  </iterate>
               </and>
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <or>
                        <instanceof
                              value="org.polarsys.capella.common.re.ReNamedElement">
                        </instanceof>
                     </or>
                  </iterate>
               </and>
            </or>
         </with>
      </definition>
      <definition
            id="CapellaCommonNavigatorIsEnabled">
         <with
               variable="activePart">
            <instanceof
                  value="org.polarsys.capella.core.platform.sirius.ui.navigator.view.CapellaCommonNavigator">
            </instanceof>
         </with>
      </definition>
      <definition
            id="org.polarsys.capella.core.ui.search.excludedElement">
         <with
               variable="selection">
            <or>
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <or>
                        <instanceof
                              value="org.polarsys.capella.core.data.capellacore.EnumerationPropertyType">
                        </instanceof>
                        <instanceof
                              value="org.polarsys.capella.core.data.capellacore.KeyValue">
                        </instanceof>
                     </or>
                  </iterate>
               </and>
            </or>
         </with>
      </definition>
      <definition
            id="org.polarsys.capella.core.ui.search.enableExpression">
         <and>
            <reference
                  definitionId="org.polarsys.capella.core.ui.search.searchableElement">
            </reference>
            <reference
                  definitionId="CapellaCommonNavigatorIsEnabled">
            </reference>
            <not>
               <reference
                     definitionId="org.polarsys.capella.core.ui.search.excludedElement">
               </reference>
            </not>
         </and>
      </definition>
   </extension>

</plugin>
