<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
  Copyright (c) 2006, 2017 THALES GLOBAL SERVICES.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html

  Contributors:
       Thales - initial API and implementation
-->
<plugin>
   <extension
         point="org.eclipse.search.searchPages">
      <page
            class="org.polarsys.capella.core.ui.search.CapellaSearchPage"
            icon="icons/search.gif"
            id="org.polarsys.capella.core.ui.search.page"
            label="Capella Search"
            showScopeSection="true">
      </page>
   </extension>
   <extension
         point="org.eclipse.search.searchResultViewPages">
      <viewPage
            class="org.polarsys.capella.core.ui.search.CapellaSearchResultPage"
            icon="icons/search.gif"
            id="org.polarsys.capella.core.ui.search.resultViewPage"
            label="Capella Search Result"
            searchResultClass="org.polarsys.capella.core.ui.search.CapellaSearchResult">
      </viewPage>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.search.ui.views.SearchView?after=additions">
         <separator
               name="group.replace"
               visible="true">
         </separator>
         <command
               commandId="org.polarsys.capella.core.ui.search.commands.replaceSelected"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activePart">
                  <instanceof
                        value="org.eclipse.search.ui.ISearchResultViewPart">
                  </instanceof>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.polarsys.capella.core.ui.search.commands.replaceAll"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activePart">
                  <instanceof
                        value="org.eclipse.search.ui.ISearchResultViewPart">
                  </instanceof>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>   
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.polarsys.capella.core.ui.search.CapellaSearchResultPageHandlerReplaceSelected"
            id="org.polarsys.capella.core.ui.search.commands.replaceSelected"
            name="Replace Selected...">
      </command>
      <command
            defaultHandler="org.polarsys.capella.core.ui.search.CapellaSearchResultPageHandlerReplaceAll"
            id="org.polarsys.capella.core.ui.search.commands.replaceAll"
            name="Replace All...">
      </command>
   </extension>
</plugin>
