<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  Copyright (c) 2006, 2018 THALES GLOBAL SERVICES.
  
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0
  
  SPDX-License-Identifier: EPL-2.0

  Contributors:
       Thales - initial API and implementation
-->
<plugin>

   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <actionProvider
            class="org.polarsys.capella.core.ui.metric.actions.ProgressMonitoringActionProvider"
            id="capella.project.explorer.actions.progress">
         <enablement>
            <or>
               <and>
                  <instanceof
                        value="org.eclipse.core.resources.IFile">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.core.resources.extension"
                        value="aird">
                  </test>
               </and>
               <instanceof
                     value="org.polarsys.capella.common.data.modellingcore.ModelElement">
               </instanceof>
            </or>
         </enablement>
      </actionProvider>
   </extension>
</plugin>
