<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  Copyright (c) 2006, 2019 THALES GLOBAL SERVICES.
  
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0
  
  SPDX-License-Identifier: EPL-2.0
  
  Contributors:
       Thales - initial API and implementation
-->
<plugin>
  <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <actionProvider
            class="org.polarsys.capella.core.menu.dynamic.DynamicActionProvider"
            id="capella.project.explorer.actions.dynamic">
         <enablement>
                <and>
                	<instanceof
	                     value="org.eclipse.emf.ecore.EObject">
	               </instanceof>
                   <not>
                   		<instanceof
                   			value="org.eclipse.sirius.viewpoint.DRepresentationDescriptor">
                   		</instanceof>
                   </not>
	               
		           <test forcePluginActivation="false"
					    property="org.polarsys.capella.core.commands.preferences.properties.capellaCommandsPreferences"
					    args="addCapellaElement"
					    value="capella.project.explorer.actions.dynamic">
				    </test>
			   </and>
            </enablement>
         
      </actionProvider>
   </extension>
  <extension
        point="org.polarsys.capella.core.preferences.capellaPreferences">
     <category
           class="Enter an description for the selected category"
           code="ADD_CAPELLA_ELEMENT_Preference"
           description="add an Capella Element to the model "
           id="capella.project.explorer.actions.dynamic"
           name="Other">
        <item
           description="this selected item allow a user to create a new capella element in the model"
           name="%DynamicActionProvider_AddCapellaElement_Title"
           id="capella.project.explorer.actions.dynamic">
        </item>
     </category>
  </extension>
  <extension
        point="org.eclipse.ui.services">
     <serviceFactory
           factoryClass="org.polarsys.capella.core.menu.dynamic.services.DynamicServiceFactory">
        <service
              serviceClass="org.polarsys.capella.common.menu.dynamic.util.INamePrefixService"></service>
     </serviceFactory>
  </extension>
</plugin>
