<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  Copyright (c) 2006, 2020 THALES GLOBAL SERVICES.
  
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0
  
  SPDX-License-Identifier: EPL-2.0
  
  Contributors:
       Thales - initial API and implementation
-->
<plugin>
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections contributorId="org.polarsys.capella.core.data.capellamodeller.properties">
         <propertySection
               class="org.polarsys.capella.core.data.oa.properties.sections.ActivityAllocationSection"
               filter="org.polarsys.capella.core.data.oa.properties.sections.ActivityAllocationSection"
               id="org.polarsys.capella.core.data.oa.properties.sections.ActivityAllocationSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.oa.properties.sections.CapabilityConfigurationSection"
               filter="org.polarsys.capella.core.data.oa.properties.sections.CapabilityConfigurationSection"
               id="org.polarsys.capella.core.data.oa.properties.sections.CapabilityConfigurationSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.oa.properties.sections.CommunicationMeanSection"
               filter="org.polarsys.capella.core.data.oa.properties.sections.CommunicationMeanSection"
               id="org.polarsys.capella.core.data.oa.properties.sections.CommunicationMeanSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.oa.properties.sections.CommunityOfInterestCompositionSection"
               filter="org.polarsys.capella.core.data.oa.properties.sections.CommunityOfInterestCompositionSection"
               id="org.polarsys.capella.core.data.oa.properties.sections.CommunityOfInterestCompositionSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.oa.properties.sections.CommunityOfInterestSection"
               filter="org.polarsys.capella.core.data.oa.properties.sections.CommunityOfInterestSection"
               id="org.polarsys.capella.core.data.oa.properties.sections.CommunityOfInterestSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.oa.properties.sections.ConceptComplianceSection"
               filter="org.polarsys.capella.core.data.oa.properties.sections.ConceptComplianceSection"
               id="org.polarsys.capella.core.data.oa.properties.sections.ConceptComplianceSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.oa.properties.sections.ConceptPkgSection"
               filter="org.polarsys.capella.core.data.oa.properties.sections.ConceptPkgSection"
               id="org.polarsys.capella.core.data.oa.properties.sections.ConceptPkgSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.oa.properties.sections.ConceptSection"
               filter="org.polarsys.capella.core.data.oa.properties.sections.ConceptSection"
               id="org.polarsys.capella.core.data.oa.properties.sections.ConceptSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.oa.properties.sections.EntityOperationalCapabilityInvolvementSection"
               filter="org.polarsys.capella.core.data.oa.properties.sections.EntityOperationalCapabilityInvolvementSection"
               id="org.polarsys.capella.core.data.oa.properties.sections.EntityOperationalCapabilityInvolvementSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.oa.properties.sections.EntityPkgSection"
               filter="org.polarsys.capella.core.data.oa.properties.sections.EntityPkgSection"
               id="org.polarsys.capella.core.data.oa.properties.sections.EntityPkgSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.oa.properties.sections.EntitySection"
               filter="org.polarsys.capella.core.data.oa.properties.sections.EntitySection"
               id="org.polarsys.capella.core.data.oa.properties.sections.EntitySection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.oa.properties.sections.ItemInConceptSection"
               filter="org.polarsys.capella.core.data.oa.properties.sections.ItemInConceptSection"
               id="org.polarsys.capella.core.data.oa.properties.sections.ItemInConceptSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.oa.properties.sections.LocationSection"
               filter="org.polarsys.capella.core.data.oa.properties.sections.LocationSection"
               id="org.polarsys.capella.core.data.oa.properties.sections.LocationSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.oa.properties.sections.OperationalActivityPkgSection"
               filter="org.polarsys.capella.core.data.oa.properties.sections.OperationalActivityPkgSection"
               id="org.polarsys.capella.core.data.oa.properties.sections.OperationalActivityPkgSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.oa.properties.sections.OperationalActivitySection"
               filter="org.polarsys.capella.core.data.oa.properties.sections.OperationalActivitySection"
               id="org.polarsys.capella.core.data.oa.properties.sections.OperationalActivitySection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.oa.properties.sections.OperationalAnalysisSection"
               filter="org.polarsys.capella.core.data.oa.properties.sections.OperationalAnalysisSection"
               id="org.polarsys.capella.core.data.oa.properties.sections.OperationalAnalysisSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.oa.properties.sections.OperationalCapabilityPkgSection"
               filter="org.polarsys.capella.core.data.oa.properties.sections.OperationalCapabilityPkgSection"
               id="org.polarsys.capella.core.data.oa.properties.sections.OperationalCapabilityPkgSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.oa.properties.sections.OperationalCapabilitySection"
               filter="org.polarsys.capella.core.data.oa.properties.sections.OperationalCapabilitySection"
               id="org.polarsys.capella.core.data.oa.properties.sections.OperationalCapabilitySection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.oa.properties.sections.OperationalProcessSection"
               filter="org.polarsys.capella.core.data.oa.properties.sections.OperationalProcessSection"
               id="org.polarsys.capella.core.data.oa.properties.sections.OperationalProcessSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.oa.properties.sections.OrganisationalUnitCompositionSection"
               filter="org.polarsys.capella.core.data.oa.properties.sections.OrganisationalUnitCompositionSection"
               id="org.polarsys.capella.core.data.oa.properties.sections.OrganisationalUnitCompositionSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.oa.properties.sections.OrganisationalUnitSection"
               filter="org.polarsys.capella.core.data.oa.properties.sections.OrganisationalUnitSection"
               id="org.polarsys.capella.core.data.oa.properties.sections.OrganisationalUnitSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.oa.properties.sections.RoleAllocationSection"
               filter="org.polarsys.capella.core.data.oa.properties.sections.RoleAllocationSection"
               id="org.polarsys.capella.core.data.oa.properties.sections.RoleAllocationSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.oa.properties.sections.RoleAssemblyUsageSection"
               filter="org.polarsys.capella.core.data.oa.properties.sections.RoleAssemblyUsageSection"
               id="org.polarsys.capella.core.data.oa.properties.sections.RoleAssemblyUsageSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.oa.properties.sections.RolePkgSection"
               filter="org.polarsys.capella.core.data.oa.properties.sections.RolePkgSection"
               id="org.polarsys.capella.core.data.oa.properties.sections.RolePkgSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.oa.properties.sections.RoleSection"
               filter="org.polarsys.capella.core.data.oa.properties.sections.RoleSection"
               id="org.polarsys.capella.core.data.oa.properties.sections.RoleSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.oa.properties.sections.SwimlaneSection"
               filter="org.polarsys.capella.core.data.oa.properties.sections.SwimlaneSection"
               id="org.polarsys.capella.core.data.oa.properties.sections.SwimlaneSection"
               tab="BaseCapella">
         </propertySection>
      </propertySections>
   </extension>
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">      
	  <propertySections contributorId="org.eclipse.sirius.diagram.ui">
         <propertySection
               class="org.polarsys.capella.core.data.oa.properties.sections.ActivityAllocationSection"
               filter="org.polarsys.capella.core.data.oa.properties.sections.ActivityAllocationSection"
               id="org.polarsys.capella.core.data.oa.properties.sections.ActivityAllocationSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.oa.properties.sections.CapabilityConfigurationSection"
               filter="org.polarsys.capella.core.data.oa.properties.sections.CapabilityConfigurationSection"
               id="org.polarsys.capella.core.data.oa.properties.sections.CapabilityConfigurationSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.oa.properties.sections.CommunicationMeanSection"
               filter="org.polarsys.capella.core.data.oa.properties.sections.CommunicationMeanSection"
               id="org.polarsys.capella.core.data.oa.properties.sections.CommunicationMeanSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.oa.properties.sections.CommunityOfInterestSection"
               filter="org.polarsys.capella.core.data.oa.properties.sections.CommunityOfInterestSection"
               id="org.polarsys.capella.core.data.oa.properties.sections.CommunityOfInterestSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.oa.properties.sections.CommunityOfInterestCompositionSection"
               filter="org.polarsys.capella.core.data.oa.properties.sections.CommunityOfInterestCompositionSection"
               id="org.polarsys.capella.core.data.oa.properties.sections.CommunityOfInterestCompositionSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.oa.properties.sections.ConceptComplianceSection"
               filter="org.polarsys.capella.core.data.oa.properties.sections.ConceptComplianceSection"
               id="org.polarsys.capella.core.data.oa.properties.sections.ConceptComplianceSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.oa.properties.sections.ConceptPkgSection"
               filter="org.polarsys.capella.core.data.oa.properties.sections.ConceptPkgSection"
               id="org.polarsys.capella.core.data.oa.properties.sections.ConceptPkgSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.oa.properties.sections.ConceptSection"
               filter="org.polarsys.capella.core.data.oa.properties.sections.ConceptSection"
               id="org.polarsys.capella.core.data.oa.properties.sections.ConceptSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.oa.properties.sections.EntityOperationalCapabilityInvolvementSection"
               filter="org.polarsys.capella.core.data.oa.properties.sections.EntityOperationalCapabilityInvolvementSection"
               id="org.polarsys.capella.core.data.oa.properties.sections.EntityOperationalCapabilityInvolvementSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.oa.properties.sections.EntityPkgSection"
               filter="org.polarsys.capella.core.data.oa.properties.sections.EntityPkgSection"
               id="org.polarsys.capella.core.data.oa.properties.sections.EntityPkgSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.oa.properties.sections.EntitySection"
               filter="org.polarsys.capella.core.data.oa.properties.sections.EntitySection"
               id="org.polarsys.capella.core.data.oa.properties.sections.EntitySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.oa.properties.sections.ItemInConceptSection"
               filter="org.polarsys.capella.core.data.oa.properties.sections.ItemInConceptSection"
               id="org.polarsys.capella.core.data.oa.properties.sections.ItemInConceptSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.oa.properties.sections.LocationSection"
               filter="org.polarsys.capella.core.data.oa.properties.sections.LocationSection"
               id="org.polarsys.capella.core.data.oa.properties.sections.LocationSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.oa.properties.sections.OperationalActivityPkgSection"
               filter="org.polarsys.capella.core.data.oa.properties.sections.OperationalActivityPkgSection"
               id="org.polarsys.capella.core.data.oa.properties.sections.OperationalActivityPkgSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.oa.properties.sections.OperationalActivitySection"
               filter="org.polarsys.capella.core.data.oa.properties.sections.OperationalActivitySection"
               id="org.polarsys.capella.core.data.oa.properties.sections.OperationalActivitySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.oa.properties.sections.OperationalAnalysisSection"
               filter="org.polarsys.capella.core.data.oa.properties.sections.OperationalAnalysisSection"
               id="org.polarsys.capella.core.data.oa.properties.sections.OperationalAnalysisSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.oa.properties.sections.OperationalCapabilityPkgSection"
               filter="org.polarsys.capella.core.data.oa.properties.sections.OperationalCapabilityPkgSection"
               id="org.polarsys.capella.core.data.oa.properties.sections.OperationalCapabilityPkgSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.oa.properties.sections.OperationalCapabilitySection"
               filter="org.polarsys.capella.core.data.oa.properties.sections.OperationalCapabilitySection"
               id="org.polarsys.capella.core.data.oa.properties.sections.OperationalCapabilitySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.oa.properties.sections.OperationalProcessSection"
               filter="org.polarsys.capella.core.data.oa.properties.sections.OperationalProcessSection"
               id="org.polarsys.capella.core.data.oa.properties.sections.OperationalProcessSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.oa.properties.sections.OrganisationalUnitCompositionSection"
               filter="org.polarsys.capella.core.data.oa.properties.sections.OrganisationalUnitCompositionSection"
               id="org.polarsys.capella.core.data.oa.properties.sections.OrganisationalUnitCompositionSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.oa.properties.sections.OrganisationalUnitSection"
               filter="org.polarsys.capella.core.data.oa.properties.sections.OrganisationalUnitSection"
               id="org.polarsys.capella.core.data.oa.properties.sections.OrganisationalUnitSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.oa.properties.sections.RoleAllocationSection"
               filter="org.polarsys.capella.core.data.oa.properties.sections.RoleAllocationSection"
               id="org.polarsys.capella.core.data.oa.properties.sections.RoleAllocationSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.oa.properties.sections.RoleAssemblyUsageSection"
               filter="org.polarsys.capella.core.data.oa.properties.sections.RoleAssemblyUsageSection"
               id="org.polarsys.capella.core.data.oa.properties.sections.RoleAssemblyUsageSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.oa.properties.sections.RolePkgSection"
               filter="org.polarsys.capella.core.data.oa.properties.sections.RolePkgSection"
               id="org.polarsys.capella.core.data.oa.properties.sections.RolePkgSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.oa.properties.sections.RoleSection"
               filter="org.polarsys.capella.core.data.oa.properties.sections.RoleSection"
               id="org.polarsys.capella.core.data.oa.properties.sections.RoleSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.oa.properties.sections.SwimlaneSection"
               filter="org.polarsys.capella.core.data.oa.properties.sections.SwimlaneSection"
               id="org.polarsys.capella.core.data.oa.properties.sections.SwimlaneSection"
               tab="BaseSiriusDiagram">
         </propertySection>
      </propertySections>
   </extension>
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">      
	  <propertySections contributorId="org.eclipse.sirius.table.ui.EditorID">
         <propertySection
               class="org.polarsys.capella.core.data.oa.properties.sections.ActivityAllocationSection"
               filter="org.polarsys.capella.core.data.oa.properties.sections.ActivityAllocationSection"
               id="org.polarsys.capella.core.data.oa.properties.sections.ActivityAllocationSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.oa.properties.sections.CapabilityConfigurationSection"
               filter="org.polarsys.capella.core.data.oa.properties.sections.CapabilityConfigurationSection"
               id="org.polarsys.capella.core.data.oa.properties.sections.CapabilityConfigurationSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.oa.properties.sections.CommunicationMeanSection"
               filter="org.polarsys.capella.core.data.oa.properties.sections.CommunicationMeanSection"
               id="org.polarsys.capella.core.data.oa.properties.sections.CommunicationMeanSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.oa.properties.sections.CommunityOfInterestSection"
               filter="org.polarsys.capella.core.data.oa.properties.sections.CommunityOfInterestSection"
               id="org.polarsys.capella.core.data.oa.properties.sections.CommunityOfInterestSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.oa.properties.sections.CommunityOfInterestCompositionSection"
               filter="org.polarsys.capella.core.data.oa.properties.sections.CommunityOfInterestCompositionSection"
               id="org.polarsys.capella.core.data.oa.properties.sections.CommunityOfInterestCompositionSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.oa.properties.sections.ConceptComplianceSection"
               filter="org.polarsys.capella.core.data.oa.properties.sections.ConceptComplianceSection"
               id="org.polarsys.capella.core.data.oa.properties.sections.ConceptComplianceSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.oa.properties.sections.ConceptPkgSection"
               filter="org.polarsys.capella.core.data.oa.properties.sections.ConceptPkgSection"
               id="org.polarsys.capella.core.data.oa.properties.sections.ConceptPkgSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.oa.properties.sections.ConceptSection"
               filter="org.polarsys.capella.core.data.oa.properties.sections.ConceptSection"
               id="org.polarsys.capella.core.data.oa.properties.sections.ConceptSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.oa.properties.sections.EntityOperationalCapabilityInvolvementSection"
               filter="org.polarsys.capella.core.data.oa.properties.sections.EntityOperationalCapabilityInvolvementSection"
               id="org.polarsys.capella.core.data.oa.properties.sections.EntityOperationalCapabilityInvolvementSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.oa.properties.sections.EntityPkgSection"
               filter="org.polarsys.capella.core.data.oa.properties.sections.EntityPkgSection"
               id="org.polarsys.capella.core.data.oa.properties.sections.EntityPkgSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.oa.properties.sections.EntitySection"
               filter="org.polarsys.capella.core.data.oa.properties.sections.EntitySection"
               id="org.polarsys.capella.core.data.oa.properties.sections.EntitySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.oa.properties.sections.ItemInConceptSection"
               filter="org.polarsys.capella.core.data.oa.properties.sections.ItemInConceptSection"
               id="org.polarsys.capella.core.data.oa.properties.sections.ItemInConceptSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.oa.properties.sections.LocationSection"
               filter="org.polarsys.capella.core.data.oa.properties.sections.LocationSection"
               id="org.polarsys.capella.core.data.oa.properties.sections.LocationSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.oa.properties.sections.OperationalActivityPkgSection"
               filter="org.polarsys.capella.core.data.oa.properties.sections.OperationalActivityPkgSection"
               id="org.polarsys.capella.core.data.oa.properties.sections.OperationalActivityPkgSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.oa.properties.sections.OperationalActivitySection"
               filter="org.polarsys.capella.core.data.oa.properties.sections.OperationalActivitySection"
               id="org.polarsys.capella.core.data.oa.properties.sections.OperationalActivitySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.oa.properties.sections.OperationalAnalysisSection"
               filter="org.polarsys.capella.core.data.oa.properties.sections.OperationalAnalysisSection"
               id="org.polarsys.capella.core.data.oa.properties.sections.OperationalAnalysisSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.oa.properties.sections.OperationalCapabilityPkgSection"
               filter="org.polarsys.capella.core.data.oa.properties.sections.OperationalCapabilityPkgSection"
               id="org.polarsys.capella.core.data.oa.properties.sections.OperationalCapabilityPkgSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.oa.properties.sections.OperationalCapabilitySection"
               filter="org.polarsys.capella.core.data.oa.properties.sections.OperationalCapabilitySection"
               id="org.polarsys.capella.core.data.oa.properties.sections.OperationalCapabilitySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.oa.properties.sections.OperationalProcessSection"
               filter="org.polarsys.capella.core.data.oa.properties.sections.OperationalProcessSection"
               id="org.polarsys.capella.core.data.oa.properties.sections.OperationalProcessSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.oa.properties.sections.OrganisationalUnitCompositionSection"
               filter="org.polarsys.capella.core.data.oa.properties.sections.OrganisationalUnitCompositionSection"
               id="org.polarsys.capella.core.data.oa.properties.sections.OrganisationalUnitCompositionSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.oa.properties.sections.OrganisationalUnitSection"
               filter="org.polarsys.capella.core.data.oa.properties.sections.OrganisationalUnitSection"
               id="org.polarsys.capella.core.data.oa.properties.sections.OrganisationalUnitSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.oa.properties.sections.RoleAllocationSection"
               filter="org.polarsys.capella.core.data.oa.properties.sections.RoleAllocationSection"
               id="org.polarsys.capella.core.data.oa.properties.sections.RoleAllocationSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.oa.properties.sections.RoleAssemblyUsageSection"
               filter="org.polarsys.capella.core.data.oa.properties.sections.RoleAssemblyUsageSection"
               id="org.polarsys.capella.core.data.oa.properties.sections.RoleAssemblyUsageSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.oa.properties.sections.RolePkgSection"
               filter="org.polarsys.capella.core.data.oa.properties.sections.RolePkgSection"
               id="org.polarsys.capella.core.data.oa.properties.sections.RolePkgSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.oa.properties.sections.RoleSection"
               filter="org.polarsys.capella.core.data.oa.properties.sections.RoleSection"
               id="org.polarsys.capella.core.data.oa.properties.sections.RoleSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.oa.properties.sections.SwimlaneSection"
               filter="org.polarsys.capella.core.data.oa.properties.sections.SwimlaneSection"
               id="org.polarsys.capella.core.data.oa.properties.sections.SwimlaneSection"
               tab="BaseSiriusTable">
         </propertySection>
      </propertySections>
   </extension>
</plugin>
