<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  Copyright (c) 2006, 2020 THALES GLOBAL SERVICES.
  
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0
  
  SPDX-License-Identifier: EPL-2.0
  
  Contributors:
       Thales - initial API and implementation
-->
<plugin>
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections contributorId="org.polarsys.capella.core.data.capellamodeller.properties">
         <propertySection
               class="org.polarsys.capella.core.data.pa.properties.sections.LogicalArchitectureRealizationSection"
               filter="org.polarsys.capella.core.data.pa.properties.sections.LogicalArchitectureRealizationSection"
               id="org.polarsys.capella.core.data.pa.properties.sections.LogicalArchitectureRealizationSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.pa.properties.sections.LogicalInterfaceRealizationSection"
               filter="org.polarsys.capella.core.data.pa.properties.sections.LogicalInterfaceRealizationSection"
               id="org.polarsys.capella.core.data.pa.properties.sections.LogicalInterfaceRealizationSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.pa.properties.sections.PhysicalArchitecturePkgSection"
               filter="org.polarsys.capella.core.data.pa.properties.sections.PhysicalArchitecturePkgSection"
               id="org.polarsys.capella.core.data.pa.properties.sections.PhysicalArchitecturePkgSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.pa.properties.sections.PhysicalArchitectureSection"
               filter="org.polarsys.capella.core.data.pa.properties.sections.PhysicalArchitectureSection"
               id="org.polarsys.capella.core.data.pa.properties.sections.PhysicalArchitectureSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.pa.properties.sections.PhysicalComponentPkgSection"
               filter="org.polarsys.capella.core.data.pa.properties.sections.PhysicalComponentPkgSection"
               id="org.polarsys.capella.core.data.pa.properties.sections.PhysicalComponentPkgSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.pa.properties.sections.PhysicalComponentSection"
               filter="org.polarsys.capella.core.data.pa.properties.sections.PhysicalComponentSection"
               id="org.polarsys.capella.core.data.pa.properties.sections.PhysicalComponentSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.pa.properties.sections.PhysicalFunctionPkgSection"
               filter="org.polarsys.capella.core.data.pa.properties.sections.PhysicalFunctionPkgSection"
               id="org.polarsys.capella.core.data.pa.properties.sections.PhysicalFunctionPkgSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.pa.properties.sections.PhysicalFunctionSection"
               filter="org.polarsys.capella.core.data.pa.properties.sections.PhysicalFunctionSection"
               id="org.polarsys.capella.core.data.pa.properties.sections.PhysicalFunctionSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.pa.properties.sections.PhysicalNodeSection"
               filter="org.polarsys.capella.core.data.pa.properties.sections.PhysicalNodeSection"
               id="org.polarsys.capella.core.data.pa.properties.sections.PhysicalNodeSection"
               tab="BaseCapella">
         </propertySection>
      </propertySections>
   </extension>
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">      
	  <propertySections contributorId="org.eclipse.sirius.diagram.ui">
         <propertySection
               class="org.polarsys.capella.core.data.pa.properties.sections.LogicalArchitectureRealizationSection"
               filter="org.polarsys.capella.core.data.pa.properties.sections.LogicalArchitectureRealizationSection"
               id="org.polarsys.capella.core.data.pa.properties.sections.LogicalArchitectureRealizationSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.pa.properties.sections.LogicalInterfaceRealizationSection"
               filter="org.polarsys.capella.core.data.pa.properties.sections.LogicalInterfaceRealizationSection"
               id="org.polarsys.capella.core.data.pa.properties.sections.LogicalInterfaceRealizationSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.pa.properties.sections.PhysicalArchitecturePkgSection"
               filter="org.polarsys.capella.core.data.pa.properties.sections.PhysicalArchitecturePkgSection"
               id="org.polarsys.capella.core.data.pa.properties.sections.PhysicalArchitecturePkgSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.pa.properties.sections.PhysicalArchitectureSection"
               filter="org.polarsys.capella.core.data.pa.properties.sections.PhysicalArchitectureSection"
               id="org.polarsys.capella.core.data.pa.properties.sections.PhysicalArchitectureSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.pa.properties.sections.PhysicalComponentPkgSection"
               filter="org.polarsys.capella.core.data.pa.properties.sections.PhysicalComponentPkgSection"
               id="org.polarsys.capella.core.data.pa.properties.sections.PhysicalComponentPkgSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.pa.properties.sections.PhysicalComponentSection"
               filter="org.polarsys.capella.core.data.pa.properties.sections.PhysicalComponentSection"
               id="org.polarsys.capella.core.data.pa.properties.sections.PhysicalComponentSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.pa.properties.sections.PhysicalFunctionPkgSection"
               filter="org.polarsys.capella.core.data.pa.properties.sections.PhysicalFunctionPkgSection"
               id="org.polarsys.capella.core.data.pa.properties.sections.PhysicalFunctionPkgSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.pa.properties.sections.PhysicalFunctionSection"
               filter="org.polarsys.capella.core.data.pa.properties.sections.PhysicalFunctionSection"
               id="org.polarsys.capella.core.data.pa.properties.sections.PhysicalFunctionSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.pa.properties.sections.PhysicalNodeSection"
               filter="org.polarsys.capella.core.data.pa.properties.sections.PhysicalNodeSection"
               id="org.polarsys.capella.core.data.pa.properties.sections.PhysicalNodeSection"
               tab="BaseSiriusDiagram">
         </propertySection>
      </propertySections>
   </extension>
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">      
	  <propertySections contributorId="org.eclipse.sirius.table.ui.EditorID">
         <propertySection
               class="org.polarsys.capella.core.data.pa.properties.sections.LogicalArchitectureRealizationSection"
               filter="org.polarsys.capella.core.data.pa.properties.sections.LogicalArchitectureRealizationSection"
               id="org.polarsys.capella.core.data.pa.properties.sections.LogicalArchitectureRealizationSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.pa.properties.sections.LogicalInterfaceRealizationSection"
               filter="org.polarsys.capella.core.data.pa.properties.sections.LogicalInterfaceRealizationSection"
               id="org.polarsys.capella.core.data.pa.properties.sections.LogicalInterfaceRealizationSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.pa.properties.sections.PhysicalArchitecturePkgSection"
               filter="org.polarsys.capella.core.data.pa.properties.sections.PhysicalArchitecturePkgSection"
               id="org.polarsys.capella.core.data.pa.properties.sections.PhysicalArchitecturePkgSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.pa.properties.sections.PhysicalArchitectureSection"
               filter="org.polarsys.capella.core.data.pa.properties.sections.PhysicalArchitectureSection"
               id="org.polarsys.capella.core.data.pa.properties.sections.PhysicalArchitectureSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.pa.properties.sections.PhysicalComponentPkgSection"
               filter="org.polarsys.capella.core.data.pa.properties.sections.PhysicalComponentPkgSection"
               id="org.polarsys.capella.core.data.pa.properties.sections.PhysicalComponentPkgSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.pa.properties.sections.PhysicalComponentSection"
               filter="org.polarsys.capella.core.data.pa.properties.sections.PhysicalComponentSection"
               id="org.polarsys.capella.core.data.pa.properties.sections.PhysicalComponentSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.pa.properties.sections.PhysicalFunctionPkgSection"
               filter="org.polarsys.capella.core.data.pa.properties.sections.PhysicalFunctionPkgSection"
               id="org.polarsys.capella.core.data.pa.properties.sections.PhysicalFunctionPkgSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.pa.properties.sections.PhysicalFunctionSection"
               filter="org.polarsys.capella.core.data.pa.properties.sections.PhysicalFunctionSection"
               id="org.polarsys.capella.core.data.pa.properties.sections.PhysicalFunctionSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.pa.properties.sections.PhysicalNodeSection"
               filter="org.polarsys.capella.core.data.pa.properties.sections.PhysicalNodeSection"
               id="org.polarsys.capella.core.data.pa.properties.sections.PhysicalNodeSection"
               tab="BaseSiriusTable">
         </propertySection>
      </propertySections>
   </extension>
</plugin>
