<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright (c) 2018, 2020 THALES GLOBAL SERVICES.
    
    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License 2.0 which is available at
    http://www.eclipse.org/legal/epl-2.0
    
    SPDX-License-Identifier: EPL-2.0
   
    Contributors:
    Thales - initial API and implementation
 -->

<plugin>
   <extension
         point="org.polarsys.kitalpha.massactions.core.columnprovider">
      <columnProvider
            class="org.polarsys.capella.common.ui.massactions.core.shared.extensions.columnprovider.CapellaColumnProvider"
            kind="editing">
      </columnProvider>
      <columnProvider
            class="org.polarsys.capella.common.ui.massactions.core.shared.extensions.columnprovider.CapellaColumnProvider"
            kind="visualization">
      </columnProvider>
      <columnProvider
            class="org.polarsys.capella.common.ui.massactions.core.shared.extensions.columnprovider.SemanticBrowserColumnProvider"
            kind="visualization">
      </columnProvider>
   </extension>
   <extension
         point="org.polarsys.kitalpha.massactions.core.columnfilter">
      <columnFilter
            class="org.polarsys.capella.common.ui.massactions.core.shared.extensions.columnfilter.CapellaDefaultColumnFilter"
            displayName="Default">
      </columnFilter>
   </extension>

</plugin>
