<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  Copyright (c) 2006, 2018 THALES GLOBAL SERVICES.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html

  Contributors:
       Thales - initial API and implementation
-->
<plugin>


   <!--  Generation accelerators commands -->
   
      <extension point="org.eclipse.ui.commands">
          
         <command
               defaultHandler="org.polarsys.capella.core.projection.commands.handlers.GenerateConnectionsHandler"
               id="org.polarsys.capella.core.sirius.menus.graphical.generateComponentExchanges"
               name="%generateComponentExchanges_label"
               >
         </command>
         
          <command
               defaultHandler="org.polarsys.capella.core.projection.commands.handlers.GenerateConnectionsHandler"
               id="org.polarsys.capella.core.sirius.menus.graphical.generateCommunicationMeans"
               name="%generateCommunicationMeans_label"
               >
         </command>
         
          <command
               defaultHandler="org.polarsys.capella.core.projection.commands.handlers.GenerateLinksHandler"
               id="org.polarsys.capella.core.transfo.commands.actions.generatePhysicalLinks"
               name="%generatePhysicalLinks_label"
               >
         </command>
         
          <command
               defaultHandler="org.polarsys.capella.core.projection.commands.handlers.GenerateConnectionsHandler"
               id="org.polarsys.capella.core.transfo.commands.actions.generatePhysicalLinksComponentExchanges"
               name="%generatePhysicalLinksComponentExchanges_label"
               >
         </command>
         
          <command
               defaultHandler="org.polarsys.capella.core.projection.commands.handlers.GenerateInterfacesHandler"
               id="org.polarsys.capella.core.transfo.commands.actions.GenerateInterfacesAction"
               name="%generateInterfaces_label"
               >
         </command>
         
         
      </extension>
      
      <extension
            point="org.eclipse.ui.commandImages">
         <image
               commandId="org.polarsys.capella.core.sirius.menus.graphical.generateComponentExchanges"
               icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif">
         </image>
         
         <image
               commandId="org.polarsys.capella.core.sirius.menus.graphical.generateCommunicationMeans"
               icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif">
         </image>
         
         <image
               commandId="org.polarsys.capella.core.transfo.commands.actions.generatePhysicalLinks"
               icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif">
         </image>
         
         <image
               commandId="org.polarsys.capella.core.transfo.commands.actions.generatePhysicalLinksComponentExchanges"
               icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif">
         </image>
         
         <image
               commandId="org.polarsys.capella.core.transfo.commands.actions.GenerateInterfacesAction"
               icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif">
         </image>
         
      </extension>
      
      <extension
            point="org.eclipse.ui.menus">
            
         <menuContribution allPopups="true"
            locationURI="popup:org.polarsys.capella.core.accelerators?after=additions">
            
            
         <command  commandId="org.polarsys.capella.core.sirius.menus.graphical.generateComponentExchanges" >
         <visibleWhen checkEnabled="false">
            <with variable="selection">
                <iterate ifEmpty="false">
                        <test
			                  forcePluginActivation="true"
			                  property="org.polarsys.capella.core.platform.sirius.ui.projectionMode"
			                  value="generateComponentExchanges">
			            </test>
                </iterate>
            </with>
         </visibleWhen> 
         </command> 
         
         
         <command  commandId="org.polarsys.capella.core.sirius.menus.graphical.generateCommunicationMeans" >
         <visibleWhen checkEnabled="false">
            <with variable="selection">
                <iterate ifEmpty="false">
                        <test
			                  forcePluginActivation="true"
			                  property="org.polarsys.capella.core.platform.sirius.ui.projectionMode"
			                  value="generateCommunicationMeans">
			            </test>
                </iterate>
            </with>
         </visibleWhen> 
         </command> 
         
         
         <command  commandId="org.polarsys.capella.core.transfo.commands.actions.generatePhysicalLinks" >
         <visibleWhen checkEnabled="false">
            <with variable="selection">
                <iterate ifEmpty="false">
                        <test
			                  forcePluginActivation="true"
			                  property="org.polarsys.capella.core.platform.sirius.ui.projectionMode"
			                  value="generatePhysicalLinks">
			            </test>
                </iterate>
            </with>
         </visibleWhen> 
         </command> 
         
         
         
         
         <command  commandId="org.polarsys.capella.core.transfo.commands.actions.generatePhysicalLinksComponentExchanges" >
         <visibleWhen checkEnabled="false">
            <with variable="selection">
                <iterate ifEmpty="false">
                        <test
			                  forcePluginActivation="true"
			                  property="org.polarsys.capella.core.platform.sirius.ui.projectionMode"
			                  value="generatePhysicalLinksComponentExchanges">
			            </test>
                </iterate>
            </with>
         </visibleWhen> 
         </command> 
         
         
         <command  commandId="org.polarsys.capella.core.transfo.commands.actions.GenerateInterfacesAction" >
         <visibleWhen checkEnabled="false">
            <with variable="selection">
                <iterate ifEmpty="false">
                        <test
			                  forcePluginActivation="true"
			                  property="org.polarsys.capella.core.platform.sirius.ui.projectionMode"
			                  value="generateInterfaces">
			            </test>
                </iterate>
            </with>
         </visibleWhen> 
         </command> 
         
         
         </menuContribution>
      </extension>
      
      
   
   <!--  Scenario transition commands -->
   
   <extension
         point="org.eclipse.ui.menus">
      
      <menuContribution allPopups="true"
            locationURI="popup:org.polarsys.capella.core.transitions?after=additions">
         <command  commandId="org.polarsys.capella.core.projection.commands.ui.commands.command1"  style="push" icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif" >
         <visibleWhen checkEnabled="false">
            <and>
                <reference definitionId="org.polarsys.capella.core.projection.commands.ui.expression.transitionVisibilityModelElementExpression"/>
                <with variable="selection">
                <iterate>
                            <test property="org.polarsys.capella.core.platform.sirius.ui.projectionMode" forcePluginActivation="true"
                               value="transitionES2ES-OASA">
                            </test>
                </iterate>
            </with>
            </and>
         </visibleWhen> 
         </command> 

         <command  commandId="org.polarsys.capella.core.projection.commands.ui.commands.command3"  style="push" icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif" >
         <visibleWhen checkEnabled="false">
            <and>
                <reference definitionId="org.polarsys.capella.core.projection.commands.ui.expression.transitionVisibilityModelElementExpression"/>
                <with variable="selection">
                <iterate>
                            <test property="org.polarsys.capella.core.platform.sirius.ui.projectionMode" forcePluginActivation="true"
                               value="transitionES2ES-SALA">
                            </test>
                </iterate>
            </with>
            </and>
         </visibleWhen> 
         </command> 

         <command  commandId="org.polarsys.capella.core.projection.commands.ui.commands.command5"  style="push" icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif" >
         <visibleWhen checkEnabled="false">
            <and>
                <reference definitionId="org.polarsys.capella.core.projection.commands.ui.expression.transitionVisibilityModelElementExpression"/>
                <with variable="selection">
                <iterate>
                            <test property="org.polarsys.capella.core.platform.sirius.ui.projectionMode" forcePluginActivation="true"
                               value="transitionES2ES-LAPA">
                            </test>
                </iterate>
            </with>
            </and>
         </visibleWhen> 
         </command> 

         <command  commandId="org.polarsys.capella.core.projection.commands.ui.commands.command7"  style="push" icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif" >
         <visibleWhen checkEnabled="false">
            <and>
                <reference definitionId="org.polarsys.capella.core.projection.commands.ui.expression.transitionVisibilityModelElementExpression"/>
                <with variable="selection">
                <iterate>
                            <test property="org.polarsys.capella.core.platform.sirius.ui.projectionMode" forcePluginActivation="true"
                               value="transitionES2IS">
                            </test>
                </iterate>
            </with>
            </and>
         </visibleWhen> 
         </command> 

         <command  commandId="org.polarsys.capella.core.projection.commands.ui.commands.command9"  style="push" icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif" >
         <visibleWhen checkEnabled="false">
            <and>
                <reference definitionId="org.polarsys.capella.core.projection.commands.ui.expression.transitionVisibilityModelElementExpression"/>
                <with variable="selection">
                <iterate>
                            <test property="org.polarsys.capella.core.platform.sirius.ui.projectionMode" forcePluginActivation="true"
                               value="transitionESF2ESB">
                            </test>
                </iterate>
            </with>
            </and>
         </visibleWhen> 
         </command> 

         <command  commandId="org.polarsys.capella.core.projection.commands.ui.commands.command11"  style="push" icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif" >
         <visibleWhen checkEnabled="false">
            <and>
                <reference definitionId="org.polarsys.capella.core.projection.commands.ui.expression.transitionVisibilityModelElementExpression"/>
                <with variable="selection">
                <iterate>
                            <test property="org.polarsys.capella.core.platform.sirius.ui.projectionMode" forcePluginActivation="true"
                               value="transitionFS2ES-SALAPA">
                            </test>
                </iterate>
            </with>
            </and>
         </visibleWhen> 
         </command> 

         <command  commandId="org.polarsys.capella.core.projection.commands.ui.commands.command13"  style="push" icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif" >
         <visibleWhen checkEnabled="false">
            <and>
                <reference definitionId="org.polarsys.capella.core.projection.commands.ui.expression.transitionVisibilityModelElementExpression"/>
                <with variable="selection">
                <iterate>
                            <test property="org.polarsys.capella.core.platform.sirius.ui.projectionMode" forcePluginActivation="true"
                               value="transitionFS2ES-OASA">
                            </test>
                </iterate>
            </with>
            </and>
         </visibleWhen> 
         </command> 

         <command  commandId="org.polarsys.capella.core.projection.commands.ui.commands.command15"  style="push" icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif" >
         <visibleWhen checkEnabled="false">
            <and>
                <reference definitionId="org.polarsys.capella.core.projection.commands.ui.expression.transitionVisibilityModelElementExpression"/>
                <with variable="selection">
                <iterate>
                            <test property="org.polarsys.capella.core.platform.sirius.ui.projectionMode" forcePluginActivation="true"
                               value="transitionFS2FS-OASA">
                            </test>
                </iterate>
            </with>
            </and>
         </visibleWhen> 
         </command> 

         <command  commandId="org.polarsys.capella.core.projection.commands.ui.commands.command17"  style="push" icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif" >
         <visibleWhen checkEnabled="false">
            <and>
                <reference definitionId="org.polarsys.capella.core.projection.commands.ui.expression.transitionVisibilityModelElementExpression"/>
                <with variable="selection">
                <iterate>
                            <test property="org.polarsys.capella.core.platform.sirius.ui.projectionMode" forcePluginActivation="true"
                               value="transitionFS2FS-SALA">
                            </test>
                </iterate>
            </with>
            </and>
         </visibleWhen> 
         </command> 

         <command  commandId="org.polarsys.capella.core.projection.commands.ui.commands.command19"  style="push" icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif" >
         <visibleWhen checkEnabled="false">
            <and>
                <reference definitionId="org.polarsys.capella.core.projection.commands.ui.expression.transitionVisibilityModelElementExpression"/>
                <with variable="selection">
                <iterate>
                            <test property="org.polarsys.capella.core.platform.sirius.ui.projectionMode" forcePluginActivation="true"
                               value="transitionFS2FS-LAPA">
                            </test>
                </iterate>
            </with>
            </and>
         </visibleWhen> 
         </command> 
      </menuContribution>
        
      </extension>
      
      
      
         
         
      <extension   point="org.eclipse.ui.commands">
          <category
                id="org.polarsys.capella.core.transitions.ui.category"
                name="Transitions">
          </category>
         <command
               defaultHandler="org.polarsys.capella.core.projection.commands.actions.ESToESAction"
               id="org.polarsys.capella.core.projection.commands.ui.commands.command1"
               name="%transitionES2ES_OAtoSA_label"
               >
         </command>
         
         <command
               defaultHandler="org.polarsys.capella.core.projection.commands.actions.ESToESAction"
               id="org.polarsys.capella.core.projection.commands.ui.commands.command3"
               name="%transitionES2ES_SAtoLA_label"
               >
         </command>
         
         <command
               defaultHandler="org.polarsys.capella.core.projection.commands.actions.ESToESAction"
               id="org.polarsys.capella.core.projection.commands.ui.commands.command5"
               name="%transitionES2ES_LAtoPA_label"
               >
         </command>
             
         <command
               defaultHandler="org.polarsys.capella.core.projection.commands.actions.ESToISAction"
               id="org.polarsys.capella.core.projection.commands.ui.commands.command7"
               name="%transitionES2IS_label"
               >
         </command>
         
         <command
               defaultHandler="org.polarsys.capella.core.projection.commands.actions.ESFToESBAction"
               id="org.polarsys.capella.core.projection.commands.ui.commands.command9"
               name="%transitionESF2ESB_label"
               >
         </command>
         
         <command
               defaultHandler="org.polarsys.capella.core.projection.commands.actions.FSToESAction"
               id="org.polarsys.capella.core.projection.commands.ui.commands.command11"
               name="%transitionFS2ES_SALAPA_label"
               >
         </command>
         
         <command
               defaultHandler="org.polarsys.capella.core.projection.commands.actions.FSToESAction"
               id="org.polarsys.capella.core.projection.commands.ui.commands.command13"
               name="%transitionFS2ES_OASA_label"
               >
         </command>
         
         <command
               defaultHandler="org.polarsys.capella.core.projection.commands.actions.FSToFSAction"
               id="org.polarsys.capella.core.projection.commands.ui.commands.command15"
               name="%transitionFS2FS_OAtoSA_label"
               >
         </command>
         
         <command
               defaultHandler="org.polarsys.capella.core.projection.commands.actions.FSToFSAction"
               id="org.polarsys.capella.core.projection.commands.ui.commands.command17"
               name="%transitionFS2FS_SAtoLA_label"
               >
         </command>
         
         <command
               defaultHandler="org.polarsys.capella.core.projection.commands.actions.FSToFSAction"
               id="org.polarsys.capella.core.projection.commands.ui.commands.command19"
               name="%transitionFS2FS_LAtoPA_label"
               >
         </command>
                  
     </extension>
   
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
   
         <propertyTester
             id="org.polarsys.capella.core.platform.sirius.ui.property.projectionMode"
             type="org.polarsys.capella.common.data.modellingcore.ModelElement"
             namespace="org.polarsys.capella.core.platform.sirius.ui"
             properties="projectionMode"
             class="org.polarsys.capella.core.projection.commands.CommandTester"
         >
         </propertyTester>    
         
         <propertyTester
             id="org.polarsys.capella.core.platform.sirius.ui.property.graphicalProjectionMode"
             type="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart"
             namespace="org.polarsys.capella.core.platform.sirius.ui"
             properties="projectionMode"
             class="org.polarsys.capella.core.projection.commands.CommandTester"
         >
         </propertyTester>
         
   </extension>
   
   
   <extension point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.polarsys.capella.core.projection.commands.ui.expression.transitionVisibilityModelElementExpression">
               <with
                  variable="selection">
               <and>
                  <iterate ifEmpty="false">
                        <or>
                        <instanceof
                              value="org.polarsys.capella.common.data.modellingcore.ModelElement">
                        </instanceof>
                        <instanceof
                              value="org.eclipse.sirius.diagram.ui.edit.api.part.IDiagramElementEditPart">
                        </instanceof>
                        <instanceof
                              value="org.eclipse.sirius.diagram.ui.edit.api.part.IDDiagramEditPart">
                        </instanceof>
                       </or>
                  </iterate>
               </and>
            </with>
               
      </definition>
   </extension>
   <extension
         point="org.polarsys.capella.core.tiger">
      <transfoExecuteExtension
            class="org.polarsys.capella.core.projection.commands.internal.MultiInstanceRoleExtension">
      </transfoExecuteExtension>
   </extension>
   
</plugin>
