<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  Copyright (c) 2006, 2019 THALES GLOBAL SERVICES.
  
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0
  
  SPDX-License-Identifier: EPL-2.0

  Contributors:
       Thales - initial API and implementation
-->
<plugin>
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections contributorId="org.polarsys.capella.core.data.capellamodeller.properties">
         <propertySection
               class="org.polarsys.capella.core.data.fa.properties.sections.ComponentExchangeCategorySection"
               filter="org.polarsys.capella.core.data.fa.properties.sections.ComponentExchangeCategorySection"
               id="org.polarsys.capella.core.data.fa.section.ComponentExchangeCategory"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.fa.properties.sections.ComponentExchangeEndSection"
               filter="org.polarsys.capella.core.data.fa.properties.sections.ComponentExchangeEndSection"
               id="org.polarsys.capella.core.data.fa.section.ComponentExchangeEnd"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.fa.properties.sections.ComponentExchangeFunctionalExchangeAllocationSection"
               filter="org.polarsys.capella.core.data.fa.properties.sections.ComponentExchangeFunctionalExchangeAllocationSection"
               id="org.polarsys.capella.core.data.fa.section.ComponentExchangeFunctionalExchangeAllocation"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.fa.properties.sections.ComponentExchangeRealizationSection"
               filter="org.polarsys.capella.core.data.fa.properties.sections.ComponentExchangeRealizationSection"
               id="org.polarsys.capella.core.data.fa.section.ComponentExchangeRealization"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.fa.properties.sections.ComponentExchangeSection"
               filter="org.polarsys.capella.core.data.fa.properties.sections.ComponentExchangeSection"
               id="org.polarsys.capella.core.data.fa.section.ComponentExchange"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.fa.properties.sections.ComponentExchangeAllocationSection"
               filter="org.polarsys.capella.core.data.fa.properties.sections.ComponentExchangeAllocationSection"
               id="org.polarsys.capella.core.data.fa.properties.sections.ComponentExchangeAllocationSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.fa.properties.sections.ComponentPortAllocationSection"
               filter="org.polarsys.capella.core.data.fa.properties.sections.ComponentPortAllocationSection"
               id="org.polarsys.capella.core.data.fa.properties.sections.ComponentPortAllocationSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.fa.properties.sections.ComponentPortAllocationEndSection"
               filter="org.polarsys.capella.core.data.fa.properties.sections.ComponentPortAllocationEndSection"
               id="org.polarsys.capella.core.data.fa.properties.sections.ComponentPortAllocationEndSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.fa.properties.sections.ComponentFunctionalAllocationSection"
               filter="org.polarsys.capella.core.data.fa.properties.sections.ComponentFunctionalAllocationSection"
               id="org.polarsys.capella.core.data.fa.section.ComponentFunctionalAllocation"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.fa.properties.sections.ComponentPortSection"
               filter="org.polarsys.capella.core.data.fa.properties.sections.ComponentPortSection"
               id="org.polarsys.capella.core.data.fa.section.ComponentPort"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.fa.properties.sections.ExchangeCategorySection"
               filter="org.polarsys.capella.core.data.fa.properties.sections.ExchangeCategorySection"
               id="org.polarsys.capella.core.data.fa.section.ExchangeCategory"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.fa.properties.sections.ExchangeContainmentSection"
               filter="org.polarsys.capella.core.data.fa.properties.sections.ExchangeContainmentSection"
               id="org.polarsys.capella.core.data.fa.section.ExchangeContainment"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.fa.properties.sections.ExchangeLinkSection"
               filter="org.polarsys.capella.core.data.fa.properties.sections.ExchangeLinkSection"
               id="org.polarsys.capella.core.data.fa.section.ExchangeLink"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.fa.properties.sections.SequenceLinkSection"
               filter="org.polarsys.capella.core.data.fa.properties.sections.SequenceLinkSection"
               id="org.polarsys.capella.core.data.fa.section.SequenceLink"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.fa.properties.sections.ControlNodeSection"
               filter="org.polarsys.capella.core.data.fa.properties.sections.ControlNodeSection"
               id="org.polarsys.capella.core.data.fa.section.ControlNode"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.fa.properties.sections.FunctionalChainInvolvementSection"
               filter="org.polarsys.capella.core.data.fa.properties.sections.FunctionalChainInvolvementSection"
               id="org.polarsys.capella.core.data.fa.section.FunctionalChainInvolvement"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.fa.properties.sections.FunctionalChainInvolvementLinkSection"
               filter="org.polarsys.capella.core.data.fa.properties.sections.FunctionalChainInvolvementLinkSection"
               id="org.polarsys.capella.core.data.fa.section.FunctionalChainInvolvementLink"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.fa.properties.sections.FunctionalChainInvolvementFunctionSection"
               filter="org.polarsys.capella.core.data.fa.properties.sections.FunctionalChainInvolvementFunctionSection"
               id="org.polarsys.capella.core.data.fa.section.FunctionalChainInvolvementFunction"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.fa.properties.sections.FunctionalChainReferenceSection"
               filter="org.polarsys.capella.core.data.fa.properties.sections.FunctionalChainReferenceSection"
               id="org.polarsys.capella.core.data.fa.section.FunctionalChainReference"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.fa.properties.sections.FunctionalChainRealizationSection"
               filter="org.polarsys.capella.core.data.fa.properties.sections.FunctionalChainRealizationSection"
               id="org.polarsys.capella.core.data.fa.section.FunctionalChainRealization"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.fa.properties.sections.FunctionalChainSection"
               filter="org.polarsys.capella.core.data.fa.properties.sections.FunctionalChainSection"
               id="org.polarsys.capella.core.data.fa.section.FunctionalChain"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.fa.properties.sections.FunctionalExchangeRealizationSection"
               filter="org.polarsys.capella.core.data.fa.properties.sections.FunctionalExchangeRealizationSection"
               id="org.polarsys.capella.core.data.fa.section.FunctionalExchangeRealization"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.fa.properties.sections.FunctionalExchangeSection"
               filter="org.polarsys.capella.core.data.fa.properties.sections.FunctionalExchangeSection"
               id="org.polarsys.capella.core.data.fa.section.FunctionalExchange"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.fa.properties.sections.FunctionalExchangeSpecificationSection"
               filter="org.polarsys.capella.core.data.fa.properties.sections.FunctionalExchangeSpecificationSection"
               id="org.polarsys.capella.core.data.fa.section.FunctionalExchangeSpecification"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.fa.properties.sections.FunctionInputPortSection"
               filter="org.polarsys.capella.core.data.fa.properties.sections.FunctionInputPortSection"
               id="org.polarsys.capella.core.data.fa.section.FunctionInputPort"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.fa.properties.sections.FunctionOutputPortSection"
               filter="org.polarsys.capella.core.data.fa.properties.sections.FunctionOutputPortSection"
               id="org.polarsys.capella.core.data.fa.section.FunctionOutputPort"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.fa.properties.sections.FunctionRealizationSection"
               filter="org.polarsys.capella.core.data.fa.properties.sections.FunctionRealizationSection"
               id="org.polarsys.capella.core.data.fa.section.FunctionRealization"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.fa.properties.sections.FunctionSpecificationSection"
               filter="org.polarsys.capella.core.data.fa.properties.sections.FunctionSpecificationSection"
               id="org.polarsys.capella.core.data.fa.section.FunctionSpecification"
               tab="BaseCapella">
         </propertySection>
      </propertySections>
   </extension>
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">      
	  <propertySections contributorId="org.eclipse.sirius.diagram.ui">
         <propertySection
               class="org.polarsys.capella.core.data.fa.properties.sections.ComponentExchangeCategorySection"
               filter="org.polarsys.capella.core.data.fa.properties.sections.ComponentExchangeCategorySection"
               id="org.polarsys.capella.core.data.fa.section.ComponentExchangeCategoryBasePropertySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.fa.properties.sections.ComponentExchangeEndSection"
               filter="org.polarsys.capella.core.data.fa.properties.sections.ComponentExchangeEndSection"
               id="org.polarsys.capella.core.data.fa.section.ComponentExchangeEndBasePropertySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.fa.properties.sections.ComponentExchangeFunctionalExchangeAllocationSection"
               filter="org.polarsys.capella.core.data.fa.properties.sections.ComponentExchangeFunctionalExchangeAllocationSection"
               id="org.polarsys.capella.core.data.fa.section.ComponentExchangeFunctionalExchangeAllocationBasePropertySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.fa.properties.sections.ComponentExchangeRealizationSection"
               filter="org.polarsys.capella.core.data.fa.properties.sections.ComponentExchangeRealizationSection"
               id="org.polarsys.capella.core.data.fa.section.ComponentExchangeRealizationBasePropertySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.fa.properties.sections.ComponentExchangeSection"
               filter="org.polarsys.capella.core.data.fa.properties.sections.ComponentExchangeSection"
               id="org.polarsys.capella.core.data.fa.section.ComponentExchangeBasePropertySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.fa.properties.sections.ComponentExchangeAllocationSection"
               filter="org.polarsys.capella.core.data.fa.properties.sections.ComponentExchangeAllocationSection"
               id="org.polarsys.capella.core.data.fa.properties.sections.ComponentExchangeAllocationSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.fa.properties.sections.ComponentPortAllocationSection"
               filter="org.polarsys.capella.core.data.fa.properties.sections.ComponentPortAllocationSection"
               id="org.polarsys.capella.core.data.fa.properties.sections.ComponentPortAllocationSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.fa.properties.sections.ComponentPortAllocationEndSection"
               filter="org.polarsys.capella.core.data.fa.properties.sections.ComponentPortAllocationEndSection"
               id="org.polarsys.capella.core.data.fa.properties.sections.ComponentPortAllocationEndSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.fa.properties.sections.ComponentFunctionalAllocationSection"
               filter="org.polarsys.capella.core.data.fa.properties.sections.ComponentFunctionalAllocationSection"
               id="org.polarsys.capella.core.data.fa.section.ComponentFunctionalAllocationBasePropertySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.fa.properties.sections.ComponentPortSection"
               filter="org.polarsys.capella.core.data.fa.properties.sections.ComponentPortSection"
               id="org.polarsys.capella.core.data.fa.section.ComponentPortBasePropertySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.fa.properties.sections.ExchangeCategorySection"
               filter="org.polarsys.capella.core.data.fa.properties.sections.ExchangeCategorySection"
               id="org.polarsys.capella.core.data.fa.section.ExchangeCategoryBasePropertySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.fa.properties.sections.ExchangeContainmentSection"
               filter="org.polarsys.capella.core.data.fa.properties.sections.ExchangeContainmentSection"
               id="org.polarsys.capella.core.data.fa.section.ExchangeContainmentBasePropertySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.fa.properties.sections.ExchangeLinkSection"
               filter="org.polarsys.capella.core.data.fa.properties.sections.ExchangeLinkSection"
               id="org.polarsys.capella.core.data.fa.section.ExchangeLinkBasePropertySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.fa.properties.sections.SequenceLinkSection"
               filter="org.polarsys.capella.core.data.fa.properties.sections.SequenceLinkSection"
               id="org.polarsys.capella.core.data.fa.section.SequenceLinkBasePropertySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.fa.properties.sections.ControlNodeSection"
               filter="org.polarsys.capella.core.data.fa.properties.sections.ControlNodeSection"
               id="org.polarsys.capella.core.data.fa.section.ControlNodeBasePropertySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.fa.properties.sections.FunctionalChainInvolvementSection"
               filter="org.polarsys.capella.core.data.fa.properties.sections.FunctionalChainInvolvementSection"
               id="org.polarsys.capella.core.data.fa.section.FunctionalChainInvolvementBasePropertySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.fa.properties.sections.FunctionalChainInvolvementLinkSection"
               filter="org.polarsys.capella.core.data.fa.properties.sections.FunctionalChainInvolvementLinkSection"
               id="org.polarsys.capella.core.data.fa.section.FunctionalChainInvolvementLinkBasePropertySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.fa.properties.sections.FunctionalChainInvolvementFunctionSection"
               filter="org.polarsys.capella.core.data.fa.properties.sections.FunctionalChainInvolvementFunctionSection"
               id="org.polarsys.capella.core.data.fa.section.FunctionalChainInvolvementFunctionBasePropertySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.fa.properties.sections.FunctionalChainReferenceSection"
               filter="org.polarsys.capella.core.data.fa.properties.sections.FunctionalChainReferenceSection"
               id="org.polarsys.capella.core.data.fa.section.FunctionalChainReferenceBasePropertySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.fa.properties.sections.FunctionalChainRealizationSection"
               filter="org.polarsys.capella.core.data.fa.properties.sections.FunctionalChainRealizationSection"
               id="org.polarsys.capella.core.data.fa.section.FunctionalChainRealizationBasePropertySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.fa.properties.sections.FunctionalChainSection"
               filter="org.polarsys.capella.core.data.fa.properties.sections.FunctionalChainSection"
               id="org.polarsys.capella.core.data.fa.section.FunctionalChainBasePropertySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.fa.properties.sections.FunctionalExchangeRealizationSection"
               filter="org.polarsys.capella.core.data.fa.properties.sections.FunctionalExchangeRealizationSection"
               id="org.polarsys.capella.core.data.fa.section.FunctionalExchangeRealizationBasePropertySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.fa.properties.sections.FunctionalExchangeSection"
               filter="org.polarsys.capella.core.data.fa.properties.sections.FunctionalExchangeSection"
               id="org.polarsys.capella.core.data.fa.section.FunctionalExchangeBasePropertySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.fa.properties.sections.FunctionalExchangeSpecificationSection"
               filter="org.polarsys.capella.core.data.fa.properties.sections.FunctionalExchangeSpecificationSection"
               id="org.polarsys.capella.core.data.fa.section.FunctionalExchangeSpecificationBasePropertySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.fa.properties.sections.FunctionInputPortSection"
               filter="org.polarsys.capella.core.data.fa.properties.sections.FunctionInputPortSection"
               id="org.polarsys.capella.core.data.fa.section.FunctionInputPortBasePropertySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.fa.properties.sections.FunctionOutputPortSection"
               filter="org.polarsys.capella.core.data.fa.properties.sections.FunctionOutputPortSection"
               id="org.polarsys.capella.core.data.fa.section.FunctionOutputPortBasePropertySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.fa.properties.sections.FunctionRealizationSection"
               filter="org.polarsys.capella.core.data.fa.properties.sections.FunctionRealizationSection"
               id="org.polarsys.capella.core.data.fa.section.FunctionRealizationBasePropertySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.fa.properties.sections.FunctionSpecificationSection"
               filter="org.polarsys.capella.core.data.fa.properties.sections.FunctionSpecificationSection"
               id="org.polarsys.capella.core.data.fa.section.FunctionSpecificationBasePropertySection"
               tab="BaseSiriusDiagram">
         </propertySection>
      </propertySections>
   </extension>
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">      
	  <propertySections contributorId="org.eclipse.sirius.table.ui.EditorID">
         <propertySection
               class="org.polarsys.capella.core.data.fa.properties.sections.ComponentExchangeCategorySection"
               filter="org.polarsys.capella.core.data.fa.properties.sections.ComponentExchangeCategorySection"
               id="org.polarsys.capella.core.data.fa.section.ComponentExchangeCategoryBasePropertySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.fa.properties.sections.ComponentExchangeEndSection"
               filter="org.polarsys.capella.core.data.fa.properties.sections.ComponentExchangeEndSection"
               id="org.polarsys.capella.core.data.fa.section.ComponentExchangeEndBasePropertySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.fa.properties.sections.ComponentExchangeFunctionalExchangeAllocationSection"
               filter="org.polarsys.capella.core.data.fa.properties.sections.ComponentExchangeFunctionalExchangeAllocationSection"
               id="org.polarsys.capella.core.data.fa.section.ComponentExchangeFunctionalExchangeAllocationBasePropertySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.fa.properties.sections.ComponentExchangeRealizationSection"
               filter="org.polarsys.capella.core.data.fa.properties.sections.ComponentExchangeRealizationSection"
               id="org.polarsys.capella.core.data.fa.section.ComponentExchangeRealizationBasePropertySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.fa.properties.sections.ComponentExchangeSection"
               filter="org.polarsys.capella.core.data.fa.properties.sections.ComponentExchangeSection"
               id="org.polarsys.capella.core.data.fa.section.ComponentExchangeBasePropertySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.fa.properties.sections.ComponentExchangeAllocationSection"
               filter="org.polarsys.capella.core.data.fa.properties.sections.ComponentExchangeAllocationSection"
               id="org.polarsys.capella.core.data.fa.properties.sections.ComponentExchangeAllocationSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.fa.properties.sections.ComponentPortAllocationSection"
               filter="org.polarsys.capella.core.data.fa.properties.sections.ComponentPortAllocationSection"
               id="org.polarsys.capella.core.data.fa.properties.sections.ComponentPortAllocationSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.fa.properties.sections.ComponentPortAllocationEndSection"
               filter="org.polarsys.capella.core.data.fa.properties.sections.ComponentPortAllocationEndSection"
               id="org.polarsys.capella.core.data.fa.properties.sections.ComponentPortAllocationEndSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.fa.properties.sections.ComponentFunctionalAllocationSection"
               filter="org.polarsys.capella.core.data.fa.properties.sections.ComponentFunctionalAllocationSection"
               id="org.polarsys.capella.core.data.fa.section.ComponentFunctionalAllocationBasePropertySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.fa.properties.sections.ComponentPortSection"
               filter="org.polarsys.capella.core.data.fa.properties.sections.ComponentPortSection"
               id="org.polarsys.capella.core.data.fa.section.ComponentPortBasePropertySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.fa.properties.sections.ExchangeCategorySection"
               filter="org.polarsys.capella.core.data.fa.properties.sections.ExchangeCategorySection"
               id="org.polarsys.capella.core.data.fa.section.ExchangeCategoryBasePropertySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.fa.properties.sections.ExchangeContainmentSection"
               filter="org.polarsys.capella.core.data.fa.properties.sections.ExchangeContainmentSection"
               id="org.polarsys.capella.core.data.fa.section.ExchangeContainmentBasePropertySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.fa.properties.sections.ExchangeLinkSection"
               filter="org.polarsys.capella.core.data.fa.properties.sections.ExchangeLinkSection"
               id="org.polarsys.capella.core.data.fa.section.ExchangeLinkBasePropertySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.fa.properties.sections.SequenceLinkSection"
               filter="org.polarsys.capella.core.data.fa.properties.sections.SequenceLinkSection"
               id="org.polarsys.capella.core.data.fa.section.SequenceLinkBasePropertySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.fa.properties.sections.ControlNodeSection"
               filter="org.polarsys.capella.core.data.fa.properties.sections.ControlNodeSection"
               id="org.polarsys.capella.core.data.fa.section.ControlNodeBasePropertySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.fa.properties.sections.FunctionalChainInvolvementSection"
               filter="org.polarsys.capella.core.data.fa.properties.sections.FunctionalChainInvolvementSection"
               id="org.polarsys.capella.core.data.fa.section.FunctionalChainInvolvementBasePropertySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.fa.properties.sections.FunctionalChainInvolvementLinkSection"
               filter="org.polarsys.capella.core.data.fa.properties.sections.FunctionalChainInvolvementLinkSection"
               id="org.polarsys.capella.core.data.fa.section.FunctionalChainInvolvementLinkBasePropertySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.fa.properties.sections.FunctionalChainInvolvementFunctionSection"
               filter="org.polarsys.capella.core.data.fa.properties.sections.FunctionalChainInvolvementFunctionSection"
               id="org.polarsys.capella.core.data.fa.section.FunctionalChainInvolvementFunctionBasePropertySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.fa.properties.sections.FunctionalChainReferenceSection"
               filter="org.polarsys.capella.core.data.fa.properties.sections.FunctionalChainReferenceSection"
               id="org.polarsys.capella.core.data.fa.section.FunctionalChainReferenceBasePropertySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.fa.properties.sections.FunctionalChainRealizationSection"
               filter="org.polarsys.capella.core.data.fa.properties.sections.FunctionalChainRealizationSection"
               id="org.polarsys.capella.core.data.fa.section.FunctionalChainRealizationBasePropertySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.fa.properties.sections.FunctionalChainSection"
               filter="org.polarsys.capella.core.data.fa.properties.sections.FunctionalChainSection"
               id="org.polarsys.capella.core.data.fa.section.FunctionalChainBasePropertySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.fa.properties.sections.FunctionalExchangeRealizationSection"
               filter="org.polarsys.capella.core.data.fa.properties.sections.FunctionalExchangeRealizationSection"
               id="org.polarsys.capella.core.data.fa.section.FunctionalExchangeRealizationBasePropertySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.fa.properties.sections.FunctionalExchangeSection"
               filter="org.polarsys.capella.core.data.fa.properties.sections.FunctionalExchangeSection"
               id="org.polarsys.capella.core.data.fa.section.FunctionalExchangeBasePropertySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.fa.properties.sections.FunctionalExchangeSpecificationSection"
               filter="org.polarsys.capella.core.data.fa.properties.sections.FunctionalExchangeSpecificationSection"
               id="org.polarsys.capella.core.data.fa.section.FunctionalExchangeSpecificationBasePropertySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.fa.properties.sections.FunctionInputPortSection"
               filter="org.polarsys.capella.core.data.fa.properties.sections.FunctionInputPortSection"
               id="org.polarsys.capella.core.data.fa.section.FunctionInputPortBasePropertySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.fa.properties.sections.FunctionOutputPortSection"
               filter="org.polarsys.capella.core.data.fa.properties.sections.FunctionOutputPortSection"
               id="org.polarsys.capella.core.data.fa.section.FunctionOutputPortBasePropertySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.fa.properties.sections.FunctionRealizationSection"
               filter="org.polarsys.capella.core.data.fa.properties.sections.FunctionRealizationSection"
               id="org.polarsys.capella.core.data.fa.section.FunctionRealizationBasePropertySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.fa.properties.sections.FunctionSpecificationSection"
               filter="org.polarsys.capella.core.data.fa.properties.sections.FunctionSpecificationSection"
               id="org.polarsys.capella.core.data.fa.section.FunctionSpecificationBasePropertySection"
               tab="BaseSiriusTable">
         </propertySection>
      </propertySections>
   </extension>
</plugin>
