<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  Copyright (c) 2006, 2023 THALES GLOBAL SERVICES.
  
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0
  
  SPDX-License-Identifier: EPL-2.0
  
  Contributors:
       Thales - initial API and implementation
-->
<plugin>
   <extension-point id="deleteCommandDelegation" name="Delete Command Delegation" schema="schema/deleteCommandDelegation.exsd"/>
   
   <extension point="org.eclipse.ui.propertyPages">
      <page
            objectClass="org.eclipse.core.resources.IProject"
            class="org.polarsys.capella.core.platform.sirius.ui.preferences.CapellaPreferencePage"
            id="org.polarsys.capella.core.platform.sirius.ui.actions.Capella.page"
            name="%Capella_Page_Name">
            <enabledWhen>
                 <reference definitionId="org.polarsys.capella.core.preferences.project.property.pages.visibilityExpression"/>
            </enabledWhen>
            
      </page>
      
      
      
      
      <page
            category="org.polarsys.capella.core.platform.sirius.ui.actions.Capella.page"
            class="org.polarsys.capella.core.platform.sirius.ui.preferences.DeletePreferencePage"
            id="org.polarsys.capella.core.platform.sirius.ui.actions.deletion.property.page"
            objectClass="org.eclipse.core.resources.IProject"
            name="%Delete_Page_Name">
            <enabledWhen>
                 <reference definitionId="org.polarsys.capella.core.preferences.project.property.pages.visibilityExpression"/>
            </enabledWhen>
            
      </page>
      
      <page
            category="org.polarsys.capella.core.platform.sirius.ui.actions.Capella.page"
            class="org.polarsys.capella.core.platform.sirius.ui.preferences.CapellaValidationPreferencesPage"
            id="org.polarsys.capella.core.platform.sirius.ui.actions.preferences.CapellaValidationPreferences"
            objectClass="org.eclipse.core.resources.IProject"
            name="%ModelValidationPreferencePage_Name">
            <enabledWhen>
                 <reference definitionId="org.polarsys.capella.core.preferences.project.property.pages.visibilityExpression"/>
            </enabledWhen>
            
      </page>
      
      
      
   </extension>
   
   <!--extension point="org.eclipse.ui.propertyPages">
         <page
            objectClass="org.eclipse.core.resources.IProject"
            class="org.eclipse.sirius.ui.tools.internal.preference.DesignerPreferencePage"
            id="org.eclipse.sirius.ui.tools.internal.preference.viewpoint.page"
            name="ViewPoint">
          </page>
   </extension-->
   
   
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.polarsys.capella.core.platform.sirius.ui.preferences.CapellaPreferencePage"
            id="org.polarsys.capella.core.platform.sirius.ui.actions.Capella.page"
            name="%Capella_Page_Name">
      </page>
      
      <page
            category="org.polarsys.capella.core.platform.sirius.ui.actions.Capella.page"
            class="org.polarsys.capella.core.platform.sirius.ui.preferences.DeletePreferencePage"
            id="org.polarsys.capella.core.platform.sirius.ui.actions.deletion.page"
            name="%Delete_Page_Name">
      </page>
      <page
            category="org.polarsys.capella.core.platform.sirius.ui.actions.Capella.page"
            class="org.polarsys.capella.core.platform.sirius.ui.preferences.CapellaValidationPreferencesPage"
            id="org.polarsys.capella.core.platform.sirius.ui.actions.preferences.CapellaValidationPreferences"
            name="%ModelValidationPreferencePage_Name">
      </page>
   </extension>   
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.polarsys.capella.core.platform.sirius.ui.preferences.ActionsPreferenceInitializer">
      </initializer>
      <initializer
            class="org.polarsys.capella.core.platform.sirius.ui.preferences.CapellaValidationPreferencesInitializer">
      </initializer>
      <initializer
            class="org.polarsys.capella.core.model.preferences.DeletePreferences">
      </initializer>
     
   </extension>
   <!-- shall not be activated : not fully tested -->
   <!--extension
         point="org.eclipse.ui.preferenceTransfer">
      <transfer
            icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella.png"
            id="org.polarsys.capella.core.model.preferences.transfer1"
            name="Capella Preferences">
         <description>
            Capella Preferences
         </description>
         <mapping scope="instance">
            <entry node="org.polarsys.capella.core.model.preferences"/>
            <entry node="org.polarsys.capella.core.platform.sirius.ui.actions"/>
            <entry node="org.polarsys.capella.core.platform.sirius.ui.navigator"/>
            <entry node="org.polarsys.capella.core.platform.sirius.ui.project"/>
         </mapping>
      </transfer>
      <transfer
            icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella.png"
            id="org.polarsys.capella.core.model.preferences.transfer2"
            name="Model Validation Preferences">
         <description>
            Model Validation Preferences
         </description>
         <mapping scope="instance">
            <entry node="org.eclipse.emf.validation"/>
         </mapping>
      </transfer>
   </extension-->
   <!--extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.polarsys.capella.core.platform.sirius.ui.preferences.CapellaPreferencePage"
            id="org.polarsys.capella.core.platform.sirius.ui.preferences.CapellaPropertiesPage"
            name="Capella">
         <enabledWhen>
		     <adapt type="org.eclipse.core.resources.IProject">
		          <test property="org.eclipse.core.resources.projectNature" value="org.polarsys.capella.project.nature"/>
		     </adapt>         
         </enabledWhen>
      </page>
      <page
            category="org.polarsys.capella.core.platform.sirius.ui.preferences.CapellaPropertiesPage"
            class="org.polarsys.capella.core.platform.sirius.ui.preferences.DeletePreferencePage"
            id="org.polarsys.capella.core.platform.sirius.ui.preferences.DeletePropertiesPage"
            name="Delete">
         <enabledWhen>
		     <adapt type="org.eclipse.core.resources.IProject">
		          <test property="org.eclipse.core.resources.projectNature" value="org.polarsys.capella.project.nature"/>
		     </adapt>         
         </enabledWhen>
      </page>
   </extension-->
   <extension
         point="org.polarsys.capella.common.model.DroppedReferencesOnCopy">
      <reference
            className="CapellaElement"
            referenceName="appliedPropertyValues">
         reference body text
      </reference>
      <reference
            className="CapellaElement"
            referenceName="appliedPropertyValueGroups">
      </reference>
      <reference
            className="LogicalComponent"
            referenceName="ownedFunctionalAllocation">
      </reference>
      <reference
            referenceName="ownedTraces">
      </reference>
      <reference
            referenceName="ownedComponentExchangeAllocations">
      </reference>
      <reference
            referenceName="ownedComponentExchangeFunctionalExchangeAllocations">
      </reference>
   </extension>
   
   
    <extension point="org.eclipse.ui.menus">
    
       <menuContribution
                locationURI="popup:org.polarsys.capella.core.copyAs?after=org.polarsys.capella.core.sirius.ui.copyAsText">
           <command
                 commandId="org.polarsys.capella.core.platform.sirius.ui.actions.CopyPath">
                 <visibleWhen
                       checkEnabled="false">
                       <reference
                                 definitionId="org.polarsys.capella.core.platform.sirius.ui.actions.CopyPath.expression">
                           </reference>
                 </visibleWhen>
           </command>          
       </menuContribution>
       <menuContribution
      	 locationURI="popup:org.polarsys.capella.core.copyAs?after=org.polarsys.capella.core.ui.properties.richtext.copyAsHyperlinkForDescription">
        <command
                 commandId="org.polarsys.capella.core.platform.sirius.ui.actions.CopyUniqueIdentifier">
              <visibleWhen
                    checkEnabled="false">
                 <reference
                       definitionId="org.polarsys.capella.core.platform.sirius.ui.actions.CopyUniqueIdentifier.expression">
                 </reference>
              </visibleWhen>
           </command>
       </menuContribution>
       <menuContribution
                locationURI="popup:org.eclipse.ui.popup.any?after=group.delete">
           <command
                 commandId="org.polarsys.capella.core.platform.sirius.ui.actions.Delete">
                 <visibleWhen
                       checkEnabled="false">
                       <reference
                                 definitionId="org.polarsys.capella.core.platform.sirius.ui.actions.Delete.expression">
                       </reference>
                 </visibleWhen>
           </command>
       </menuContribution>
       
   </extension>
   
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.polarsys.capella.core.platform.sirius.ui.actions.TraceManager.expression">
            <with
                  variable="selection">
                  <iterate
                        ifEmpty="false">
                    <test
		                  forcePluginActivation="true"
		                  property="org.polarsys.capella.core.platform.sirius.ui.actionMode"
		                  value="traceManager">
		            </test>
                  </iterate>
            </with>
      </definition>
      
      <definition
            id="org.polarsys.capella.core.platform.sirius.ui.actions.AllocationManagement.expression">
            <with
                  variable="selection">
                  <iterate
                        ifEmpty="false">
                    <test
		                  forcePluginActivation="true"
		                  property="org.polarsys.capella.core.platform.sirius.ui.actionMode"
		                  value="allocationManagement">
		            </test>
                  </iterate>
            </with>
      </definition>
      
      <definition
            id="org.polarsys.capella.core.platform.sirius.ui.actions.CopyPath.expression">
            <with
                  variable="selection">
                  <iterate
                        ifEmpty="false">
                    <test
		                  forcePluginActivation="true"
		                  property="org.polarsys.capella.core.platform.sirius.ui.actionMode"
		                  value="copyPath">
		            </test>
                  </iterate>
            </with>
      </definition>
      
      <definition
            id="org.polarsys.capella.core.platform.sirius.ui.actions.CopyUniqueIdentifier.expression">
            <with
                  variable="selection">
                  <iterate
                        ifEmpty="false">
                    <or>
                           <adapt
                               type="org.eclipse.emf.ecore.EObject">
                           </adapt>
                    </or>
                  </iterate>
            </with>
      </definition>

      <definition
            id="org.polarsys.capella.core.platform.sirius.ui.actions.Delete.expression">
         <with
               variable="selection">
               <iterate 
                   ifEmpty="false">
                       <or>
                           <instanceof
                               value="org.polarsys.kitalpha.emde.model.Element">
                           </instanceof>
                           <adapt
                               type="org.polarsys.kitalpha.emde.model.Element">
                           </adapt>
                           <adapt
                               type="org.eclipse.sirius.viewpoint.DRepresentationDescriptor">
                           </adapt>
                      </or>
              </iterate>
         </with>
      </definition>

      <definition
            id="org.polarsys.capella.core.platform.sirius.ui.actions.accelerator.ConvertClassPrimitive.expression">
            <with
                  variable="selection">
                  <iterate
                        ifEmpty="false">
                    <test
		                  forcePluginActivation="true"
		                  property="org.polarsys.capella.core.platform.sirius.ui.actionMode"
		                  value="convertClassPrimitive">
		            </test>
                  </iterate>
            </with>
      </definition>
      
      <definition
            id="org.polarsys.capella.core.platform.sirius.ui.actions.accelerator.TransformLiteralNumericValue.expression">
            <with
                  variable="selection">
                  <iterate
                        ifEmpty="false">
                         <test forcePluginActivation="true"
				               property="org.polarsys.capella.core.platform.sirius.ui.actionMode"
				               value="transformLiteralNumericValue">
				         </test>
                  </iterate>
            </with>
      </definition>
      
      <definition
            id="org.polarsys.capella.core.platform.sirius.ui.actions.accelerator.PortRealizationPropagationFromCE.expression">
         <or>
            <with
                  variable="selection">
                  <iterate
                        ifEmpty="false">
				         <test forcePluginActivation="true"
				               property="org.polarsys.capella.core.platform.sirius.ui.actionMode"
				               value="propagationPortRealizationsFromCE">
				         </test>
                  </iterate>
            </with>
         </or>
      </definition>
         
      <definition
            id="org.polarsys.capella.core.platform.sirius.ui.actions.accelerator.PortRealizationPropagationFromFE.expression">
         <or>
            <with
                  variable="selection">
                  <iterate
                        ifEmpty="false">
		                 <test forcePluginActivation="true"
				               property="org.polarsys.capella.core.platform.sirius.ui.actionMode"
				               value="propagationPortRealizationsFromFE">
				         </test>
                  </iterate>
            </with>
         </or>
      </definition>
      
      <definition
            id="org.polarsys.capella.core.platform.sirius.ui.actions.accelerator.PropagateExchangeItemAllocations.expression">
         <or>
            <with
                  variable="selection">
                  <iterate
                        ifEmpty="false">
                       <or>
		                 <test forcePluginActivation="true"
				               property="org.polarsys.capella.core.platform.sirius.ui.actionMode"
				               value="propagationEIOnPorts">
				         </test>  
		               </or>
                  </iterate>
            </with>
         </or>
      </definition>
      
      <definition
            id="org.polarsys.capella.core.platform.sirius.ui.actions.accelerator.SynchronizeExchangeItemAllocations.expression">
         <or>
            <with
                  variable="selection">
                  <iterate
                        ifEmpty="false">
                       <or>
		                 <test forcePluginActivation="true"
				               property="org.polarsys.capella.core.platform.sirius.ui.actionMode"
				               value="synchronizeEIOnPorts">
				         </test>   
		               </or>
                  </iterate>
            </with>
         </or>
      </definition>

	  
      <definition
            id="org.polarsys.capella.core.platform.sirius.ui.menu.categories.visibilityInDiagramExpr">
                <iterate ifEmpty="false">
                <and>
                   <or>
                      <instanceof
                            value="org.eclipse.sirius.diagram.ui.edit.api.part.IDDiagramEditPart">
                      </instanceof>
                      <instanceof
                            value="org.eclipse.sirius.diagram.ui.edit.api.part.IDiagramElementEditPart">
                      </instanceof>
                   </or>
                   <not>
                      <test
                            property="org.polarsys.capella.core.platform.sirius.ui.layerOf"
                            value="OperationalAnalysis">
                      </test>
                   </not>
                </and>
                </iterate>
      </definition>
    </extension>
    <extension point="org.eclipse.ui.menus">
    
      <menuContribution
            locationURI="popup:org.polarsys.capella.core.accelerators?after=additions">
            
               <command commandId="org.polarsys.capella.core.platform.sirius.ui.actions.accelerator.ConvertClassPrimitive">
                     <visibleWhen
                           checkEnabled="false">
                           <reference
                                 definitionId="org.polarsys.capella.core.platform.sirius.ui.actions.accelerator.ConvertClassPrimitive.expression">
                           </reference>
                     </visibleWhen>
               </command>
                     
               <command commandId="org.polarsys.capella.core.platform.sirius.ui.actions.accelerator.TransformLiteralNumericValue">
                     <visibleWhen
                           checkEnabled="false">
                           <reference
                                 definitionId="org.polarsys.capella.core.platform.sirius.ui.actions.accelerator.TransformLiteralNumericValue.expression">
                           </reference>
                     </visibleWhen>
               </command>
                     
               <command commandId="org.polarsys.capella.core.platform.sirius.ui.actions.accelerator.PortRealizationPropagationFromCE">
                     
                     <visibleWhen
                           checkEnabled="false">
                           <reference
                                 definitionId="org.polarsys.capella.core.platform.sirius.ui.actions.accelerator.PortRealizationPropagationFromCE.expression">
                           </reference>
                     </visibleWhen>
               </command>
                     
               <command commandId="org.polarsys.capella.core.platform.sirius.ui.actions.accelerator.PortRealizationPropagationFromFE">
                     
                     <visibleWhen
                           checkEnabled="false">
                           <reference
                                 definitionId="org.polarsys.capella.core.platform.sirius.ui.actions.accelerator.PortRealizationPropagationFromFE.expression">
                           </reference>
                     </visibleWhen>
               </command>
               
               <command commandId="org.polarsys.capella.core.platform.sirius.ui.actions.accelerator.PropagateExchangeItemAllocations">
                     
                     <visibleWhen
                           checkEnabled="false">
                           <reference
                                 definitionId="org.polarsys.capella.core.platform.sirius.ui.actions.accelerator.PropagateExchangeItemAllocations.expression">
                           </reference>
                     </visibleWhen>
               </command>
                     
               <command commandId="org.polarsys.capella.core.platform.sirius.ui.actions.accelerator.SynchronizeExchangeItemAllocations">
                     
                     <visibleWhen
                           checkEnabled="false">
                           <reference
                                 definitionId="org.polarsys.capella.core.platform.sirius.ui.actions.accelerator.SynchronizeExchangeItemAllocations.expression">
                           </reference>
                     </visibleWhen>
               </command>
               
               
                     
      </menuContribution>
      
      
      
      <!-- Allocation Management -->
      <!-- Trace Manager -->
       <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=group.allocation">
         <command
               commandId="org.polarsys.capella.core.platform.sirius.ui.actions.wizard.AllocationManagementWizardAction">
               <visibleWhen
                       checkEnabled="false">
                       <reference
                                 definitionId="org.polarsys.capella.core.platform.sirius.ui.actions.AllocationManagement.expression">
                           </reference>
                 </visibleWhen>
         </command>
      </menuContribution>
      
      
         <menuContribution
               locationURI="popup:org.eclipse.ui.popup.any?after=group.categories">
            <menu
                  id="org.polarsys.capella.core.sirius.diagram.editor.categories.ce"
                  label="%CategoryMenu" icon="platform:/plugin/org.polarsys.capella.core.data.res.edit/icons/full/obj16/ComponentExchangeCategory.gif">
               <command
                  commandId="org.polarsys.capella.core.platform.sirius.ui.actions.CreateCategoriesWizardAction"
                  style="push"
                  icon="platform:/plugin/org.polarsys.capella.core.data.res.edit/icons/full/obj16/ComponentExchangeCategory.gif">
                  <visibleWhen
                     checkEnabled="false">
                     <reference
                        definitionId="org.polarsys.capella.core.sirius.ui.menu.categories.isValidCECategoryMenu">
                     </reference>
                  </visibleWhen>
               </command>
               <command
                  commandId="org.polarsys.capella.core.platform.sirius.ui.actions.UpdateCategoriesWizardAction"
                  style="push"
                  icon="platform:/plugin/org.polarsys.capella.core.data.res.edit/icons/full/obj16/ComponentExchangeCategory.gif">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="org.polarsys.capella.core.sirius.ui.menu.categories.isValidCECategoryMenu">
                  </reference>
               </visibleWhen>
            </command>
            </menu>
            
             <menu
                  id="org.polarsys.capella.core.sirius.diagram.editor.categories.fe"
                  label="%CategoryMenu" icon="platform:/plugin/org.polarsys.capella.core.data.res.edit/icons/full/obj16/ExchangeCategory.gif">
               <command
                  commandId="org.polarsys.capella.core.platform.sirius.ui.actions.CreateCategoriesWizardAction"
                  style="push"
                  icon="platform:/plugin/org.polarsys.capella.core.data.res.edit/icons/full/obj16/ExchangeCategory.gif">
                  <visibleWhen
                     checkEnabled="false">
                     <reference
                        definitionId="org.polarsys.capella.core.sirius.ui.menu.categories.isValidFECategoryMenu">
                     </reference>
                  </visibleWhen>
               </command>
               <command
                  commandId="org.polarsys.capella.core.platform.sirius.ui.actions.UpdateCategoriesWizardAction"
                  style="push"
                  icon="platform:/plugin/org.polarsys.capella.core.data.res.edit/icons/full/obj16/ExchangeCategory.gif">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="org.polarsys.capella.core.sirius.ui.menu.categories.isValidFECategoryMenu">
                  </reference>
               </visibleWhen>
            </command>
            </menu>
            
            <menu
                  id="org.polarsys.capella.core.sirius.diagram.editor.categories.pl"
                  label="%CategoryMenu" icon="platform:/plugin/org.polarsys.capella.core.data.res.edit/icons/full/obj16/PhysicalLinkCategory.gif">
               <command
                  commandId="org.polarsys.capella.core.platform.sirius.ui.actions.CreateCategoriesWizardAction"
                  style="push"
                  icon="platform:/plugin/org.polarsys.capella.core.data.res.edit/icons/full/obj16/PhysicalLinkCategory.gif">
                  <visibleWhen
                     checkEnabled="false">
                     <reference
                        definitionId="org.polarsys.capella.core.sirius.ui.menu.categories.isValidPLCategoryMenu">
                     </reference>
                  </visibleWhen>
               </command>
               <command
                  commandId="org.polarsys.capella.core.platform.sirius.ui.actions.UpdateCategoriesWizardAction"
                  style="push"
                  icon="platform:/plugin/org.polarsys.capella.core.data.res.edit/icons/full/obj16/PhysicalLinkCategory.gif">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="org.polarsys.capella.core.sirius.ui.menu.categories.isValidPLCategoryMenu">
                  </reference>
               </visibleWhen>
            </command>
            </menu>
            
            
            
            
            
            
            
            <menu
                  id="org.polarsys.capella.core.sirius.diagram.editor.functionalchains"
                  label="%FunctionalChainMenu" icon="platform:/plugin/org.polarsys.capella.core.data.res.edit/icons/full/obj16/FunctionalChain.gif">
               <command
                  commandId="org.polarsys.capella.core.sirius.ui.actions.CreateFunctionalChainAction"
                  style="push"
                  icon="platform:/plugin/org.polarsys.capella.core.data.res.edit/icons/full/obj16/FunctionalChain.gif">
                  <visibleWhen
                     checkEnabled="false">
                     <reference
                        definitionId="org.polarsys.capella.core.sirius.ui.menu.fc.isValidFCMenu">
                     </reference>
                  </visibleWhen>
               </command>
            </menu>
            <menu
                  id="org.polarsys.capella.core.sirius.diagram.editor.operationalprocesses"
                  label="%OperationalProcessMenu" icon="platform:/plugin/org.polarsys.capella.core.data.res.edit/icons/full/obj16/OperationalProcess.gif">
               <command
                  commandId="org.polarsys.capella.core.sirius.ui.actions.CreateOperationalProcessAction"
                  style="push"
                  icon="platform:/plugin/org.polarsys.capella.core.data.res.edit/icons/full/obj16/OperationalProcess.gif">
                  <visibleWhen
                     checkEnabled="false">
                     <reference
                        definitionId="org.polarsys.capella.core.sirius.ui.menu.op.isValidOPMenu">
                     </reference>
                  </visibleWhen>
               </command>
            </menu>
            <menu
                  id="org.polarsys.capella.core.sirius.diagram.editor.physicalpaths"
                  label="%PhysicalPathMenu" icon="platform:/plugin/org.polarsys.capella.core.data.res.edit/icons/full/obj16/PhysicalPath.gif">
               <command
                  commandId="org.polarsys.capella.core.sirius.ui.actions.CreatePhysicalPathAction"
                  style="push"
                  icon="platform:/plugin/org.polarsys.capella.core.data.res.edit/icons/full/obj16/PhysicalPath.gif">
                  <visibleWhen
                     checkEnabled="false">
                     <reference
                        definitionId="org.polarsys.capella.core.sirius.ui.menu.pp.isValidPPMenu">
                     </reference>
                  </visibleWhen>
               </command>
            
            </menu>
         </menuContribution>
      
      
    </extension>
    
    
   <extension
         point="org.eclipse.ui.commands">
         
      <command
         	   categoryId="org.polarsys.capella.core.semantic"
               defaultHandler="org.polarsys.capella.core.platform.sirius.ui.handlers.DeleteHandler"
               id="org.polarsys.capella.core.platform.sirius.ui.actions.Delete"
               name="%Delete">
      </command>
      
      <command
         	   categoryId="org.polarsys.capella.core.semantic"
               defaultHandler="org.polarsys.capella.core.platform.sirius.ui.handlers.CopyPathHandler"
               id="org.polarsys.capella.core.platform.sirius.ui.actions.CopyPath"
               name="%CopyPath">
      </command>
      
      <command
         	   categoryId="org.polarsys.capella.core.accelerators"
               defaultHandler="org.polarsys.capella.core.platform.sirius.ui.handlers.ConvertPrimitiveHandler"
               id="org.polarsys.capella.core.platform.sirius.ui.actions.accelerator.ConvertClassPrimitive"
               name="%ConvertClassPrimitive" >
      </command>
      
      <command
         	   categoryId="org.polarsys.capella.core.accelerators"
               defaultHandler="org.polarsys.capella.core.platform.sirius.ui.handlers.TransformLiteralNumericalValueHandler"
               id="org.polarsys.capella.core.platform.sirius.ui.actions.accelerator.TransformLiteralNumericValue"
               name="%TransformLiteralNumericValue">
      </command>
      
      <command
         	   categoryId="org.polarsys.capella.core.accelerators"
               defaultHandler="org.polarsys.capella.core.platform.sirius.ui.handlers.PortRealizationPropagationHandler"
               id="org.polarsys.capella.core.platform.sirius.ui.actions.accelerator.PortRealizationPropagationFromCE"
               name="%PropagatePortRealizationsFromCE" >
      </command>
      
      <command
         	   categoryId="org.polarsys.capella.core.accelerators"
               defaultHandler="org.polarsys.capella.core.platform.sirius.ui.handlers.PortRealizationPropagationHandler"
               id="org.polarsys.capella.core.platform.sirius.ui.actions.accelerator.PortRealizationPropagationFromFE"
               name="%PropagatePortRealizationsFromFE" >
      </command>
      
      <command
         	   categoryId="org.polarsys.capella.core.accelerators"
               defaultHandler="org.polarsys.capella.core.platform.sirius.ui.handlers.PropagateExchangeItemAllocationsHandler"
               id="org.polarsys.capella.core.platform.sirius.ui.actions.accelerator.PropagateExchangeItemAllocations"
               name="%PropagateEIOnPorts">
      </command>
      
      <command
         	   categoryId="org.polarsys.capella.core.accelerators"
               defaultHandler="org.polarsys.capella.core.platform.sirius.ui.handlers.SynchronizeExchangeItemAllocationsHandler"
               id="org.polarsys.capella.core.platform.sirius.ui.actions.accelerator.SynchronizeExchangeItemAllocations"
               name="%SynchronizeEIOnPorts">
      </command>
      
      <command
         	   categoryId="org.polarsys.capella.core.wizards"
               defaultHandler="org.polarsys.capella.core.platform.sirius.ui.actions.AllocationManagementWizardAction"
               id="org.polarsys.capella.core.platform.sirius.ui.actions.wizard.AllocationManagementWizardAction"
               name="%AllocationManagement"
               >
      </command>
      <command
            defaultHandler="org.polarsys.capella.core.platform.sirius.ui.actions.CreateCategoriesWizardAction"
            id="org.polarsys.capella.core.platform.sirius.ui.actions.CreateCategoriesWizardAction"
            name="%CreateCategories"
            >
      </command>
      
      <command
            defaultHandler="org.polarsys.capella.core.platform.sirius.ui.actions.UpdateCategoriesWizardAction"
            id="org.polarsys.capella.core.platform.sirius.ui.actions.UpdateCategoriesWizardAction"
            name="%UpdateCategories"
            >
      </command>
      <command
            categoryId="org.polarsys.capella.core.semantic"
            defaultHandler="org.polarsys.capella.core.platform.sirius.ui.handlers.CopyUniqueIdentifierHandler"
            id="org.polarsys.capella.core.platform.sirius.ui.actions.CopyUniqueIdentifier"
            name="%CopyID">
      </command>
      
   </extension>
   
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.polarsys.capella.core.platform.sirius.ui.actions.accelerator.ConvertClassPrimitive"
            icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif">
      </image>
      <image
            commandId="org.polarsys.capella.core.platform.sirius.ui.actions.accelerator.TransformLiteralNumericValue"
            icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif">
      </image>
      <image
            commandId="org.polarsys.capella.core.platform.sirius.ui.actions.accelerator.PortRealizationPropagationFromCE"
            icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif">
      </image>
      <image
            commandId="org.polarsys.capella.core.platform.sirius.ui.actions.accelerator.PortRealizationPropagationFromFE"
            icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif">
      </image>
      <image
            commandId="org.polarsys.capella.core.platform.sirius.ui.actions.accelerator.PropagateExchangeItemAllocations"
            icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif">
      </image>
      <image
            commandId="org.polarsys.capella.core.platform.sirius.ui.actions.accelerator.SynchronizeExchangeItemAllocations"
            icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif">
      </image>
      
      <image
            commandId="org.polarsys.capella.core.platform.sirius.ui.actions.wizard.AllocationManagementWizardAction"
            icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_manage.gif">
      </image>
      <image
            commandId="org.polarsys.capella.core.platform.sirius.ui.actions.CopyPath"
               icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_copy_path.gif">
      </image>
      <image
            commandId="org.polarsys.capella.core.platform.sirius.ui.actions.CopyUniqueIdentifier"
               icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_copy_path.gif">
      </image>
      <image
            commandId="org.polarsys.capella.core.platform.sirius.ui.actions.Delete"
               icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_delete.gif">
      </image>
               
   </extension>
   
   <extension
         point="org.polarsys.capella.core.preferences.capellaPreferences">
      <category
            description="Capella Wizards"
            name="Wizards">
         <item
               enableByDefault="true"
               id="org.polarsys.capella.core.platform.sirius.ui.actions.wizard.AllocationManagementWizardAction"
               name="Allocation Management">
         </item>
      </category>
      <category
            description="Managing categories for functional/component exchanges and physical links."
            name="Category Management">
         <item
               description="Update categories for communication means, component exchanges, functional exchanges and physical links"
               enableByDefault="true"
               id="org.polarsys.capella.core.platform.sirius.ui.actions.UpdateCategoriesWizardAction"
               name="Update Category">
         </item>
         <item
               description="Create a category for communication means, component exchanges, functional exchanges and physical links"
               enableByDefault="true"
               id="org.polarsys.capella.core.platform.sirius.ui.actions.CreateCategoriesWizardAction"
               name="Create Category">
         </item>
      </category>

   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            icon="icons/lock.png"
            id="org.polarsys.capella.core.platform.sirius.ui.actions.decorators.ProtectedElementsDecorator"
            label="%ProtectedElementsDecorator_name"
            lightweight="true"
            class="org.polarsys.capella.core.platform.sirius.ui.actions.decorators.ProtectedElementsDecorator"
            location="BOTTOM_LEFT"
            state="false">
            <description>%ProtectedElementsDecorator_description</description>
      </decorator>
   </extension>
   
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.polarsys.capella.core.platform.sirius.ui.actions.Delete"
            contextId="org.polarsys.capella.core.ui.semantic.browser.context"
            schemeId="org.polarsys.capella.core.defaultAcceleratorConfiguration"
            sequence="DELETE">
      </key>
      <key
            commandId="org.polarsys.capella.core.platform.sirius.ui.actions.Delete"
            contextId="org.eclipse.acceleo.ui.interpreter.interpreterview"
            schemeId="org.polarsys.capella.core.defaultAcceleratorConfiguration"
            sequence="DELETE">
      </key>
   </extension>
</plugin>
