<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
          id="product"
          point="org.eclipse.core.runtime.products">
       <product
             application="org.polarsys.capella.core.platform.sirius.ui.perspective.id"
             name="Capella">
         <property name="aboutImage" value="icons/CapellaAbout.png"/>
         <property name="featureImage" value="icons/Capella32x32.png"/>
         <property name="aboutText" value="%productBlurb"/>
         <property name="windowImages" value="icons/Capella16x16.png,icons/Capella32x32.png,icons/Capella48x48.png,icons/Capella64x64.png,icons/Capella128x128.png,icons/Capella256x256.png"/>
         <property name="preferenceCustomization" value="plugin_customization.ini" /> 
         <property name="startupForegroundColor" value="000000" /> 
         <property name="startupMessageRect" value="24,200,421,20" /> 
         <property name="startupProgressRect" value="1,288,452,15" />
         <property name="appName" value="Capella"/>
         <property name="introTitle" value="%productIntroTitle"/>
         <property name="introBrandingImage" value="product:icons/intro-capella.png"/>
         <property name="introBrandingImageText" value="%productIntroBrandingText"/>
         <property name="introDescription-firststeps" value="%introDescription-firststeps"/>
       </product>
    </extension>
    
   <extension
         point="org.eclipse.ui.intro">
         <introProductBinding
               productId="org.polarsys.capella.rcp.product"
               introId="org.polarsys.capella.core.ui.intro">
         </introProductBinding>
   </extension>
    
    
   <extension
         point="org.eclipse.ui.activitySupport">
      <triggerPointAdvisorProductBinding
            productId="org.polarsys.capella.rcp.product"
            triggerPointAdvisorId="org.polarsys.capella.core.platform.sirius.ui.TriggerPointAdvisor">
      </triggerPointAdvisorProductBinding>
   </extension>
   
   <!--extension point="org.eclipse.ui.splashHandlers">
      <splashHandlerProductBinding
            productId="org.polarsys.capella.rcp.product"
            splashId="org.polarsys.capella.core.product.splashHandler">
      </splashHandlerProductBinding>
   </extension-->
   
   	<extension
         point="org.eclipse.ui.statusHandlers">
         <statusHandlerProductBinding
               handlerId="org.polarsys.capella.core.platform.sirius.ui.perspective.statusHandler"
               productId="org.polarsys.capella.rcp.product">
         </statusHandlerProductBinding>
   </extension>
    
</plugin>
