<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.polarsys.capella.core.platform.sirius.ui.perspective.id"
            name="Capella">
         <property
               name="appName"
               value="Capella">
         </property>
      </product>
   </extension>

</plugin>
