<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  Copyright (c) 2006, 2022 THALES GLOBAL SERVICES.
  
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0
  
  SPDX-License-Identifier: EPL-2.0
  
  Contributors:
       Thales - initial API and implementation
-->
<plugin>
   <extension
         point="org.eclipse.sirius.componentization">
      <component
            class="org.polarsys.capella.core.sirius.analysis.activator.SiriusViewActivator"
            id="org.polarsys.capella.core.sirius.analysis.modeler"
            name="Sirius Modeler">
      </component>
   </extension>
   <extension
         point="org.eclipse.sirius.diagram.ui.styleConfigurationProvider">
      <styleConfigurationProvider
            providerClass="org.polarsys.capella.core.sirius.analysis.extension.style.PartComponentStyleConfiguration">
      </styleConfigurationProvider>
      <styleConfigurationProvider
            providerClass="org.polarsys.capella.core.sirius.analysis.extension.style.PhysicalLinkStyleConfiguration">
      </styleConfigurationProvider>
      <styleConfigurationProvider
            providerClass="org.polarsys.capella.core.sirius.analysis.extension.style.FunctionalExchangeStyleConfiguration">
      </styleConfigurationProvider>
   </extension>
   <extension
         point="org.eclipse.sirius.refreshExtensionProvider">
      <refreshExtensionProvider
            priority="high"
            providerClass="org.polarsys.capella.core.sirius.analysis.refresh.extension.ContextualComponentDetailedInterfacesRefreshExtensionProvider">
      </refreshExtensionProvider>
      <refreshExtensionProvider
            priority="high"
            providerClass="org.polarsys.capella.core.sirius.analysis.refresh.extension.ContextualComponentExternalInterfacesRefreshExtensionProvider">
      </refreshExtensionProvider>
      <refreshExtensionProvider
            priority="high"
            providerClass="org.polarsys.capella.core.sirius.analysis.refresh.extension.ContextualComponentInternalInterfacesRefreshExtensionProvider">
      </refreshExtensionProvider>
      <refreshExtensionProvider
            priority="high"
            providerClass="org.polarsys.capella.core.sirius.analysis.refresh.extension.InterfacesBlankRefreshExtensionProvider">
      </refreshExtensionProvider>
      <refreshExtensionProvider
            priority="high"
            providerClass="org.polarsys.capella.core.sirius.analysis.refresh.extension.ContextualCapabilityRefreshExtensionProvider">
      </refreshExtensionProvider>
      <refreshExtensionProvider
            priority="high"
            providerClass="org.polarsys.capella.core.sirius.analysis.refresh.extension.ContextualCapabilityRealizationInvolvementRefreshExtensionProvider">
      </refreshExtensionProvider>
      <refreshExtensionProvider
            priority="high"
            providerClass="org.polarsys.capella.core.sirius.analysis.refresh.extension.ContextualMissionRefreshExtensionProvider">
      </refreshExtensionProvider>
      <refreshExtensionProvider
            priority="high"
            providerClass="org.polarsys.capella.core.sirius.analysis.refresh.extension.ComponentArchitectureBlankRefreshExtensionProvider">
      </refreshExtensionProvider>
      <refreshExtensionProvider
            priority="high"
            providerClass="org.polarsys.capella.core.sirius.analysis.refresh.extension.DataFlowBlankRefreshExtensionProvider">
      </refreshExtensionProvider>
      <refreshExtensionProvider
            priority="high"
            providerClass="org.polarsys.capella.core.sirius.analysis.refresh.extension.ClassDiagramRefreshExtensionProvider">
      </refreshExtensionProvider>
      <refreshExtensionProvider
            priority="high"
            providerClass="org.polarsys.capella.core.sirius.analysis.refresh.extension.EntityArchitectureBlankRefreshExtensionProvider">
      </refreshExtensionProvider>
      <refreshExtensionProvider
            priority="high"
            providerClass="org.polarsys.capella.core.sirius.analysis.refresh.extension.PackageDependenciesRefreshExtensionProvider">
      </refreshExtensionProvider>
      <refreshExtensionProvider
            priority="high"
            providerClass="org.polarsys.capella.core.sirius.analysis.refresh.extension.EntityPartRefreshExtensionProvider">
      </refreshExtensionProvider>
      <refreshExtensionProvider
            priority="high"
            providerClass="org.polarsys.capella.core.sirius.analysis.refresh.extension.BreakdownRefreshExtensionProvider">
      </refreshExtensionProvider>
      <refreshExtensionProvider
            priority="high"
            providerClass="org.polarsys.capella.core.sirius.analysis.refresh.extension.CapabilityRealizationBlankRefreshExtensionProvider">
      </refreshExtensionProvider>
      <refreshExtensionProvider
            priority="high"
            providerClass="org.polarsys.capella.core.sirius.analysis.refresh.extension.ContextualOCRefreshExtensionProvider">
      </refreshExtensionProvider>
      <refreshExtensionProvider
            priority="high"
            providerClass="org.polarsys.capella.core.sirius.analysis.refresh.extension.TitleBlockRefreshExtensionProvider">
      </refreshExtensionProvider>
      <refreshExtensionProvider
            priority="high"
            providerClass="org.polarsys.capella.core.sirius.analysis.refresh.extension.ScenarioRefreshExtensionProvider">
      </refreshExtensionProvider>
   </extension>
   <extension
         point="org.eclipse.sirius.externalJavaAction">
      <javaActions
            actionClass="org.polarsys.capella.core.sirius.analysis.actions.extensions.SelectElementFromListWizard"
            id="org.polarsys.capella.core.sirius.analysis.actions.extensions.SelectElementFromListWizard">
      </javaActions>
      <javaActions
            actionClass="org.polarsys.capella.core.sirius.analysis.actions.extensions.SelectElementsFromTransferWizard"
            id="org.polarsys.capella.core.sirius.analysis.actions.extensions.SelectElementsFromTransferWizard">
      </javaActions>
      <javaActions
            actionClass="org.polarsys.capella.core.sirius.analysis.actions.extensions.SelectLinksFromTransferWizard"
            id="org.polarsys.capella.core.sirius.analysis.actions.extensions.SelectLinksFromTransferWizard">
      </javaActions>
      <javaActions
            actionClass="org.polarsys.capella.core.sirius.analysis.actions.extensions.SetVariable"
            id="org.polarsys.capella.core.sirius.analysis.actions.extensions.SetVariable">
      </javaActions>
      <javaActions
            actionClass="org.polarsys.capella.core.sirius.analysis.delete.CapellaDeleteExternalAction"
            id="org.polarsys.capella.core.sirius.analysis.delete.CapellaDeleteExternalAction">
      </javaActions>
      <javaActions
            actionClass="org.polarsys.capella.core.sirius.analysis.delete.NoDeleteExternalAction"
            id="org.polarsys.capella.core.sirius.analysis.delete.NoDeleteExternalAction">
      </javaActions>
      <javaActions
            actionClass="org.polarsys.capella.core.sirius.analysis.actions.extensions.AffectToMessageDialogBox"
            id="org.polarsys.capella.core.sirius.analysis.affectToSequenceMessageDialogBox">
      </javaActions>
      <javaActions
            actionClass="org.polarsys.capella.core.sirius.analysis.actions.extensions.AffectToMessage2"
            id="org.polarsys.capella.core.sirius.analysis.affectToSequenceMessage">
      </javaActions>
      <javaActions
            actionClass="org.polarsys.capella.core.sirius.analysis.actions.extensions.EditCapellaPropertyWizard"
            id="org.polarsys.capella.core.sirius.analysis.actions.extensions.EditCapellaPropertyWizard">
      </javaActions>
      <javaActions
            actionClass="org.polarsys.capella.core.sirius.analysis.actions.extensions.RefreshElement"
            id="org.polarsys.capella.core.sirius.analysis.actions.extensions.RefreshElement">
      </javaActions>
      <javaActions
            actionClass="org.polarsys.capella.core.sirius.analysis.actions.extensions.ShowHideFunctions"
            id="org.polarsys.capella.core.sirius.analysis.actions.extensions.ShowHideFunctions">
      </javaActions>
      <javaActions
            actionClass="org.polarsys.capella.core.sirius.analysis.actions.extensions.ShowHideRelatedElements"
            id="org.polarsys.capella.core.sirius.analysis.actions.extensions.ShowHideRelatedElements">
      </javaActions>
      <javaActions
            actionClass="org.polarsys.capella.core.sirius.analysis.actions.extensions.ShowHideStates"
            id="org.polarsys.capella.core.sirius.analysis.actions.extensions.ShowHideStates">
      </javaActions>
      <javaActions
            actionClass="org.polarsys.capella.core.sirius.analysis.actions.extensions.ShowHideTransitions"
            id="org.polarsys.capella.core.sirius.analysis.actions.extensions.ShowHideTransitions">
      </javaActions>
      <javaActions
            actionClass="org.polarsys.capella.core.sirius.analysis.actions.extensions.ShowHideMSMStates"
            id="org.polarsys.capella.core.sirius.analysis.actions.extensions.ShowHideMSMStates">
      </javaActions>
      <javaActions
            actionClass="org.polarsys.capella.core.sirius.analysis.actions.extensions.ShowHideMCComponents"
            id="org.polarsys.capella.core.sirius.analysis.actions.extensions.ShowHideMCComponents">
      </javaActions>
      <javaActions
            actionClass="org.polarsys.capella.core.sirius.analysis.actions.extensions.ShowHideMSMTransitions"
            id="org.polarsys.capella.core.sirius.analysis.actions.extensions.ShowHideMSMTransitions">
      </javaActions>
      <javaActions
            actionClass="org.polarsys.capella.core.sirius.analysis.actions.extensions.SelectElementsFromCheckBoxWizard"
            id="org.polarsys.capella.core.sirius.analysis.actions.extensions.SelectElementsFromCheckBoxWizard">
      </javaActions>
      <javaActions
            actionClass="org.polarsys.capella.core.sirius.analysis.delete.RemoveInstanceRoles"
            id="org.polarsys.capella.core.sirius.analysis.delete.RemoveInstanceRoles">
      </javaActions>
      <javaActions
            actionClass="org.polarsys.capella.core.sirius.analysis.actions.extensions.DoReorder"
            id="org.polarsys.capella.core.sirius.analysis.actions.extensions.DoReorder">
      </javaActions>
      
      <javaActions
            actionClass="org.polarsys.capella.core.sirius.analysis.actions.extensions.CreateViewAction"
            id="org.polarsys.capella.core.sirius.analysis.actions.extensions.CreateViewAction">
      </javaActions>
      <javaActions
            actionClass="org.polarsys.capella.core.sirius.analysis.actions.extensions.SelectElementsFromTransferWizardIDB"
            id="org.polarsys.capella.core.sirius.analysis.actions.extensions.SelectLinksFromTransferWizardIDB">
      </javaActions>
      <javaActions
            actionClass="org.polarsys.capella.core.sirius.analysis.actions.extensions.DoIRReorderExternalAction"
            id="org.polarsys.capella.core.sirius.analysis.actions.extensions.doIRReorder">
      </javaActions>
      <javaActions
            actionClass="org.polarsys.capella.core.sirius.analysis.actions.extensions.SelectOrCreateFunctionalExchangeWizard"
            id="org.polarsys.capella.core.sirius.analysis.actions.extensions.SelectOrCreateFunctionalExchangeWizard">
      </javaActions>
      
   </extension>
   <extension
         point="org.eclipse.sirius.deleteHook">
      <deleteHook
            class="org.polarsys.capella.core.sirius.analysis.delete.CapellaDeleteActionHook"
            id="org.polarsys.capella.core.sirius.analysis.delete.CapellaDeleteActionHook">
      </deleteHook>
   </extension>
  
  <extension
        point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
     <editpartProvider
           class="org.polarsys.capella.core.sirius.analysis.editpart.StackEditPartProvider">
        <Priority
              name="Highest">
        </Priority>
     </editpartProvider>
  </extension>
  
 <extension
       point="org.eclipse.ui.menus">
    <menuContribution
          allPopups="false"
          locationURI="toolbar:org.eclipse.sirius.diagram.tabbar">
       <toolbar
             id="org.polarsys.capella.core.sirius.analysis.filtertoolbar"        label="label filters">
       </toolbar>
    </menuContribution>
    <menuContribution
          allPopups="false"
          locationURI="menu:org.polarsys.capella.core.sirius.analysis.labelFilterCommand">
       <command
             commandId="org.polarsys.capella.core.sirius.analysis.label1"
             icon="icons/full/obj16/ActorCapabilityInvolvement.gif"
             label="Show [EI1, EI2]"
             style="toggle">
          <visibleWhen
                checkEnabled="true">
          </visibleWhen>
       </command>
       <command
             commandId="org.polarsys.capella.core.sirius.analysis.label2"
             icon="icons/full/obj16/ActorCapabilityInvolvement.gif"
             label="Show EI1(param1:type1, param2:type2), EI2(param3:type3)"
             style="toggle">
          <visibleWhen
                checkEnabled="true">
          </visibleWhen>
       </command>
       <command
             commandId="org.polarsys.capella.core.sirius.analysis.label3"
             icon="icons/full/obj16/ActorCapabilityInvolvement.gif"
             label="Show FE"
             style="toggle">
          <visibleWhen
                checkEnabled="true">
          </visibleWhen>
       </command>
       <command
             commandId="org.polarsys.capella.core.sirius.analysis.label4"
             icon="icons/full/obj16/ActorCapabilityInvolvement.gif"
             label="Show FE [EI1, EI2]"
             style="toggle">
          <visibleWhen
                checkEnabled="true">
          </visibleWhen>
       </command>
       <command
             commandId="org.polarsys.capella.core.sirius.analysis.label5"
             icon="icons/full/obj16/ActorCapabilityInvolvement.gif"
             label="Show FE (type1, type2, type3)"
             style="toggle">
          <visibleWhen
                checkEnabled="true">
          </visibleWhen>
       </command>
       <command
             commandId="org.polarsys.capella.core.sirius.analysis.label6"
             icon="icons/full/obj16/ActorCapabilityInvolvement.gif"
             label="Show FE [EI1(param1:type1, param2:type2), EI2(param3:type3)]"
             style="toggle">
          <visibleWhen
                checkEnabled="true">
          </visibleWhen>
       </command>
       <command
             commandId="org.polarsys.capella.core.sirius.analysis.label7"
             icon="icons/full/obj16/ActorCapabilityInvolvement.gif"
             label="Show CE [EI1, EI2]"
             style="toggle">
          <visibleWhen
                checkEnabled="true">
          </visibleWhen>
       </command>
       <command
             commandId="org.polarsys.capella.core.sirius.analysis.label8"
             icon="icons/full/obj16/ActorCapabilityInvolvement.gif"
             label="Show CE (type1, type2)"
             style="toggle">
          <visibleWhen
                checkEnabled="true">
          </visibleWhen>
       </command>
       <command
             commandId="org.polarsys.capella.core.sirius.analysis.label9"
             icon="icons/full/obj16/ActorCapabilityInvolvement.gif"
             label="Show CE [EI (param1:type1, param2:type2)]"
             style="toggle">
          <visibleWhen
                checkEnabled="true">
          </visibleWhen>
       </command>
    </menuContribution>
    <menuContribution
          locationURI="popup:org.polarsys.capella.core.accelerators?after=groupAccelerator">
       <command
             commandId="org.polarsys.capella.core.platform.sirius.ui.actions.accelerator.AcceleratorFromFCILToSequenceLink"
             icon="icons/full/obj16/SequenceLink.gif">
          <visibleWhen
                checkEnabled="true">
          </visibleWhen>
       </command>
       <command
             commandId="org.polarsys.capella.core.platform.sirius.ui.actions.accelerator.AcceleratorFromSequenceLinkToFCIL">
          <visibleWhen
                checkEnabled="true">
          </visibleWhen>
       </command>
    </menuContribution>
 </extension>
 <extension
       point="org.eclipse.ui.commands">
    <category
          id="org.polarsys.capella.core.sirius.analysis.filterLabelCategory"
          name="Filter Label Category">
    </category>
    <command
          categoryId="org.polarsys.capella.core.sirius.analysis.filterLabelCategory"
          defaultHandler="org.polarsys.capella.core.sequencediag.handlers.LabelFilterForSequenceHandler"
          id="org.polarsys.capella.core.sirius.analysis.labelFilterCommand"
          name="Label Filter">
    </command>
    <command
          categoryId="org.polarsys.capella.core.sirius.analysis.filterLabelCategory"
          defaultHandler="org.polarsys.capella.core.sequencediag.handlers.Label1Handler"
          id="org.polarsys.capella.core.sirius.analysis.label1"
          name="Label1">
       <state
             class="org.polarsys.capella.core.sequencediag.datas.LabelToggleState:label1"
             id="org.eclipse.ui.commands.toggleState">
       </state>
    </command>
    <command
          categoryId="org.polarsys.capella.core.sirius.analysis.filterLabelCategory"
          defaultHandler="org.polarsys.capella.core.sequencediag.handlers.Label2Handler"
          id="org.polarsys.capella.core.sirius.analysis.label2"
          name="Label2">
       <state
             class="org.polarsys.capella.core.sequencediag.datas.LabelToggleState:label2"
             id="org.eclipse.ui.commands.toggleState">
       </state>
    </command>
    <command
          categoryId="org.polarsys.capella.core.sirius.analysis.filterLabelCategory"
          defaultHandler="org.polarsys.capella.core.sequencediag.handlers.Label3Handler"
          id="org.polarsys.capella.core.sirius.analysis.label3"
          name="Label3">
       <state
             class="org.polarsys.capella.core.sequencediag.datas.LabelToggleState:label3"
             id="org.eclipse.ui.commands.toggleState">
       </state>
    </command>
    <command
          categoryId="org.polarsys.capella.core.sirius.analysis.filterLabelCategory"
          defaultHandler="org.polarsys.capella.core.sequencediag.handlers.Label4Handler"
          id="org.polarsys.capella.core.sirius.analysis.label4"
          name="Label4">
       <state
             class="org.polarsys.capella.core.sequencediag.datas.LabelToggleState:label4"
             id="org.eclipse.ui.commands.toggleState">
       </state>
    </command>
    <command
          categoryId="org.polarsys.capella.core.sirius.analysis.filterLabelCategory"
          defaultHandler="org.polarsys.capella.core.sequencediag.handlers.Label5Handler"
          id="org.polarsys.capella.core.sirius.analysis.label5"
          name="Label5">
       <state
             class="org.polarsys.capella.core.sequencediag.datas.LabelToggleState:label5"
             id="org.eclipse.ui.commands.toggleState">
       </state>
    </command>
    <command
          categoryId="org.polarsys.capella.core.sirius.analysis.filterLabelCategory"
          defaultHandler="org.polarsys.capella.core.sequencediag.handlers.Label6Handler"
          id="org.polarsys.capella.core.sirius.analysis.label6"
          name="Label6">
       <state
             class="org.polarsys.capella.core.sequencediag.datas.LabelToggleState:label6"
             id="org.eclipse.ui.commands.toggleState">
       </state>
    </command>
    <command
          categoryId="org.polarsys.capella.core.sirius.analysis.filterLabelCategory"
          defaultHandler="org.polarsys.capella.core.sequencediag.handlers.Label7Handler"
          id="org.polarsys.capella.core.sirius.analysis.label7"
          name="Label7">
       <state
             class="org.polarsys.capella.core.sequencediag.datas.LabelToggleState:label7"
             id="org.eclipse.ui.commands.toggleState">
       </state>
    </command>
    <command
          categoryId="org.polarsys.capella.core.sirius.analysis.filterLabelCategory"
          defaultHandler="org.polarsys.capella.core.sequencediag.handlers.Label8Handler"
          id="org.polarsys.capella.core.sirius.analysis.label8"
          name="Label8">
       <state
             class="org.polarsys.capella.core.sequencediag.datas.LabelToggleState:label8"
             id="org.eclipse.ui.commands.toggleState">
       </state>
    </command>
    <command
          categoryId="org.polarsys.capella.core.sirius.analysis.filterLabelCategory"
          defaultHandler="org.polarsys.capella.core.sequencediag.handlers.Label9Handler"
          id="org.polarsys.capella.core.sirius.analysis.label9"
          name="Label9">
       <state
             class="org.polarsys.capella.core.sequencediag.datas.LabelToggleState:label9"
             id="org.eclipse.ui.commands.toggleState">
       </state>
    </command>
    <command
          defaultHandler="org.polarsys.capella.core.sirius.analysis.accelerators.AcceleratorOnSequenceLinkHandler"
          id="org.polarsys.capella.core.platform.sirius.ui.actions.accelerator.AcceleratorFromSequenceLinkToFCIL"
          name="Create new Exchange">
    </command>
    <command
          defaultHandler="org.polarsys.capella.core.sirius.analysis.accelerators.AcceleratorOnFCILinkHandler"
          id="org.polarsys.capella.core.platform.sirius.ui.actions.accelerator.AcceleratorFromFCILToSequenceLink"
          name="Create new Sequence Link">
    </command>
 </extension>
 <extension
       point="org.eclipse.ui.handlers">
    <handler
          class="org.polarsys.capella.core.sequencediag.handlers.LabelFilterForSequenceHandler"
          commandId="org.polarsys.capella.core.sirius.analysis.labelFilterCommand">
       <activeWhen>
          <adapt
                type="org.eclipse.sirius.diagram.sequence.ui.tool.internal.edit.part.SequenceDiagramEditPart">
          </adapt>
       </activeWhen>
    </handler>
 </extension>
 <extension
       point="org.eclipse.sirius.featureExtensions">
    <feature
          class="org.polarsys.capella.core.sequencediag.datas.SequenceDiagramAspect">
    </feature>
 </extension>

 <extension
       point="org.polarsys.capella.common.queries.query">
    <querySpecification
          queryIdentifier="GetCCEIInsertInterface">
       <queryAlgorithm
             algorithm="org.polarsys.capella.core.sirius.analysis.queries.GetCCEIInsertInterface">
       </queryAlgorithm>
    </querySpecification>
    <querySpecification
          queryIdentifier="GetAvailableArchitectures">
       <queryAlgorithm
             algorithm="org.polarsys.capella.core.sirius.analysis.queries.GetAvailableArchitectures"></queryAlgorithm>
    </querySpecification>
    <querySpecification
          queryIdentifier="GetCCIIInsertComponent">
       <queryAlgorithm
             algorithm="org.polarsys.capella.core.sirius.analysis.queries.csServices.GetCCIIInsertComponent"></queryAlgorithm>
    </querySpecification>    
    <querySpecification
          queryIdentifier="GetIBShowHideComponent">
       <queryAlgorithm
             algorithm="org.polarsys.capella.core.sirius.analysis.queries.csServices.GetIBShowHideComponent"></queryAlgorithm>
    </querySpecification>
    <querySpecification
          queryIdentifier="GetIBShowHideActor">
       <queryAlgorithm
             algorithm="org.polarsys.capella.core.sirius.analysis.queries.csServices.GetIBShowHideActor"></queryAlgorithm>
    </querySpecification>
    <querySpecification
          queryIdentifier="GetABInsertActor">
       <queryAlgorithm
             algorithm="org.polarsys.capella.core.sirius.analysis.queries.csServices.GetABInsertActor"></queryAlgorithm>
    </querySpecification>
    <querySpecification
          queryIdentifier="GetABInsertComponent">
       <queryAlgorithm
             algorithm="org.polarsys.capella.core.sirius.analysis.queries.csServices.GetABInsertComponent"></queryAlgorithm>
    </querySpecification> 
    <querySpecification
          queryIdentifier="GetISScopeInsertActors">
       <queryAlgorithm
             algorithm="org.polarsys.capella.core.sirius.analysis.queries.interactionServices.GetISScopeInsertActors"></queryAlgorithm>
    </querySpecification>    
        <querySpecification
          queryIdentifier="GetISScopeInsertComponents">
       <queryAlgorithm
             algorithm="org.polarsys.capella.core.sirius.analysis.queries.interactionServices.GetISScopeInsertComponents"></queryAlgorithm>
    </querySpecification>    
    <querySpecification
          queryIdentifier="GetCCIIShowHideComponent">
       <queryAlgorithm
             algorithm="org.polarsys.capella.core.sirius.analysis.queries.csServices.GetCCIIShowHideComponent"></queryAlgorithm>
    </querySpecification>
    <querySpecification
          queryIdentifier="GetCCIIShowHideActor">
       <queryAlgorithm
             algorithm="org.polarsys.capella.core.sirius.analysis.queries.csServices.GetCCIIShowHideActor"></queryAlgorithm>
    </querySpecification>
    <querySpecification
          queryIdentifier="GetAllRealizablePhysicalArtefacts">
       <queryAlgorithm
             algorithm="org.polarsys.capella.core.sirius.analysis.queries.configurationItemServices.GetAllRealizablePhysicalArtefacts"></queryAlgorithm>
    </querySpecification> 




    <querySpecification queryIdentifier="GetABShowHideActor">
      <queryAlgorithm algorithm="org.polarsys.capella.core.sirius.analysis.queries.GetABShowHideActor" />
    </querySpecification>
    
    
    <querySpecification queryIdentifier="GetCCIIInsertComponent__Lib" extendedQueryIdentifier="GetCCIIInsertComponent">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.queries.GenericGetForLibWithCorrespondingArchitectureElement" />
    </querySpecification>
    <querySpecification queryIdentifier="GetABInsertActor__Lib" extendedQueryIdentifier="GetABInsertActor">
      <queryAlgorithm algorithm="org.polarsys.capella.core.sirius.analysis.queries.csServices.GetABInsertActor__Lib" />
    </querySpecification>
    <querySpecification queryIdentifier="GetABInsertComponent__Lib" extendedQueryIdentifier="GetABInsertComponent">
      <queryAlgorithm algorithm="org.polarsys.capella.core.sirius.analysis.queries.csServices.GetABInsertComponent__Lib" />
    </querySpecification>
    <querySpecification queryIdentifier="GetCCEIInsertInterfaceForLib" extendedQueryIdentifier="GetCCEIInsertInterface">
      <queryAlgorithm algorithm="org.polarsys.capella.core.sirius.analysis.queries.csServices.GetCCEIInsertInterfaceForLib" />
    </querySpecification>
    <querySpecification queryIdentifier="GetCCEIShowHideActor__Lib" extendedQueryIdentifier="GetBrotherComponents">
      <queryAlgorithm algorithm="org.polarsys.capella.core.sirius.analysis.queries.csServices.GetCCEIShowHideActor__Lib" />
    </querySpecification>
    <querySpecification queryIdentifier="GetCCEIShowHideComponent__Lib" extendedQueryIdentifier="GetBrotherComponents">
      <queryAlgorithm algorithm="org.polarsys.capella.core.sirius.analysis.queries.csServices.GetCCEIShowHideComponent__Lib" />
    </querySpecification>
    <querySpecification queryIdentifier="GetCCIIShowHideComponent__Lib" extendedQueryIdentifier="GetCCIIShowHideComponent">
      <queryAlgorithm algorithm="org.polarsys.capella.core.sirius.analysis.queries.csServices.GetCCIIShowHideComponent__Lib" />
    </querySpecification>
    <querySpecification queryIdentifier="GetCCIIShowHideActor__Lib" extendedQueryIdentifier="GetCCIIShowHideActor">
      <queryAlgorithm algorithm="org.polarsys.capella.core.sirius.analysis.queries.csServices.GetCCIIShowHideActor__Lib" />
    </querySpecification>
    <querySpecification queryIdentifier="GetIBShowHideComponent__Lib" extendedQueryIdentifier="GetIBShowHideComponent">
      <queryAlgorithm algorithm="org.polarsys.capella.core.sirius.analysis.queries.csServices.GetIBShowHideComponent__Lib" />
    </querySpecification>
    <querySpecification queryIdentifier="GetIBShowHideActor__Lib" extendedQueryIdentifier="GetIBShowHideActor">
      <queryAlgorithm algorithm="org.polarsys.capella.core.sirius.analysis.queries.csServices.GetIBShowHideActor__Lib" />
    </querySpecification>
        <querySpecification
              extendedQueryIdentifier="GetISScopeInsertActors"
              queryIdentifier="GetISScopeInsertActors__Lib">
           <queryAlgorithm
                 algorithm="org.polarsys.capella.core.sirius.analysis.queries.interactionServices.GetISScopeInsertActors__Lib">
           </queryAlgorithm>
        </querySpecification>
        <querySpecification
              extendedQueryIdentifier="GetISScopeInsertComponents"
              queryIdentifier="GetISScopeInsertComponents__Lib">
           <queryAlgorithm
                 algorithm="org.polarsys.capella.core.sirius.analysis.queries.interactionServices.GetISScopeInsertComponents__Lib">
           </queryAlgorithm>
        </querySpecification>
      
 </extension>
 <extension
       point="org.eclipse.ui.preferencePages">
    <page
          category="org.polarsys.capella.common.ui.preferences.diagram"
          class="org.polarsys.capella.core.sirius.analysis.preferences.DiagramProcessChainPathPreferencePage"
          id="org.polarsys.capella.core.sirius.analysis.preferences.DiagramsProcessChainPathPreferencePagePreferencePage"
          name="%Diagram_Process_Chain_Path_Page_Name">
    </page>
    <page
	      category="org.polarsys.capella.common.ui.preferences.diagram"
	      class="org.polarsys.capella.core.sirius.analysis.preferences.TitleBlockPreferencePage"
	      id="org.polarsys.capella.core.platform.sirius.ui.actions.preferences.TitleBlockPage"
	      name="%Diagram_Title_Block_Page_Name">
	</page>
 </extension>
 <extension
       point="org.eclipse.core.runtime.preferences">
    <initializer
      		 class="org.polarsys.capella.core.sirius.analysis.preferences.TitleBlockPreferencesInitializer">
      </initializer>
      <initializer
          class="org.polarsys.capella.core.sirius.analysis.preferences.DiagramProcessChainPathPreferenceInitializer">
      </initializer>
 </extension>
 <extension
       point="org.eclipse.ui.propertyPages">
     <page
            category="org.polarsys.capella.core.platform.sirius.ui.actions.Capella.page"
            class="org.polarsys.capella.core.commands.preferences.ui.AbstractCapellaCommandsPreferencePage"
            id="org.polarsys.capella.common.ui.preferences.diagram"
            name="%Diagram_Page_Name"
            objectClass="org.eclipse.core.resources.IProject">
    </page>
    <page
          category="org.polarsys.capella.common.ui.preferences.diagram"
          class="org.polarsys.capella.core.sirius.analysis.preferences.DiagramProcessChainPathPreferencePage"
          id="org.polarsys.capella.core.sirius.analysis.preferences.DiagramsPreferencePage"
          name="%Diagram_Process_Chain_Path_Page_Name"
          objectClass="org.eclipse.core.resources.IProject">
            <enabledWhen>
          <reference
                definitionId="org.polarsys.capella.core.preferences.project.property.pages.visibilityExpression">
          </reference>
       </enabledWhen>
    </page>
    <page
	      category="org.polarsys.capella.common.ui.preferences.diagram"
	      class="org.polarsys.capella.core.sirius.analysis.preferences.TitleBlockPreferencePage"
	      id="org.polarsys.capella.core.platform.sirius.ui.actions.preferences.TitleBlockPage"
	      name="%Diagram_Title_Block_Page_Name"
          objectClass="org.eclipse.core.resources.IProject">
            <enabledWhen>
          <reference
                definitionId="org.polarsys.capella.core.preferences.project.property.pages.visibilityExpression">
          </reference>
       </enabledWhen>
	</page>
 </extension>
 <extension id="org.polarsys.capella.core.sirius.analysis.CapellaInterpreter" point="org.eclipse.sirius.common.expressionInterpreter">
    <expressionInterpreterProvider interpreterProviderClass="org.polarsys.capella.core.sirius.analysis.CapellaInterpreter" />
 </extension>
 <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
        class="org.polarsys.capella.core.sirius.analysis.providers.TitleBlockItemDecoratorAdapterFactory"
        supportedTypes="org.eclipse.emf.edit.provider.IItemLabelProvider"
        uri="http://www.eclipse.org/sirius/description/1.1.0"/>
 </extension>
 <extension
        point="org.polarsys.capella.core.model.handler.decoratorAdapterFactory">
     <decoratorAdapterFactory
           class="org.polarsys.capella.core.sirius.analysis.providers.TitleBlockItemDecoratorAdapterFactory">
     </decoratorAdapterFactory>
 </extension>
 <extension
       point="org.polarsys.kitalpha.sirius.rotativeimage">
    <imageid
          id="/org.polarsys.capella.core.sirius.analysis/description/images/StandardPort_providedrequired.svg"
          kind="4images">
    </imageid>
    <imageid
          id="/org.polarsys.capella.core.sirius.analysis/description/images/StandardPort_required.svg"
          kind="4images">
    </imageid>
    <imageid
          id="/org.polarsys.capella.core.sirius.analysis/description/images/StandardPort_provided.svg"
          kind="4images">
    </imageid>
    <imageid
          id="/org.polarsys.capella.core.sirius.analysis/description/images/InFlowPort.svg"
          kind="4images">
    </imageid>
    <imageid
          id="/org.polarsys.capella.core.sirius.analysis/description/images/OutFlowPort.svg"
          kind="4images">
    </imageid>
    <imageid
          id="/org.polarsys.capella.core.sirius.analysis/description/images/StandardPortSmall.svg"
          kind="4images">
    </imageid>
    <imageid
          id="/org.polarsys.capella.core.sirius.analysis/description/images/FunctionInputPort.svg"
          kind="4images">
    </imageid>
    <imageid
          id="/org.polarsys.capella.core.sirius.analysis/description/images/FunctionOutputPort.svg"
          kind="4images">
    </imageid>
    <imageid
          id="/org.polarsys.capella.core.sirius.analysis/description/images/CategoryInput.svg"
          kind="4images">
    </imageid>
    <imageid
          id="/org.polarsys.capella.core.sirius.analysis/description/images/CategoryOutput.svg"
          kind="4images">
    </imageid>
 </extension>
 <extension
         point="org.eclipse.gmf.runtime.diagram.ui.editpolicyProviders">
      <editpolicyProvider
            class="org.polarsys.capella.core.sirius.analysis.policies.OpenRelatedDiagramEditPolicyProvider">
         <Priority
               name="Highest">
         </Priority>
      </editpolicyProvider>
   </extension>
 <extension
       point="org.eclipse.sirius.sessionManagerListener">
    <listener
          class="org.polarsys.capella.core.sirius.analysis.titleblock.TitleBlockSessionManagerListener">
    </listener>
 </extension>
</plugin>
