<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  Copyright (c) 2006, 2021 THALES GLOBAL SERVICES.
  
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0
  
  SPDX-License-Identifier: EPL-2.0
  
  Contributors:
       Thales - initial API and implementation
-->
<plugin>
   <extension-point id="sessionAdvisor" name="Session Advisor" schema="schema/sessionAdvisor.exsd"/>
   <extension-point id="copyformatProvider" name="Copy Format Provider" schema="schema/copyformatProvider.exsd"/>
   <extension-point id="sessionActionListener" name="Session Action Listener" schema="schema/sessionActionListener.exsd"/>
   
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="org.polarsys.capella.core.data.capellamodeller.util.CapellamodellerResourceFactoryImpl"
            type="capellafragment">
      </parser>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="org.polarsys.capella.core.sirius.ui.editor.CapellaDashboardEditorInputFactory"
            id="org.polarsys.capella.core.sirius.ui.editor.CapellaDashboardEditorInputFactory">
      </factory>
   </extension>
    <extension
         point="org.eclipse.sirius.analysisSelectorProvider">
      <provider id="org.polarsys.capella.core.sirius.ui.danalysis.CapellaAnalysisSelectorProvider"
            providerClass="org.polarsys.capella.core.sirius.ui.danalysis.CapellaAnalysisSelectorProvider">
      </provider>
   </extension>
   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
         type="airdfragment"
         class="org.eclipse.sirius.business.internal.resource.AirDResourceFactory">
      </parser>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders">
      <GlobalActionHandlerProvider
            class="org.polarsys.capella.core.sirius.ui.CapellaGlobalActionHandlerProvider"
            id="org.polarsys.capella.core.sirius.ui.CapellaGlobalActionHandlerProvider">
         <Priority
               name="Highest">
         </Priority>
         <ViewId
               id="org.eclipse.sirius.diagram.ui.part.SiriusDiagramEditorID">
            <ElementType
                  class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId
                     actionId="cut">
               </GlobalActionId>
               <GlobalActionId
                     actionId="copy">
               </GlobalActionId>
               <GlobalActionId
                     actionId="paste">
               </GlobalActionId>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
   </extension>
   
   <extension
         point="org.polarsys.capella.core.sirius.ui.copyformatProvider">
      <keysProvider
            class="org.polarsys.capella.core.sirius.ui.copyformat.keyproviders.TraceabilityKeyProvider">
      </keysProvider>
   </extension>
   
   <extension
         point="org.eclipse.sirius.diagram.ui.formatDataManager">
      <formatDataManagerProvider
            class="org.polarsys.capella.core.sirius.ui.copyformat.CapellaFormatDataManagerProvider"
            id="org.polarsys.capella.core.sirius.ui.formatDataManagerProvider">
      </formatDataManagerProvider>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders">
      <GlobalActionHandlerProvider
            class="org.polarsys.capella.core.sirius.ui.actions.CapellaSiriusDeleteGlobalActionHandlerProvider"
            id="org.polarsys.capella.core.sirius.ui.CapellaGlobalActionHandlerProvider_prod00088921">
         <Priority
               name="Highest">
         </Priority>
         <ViewId
               id="org.eclipse.sirius.diagram.part.SiriusDiagramEditorID">
            <ElementType
                  class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId
                     actionId="delete">
               </GlobalActionId>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
   </extension>
   <extension
         point="org.polarsys.capella.common.ef.editingDomainListener">
      <editingDomainListener
            class="org.polarsys.capella.core.sirius.ui.listener.FileModificationPreCommitListener">
      </editingDomainListener>
   </extension>
   <extension
         point="org.eclipse.sirius.sessionManagerListener">
      <listener
            class="org.polarsys.capella.core.sirius.ui.listener.DAnnotationPrecommitListener">
      </listener>
   </extension>
   <extension
         point="org.eclipse.ltk.core.refactoring.renameParticipants">
      <renameParticipant
            class="org.polarsys.capella.core.sirius.ui.refactoring.CapellaRenameParticipant"
            id="org.polarsys.capella.core.sirius.ui.refactoring.rename.participant"
            name="%Capella_Rename_Participant_name">
         <enablement>
            <with variable="affectedNatures">
               <iterate ifEmpty="false" operator="or">
                  <or>
                     <equals
                           value="org.polarsys.capella.library.nature">
                     </equals>
                     <equals
                           value="org.polarsys.capella.project.nature">
                     </equals>
                  </or>
               </iterate>
            </with>
         </enablement>
      </renameParticipant>
   </extension>
   <extension
         point="org.polarsys.capella.core.commandline.core.commandline">
      <CommandlineExtension
            class="org.polarsys.capella.core.sirius.ui.commandline.RefreshAirdCommandLine"
            id="org.polarsys.capella.refreshRepresentations">
      </CommandlineExtension>
      <CommandlineExtension
            class="org.polarsys.capella.core.sirius.ui.commandline.RemoveHiddenElementsCommandLine"
            id="org.polarsys.capella.removeHiddenElements">
      </CommandlineExtension>
      <CommandlineExtension
            class="org.polarsys.capella.core.sirius.ui.commandline.ExportRepresentationsCommandLine"
            id="org.polarsys.capella.exportRepresentations">
      </CommandlineExtension>
   </extension>
   
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.polarsys.capella.core.sirius.ui"
            name="%category.capella.name"
            description="%category.capella.description">
      </category>
      <command
            categoryId="org.polarsys.capella.core.sirius.ui"
            defaultHandler="org.polarsys.capella.core.sirius.ui.handlers.RefreshDiagramsCommandHandler"
            id="org.polarsys.capella.core.sirius.ui.refreshAird"
            name="%command.refreshDiagrams"
            description="%command.refreshDiagrams.description">
      </command>
      <command
            categoryId="org.polarsys.capella.core.sirius.ui"
            defaultHandler="org.polarsys.capella.core.sirius.ui.handlers.RemoveHiddenElementsHandler"
            id="org.polarsys.capella.core.sirius.ui.removeHiddenElements"
            name="%command.removeHiddenElements"
            description="%command.removeHiddenElements.description">
      </command>
      <command
            categoryId="org.polarsys.capella.core.sirius.ui"
            defaultHandler="org.polarsys.capella.core.sirius.ui.handlers.CopyTextHandler"
            description="%command.copyAsText.description"
            id="org.polarsys.capella.core.sirius.ui.copyAsText"
            name="%command.copyAsText">
      </command>
      
   </extension>
   
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.polarsys.capella.core.copyAs?after=org.polarsys.capella.core.ui.properties.richtext.CopyAsDescriptionLink">
         <command
               commandId="org.polarsys.capella.core.sirius.ui.copyAsText"
               icon="icons/copy.gif"
               label="%command.copyAsText"
               style="push">
            <visibleWhen
                  checkEnabled="true">
                  <with
		               variable="selection">
		               <iterate 
		                   ifEmpty="false">
		              </iterate>
		         </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution 
      		locationURI="popup:capella.project.explorer#PopupMenu?after=group.project">
         <command
               commandId="org.polarsys.capella.core.sirius.ui.refreshAird"
               label="%command.refreshDiagrams"
               style="push">
            <visibleWhen checkEnabled="true">
               <with variable="selection">
                  <and>
                     <iterate>
                        <or>
                           <and>
                              <instanceof
                                    value="org.eclipse.core.resources.IFile">
                              </instanceof>
                              <test
                                    forcePluginActivation="true"
                                    property="org.eclipse.core.resources.extension"
                                    value="aird">
                              </test>
                           </and>
                           <instanceof
                                 value="org.polarsys.capella.common.data.modellingcore.ModelElement">
                           </instanceof>
                        </or>
                     </iterate>
                     <count value="1">
                     </count>
                  </and>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.polarsys.capella.core.sirius.ui.removeHiddenElements"
               label="%command.removeHiddenElements"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <with
                     variable="selection">
                  <and>
                     <iterate>
                        <or>
                           <and>
                              <instanceof
                                    value="org.eclipse.core.resources.IFile">
                              </instanceof>
                              <test
                                    forcePluginActivation="true"
                                    property="org.eclipse.core.resources.extension"
                                    value="aird">
                              </test>
                           </and>
                           <instanceof
                                 value="org.polarsys.capella.common.data.modellingcore.ModelElement">
                           </instanceof>
                        </or>
                     </iterate>
                     <count
                           value="1">
                     </count>
                  </and>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      
   </extension>
   
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.polarsys.capella.core.sirius.ui.refreshAird"
            icon="icons/viewpoint.gif">
      </image>
      <image
            commandId="org.polarsys.capella.core.sirius.ui.removeHiddenElements"
            icon="icons/viewpoint.gif">
      </image>
   </extension>
   
</plugin>
