<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  Copyright (c) 2006, 2023 THALES GLOBAL SERVICES.
  
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0
  
  SPDX-License-Identifier: EPL-2.0
  
  Contributors:
       Thales - initial API and implementation
-->
<plugin>
   <extension-point id="sessionAdvisor" name="Session Advisor" schema="schema/sessionAdvisor.exsd"/>
   <extension-point id="copyformatProvider" name="Copy Format Provider" schema="schema/copyformatProvider.exsd"/>
   <extension-point id="sessionActionListener" name="Session Action Listener" schema="schema/sessionActionListener.exsd"/>
   
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="org.polarsys.capella.core.data.capellamodeller.util.CapellamodellerResourceFactoryImpl"
            type="capellafragment">
      </parser>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="org.polarsys.capella.core.sirius.ui.editor.CapellaDashboardEditorInputFactory"
            id="org.polarsys.capella.core.sirius.ui.editor.CapellaDashboardEditorInputFactory">
      </factory>
   </extension>
    <extension
         point="org.eclipse.sirius.analysisSelectorProvider">
      <provider id="org.polarsys.capella.core.sirius.ui.danalysis.CapellaAnalysisSelectorProvider"
            providerClass="org.polarsys.capella.core.sirius.ui.danalysis.CapellaAnalysisSelectorProvider">
      </provider>
   </extension>
   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
         type="airdfragment"
         class="org.eclipse.sirius.business.internal.resource.AirDResourceFactory">
      </parser>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders">
      <GlobalActionHandlerProvider
            class="org.polarsys.capella.core.sirius.ui.CapellaGlobalActionHandlerProvider"
            id="org.polarsys.capella.core.sirius.ui.CapellaGlobalActionHandlerProvider">
         <Priority
               name="Highest">
         </Priority>
         <ViewId
               id="org.eclipse.sirius.diagram.ui.part.SiriusDiagramEditorID">
            <ElementType
                  class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId
                     actionId="cut">
               </GlobalActionId>
               <GlobalActionId
                     actionId="copy">
               </GlobalActionId>
               <GlobalActionId
                     actionId="paste">
               </GlobalActionId>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
   </extension>
   
   <extension
         point="org.polarsys.capella.core.sirius.ui.copyformatProvider">
      <keysProvider
            class="org.polarsys.capella.core.sirius.ui.copyformat.keyproviders.TraceabilityKeyProvider">
      </keysProvider>
      <keysProvider
            class="org.polarsys.capella.core.sirius.ui.copyformat.keyproviders.InvolvementKeyProvider">
      </keysProvider>
   </extension>
   
   <extension
         point="org.eclipse.sirius.diagram.ui.formatDataManager">
      <formatDataManagerProvider
            class="org.polarsys.capella.core.sirius.ui.copyformat.CapellaFormatDataManagerProvider"
            id="org.polarsys.capella.core.sirius.ui.formatDataManagerProvider">
      </formatDataManagerProvider>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders">
      <GlobalActionHandlerProvider
            class="org.polarsys.capella.core.sirius.ui.actions.CapellaSiriusDeleteGlobalActionHandlerProvider"
            id="org.polarsys.capella.core.sirius.ui.CapellaGlobalActionHandlerProvider_prod00088921">
         <Priority
               name="Highest">
         </Priority>
         <ViewId
               id="org.eclipse.sirius.diagram.part.SiriusDiagramEditorID">
            <ElementType
                  class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId
                     actionId="delete">
               </GlobalActionId>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
   </extension>
   <extension
         point="org.polarsys.capella.common.ef.editingDomainListener">
      <editingDomainListener
            class="org.polarsys.capella.core.sirius.ui.listener.FileModificationPreCommitListener">
      </editingDomainListener>
   </extension>
   <extension
         point="org.eclipse.sirius.sessionManagerListener">
      <listener
            class="org.polarsys.capella.core.sirius.ui.listener.DAnnotationPrecommitListener">
      </listener>
   </extension>
   <extension
         point="org.eclipse.ltk.core.refactoring.renameParticipants">
      <renameParticipant
            class="org.polarsys.capella.core.sirius.ui.refactoring.CapellaRenameParticipant"
            id="org.polarsys.capella.core.sirius.ui.refactoring.rename.participant"
            name="%Capella_Rename_Participant_name">
         <enablement>
            <with variable="affectedNatures">
               <iterate ifEmpty="false" operator="or">
                  <or>
                     <equals
                           value="org.polarsys.capella.library.nature">
                     </equals>
                     <equals
                           value="org.polarsys.capella.project.nature">
                     </equals>
                  </or>
               </iterate>
            </with>
         </enablement>
      </renameParticipant>
   </extension>
   <extension
         point="org.polarsys.capella.core.commandline.core.commandline">
      <CommandlineExtension
            class="org.polarsys.capella.core.sirius.ui.commandline.RefreshAirdCommandLine"
            id="org.polarsys.capella.refreshRepresentations">
      </CommandlineExtension>
      <CommandlineExtension
            class="org.polarsys.capella.core.sirius.ui.commandline.RemoveHiddenElementsCommandLine"
            id="org.polarsys.capella.removeHiddenElements">
      </CommandlineExtension>
      <CommandlineExtension
            class="org.polarsys.capella.core.sirius.ui.commandline.ExportRepresentationsCommandLine"
            id="org.polarsys.capella.exportRepresentations">
      </CommandlineExtension>
   </extension>
   
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.polarsys.capella.core.sirius.ui"
            name="%category.capella.name"
            description="%category.capella.description">
      </category>
      <command
            categoryId="org.polarsys.capella.core.sirius.ui"
            defaultHandler="org.polarsys.capella.core.sirius.ui.handlers.RefreshDiagramsCommandHandler"
            id="org.polarsys.capella.core.sirius.ui.refreshAird"
            name="%command.refreshDiagrams"
            description="%command.refreshDiagrams.description">
      </command>
      <command
            categoryId="org.polarsys.capella.core.sirius.ui"
            defaultHandler="org.polarsys.capella.core.sirius.ui.handlers.RemoveHiddenElementsHandler"
            id="org.polarsys.capella.core.sirius.ui.removeHiddenElements"
            name="%command.removeHiddenElements"
            description="%command.removeHiddenElements.description">
      </command>
      <command
            categoryId="org.polarsys.capella.core.sirius.ui"
            defaultHandler="org.polarsys.capella.core.sirius.ui.handlers.CopyTextHandler"
            description="%command.copyAsText.description"
            id="org.polarsys.capella.core.sirius.ui.copyAsText"
            name="%command.copyAsText">
      </command>
       <command
            defaultHandler="org.polarsys.capella.core.sirius.ui.handlers.CreateFunctionalChainActionHandler"
            description="Create Functional Chain"
            id="org.polarsys.capella.core.sirius.ui.actions.CreateFunctionalChainAction"
            name="Create a Functional Chain">
      </command>
      
      <command
            defaultHandler="org.polarsys.capella.core.sirius.ui.handlers.CreateFunctionalChainActionHandler"
            description="Create Operational Process"
            id="org.polarsys.capella.core.sirius.ui.actions.CreateOperationalProcessAction"
            name="Create an Operational Process">
      </command>
      
      <command
            defaultHandler="org.polarsys.capella.core.sirius.ui.handlers.CreatePhysicalPathActionHandler"
            description="Create Physical Path"
            id="org.polarsys.capella.core.sirius.ui.actions.CreatePhysicalPathAction"
            name="Create a Physical Path">
      </command>
   </extension>
   
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.polarsys.capella.core.copyAs?after=group.copyAs">
         <command
               commandId="org.polarsys.capella.core.sirius.ui.copyAsText"
               icon="icons/copy.gif"
               label="%command.copyAsText"
               style="push">
            <visibleWhen
                  checkEnabled="true">
                  <with
		               variable="selection">
		               <iterate 
		                   ifEmpty="false">
		              </iterate>
		         </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution 
      		locationURI="popup:capella.project.explorer#PopupMenu?after=group.project">
         <command
               commandId="org.polarsys.capella.core.sirius.ui.refreshAird"
               label="%command.refreshDiagrams"
               style="push">
            <visibleWhen checkEnabled="true">
               <with variable="selection">
                  <and>
                     <iterate>
                        <or>
                           <and>
                              <instanceof
                                    value="org.eclipse.core.resources.IFile">
                              </instanceof>
                              <test
                                    forcePluginActivation="true"
                                    property="org.eclipse.core.resources.extension"
                                    value="aird">
                              </test>
                           </and>
                           <instanceof
                                 value="org.polarsys.capella.common.data.modellingcore.ModelElement">
                           </instanceof>
                        </or>
                     </iterate>
                     <count value="1">
                     </count>
                  </and>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.polarsys.capella.core.sirius.ui.removeHiddenElements"
               label="%command.removeHiddenElements"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <with
                     variable="selection">
                  <and>
                     <iterate>
                        <or>
                           <and>
                              <instanceof
                                    value="org.eclipse.core.resources.IFile">
                              </instanceof>
                              <test
                                    forcePluginActivation="true"
                                    property="org.eclipse.core.resources.extension"
                                    value="aird">
                              </test>
                           </and>
                           <instanceof
                                 value="org.polarsys.capella.common.data.modellingcore.ModelElement">
                           </instanceof>
                        </or>
                     </iterate>
                     <count
                           value="1">
                     </count>
                  </and>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      
   </extension>
   
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.polarsys.capella.core.sirius.ui.refreshAird"
            icon="icons/viewpoint.gif">
      </image>
      <image
            commandId="org.polarsys.capella.core.sirius.ui.removeHiddenElements"
            icon="icons/viewpoint.gif">
      </image>
   </extension>
      <extension
         point="org.eclipse.core.expressions.definitions">
         <definition
            id="org.polarsys.capella.core.sirius.ui.menu.fc.isValidFCMenu">
            <with
               variable="activeMenuSelection">
                <test
                            property="org.polarsys.capella.core.sirius.ui.menu.fc.isValidFCMenuTarget">
                 </test>
                 </with>
      </definition>
       <definition
            id="org.polarsys.capella.core.sirius.ui.menu.op.isValidOPMenu">
            <with
               variable="activeMenuSelection">
                <test
                            property="org.polarsys.capella.core.sirius.ui.menu.op.isValidOPMenuTarget">
                 </test>
                 </with>
      </definition>
      <definition
            id="org.polarsys.capella.core.sirius.ui.menu.pp.isValidPPMenu">
            <with
               variable="activeMenuSelection">
                <test
                            property="org.polarsys.capella.core.sirius.ui.menu.pp.isValidPPMenuTarget">
                 </test>
                 </with>
      </definition>
      <definition
            id="org.polarsys.capella.core.sirius.ui.menu.categories.isValidCECategoryMenu">
            <with
               variable="activeMenuSelection">
                <test
                            property="org.polarsys.capella.core.sirius.ui.menu.categories.isValidCECategoryMenuTarget">
                 </test>
                 </with>
      </definition>
       <definition
            id="org.polarsys.capella.core.sirius.ui.menu.categories.isValidFECategoryMenu">
            <with
               variable="activeMenuSelection">
                <test
                            property="org.polarsys.capella.core.sirius.ui.menu.categories.isValidFECategoryMenuTarget">
                 </test>
                 </with>
      </definition>
       <definition
            id="org.polarsys.capella.core.sirius.ui.menu.categories.isValidPLCategoryMenu">
            <with
               variable="activeMenuSelection">
                <test
                            property="org.polarsys.capella.core.sirius.ui.menu.categories.isValidPLCategoryMenuTarget">
                 </test>
                 </with>
      </definition>
   </extension>
      <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.polarsys.capella.core.sirius.ui.testers.ValidFCMenuTargetTester"
            id="org.polarsys.capella.core.sirius.ui.menu.fc.isValidFCMenuTargetTester"
            namespace="org.polarsys.capella.core.sirius.ui.menu.fc"
            properties="isValidFCMenuTarget"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="org.polarsys.capella.core.sirius.ui.testers.ValidOPMenuTargetTester"
            id="org.polarsys.capella.core.sirius.ui.menu.op.isValidOPMenuTargetTester"
            namespace="org.polarsys.capella.core.sirius.ui.menu.op"
            properties="isValidOPMenuTarget"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="org.polarsys.capella.core.sirius.ui.testers.ValidPPMenuTargetTester"
            id="org.polarsys.capella.core.sirius.ui.menu.pp.isValidPPMenuTargetTester"
            namespace="org.polarsys.capella.core.sirius.ui.menu.pp"
            properties="isValidPPMenuTarget"
            type="java.lang.Object">
      </propertyTester>
       <propertyTester
            class="org.polarsys.capella.core.sirius.ui.testers.ValidCECategoryMenuTargetTester"
            id="org.polarsys.capella.core.sirius.ui.menu.categories.isValidCECategoryMenuTargetTester"
            namespace="org.polarsys.capella.core.sirius.ui.menu.categories"
            properties="isValidCECategoryMenuTarget"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="org.polarsys.capella.core.sirius.ui.testers.ValidFECategoryMenuTargetTester"
            id="org.polarsys.capella.core.sirius.ui.menu.categories.isValidFECategoryMenuTargetTester"
            namespace="org.polarsys.capella.core.sirius.ui.menu.categories"
            properties="isValidFECategoryMenuTarget"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="org.polarsys.capella.core.sirius.ui.testers.ValidPLCategoryMenuTargetTester"
            id="org.polarsys.capella.core.sirius.ui.menu.categories.isValidPLCategoryMenuTargetTester"
            namespace="org.polarsys.capella.core.sirius.ui.menu.categories"
            properties="isValidPLCategoryMenuTarget"
            type="java.lang.Object">
      </propertyTester>
      </extension>
   
   <extension point="org.eclipse.ui.menus">
	<menuContribution
        locationURI="popup:BusinessSelectMenuSirius">
       <command
          commandId="org.polarsys.capella.core.sirius.ui.select.elements.of.same.type"
          label="Elements of same type"
          style="push">
       <visibleWhen
             checkEnabled="true">
          <reference
                definitionId="org.polarsys.capella.core.sirius.ui.isValidElementsOfSameTypeMenu">
          </reference>
       </visibleWhen>
  	  </command>
  	   <command
          commandId="org.polarsys.capella.core.sirius.ui.select.op.related.elements"
          label="Related Operational Process Elements"
          style="push">
       <visibleWhen
             checkEnabled="true">
          <reference
                definitionId="org.polarsys.capella.core.sirius.ui.isValidOPSelectionMenu">
          </reference>
       </visibleWhen>
  	  </command>   
  	  <command
          commandId="org.polarsys.capella.core.sirius.ui.select.fc.related.elements"
          label="Related Functional Chain Elements"
          style="push">
       <visibleWhen
             checkEnabled="true">
          <reference
                definitionId="org.polarsys.capella.core.sirius.ui.isValidFCSelectionMenu">
          </reference>
       </visibleWhen>
  	  </command>   
  	  <command
          commandId="org.polarsys.capella.core.sirius.ui.select.pp.related.elements"
          label="Related Physical Path Elements"
          style="push">
       <visibleWhen
             checkEnabled="true">
          <reference
                definitionId="org.polarsys.capella.core.sirius.ui.isValidPPSelectionMenu">
          </reference>
       </visibleWhen>
  	  </command>   
  	  <command
          commandId="org.polarsys.capella.core.sirius.ui.select.resembling.elements"
          label="Resembling Elements"
          style="push">
       <visibleWhen
             checkEnabled="true">
          <reference
                definitionId="org.polarsys.capella.core.sirius.ui.isValidResemblingElementsMenu">
          </reference>
       </visibleWhen>
  	  </command> 
  	   <command
          commandId="org.polarsys.capella.core.sirius.ui.select.owned.ports"
          label="Owned Ports"
          style="push">
       <visibleWhen
             checkEnabled="true">
          <reference
                definitionId="org.polarsys.capella.core.sirius.ui.isValidOwnedPortsMenu">
          </reference>
       </visibleWhen>
  	  </command>    
  	  <command
          commandId="org.polarsys.capella.core.sirius.ui.select.owned.elements"
          label="Owned Elements"
          style="push">
       <visibleWhen
             checkEnabled="true">
          <reference
                definitionId="org.polarsys.capella.core.sirius.ui.isValidOwnedElementsMenu">
          </reference>
       </visibleWhen>
  	  </command>  
  	  <command
          commandId="org.polarsys.capella.core.sirius.ui.select.related.connections"
          label="Related Connections"
          style="push">
       <visibleWhen
             checkEnabled="true">
          <reference
                definitionId="org.polarsys.capella.core.sirius.ui.isValidRelatedConnectionsMenu">
          </reference>
       </visibleWhen>
  	  </command>  
	 </menuContribution>
   </extension>
   
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.polarsys.capella.core.sirius.ui.handlers.SelectElementsOfSameTypeCommandHandler"
            id="org.polarsys.capella.core.sirius.ui.select.elements.of.same.type"
            name="Select Elements of same type">
      </command>
      <command
            defaultHandler="org.polarsys.capella.core.sirius.ui.handlers.SelectRelatedFCElementsCommandHandler"
            id="org.polarsys.capella.core.sirius.ui.select.op.related.elements"
            name="Select Related Operational Process Elements">
      </command>
      <command
            defaultHandler="org.polarsys.capella.core.sirius.ui.handlers.SelectRelatedFCElementsCommandHandler"
            id="org.polarsys.capella.core.sirius.ui.select.fc.related.elements"
            name="Select Related Functional Chain Elements">
      </command>
      <command
            defaultHandler="org.polarsys.capella.core.sirius.ui.handlers.SelectRelatedPPElementsCommandHandler"
            id="org.polarsys.capella.core.sirius.ui.select.pp.related.elements"
            name="Select Related Physical Path Elements">
      </command>
      <command
            defaultHandler="org.polarsys.capella.core.sirius.ui.handlers.SelectResemblingElementsCommandHandler"
            id="org.polarsys.capella.core.sirius.ui.select.resembling.elements"
            name="Select Resembling Elements">
      </command>
      <command
            defaultHandler="org.polarsys.capella.core.sirius.ui.handlers.SelectOwnedPortsCommandHandler"
            id="org.polarsys.capella.core.sirius.ui.select.owned.ports"
            name="Select Owned Ports">
      </command>
       <command
            defaultHandler="org.polarsys.capella.core.sirius.ui.handlers.SelectOwnedElementsCommandHandler"
            id="org.polarsys.capella.core.sirius.ui.select.owned.elements"
            name="Select Owned Elements">
      </command>
      <command
            defaultHandler="org.polarsys.capella.core.sirius.ui.handlers.SelectRelatedConnectionsCommandHandler"
            id="org.polarsys.capella.core.sirius.ui.select.related.connections"
            name="Select Related Connections">
      </command>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.polarsys.capella.core.sirius.ui.testers.ValidElementsOfSameTypeMenuTargetTester"
            id="org.polarsys.capella.core.sirius.ui.ValidElementsOfSameTypeMenuTargetTester"
            namespace="org.polarsys.capella.core.sirius.ui"
            properties="isValidElementsOfSameTypeMenu"
            type="java.lang.Object">
      </propertyTester>   
       <propertyTester
            class="org.polarsys.capella.core.sirius.ui.testers.ValidOPSelectionMenuTargetTester"
            id="org.polarsys.capella.core.sirius.ui.ValidOPSelectionMenuTargetTester"
            namespace="org.polarsys.capella.core.sirius.ui"
            properties="isValidOPSelectionMenu"
            type="java.lang.Object">
      </propertyTester>  
      <propertyTester
            class="org.polarsys.capella.core.sirius.ui.testers.ValidFCSelectionMenuTargetTester"
            id="org.polarsys.capella.core.sirius.ui.ValidFCSelectionMenuTargetTester"
            namespace="org.polarsys.capella.core.sirius.ui"
            properties="isValidFCSelectionMenu"
            type="java.lang.Object">
      </propertyTester>   
      <propertyTester
            class="org.polarsys.capella.core.sirius.ui.testers.ValidPPSelectionMenuTargetTester"
            id="org.polarsys.capella.core.sirius.ui.ValidPPSelectionMenuTargetTester"
            namespace="org.polarsys.capella.core.sirius.ui"
            properties="isValidPPSelectionMenu"
            type="java.lang.Object">
      </propertyTester>  
      <propertyTester
            class="org.polarsys.capella.core.sirius.ui.testers.ValidResemblingElementsMenuTargetTester"
            id="org.polarsys.capella.core.sirius.ui.ValidResemblingElementsMenuTargetTester"
            namespace="org.polarsys.capella.core.sirius.ui"
            properties="isValidResemblingElementsMenu"
            type="java.lang.Object">
      </propertyTester>  
      <propertyTester
            class="org.polarsys.capella.core.sirius.ui.testers.ValidOwnedPortsMenuTargetTester"
            id="org.polarsys.capella.core.sirius.ui.ValidOwnedPortsMenuTargetTester"
            namespace="org.polarsys.capella.core.sirius.ui"
            properties="isValidOwnedPortsMenu"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="org.polarsys.capella.core.sirius.ui.testers.ValidOwnedElementsMenuTargetTester"
            id="org.polarsys.capella.core.sirius.ui.ValidOwnedElementsMenuTargetTester"
            namespace="org.polarsys.capella.core.sirius.ui"
            properties="isValidOwnedElementsMenu"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="org.polarsys.capella.core.sirius.ui.testers.ValidRelatedConnectionsMenuTargetTester"
            id="org.polarsys.capella.core.sirius.ui.ValidRelatedConnectionsMenuTargetTester"
            namespace="org.polarsys.capella.core.sirius.ui"
            properties="isValidRelatedConnectionsMenu"
            type="java.lang.Object">
      </propertyTester>
   </extension>
    <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.polarsys.capella.core.sirius.ui.isValidElementsOfSameTypeMenu">
         <with
               variable="activeMenuSelection">
                  <test
                        property="org.polarsys.capella.core.sirius.ui.isValidElementsOfSameTypeMenu">
                  </test>
         </with>
      </definition>
      <definition
            id="org.polarsys.capella.core.sirius.ui.isValidFCSelectionMenu">
         <with
               variable="activeMenuSelection">
                  <test
                        property="org.polarsys.capella.core.sirius.ui.isValidFCSelectionMenu">
                  </test>
         </with>
      </definition>
       <definition
            id="org.polarsys.capella.core.sirius.ui.isValidOPSelectionMenu">
         <with
               variable="activeMenuSelection">
                  <test
                        property="org.polarsys.capella.core.sirius.ui.isValidOPSelectionMenu">
                  </test>
         </with>
      </definition>
      <definition
            id="org.polarsys.capella.core.sirius.ui.isValidPPSelectionMenu">
         <with
               variable="activeMenuSelection">
                  <test
                        property="org.polarsys.capella.core.sirius.ui.isValidPPSelectionMenu">
                  </test>
         </with>
      </definition>
      <definition
            id="org.polarsys.capella.core.sirius.ui.isValidResemblingElementsMenu">
         <with
               variable="activeMenuSelection">
                  <test
                        property="org.polarsys.capella.core.sirius.ui.isValidResemblingElementsMenu">
                  </test>
         </with>
      </definition>
      <definition
            id="org.polarsys.capella.core.sirius.ui.isValidOwnedPortsMenu">
         <with
               variable="activeMenuSelection">
                  <test
                        property="org.polarsys.capella.core.sirius.ui.isValidOwnedPortsMenu">
                  </test>
         </with>
      </definition>
      <definition
            id="org.polarsys.capella.core.sirius.ui.isValidOwnedElementsMenu">
         <with
               variable="activeMenuSelection">
                  <test
                        property="org.polarsys.capella.core.sirius.ui.isValidOwnedElementsMenu">
                  </test>
         </with>
      </definition>
      <definition
            id="org.polarsys.capella.core.sirius.ui.isValidRelatedConnectionsMenu">
         <with
               variable="activeMenuSelection">
                  <test
                        property="org.polarsys.capella.core.sirius.ui.isValidRelatedConnectionsMenu">
                  </test>
         </with>
      </definition>
     </extension>
</plugin>
