<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  Copyright (c) 2006, 2014 THALES GLOBAL SERVICES.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html

  Contributors:
       Thales - initial API and implementation
-->
<plugin>
   <extension point="org.polarsys.capella.core.tiger">
      <ruleset
            context="capella.statemachine.rules"
            rulepackage="org.polarsys.capella.core.transfo.statemachine.rules"
            transfolink="org.polarsys.capella.core.projection.common.ProjectionTraceLinkProvider">
	      <rule rulename="Rule_ChoicePseudoState"/>
	      <rule rulename="Rule_FinalState"/>
	      <rule rulename="Rule_ForkPseudoState"/>
	      <rule rulename="Rule_InitialPseudoState"/>
	      <rule rulename="Rule_JoinPseudoState"/>
	      <rule rulename="Rule_Mode"/>
	      <rule rulename="Rule_Region"/>
	      <rule rulename="Rule_State"/>
	      <rule rulename="Rule_StateMachine"/>
	      <rule rulename="Rule_StateTransition"/>
	      <rule rulename="Rule_TerminatePseudoState"/>
	      
      <sharedContext context="org.polarsys.capella.core.projection.functional.realization"/>
      <sharedContext context="org.polarsys.capella.core.projection.interfaces.definition"/>
      <sharedContext context="org.polarsys.capella.core.projection.data.rules"/>
      
      </ruleset>
   </extension>
</plugin>
