/ActivityAllocation.java
/ActivityAllocation__activity.java
/ActivityAllocation__role.java
/CommunicationMean.java
/CommunicationMean__sourceEntity.java
/CommunicationMean__targetEntity.java
/OperationalProcess.java
/OperationalProcess__involvingOperationalCapabilities.java
/RoleAllocation.java
/RoleAllocation__entity.java
/RoleAllocation__role.java
/Entity.java
/Entity__allocatedOperationalActivities.java
/Entity__allocatedRoles.java
/Entity__involvingOperationalCapabilities.java
/Entity__realizingSystemComponents.java
/Entity__roleAllocations.java
/Entity__subEntities.java
/Role.java
/Role__activityAllocations.java
/Role__allocatedOperationalActivities.java
/Role__allocatingEntities.java
/Role__roleAllocations.java
/OperationalActivity.java
/OperationalActivity__activityAllocations.java
/OperationalActivity__allocatingRoles.java
/OperationalActivity__allocatorEntities.java
/OperationalActivity__childrenOperationalActivities.java
/OperationalActivity__containedOperationalActivities.java
/OperationalActivity__ownedProcess.java
/OperationalActivity__realizingSystemFunctions.java
/OperationalAnalysis.java
/OperationalAnalysis__allocatingSystemAnalyses.java
/OperationalAnalysis__containedOperationalActivityPkg.java
/OperationalAnalysis__containedOperationalCapabilityPkg.java
/OperationalCapability.java
/OperationalCapability__involvedEntities.java
/OperationalCapability__realizingCapabilities.java
/Swimlane.java
/Swimlane__representedEntity.java
/EntityOperationalCapabilityInvolvement.java
/EntityOperationalCapabilityInvolvement__capability.java
/EntityOperationalCapabilityInvolvement__entity.java
