<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  Copyright (c) 2006, 2014 THALES GLOBAL SERVICES.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html

  Contributors:
       Thales - initial API and implementation
-->
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="MDE Reporting"
            class="org.polarsys.capella.common.platform.eclipse.tools.report.ui.pref.ReportManagerPrefPage"
            id="org.polarsys.capella.common.platform.eclipse.tools.report.ui.preferences.ReportManagerPrefPage">
      </page>
   </extension>
	<extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.polarsys.capella.common.platform.eclipse.tools.report.ui.pref.ReportManagerPrefPage">
      </initializer>
   </extension>
</plugin>
