<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
  Copyright (c) 2017, 2020 THALES GLOBAL SERVICES.
  
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0
  
  SPDX-License-Identifier: EPL-2.0
  
  Contributors:
       Thales - initial API and implementation
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated layout -->
      <package
            uri="http://org.polarsys.capella.layout"
            class="org.polarsys.capella.test.diagram.layout.ju.layout.LayoutPackage"
            genModel="model/layout.genmodel"/>
   </extension>

   

	<extension
	      point="org.eclipse.core.runtime.adapters">
	   <factory
	         adaptableType="org.polarsys.capella.test.diagram.layout.ju.layout.ISemanticLayout"
	         class="org.polarsys.capella.test.diagram.layout.ju.LayoutAdapterFactory">
	      <adapter
	            type="org.polarsys.kitalpha.emde.model.Element">
	      </adapter>
	   </factory>
	</extension>
	
   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated layout -->
      <parser
            type="layout"
            class="org.polarsys.capella.test.diagram.layout.ju.layout.util.LayoutResourceFactoryImpl"/>
   </extension>

	<extension
	      point="org.eclipse.ui.menus">
	   <menuContribution 
      		locationURI="popup:capella.project.explorer#PopupMenu?after=group.project">
         <command
               commandId="org.polarsys.capella.test.compareLayout">
          </command>
        </menuContribution>
        
       <menuContribution
                locationURI="popup:org.polarsys.capella.test.compareLayout.ui.diffmerge?after=additions">
               
              <separator name="group.showIn" visible="true" />
              <separator name="group.sendTo" visible="true" />
              
       </menuContribution>
       
	</extension>
	
	<extension
	      point="org.eclipse.ui.commands">
	      <command
             id="org.polarsys.capella.test.compareLayout"
             name="[TEST] Compare Layout"
             defaultHandler="org.polarsys.capella.test.diagram.layout.ju.handlers.CompareLayoutHandler">
	      </command>
	</extension>
	
   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated layout -->
      <factory
            uri="http://org.polarsys.capella.layout"
            class="org.polarsys.capella.test.diagram.layout.ju.layout.provider.LayoutItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>
   
   <extension
         point="org.eclipse.emf.diffmerge.ui.modelComparisonContext">
         <comparisonMethod factory="org.polarsys.capella.test.diagram.layout.ju.layout.compare.LayoutComparisonMethodFactory">
         </comparisonMethod>
   </extension>



</plugin>
