<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  Copyright (c) 2006, 2014 THALES GLOBAL SERVICES.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html

  Contributors:
       Thales - initial API and implementation
-->
<plugin>
<extension
         point="org.polarsys.capella.core.tiger">
   <ruleset
      context="org.polarsys.capella.core.projection.data.rules"
      rulepackage="org.polarsys.capella.core.projection.data">
      
      <sharedRuleset
            bundle="org.polarsys.capella.core.projection.data"
            rulepackage="org.polarsys.capella.core.projection.data.rules.propertyvalue">
          <rule rulename="Rule_PropertyValueGroup"/>
          <rule rulename="Rule_PropertyValuePkg"/>
          <rule rulename="Rule_BooleanPropertyValue"/>
          <rule rulename="Rule_EnumerationPropertyLiteral"/>
          <rule rulename="Rule_EnumerationPropertyType"/>
          <rule rulename="Rule_EnumerationPropertyValue"/>
          <rule rulename="Rule_FloatPropertyValue"/>
          <rule rulename="Rule_IntegerPropertyValue"/>
          <rule rulename="Rule_StringPropertyValue"/>
      </sharedRuleset>
      <sharedRuleset
            bundle="org.polarsys.capella.core.projection.data"
            rulepackage="org.polarsys.capella.core.projection.data.rules.collection">
          <rule rulename="Rule_Collection"/>
      </sharedRuleset>
      <sharedRuleset
            bundle="org.polarsys.capella.core.projection.data"
            rulepackage="org.polarsys.capella.core.projection.data.rules.datavalue">
          <rule rulename="Rule_Property"/>
          <rule rulename="Rule_BooleanReference"/>
          <rule rulename="Rule_ComplexValueReference"/>
          <rule rulename="Rule_ComplexValue"/>
          <rule rulename="Rule_LiteralBooleanValue"/>
          <rule rulename="Rule_EnumerationLiteral"/>
          <rule rulename="Rule_EnumerationReference"/>
          <rule rulename="Rule_LiteralNumericValue"/>
          <rule rulename="Rule_NumericReference"/>
          <rule rulename="Rule_LiteralStringValue"/>
          <rule rulename="Rule_StringReference"/>
          <rule rulename="Rule_BinaryExpression"/>
          <rule rulename="Rule_UnaryExpression"/>
          <rule rulename="Rule_ValuePart"/>
          <rule
                rulename="Rule_CollectionValue">
          </rule>
          <rule
                rulename="Rule_CollectionValueReference">
          </rule>
      </sharedRuleset>
      <sharedRuleset
            bundle="org.polarsys.capella.core.projection.data"
            rulepackage="org.polarsys.capella.core.projection.data.rules.datatype">
          <rule rulename="Rule_BooleanType"/>
          <rule rulename="Rule_Enumeration"/>
          <rule rulename="Rule_NumericType"/>
          <rule rulename="Rule_StringType"/>
          <rule rulename="Rule_PhysicalQuantity"/>
      </sharedRuleset>
      <sharedRuleset
            bundle="org.polarsys.capella.core.projection.data"
            rulepackage="org.polarsys.capella.core.projection.data.rules.classpkg">
          <rule rulename="Rule_Class"/>
          <rule rulename="Rule_Union"/>
          <rule rulename="Rule_Generalization"/>
          <rule rulename="Rule_Association"/>
          <rule rulename="Rule_Service"/>
          <rule rulename="Rule_Parameter"/>
          <rule rulename="Rule_ExchangeItemElement_ExchangeItemElement"/>
      </sharedRuleset>
      <sharedRuleset
            bundle="org.polarsys.capella.core.projection.data"
            rulepackage="org.polarsys.capella.core.projection.data.rules.communication">
          <rule rulename="Rule_Exception"/>
          <rule rulename="Rule_Message"/>
          <rule rulename="Rule_Signal"/>
      </sharedRuleset>
      <sharedRuleset
            bundle="org.polarsys.capella.core.projection.common"
            rulepackage="org.polarsys.capella.core.projection.common.rules.core">
          <rule rulename="Rule_Constraint"/>
      </sharedRuleset>
      <sharedRuleset
            bundle="org.polarsys.capella.core.projection.common"
            rulepackage="org.polarsys.capella.core.projection.common.rules.information">
          <rule rulename="Rule_DataPkg"/>
          <rule rulename="Rule_ExchangeItem"/>
      </sharedRuleset>
      <sharedRuleset
            bundle="org.polarsys.capella.core.projection.common"
            rulepackage="org.polarsys.capella.core.projection.common.rules.cs">
          <rule rulename="Rule_Part"/>
      </sharedRuleset>
   </ruleset>
      
   <ruleset
      context="org.polarsys.capella.core.projection.data"
      rulepackage="org.polarsys.capella.core.projection.data">
   
      <sharedContext context="org.polarsys.capella.core.projection.data.rules"/>
      
      <sharedRuleset
            bundle="org.polarsys.capella.core.projection.common"
            rulepackage="org.polarsys.capella.core.projection.common.rules.cs">
          <rule rulename="Rule_Component"/>
      </sharedRuleset>
   </ruleset>
</extension>
</plugin>
