<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  Copyright (c) 2006, 2019 THALES GLOBAL SERVICES.
  
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0
  
  SPDX-License-Identifier: EPL-2.0

  Contributors:
       Thales - initial API and implementation
-->
<plugin>
   <extension name="cs" point="org.polarsys.capella.common.menu.dynamic.MDEMenuItemContribution">
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.cs.InterfaceItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.cs.InterfaceItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.cs.InterfacePkgItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.cs.InterfacePkgItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.cs.PartItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.cs.PartItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.cs.PhysicalLinkCategoryItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.cs.PhysicalLinkCategoryItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.cs.PhysicalLinkEndItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.cs.PhysicalLinkEndItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.cs.PhysicalLinkItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.cs.PhysicalLinkItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.cs.PhysicalPathItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.cs.PhysicalPathItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.cs.PhysicalPortItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.cs.PhysicalPortItemContribution">
      </MDEMenuItemContribution>
   </extension>
   <extension name="ctx" point="org.polarsys.capella.common.menu.dynamic.MDEMenuItemContribution">
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.ctx.CapabilityItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.ctx.CapabilityItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.ctx.MissionItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.ctx.MissionItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.ctx.SystemAnalysisItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.ctx.SystemAnalysisItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.ctx.CapabilityPkgItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.ctx.CapabilityPkgItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.ctx.SystemFunctionItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.ctx.SystemFunctionItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.ctx.SystemFunctionPkgItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.ctx.SystemFunctionPkgItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.ctx.SystemComponentItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.ctx.SystemComponentItemContribution">
      </MDEMenuItemContribution>
   </extension>
   <extension name="epbs" point="org.polarsys.capella.common.menu.dynamic.MDEMenuItemContribution">
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.epbs.ConfigurationItemItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.epbs.ConfigurationItemItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.epbs.EPBSArchitectureItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.epbs.EPBSArchitectureItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.epbs.EPBSArchitecturePkgItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.epbs.EPBSArchitecturePkgItemContribution">
      </MDEMenuItemContribution>
   </extension>
   <extension name="fa" point="org.polarsys.capella.common.menu.dynamic.MDEMenuItemContribution">
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.fa.ComponentPortItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.fa.ComponentPortItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.fa.ComponentExchangeItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.fa.ComponentExchangeItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.fa.FunctionalExchangeItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.fa.FunctionalExchangeItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.fa.FunctionalChainItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.fa.FunctionalChainItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.fa.FunctionalChainInvolvementItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.fa.FunctionalChainInvolvementItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.fa.FunctionalExchangeSpecificationItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.fa.FunctionalExchangeSpecificationItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.fa.FunctionInputPortItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.fa.FunctionInputPortItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.fa.FunctionOutputPortItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.fa.FunctionOutputPortItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.fa.FunctionSpecificationItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.fa.FunctionSpecificationItemContribution">
      </MDEMenuItemContribution>
   </extension>
   <extension name="information" point="org.polarsys.capella.common.menu.dynamic.MDEMenuItemContribution">
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.information.CollectionItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.information.CollectionItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.information.CollectionValueItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.information.CollectionValueItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.information.EnumerationLiteralItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.information.EnumerationLiteralItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.information.LiteralBooleanValueItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.information.LiteralBooleanValueItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.information.ParameterItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.information.ParameterItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.information.PropertyItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.information.PropertyItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.information.SignalInstanceItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.information.SignalInstanceItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.information.UnionItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.information.UnionItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.information.UnionPropertyItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.information.UnionPropertyItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.information.ExchangeItemItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.information.ExchangeItemItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.information.ExchangeItemElementItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.information.ExchangeItemElementItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.information.ExchangeItemInstanceItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.information.ExchangeItemInstanceItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.information.BooleanTypeItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.information.BooleanTypeItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.information.EnumerationItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.information.EnumerationItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.information.LiteralNumericValueItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.information.LiteralNumericValueItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.information.LiteralStringValueItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.information.LiteralStringValueItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.information.NumericReferenceItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.information.NumericReferenceItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.information.NumericTypeItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.information.NumericTypeItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.information.PhysicalQuantityItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.information.PhysicalQuantityItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.information.SignalItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.information.SignalItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.information.StringReferenceItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.information.StringReferenceItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.information.UnaryExpressionItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.information.UnaryExpressionItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.information.BinaryExpressionItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.information.BinaryExpressionItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.information.ComplexValueItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.information.ComplexValuesItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.information.BooleanReferenceItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.information.BooleanReferenceItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.information.ComplexValueReferenceItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.information.ComplexValueReferenceItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.information.EnumerationReferenceItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.information.EnumerationReferenceItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.information.CollectionValueReferenceItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.information.CollectionValueReferenceItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.information.ClassItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.information.ClassItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.information.DomainElementItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.information.DomainElementItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.information.ServiceItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.information.ServiceItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.information.SignalItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.information.SignalItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.information.AbstractInstanceItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.information.AbstractInstanceItemContribution">
      </MDEMenuItemContribution>
   </extension>
   <extension name="interaction" point="org.polarsys.capella.common.menu.dynamic.MDEMenuItemContribution">
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.interaction.ScenarioItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.interaction.ScenarioItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.interaction.EventItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.interaction.EventItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.interaction.TimeLapseItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.interaction.TimeLapseItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.interaction.InstanceRoleItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.interaction.InstanceRoleItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.interaction.InteractionFragmentItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.interaction.InteractionFragmentItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.interaction.SequenceMessageItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.interaction.SequenceMessageItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.interaction.ConstraintDurationItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.interaction.ConstraintDurationItemContribution">
      </MDEMenuItemContribution>
   </extension>
   <extension name="la" point="org.polarsys.capella.common.menu.dynamic.MDEMenuItemContribution">
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.la.LogicalComponentItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.la.LogicalComponentItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.la.LogicalComponentPkgItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.la.LogicalComponentPkgItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.la.LogicalArchitectureItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.la.LogicalArchitectureItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.la.LogicalArchitecturePkgItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.la.LogicalArchitecturePkgItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.la.LogicalFunctionItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.la.LogicalFunctionItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.la.LogicalFunctionPkgItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.la.LogicalFunctionPkgItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.la.CapabilityRealizationPkgItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.la.CapabilityRealizationPkgItemContribution">
      </MDEMenuItemContribution>
   </extension>
   <extension name="capellacommon" point="org.polarsys.capella.common.menu.dynamic.MDEMenuItemContribution">
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.capellacommon.FinalStateItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.capellacommon.FinalStateItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.capellacommon.ModeItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.capellacommon.ModeItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.capellacommon.StateItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.capellacommon.StateItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.capellacommon.ChoicePseudoStateItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.capellacommon.ChoicePseudoStateItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.capellacommon.ForkPseudoStateItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.capellacommon.ForkPseudoStateItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.capellacommon.InitialPseudoStateItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.capellacommon.InitialPseudoStateItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.capellacommon.JoinPseudoStateItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.capellacommon.JoinPseudoStateItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.capellacommon.TerminatePseudoStateItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.capellacommon.TerminatePseudoStateItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.capellacommon.AbstractCapabilityPkgItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.capellacommon.AbstractCapabilityPkgItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.capellacommon.StateMachineItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.capellacommon.StateMachineItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.capellacommon.TimeEventItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.capellacommon.TimeEventItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.capellacommon.EntryPointPseudoStateItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.capellacommon.EntryPointPseudoStateItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.capellacommon.ExitPointPseudoStateItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.capellacommon.ExitPointPseudoStateItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.capellacommon.ShallowHistoryPseudoStateItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.capellacommon.ShallowHistoryPseudoStateItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.capellacommon.DeepHistoryPseudoStateItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.capellacommon.DeepHistoryPseudoStateItemContribution">
      </MDEMenuItemContribution>
   </extension>
   <extension name="capellacore" point="org.polarsys.capella.common.menu.dynamic.MDEMenuItemContribution">
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.capellacore.BooleanPropertyValueItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.capellacore.BooleanPropertyValueItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.capellacore.EnumerationPropertyValueItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.capellacore.EnumerationPropertyValueItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.capellacore.FloatPropertyValueItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.capellacore.FloatPropertyValueItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.capellacore.IntegerPropertyValueItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.capellacore.IntegerPropertyValueItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.capellacore.PropertyValueGroupItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.capellacore.PropertyValueGroupItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.capellacore.StringPropertyValueItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.capellacore.StringPropertyValueItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.capellacore.ConstraintItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.capellacore.ConstraintItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.capellacore.NamingRuleItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.capellacore.NamingRuleItemContribution">
      </MDEMenuItemContribution>
   </extension>
   <extension name="capellamodeller" point="org.polarsys.capella.common.menu.dynamic.MDEMenuItemContribution">
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.capellamodeller.SystemEngineeringPkgItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.capellamodeller.SystemEngineeringPkgItemContribution">
      </MDEMenuItemContribution>
   </extension>
   <extension name="oa" point="org.polarsys.capella.common.menu.dynamic.MDEMenuItemContribution">
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.oa.EntityItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.oa.EntityItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.oa.OperationalAnalysisItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.oa.OperationalAnalysisItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.oa.CapabilityConfigurationItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.oa.CapabilityConfigurationItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.oa.CommunicationMeanItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.oa.CommunicationMeanItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.oa.ConceptItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.oa.ConceptItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.oa.ConceptPkgItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.oa.ConceptPkgItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.oa.ItemInConceptItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.oa.ItemInConceptItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.oa.LocationItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.oa.LocationItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.oa.OperationalActivityItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.oa.OperationalActivityItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.oa.OperationalActivityPkgItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.oa.OperationalActivityPkgItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.oa.OperationalProcessItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.oa.OperationalProcessItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.oa.OperationalCapabilityPkgItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.oa.OperationalCapabilityPkgItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.oa.RoleAssemblyUsageItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.oa.RoleAssemblyUsageItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.oa.RoleItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.oa.RoleItemContribution">
      </MDEMenuItemContribution>
   </extension>
   <extension name="pa" point="org.polarsys.capella.common.menu.dynamic.MDEMenuItemContribution">
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.pa.PhysicalArchitectureItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.pa.PhysicalArchitectureItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.pa.PhysicalComponentItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.pa.PhysicalComponentItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.pa.PhysicalComponentPkgItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.pa.PhysicalComponentPkgItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.pa.DeploymentAspectItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.pa.DeploymentAspectItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.pa.PhysicalArchitecturePkgItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.pa.PhysicalArchitecturePkgItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.pa.PhysicalFunctionItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.pa.PhysicalFunctionItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.pa.PhysicalFunctionPkgItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.pa.PhysicalFunctionPkgItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.core.data.menu.contributions.pa.PhysicalNodeItemContribution"
            id="org.polarsys.capella.core.data.menu.contributions.pa.PhysicalNodeItemContribution">
      </MDEMenuItemContribution>
   </extension>
</plugin>
