<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
#
#  Copyright (c) 2006, 2023 THALES GLOBAL SERVICES.
#  This program and the accompanying materials are made available under the
#  terms of the Eclipse Public License 2.0 which is available at
#  http://www.eclipse.org/legal/epl-2.0
# 
#  SPDX-License-Identifier: EPL-2.0
# 
#  Contributors:
#     Thales - initial API and implementation
-->

<plugin>

   
<!--@generated-->
  <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated CapellaModeller -->
      <package class="org.polarsys.capella.core.data.capellamodeller.CapellamodellerPackage" genModel="model/CapellaModeller.genmodel" uri="http://www.polarsys.org/capella/core/modeller/7.0.0"/>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated CapellaModeller -->
      <parser class="org.polarsys.capella.core.data.capellamodeller.util.CapellamodellerResourceFactoryImpl" type="capella"/>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated CapellaModeller -->
      <package class="org.polarsys.capella.core.data.capellacore.CapellacorePackage" genModel="model/CapellaModeller.genmodel" uri="http://www.polarsys.org/capella/core/core/7.0.0"/>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated CapellaModeller -->
      <parser class="org.polarsys.capella.core.data.capellacore.util.CapellacoreResourceFactoryImpl" type="capellacore"/>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated CapellaModeller -->
      <package class="org.polarsys.capella.core.data.oa.OaPackage" genModel="model/CapellaModeller.genmodel" uri="http://www.polarsys.org/capella/core/oa/7.0.0"/>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated CapellaModeller -->
      <parser class="org.polarsys.capella.core.data.oa.util.OaResourceFactoryImpl" type="oa"/>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated CapellaModeller -->
      <package class="org.polarsys.capella.core.data.ctx.CtxPackage" genModel="model/CapellaModeller.genmodel" uri="http://www.polarsys.org/capella/core/ctx/7.0.0"/>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated CapellaModeller -->
      <parser class="org.polarsys.capella.core.data.ctx.util.CtxResourceFactoryImpl" type="ctx"/>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated CapellaModeller -->
      <package class="org.polarsys.capella.core.data.la.LaPackage" genModel="model/CapellaModeller.genmodel" uri="http://www.polarsys.org/capella/core/la/7.0.0"/>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated CapellaModeller -->
      <parser class="org.polarsys.capella.core.data.la.util.LaResourceFactoryImpl" type="la"/>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated CapellaModeller -->
      <package class="org.polarsys.capella.core.data.pa.PaPackage" genModel="model/CapellaModeller.genmodel" uri="http://www.polarsys.org/capella/core/pa/7.0.0"/>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated CapellaModeller -->
      <parser class="org.polarsys.capella.core.data.pa.util.PaResourceFactoryImpl" type="pa"/>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated CapellaModeller -->
      <package class="org.polarsys.capella.core.data.pa.deployment.DeploymentPackage" genModel="model/CapellaModeller.genmodel" uri="http://www.polarsys.org/capella/core/pa/deployment/7.0.0"/>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated CapellaModeller -->
      <parser class="org.polarsys.capella.core.data.pa.deployment.util.DeploymentResourceFactoryImpl" type="deployment"/>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated CapellaModeller -->
      <package class="org.polarsys.capella.core.data.epbs.EpbsPackage" genModel="model/CapellaModeller.genmodel" uri="http://www.polarsys.org/capella/core/epbs/7.0.0"/>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated CapellaModeller -->
      <parser class="org.polarsys.capella.core.data.epbs.util.EpbsResourceFactoryImpl" type="epbs"/>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated CapellaModeller -->
      <package class="org.polarsys.capella.core.data.sharedmodel.SharedmodelPackage" genModel="model/CapellaModeller.genmodel" uri="http://www.polarsys.org/capella/core/sharedmodel/7.0.0"/>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated CapellaModeller -->
      <parser class="org.polarsys.capella.core.data.sharedmodel.util.SharedmodelResourceFactoryImpl" type="sharedmodel"/>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated CapellaModeller -->
      <package class="org.polarsys.capella.core.data.capellacommon.CapellacommonPackage" genModel="model/CapellaModeller.genmodel" uri="http://www.polarsys.org/capella/core/common/7.0.0"/>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated CapellaModeller -->
      <parser class="org.polarsys.capella.core.data.capellacommon.util.CapellacommonResourceFactoryImpl" type="capellacommon"/>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated CapellaModeller -->
      <package class="org.polarsys.capella.core.data.information.InformationPackage" genModel="model/CapellaModeller.genmodel" uri="http://www.polarsys.org/capella/core/information/7.0.0"/>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated CapellaModeller -->
      <parser class="org.polarsys.capella.core.data.information.util.InformationResourceFactoryImpl" type="information"/>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated CapellaModeller -->
      <package class="org.polarsys.capella.core.data.information.communication.CommunicationPackage" genModel="model/CapellaModeller.genmodel" uri="http://www.polarsys.org/capella/core/information/communication/7.0.0"/>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated CapellaModeller -->
      <parser class="org.polarsys.capella.core.data.information.communication.util.CommunicationResourceFactoryImpl" type="communication"/>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated CapellaModeller -->
      <package class="org.polarsys.capella.core.data.information.datatype.DatatypePackage" genModel="model/CapellaModeller.genmodel" uri="http://www.polarsys.org/capella/core/information/datatype/7.0.0"/>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated CapellaModeller -->
      <parser class="org.polarsys.capella.core.data.information.datatype.util.DatatypeResourceFactoryImpl" type="datatype"/>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated CapellaModeller -->
      <package class="org.polarsys.capella.core.data.information.datavalue.DatavaluePackage" genModel="model/CapellaModeller.genmodel" uri="http://www.polarsys.org/capella/core/information/datavalue/7.0.0"/>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated CapellaModeller -->
      <parser class="org.polarsys.capella.core.data.information.datavalue.util.DatavalueResourceFactoryImpl" type="datavalue"/>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated CapellaModeller -->
      <package class="org.polarsys.capella.core.data.cs.CsPackage" genModel="model/CapellaModeller.genmodel" uri="http://www.polarsys.org/capella/core/cs/7.0.0"/>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated CapellaModeller -->
      <parser class="org.polarsys.capella.core.data.cs.util.CsResourceFactoryImpl" type="cs"/>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated CapellaModeller -->
      <package class="org.polarsys.capella.core.data.fa.FaPackage" genModel="model/CapellaModeller.genmodel" uri="http://www.polarsys.org/capella/core/fa/7.0.0"/>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated CapellaModeller -->
      <parser class="org.polarsys.capella.core.data.fa.util.FaResourceFactoryImpl" type="fa"/>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated CapellaModeller -->
      <package class="org.polarsys.capella.core.data.interaction.InteractionPackage" genModel="model/CapellaModeller.genmodel" uri="http://www.polarsys.org/capella/core/interaction/7.0.0"/>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated CapellaModeller -->
      <parser class="org.polarsys.capella.core.data.interaction.util.InteractionResourceFactoryImpl" type="interaction"/>
   </extension>

</plugin>
