<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
  Copyright (c) 2018, 2022 THALES GLOBAL SERVICES.
  
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0
  
  SPDX-License-Identifier: EPL-2.0
  
  Contributors:
       Thales - initial API and implementation
-->
<plugin>
   <extension
         point="org.polarsys.capella.core.validation.ui.ide.capellaQuickFix">
      <resolver
            class="org.polarsys.capella.core.data.fa.ui.quickfix.resolver.PortRealizationPropagationFromFEResolver"
            desc="%quickFix.PortRealizationPropagationFromFE.desc"
            icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif"
            label="%quickFix.PortRealizationPropagationFromFE.label">
         <rules
               ruleId="TC_DF_05">
         </rules>
      </resolver>
      <resolver
            class="org.polarsys.capella.core.data.fa.ui.quickfix.resolver.PortRealizationPropagationFromCEResolver"
            desc="%quickFix.PortRealizationPropagationFromCE.desc"
            icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif"
            label="%quickFix.PortRealizationPropagationFromCE.label">
         <rules
               ruleId="TC_DC_05">
         </rules>
      </resolver>
      <resolver
            class="org.polarsys.capella.core.data.fa.ui.quickfix.resolver.ExchangeItemAllocationOnPortsResolver"
            desc="%quickFix.ExchangeItemAllocationOnPorts.desc"
            icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif"
            label="%quickFix.ExchangeItemAllocationOnPorts.label">
         <rules
               ruleId="DCOM_13">
         </rules>
      </resolver>
      <resolver
            class="org.polarsys.capella.core.data.fa.ui.quickfix.resolver.ComponentExchangeThroughDelegationsResolver"
            desc="%quickFix.ComponentExchangeThroughDelegations.desc"
            icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif"
            label="%quickFix.ComponentExchangeThroughDelegations.label">
         <rules
               ruleId="DWF_DC_16">
         </rules>
      </resolver>
      <resolver
            class="org.polarsys.capella.core.data.fa.ui.quickfix.resolver.FunctionComponentAllocationRelsover"
            desc="%quickFix.FunctionComponentAllocation.desc"
            icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_edit.gif"
            label="%quickFix.FunctionComponentAllocation.label">
         <rules
               ruleId="DCOM_03">
         </rules>
      </resolver>
      <resolver
            class="org.polarsys.capella.core.data.fa.ui.quickfix.resolver.DWF_DF_14_Resolver"
            desc="%quickFix.DWF_DF_14.desc"
            icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_delete.gif"
            label="%quickFix.DWF_DF_14.label">
         <rules
               ruleId="DWF_DF_14">
         </rules>
      </resolver>
      <resolver
            class="org.polarsys.capella.core.data.fa.ui.quickfix.resolver.NonLeafFunctionComponentAllocationRelsover"
            desc="%quickFix.NonLeafFunctionComponentAllocation.desc"
            icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_delete.gif"
            label="%quickFix.NonLeafFunctionComponentAllocation.label">
         <rules
               ruleId="DWF_DC_15">
         </rules>
      </resolver>
      <resolver
            class="org.polarsys.capella.core.data.fa.ui.quickfix.resolver.NonLeafFunctionComponentAllocationRelsover"
            desc="%quickFix.NonLeafFunctionComponentAllocation.desc"
            icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_delete.gif"
            label="%quickFix.NonLeafFunctionComponentAllocation.label">
         <rules
               ruleId="DCOM_11">
         </rules>
      </resolver>
      <resolver
            class="org.polarsys.capella.core.data.fa.ui.quickfix.resolver.DCOV_10_Resolver"
            desc="%quickFix.DCOV_10.desc"
            icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_delete.gif"
            label="%quickFix.DCOV_10.label">
         <rules
               ruleId="DCOV_10">
         </rules>
      </resolver>
      <resolver
            class="org.polarsys.capella.core.data.fa.ui.quickfix.resolver.DCOV_09_Resolver"
            desc="%quickFix.DCOV_09.desc"
            icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_delete.gif"
            label="%quickFix.DCOV_09.label">
         <rules
               ruleId="DCOV_09">
         </rules>
         <rules
               ruleId="DWF_DC_31">
         </rules>
      </resolver>
      <resolver
            class="org.polarsys.capella.core.data.fa.ui.quickfix.resolver.DWF_DC_18_Resolver"
            desc="%quickFix.DWF_DC_18.desc"
            icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif"
            label="%quickFix.DWF_DC_18.label">
         <rules
               ruleId="DWF_DC_18">
         </rules>
      </resolver>
      
      <resolver
            class="org.polarsys.capella.core.data.fa.ui.quickfix.resolver.DWF_DF_06_Resolver"
            desc="%quickFix.DWF_DF_06.desc"
            icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif"
            label="%quickFix.DWF_DF_06.label">
         <rules
               ruleId="DWF_DF_06">
         </rules>
      </resolver>
      <resolver
            class="org.polarsys.capella.core.data.fa.ui.quickfix.resolver.DWF_DF_04_Resolver"
            desc="%quickFix.DWF_DF_04.desc"
            icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_delete.gif"
            label="%quickFix.DWF_DF_04.label">
         <rules
               ruleId="DWF_DF_04">
         </rules>
      </resolver>
      <resolver
            class="org.polarsys.capella.core.data.fa.ui.quickfix.resolver.I_27_Resolver"
            desc="%quickFix.I_27.desc"
            icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_delete.gif"
            label="%quickFix.I_27.label">
         <rules
               ruleId="I_27">
         </rules>
      </resolver>
      <resolver
            class="org.polarsys.capella.core.data.fa.ui.quickfix.resolver.TC_DF_09_Resolver"
            desc="%quickFix.DWF_DF_09.desc"
            icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif"
            label="%quickFix.DWF_DF_09.label">
         <rules
               ruleId="TC_DF_09">
         </rules>
      </resolver>
      <resolver
            class="org.polarsys.capella.core.data.fa.ui.quickfix.resolver.TC_DF_11_Resolver"
            desc="%quickFix.TC_DF_11.desc"
            icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif"
            label="%quickFix.TC_DF_11.label">
         <rules
               ruleId="TC_DF_11">
         </rules>
      </resolver>
      <resolver
            class="org.polarsys.capella.core.data.fa.ui.quickfix.resolver.TC_DF_12_Resolver"
            desc="%quickFix.TC_DF_12.desc"
            icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif"
            label="%quickFix.TC_DF_12.label">
         <rules
               ruleId="TC_DF_12">
         </rules>
      </resolver>
      <resolver
            class="org.polarsys.capella.core.data.fa.ui.quickfix.resolver.TC_DF_14_Resolver"
            desc="%quickFix.TC_DF_14.desc"
            icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif"
            label="%quickFix.TC_DF_14.label">
         <rules
               ruleId="TC_DF_14">
         </rules>
      </resolver>
      <resolver
            class="org.polarsys.capella.core.data.fa.ui.quickfix.resolver.DWF_DC_14_EditResolver"
            desc="%quickFix.DWF_DC_14_EditResolver.desc"
            icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_edit.gif"
            label="%quickFix.DWF_DC_14_EditResolver.label">
         <rules
               ruleId="DWF_DC_14">
         </rules>
      </resolver>
      <resolver
            class="org.polarsys.capella.core.data.fa.ui.quickfix.resolver.DWF_DC_14_DeleteResolver"
            desc="%quickFix.DWF_DC_14_DeleteResolver.desc"
            icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_delete.gif"
            label="%quickFix.DWF_DC_14_DeleteResolver.label">
         <rules
               ruleId="DWF_DC_14">
         </rules>
      </resolver>
           <resolver
           class="org.polarsys.capella.core.data.fa.ui.quickfix.resolver.I_32_Resolver"
           desc="%quickFix.I_32.desc"
           icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_delete.gif"
           label="%quickFix.I_32.label">
         <rules
               ruleId="I_32">
         </rules>
      </resolver>
            <resolver
                 class="org.polarsys.capella.core.data.fa.ui.quickfix.resolver.DCOM_20_Resolver_Delete"
                 desc="%quickFix.DCOM_23_Resolver_Delete.desc"
                 icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_delete.gif"
                 label="%quickFix.DCOM_23_Resolver_Delete.label">
              <rules
                    ruleId="DCOM_20">
              </rules>
           </resolver>
           <resolver
                 class="org.polarsys.capella.core.data.fa.ui.quickfix.resolver.DCOM_20_Resolver_Source_Operational_Activity"
                 desc="%quickFix.DCOM_20_Resolver_Source_Operational_Activity.desc"
                 icon="icons/search16.gif"
                 label="%quickFix.DCOM_20_Resolver_Source_Operational_Activity.label">
              <rules
                    ruleId="DCOM_20">
              </rules>
           </resolver>
           <resolver
                 class="org.polarsys.capella.core.data.fa.ui.quickfix.resolver.DCOM_20_Resolver_Target_Operational_Activity"
                 desc="%quickFix.DCOM_20_Resolver_Target_Operational_Activity.desc"
                 icon="icons/search16.gif"
                 label="%quickFix.DCOM_20_Resolver_Target_Operational_Activity.label">
              <rules
                    ruleId="DCOM_20">
              </rules>
           </resolver>
           <resolver
                 class="org.polarsys.capella.core.data.fa.ui.quickfix.resolver.DCOM_20_Resolver_Source_Function"
                 desc="%quickFix.DCOM_20_Resolver_Source_Function.desc"
                 icon="icons/search16.gif"
                 label="%quickFix.DCOM_20_Resolver_Source_Function.label">
              <rules
                    ruleId="DCOM_20">
              </rules>
           </resolver>
           <resolver
                 class="org.polarsys.capella.core.data.fa.ui.quickfix.resolver.DCOM_20_Resolver_Target_Function"
                 desc="%quickFix.DCOM_20_Resolver_Target_Function.desc"
                 icon="icons/search16.gif"
                 label="%quickFix.DCOM_20_Resolver_Target_Function.label">
              <rules
                    ruleId="DCOM_20">
              </rules>
           </resolver>
           <resolver
                 class="org.polarsys.capella.core.data.fa.ui.quickfix.resolver.DCOM_20_PortResolver_Target"
                 desc="%quickFix.DCOM_20_PortResolver_Target.desc"
                 icon="icons/search16.gif"
                 label="%quickFix.DCOM_20_PortResolver_Target.label">
              <rules
                    ruleId="DCOM_20">
              </rules>
           </resolver>
           <resolver
                 class="org.polarsys.capella.core.data.fa.ui.quickfix.resolver.DCOM_20_PortResolver_Source"
                 desc="%quickFix.DCOM_20_PortResolver_Source.desc"
                 icon="icons/search16.gif"
                 label="%quickFix.DCOM_20_PortResolver_Source.label">
              <rules
                    ruleId="DCOM_20">
              </rules>
           </resolver>
           <resolver
                 class="org.polarsys.capella.core.data.fa.ui.quickfix.resolver.DCOM_21_RemoveUnusedExchangeItemsResolver"
                 desc="%quickFix.RemoveUnusedExchangeItems.desc"
                 icon="icons/search16.gif"
                 label="%quickFix.RemoveUnusedExchangeItems.label">
              <rules
                    ruleId="DCOM_21">
              </rules>
           </resolver>
           <resolver
                 class="org.polarsys.capella.core.data.fa.ui.quickfix.resolver.I_26_Resolver"
                 desc="%quickFix.I_26.desc"
                 icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_delete.gif"
                 label="%quickFix.I_26.label">
              <rules
                    ruleId="I_26">
              </rules>
           </resolver>
           <resolver
                 class="org.polarsys.capella.core.data.fa.ui.quickfix.resolver.TC_DF_15_Resolver"
                 desc="%quickFix.TC_DF_15.desc"
                 icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif"
                 label="%quickFix.TC_DF_15.label">
              <rules
                    ruleId="TC_DF_15">
              </rules>
           </resolver>
           <resolver
                 class="org.polarsys.capella.core.data.fa.ui.quickfix.resolver.DCOM_23_PortResolver_Source"
                 desc="%quickFix.DCOM_23_Resolver_Source.desc"
                 icon="icons/search16.gif"
                 label="%quickFix.DCOM_23_Resolver_Source.label">
              <rules
                    ruleId="DCOM_23">
              </rules>
           </resolver>
           <resolver
                 class="org.polarsys.capella.core.data.fa.ui.quickfix.resolver.DCOM_23_PortResolver_Target"
                 desc="%quickFix.DCOM_23_Resolver_Target.desc"
                 icon="icons/search16.gif"
                 label="%quickFix.DCOM_23_Resolver_Target.label">
              <rules
                    ruleId="DCOM_23">
              </rules>
           </resolver>
           <resolver
                 class="org.polarsys.capella.core.data.fa.ui.quickfix.resolver.DCOM_20_23_Resolver_Functional_Exchange"
                 desc="%quickFix.DCOM_20_23_Resolver_Functional_Exchange.desc"
                 icon="icons/search16.gif"
                 label="%quickFix.DCOM_20_23_Resolver_Functional_Exchange.label">
              <rules
                    ruleId="DCOM_23">
              </rules>
           </resolver>
           
           <resolver
                 class="org.polarsys.capella.core.data.fa.ui.quickfix.resolver.DCOM_20_23_Resolver_Interaction"
                 desc="%quickFix.DCOM_20_23_Resolver_Interaction.desc"
                 icon="icons/search16.gif"
                 label="%quickFix.DCOM_20_23_Resolver_Interaction.label">
              <rules
                    ruleId="DCOM_23">
              </rules>
           </resolver>
           <resolver
                 class="org.polarsys.capella.core.data.fa.ui.quickfix.resolver.DCOM_23_Resolver_Looping_Function"
                 desc="%quickFix.DCOM_23_Looping_Function.desc"
                 icon="icons/search16.gif"
                 label="%quickFix.DCOM_23_Looping_Function.label">
              <rules
                    ruleId="DCOM_23">
              </rules>
           </resolver>
           <resolver
                 class="org.polarsys.capella.core.data.fa.ui.quickfix.resolver.DCOM_23_Resolver_Looping_Activity"
                 desc="%quickFix.DCOM_23_Looping_Operational_Activity.desc"
                 icon="icons/search16.gif"
                 label="%quickFix.DCOM_23_Looping_Operational_Activity.label">
              <rules
                    ruleId="DCOM_23">
              </rules>
           </resolver>
           <resolver
                 class="org.polarsys.capella.core.data.fa.ui.quickfix.resolver.DCOM_20_23_Resolver_Functional_Exchange"
                 desc="%quickFix.DCOM_20_23_Resolver_Functional_Exchange.desc"
                 icon="icons/search16.gif"
                 label="%quickFix.DCOM_20_23_Resolver_Functional_Exchange.label">
              <rules
                    ruleId="DCOM_20">
              </rules>
           </resolver>
           <resolver
                 class="org.polarsys.capella.core.data.fa.ui.quickfix.resolver.DCOM_20_23_Resolver_Interaction"
                 desc="%quickFix.DCOM_20_23_Resolver_Interaction.desc"
                 icon="icons/search16.gif"
                 label="%quickFix.DCOM_20_23_Resolver_Interaction.label">
              <rules
                    ruleId="DCOM_20">
              </rules>
           </resolver>
           <resolver
                 class="org.polarsys.capella.core.data.fa.ui.quickfix.resolver.DCOM_23_Resolver_Delete"
                 desc="%quickFix.DCOM_23_Resolver_Delete.desc"
                 icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_delete.gif"
                 label="%quickFix.DCOM_23_Resolver_Delete.label">
              <rules
                    ruleId="DCOM_23">
              </rules>
           </resolver>
           <resolver
                 class="org.polarsys.capella.core.data.fa.ui.quickfix.resolver.DWF_DC_45_Resolver"
                 desc="%quickFix.PhysicalLinkComponentExchangeAllocation.desc"
                 icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_edit.gif"
                 label="%quickFix.PhysicalLinkComponentExchangeAllocation.label">
              <rules
                    ruleId="DWF_DC_45">
              </rules>
           </resolver>
           <resolver
                 class="org.polarsys.capella.core.data.fa.ui.quickfix.resolver.DWF_DC_12_Resolver"
                 desc="%quickFix.ComponentFunctionAllocation.desc"
                 icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_edit.gif"
                 label="%quickFix.ComponentFunctionAllocation.label">
              <rules
                    ruleId="DWF_DC_12">
              </rules>
           </resolver>
           <resolver
                 class="org.polarsys.capella.core.data.fa.ui.quickfix.resolver.DWF_DC_27_Resolver"
                 desc="%quickFix.ComponentExchangeFunctionalExchangeAllocation.desc"
                 icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_edit.gif"
                 label="%quickFix.ComponentExchangeFunctionalExchangeAllocation.label">
              <rules
                    ruleId="DWF_DC_27">
              </rules>
           </resolver>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="org.polarsys.capella.core.data.fa.ui.quickfix.generator.ComponentPortOrientationResolutions"
            markerType="org.polarsys.capella.core.validation.markers">
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="org.polarsys.capella.core.data.fa.ui.quickfix.generator.GenerateInterfacesResolutionGenerator"
            markerType="org.polarsys.capella.core.validation.markers">
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="org.polarsys.capella.core.data.fa.ui.quickfix.generator.DWF_DF_16_Resolutions"
            markerType="org.polarsys.capella.core.validation.markers">
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="org.polarsys.capella.core.data.fa.ui.quickfix.generator.DWF_DF_18_Resolutions"
            markerType="org.polarsys.capella.core.validation.markers">
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="org.polarsys.capella.core.data.fa.ui.quickfix.generator.DWF_DF_19_Resolutions"
            markerType="org.polarsys.capella.core.validation.markers">
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="org.polarsys.capella.core.data.fa.ui.quickfix.generator.DWF_DF_20_Resolutions"
            markerType="org.polarsys.capella.core.validation.markers">
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="org.polarsys.capella.core.data.fa.ui.quickfix.generator.DWF_DC_43_Resolutions"
            markerType="org.polarsys.capella.core.validation.markers">
      </markerResolutionGenerator>
   </extension>
</plugin>
