/AbstractExpressionValue.java
/AbstractComplexValue.java
/AbstractComplexValue__complexType.java
/DataValue.java
/DataValue__type.java
/NumericValue.java
/NumericValue__numericType.java
/AbstractBooleanValue.java
/AbstractBooleanValue__booleanType.java
/AbstractStringValue.java
/AbstractStringValue__stringType.java
/AbstractEnumerationValue.java
/AbstractEnumerationValue__enumerationType.java
