<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
  Copyright (c) 2018, 2020 THALES GLOBAL SERVICES.
  
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0
  
  SPDX-License-Identifier: EPL-2.0
  
  Contributors:
       Thales - initial API and implementation
-->
<plugin>

	<extension
	      point="org.eclipse.ui.menus">
	   <menuContribution 
      		locationURI="popup:capella.project.explorer#PopupMenu?after=group.project">
         <command
               commandId="org.polarsys.capella.test.generateQueries">
          </command>
          
          <command
               commandId="org.polarsys.capella.test.sortQueries">
          </command>
          
        </menuContribution>
       
	</extension>
	
	<extension
	      point="org.eclipse.core.runtime.adapters">
	   <factory
	         adaptableType="org.polarsys.capella.test.business.queries.ju.QueryResult"
	         class="org.polarsys.capella.test.business.queries.ju.QueryAdapterFactory">
	      <adapter
	            type="org.polarsys.kitalpha.emde.model.Element">
	      </adapter>
	   </factory>
	   <factory
	         adaptableType="org.polarsys.capella.test.business.queries.ju.ResultItem"
	         class="org.polarsys.capella.test.business.queries.ju.QueryAdapterFactory">
	      <adapter
	            type="org.polarsys.kitalpha.emde.model.Element">
	      </adapter>
	   </factory>
	</extension>
	
	<extension
	      point="org.eclipse.ui.commands">
	      <command
             id="org.polarsys.capella.test.sortQueries"
             name="[TEST] Sort Result Queries"
             defaultHandler="org.polarsys.capella.test.business.queries.ju.handlers.SortQueriesHandler">
	      </command>
	      
	      <command
             id="org.polarsys.capella.test.generateQueries"
             name="[TEST] Generate Queries"
             defaultHandler="org.polarsys.capella.test.business.queries.ju.handlers.GenerateQueriesHandler">
	      </command>
	</extension>
 <extension
       point="org.eclipse.ui.views">
    <view
          category="org.polarsys.capella.views.category"
          class="org.polarsys.capella.test.business.queries.ju.views.BqViewPart"
          id="org.polarsys.capella.test.business.queries.ju.view"
          name="Business Query"
          restorable="true">
    </view>
 </extension>
 
 <extension
	      point="org.eclipse.ui.menus">
        
       <menuContribution
                locationURI="popup:org.polarsys.capella.test.business.queries.ju.view?after=additions">
               
              <separator name="group.showIn" visible="true" />
              <separator name="group.sendTo" visible="true" />
              
       </menuContribution>
       
	</extension>
	
	
	
</plugin>
