<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  Copyright (c) 2006, 2023 THALES GLOBAL SERVICES.
  
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0
  
  SPDX-License-Identifier: EPL-2.0
  
  Contributors:
       Thales - initial API and implementation
-->
<plugin>
   
    <extension point="org.eclipse.ui.menus">
    
    	<!-- Interpreter View -->
       <menuContribution
                locationURI="popup:org.eclipse.acceleo.ui.interpreter.view?after=additions">
                
              <separator name="group.semantic" visible="true" />
              <separator name="group.showIn" visible="true" />
              <separator name="group.sendTo" visible="true" />
              <separator name="group.delete" visible="true" />
              
       </menuContribution>
       
       <menuContribution
                locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu?after=BusinessCopyPasteMenuSirius">
                
              <menu id="BusinessSelectMenuSirius" label="Capella Select">              	                
              </menu>
       </menuContribution>
    
      
    	<!-- Sirius contribution. We want all our menu available on the diagram menu. Navigation on top. -->
       <menuContribution
                locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu?after=navigateGroup">
               
              <separator name="group.showIn" visible="true" />
              <separator name="group.sendTo" visible="true" />
              <separator name="navigateGroup.separator" visible="true" /> <!-- To separate properly sendTo to other navigation tools -->
              
       </menuContribution>
       
       <menuContribution
                locationURI="popup:org.eclipse.sirius.table.ui.CrossTableEditorID?after=additions">
               
              <separator name="group.showIn" visible="true" />
              <separator name="group.sendTo" visible="true" />
              
       </menuContribution>
       
       <menuContribution
                locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu?after=additions">
                
              <separator name="group.semantic" visible="true" />
              
              <separator name="group.validation" visible="true" />
              <separator name="group.rec" visible="false" />
              <separator name="group.pattern" visible="false" />
              <separator name="group.transition" visible="false" />
              <separator name="group.wizard" visible="false" />
              <separator name="group.allocation" visible="false" />
              <separator name="group.accelerator" visible="false" />
              
              <separator name="group.categories" visible="true" />
              
      </menuContribution>
      
      <menuContribution
                locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu?after=additions">
       
              <menu id="CapellaDiagramCommands" label="Legacy Capella Commands">
	               <separator name="groupValidation">
    	           </separator>
    	           <separator name="separator1">
    	           </separator>
	               <separator name="groupApplicative">
    	           </separator>
    	           <separator name="separator2">
    	           </separator>
              </menu>
              
       </menuContribution>
       
       <menuContribution
           locationURI="popup:org.eclipse.ui.views.ContentOutline?after=additions">
                
              <separator name="group.showIn" visible="true" />
              <separator name="group.sendTo" visible="true" />
              <separator name="group.semantic" visible="true" />
              <separator name="group.delete" visible="false" />
              <separator name="group.validation" visible="true" />
              <separator name="group.rec" visible="false" />
              <separator name="group.pattern" visible="false" />
              <separator name="group.transition" visible="false" />
              <separator name="group.wizard" visible="false" />
              <separator name="group.allocation" visible="false" />
              <separator name="group.accelerator" visible="false" />
              
       </menuContribution>
               
       <!-- Semantic Browser -->
       <menuContribution
                locationURI="popup:org.polarsys.capella.core.ui.semantic.browser.view.SemanticBrowserID?after=additions">
                
              <separator name="group.open" visible="true"/>
              <separator name="group.showIn" visible="true" />
              <separator name="group.sendTo" visible="true" />
              <separator name="group.semantic" visible="true" />
              <separator name="group.delete" visible="false" />
              <separator name="group.validation" visible="true" />
              <separator name="group.rec" visible="false" />
              <separator name="group.pattern" visible="false" />
              <separator name="group.transition" visible="false" />
              <separator name="group.wizard" visible="false" />
              <separator name="group.allocation" visible="false" />
              <separator name="group.accelerator" visible="false" />
              
       </menuContribution>
       
       <!-- Impact Analysis -->
       <menuContribution
                locationURI="popup:org.polarsys.capella.core.ui.toolkit.dialogs.impactAnalysis?after=additions">
               
              <separator name="group.showIn" visible="true" />
              <separator name="group.sendTo" visible="true" />
              
       </menuContribution>
       
       
       <!-- Delete Confirmation Dialog -->
       <menuContribution
                locationURI="popup:org.polarsys.capella.core.ui.toolkit.dialogs.confirmDelete.elements?after=additions">
               
              <separator name="group.showIn" visible="true" />
              <separator name="group.sendTo" visible="true" />
              
       </menuContribution>
       
       <menuContribution
                locationURI="popup:org.polarsys.capella.core.ui.toolkit.dialogs.confirmDelete.referencingElements?after=additions">
               
              <separator name="group.showIn" visible="true" />
              <separator name="group.sendTo" visible="true" />
              
       </menuContribution>
       
       
       
       <!-- Diff-Merge editor -->
       <menuContribution
                locationURI="popup:org.eclipse.compare.CompareEditor?after=additions">
               
              <separator name="group.showIn" visible="true" />
              <separator name="group.sendTo" visible="true" />
              
       </menuContribution>
       
       <!-- REC-RPL -->
       <menuContribution
                locationURI="popup:org.polarsys.capella.common.re.createRec?after=additions">
               
              <separator name="group.showIn" visible="true" />
              <separator name="group.sendTo" visible="true" />
              
       </menuContribution>
       
       <menuContribution
                locationURI="popup:org.polarsys.capella.common.re.createReplica.location?after=additions">
               
              <separator name="group.showIn" visible="true" />
              <separator name="group.sendTo" visible="true" />
              
       </menuContribution>
       
       <!-- Progress Monitoring -->
       <menuContribution
                locationURI="popup:org.polarsys.capella.core.ui.metric.dialog.progressMonitoring?after=additions">
               
              <separator name="group.showIn" visible="true" />
              <separator name="group.sendTo" visible="true" />
              
       </menuContribution>
       
       <!-- Select Elements -->
       <menuContribution
                locationURI="popup:org.polarsys.capella.common.ui.toolkit.dialogs.selectElements?after=additions">
               
              <separator name="group.showIn" visible="true" />
              <separator name="group.sendTo" visible="true" />
              
       </menuContribution>
       
       <menuContribution
                locationURI="popup:org.polarsys.capella.common.ui.toolkit.dialogs.transferTreeListElements.leftPane?after=additions">
               
              <separator name="group.showIn" visible="true" />
              <separator name="group.sendTo" visible="true" />
              
       </menuContribution>
       
       <menuContribution
                locationURI="popup:org.polarsys.capella.common.ui.toolkit.dialogs.transferTreeListElements.rightPane?after=additions">
               
              <separator name="group.showIn" visible="true" />
              <separator name="group.sendTo" visible="true" />
              
       </menuContribution>
       
       <menuContribution
                locationURI="popup:org.polarsys.capella.common.ui.toolkit.dialogs.checkboxTree?after=additions">
               
              <separator name="group.showIn" visible="true" />
              <separator name="group.sendTo" visible="true" />
              
       </menuContribution>
       
       
       <!-- Trace manager -->
       
       <menuContribution
                locationURI="popup:org.polarsys.capella.core.platform.eclipse.capella.ui.trace.views.leftPane?after=additions">
               
              <separator name="group.showIn" visible="true" />
              <separator name="group.sendTo" visible="true" />
              
       </menuContribution>
       
       
       <menuContribution
                locationURI="popup:org.polarsys.capella.core.platform.eclipse.capella.ui.trace.views.rightPane?after=additions">
               
              <separator name="group.showIn" visible="true" />
              <separator name="group.sendTo" visible="true" />
              
       </menuContribution>
       
       
       <!-- Information View -->
      <menuContribution
                locationURI="popup:org.polarsys.capella.common.tools.report.appenders.reportlogview.logview?after=navigation">
               
              <separator name="group.showIn" visible="true" />
              <separator name="group.sendTo" visible="true" />
              
       </menuContribution>
       
       
       <!-- Transition -->
       <menuContribution
                locationURI="popup:org.polarsys.capella.core.transition.common.ui.diffmerge?after=additions">
               
              <separator name="group.showIn" visible="true" />
              <separator name="group.sendTo" visible="true" />
              
       </menuContribution>
       
       
       
       
       
       <menuContribution
                locationURI="popup:org.polarsys.capella.core.validation.ui.ide.quickfix.objectNavigator?after=additions">
               
              <separator name="group.showIn" visible="true" />
              <separator name="group.sendTo" visible="true" />
              
       </menuContribution>
       
     </extension>

     <extension point="org.eclipse.ui.menus">
    
       <!-- Legacy separators are inserted into the new ones -->
       <menuContribution
                locationURI="popup:org.eclipse.ui.popup.any?after=group.showIn">
               
              <separator name="group.goto" visible="true" />
              <separator name="group.show" visible="true" />
              
       </menuContribution>
      
       <menuContribution
                locationURI="popup:org.eclipse.ui.popup.any?after=group.transition">
         <menu 
             id="org.polarsys.capella.core.transitions" label="%transitionGroup_label" icon ="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif"> 
             
             <menu id="capella.project.explorer.menu.transitions.diagram.preferences" label="Legacy Transitions Commands">
             </menu>
              
         </menu>
       
      </menuContribution>
      
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=group.wizard">
            
         <menu
               id="org.polarsys.capella.core.wizards"  label="%wizardGroup_label" icon ="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_edit.gif">
               
              <menu id="org.polarsys.capella.core.semantic.browser.wizards" label="Legacy Wizards Commands">
              </menu>
              
              <menu id="org.polarsys.capella.core.sirius.diagram.editor.wizards" label="Legacy Wizards Commands">
		      </menu>
		      
         </menu>
                     
      </menuContribution>
      
      

      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=group.accelerator">
            
         <menu
               id="org.polarsys.capella.core.accelerators" label="%acceleratorGroup_label" icon ="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif">
               
               <separator name="groupAccelerator">
		       </separator>
		       
              <menu id="AcceleratorDiagramCommands" label="Legacy Accelerators Commands">
	               <separator name="groupAccelerator">
    	           </separator>
              </menu>
              
              <menu id="capella.project.explorer.menu.accelerator" label="Legacy Accelerators Commands">
		            <separator name="groupAccelerator">
		            </separator>
		      </menu>
		      
         </menu>
         
         
      </menuContribution>
      
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=group.semantic">
         <menu
               id="org.polarsys.capella.core.copyAs" label="%copyAsGroup_label">
               <separator name="group.copyAs">
		       </separator>
         </menu>
      </menuContribution>
      
      </extension>
         
      
      <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.polarsys.capella.core.semantic"
            name="%semanticGroup_label">
      </category>
      <category
            id="org.polarsys.capella.core.transitions"
            name="%transitionGroup_label">
      </category>
      <category
            id="org.polarsys.capella.core.wizards"
            name="%wizardGroup_label">
      </category>
      <category
            id="org.polarsys.capella.core.accelerators"
            name="%acceleratorGroup_label">
      </category>
      
      </extension>
     
     
   
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
         <propertyTester
             id="org.polarsys.capella.core.platform.sirius.ui.graphicalMetaclassPropertyTester"
             type="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart"
             namespace="org.polarsys.capella.core.platform.sirius.ui"
             properties="classOf"
             class="org.polarsys.capella.core.platform.sirius.ui.MetaclassPropertyTester"
         >
         </propertyTester>
         <propertyTester
             id="org.polarsys.capella.core.platform.sirius.ui.metaclassPropertyTester"
             type="org.polarsys.capella.common.data.modellingcore.ModelElement"
             namespace="org.polarsys.capella.core.platform.sirius.ui"
             properties="classOf"
             class="org.polarsys.capella.core.platform.sirius.ui.MetaclassPropertyTester"
         >
         </propertyTester>
         
         
         <propertyTester
             id="org.polarsys.capella.core.platform.sirius.ui.metaclassPropertyTester"
             type="org.polarsys.capella.common.data.modellingcore.ModelElement"
             namespace="org.polarsys.capella.core.platform.sirius.ui"
             properties="featureIsA"
             class="org.polarsys.capella.core.platform.sirius.ui.MetaclassPropertyTester"
             >
         </propertyTester>
         <propertyTester
             id="org.polarsys.capella.core.platform.sirius.ui.graphicalMetaclassPropertyTester"
             type="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart"
             namespace="org.polarsys.capella.core.platform.sirius.ui"
             properties="featureIsA"
             class="org.polarsys.capella.core.platform.sirius.ui.MetaclassPropertyTester"
             >
         </propertyTester>
         <!-- Deprecated -->
         <propertyTester
             id="org.polarsys.capella.core.platform.sirius.ui.metaclassPropertyTester"
             type="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart"
             namespace="org.polarsys.capella.core.platform.sirius.ui"
             properties="graphicalFeatureIsA"
             class="org.polarsys.capella.core.platform.sirius.ui.MetaclassPropertyTester">
         </propertyTester>
         
         
         <propertyTester
               class="org.polarsys.capella.core.platform.sirius.ui.LayerPropertyTester"
               id="org.polarsys.capella.core.platform.sirius.ui.layerPropertyTester2"
               namespace="org.polarsys.capella.core.platform.sirius.ui"
               properties="layerOf"
               type="org.polarsys.capella.common.data.modellingcore.ModelElement">
         </propertyTester>
         <propertyTester
               class="org.polarsys.capella.core.platform.sirius.ui.LayerPropertyTester"
               id="org.polarsys.capella.core.platform.sirius.ui.graphicalLayerPropertyTester2"
               namespace="org.polarsys.capella.core.platform.sirius.ui"
               properties="layerOf"
               type="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
         </propertyTester>
         <!-- Deprecated -->
         <propertyTester
               class="org.polarsys.capella.core.platform.sirius.ui.LayerPropertyTester"
               id="org.polarsys.capella.core.platform.sirius.ui.layerPropertyTester3"
               namespace="org.polarsys.capella.core.platform.sirius.ui"
               properties="graphicalLayerOf"
               type="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
         </propertyTester>
         
         
         <propertyTester
               class="org.polarsys.capella.core.platform.sirius.ui.LayerPropertyTester"
               id="org.polarsys.capella.core.platform.sirius.ui.layerPropertyTester4"
               namespace="org.polarsys.capella.core.platform.sirius.ui"
               properties="layerOfWithOutDataFlowScenario"
               type="org.polarsys.capella.common.data.modellingcore.ModelElement">
         </propertyTester>
         <propertyTester
               class="org.polarsys.capella.core.platform.sirius.ui.LayerPropertyTester"
               id="org.polarsys.capella.core.platform.sirius.ui.graphicalLayerPropertyTester4"
               namespace="org.polarsys.capella.core.platform.sirius.ui"
               properties="layerOfWithOutDataFlowScenario"
               type="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
         </propertyTester>
         <!-- Deprecated -->
         <propertyTester
               class="org.polarsys.capella.core.platform.sirius.ui.LayerPropertyTester"
               id="org.polarsys.capella.core.platform.sirius.ui.layerPropertyTester5"
               namespace="org.polarsys.capella.core.platform.sirius.ui"
               properties="graphicalLayerOfWithOutDataFlowScenario"
               type="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
         </propertyTester>
         
         
         <propertyTester
               class="org.polarsys.capella.core.platform.sirius.ui.ActionPropertyTester"
               id="org.polarsys.capella.core.platform.sirius.ui.graphicassctionMode1"
               namespace="org.polarsys.capella.core.platform.sirius.ui"
               properties="actionMode"
               type="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
         </propertyTester>
         <propertyTester
               class="org.polarsys.capella.core.platform.sirius.ui.ActionPropertyTester"
               id="org.polarsys.capella.core.platform.sirius.ui.actionMode2"
               namespace="org.polarsys.capella.core.platform.sirius.ui"
               properties="actionMode"
               type="org.polarsys.capella.common.data.modellingcore.ModelElement">
         </propertyTester>
         <!-- Deprecated -->
         <propertyTester
               class="org.polarsys.capella.core.platform.sirius.ui.ActionPropertyTester"
               id="org.polarsys.capella.core.platform.sirius.ui.graphicalActionMode1"
               namespace="org.polarsys.capella.core.platform.sirius.ui"
               properties="graphicalActionMode"
               type="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
         </propertyTester>
         
         
         <propertyTester
               class="org.polarsys.capella.core.platform.sirius.ui.CapellaPropertyTester"
               id="org.polarsys.capella.core.platform.sirius.ui.isInCapellaContext"
               namespace="org.polarsys.capella.core.platform.sirius.ui"
               properties="isInCapellaContext"
               type="java.lang.Object">
         </propertyTester>
         
      </extension>
      
   
   <extension point="org.eclipse.core.expressions.definitions">
   
   		<definition
            id="org.polarsys.capella.core.transition.system.topdown.ui.expression.wizardVisibilityModelElementExpression">
            <with
                  variable="selection">
                <iterate ifEmpty="false">
                    <instanceof value="org.polarsys.capella.common.data.modellingcore.ModelElement"/>
                </iterate>
            </with>
            
      </definition>

      <definition
            id="org.polarsys.capella.core.transition.system.topdown.ui.expression.wizardVisibilityDiagramElementExpression">
            <with
                  variable="selection">
               <iterate ifEmpty="false">
                        <instanceof value="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart"/>
                </iterate>
            </with>
      </definition>
      
      <definition id="org.polarsys.capella.core.isInCapellaContext">
	      <with variable="selection">
	        <test property="org.polarsys.capella.core.platform.sirius.ui.isInCapellaContext"/>
	      </with>
      </definition>
      
      <definition
            id="org.polarsys.capella.core.transition.system.topdown.ui.expression.transitionVisibilityDiagramElementExpression">
               <with
                  variable="selection">
               <and>
                  <iterate>
                       <or>
                        <instanceof
                              value="org.eclipse.sirius.diagram.ui.edit.api.part.IDiagramElementEditPart">
                        </instanceof>
                        <instanceof
                              value="org.eclipse.sirius.diagram.ui.edit.api.part.IDDiagramEditPart">
                        </instanceof>
                       </or>
                  </iterate>
                  <count
                     value="+">
                  </count>
               </and>
            </with>
      </definition>

      <definition
            id="org.polarsys.capella.core.semantic.ui.expression.transitionVisibilityModelElementExpression">
               <with
                  variable="selection">
               <and>
                  <iterate>
                        <instanceof
                              value="org.polarsys.capella.common.data.modellingcore.ModelElement">
                        </instanceof>
                  </iterate>
                  <count
                     value="+">
                  </count>
               </and>
            </with>
      </definition>
   </extension>
   
</plugin>
