<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  Copyright (c) 2006, 2021 THALES GLOBAL SERVICES.
  
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0
  
  SPDX-License-Identifier: EPL-2.0
  
  Contributors:
       Thales - initial API and implementation
-->
<plugin>
   <extension point="org.eclipse.emf.validation.constraintProviders">
      <constraintProvider>
         <package namespaceUri="http://www.polarsys.org/capella/core/pa/7.0.0">
         </package>
         <constraints
               categories="capella.category/transition/justification/epbs">
            <constraint
                  class="org.polarsys.capella.core.data.pa.validation.pa.MDCHK_PhysticalArchitecture_PhysicalArchitectureRealization"
                  id="TJ_EPBS_01"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="%constraint.name"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  %constraint.message
               </message>
               <target
                     class="PhysicalArchitecture">
               </target>
               <description>
                  %constraint.description
               </description>
            </constraint>
         </constraints>
         <constraints
               categories="capella.category/design/well-formedness/components">
            <constraint
                  class="org.polarsys.capella.core.data.pa.validation.physicalComponent.MDCHK_Component_Deployment"
                  id="DWF_DC_04"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="%constraint.name.0"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  %constraint.message.0
               </message>
               <target
                     class="PhysicalComponent">
               </target>
               <description>
                  %constraint.description.0
               </description>
            </constraint>
             <constraint
                   class="org.polarsys.capella.core.data.pa.validation.physicalComponent.PhysicalComponentFunctionAllocation"
                   id="DWF_DC_20"
                   isEnabledByDefault="true"
                   lang="Java"
                   mode="Batch"
                   name="%constraint.name.1"
                   severity="ERROR"
                   statusCode="1">
                <message>
                   %constraint.message.1
                </message>
                <description>
                   %constraint.description.1
                </description>
                <target
                      class="PhysicalComponent">
                </target>
             </constraint>
             <constraint
                   class="org.polarsys.capella.core.data.pa.validation.physicalComponent.DeploymentParentPCChecks"
                   id="DWF_DC_21"
                   isEnabledByDefault="true"
                   lang="Java"
                   mode="Batch"
                   name="%constraint.name.2"
                   severity="ERROR"
                   statusCode="1">
                <message>
                   %constraint.message.2
                </message>
                <description>
                 %constraint.description.2
                </description>
                <target
                      class="PhysicalComponent">
                </target>
             </constraint>
             <constraint
                   class="org.polarsys.capella.core.data.pa.validation.physicalComponent.DeploymentChildPCChecks"
                   id="DWF_DC_22"
                   isEnabledByDefault="true"
                   lang="Java"
                   mode="Batch"
                   name="%constraint.name.3"
                   severity="ERROR"
                   statusCode="1">
                <message>
                   %constraint.message.3
                </message>
                <description>
                   %constraint.description.3
                </description>
                <target
                      class="PhysicalComponent">
                </target>
             </constraint>
             <constraint
                   class="org.polarsys.capella.core.data.pa.validation.physicalComponent.UnsetPhysicalComponent"
                   id="DWF_DC_34"
                   isEnabledByDefault="true"
                   lang="Java"
                   mode="Batch"
                   name="%constraint.name.4"
                   severity="WARNING"
                   statusCode="1">
                <message>
                   %constraint.message.4
                </message>
                <description>
                   %constraint.description.4
                </description>
                <target
                      class="PhysicalComponent">
                </target>
             </constraint>
             <constraint
                   class="org.polarsys.capella.core.data.pa.validation.physicalComponent.IsUnsetPhysicalComponentCheck"
                   id="DWF_DC_39"
                   isEnabledByDefault="true"
                   lang="Java"
                   mode="Batch"
                   name="%constraint.name.5"
                   severity="ERROR"
                   statusCode="1">
                <message>
                   %constraint.message.5
                </message>
                <description>
                   %constraint.description.5
                </description>
                <target
                      class="PhysicalComponent">
                </target>
             </constraint>
             <constraint
                   class="org.polarsys.capella.core.data.pa.validation.physicalComponent.PhysicalComponentContainedAndDeployed"
                   id="DWF_DC_44"
                   isEnabledByDefault="true"
                   lang="Java"
                   mode="Batch"
                   name="%constraint.name.6"
                   severity="WARNING"
                   statusCode="1">
                <message>
                   %constraint.message.6
                </message>
                <description>
                   %constraint.description.6
                </description>
                <target
                      class="PhysicalComponent">
                </target>
             </constraint>
             
         </constraints>
         <constraints
               categories="capella.category/transition/consistency/components">
            <constraint
                  class="org.polarsys.capella.core.data.pa.validation.physicalComponent.PhysicalSystem_RealizedLogicalSystem"
                  id="TC_DC_13"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="%constraint.name.7"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  %constraint.message.7
               </message>
               <target
                     class="PhysicalComponent">
               </target>
               <description>
                 %constraint.description.7
               </description>
            </constraint>
            <constraint
                  class="org.polarsys.capella.core.data.pa.validation.physicalComponent.PhysicalComponent_RealizedLogicalComponents"
                  id="TC_DC_09"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="%constraint.name.8"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  %constraint.message.8
               </message>
               <target
                     class="PhysicalComponent">
               </target>
               <description>
                  %constraint.description.8
               </description>
            </constraint>
         </constraints>
         <constraints
               categories="capella.category/transition/justification/physical_architecture">
            <constraint
                  class="org.polarsys.capella.core.data.pa.validation.physicalComponent.MDCHK_PhysicalComponent_InterfaceUseAndImpl_1"
                  id="TJ_PA_06"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Batch"
                  name="%constraint.name.9"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  %constraint.message.9
               </message>
               <description>
                  %constraint.description.9
               </description>
               <target
                     class="PhysicalComponent">
               </target>
            </constraint>
            <constraint
                  class="org.polarsys.capella.core.data.pa.validation.physicalComponent.MDCHK_PhysicalComponent_InterfaceUseAndImpl_2"
                  id="TJ_PA_07"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Batch"
                  name="%constraint.name.10"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  %constraint.message.10
               </message>
               <description>
                  %constraint.description.10
               </description>
               <target
                     class="PhysicalComponent">
               </target>
            </constraint>
            <constraint
                  class="org.polarsys.capella.core.data.pa.validation.physicalComponent.PhysicalActor_RealizedLogicalActor"
                  id="TJ_PA_10"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="%constraint.name.11"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  %constraint.message.11
               </message>
               <target
                     class="PhysicalComponent">
               </target>
               <description>
                  %constraint.description.11
               </description>
            </constraint>
            <constraint
                  class="org.polarsys.capella.core.data.pa.validation.pa.MDCHK_PhysicalArchitecture_PaToLaRealization"
                  id="TJ_PA_12"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="%constraint.name.12"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  %constraint.message.12
               </message>
               <description>
                  %constraint.description.12
               </description>
               <target
                     class="PhysicalArchitecture">
               </target>
            </constraint>
         </constraints>
      </constraintProvider>
   </extension>
</plugin>
