<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  Copyright (c) 2006, 2020 THALES GLOBAL SERVICES.
  
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0
  
  SPDX-License-Identifier: EPL-2.0
  
  Contributors:
       Thales - initial API and implementation
-->
<plugin>
   <extension
         point="org.polarsys.capella.common.model.helpers.helper">
      <helperImpl
            class="org.polarsys.capella.common.data.helpers.activity.ActivityHelper"
            nsURI="http://www.polarsys.org/capella/common/activity/7.0.0">
      </helperImpl>
   </extension>
   <extension
         point="org.polarsys.capella.common.model.helpers.helper">
      <helperImpl
            class="org.polarsys.capella.common.data.helpers.behavior.BehaviorHelper"
            nsURI="http://www.polarsys.org/capella/common/behavior/7.0.0">
      </helperImpl>
   </extension>
   <extension
         point="org.polarsys.capella.common.model.helpers.helper">
      <helperImpl
            class="org.polarsys.capella.common.data.helpers.modellingcore.ModellingCoreHelper"
            nsURI="http://www.polarsys.org/capella/common/core/7.0.0">
      </helperImpl>
   </extension>
</plugin>
