<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
#
#  Copyright (c) 2006, 2023 THALES GLOBAL SERVICES.
#  This program and the accompanying materials are made available under the
#  terms of the Eclipse Public License 2.0 which is available at
#  http://www.eclipse.org/legal/epl-2.0
# 
#  SPDX-License-Identifier: EPL-2.0
# 
#  Contributors:
#     Thales - initial API and implementation
-->

<plugin>

   
<!--@generated-->
  <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated libraries -->
      <factory class="org.polarsys.capella.common.libraries.provider.LibrariesItemProviderAdapterFactory" supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider                org.eclipse.emf.edit.provider.IStructuredItemContentProvider                org.eclipse.emf.edit.provider.ITreeItemContentProvider                org.eclipse.emf.edit.provider.IItemLabelProvider                org.eclipse.emf.edit.provider.IItemPropertySource" uri="http://www.polarsys.org/capella/common/libraries/7.0.0"/>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated libraries -->
      <extender class="org.polarsys.capella.common.libraries.provider.LibrariesItemProviderAdapterFactory$EmdeChildCreationExtender" uri="http://www.polarsys.org/kitalpha/emde/1.0.0"/>
   </extension>

</plugin>
