<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  Copyright (c) 2006, 2017 THALES GLOBAL SERVICES.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html

  Contributors:
       Thales - initial API and implementation
-->
<plugin>
   <extension-point id="labelProviderDelegation" name="Label Provider Delegation" schema="schema/labelProviderDelegation.exsd"/>
   <extension
         point="org.polarsys.capella.common.mdsofa.common.user_helper">
      <helperImplementation
            class="org.polarsys.capella.common.ui.services.helper.UserEnforcedHelper">
      </helperImplementation>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.polarsys.capella.common.ui.CapellaWorkbenchPropertyTester"
            id="org.polarsys.capella.common.ui.workbenchproperties"
            namespace="org.polarsys.capella.common.ui.workbenchproperties"
            properties="activePartId"
            type="java.lang.Object">
      </propertyTester>
   </extension>
</plugin>
