<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  Copyright (c) 2006, 2019 THALES GLOBAL SERVICES.
  
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0
  
  SPDX-License-Identifier: EPL-2.0

  Contributors:
       Thales - initial API and implementation
-->
<plugin>
   <extension-point id="labelProviderDelegation" name="Label Provider Delegation" schema="schema/labelProviderDelegation.exsd"/>
   <extension
         point="org.polarsys.capella.common.mdsofa.common.user_helper">
      <helperImplementation
            class="org.polarsys.capella.common.ui.services.helper.UserEnforcedHelper">
      </helperImplementation>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.polarsys.capella.common.ui.CapellaWorkbenchPropertyTester"
            id="org.polarsys.capella.common.ui.workbenchproperties"
            namespace="org.polarsys.capella.common.ui.workbenchproperties"
            properties="activePartId"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.polarsys.capella.core.platform.sirius.ui.actions.Capella.page"
            class="org.eclipse.ui.internal.dialogs.EmptyPreferencePage"
            id="org.polarsys.capella.common.ui.preferences.export"
            name="%Export_Page_Name">
      </page>
      <page
            category="org.polarsys.capella.common.ui.preferences.export"
            class="org.polarsys.capella.common.ui.preferences.ExportCSVPreferencePage"
            id="org.polarsys.capella.common.ui.preferences.exportcsv"
            name="%Export_CSV_Page_Name">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
         <initializer
               class="org.polarsys.capella.common.ui.preferences.ExportCSVPreferences">
         </initializer>
   </extension>
</plugin>
