<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  Copyright (c) 2006, 2018 THALES GLOBAL SERVICES.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html

  Contributors:
       Thales - initial API and implementation
-->
<plugin>

	  <!-- ooooooooooooooooooooo TRANSITIONS REFINEMENT ooooooooooooooooooooo -->
	  
      
   <!-- Refinement transitions Project Explorer -->
   <extension
         point="org.eclipse.ui.menus">
          <menuContribution  allPopups="true"
                locationURI="popup:org.polarsys.capella.core.transitions?after=additions">
             <command  commandId="org.polarsys.capella.core.refinement.commands.actions.scenarioRefinementAction"  style="push" icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif" >
             <visibleWhen checkEnabled="false">
                <and>
                    <reference definitionId="org.polarsys.capella.core.refinement.commands.ui.expression.transitionVisibilityModelElementExpression"/>
                    <with variable="selection">
                      <iterate>
                                <or>
                                    <test
                                          forcePluginActivation="true"
                                          property="org.polarsys.capella.core.platform.sirius.ui.layerOfWithOutDataFlowScenario"
                                          value="SystemAnalysis">
                                    </test>
                                    <test
                                          forcePluginActivation="true"
                                          property="org.polarsys.capella.core.platform.sirius.ui.layerOfWithOutDataFlowScenario"
                                          value="PhysicalArchitecture">
                                    </test>
                                    <test
                                          forcePluginActivation="true"
                                          property="org.polarsys.capella.core.platform.sirius.ui.layerOfWithOutDataFlowScenario"
                                          value="LogicalArchitecture">
                                    </test>
                
                             </or>
                      </iterate>
                   </with>
                </and>
             </visibleWhen> 
             </command> 
          </menuContribution>
      
      </extension>
      
      <extension point="org.eclipse.ui.commands">
          <category
                id="org.polarsys.capella.core.transitions.ui.category"
                name="Transitions">
          </category>
             <command
                   defaultHandler="org.polarsys.capella.core.refinement.commands.handlers.ScenarioRefinementHandler"
                   id="org.polarsys.capella.core.refinement.commands.actions.scenarioRefinementAction"
                   name="Capability Scenario Refinement"
                   >
             </command>
             
             <command
                   id="refinementMode.propagateSystemInterfacesToLogicalSystem"
                   defaultHandler="org.polarsys.capella.core.refinement.commands.handlers.GenerateInterfaceDelegationsHandler"
                   name="%propagateSystemInterfacesToLogicalSystem_label"
                   >
             </command>
             
      
             <command
                   id="refinementMode.synchronizeLogicalInterfacesWithSystem"
                   defaultHandler="org.polarsys.capella.core.refinement.commands.handlers.GenerateInterfaceDelegationsHandler"
                   name="%synchronizeLogicalInterfacesWithSystem_label"
                   >
             </command>
      
        
      
             <command
                   id="refinementMode.propagateActorInterfacesToLogicalActors"
                   defaultHandler="org.polarsys.capella.core.refinement.commands.handlers.GenerateInterfaceDelegationsHandler"
                   name="%propagateActorInterfacesToLogicalActors_label"
                   >
             </command>
      
      
             <command
                   id="refinementMode.synchronizeLogicalActorInterfacesWithSystem"
                   defaultHandler="org.polarsys.capella.core.refinement.commands.handlers.GenerateInterfaceDelegationsHandler"
                   name="%synchronizeLogicalActorInterfacesWithSystem_label"
                   >
             </command>
      
             <command
                   id="refinementMode.propagateActorCommunicationLinksToLogicalSystem"
                   defaultHandler="org.polarsys.capella.core.refinement.commands.handlers.GenerateCommunicationLinkDelegationsHandler"
                   name="%propagateActorCommunicationLinksToLogicalSystem_label"
                   >
             </command>
      
      
             <command
                   id="refinementMode.synchronizeLogicalActorCommunicationLinksWithSystem"
                   defaultHandler="org.polarsys.capella.core.refinement.commands.handlers.GenerateCommunicationLinkDelegationsHandler"
                   name="%synchronizeLogicalActorCommunicationLinksWithSystem_label"
                   >
             </command>
      
      
             <command
                   id="refinementMode.propagateSystemCommunicationLinksToLogicalSystem"
                   defaultHandler="org.polarsys.capella.core.refinement.commands.handlers.GenerateCommunicationLinkDelegationsHandler"
                   name="%propagateSystemCommunicationLinksToLogicalSystem_label"
                   >
             </command>
      
        
             <command
                   id="refinementMode.synchronizeLogicalCommunicationLinksWithSystem"
                   defaultHandler="org.polarsys.capella.core.refinement.commands.handlers.GenerateCommunicationLinkDelegationsHandler"
                   name="%synchronizeLogicalCommunicationLinksWithSystem_label"
                   >
             </command>
      
             <command
                   id="refinementMode.propagateInterfacesLCtoPC"
                   defaultHandler="org.polarsys.capella.core.refinement.commands.handlers.PropagateLinksHandler"
                   name="%propagateInterfacesLCtoPC_label"
                   >
             </command>
      
      
             <command
                   id="refinementMode.propagateInterfacesPCtoCI"
                   defaultHandler="org.polarsys.capella.core.refinement.commands.handlers.PropagateLinksHandler"
                   name="%propagateInterfacesPCtoCI_label"
                   >
             </command>
      
             <command
                   id="refinementMode.synchronizeInterfacesPC"
                   defaultHandler="org.polarsys.capella.core.refinement.commands.handlers.SynchronizeLinksHandler"
                   name="%synchronizeInterfacesPC_label"
                   >
             </command>

      
             <command
                   id="refinementMode.synchronizeInterfacesCI"
                   defaultHandler="org.polarsys.capella.core.refinement.commands.handlers.SynchronizeLinksHandler"
                   name="%synchronizeInterfacesCI_label"
                   >
             </command>
      
      
      </extension>
	  
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="refinementMode.propagateSystemInterfacesToLogicalSystem"
            icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif">
      </image>
      
      <image
            commandId="refinementMode.synchronizeLogicalInterfacesWithSystem"
            icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif">
      </image>
      
      
      <image
            commandId="refinementMode.propagateActorInterfacesToLogicalActors"
            icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif">
      </image>
      
      
      <image
            commandId="refinementMode.synchronizeLogicalActorInterfacesWithSystem"
            icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif">
      </image>
      
      <image
            commandId="refinementMode.propagateActorCommunicationLinksToLogicalSystem"
            icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif">
      </image>
      
      
      <image
            commandId="refinementMode.synchronizeLogicalActorCommunicationLinksWithSystem"
            icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif">
      </image>
      
      
      <image
            commandId="refinementMode.propagateSystemCommunicationLinksToLogicalSystem"
            icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif">
      </image>
      
      
      <image
            commandId="refinementMode.synchronizeLogicalCommunicationLinksWithSystem"
            icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif">
      </image>
      
      
      
      <image
            commandId="refinementMode.propagateInterfacesLCtoPC"
            icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif">
      </image>
      
      <image
            commandId="refinementMode.propagateInterfacesPCtoCI"
            icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif">
      </image>
      
      <image
            commandId="refinementMode.synchronizeInterfacesPC"
            icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif">
      </image>
      
      
      <image
            commandId="refinementMode.synchronizeInterfacesCI"
            icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif">
      </image>
      
      
      
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
         
         
         <menuContribution  allPopups="false"
                locationURI="popup:org.polarsys.capella.core.accelerators?after=additions">
             <command  commandId="refinementMode.propagateSystemInterfacesToLogicalSystem"  >
              <visibleWhen checkEnabled="false">
                <with variable="selection">
                    <iterate ifEmpty="false">
                          <test forcePluginActivation="true"
			                  property="org.polarsys.capella.core.refinement.commands.refinementMode"
			                  value="instanceOfSystem">
			            </test>
                    </iterate>
                </with>
             </visibleWhen> 
             </command>
             
             <command  commandId="refinementMode.synchronizeLogicalInterfacesWithSystem"  >
              <visibleWhen checkEnabled="false">
                <with variable="selection">
                    <iterate ifEmpty="false">
                          <test forcePluginActivation="true"
			                  property="org.polarsys.capella.core.refinement.commands.refinementMode"
			                  value="instanceOfLogicalComponent">
			            </test>
                    </iterate>
                </with>
             </visibleWhen> 
             </command>
             
             <command  commandId="refinementMode.propagateActorInterfacesToLogicalActors"  >
              <visibleWhen checkEnabled="false">
                <with variable="selection">
                    <iterate ifEmpty="false">
                          <test forcePluginActivation="true"
			                  property="org.polarsys.capella.core.refinement.commands.refinementMode"
			                  value="instanceOfSystemActorOrSystemActorPck">
			            </test>
                    </iterate>
                </with>
             </visibleWhen> 
             </command>
             
             
             <command  commandId="refinementMode.synchronizeLogicalActorInterfacesWithSystem"  >
              <visibleWhen checkEnabled="false">
                <with variable="selection">
                    <iterate ifEmpty="false">
                          <test forcePluginActivation="true"
			                  property="org.polarsys.capella.core.refinement.commands.refinementMode"
			                  value="instanceOfLogicalActorOrLogicalActorPck">
			            </test>
                    </iterate>
                </with>
             </visibleWhen> 
             </command>
             
             
             
             <command  commandId="refinementMode.propagateActorCommunicationLinksToLogicalSystem"  >
              <visibleWhen checkEnabled="false">
                <with variable="selection">
                    <iterate ifEmpty="false">
                          <test forcePluginActivation="true"
			                  property="org.polarsys.capella.core.refinement.commands.refinementMode"
			                  value="instanceOfSystemActorOrSystemActorPck">
			            </test>
                    </iterate>
                </with>
             </visibleWhen> 
             </command>
             
             
      
             
             <command  commandId="refinementMode.synchronizeLogicalActorCommunicationLinksWithSystem"  >
              <visibleWhen checkEnabled="false">
                <with variable="selection">
                    <iterate ifEmpty="false">
                          <test forcePluginActivation="true"
			                  property="org.polarsys.capella.core.refinement.commands.refinementMode"
			                  value="instanceOfLogicalActorOrLogicalActorPck">
			            </test>
                    </iterate>
                </with>
             </visibleWhen> 
             </command>
             
      
      
             
             <command  commandId="refinementMode.propagateSystemCommunicationLinksToLogicalSystem"  >
              <visibleWhen checkEnabled="false">
                <with variable="selection">
                    <iterate ifEmpty="false">
                          <test forcePluginActivation="true"
			                  property="org.polarsys.capella.core.refinement.commands.refinementMode"
			                  value="instanceOfSystem">
			            </test>
                    </iterate>
                </with>
             </visibleWhen> 
             </command>
             
             
             
             <command  commandId="refinementMode.synchronizeLogicalCommunicationLinksWithSystem"  >
              <visibleWhen checkEnabled="false">
                <with variable="selection">
                    <iterate ifEmpty="false">
                          <test forcePluginActivation="true"
			                  property="org.polarsys.capella.core.refinement.commands.refinementMode"
			                  value="instanceOfLogicalComponent">
			            </test>
                    </iterate>
                </with>
             </visibleWhen> 
             </command>
             
      
      
             <command  commandId="refinementMode.propagateInterfacesLCtoPC"  >
              <visibleWhen checkEnabled="false">
                <with variable="selection">
                    <iterate ifEmpty="false">
                          <test forcePluginActivation="true"
			                  property="org.polarsys.capella.core.refinement.commands.refinementMode"
			                  value="propagateInterfacesLCtoPC">
			            </test>
                    </iterate>
                </with>
             </visibleWhen> 
             </command>
             
      
      
             <command  commandId="refinementMode.propagateInterfacesPCtoCI"  >
              <visibleWhen checkEnabled="false">
                <with variable="selection">
                    <iterate ifEmpty="false">
                          <test forcePluginActivation="true"
			                  property="org.polarsys.capella.core.refinement.commands.refinementMode"
			                  value="propagateInterfacesPCtoCI">
			            </test>
                    </iterate>
                </with>
             </visibleWhen> 
             </command>
      
      
      
             <command  commandId="refinementMode.synchronizeInterfacesPC"  >
              <visibleWhen checkEnabled="false">
                <with variable="selection">
                    <iterate ifEmpty="false">
                          <test forcePluginActivation="true"
			                  property="org.polarsys.capella.core.refinement.commands.refinementMode"
			                  value="synchronizeInterfacesPC">
			            </test>
                    </iterate>
                </with>
             </visibleWhen> 
             </command>
             
      
             <command  commandId="refinementMode.synchronizeInterfacesCI"  >
              <visibleWhen checkEnabled="false">
                <with variable="selection">
                    <iterate ifEmpty="false">
                          <test forcePluginActivation="true"
			                  property="org.polarsys.capella.core.refinement.commands.refinementMode"
			                  value="synchronizeInterfacesCI">
			            </test>
                    </iterate>
                </with>
             </visibleWhen> 
             </command>
             
             
         </menuContribution>
         
   </extension>
      
      
   <extension point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.polarsys.capella.core.refinement.commands.ui.expression.transitionVisibilityModelElementExpression">
               <with
                  variable="selection">
                  <iterate ifEmpty="false">
                       <or>
                        <instanceof
                              value="org.polarsys.capella.common.data.modellingcore.ModelElement">
                        </instanceof>
                        <instanceof
                              value="org.eclipse.sirius.diagram.edit.api.part.IDiagramElementEditPart">
                        </instanceof>
                        <instanceof
                              value="org.eclipse.sirius.diagram.edit.api.part.IDDiagramEditPart">
                        </instanceof>
                       </or>
                  </iterate>
            </with>
      </definition>
   </extension>
	  
	  
	  
	  <!-- oooooooooooooooooooooooooooooooooooooooooooooo -->
	  
	  
	  

   <extension point="org.eclipse.core.expressions.propertyTesters">
         <propertyTester
             id="org.polarsys.capella.core.platform.sirius.ui.property.projectionMode"
             type="org.polarsys.capella.common.data.modellingcore.ModelElement"
             namespace="org.polarsys.capella.core.refinement.commands"
             properties="refinementMode"
             class="org.polarsys.capella.core.refinement.commands.RefinementCommandTester">
         </propertyTester>    
         <propertyTester
             id="org.polarsys.capella.core.platform.sirius.ui.property.graphicalProjectionMode"
             type="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart"
             namespace="org.polarsys.capella.core.refinement.commands"
             properties="graphicalRefinementMode"
             class="org.polarsys.capella.core.refinement.commands.RefinementCommandTester">
         </propertyTester>   
   </extension>
   
   
   
   
      
      <extension
         point="org.eclipse.ui.menus">
         <menuContribution  allPopups="false"
                locationURI="popup:org.polarsys.capella.core.wizards?after=additions">
             <command  commandId="org.polarsys.capella.core.refinement.commands.actions.addExistingSubScenarioAction"  style="push" icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_edit.gif" >
              <visibleWhen checkEnabled="false">
                <with variable="selection">
                    <iterate ifEmpty="false">
                            <test property="org.polarsys.capella.core.platform.sirius.ui.classOf"
                                 forcePluginActivation="true"
                                   value="Scenario">
                                </test>
                    </iterate>
                </with>
             </visibleWhen> 
             </command>

             <command  commandId="org.polarsys.capella.core.refinement.commands.actions.addNewSubScenarioAction"  style="push" icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_edit.gif" >
              <visibleWhen checkEnabled="false">
                <with variable="selection">
                    <iterate ifEmpty="false">
                            <test property="org.polarsys.capella.core.platform.sirius.ui.classOf"
                                 forcePluginActivation="true"
                                   value="Scenario">
                                </test>
                    </iterate>
                </with>
             </visibleWhen> 
             </command>
          </menuContribution>
          
     </extension>
      
     <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.polarsys.capella.core.wizard.ui.category"
            name="Wizards">
      </category>
      <command
               defaultHandler="org.polarsys.capella.core.refinement.commands.actions.AddExistingSubScenarioAction"
               id="org.polarsys.capella.core.refinement.commands.actions.addExistingSubScenarioAction"
               name="Add existing sub scenario"
               >
      </command>
      <command
               defaultHandler="org.polarsys.capella.core.refinement.commands.actions.AddNewSubScenarioAction"
               id="org.polarsys.capella.core.refinement.commands.actions.addNewSubScenarioAction"
               name="Add new sub scenario"
               >
      </command>
      
    </extension>  
   
   
</plugin>
