/CapabilityRealization__involvedComponents.java
/Component.java
/Component__containedComponentPorts.java
/Component__containedParts.java
/Component__containedPhysicalPorts.java
/Component__implementedInterfaceLinks.java
/Component__implementedInterfaces.java
/Component__providedInterfaces.java
/Component__realizedComponents.java
/Component__realizingComponents.java
/Component__representingParts.java
/Component__requiredInterfaces.java
/Component__usedInterfaceLinks.java
/Component__usedInterfaces.java
/InterfaceAllocation.java
/InterfaceAllocation__allocatedInterface.java
/InterfaceAllocation__allocatingInterfaceAllocator.java
/PhysicalLink.java
/PhysicalLink__categories.java
/PhysicalLink__realizedPhysicalLinks.java
/PhysicalLink__realizingPhysicalLinks.java
/InterfaceUse.java
/InterfaceUse__interfaceUser.java
/PhysicalPath.java
/PhysicalPath__firstPhysicalPathInvolvements.java
/PhysicalPath__realizedPhysicalPaths.java
/PhysicalPath__realizingPhysicalPaths.java
/InterfaceImplementation.java
/InterfaceImplementation__interfaceImplementor.java
/PhysicalPathInvolvement__previousInvolvements.java
/ExchangeItemAllocation.java
/ExchangeItemAllocation__allocatingInterface.java
/DeployableElement.java
/DeployableElement__deployingLinks.java
/ComponentRealization.java
/ComponentRealization__realizedComponent.java
/ComponentRealization__realizingComponent.java
/AbstractPhysicalLinkEnd.java
/AbstractPhysicalLinkEnd__involvedLinks.java
/DeploymentTarget.java
/DeploymentTarget__deploymentLinks.java
/PhysicalPort.java
/PhysicalPort__allocatedComponentPorts.java
/PhysicalPort__realizedPhysicalPorts.java
/PhysicalPort__realizingPhysicalPorts.java
/InterfaceAllocator.java
/InterfaceAllocator__allocatedInterfaces.java
/InterfaceAllocator__provisionedInterfaceAllocations.java
/PhysicalPathInvolvement.java
/PhysicalPathInvolvement__involvedComponent.java
/PhysicalPathInvolvement__involvedElement.java
/PhysicalPathReference.java
/PhysicalPathReference__referencedPhysicalPath.java
/AbstractPhysicalArtifact.java
/AbstractPhysicalArtifact__allocatorConfigurationItems.java
/BlockArchitecture.java
/BlockArchitecture__allocatedArchitectures.java
/BlockArchitecture__allocatingArchitectures.java
/BlockArchitecture__provisionedArchitectureAllocations.java
/BlockArchitecture__provisioningArchitectureAllocations.java
/BlockArchitecture__system.java
/EPBSArchitecture__system.java
/LogicalArchitecture__system.java
/PhysicalArchitecture__system.java
/SystemAnalysis__system.java
/Part.java
/Part__deployedParts.java
/Part__deployingParts.java
/Part__providedInterfaces.java
/Part__requiredInterfaces.java
/ArchitectureAllocation.java
/ArchitectureAllocation__allocatedArchitecture.java
/ArchitectureAllocation__allocatingArchitecture.java
/Interface.java
/Interface__allocatingComponents.java
/Interface__allocatingInterfaces.java
/Interface__exchangeItems.java
/Interface__implementorComponents.java
/Interface__interfaceImplementations.java
/Interface__interfaceUses.java
/Interface__providingComponentPorts.java
/Interface__providingComponents.java
/Interface__provisioningInterfaceAllocations.java
/Interface__realizedContextInterfaces.java
/Interface__realizedLogicalInterfaces.java
/Interface__realizingLogicalInterfaces.java
/Interface__realizingPhysicalInterfaces.java
/Interface__requiringComponentPorts.java
/Interface__requiringComponents.java
/Interface__userComponents.java
