<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  Copyright (c) 2006, 2019 THALES GLOBAL SERVICES.
  
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0
  
  SPDX-License-Identifier: EPL-2.0

  Contributors:
       Thales - initial API and implementation
-->
<plugin>
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections contributorId="org.polarsys.capella.core.data.capellamodeller.properties">
         <propertySection
               class="org.polarsys.capella.core.data.pa.deployment.properties.sections.ComponentInstanceSection"
               filter="org.polarsys.capella.core.data.pa.deployment.properties.sections.ComponentInstanceSection"
               id="org.polarsys.capella.core.data.pa.deployment.properties.sections.ComponentInstanceSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.pa.deployment.properties.sections.ConnectionInstanceSection"
               filter="org.polarsys.capella.core.data.pa.deployment.properties.sections.ConnectionInstanceSection"
               id="org.polarsys.capella.core.data.pa.deployment.properties.sections.ConnectionInstanceSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.pa.deployment.properties.sections.DeploymentAspectSection"
               filter="org.polarsys.capella.core.data.pa.deployment.properties.sections.DeploymentAspectSection"
               id="org.polarsys.capella.core.data.pa.deployment.properties.sections.DeploymentAspectSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.pa.deployment.properties.sections.DeploymentConfigurationSection"
               filter="org.polarsys.capella.core.data.pa.deployment.properties.sections.DeploymentConfigurationSection"
               id="org.polarsys.capella.core.data.pa.deployment.properties.sections.DeploymentConfigurationSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.pa.deployment.properties.sections.InstanceDeploymentLinkSection"
               filter="org.polarsys.capella.core.data.pa.deployment.properties.sections.InstanceDeploymentLinkSection"
               id="org.polarsys.capella.core.data.pa.deployment.properties.sections.InstanceDeploymentLinkSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.pa.deployment.properties.sections.PartDeploymentLinkSection"
               filter="org.polarsys.capella.core.data.pa.deployment.properties.sections.PartDeploymentLinkSection"
               id="org.polarsys.capella.core.data.pa.deployment.properties.sections.PartDeploymentLinkSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.pa.deployment.properties.sections.PortInstanceSection"
               filter="org.polarsys.capella.core.data.pa.deployment.properties.sections.PortInstanceSection"
               id="org.polarsys.capella.core.data.pa.deployment.properties.sections.PortInstanceSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.pa.deployment.properties.sections.TypeDeploymentLinkSection"
               filter="org.polarsys.capella.core.data.pa.deployment.properties.sections.TypeDeploymentLinkSection"
               id="org.polarsys.capella.core.data.pa.deployment.properties.sections.TypeDeploymentLinkSection"
               tab="BaseCapella">
         </propertySection>
      </propertySections>
   </extension>
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">      
	  <propertySections contributorId="org.eclipse.sirius.diagram.ui">
         <propertySection
               class="org.polarsys.capella.core.data.pa.deployment.properties.sections.ComponentInstanceSection"
               filter="org.polarsys.capella.core.data.pa.deployment.properties.sections.ComponentInstanceSection"
               id="org.polarsys.capella.core.data.pa.deployment.properties.sections.ComponentInstanceSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.pa.deployment.properties.sections.ConnectionInstanceSection"
               filter="org.polarsys.capella.core.data.pa.deployment.properties.sections.ConnectionInstanceSection"
               id="org.polarsys.capella.core.data.pa.deployment.properties.sections.ConnectionInstanceSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.pa.deployment.properties.sections.DeploymentAspectSection"
               filter="org.polarsys.capella.core.data.pa.deployment.properties.sections.DeploymentAspectSection"
               id="org.polarsys.capella.core.data.pa.deployment.properties.sections.DeploymentAspectSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.pa.deployment.properties.sections.DeploymentConfigurationSection"
               filter="org.polarsys.capella.core.data.pa.deployment.properties.sections.DeploymentConfigurationSection"
               id="org.polarsys.capella.core.data.pa.deployment.properties.sections.DeploymentConfigurationSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.pa.deployment.properties.sections.InstanceDeploymentLinkSection"
               filter="org.polarsys.capella.core.data.pa.deployment.properties.sections.InstanceDeploymentLinkSection"
               id="org.polarsys.capella.core.data.pa.deployment.properties.sections.InstanceDeploymentLinkSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.pa.deployment.properties.sections.PartDeploymentLinkSection"
               filter="org.polarsys.capella.core.data.pa.deployment.properties.sections.PartDeploymentLinkSection"
               id="org.polarsys.capella.core.data.pa.deployment.properties.sections.PartDeploymentLinkSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.pa.deployment.properties.sections.PortInstanceSection"
               filter="org.polarsys.capella.core.data.pa.deployment.properties.sections.PortInstanceSection"
               id="org.polarsys.capella.core.data.pa.deployment.properties.sections.PortInstanceSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.pa.deployment.properties.sections.TypeDeploymentLinkSection"
               filter="org.polarsys.capella.core.data.pa.deployment.properties.sections.TypeDeploymentLinkSection"
               id="org.polarsys.capella.core.data.pa.deployment.properties.sections.TypeDeploymentLinkSection"
               tab="BaseSiriusDiagram">
         </propertySection>
      </propertySections>
   </extension>
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">      
	  <propertySections contributorId="org.eclipse.sirius.table.ui.EditorID">
         <propertySection
               class="org.polarsys.capella.core.data.pa.deployment.properties.sections.ComponentInstanceSection"
               filter="org.polarsys.capella.core.data.pa.deployment.properties.sections.ComponentInstanceSection"
               id="org.polarsys.capella.core.data.pa.deployment.properties.sections.ComponentInstanceSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.pa.deployment.properties.sections.ConnectionInstanceSection"
               filter="org.polarsys.capella.core.data.pa.deployment.properties.sections.ConnectionInstanceSection"
               id="org.polarsys.capella.core.data.pa.deployment.properties.sections.ConnectionInstanceSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.pa.deployment.properties.sections.DeploymentAspectSection"
               filter="org.polarsys.capella.core.data.pa.deployment.properties.sections.DeploymentAspectSection"
               id="org.polarsys.capella.core.data.pa.deployment.properties.sections.DeploymentAspectSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.pa.deployment.properties.sections.DeploymentConfigurationSection"
               filter="org.polarsys.capella.core.data.pa.deployment.properties.sections.DeploymentConfigurationSection"
               id="org.polarsys.capella.core.data.pa.deployment.properties.sections.DeploymentConfigurationSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.pa.deployment.properties.sections.InstanceDeploymentLinkSection"
               filter="org.polarsys.capella.core.data.pa.deployment.properties.sections.InstanceDeploymentLinkSection"
               id="org.polarsys.capella.core.data.pa.deployment.properties.sections.InstanceDeploymentLinkSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.pa.deployment.properties.sections.PartDeploymentLinkSection"
               filter="org.polarsys.capella.core.data.pa.deployment.properties.sections.PartDeploymentLinkSection"
               id="org.polarsys.capella.core.data.pa.deployment.properties.sections.PartDeploymentLinkSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.pa.deployment.properties.sections.PortInstanceSection"
               filter="org.polarsys.capella.core.data.pa.deployment.properties.sections.PortInstanceSection"
               id="org.polarsys.capella.core.data.pa.deployment.properties.sections.PortInstanceSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.pa.deployment.properties.sections.TypeDeploymentLinkSection"
               filter="org.polarsys.capella.core.data.pa.deployment.properties.sections.TypeDeploymentLinkSection"
               id="org.polarsys.capella.core.data.pa.deployment.properties.sections.TypeDeploymentLinkSection"
               tab="BaseSiriusTable">
         </propertySection>
      </propertySections>
   </extension>
</plugin>
