<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
  Copyright (c) 2006, 2017 THALES GLOBAL SERVICES.
  
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0
  
  SPDX-License-Identifier: EPL-2.0
  
  Contributors:
       Thales - initial API and implementation
-->
<plugin>
   <extension
         point="org.polarsys.capella.common.queries.query">
      <querySpecification
            queryIdentifier="GetAllDataPkgs">
         <queryAlgorithm algorithm="org.polarsys.capella.core.model.helpers.queries.GetAllDataPkgs"></queryAlgorithm>
      </querySpecification>
      <querySpecification
            queryIdentifier="GetAllNumericTypes">
         <queryAlgorithm
               algorithm="org.polarsys.capella.core.model.helpers.queries.GetAllNumericTypes">
         </queryAlgorithm>
      </querySpecification>
      <querySpecification
            queryIdentifier="GetAllDataTypes">
         <queryAlgorithm
               algorithm="org.polarsys.capella.core.model.helpers.queries.GetAllDataTypes">
         </queryAlgorithm>
      </querySpecification>
      <querySpecification
            queryIdentifier="GetAllBooleanTypes">
         <queryAlgorithm
               algorithm="org.polarsys.capella.core.model.helpers.queries.GetAllBooleanTypes">
         </queryAlgorithm>
      </querySpecification>
      <querySpecification
            queryIdentifier="GetAllEnumerations">
         <queryAlgorithm
               algorithm="org.polarsys.capella.core.model.helpers.queries.GetAllEnumerations">
         </queryAlgorithm>
      </querySpecification>      
      <querySpecification
            queryIdentifier="GetAllComponents">
         <queryAlgorithm
               algorithm="org.polarsys.capella.core.model.helpers.queries.GetAllComponents">
         </queryAlgorithm>
      </querySpecification>      
      <querySpecification
            queryIdentifier="GetAllClasses">
         <queryAlgorithm
               algorithm="org.polarsys.capella.core.model.helpers.queries.GetAllClasses">
         </queryAlgorithm>
      </querySpecification>
      <querySpecification
            queryIdentifier="GetAllActors">
         <queryAlgorithm
               algorithm="org.polarsys.capella.core.model.helpers.queries.GetAllActors">
         </queryAlgorithm>
      </querySpecification>      
      <querySpecification
            queryIdentifier="GetClassesInBlockDataPackage">
         <queryAlgorithm
               algorithm="org.polarsys.capella.core.model.helpers.queries.GetClassesInBlockDataPackage">
         </queryAlgorithm>
      </querySpecification>
      <querySpecification
            queryIdentifier="GetAllCollections">
         <queryAlgorithm
               algorithm="org.polarsys.capella.core.model.helpers.queries.GetAllCollections">
         </queryAlgorithm>
      </querySpecification>
      <querySpecification
            queryIdentifier="GetDataValues">
         <queryAlgorithm
               algorithm="org.polarsys.capella.core.model.helpers.queries.GetDataValues">
         </queryAlgorithm>
      </querySpecification>      
      <querySpecification
            queryIdentifier="GetInterfaces">
         <queryAlgorithm
               algorithm="org.polarsys.capella.core.model.helpers.queries.GetInterfaces"></queryAlgorithm>
      </querySpecification>
      <querySpecification
            queryIdentifier="GetComponents">
         <queryAlgorithm
               algorithm="org.polarsys.capella.core.model.helpers.queries.GetComponents"></queryAlgorithm>
      </querySpecification>
      <querySpecification
            queryIdentifier="GetAllInterfaces">
         <queryAlgorithm
               algorithm="org.polarsys.capella.core.model.helpers.queries.GetAllInterfaces"></queryAlgorithm>
      </querySpecification>
      <querySpecification
            queryIdentifier="GetAllInterfacesFromArchitecture">
         <queryAlgorithm
               algorithm="org.polarsys.capella.core.model.helpers.queries.GetAllInterfacesFromArchitecture"></queryAlgorithm>
      </querySpecification>
      <querySpecification
            queryIdentifier="GetAllInterfacesFromArchitectureForActor">
         <queryAlgorithm
               algorithm="org.polarsys.capella.core.model.helpers.queries.GetAllInterfacesFromArchitectureForActor"></queryAlgorithm>
      </querySpecification>
      <querySpecification
            queryIdentifier="GetAllInterfacesForActor">
         <queryAlgorithm
               algorithm="org.polarsys.capella.core.model.helpers.queries.GetAllInterfacesForActor"></queryAlgorithm>
      </querySpecification>                              
      <querySpecification
            queryIdentifier="GetAllInterfacePcks">
         <queryAlgorithm
               algorithm="org.polarsys.capella.core.model.helpers.queries.GetAllInterfacePcks"></queryAlgorithm>
      </querySpecification>
      <querySpecification
            queryIdentifier="GetAllExchangeItems">
         <queryAlgorithm
               algorithm="org.polarsys.capella.core.model.helpers.queries.GetAllExchangeItems">
         </queryAlgorithm>
      </querySpecification>
      <querySpecification
            queryIdentifier="GetBrotherComponents">
         <queryAlgorithm
               algorithm="org.polarsys.capella.core.model.helpers.queries.GetBrotherComponents">
         </queryAlgorithm>
      </querySpecification>
      <querySpecification
            queryIdentifier="GetSubDefinedActors">
         <queryAlgorithm
               algorithm="org.polarsys.capella.core.model.helpers.queries.GetSubDefinedActors">
         </queryAlgorithm>
      </querySpecification>      
      <querySpecification
            queryIdentifier="GetSubDefinedComponents">
         <queryAlgorithm
               algorithm="org.polarsys.capella.core.model.helpers.queries.GetSubDefinedComponents">
         </queryAlgorithm>
      </querySpecification>      
      <querySpecification
            queryIdentifier="GetAllSubDefinedComponents">
         <queryAlgorithm
               algorithm="org.polarsys.capella.core.model.helpers.queries.GetAllSubDefinedComponents">
         </queryAlgorithm>
      </querySpecification>      
      <querySpecification
            queryIdentifier="GetSubUsedComponents">
         <queryAlgorithm
               algorithm="org.polarsys.capella.core.model.helpers.queries.GetSubUsedComponents">
         </queryAlgorithm>
      </querySpecification>      
   </extension>
   <extension
         point="org.polarsys.capella.common.ef.editingDomainListener">
      <editingDomainListener
            class="org.polarsys.capella.core.model.helpers.listeners.CapellaModelEditingDomainListener">
      </editingDomainListener>
   </extension>
   <extension
         id="capella.delete.helper"
         name="Delete Helper for all Capella Elements"
         point="org.polarsys.capella.core.model.handler.deleteCommandProvider">
      <deleteHelper
            class="org.polarsys.capella.core.model.helpers.delete.DeleteHelper">
      </deleteHelper>
   </extension>
</plugin>

