<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<!--
  Copyright (c) 2006, 2018 THALES GLOBAL SERVICES.
  
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0
  
  SPDX-License-Identifier: EPL-2.0

  Contributors:
       Thales - initial API and implementation
-->
<plugin>
   <extension
         point="org.polarsys.capella.shared.id.handler.IdHandler">
      <IdHandler
            handler="org.polarsys.capella.common.platform.sirius.customisation.id.handler.drepresentation.DRepresentationIdHandler"
            id="org.polarsys.capella.shared.id.handler.drepresentation">
      </IdHandler>
   </extension>
</plugin>
