<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  Copyright (c) 2006, 2018 THALES GLOBAL SERVICES.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html

  Contributors:
       Thales - initial API and implementation
-->
<plugin>
   <extension
         point="org.polarsys.capella.common.ui.toolkit.browser.contentProviderCategory">
      <category
            id="org.polarsys.capella.core.semantic.queries.sirius.diagram.getall"
            isTopLevel="true"
            name="All Related Diagrams">
         <targetBrowserId
               id="CurrentElementBrowser">
         </targetBrowserId>
         <availableForType
               class="org.polarsys.capella.common.data.modellingcore.ModelElement">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.capella.core.semantic.queries.sirius.diagram.ModelElementRelatedDiagramsQuery">
            </basicQuery>
         </categoryQuery>
      </category>
      <category
            id="org.polarsys.capella.core.semantic.queries.sirius.category1"
            isTopLevel="true"
            name="All Related Tables">
         <targetBrowserId
               id="CurrentElementBrowser">
         </targetBrowserId>
         <availableForType
               class="org.polarsys.capella.common.data.modellingcore.ModelElement">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.capella.core.semantic.queries.sirius.diagram.ModelElementRelatedTablesQuery">
            </basicQuery>
         </categoryQuery>
      </category>
      <category
            id="org.polarsys.capella.core.semantic.queries.sirius.eoi"
            isTopLevel="true"
            name="Element of Interest for Diagram">
         <targetBrowserId
               id="ReferencingElementBrowser">
         </targetBrowserId>
         <availableForType
               class="org.polarsys.kitalpha.emde.model.Element">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.capella.core.semantic.queries.sirius.annotation.eoi.ElementToRepresentation">
            </basicQuery>
         </categoryQuery>
      </category>
      <category
            id="org.polarsys.capella.core.semantic.queries.sirius.eoi2"
            isTopLevel="true"
            name="Elements of Interest">
         <targetBrowserId
               id="ReferencedElementBrowser">
         </targetBrowserId>
         <availableForType
               class="org.eclipse.sirius.viewpoint.DRepresentationDescriptor">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.capella.core.semantic.queries.sirius.annotation.eoi.RepresentationToElement">
            </basicQuery>
         </categoryQuery>
      </category>
   </extension>

</plugin>
