<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  Copyright (c) 2006, 2018 THALES GLOBAL SERVICES.
  
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0
  
  SPDX-License-Identifier: EPL-2.0

  Contributors:
       Thales - initial API and implementation
-->
<plugin>
   
   <extension
         point="org.eclipse.ui.menus">
         <menuContribution
               locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu?after=group.semantic">
               
               <menu id="BusinessCopyPasteMenuSirius" label="Capella Copy/Paste">
	               <command
	                     commandId="org.polarsys.capella.core.platform.sirius.clipboard.copy">
	               </command>
	               <command
	                     commandId="org.polarsys.capella.core.platform.sirius.clipboard.paste">
	               </command>
                <command
                      commandId="org.polarsys.capella.core.platform.sirius.clipboard.cut"
                      style="push">
                </command>
	               <command
	                     commandId="org.polarsys.capella.core.platform.sirius.clipboard.pasteStyleOnly">
	               </command>
	               <command
	                     commandId="org.polarsys.capella.core.platform.sirius.clipboard.pasteLayoutOnly">
	               </command>
	               <separator
	                     name="groupCopyPaste">
	               </separator>
	               <separator
	                     visible="true"
	                     name="org.polarsys.capella.core.platform.sirius.clipboard.groupMarker1">
	               </separator>
	               <command
	                     commandId="org.polarsys.capella.core.platform.sirius.clipboard.quickPaste"
	                     label="Quick Paste">
	               </command>
	               <separator
	                     name="groupQuickPaste">
	               </separator>
		       </menu>
		  </menuContribution>
		  
   </extension>
   
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.polarsys.capella.core.platform.sirius.clipboard.quickPaste"
            contextId="org.eclipse.sirius.diagram.ui.diagramContext"
            schemeId="org.polarsys.capella.core.defaultAcceleratorConfiguration"
            sequence="M1+M2+V">
      </key>
      <key
            commandId="org.polarsys.capella.core.platform.sirius.clipboard.paste"
            contextId="org.eclipse.sirius.diagram.ui.diagramContext"
            schemeId="org.polarsys.capella.core.defaultAcceleratorConfiguration"
            sequence="M1+V">
      </key>
      <key
            commandId="org.polarsys.capella.core.platform.sirius.clipboard.copy"
            contextId="org.eclipse.sirius.diagram.ui.diagramContext"
            schemeId="org.polarsys.capella.core.defaultAcceleratorConfiguration"
            sequence="M1+C">
      </key>
      <key
            commandId="org.polarsys.capella.core.platform.sirius.clipboard.cut"
            contextId="org.eclipse.sirius.diagram.ui.diagramContext"
            schemeId="org.polarsys.capella.core.defaultAcceleratorConfiguration"
            sequence="M1+X">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.polarsys.capella.core.platform.sirius.clipboard.category"
            name="Capella Diagram Copy/Paste">
      </category>
      <command
            categoryId="org.polarsys.capella.core.platform.sirius.clipboard.category"
            defaultHandler="org.polarsys.capella.core.platform.sirius.clipboard.actions.QuickPasteCommandHandler"
            description="Capella Diagram Paste without refresh"
            id="org.polarsys.capella.core.platform.sirius.clipboard.quickPaste"
            name="Quick paste (no refresh)">
      </command>
      <command
            categoryId="org.polarsys.capella.core.platform.sirius.clipboard.category"
            defaultHandler="org.polarsys.capella.core.platform.sirius.clipboard.actions.PasteCommandHandler"
            description="Capella Diagram Paste"
            id="org.polarsys.capella.core.platform.sirius.clipboard.paste"
            name="Paste">
      </command>
      <command
            categoryId="org.polarsys.capella.core.platform.sirius.clipboard.category"
            defaultHandler="org.polarsys.capella.core.platform.sirius.clipboard.actions.CopyCommandHandler"
            description="Capella Diagram Copy"
            id="org.polarsys.capella.core.platform.sirius.clipboard.copy"
            name="Copy">
      </command>
      
      
      <command
            categoryId="org.polarsys.capella.core.platform.sirius.clipboard.category"
            defaultHandler="org.polarsys.capella.core.platform.sirius.clipboard.actions.PasteStyleOnlyCommandHandler"
            description="Capella Diagram Paste"
            id="org.polarsys.capella.core.platform.sirius.clipboard.pasteStyleOnly"
            name="Paste with style only">
      </command>
      <command
            categoryId="org.polarsys.capella.core.platform.sirius.clipboard.category"
            defaultHandler="org.polarsys.capella.core.platform.sirius.clipboard.actions.PasteLayoutOnlyCommandHandler"
            description="Capella Diagram Paste"
            id="org.polarsys.capella.core.platform.sirius.clipboard.pasteLayoutOnly"
            name="Paste with layout only">
      </command>
      <command
            categoryId="org.polarsys.capella.core.platform.sirius.clipboard.category"
            description="Capella Diagram Cut"
            id="org.polarsys.capella.core.platform.sirius.clipboard.cut"
            name="Cut">
      </command>
      
      
   </extension>
   <extension
         point="org.eclipse.ui.statusHandlers">
      <statusHandler
            class="org.polarsys.capella.core.platform.sirius.clipboard.ClipboardStatusHandler"
            id="org.polarsys.capella.core.platform.sirius.clipboard.statusHandler">
         <parameter
               name="prefix"
               value="org.polarsys.capella.core.platform.sirius.clipboard">
         </parameter>
      </statusHandler>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.emf.clipboard.core.clipboardSupport">
      <factory
            class="org.polarsys.capella.core.platform.sirius.clipboard.support.CapellaClipboardSupportFactory"
            policy="org.polarsys.capella.core.platform.sirius.clipboard.support.CapellaClipboardSupportPolicy"
            priority="highest">
      </factory>
   </extension>

</plugin>
