<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  Copyright (c) 2006, 2020 THALES GLOBAL SERVICES.
  
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0
  
  SPDX-License-Identifier: EPL-2.0
  
  Contributors:
       Thales - initial API and implementation
-->
<plugin>
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections contributorId="org.polarsys.capella.core.data.capellamodeller.properties">
         <propertySection
               class="org.polarsys.capella.core.data.cs.properties.sections.ExchangeItemAllocationSection"
               filter="org.polarsys.capella.core.data.cs.properties.sections.ExchangeItemAllocationSection"
               id="org.polarsys.capella.core.data.cs.section.ExchangeItemAllocation"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.cs.properties.sections.InterfaceImplementationSection"
               filter="org.polarsys.capella.core.data.cs.properties.sections.InterfaceImplementationSection"
               id="org.polarsys.capella.core.data.cs.section.InterfaceImplementation"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.cs.properties.sections.InterfacePkgSection"
               filter="org.polarsys.capella.core.data.cs.properties.sections.InterfacePkgSection"
               id="org.polarsys.capella.core.data.cs.section.InterfacePkg"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.cs.properties.sections.InterfaceSection"
               filter="org.polarsys.capella.core.data.cs.properties.sections.InterfaceSection"
               id="org.polarsys.capella.core.data.cs.section.Interface"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.cs.properties.sections.InterfaceUseSection"
               filter="org.polarsys.capella.core.data.cs.properties.sections.InterfaceUseSection"
               id="org.polarsys.capella.core.data.cs.section.InterfaceUse"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.cs.properties.sections.PartSection"
               filter="org.polarsys.capella.core.data.cs.properties.sections.PartSection"
               id="org.polarsys.capella.core.data.cs.section.Part"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.cs.properties.sections.PhysicalLinkSection"
               filter="org.polarsys.capella.core.data.cs.properties.sections.PhysicalLinkSection"
               id="org.polarsys.capella.core.data.cs.properties.sections.PhysicalLinkSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.cs.properties.sections.PhysicalLinkCategorySection"
               filter="org.polarsys.capella.core.data.cs.properties.sections.PhysicalLinkCategorySection"
               id="org.polarsys.capella.core.data.cs.properties.sections.PhysicalLinkCategorySection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.cs.properties.sections.PhysicalLinkEndSection"
               filter="org.polarsys.capella.core.data.cs.properties.sections.PhysicalLinkEndSection"
               id="org.polarsys.capella.core.data.cs.properties.sections.PhysicalLinkEndSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.cs.properties.sections.PhysicalPathSection"
               filter="org.polarsys.capella.core.data.cs.properties.sections.PhysicalPathSection"
               id="org.polarsys.capella.core.data.cs.properties.sections.PhysicalPathSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.cs.properties.sections.PhysicalPathInvolvementSection"
               filter="org.polarsys.capella.core.data.cs.properties.sections.PhysicalPathInvolvementSection"
               id="org.polarsys.capella.core.data.cs.properties.sections.PhysicalPathInvolvementSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.cs.properties.sections.PhysicalPathReferenceSection"
               filter="org.polarsys.capella.core.data.cs.properties.sections.PhysicalPathReferenceSection"
               id="org.polarsys.capella.core.data.cs.properties.sections.PhysicalPathReferenceSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.cs.properties.sections.PhysicalPortSection"
               filter="org.polarsys.capella.core.data.cs.properties.sections.PhysicalPortSection"
               id="org.polarsys.capella.core.data.cs.properties.sections.PhysicalPortSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.cs.properties.sections.ComponentRealizationSection"
               filter="org.polarsys.capella.core.data.cs.properties.sections.ComponentRealizationSection"
               id="org.polarsys.capella.core.data.cs.properties.sections.ComponentRealizationSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.cs.properties.sections.PhysicalLinkRealizationSection"
               filter="org.polarsys.capella.core.data.cs.properties.sections.PhysicalLinkRealizationSection"
               id="org.polarsys.capella.core.data.cs.properties.sections.PhysicalLinkRealizationSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.cs.properties.sections.PhysicalPathRealizationSection"
               filter="org.polarsys.capella.core.data.cs.properties.sections.PhysicalPathRealizationSection"
               id="org.polarsys.capella.core.data.cs.properties.sections.PhysicalPathRealizationSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.cs.properties.sections.PhysicalPortRealizationSection"
               filter="org.polarsys.capella.core.data.cs.properties.sections.PhysicalPortRealizationSection"
               id="org.polarsys.capella.core.data.cs.properties.sections.PhysicalPortRealizationSection"
               tab="BaseCapella">
         </propertySection>
      </propertySections>
   </extension>
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">      
	  <propertySections contributorId="org.eclipse.sirius.diagram.ui">
         <propertySection
               class="org.polarsys.capella.core.data.cs.properties.sections.ExchangeItemAllocationSection"
               filter="org.polarsys.capella.core.data.cs.properties.sections.ExchangeItemAllocationSection"
               id="org.polarsys.capella.core.data.cs.section.ExchangeItemAllocationBasePropertySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.cs.properties.sections.InterfaceImplementationSection"
               filter="org.polarsys.capella.core.data.cs.properties.sections.InterfaceImplementationSection"
               id="org.polarsys.capella.core.data.cs.section.InterfaceImplementationBasePropertySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.cs.properties.sections.InterfacePkgSection"
               filter="org.polarsys.capella.core.data.cs.properties.sections.InterfacePkgSection"
               id="org.polarsys.capella.core.data.cs.section.InterfacePkgBasePropertySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.cs.properties.sections.InterfaceSection"
               filter="org.polarsys.capella.core.data.cs.properties.sections.InterfaceSection"
               id="org.polarsys.capella.core.data.cs.section.InterfaceBasePropertySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.cs.properties.sections.InterfaceUseSection"
               filter="org.polarsys.capella.core.data.cs.properties.sections.InterfaceUseSection"
               id="org.polarsys.capella.core.data.cs.section.InterfaceUseBasePropertySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.cs.properties.sections.PartSection"
               filter="org.polarsys.capella.core.data.cs.properties.sections.PartSection"
               id="org.polarsys.capella.core.data.cs.section.PartBasePropertySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.cs.properties.sections.PhysicalLinkSection"
               filter="org.polarsys.capella.core.data.cs.properties.sections.PhysicalLinkSection"
               id="org.polarsys.capella.core.data.cs.properties.sections.PhysicalLinkSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.cs.properties.sections.PhysicalLinkCategorySection"
               filter="org.polarsys.capella.core.data.cs.properties.sections.PhysicalLinkCategorySection"
               id="org.polarsys.capella.core.data.cs.properties.sections.PhysicalLinkCategorySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.cs.properties.sections.PhysicalLinkEndSection"
               filter="org.polarsys.capella.core.data.cs.properties.sections.PhysicalLinkEndSection"
               id="org.polarsys.capella.core.data.cs.properties.sections.PhysicalLinkEndSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.cs.properties.sections.PhysicalPathSection"
               filter="org.polarsys.capella.core.data.cs.properties.sections.PhysicalPathSection"
               id="org.polarsys.capella.core.data.cs.properties.sections.PhysicalPathSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.cs.properties.sections.PhysicalPathInvolvementSection"
               filter="org.polarsys.capella.core.data.cs.properties.sections.PhysicalPathInvolvementSection"
               id="org.polarsys.capella.core.data.cs.properties.sections.PhysicalPathInvolvementSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.cs.properties.sections.PhysicalPathReferenceSection"
               filter="org.polarsys.capella.core.data.cs.properties.sections.PhysicalPathReferenceSection"
               id="org.polarsys.capella.core.data.cs.properties.sections.PhysicalPathReferenceSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.cs.properties.sections.PhysicalPortSection"
               filter="org.polarsys.capella.core.data.cs.properties.sections.PhysicalPortSection"
               id="org.polarsys.capella.core.data.cs.properties.sections.PhysicalPortSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.cs.properties.sections.ComponentRealizationSection"
               filter="org.polarsys.capella.core.data.cs.properties.sections.ComponentRealizationSection"
               id="org.polarsys.capella.core.data.cs.properties.sections.ComponentRealizationSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.cs.properties.sections.PhysicalLinkRealizationSection"
               filter="org.polarsys.capella.core.data.cs.properties.sections.PhysicalLinkRealizationSection"
               id="org.polarsys.capella.core.data.cs.properties.sections.PhysicalLinkRealizationSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.cs.properties.sections.PhysicalPathRealizationSection"
               filter="org.polarsys.capella.core.data.cs.properties.sections.PhysicalPathRealizationSection"
               id="org.polarsys.capella.core.data.cs.properties.sections.PhysicalPathRealizationSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.cs.properties.sections.PhysicalPortRealizationSection"
               filter="org.polarsys.capella.core.data.cs.properties.sections.PhysicalPortRealizationSection"
               id="org.polarsys.capella.core.data.cs.properties.sections.PhysicalPortRealizationSection"
               tab="BaseSiriusDiagram">
         </propertySection>
      </propertySections>
   </extension>
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">      
	  <propertySections contributorId="org.eclipse.sirius.table.ui.EditorID">
         <propertySection
               class="org.polarsys.capella.core.data.cs.properties.sections.ExchangeItemAllocationSection"
               filter="org.polarsys.capella.core.data.cs.properties.sections.ExchangeItemAllocationSection"
               id="org.polarsys.capella.core.data.cs.section.ExchangeItemAllocationBasePropertySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.cs.properties.sections.InterfaceImplementationSection"
               filter="org.polarsys.capella.core.data.cs.properties.sections.InterfaceImplementationSection"
               id="org.polarsys.capella.core.data.cs.section.InterfaceImplementationBasePropertySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.cs.properties.sections.InterfacePkgSection"
               filter="org.polarsys.capella.core.data.cs.properties.sections.InterfacePkgSection"
               id="org.polarsys.capella.core.data.cs.section.InterfacePkgBasePropertySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.cs.properties.sections.InterfaceSection"
               filter="org.polarsys.capella.core.data.cs.properties.sections.InterfaceSection"
               id="org.polarsys.capella.core.data.cs.section.InterfaceBasePropertySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.cs.properties.sections.InterfaceUseSection"
               filter="org.polarsys.capella.core.data.cs.properties.sections.InterfaceUseSection"
               id="org.polarsys.capella.core.data.cs.section.InterfaceUseBasePropertySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.cs.properties.sections.PartSection"
               filter="org.polarsys.capella.core.data.cs.properties.sections.PartSection"
               id="org.polarsys.capella.core.data.cs.section.PartBasePropertySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.cs.properties.sections.PhysicalLinkSection"
               filter="org.polarsys.capella.core.data.cs.properties.sections.PhysicalLinkSection"
               id="org.polarsys.capella.core.data.cs.properties.sections.PhysicalLinkSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.cs.properties.sections.PhysicalLinkCategorySection"
               filter="org.polarsys.capella.core.data.cs.properties.sections.PhysicalLinkCategorySection"
               id="org.polarsys.capella.core.data.cs.properties.sections.PhysicalLinkCategorySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.cs.properties.sections.PhysicalLinkEndSection"
               filter="org.polarsys.capella.core.data.cs.properties.sections.PhysicalLinkEndSection"
               id="org.polarsys.capella.core.data.cs.properties.sections.PhysicalLinkEndSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.cs.properties.sections.PhysicalPathSection"
               filter="org.polarsys.capella.core.data.cs.properties.sections.PhysicalPathSection"
               id="org.polarsys.capella.core.data.cs.properties.sections.PhysicalPathSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.cs.properties.sections.PhysicalPathInvolvementSection"
               filter="org.polarsys.capella.core.data.cs.properties.sections.PhysicalPathInvolvementSection"
               id="org.polarsys.capella.core.data.cs.properties.sections.PhysicalPathInvolvementSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.cs.properties.sections.PhysicalPathReferenceSection"
               filter="org.polarsys.capella.core.data.cs.properties.sections.PhysicalPathReferenceSection"
               id="org.polarsys.capella.core.data.cs.properties.sections.PhysicalPathReferenceSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.cs.properties.sections.PhysicalPortSection"
               filter="org.polarsys.capella.core.data.cs.properties.sections.PhysicalPortSection"
               id="org.polarsys.capella.core.data.cs.properties.sections.PhysicalPortSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.cs.properties.sections.ComponentRealizationSection"
               filter="org.polarsys.capella.core.data.cs.properties.sections.ComponentRealizationSection"
               id="org.polarsys.capella.core.data.cs.properties.sections.ComponentRealizationSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.cs.properties.sections.PhysicalLinkRealizationSection"
               filter="org.polarsys.capella.core.data.cs.properties.sections.PhysicalLinkRealizationSection"
               id="org.polarsys.capella.core.data.cs.properties.sections.PhysicalLinkRealizationSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.cs.properties.sections.PhysicalPathRealizationSection"
               filter="org.polarsys.capella.core.data.cs.properties.sections.PhysicalPathRealizationSection"
               id="org.polarsys.capella.core.data.cs.properties.sections.PhysicalPathRealizationSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.cs.properties.sections.PhysicalPortRealizationSection"
               filter="org.polarsys.capella.core.data.cs.properties.sections.PhysicalPortRealizationSection"
               id="org.polarsys.capella.core.data.cs.properties.sections.PhysicalPortRealizationSection"
               tab="BaseSiriusTable">
         </propertySection>
      </propertySections>
   </extension>
</plugin>
