<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  Copyright (c) 2006, 2019 THALES GLOBAL SERVICES.
  
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0
  
  SPDX-License-Identifier: EPL-2.0

  Contributors:
       Thales - initial API and implementation
-->
<plugin>
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections contributorId="org.polarsys.capella.core.data.capellamodeller.properties">
         <propertySection
               class="org.polarsys.capella.core.data.information.datatype.properties.sections.StringTypeSection"
               filter="org.polarsys.capella.core.data.information.datatype.properties.sections.StringTypeSection"
               id="org.polarsys.capella.core.data.information.datatype.section.StringType"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.datatype.properties.sections.NumericTypeSection"
               filter="org.polarsys.capella.core.data.information.datatype.properties.sections.NumericTypeSection"
               id="org.polarsys.capella.core.data.information.datatype.section.NumericType"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.datatype.properties.sections.BooleanTypeSection"
               filter="org.polarsys.capella.core.data.information.datatype.properties.sections.BooleanTypeSection"
               id="org.polarsys.capella.core.data.information.datatype.section.BooleanType"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.datatype.properties.sections.PhysicalQuantitySection"
               filter="org.polarsys.capella.core.data.information.datatype.properties.sections.PhysicalQuantitySection"
               id="org.polarsys.capella.core.data.information.datatype.section.PhysicalQuantity"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.datatype.properties.sections.EnumerationSection"
               filter="org.polarsys.capella.core.data.information.datatype.properties.sections.EnumerationSection"
               id="org.polarsys.capella.core.data.information.datatype.section.Enumeration"
               tab="BaseCapella">
         </propertySection>
      </propertySections>
   </extension>
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">      
	  <propertySections contributorId="org.eclipse.sirius.diagram.ui">
         <propertySection
               class="org.polarsys.capella.core.data.information.datatype.properties.sections.StringTypeSection"
               filter="org.polarsys.capella.core.data.information.datatype.properties.sections.StringTypeSection"
               id="org.polarsys.capella.core.data.information.datatype.section.StringTypeBasePropertySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.datatype.properties.sections.NumericTypeSection"
               filter="org.polarsys.capella.core.data.information.datatype.properties.sections.NumericTypeSection"
               id="org.polarsys.capella.core.data.information.datatype.section.NumericTypeBasePropertySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.datatype.properties.sections.BooleanTypeSection"
               filter="org.polarsys.capella.core.data.information.datatype.properties.sections.BooleanTypeSection"
               id="org.polarsys.capella.core.data.information.datatype.section.BooleanTypeBasePropertySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.datatype.properties.sections.PhysicalQuantitySection"
               filter="org.polarsys.capella.core.data.information.datatype.properties.sections.PhysicalQuantitySection"
               id="org.polarsys.capella.core.data.information.datatype.section.PhysicalQuantityBasePropertySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.datatype.properties.sections.EnumerationSection"
               filter="org.polarsys.capella.core.data.information.datatype.properties.sections.EnumerationSection"
               id="org.polarsys.capella.core.data.information.datatype.section.EnumerationBasePropertySection"
               tab="BaseSiriusDiagram">
         </propertySection>
      </propertySections>
   </extension>
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">      
	  <propertySections contributorId="org.eclipse.sirius.table.ui.EditorID">
         <propertySection
               class="org.polarsys.capella.core.data.information.datatype.properties.sections.StringTypeSection"
               filter="org.polarsys.capella.core.data.information.datatype.properties.sections.StringTypeSection"
               id="org.polarsys.capella.core.data.information.datatype.section.StringTypeBasePropertySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.datatype.properties.sections.NumericTypeSection"
               filter="org.polarsys.capella.core.data.information.datatype.properties.sections.NumericTypeSection"
               id="org.polarsys.capella.core.data.information.datatype.section.NumericTypeBasePropertySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.datatype.properties.sections.BooleanTypeSection"
               filter="org.polarsys.capella.core.data.information.datatype.properties.sections.BooleanTypeSection"
               id="org.polarsys.capella.core.data.information.datatype.section.BooleanTypeBasePropertySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.datatype.properties.sections.PhysicalQuantitySection"
               filter="org.polarsys.capella.core.data.information.datatype.properties.sections.PhysicalQuantitySection"
               id="org.polarsys.capella.core.data.information.datatype.section.PhysicalQuantityBasePropertySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.datatype.properties.sections.EnumerationSection"
               filter="org.polarsys.capella.core.data.information.datatype.properties.sections.EnumerationSection"
               id="org.polarsys.capella.core.data.information.datatype.section.EnumerationBasePropertySection"
               tab="BaseSiriusTable">
         </propertySection>
      </propertySections>
   </extension>
</plugin>
