<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  Copyright (c) 2006, 2020 THALES GLOBAL SERVICES.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html

  Contributors:
       Thales - initial API and implementation
-->
<plugin>
   <extension
         point="org.polarsys.capella.core.tiger">
         
      <!-- TopDown -->
      <ruleset
            context="org.polarsys.capella.core.projection.scenario.topdown"
            rulepackage="org.polarsys.capella.core.projection.scenario.topdown.rules"
            transfolink="org.polarsys.capella.core.projection.common.ProjectionTraceLinkProvider">
            
         <rule rulename="Rule_Scenario"/>
         <rule rulename="Rule_InstanceRole"/>
         <rule rulename="Rule_Execution"/>
         <rule rulename="Rule_Event"/>
         <rule rulename="Rule_Message"/>
         <rule rulename="Rule_AbstractEnd"/>
        
         <finalizer class="org.polarsys.capella.core.projection.scenario.helpers.ScenarioInvolvementSynchronizer"/>
         <finalizer class="org.polarsys.capella.core.projection.scenario.helpers.UnwantedObjects"/>
         <finalizer class="org.polarsys.capella.core.projection.scenario.helpers.InstanceRoles"/>
         
         <sharedContext context="org.polarsys.capella.core.projection.scenario.common.rules"/>
         <sharedContext context="org.polarsys.capella.core.projection.scenario.uml2.rules"/>
         <sharedContext context="org.polarsys.capella.core.projection.common.resolver"/>
         
      </ruleset>
      
      
      <!-- CES2CIS -->
      
      <ruleset
            context="org.polarsys.capella.core.projection.scenario.es2is"
            rulepackage="org.polarsys.capella.core.projection.scenario.es2is.rules"
            transfolink="org.polarsys.capella.core.projection.common.ProjectionTraceLinkProvider">
         
         <rule rulename="Rule_Execution"/>
         <rule rulename="Rule_DFScenario_IScenario"/>
         <rule rulename="Rule_Event"/>
         <rule rulename="Rule_InstanceRole"/>
         <rule rulename="Rule_Message"/>
         <rule rulename="Rule_AbstractEnd"/>
         
         <finalizer class="org.polarsys.capella.core.projection.scenario.helpers.ScenarioInvolvementSynchronizer"/>
         <finalizer class="org.polarsys.capella.core.projection.scenario.helpers.UnwantedObjects"/>
         <finalizer class="org.polarsys.capella.core.projection.scenario.helpers.InstanceRoles"/>
         <finalizer class="org.polarsys.capella.core.projection.scenario.helpers.ReorderEnds"/>
        
         <sharedContext context="org.polarsys.capella.core.projection.interfaces.generation"/>
         
         <sharedContext context="org.polarsys.capella.core.projection.scenario.common.rules"/>
         <sharedContext context="org.polarsys.capella.core.projection.scenario.uml2.rules"/>
         <sharedContext context="org.polarsys.capella.core.projection.common.resolver"/>
         
      </ruleset>
      
      
      
      <!-- FS2CES -->
      
      <ruleset
            context="org.polarsys.capella.core.projection.scenario.fs2es"
            rulepackage="org.polarsys.capella.core.projection.scenario.fs2es.rules"
            transfolink="org.polarsys.capella.core.projection.common.ProjectionTraceLinkProvider">
         
         <rule rulename="Rule_Execution"/>
         <rule rulename="Rule_Scenario"/>
         <rule rulename="Rule_Event"/>
         <rule rulename="Rule_InstanceRole"/>
         <rule rulename="Rule_Message"/>
         <rule rulename="Rule_AbstractEnd"/>
         
         <finalizer class="org.polarsys.capella.core.projection.scenario.helpers.ScenarioInvolvementSynchronizer"/>
         <finalizer class="org.polarsys.capella.core.projection.scenario.helpers.UnwantedObjects"/>
         <finalizer class="org.polarsys.capella.core.projection.scenario.helpers.InstanceRoles"/>
         
         <sharedContext context="org.polarsys.capella.core.projection.scenario.common.rules"/>
         <sharedContext context="org.polarsys.capella.core.projection.scenario.uml2.rules"/>
         <sharedContext context="org.polarsys.capella.core.projection.common.resolver"/>
         
      </ruleset>
      
      
      <!-- CESF2CESB -->
      
      <ruleset
            context="org.polarsys.capella.core.projection.scenario.esf2esb"
            rulepackage="org.polarsys.capella.core.projection.scenario.esf2esb.rules"
            transfolink="org.polarsys.capella.core.projection.common.ProjectionTraceLinkProvider">
         
         <rule rulename="Rule_Execution"/>
         <rule rulename="Rule_Scenario"/>
         <rule rulename="Rule_Event"/>
         <rule rulename="Rule_InstanceRole"/>
         <rule rulename="Rule_Message"/>
         <rule rulename="Rule_AbstractEnd"/>
         
         <finalizer class="org.polarsys.capella.core.projection.scenario.helpers.ScenarioInvolvementSynchronizer"/>
         <finalizer class="org.polarsys.capella.core.projection.scenario.helpers.UnwantedObjects"/>
         <finalizer class="org.polarsys.capella.core.projection.scenario.helpers.InstanceRoles"/>
         
         <sharedContext context="org.polarsys.capella.core.projection.scenario.common.rules"/>
         <sharedContext context="org.polarsys.capella.core.projection.scenario.uml2.rules"/>
         <sharedContext context="org.polarsys.capella.core.projection.common.resolver"/>
         
      </ruleset>
      
      
      
      <!-- UML2 concepts -->
      
      <ruleset
            context="org.polarsys.capella.core.projection.scenario.uml2.rules"
            rulepackage="org.polarsys.capella.core.projection.scenario.uml2.rules"
            transfolink="org.polarsys.capella.core.projection.common.ProjectionTraceLinkProvider">
         
         <rule rulename="Rule_CombinedFragment"/>
         <rule rulename="Rule_FragmentEnd"/>
         <rule rulename="Rule_InteractionOperand"/>
         <rule rulename="Rule_InteractionState"/>
         <rule rulename="Rule_StateFragment"/>
         <rule rulename="Rule_InteractionUse"/>
         
      </ruleset>
       
     <ruleset context="org.polarsys.capella.core.projection.scenario.common.rules"
      	rulepackage="org.polarsys.capella.core.projection.scenario.common.rules">
          <rule rulename="Rule_Constraint"/>
          <rule rulename="Rule_OpaqueExpression"/>
     </ruleset>
     
       
   </extension>
   
   <extension
         point="org.polarsys.capella.core.tiger">
      <transfoExecuteExtension
            class="org.polarsys.capella.core.projection.scenario.MultiInstanceRoleExtension">
      </transfoExecuteExtension>
   </extension>
   
   <!--  Scenario transition commands -->
   
   <extension
         point="org.eclipse.ui.menus">
      
      <menuContribution allPopups="true"
            locationURI="popup:org.polarsys.capella.core.transitions?after=additions">
         <command  commandId="org.polarsys.capella.core.projection.commands.ui.commands.command1"  style="push" icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif" >
         <visibleWhen checkEnabled="false">
            <and>
                <reference definitionId="org.polarsys.capella.core.projection.commands.ui.expression.transitionVisibilityModelElementExpression"/>
                <with variable="selection">
                <iterate>
                            <test property="org.polarsys.capella.core.platform.sirius.ui.projectionMode" forcePluginActivation="true"
                               value="transitionES2ES-OASA">
                            </test>
                </iterate>
            </with>
            </and>
         </visibleWhen> 
         </command> 

         <command  commandId="org.polarsys.capella.core.projection.commands.ui.commands.command3"  style="push" icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif" >
         <visibleWhen checkEnabled="false">
            <and>
                <reference definitionId="org.polarsys.capella.core.projection.commands.ui.expression.transitionVisibilityModelElementExpression"/>
                <with variable="selection">
                <iterate>
                            <test property="org.polarsys.capella.core.platform.sirius.ui.projectionMode" forcePluginActivation="true"
                               value="transitionES2ES-SALA">
                            </test>
                </iterate>
            </with>
            </and>
         </visibleWhen> 
         </command> 

         <command  commandId="org.polarsys.capella.core.projection.commands.ui.commands.command5"  style="push" icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif" >
         <visibleWhen checkEnabled="false">
            <and>
                <reference definitionId="org.polarsys.capella.core.projection.commands.ui.expression.transitionVisibilityModelElementExpression"/>
                <with variable="selection">
                <iterate>
                            <test property="org.polarsys.capella.core.platform.sirius.ui.projectionMode" forcePluginActivation="true"
                               value="transitionES2ES-LAPA">
                            </test>
                </iterate>
            </with>
            </and>
         </visibleWhen> 
         </command> 

         <command  commandId="org.polarsys.capella.core.projection.commands.ui.commands.command7"  style="push" icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif" >
         <visibleWhen checkEnabled="false">
            <and>
                <reference definitionId="org.polarsys.capella.core.projection.commands.ui.expression.transitionVisibilityModelElementExpression"/>
                <with variable="selection">
                <iterate>
                            <test property="org.polarsys.capella.core.platform.sirius.ui.projectionMode" forcePluginActivation="true"
                               value="transitionES2IS">
                            </test>
                </iterate>
            </with>
            </and>
         </visibleWhen> 
         </command> 

         <command  commandId="org.polarsys.capella.core.projection.commands.ui.commands.command9"  style="push" icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif" >
         <visibleWhen checkEnabled="false">
            <and>
                <reference definitionId="org.polarsys.capella.core.projection.commands.ui.expression.transitionVisibilityModelElementExpression"/>
                <with variable="selection">
                <iterate>
                            <test property="org.polarsys.capella.core.platform.sirius.ui.projectionMode" forcePluginActivation="true"
                               value="transitionESF2ESB">
                            </test>
                </iterate>
            </with>
            </and>
         </visibleWhen> 
         </command> 

         <command  commandId="org.polarsys.capella.core.projection.commands.ui.commands.command11"  style="push" icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif" >
         <visibleWhen checkEnabled="false">
            <and>
                <reference definitionId="org.polarsys.capella.core.projection.commands.ui.expression.transitionVisibilityModelElementExpression"/>
                <with variable="selection">
                <iterate>
                            <test property="org.polarsys.capella.core.platform.sirius.ui.projectionMode" forcePluginActivation="true"
                               value="transitionFS2ES-SALAPA">
                            </test>
                </iterate>
            </with>
            </and>
         </visibleWhen> 
         </command> 

         <command  commandId="org.polarsys.capella.core.projection.commands.ui.commands.command13"  style="push" icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif" >
         <visibleWhen checkEnabled="false">
            <and>
                <reference definitionId="org.polarsys.capella.core.projection.commands.ui.expression.transitionVisibilityModelElementExpression"/>
                <with variable="selection">
                <iterate>
                            <test property="org.polarsys.capella.core.platform.sirius.ui.projectionMode" forcePluginActivation="true"
                               value="transitionFS2ES-OASA">
                            </test>
                </iterate>
            </with>
            </and>
         </visibleWhen> 
         </command> 

         <command  commandId="org.polarsys.capella.core.projection.commands.ui.commands.command15"  style="push" icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif" >
         <visibleWhen checkEnabled="false">
            <and>
                <reference definitionId="org.polarsys.capella.core.projection.commands.ui.expression.transitionVisibilityModelElementExpression"/>
                <with variable="selection">
                <iterate>
                            <test property="org.polarsys.capella.core.platform.sirius.ui.projectionMode" forcePluginActivation="true"
                               value="transitionFS2FS-OASA">
                            </test>
                </iterate>
            </with>
            </and>
         </visibleWhen> 
         </command> 

         <command  commandId="org.polarsys.capella.core.projection.commands.ui.commands.command17"  style="push" icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif" >
         <visibleWhen checkEnabled="false">
            <and>
                <reference definitionId="org.polarsys.capella.core.projection.commands.ui.expression.transitionVisibilityModelElementExpression"/>
                <with variable="selection">
                <iterate>
                            <test property="org.polarsys.capella.core.platform.sirius.ui.projectionMode" forcePluginActivation="true"
                               value="transitionFS2FS-SALA">
                            </test>
                </iterate>
            </with>
            </and>
         </visibleWhen> 
         </command> 

         <command  commandId="org.polarsys.capella.core.projection.commands.ui.commands.command19"  style="push" icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif" >
         <visibleWhen checkEnabled="false">
            <and>
                <reference definitionId="org.polarsys.capella.core.projection.commands.ui.expression.transitionVisibilityModelElementExpression"/>
                <with variable="selection">
                <iterate>
                            <test property="org.polarsys.capella.core.platform.sirius.ui.projectionMode" forcePluginActivation="true"
                               value="transitionFS2FS-LAPA">
                            </test>
                </iterate>
            </with>
            </and>
         </visibleWhen> 
         </command>
         <command
               commandId="org.polarsys.capella.core.projection.commands.ui.commands.command21"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <reference
                        definitionId="org.polarsys.capella.core.projection.commands.ui.expression.transitionVisibilityModelElementExpression">
                  </reference>
                  <with
                        variable="selection">
                     <iterate>
                        <test
                              forcePluginActivation="true"
                              property="org.polarsys.capella.core.platform.sirius.ui.projectionMode"
                              value="transitionFC2FS">
                        </test>
                     </iterate>
                  </with>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="org.polarsys.capella.core.projection.commands.ui.commands.command23"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <reference
                        definitionId="org.polarsys.capella.core.projection.commands.ui.expression.transitionVisibilityModelElementExpression">
                  </reference>
                  <with
                        variable="selection">
                     <iterate>
                        <test
                              forcePluginActivation="true"
                              property="org.polarsys.capella.core.platform.sirius.ui.projectionMode"
                              value="transitionOP2OAS">
                        </test>
                     </iterate>
                  </with>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="org.polarsys.capella.core.projection.commands.ui.commands.command25"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <reference
                        definitionId="org.polarsys.capella.core.projection.commands.ui.expression.transitionVisibilityModelElementExpression">
                  </reference>
                  <with
                        variable="selection">
                     <iterate>
                        <test
                              forcePluginActivation="true"
                              property="org.polarsys.capella.core.platform.sirius.ui.projectionMode"
                              value="transitionIS2IS-SALA">
                        </test>
                     </iterate>
                  </with>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="org.polarsys.capella.core.projection.commands.ui.commands.command27"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <reference
                        definitionId="org.polarsys.capella.core.projection.commands.ui.expression.transitionVisibilityModelElementExpression">
                  </reference>
                  <with
                        variable="selection">
                     <iterate>
                        <test
                              forcePluginActivation="true"
                              property="org.polarsys.capella.core.platform.sirius.ui.projectionMode"
                              value="transitionIS2IS-LAPA">
                        </test>
                     </iterate>
                  </with>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="org.polarsys.capella.core.projection.commands.ui.commands.command29"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <reference
                        definitionId="org.polarsys.capella.core.projection.commands.ui.expression.transitionVisibilityModelElementExpression">
                  </reference>
                  <with
                        variable="selection">
                     <iterate>
                        <test
                              forcePluginActivation="true"
                              property="org.polarsys.capella.core.platform.sirius.ui.projectionMode"
                              value="transitionIS2IS-PAEPBS">
                        </test>
                     </iterate>
                  </with>
               </and>
            </visibleWhen>
         </command> 
       </menuContribution>
      </extension>
   
   <extension   point="org.eclipse.ui.commands">
          <category
                id="org.polarsys.capella.core.transitions.ui.category"
                name="Transitions">
          </category>
         <command
               defaultHandler="org.polarsys.capella.core.projection.scenario.commands.ESToESHandler"
               id="org.polarsys.capella.core.projection.commands.ui.commands.command1"
               name="%transitionES2ES_OAtoSA_label"
               >
         </command>
         
         <command
               defaultHandler="org.polarsys.capella.core.projection.scenario.commands.ESToESHandler"
               id="org.polarsys.capella.core.projection.commands.ui.commands.command3"
               name="%transitionES2ES_SAtoLA_label"
               >
         </command>
         
         <command
               defaultHandler="org.polarsys.capella.core.projection.scenario.commands.ESToESHandler"
               id="org.polarsys.capella.core.projection.commands.ui.commands.command5"
               name="%transitionES2ES_LAtoPA_label"
               >
         </command>
             
         <command
               defaultHandler="org.polarsys.capella.core.projection.scenario.commands.ESToISHandler"
               id="org.polarsys.capella.core.projection.commands.ui.commands.command7"
               name="%transitionES2IS_label"
               >
         </command>
         
         <command
               defaultHandler="org.polarsys.capella.core.projection.scenario.commands.ESFToESBHandler"
               id="org.polarsys.capella.core.projection.commands.ui.commands.command9"
               name="%transitionESF2ESB_label"
               >
         </command>
         
         <command
               defaultHandler="org.polarsys.capella.core.projection.scenario.commands.FSToESHandler"
               id="org.polarsys.capella.core.projection.commands.ui.commands.command11"
               name="%transitionFS2ES_SALAPA_label"
               >
         </command>
         
         <command
               defaultHandler="org.polarsys.capella.core.projection.scenario.commands.FSToESHandler"
               id="org.polarsys.capella.core.projection.commands.ui.commands.command13"
               name="%transitionFS2ES_OASA_label"
               >
         </command>
         
         <command
               defaultHandler="org.polarsys.capella.core.projection.scenario.commands.FSToFSHandler"
               id="org.polarsys.capella.core.projection.commands.ui.commands.command15"
               name="%transitionFS2FS_OAtoSA_label"
               >
         </command>
         
         <command
               defaultHandler="org.polarsys.capella.core.projection.scenario.commands.FSToFSHandler"
               id="org.polarsys.capella.core.projection.commands.ui.commands.command17"
               name="%transitionFS2FS_SAtoLA_label"
               >
         </command>
         
         <command
               defaultHandler="org.polarsys.capella.core.projection.scenario.commands.FSToFSHandler"
               id="org.polarsys.capella.core.projection.commands.ui.commands.command19"
               name="%transitionFS2FS_LAtoPA_label"
               >
         </command>
         <command
               defaultHandler="org.polarsys.capella.core.projection.scenario.commands.FC2FSHandler"
               id="org.polarsys.capella.core.projection.commands.ui.commands.command21"
               name="%transitionFC2FS_label">
         </command>
         <command
               defaultHandler="org.polarsys.capella.core.projection.scenario.commands.FC2FSHandler"
               id="org.polarsys.capella.core.projection.commands.ui.commands.command23"
               name="%transitionOP2OAS_label">
         </command>
         <command
               defaultHandler="org.polarsys.capella.core.projection.scenario.commands.ISToISHandler"
               id="org.polarsys.capella.core.projection.commands.ui.commands.command25"
               name="%transitionIS2IS_SAtoLA_label">
         </command>
         <command
               defaultHandler="org.polarsys.capella.core.projection.scenario.commands.ISToISHandler"
               id="org.polarsys.capella.core.projection.commands.ui.commands.command27"
               name="%transitionIS2IS_LAtoPA_label">
         </command>
         <command
               defaultHandler="org.polarsys.capella.core.projection.scenario.commands.ISToISHandler"
               id="org.polarsys.capella.core.projection.commands.ui.commands.command29"
               name="%transitionIS2IS_PAtoEPBS_label">
         </command>
     </extension>
     
     <extension
            point="org.eclipse.ui.commandImages">
            
            <image
               commandId="org.polarsys.capella.core.projection.commands.ui.commands.command21"
               icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif">
         </image>
         <image
               commandId="org.polarsys.capella.core.projection.commands.ui.commands.command23"
               icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif">
         </image>
         <image
               commandId="org.polarsys.capella.core.projection.commands.ui.commands.command25"
               icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif">
         </image>
         <image
               commandId="org.polarsys.capella.core.projection.commands.ui.commands.command27"
               icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif">
         </image>
         <image
               commandId="org.polarsys.capella.core.projection.commands.ui.commands.command29"
               icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif">
         </image>
            
     </extension>

</plugin>
