<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  Copyright (c) 2006, 2018 THALES GLOBAL SERVICES.
  
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0
  
  SPDX-License-Identifier: EPL-2.0

  Contributors:
       Thales - initial API and implementation
-->
<plugin>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="org.polarsys.capella.patterns.ui.viewerContribution.showHidePatternInstances"
            targetID="org.polarsys.capella.core.ui.semantic.browser.view.SemanticBrowserID">
         <action
               class="org.polarsys.capella.patterns.ui.semanticBrowserAddition.actions.ShowHidePatternInstances"
               icon="icons/full/etool16/patternInstance.png"
               id="org.polarsys.capella.patterns.ui.actions.showHidePatternInstances"
               label="Show pattern instances in the semantic browser"
               style="toggle"
               toolbarPath="additions"
               tooltip="Show pattern instances in the semantic browser">
         </action>
      </viewContribution>
   </extension>
   
   <extension
         point="org.eclipse.emf.diffmerge.patterns.ui.modelenvironmentui">
      <client
            class="org.polarsys.capella.patterns.ui.providers.CapellaModelEnvironmentUI">
      </client>
   </extension>
   <extension
         point="org.eclipse.emf.diffmerge.patterns.ui.uiextender">
      <client
            class="org.polarsys.capella.patterns.ui.util.CapellaUIExtender">
      </client>
   </extension>
   
  <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any?after=group.pattern">
         <menu
               icon="platform:/plugin/org.eclipse.emf.diffmerge.patterns.ui.sirius/icons/full/pattern.gif"
               id="capella.menu.patterns"
               label="Patterns">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <with variable="activePartId">
                     <or>
                        <equals value="capella.project.explorer"/>
                        <equals value="org.polarsys.capella.core.ui.semantic.browser.view.SemanticBrowserID"/>
                     </or>
                  </with>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <adapt
                           type="org.eclipse.emf.ecore.EObject">
                     </adapt>
                  </iterate>
               </and>
            </visibleWhen>
            
         </menu>
      </menuContribution>
      
      <menuContribution
            allPopups="false"
            locationURI="popup:capella.menu.patterns?after=additions">
         <command
               commandId="org.eclipse.emf.diffmerge.patterns.ui.sirius.command.applypattern"
               mode="FORCE_TEXT"
               style="push">
            <visibleWhen
                  checkEnabled="false">
            </visibleWhen>
         </command>
         <separator
               name="org.polarsys.capella.patterns.ui.separator11"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.emf.diffmerge.patterns.ui.sirius.command.createpattern"
               style="push">
         </command>
         <command
               commandId="org.eclipse.emf.diffmerge.patterns.ui.sirius.command.includepatterns"
               style="push">
         </command>
         <command
               commandId="org.eclipse.emf.diffmerge.patterns.ui.sirius.command.resetinclusions"
               style="push">
         </command>
         <separator
               name="org.polarsys.capella.patterns.ui.separator12"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.emf.diffmerge.patterns.ui.sirius.command.createtamplate"
               style="push">
         </command>
         <separator
               name="org.polarsys.capella.patterns.ui.separator13"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.emf.diffmerge.patterns.ui.sirius.command.manageinstance"
               style="push">
         </command>
         <command
               commandId="org.eclipse.emf.diffmerge.patterns.ui.sirius.command.PatternInstanceExplorerSetSelectionCommand"
               icon="platform:/plugin/org.eclipse.emf.diffmerge.patterns.ui.sirius/icons/full/pattern.gif"
               style="push">
         </command>
         <command
               commandId="org.eclipse.emf.diffmerge.patterns.ui.sirius.command.HighlightAllPatternsInstances"
               style="push">
         </command>
         <separator
               name="org.polarsys.capella.patterns.ui.separator15"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.emf.diffmerge.patterns.ui.sirius.command.browsecatalogs"
               style="push">
         </command>
      </menuContribution>
   </extension>

</plugin>
