<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  Copyright (c) 2006, 2020 THALES GLOBAL SERVICES.
  
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0
  
  SPDX-License-Identifier: EPL-2.0
  
  Contributors:
       Thales - initial API and implementation
-->
<plugin>
   <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <category
            id="capella.category/design/consistency/compliance"
            name="%category.name">
      </category>
      <constraintProvider>
         <package
               namespaceUri="http://www.polarsys.org/capella/common/re/7.0.0">
         </package>
         <constraints
               categories="capella.category/design/consistency">
            <constraint
                  class="org.polarsys.capella.core.re.validation.design.consistency.DCON_02_Rpl2RecConformanceConstraint"
                  id="DCON_02"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="%constraint.name"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  %constraint.message
               </message>
               <target
                     class="CatalogElement">
               </target>
               <description>
                  %constraint.description
               </description>
            </constraint>
            <constraint
                  class="org.polarsys.capella.core.re.validation.design.consistency.DCON_04_RplWithoutRec"
                  id="DCON_04"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="%constraint.name.0"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  %constraint.message.0
               </message>
               <target
                     class="CatalogElement">
               </target>
               <description>
                  %constraint.description.0
               </description>
            </constraint>
            <constraint
                  class="org.polarsys.capella.core.re.validation.design.consistency.DCON_05_RecWithoutRpl"
                  id="DCON_05"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="%constraint.name.1"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  %constraint.message.1
               </message>
               <target
                     class="CatalogElement">
               </target>
               <description>
                  %constraint.description.1
               </description>
            </constraint>
            <constraint
                  class="org.polarsys.capella.core.re.validation.design.consistency.DCON_06_RecRplWithoutRpl"
                  id="DCON_06"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="%constraint.name.2"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  %constraint.message.2
               </message>
               <target
                     class="CatalogElement">
               </target>
               <description>
                  %constraint.description.2
               </description>
            </constraint>
            <constraint
                  class="org.polarsys.capella.core.re.validation.design.consistency.DCON_07_RplLinkToRecElement"
                  id="DCON_07"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="%constraint.name.3"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  %constraint.message.3
               </message>
               <target
                     class="CatalogElementLink">
               </target>
               <description>
                  %constraint.description.3
               </description>
            </constraint>
            <constraint
                  class="org.polarsys.capella.core.re.validation.design.consistency.DCON_08_detectNoSourceNoTarget"
                  id="DCON_08"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="%constraint.name.4"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  %constraint.message.4
               </message>
               <target
                     class="CatalogElementLink">
               </target>
               <description>
                  %constraint.description.4
               </description>
            </constraint>
         </constraints>
      </constraintProvider>
      
      <constraintProvider>
         <package
               namespaceUri="*">
         </package>
         <constraints
               categories="capella.category/design/consistency/compliance">
            <constraint
                  class="org.polarsys.capella.core.re.validation.design.consistency.BlackBoxComplianceWithRealizationLinks"
                  id="org.polarsys.capella.core.re.validation.compliance.blackbox.withRealizationLinks"
                  isEnabledByDefault="false"
                  lang="Java"
                  mode="Live"
                  name="%constraint.name.5"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  %constraint.message.5
               </message>
               <description>
                  %constraint.description.5
               </description>
            </constraint>
         </constraints>
      </constraintProvider>
      
      <constraintProvider>
         <package
               namespaceUri="http://www.polarsys.org/kitalpha/emde/1.0.0">
         </package>
         <constraints
               categories="capella.category/integrity">
            <constraint
                  class="org.polarsys.capella.core.re.validation.integrity.I_43_ReferencingToAnAirdElement"
                  id="I_43"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="%constraint.name.6"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  %constraint.message.6
               </message>
               <target
                     class="Element"></target>
               <description>
                  %constraint.description.6
               </description>
            </constraint>
         </constraints>
      </constraintProvider>
   </extension>
</plugin>
