<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  Copyright (c) 2006, 2020 THALES GLOBAL SERVICES.
  
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0
  
  SPDX-License-Identifier: EPL-2.0
  
  Contributors:
       Thales - initial API and implementation
-->
<plugin>
   <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <category
            id="capella.category/design/consistency/compliance"
            name="RPL Compliance">
      </category>
      <constraintProvider>
         <package
               namespaceUri="http://www.polarsys.org/capella/common/re/7.0.0">
         </package>
         <constraints
               categories="capella.category/design/consistency">
            <constraint
                  class="org.polarsys.capella.core.re.validation.design.consistency.DCON_02_Rpl2RecConformanceConstraint"
                  id="DCON_02"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="DCON_02 - RPL to REC conformance"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  {0} (RPL) is not up to date compared to its origin {1} (REC)
               </message>
               <target
                     class="CatalogElement">
               </target>
               <description>
                  This rule checks if a RPL is up to date compared to its origin REC.
               </description>
            </constraint>
            <constraint
                  class="org.polarsys.capella.core.re.validation.design.consistency.DCON_04_RplWithoutRec"
                  id="DCON_04"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="DCON_04 - RPL/REC_RPL without REC"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  {0} ({1}) without REC
               </message>
               <target
                     class="CatalogElement">
               </target>
               <description>
                  This rule checks if a RPL or REC_RPL has no REC.
               </description>
            </constraint>
            <constraint
                  class="org.polarsys.capella.core.re.validation.design.consistency.DCON_05_RecWithoutRpl"
                  id="DCON_05"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="DCON_05 - REC might not have any RPL instance"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  {0} ({1}) might not have any RPL instance
               </message>
               <target
                     class="CatalogElement">
               </target>
               <description>
                  This rule checks if a REC might not be utilised in a RPL.
               </description>
            </constraint>
            <constraint
                  class="org.polarsys.capella.core.re.validation.design.consistency.DCON_06_RecRplWithoutRpl"
                  id="DCON_06"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="DCON_06 - REC_RPL might not have any RPL instance"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  {0} ({1}) might not have any RPL instance
               </message>
               <target
                     class="CatalogElement">
               </target>
               <description>
                  This rule checks if a REC_RPL might not be utilised in a RPL.
               </description>
            </constraint>
            <constraint
                  class="org.polarsys.capella.core.re.validation.design.consistency.DCON_07_RplLinkToRecElement"
                  id="DCON_07"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="DCON_07 - RPL shall not reference an element of its REC"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0} RPL shall not reference an element which is also referenced by its REC ({1})
               </message>
               <target
                     class="CatalogElementLink">
               </target>
               <description>
                  This rule checks if a RPL references an element which is also referenced by its REC
               </description>
            </constraint>
            <constraint
                  class="org.polarsys.capella.core.re.validation.design.consistency.DCON_08_detectNoSourceNoTarget"
                  id="DCON_08"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="DCON_08 - REC/RPL detect no source no target"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0} {1}has {2}.
               </message>
               <target
                     class="CatalogElementLink">
               </target>
               <description>
                  This rule checks if a Catalog Element Link has target and source
               </description>
            </constraint>
         </constraints>
      </constraintProvider>
      
      <constraintProvider>
         <package
               namespaceUri="*">
         </package>
         <constraints
               categories="capella.category/design/consistency/compliance">
            <constraint
                  class="org.polarsys.capella.core.re.validation.design.consistency.BlackBoxComplianceWithRealizationLinks"
                  id="org.polarsys.capella.core.re.validation.compliance.blackbox.withRealizationLinks"
                  isEnabledByDefault="false"
                  lang="Java"
                  mode="Live"
                  name="[Live] - Blackbox"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  Modification of feature &apos;&apos;{0}&apos;&apos; of element &apos;&apos;{1}&apos;&apos; violates BLACK_BOX RPL compliancy
               </message>
               <description>
                  In live validation mode, the rule prevents all non REC conformant modifications on a RPL, with the exception that it is allowed to add realization links to RPL elements. In batch mode the rule verifies Blackbox compliance partially by checking that no external content was added to any of the validated RPLs elements (with the above mentioned exception for realization links).
               </description>
            </constraint>
         </constraints>
      </constraintProvider>
      
      <constraintProvider>
         <package
               namespaceUri="http://www.polarsys.org/kitalpha/emde/1.0.0">
         </package>
         <constraints
               categories="capella.category/integrity">
            <constraint
                  class="org.polarsys.capella.core.re.validation.integrity.I_43_ReferencingToAnAirdElement"
                  id="I_43"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="I_43 - Model Element shall not reference to aird element"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  {0} {1}references {2}.
               </message>
               <target
                     class="Element"></target>
               <description>
                  This rule checks if a model Element references aird element (e.g. gmf)
               </description>
            </constraint>
         </constraints>
      </constraintProvider>
   </extension>
</plugin>
