<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  Copyright (c) 2006, 2017 THALES GLOBAL SERVICES.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html

  Contributors:
       Thales - initial API and implementation
-->
<plugin>
   <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <constraintProvider>
         <package
               namespaceUri="http://www.polarsys.org/capella/common/re/1.1.0">
         </package>
         <constraints
               categories="capella.category/design/consistency">
            <constraint
                  class="org.polarsys.capella.core.re.validation.design.consistency.DCON_02_Rpl2RecConformanceConstraint"
                  id="DCON_02"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="DCON_02 - RPL to REC conformance"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  {0} (RPL) is not up to date compared to its origin {1} (REC)
               </message>
               <target
                     class="CatalogElement">
               </target>
               <description>
                  This rule check if a RPL is up to date compared to its origin REC.
               </description>
            </constraint>
         </constraints>
      </constraintProvider>
   </extension>
</plugin>
