<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
  Copyright (c) 2006, 2020 THALES GLOBAL SERVICES.
  
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0
  
  SPDX-License-Identifier: EPL-2.0
  
  Contributors:
       Thales - initial API and implementation
-->
<plugin>
   <extension 
        id="org.polarsys.capella.library.nature"
        name="Capella library Nature"
        point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.polarsys.capella.core.libraries.nature.LibraryNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.polarsys.capella.core.libraries.commands.category1"
            name="libraries commands">
      </category>
      <command
            categoryId="org.polarsys.capella.core.libraries.commands.category1"
            id="org.polarsys.capella.core.libraries.commands.manageReferences"
            name="Manage references">
      </command>
      <command
            categoryId="org.polarsys.capella.core.libraries.commands.category1"
            id="org.polarsys.capella.core.libraries.commands.manageVersion"
            name="Manage version">
      </command>
   </extension>
   <extension
         point="org.polarsys.capella.common.flexibility.properties">
      <properties
            id="org.polarsys.capella.core.libraries.manageReferences">
         <group
               name="Manage References"
               id="org.polarsys.capella.core.libraries.manageReferences.group">
         </group>
         <group
               name="Active States"
               id="org.polarsys.capella.core.libraries.activeStates.group">
         </group>
         <group
               id="org.polarsys.capella.core.libraries.accessPolicies.group"
               name="Access Policies">
         </group>
         <property
               class="org.polarsys.capella.core.libraries.properties.ReferencesProperty"
               enabled="true"
               group="org.polarsys.capella.core.libraries.manageReferences.group"
               id="org.polarsys.capella.core.libraries.manageReferences.referenceProperty"
               name="Referenced Libraries">
         </property>
         <property
               class="org.polarsys.capella.core.libraries.properties.ActiveStateProperty"
               enabled="true"
               group="org.polarsys.capella.core.libraries.activeStates.group"
               id="org.polarsys.capella.core.libraries.manageReferences.activeStateProperty"
               name="Library States Configuration">
         </property>
         <property
               class="org.polarsys.capella.core.libraries.properties.AccessPolicyProperty"
               enabled="true"
               group="org.polarsys.capella.core.libraries.accessPolicies.group"
               id="org.polarsys.capella.core.libraries.manageReferences.accessPolicyProperty"
               name="Library Access Policy">
         </property>
      </properties>
   </extension>
   
   <extension
         point="org.polarsys.capella.common.libraries.providers">
      <provider
            class="org.polarsys.capella.core.libraries.provider.CapellaWorkspaceProvider">
      </provider>
   </extension>
   <extension
         point="org.polarsys.capella.common.platform.sirius.ted.derivedSemanticResourceProvider">
      <derivedSemanticResourceProvider
            class="org.polarsys.capella.core.libraries.provider.LibrariesDerivedSemanticResourceProvider">
      </derivedSemanticResourceProvider>
   </extension>
   <extension
         point="org.polarsys.capella.core.model.handler.readOnlySectionHandler">
      <readOnlySectionHandler
            class="org.polarsys.capella.core.libraries.provider.LibAwareReadOnlySectionHandler">
      </readOnlySectionHandler>
   </extension>
   
   <extension point="org.polarsys.capella.common.queries.query">
  
    <querySpecification queryIdentifier="GetAllDataPkgsForLib" extendedQueryIdentifier="GetAllDataPkgs">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.queries.GenericGetForLibWithCorrespondingArchitectureElement" />
    </querySpecification>
    <querySpecification queryIdentifier="GetAllDataTypesForLib" extendedQueryIdentifier="GetAllDataTypes">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.queries.GenericGetForLibWithCorrespondingArchitectureElement" />
    </querySpecification>
    <querySpecification queryIdentifier="GetAllClassesForLib" extendedQueryIdentifier="GetAllClasses">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.queries.GenericGetForLibWithCorrespondingArchitectureElement" />
    </querySpecification>
    <querySpecification queryIdentifier="GetAllCollectionsForLib" extendedQueryIdentifier="GetAllCollections">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.queries.GenericGetForLibWithCorrespondingArchitectureElement" />
    </querySpecification>
    <querySpecification queryIdentifier="GetDataValuesForLib" extendedQueryIdentifier="GetDataValues">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.queries.GenericGetForLibWithCorrespondingArchitectureElement" />
    </querySpecification>
    <querySpecification queryIdentifier="GetAllInterfacesForLib" extendedQueryIdentifier="GetAllInterfaces">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.queries.GenericGetForLibWithCorrespondingArchitectureElement" />
    </querySpecification>
    <querySpecification queryIdentifier="GetAllInterfacePcksForLib" extendedQueryIdentifier="GetAllInterfacePcks">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.queries.GenericGetForLibWithCorrespondingArchitectureElement" />
    </querySpecification>
    <querySpecification queryIdentifier="GetAllExchangeItemsForLib" extendedQueryIdentifier="GetAllExchangeItems">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.queries.GenericGetForLibWithCorrespondingArchitectureElement" />
    </querySpecification>
    <querySpecification queryIdentifier="GetAllRealizablePhysicalArtefacts__Lib" extendedQueryIdentifier="GetAllRealizablePhysicalArtefacts">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.queries.GenericGetForLibWithCorrespondingArchitectureElement" />
    </querySpecification>
    <querySpecification queryIdentifier="GetAvailableArchitecturesForLib" extendedQueryIdentifier="GetAvailableArchitectures">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.queries.GenericGetForLibWithCorrespondingArchitectureElement" />
    </querySpecification>
    
  </extension>
</plugin>
