<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  Copyright (c) 2006, 2022 THALES GLOBAL SERVICES.
  
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0
  
  SPDX-License-Identifier: EPL-2.0
  
  Contributors:
       Thales - initial API and implementation
-->
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.polarsys.capella.views.category"
            class="org.polarsys.capella.core.ui.semantic.browser.sirius.view.SiriusSemanticBrowserView"
            icon="platform:/plugin/org.polarsys.capella.core.ui.semantic.browser/icons/full/eview16/sembrowser.png"
            id="org.polarsys.capella.core.ui.semantic.browser.view.SemanticBrowserID"
            name="Semantic Browser">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.polarsys.capella.core.ui.semantic.browser.sirius.handlers.SemanticBrowserSetSelectionHandler"
            id="org.polarsys.capella.core.ui.semantic.browser.sirius.semanticBrowserSetSelectionCommand"
            name="%semanticBrowserSetSelectionHandlerName">
      </command>
      <command
            defaultHandler="org.polarsys.capella.core.ui.semantic.browser.sirius.handlers.OpenDiagramHandler"
            id="org.polarsys.capella.core.ui.semantic.browser.sirius.openRepresentationCommand"
            name="%openRepresentationAction">
      </command>
      <command
            defaultHandler="org.polarsys.capella.core.ui.semantic.browser.sirius.handlers.OpenAndRevealCurrentElementInDiagram"
            id="org.polarsys.capella.core.ui.semantic.browser.sirius.openRepresentationAndFocusCommand"
            name="%openRepresentationAndFocusAction">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.polarsys.capella.core.ui.semantic.browser.sirius.semanticBrowserSetSelectionCommand"
            icon="platform:/plugin/org.polarsys.capella.core.ui.semantic.browser/icons/full/eview16/sembrowser.png">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.polarsys.capella.core.ui.semantic.browser.sirius.semanticBrowserSetSelectionCommand"
            schemeId="org.polarsys.capella.core.defaultAcceleratorConfiguration"
            sequence="F9">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="capella.sirius.perspective">
         <view
               id="org.polarsys.capella.core.ui.semantic.browser.view.SemanticBrowserID"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.PropertySheet">
         </view>
      </perspectiveExtension>
   </extension>
<extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=org.polarsys.capella.core.platform.sirius.ui.navigator.locateInCapellaExplorerCommand">
            <!-- locationURI shall be org.eclipse.ui.popup.any?after=group.showIn, but we want ShowInSemanticBrowser right after the ShowInCapellaExplorer -->
         <command
               commandId="org.polarsys.capella.core.ui.semantic.browser.sirius.semanticBrowserSetSelectionCommand"
               style="push">
            <visibleWhen
                  checkEnabled="true">
                  	<reference
                     	definitionId="org.polarsys.capella.core.ui.semantic.browser.sirius.selectInSemanticBrowserSelectionDefinition">
               		</reference>
               
            </visibleWhen>
         </command>
      </menuContribution>

      
      <menuContribution
            locationURI="popup:org.polarsys.capella.core.ui.semantic.browser.view.SemanticBrowserID?after=group.open">
         <command
               commandId="org.polarsys.capella.core.ui.semantic.browser.sirius.openRepresentationCommand"
               style="push">
            <visibleWhen>
               <reference
                     definitionId="org.polarsys.capella.core.ui.semantic.browser.sirius.openRepresentationDefinition">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="org.polarsys.capella.core.ui.semantic.browser.sirius.openRepresentationAndFocusCommand"
               style="push">
            <visibleWhen>
               <reference
                     definitionId="org.polarsys.capella.core.ui.semantic.browser.sirius.openRepresentationDefinition">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   
   
<extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.polarsys.capella.core.ui.semantic.browser.sirius.selectInSemanticBrowserSelectionDefinition">
         <with
               variable="selection">
               <and>
                  <iterate>
                  	<and>
	                     <or>
	                        <instanceof
	                              value="org.polarsys.kitalpha.emde.model.Element">
	                        </instanceof>
	                        <adapt
	                              type="org.polarsys.kitalpha.emde.model.Element">
	                        </adapt>
	                     </or>
	                     <reference
                      		definitionId="org.polarsys.capella.common.platform.sirius.ted.definition.checkElementOfOpenedSessionOnCompareEditorPartOnly">
                    	</reference>
                  	</and>
                  </iterate>
                  <count
                        value="1">
                  </count>
               </and>
         </with>
      </definition>
      <definition
            id="org.polarsys.capella.core.ui.semantic.browser.sirius.openRepresentationDefinition">
         <with
               variable="activeMenuSelection">
            <iterate ifEmpty="false">
               <instanceof
                     value="org.eclipse.sirius.viewpoint.DRepresentationDescriptor">
               </instanceof>
            </iterate>
         </with>
      </definition>
   </extension>
<extension
      point="org.polarsys.capella.common.ui.toolkit.browser.contentProviderFactory">
   <contentProviderFactory
         class="org.polarsys.capella.core.ui.semantic.browser.sirius.content.provider.SiriusSemanticBrowserContentProviderFactory">
   </contentProviderFactory>
</extension>

</plugin>
