/Namespace.java
/Namespace__containedGenericTraces.java
/Namespace__containedRequirementsTraces.java
/Type.java
/Type__typedElements.java
/GeneralizableElement.java
/GeneralizableElement__sub.java
/GeneralizableElement__subGeneralizations.java
/GeneralizableElement__super.java
/GeneralizableElement__superGeneralizations.java
/AbstractPropertyValue.java
/AbstractPropertyValue__valuedElements.java
/GeneralClass.java
/GeneralClass__containedOperations.java
/PropertyValueGroup.java
/PropertyValueGroup__valuedElements.java
/Involvement.java
/Involvement__involver.java
/TypedElement.java
/TypedElement__type.java
/CapellaElement.java
/CapellaElement__appliedRequirements.java
/InvolvedElement__involvingInvolvements.java
/InvolverElement.java
/InvolverElement__involvedInvolvements.java
/InvolvedElement.java
/Classifier.java
/Classifier__containedProperties.java
