<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  Copyright (c) 2006, 2020, 2020 THALES GLOBAL SERVICES.
  
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0
  
  SPDX-License-Identifier: EPL-2.0
  
  Contributors:
       Thales - initial API and implementation
-->
<plugin>
<extension
         point="org.eclipse.emf.validation.constraintProviders">
      <constraintProvider>
         <package
               namespaceUri="http://www.polarsys.org/capella/core/ctx/7.0.0">
         </package>
      <constraints
            categories="capella.category/design/well-formedness/capabilities">
         <constraint
               class="org.polarsys.capella.core.data.ctx.validation.capability.MDCHK_Capability_Location_1"
               id="DWF_CA_01"
               isEnabledByDefault="true"
               lang="Java"
               mode="Batch"
               name="%constraint.name"
               severity="ERROR"
               statusCode="1">
            <message>
               %constraint.message
            </message>
            <description>
               %constraint.description
            </description>
            <target
                  class="Capability">
            </target>
         </constraint>
         <constraint
               class="org.polarsys.capella.core.data.ctx.validation.capability.MDCHK_Capability_Extension_1"
               id="DWF_CA_02"
               isEnabledByDefault="true"
               lang="java"
               mode="Batch"
               name="%constraint.name.0"
               severity="ERROR"
               statusCode="1">
            <message>
               %constraint.message.0
            </message>
            <description>
               %constraint.description.0
            </description>
            <target
                  class="Capability">
            </target>
         </constraint>
         <constraint
               class="org.polarsys.capella.core.data.ctx.validation.capability.MDCHK_Capability_Generalization_1"
               id="DWF_CA_03"
               isEnabledByDefault="true"
               lang="java"
               mode="Batch"
               name="%constraint.name.1"
               severity="ERROR"
               statusCode="1">
            <message>
               %constraint.message.1
            </message>
            <target
                  class="Capability">
            </target>
            <description>
               %constraint.description.1
            </description>
         </constraint>
         <constraint
               class="org.polarsys.capella.core.data.ctx.validation.capability.MDCHK_Capability_Inclusion_1"
               id="DWF_CA_04"
               isEnabledByDefault="true"
               lang="java"
               mode="Batch"
               name="%constraint.name.2"
               severity="ERROR"
               statusCode="1">
            <message>
               %constraint.message.2
            </message>
            <target
                  class="Capability">
            </target>
            <description>
               %constraint.description.2
            </description>
         </constraint>
         <constraint
               class="org.polarsys.capella.core.data.ctx.validation.systemComponent.SystemComponent_InvolvedMissionsAndCapabilitiesConforms"
               id="DWF_CA_06"
               isEnabledByDefault="true"
               lang="Java"
               mode="Batch"
               name="%constraint.name.3"
               severity="WARNING"
               statusCode="1">
            <message>
               %constraint.message.3
            </message>
            <description>
               %constraint.description.3
            </description>
            <target
                  class="SystemComponent">
            </target>
         </constraint>
      </constraints>
      <constraints
            categories="capella.category/design/completeness">
         <constraint
               class="org.polarsys.capella.core.data.ctx.validation.system.MDCHK_SystemUsedInterfacesDelegation"
               id="DCOM_14"
               isEnabledByDefault="true"
               lang="Java"
               mode="Batch"
               name="%constraint.name.4"
               severity="WARNING"
               statusCode="1">
            <message>
               %constraint.message.4
            </message>
            <description>
               %constraint.description.4
            </description>
            <target
                  class="SystemComponent">
            </target>
         </constraint>
         <constraint
               class="org.polarsys.capella.core.data.ctx.validation.system.MDCHK_SystemImplementedInterfacesDelegation"
               id="DCOM_10"
               isEnabledByDefault="true"
               lang="Java"
               mode="Batch"
               name="%constraint.name.5"
               severity="WARNING"
               statusCode="1">
            <message>
               %constraint.message.5
            </message>
            <description>
               %constraint.description.5
            </description>
            <target
                  class="SystemComponent">
            </target>
         </constraint>
      </constraints>
      <constraints
            categories="capella.category/design/coverage">
         <constraint
               class="org.polarsys.capella.core.data.ctx.validation.capability.MDCHK_Capability_Exploitation_1"
               id="DCOV_02"
               isEnabledByDefault="true"
               lang="Java"
               mode="Batch"
               name="%constraint.name.6"
               severity="WARNING"
               statusCode="1">
            <message>
               %constraint.message.6
            </message>
            <description>
               %constraint.description.6
            </description>
            <target
                  class="Capability">
            </target>
         </constraint>
         <constraint
               class="org.polarsys.capella.core.data.ctx.validation.mission.MDCHK_Mission_Exploitation_1"
               id="DCOV_03"
               isEnabledByDefault="true"
               lang="Java"
               mode="Batch"
               name="%constraint.name.7"
               severity="ERROR"
               statusCode="1">
            <message>
               %constraint.message.7
            </message>
            <description>
               %constraint.description.7
            </description>
            <target
                  class="Mission">
            </target>
         </constraint>
         <constraint
               class="org.polarsys.capella.core.data.ctx.validation.mission.MDCHK_Mission_Interactions_1"
               id="DCOV_04"
               isEnabledByDefault="true"
               lang="Java"
               mode="Batch"
               name="%constraint.name.8"
               severity="WARNING"
               statusCode="1">
            <message>
               %constraint.message.8
            </message>
            <description>
               %constraint.description.8
            </description>
            <target
                  class="Mission">
            </target>
         </constraint>
         <constraint
               class="org.polarsys.capella.core.data.ctx.validation.mission.MDCHK_Mission_Inclusion_1"
               id="DCOV_05"
               isEnabledByDefault="true"
               lang="Java"
               mode="Batch"
               name="%constraint.name.9"
               severity="WARNING"
               statusCode="1">
            <message>
               %constraint.message.9
            </message>
            <description>
               %constraint.description.9
            </description>
            <target
                  class="Mission">
            </target>
         </constraint>
         <constraint
               class="org.polarsys.capella.core.data.ctx.validation.systemComponent.SystemComponent_InvolvingCapabilities"
               id="DCOV_06"
               isEnabledByDefault="true"
               lang="Java"
               mode="Batch"
               name="%constraint.name.10"
               severity="WARNING"
               statusCode="1">
            <message>
               %constraint.message.10
            </message>
            <description>
               %constraint.description.10
            </description>
            <target
                  class="SystemComponent">
            </target>
         </constraint>
         <constraint
               class="org.polarsys.capella.core.data.ctx.validation.capability.Capability_InvolvingActors"
               id="DCOV_07"
               isEnabledByDefault="true"
               lang="Java"
               mode="Batch"
               name="%constraint.name.11"
               severity="WARNING"
               statusCode="1">
            <message>
               %constraint.message.11
            </message>
            <description>
               %constraint.description.11
            </description>
            <target
                  class="Capability">
            </target>
         </constraint>
         <constraint
               class="org.polarsys.capella.core.data.ctx.validation.systemComponent.SystemComponent_CapabilityAndScenarioConforms"
               id="DCOV_08"
               isEnabledByDefault="true"
               lang="Java"
               mode="Batch"
               name="%constraint.name.12"
               severity="WARNING"
               statusCode="1">
            <message>
               %constraint.message.12
            </message>
            <description>
               %constraint.description.12
            </description>
            <target
                  class="SystemComponent">
            </target>
         </constraint>
      </constraints>
      <constraints
            categories="capella.category/transition/justification/logical_architecture">
         <constraint
               class="org.polarsys.capella.core.data.ctx.validation.systemFunction.MDCHK_SystemFunction_Realization_1"
               id="TJ_LA_03"
               isEnabledByDefault="true"
               lang="Java"
               mode="Batch"
               name="%constraint.name.13"
               severity="WARNING"
               statusCode="1">
            <message>
               %constraint.message.13
            </message>
            <description>
               %constraint.description.13
            </description>
            <target
                  class="SystemFunction">
            </target>
         </constraint>
         <constraint
               class="org.polarsys.capella.core.data.ctx.validation.systemAnalysis.MDCHK_CA_CARealization"
               id="TJ_LA_05"
               lang="Java"
               mode="Batch"
               name="%constraint.name.14"
               severity="ERROR"
               statusCode="1">
            <message>
               %constraint.message.14
            </message>
            <target
                  class="SystemAnalysis">
            </target>
            <description>
               %constraint.description.14
            </description>
         </constraint>
      </constraints>
      <constraints
            categories="capella.category/transition/justification/logical_architecture">
         <constraint
               class="org.polarsys.capella.core.data.ctx.validation.systemComponent.SystemComponent_RealizingLogicalComponent"
               id="TJ_LA_06"
               isEnabledByDefault="true"
               lang="Java"
               mode="Batch"
               name="%constraint.name.15"
               severity="WARNING"
               statusCode="1">
            <message>
               %constraint.message.15
            </message>
            <description>
               %constraint.description.15
            </description>
            <target
                  class="SystemComponent">
            </target>
         </constraint>
      </constraints>
      <constraints
            categories="capella.category/transition/justification/system_analysis">
         <constraint
               class="org.polarsys.capella.core.data.ctx.validation.systemComponent.SystemComponent_RealizedEntity"
               id="TJ_SA_02"
               isEnabledByDefault="true"
               lang="Java"
               mode="Batch"
               name="%constraint.name.16"
               severity="WARNING"
               statusCode="1">
            <message>
               %constraint.message.16
            </message>
            <target
                  class="SystemComponent">
            </target>
            <description>
               %constraint.description.16
            </description>
         </constraint>
         <constraint
               class="org.polarsys.capella.core.data.ctx.validation.systemAnalysis.MDCHK_SystemAnalysis_SaToOaRealization"
               id="TJ_SA_04"
               isEnabledByDefault="true"
               lang="Java"
               mode="Batch"
               name="%constraint.name.17"
               severity="ERROR"
               statusCode="1">
            <message>
               %constraint.message.17
            </message>
            <description>
               %constraint.description.17
            </description>
            <target
                  class="SystemAnalysis">
            </target>
         </constraint>
      </constraints>
      </constraintProvider>
   </extension>
</plugin>
