<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  Copyright (c) 2006, 2019 THALES GLOBAL SERVICES.
  
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0
  
  SPDX-License-Identifier: EPL-2.0

  Contributors:
       Thales - initial API and implementation
-->
<plugin>
   <extension
         point="org.eclipse.emf.diffmerge.patterns.core.modelEnvironment">
      <client
            class="org.eclipse.emf.diffmerge.patterns.capella.ext.CapellaModelEnvironment">
      </client>
   </extension>
   <extension
         point="org.eclipse.emf.diffmerge.patterns.core.deleteOperationProvider">
      <client
            class="org.eclipse.emf.diffmerge.patterns.capella.ext.CapellaDeleteOperationProvider">
      </client>
   </extension>
   <extension
         point="org.eclipse.emf.diffmerge.patterns.core.idProvider">
      <client
            class="org.eclipse.emf.diffmerge.patterns.capella.ext.CapellaIdProvider"></client>
   </extension>

   <extension
         point="org.eclipse.emf.diffmerge.patterns.templates.ocl.oclEnvironmentCustomizer">
      <client
            class="org.eclipse.emf.diffmerge.patterns.capella.ext.CapellaOclEnvironmentCustomizer">
      </client>
   </extension>
   <extension
         point="org.eclipse.emf.diffmerge.patterns.templates.engine.semanticRuleProvider">
      <client
            class="org.eclipse.emf.diffmerge.patterns.capella.ext.CapellaRuleProvider">
      </client>
   </extension>
   <extension
         point="org.polarsys.capella.common.ui.toolkit.browser.contentProviderCategory">
      <category
            id="org.eclipse.emf.diffmerge.patterns.capella.PatternInstancesCategory"
            isTopLevel="true"
            name="All Related Pattern Instances">
         <targetBrowserId
               id="CurrentElementBrowser">
         </targetBrowserId>
         <availableForType
               class="org.polarsys.capella.common.data.modellingcore.ModelElement">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.eclipse.emf.diffmerge.patterns.capella.ext.ModelElementPatternInstancesQuery">
            </basicQuery>
         </categoryQuery>
      </category>
   </extension>
   <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <constraintProvider>
         <package
               namespaceUri="http://www.polarsys.org/capella/common/core/1.4.0">
         </package>
         <constraints
               categories="capella.category/design/consistency">
            <constraint
                  class="org.eclipse.emf.diffmerge.patterns.capella.validation.PatternConformanceConstraint"
                  id="DCON_01"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="DCON_01 - Pattern Conformance"
                  severity="WARNING"
                  statusCode="1">
               <description>
                  The rule checks that model elements which are bound to a pattern conform to the pattern.
               </description>
               <message>
                   Pattern conformity on {0}: {1}
               </message>
               <target
                     class="ModelElement">
               </target>
            </constraint>
         </constraints>
      </constraintProvider>
      <constraintProvider>
         <package
               namespaceUri="http://org.eclipse.emf.patterns/support/1.0.0">
         </package>
         <constraints
               categories="capella.category/design/consistency">
            <constraint
                  class="org.eclipse.emf.diffmerge.patterns.capella.validation.InvalidPatternInstanceConstraint"
                  id="DCON_03"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="DCON_03 - Invalid pattern instance"
                  severity="WARNING"
                  statusCode="1">
               <description>
                  The rule checks if pattern instances still point to existing Capella elements.
               </description>
               <message>
                  Invalid pattern instance found
               </message>
               <target
                     class="CommonPatternInstance">
               </target>
            </constraint>
         </constraints>
      </constraintProvider>
   </extension>
   <extension
         point="org.eclipse.emf.diffmerge.patterns.diagrams.semanticMapping">
      <client
            class="org.eclipse.emf.diffmerge.patterns.capella.ext.CapellaSemanticMapping">
      </client>
   </extension>
   <extension
         point="org.polarsys.capella.shared.id.handler.IdHandler">
      <IdHandler
            handler="org.eclipse.emf.diffmerge.patterns.capella.PatternElementIdHandler"
            id="org.eclipse.emf.diffmerge.patterns.capella.PatternElementIdHandler">
      </IdHandler>
   </extension>
   <extension
         point="org.polarsys.capella.core.validation.ui.ide.capellaQuickFix">
      <resolver
            class="org.eclipse.emf.diffmerge.patterns.capella.quickfix.SoftPatternCapellaMarkerResolution"
            desc="Delete pattern instances"
            icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_delete.gif"
            label="Delete pattern instances">
         <rules
               ruleId="DCON_01">
         </rules>
      </resolver>
      <resolver
            class="org.eclipse.emf.diffmerge.patterns.capella.quickfix.PatternCapellaMarkerResolution"
            desc="Delete pattern instances and pattern elements"
            icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_delete.gif"
            label="Delete pattern instances and pattern elements">
         <rules
               ruleId="DCON_01">
         </rules>
      </resolver>
            <resolver
            class="org.eclipse.emf.diffmerge.patterns.capella.quickfix.DeletePatternInstanceResolution"
            desc="Delete pattern instance"
            icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_delete.gif"
            label="Delete pattern instance">
         <rules
               ruleId="DCON_03">
         </rules>
      </resolver>
   </extension>
</plugin>
