<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  Copyright (c) 2006, 2014 THALES GLOBAL SERVICES.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html

  Contributors:
       Thales - initial API and implementation
-->
<plugin>
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections contributorId="org.polarsys.capella.core.data.capellamodeller.properties">
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.AbstractCapabilityExtendSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.AbstractCapabilityExtendSection"
               tab="Base">
            <input
                  type="org.polarsys.capella.core.data.interaction.AbstractCapabilityExtend">
            </input>
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.AbstractCapabilityExtensionPointSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.AbstractCapabilityExtensionPointSection"
               tab="Base">
            <input
                  type="org.polarsys.capella.core.data.interaction.AbstractCapabilityExtensionPoint">
            </input>
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.AbstractCapabilityGeneralizationSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.AbstractCapabilityGeneralizationSection"
               tab="Base">
            <input
                  type="org.polarsys.capella.core.data.interaction.AbstractCapabilityGeneralization">
            </input>
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.AbstractCapabilityIncludeSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.AbstractCapabilityIncludeSection"
               tab="Base">
            <input
                  type="org.polarsys.capella.core.data.interaction.AbstractCapabilityInclude">
            </input>
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.AbstractCapabilityRealizationSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.AbstractCapabilityRealizationSection"
               tab="Base">
            <input
                  type="org.polarsys.capella.core.data.interaction.AbstractCapabilityRealization">
            </input>
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.AbstractFunctionAbstractCapabilityInvolvementSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.AbstractFunctionAbstractCapabilityInvolvementSection"
               tab="Base">
            <input
                  type="org.polarsys.capella.core.data.interaction.AbstractFunctionAbstractCapabilityInvolvement">
            </input>
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.ArmTimerEventSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.ArmTimerEventSection"
               tab="Base">
            <input
                  type="org.polarsys.capella.core.data.interaction.ArmTimerEvent">
            </input>
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.CancelTimerEventSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.CancelTimerEventSection"
               tab="Base">
            <input
                  type="org.polarsys.capella.core.data.interaction.CancelTimerEvent">
            </input>
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.CombinedFragmentSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.CombinedFragmentSection"
               tab="Base">
            <input
                  type="org.polarsys.capella.core.data.interaction.CombinedFragment">
            </input>
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.ConstraintDurationSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.ConstraintDurationSection"
               tab="Base">
            <input
                  type="org.polarsys.capella.core.data.interaction.ConstraintDuration">
            </input>
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.CreationEventSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.CreationEventSection"
               tab="Base">
            <input
                  type="org.polarsys.capella.core.data.interaction.CreationEvent">
            </input>
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.DestructionEventSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.DestructionEventSection"
               tab="Base">
            <input
                  type="org.polarsys.capella.core.data.interaction.DestructionEvent">
            </input>
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.EventReceiptOperationSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.EventReceiptOperationSection"
               tab="Base">
            <input
                  type="org.polarsys.capella.core.data.interaction.EventReceiptOperation">
            </input>
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.EventSentOperationSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.EventSentOperationSection"
               tab="Base">
            <input
                  type="org.polarsys.capella.core.data.interaction.EventSentOperation">
            </input>
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.ExecutionEndSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.ExecutionEndSection"
               tab="Base">
            <input
                  type="org.polarsys.capella.core.data.interaction.ExecutionEnd">
            </input>
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.ExecutionEventSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.ExecutionEventSection"
               tab="Base">
            <input
                  type="org.polarsys.capella.core.data.interaction.ExecutionEvent">
            </input>
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.ExecutionSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.ExecutionSection"
               tab="Base">
            <input
                  type="org.polarsys.capella.core.data.interaction.Execution">
            </input>
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.FragmentEndSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.FragmentEndSection"
               tab="Base">
            <input
                  type="org.polarsys.capella.core.data.interaction.FragmentEnd">
            </input>
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.FunctionalChainAbstractCapabilityInvolvementSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.FunctionalChainAbstractCapabilityInvolvementSection"
               tab="Base">
            <input
                  type="org.polarsys.capella.core.data.interaction.FunctionalChainAbstractCapabilityInvolvement">
            </input>
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.GateSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.GateSection"
               tab="Base">
            <input
                  type="org.polarsys.capella.core.data.interaction.Gate">
            </input>
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.InstanceRoleSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.InstanceRoleSection"
               tab="Base">
            <input
                  type="org.polarsys.capella.core.data.interaction.InstanceRole">
            </input>
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.InteractionOperandSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.InteractionOperandSection"
               tab="Base">
            <input
                  type="org.polarsys.capella.core.data.interaction.InteractionOperand">
            </input>
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.InteractionStateSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.InteractionStateSection"
               tab="Base">
            <input
                  type="org.polarsys.capella.core.data.interaction.InteractionState">
            </input>
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.InteractionUseSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.InteractionUseSection"
               tab="Base">
            <input
                  type="org.polarsys.capella.core.data.interaction.InteractionUse">
            </input>
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.MergeLinkSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.MergeLinkSection"
               tab="Base">
            <input
                  type="org.polarsys.capella.core.data.interaction.MergeLink">
            </input>
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.MessageEndSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.MessageEndSection"
               tab="Base">
            <input
                  type="org.polarsys.capella.core.data.interaction.MessageEnd">
            </input>
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.RefinementLinkSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.RefinementLinkSection"
               tab="Base">
            <input
                  type="org.polarsys.capella.core.data.interaction.RefinementLink">
            </input>
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.ScenarioRealizationSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.ScenarioRealizationSection"
               tab="Base">
            <input
                  type="org.polarsys.capella.core.data.interaction.ScenarioRealization">
            </input>
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.ScenarioSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.ScenarioSection"
               tab="Base">
            <input
                  type="org.polarsys.capella.core.data.interaction.Scenario">
            </input>
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.SequenceMessageSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.SequenceMessageSection"
               tab="Base">
            <input
                  type="org.polarsys.capella.core.data.interaction.SequenceMessage">
            </input>
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.StateFragmentSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.StateFragmentSection"
               tab="Base">
            <input
                  type="org.polarsys.capella.core.data.interaction.StateFragment">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">      
	  <propertySections contributorId="org.eclipse.sirius.diagram.ui">
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.AbstractCapabilityExtendSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.AbstractCapabilityExtendSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.AbstractCapabilityExtendSection"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.AbstractCapabilityExtensionPointSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.AbstractCapabilityExtensionPointSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.AbstractCapabilityExtensionPointSection"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.AbstractCapabilityGeneralizationSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.AbstractCapabilityGeneralizationSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.AbstractCapabilityGeneralizationSection"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.AbstractCapabilityIncludeSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.AbstractCapabilityIncludeSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.AbstractCapabilityIncludeSection"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.AbstractCapabilityRealizationSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.AbstractCapabilityRealizationSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.AbstractCapabilityRealizationSection"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.AbstractFunctionAbstractCapabilityInvolvementSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.AbstractFunctionAbstractCapabilityInvolvementSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.AbstractFunctionAbstractCapabilityInvolvementSection"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.ArmTimerEventSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.ArmTimerEventSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.ArmTimerEventSection"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.CancelTimerEventSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.CancelTimerEventSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.CancelTimerEventSection"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.CombinedFragmentSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.CombinedFragmentSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.CombinedFragmentSection"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.ConstraintDurationSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.ConstraintDurationSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.ConstraintDurationSection"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.CreationEventSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.CreationEventSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.CreationEventSection"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.DestructionEventSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.DestructionEventSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.DestructionEventSection"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.EventReceiptOperationSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.EventReceiptOperationSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.EventReceiptOperationSection"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.EventSentOperationSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.EventSentOperationSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.EventSentOperationSection"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.ExecutionEndSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.ExecutionEndSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.ExecutionEndSection"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.ExecutionEventSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.ExecutionEventSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.ExecutionEventSection"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.ExecutionSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.ExecutionSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.ExecutionSection"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.FragmentEndSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.FragmentEndSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.FragmentEndSection"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.FunctionalChainAbstractCapabilityInvolvementSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.FunctionalChainAbstractCapabilityInvolvementSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.FunctionalChainAbstractCapabilityInvolvementSection"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.GateSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.GateSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.GateSection"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.InstanceRoleSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.InstanceRoleSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.InstanceRoleSection"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.InteractionOperandSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.InteractionOperandSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.InteractionOperandSection"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.InteractionStateSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.InteractionStateSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.InteractionStateSection"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.InteractionUseSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.InteractionUseSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.InteractionUseSection"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.MergeLinkSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.MergeLinkSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.MergeLinkSection"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.MessageEndSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.MessageEndSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.MessageEndSection"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.RefinementLinkSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.RefinementLinkSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.RefinementLinkSection"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.ScenarioRealizationSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.ScenarioRealizationSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.ScenarioRealizationSection"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.ScenarioSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.ScenarioSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.ScenarioSection"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.SequenceMessageSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.SequenceMessageSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.SequenceMessageSection"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.StateFragmentSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.StateFragmentSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.StateFragmentSection"
               tab="Base">
         </propertySection>
      </propertySections>
   </extension>
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">      
	  <propertySections contributorId="org.eclipse.sirius.table.ui.EditorID">
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.AbstractCapabilityExtendSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.AbstractCapabilityExtendSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.AbstractCapabilityExtendSection"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.AbstractCapabilityExtensionPointSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.AbstractCapabilityExtensionPointSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.AbstractCapabilityExtensionPointSection"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.AbstractCapabilityGeneralizationSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.AbstractCapabilityGeneralizationSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.AbstractCapabilityGeneralizationSection"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.AbstractCapabilityIncludeSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.AbstractCapabilityIncludeSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.AbstractCapabilityIncludeSection"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.AbstractCapabilityRealizationSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.AbstractCapabilityRealizationSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.AbstractCapabilityRealizationSection"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.AbstractFunctionAbstractCapabilityInvolvementSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.AbstractFunctionAbstractCapabilityInvolvementSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.AbstractFunctionAbstractCapabilityInvolvementSection"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.ArmTimerEventSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.ArmTimerEventSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.ArmTimerEventSection"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.CancelTimerEventSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.CancelTimerEventSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.CancelTimerEventSection"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.CombinedFragmentSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.CombinedFragmentSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.CombinedFragmentSection"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.ConstraintDurationSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.ConstraintDurationSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.ConstraintDurationSection"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.CreationEventSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.CreationEventSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.CreationEventSection"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.DestructionEventSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.DestructionEventSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.DestructionEventSection"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.EventReceiptOperationSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.EventReceiptOperationSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.EventReceiptOperationSection"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.EventSentOperationSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.EventSentOperationSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.EventSentOperationSection"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.ExecutionEndSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.ExecutionEndSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.ExecutionEndSection"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.ExecutionEventSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.ExecutionEventSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.ExecutionEventSection"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.ExecutionSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.ExecutionSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.ExecutionSection"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.FragmentEndSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.FragmentEndSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.FragmentEndSection"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.FunctionalChainAbstractCapabilityInvolvementSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.FunctionalChainAbstractCapabilityInvolvementSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.FunctionalChainAbstractCapabilityInvolvementSection"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.GateSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.GateSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.GateSection"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.InstanceRoleSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.InstanceRoleSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.InstanceRoleSection"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.InteractionOperandSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.InteractionOperandSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.InteractionOperandSection"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.InteractionStateSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.InteractionStateSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.InteractionStateSection"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.InteractionUseSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.InteractionUseSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.InteractionUseSection"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.MergeLinkSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.MergeLinkSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.MergeLinkSection"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.MessageEndSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.MessageEndSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.MessageEndSection"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.RefinementLinkSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.RefinementLinkSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.RefinementLinkSection"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.ScenarioRealizationSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.ScenarioRealizationSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.ScenarioRealizationSection"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.ScenarioSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.ScenarioSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.ScenarioSection"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.SequenceMessageSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.SequenceMessageSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.SequenceMessageSection"
               tab="Base">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.StateFragmentSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.StateFragmentSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.StateFragmentSection"
               tab="Base">
         </propertySection>
      </propertySections>
   </extension>
</plugin>
