<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  Copyright (c) 2006, 2020 THALES GLOBAL SERVICES.
  
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0
  
  SPDX-License-Identifier: EPL-2.0
  
  Contributors:
       Thales - initial API and implementation
-->
<plugin>
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections contributorId="org.polarsys.capella.core.data.capellamodeller.properties">
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.AbstractCapabilityExtendSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.AbstractCapabilityExtendSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.AbstractCapabilityExtendSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.AbstractCapabilityExtensionPointSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.AbstractCapabilityExtensionPointSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.AbstractCapabilityExtensionPointSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.AbstractCapabilityGeneralizationSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.AbstractCapabilityGeneralizationSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.AbstractCapabilityGeneralizationSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.AbstractCapabilityIncludeSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.AbstractCapabilityIncludeSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.AbstractCapabilityIncludeSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.AbstractCapabilityRealizationSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.AbstractCapabilityRealizationSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.AbstractCapabilityRealizationSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.AbstractFunctionAbstractCapabilityInvolvementSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.AbstractFunctionAbstractCapabilityInvolvementSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.AbstractFunctionAbstractCapabilityInvolvementSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.ArmTimerEventSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.ArmTimerEventSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.ArmTimerEventSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.CancelTimerEventSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.CancelTimerEventSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.CancelTimerEventSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.CombinedFragmentSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.CombinedFragmentSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.CombinedFragmentSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.ConstraintDurationSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.ConstraintDurationSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.ConstraintDurationSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.CreationEventSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.CreationEventSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.CreationEventSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.DestructionEventSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.DestructionEventSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.DestructionEventSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.EventReceiptOperationSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.EventReceiptOperationSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.EventReceiptOperationSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.EventSentOperationSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.EventSentOperationSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.EventSentOperationSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.ExecutionEndSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.ExecutionEndSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.ExecutionEndSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.ExecutionEventSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.ExecutionEventSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.ExecutionEventSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.ExecutionSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.ExecutionSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.ExecutionSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.FragmentEndSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.FragmentEndSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.FragmentEndSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.FunctionalChainAbstractCapabilityInvolvementSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.FunctionalChainAbstractCapabilityInvolvementSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.FunctionalChainAbstractCapabilityInvolvementSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.GateSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.GateSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.GateSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.InstanceRoleSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.InstanceRoleSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.InstanceRoleSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.InteractionOperandSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.InteractionOperandSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.InteractionOperandSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.InteractionStateSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.InteractionStateSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.InteractionStateSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.InteractionUseSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.InteractionUseSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.InteractionUseSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.MergeLinkSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.MergeLinkSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.MergeLinkSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.MessageEndSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.MessageEndSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.MessageEndSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.RefinementLinkSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.RefinementLinkSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.RefinementLinkSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.ScenarioRealizationSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.ScenarioRealizationSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.ScenarioRealizationSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.ScenarioSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.ScenarioSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.ScenarioSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.SequenceMessageSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.SequenceMessageSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.SequenceMessageSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.StateFragmentSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.StateFragmentSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.StateFragmentSection"
               tab="BaseCapella">
         </propertySection>
      </propertySections>
   </extension>
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">      
	  <propertySections contributorId="org.eclipse.sirius.diagram.ui">
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.AbstractCapabilityExtendSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.AbstractCapabilityExtendSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.AbstractCapabilityExtendSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.AbstractCapabilityExtensionPointSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.AbstractCapabilityExtensionPointSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.AbstractCapabilityExtensionPointSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.AbstractCapabilityGeneralizationSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.AbstractCapabilityGeneralizationSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.AbstractCapabilityGeneralizationSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.AbstractCapabilityIncludeSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.AbstractCapabilityIncludeSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.AbstractCapabilityIncludeSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.AbstractCapabilityRealizationSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.AbstractCapabilityRealizationSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.AbstractCapabilityRealizationSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.AbstractFunctionAbstractCapabilityInvolvementSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.AbstractFunctionAbstractCapabilityInvolvementSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.AbstractFunctionAbstractCapabilityInvolvementSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.ArmTimerEventSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.ArmTimerEventSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.ArmTimerEventSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.CancelTimerEventSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.CancelTimerEventSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.CancelTimerEventSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.CombinedFragmentSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.CombinedFragmentSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.CombinedFragmentSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.ConstraintDurationSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.ConstraintDurationSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.ConstraintDurationSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.CreationEventSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.CreationEventSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.CreationEventSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.DestructionEventSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.DestructionEventSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.DestructionEventSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.EventReceiptOperationSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.EventReceiptOperationSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.EventReceiptOperationSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.EventSentOperationSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.EventSentOperationSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.EventSentOperationSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.ExecutionEndSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.ExecutionEndSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.ExecutionEndSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.ExecutionEventSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.ExecutionEventSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.ExecutionEventSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.ExecutionSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.ExecutionSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.ExecutionSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.FragmentEndSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.FragmentEndSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.FragmentEndSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.FunctionalChainAbstractCapabilityInvolvementSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.FunctionalChainAbstractCapabilityInvolvementSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.FunctionalChainAbstractCapabilityInvolvementSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.GateSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.GateSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.GateSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.InstanceRoleSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.InstanceRoleSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.InstanceRoleSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.InteractionOperandSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.InteractionOperandSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.InteractionOperandSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.InteractionStateSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.InteractionStateSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.InteractionStateSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.InteractionUseSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.InteractionUseSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.InteractionUseSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.MergeLinkSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.MergeLinkSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.MergeLinkSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.MessageEndSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.MessageEndSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.MessageEndSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.RefinementLinkSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.RefinementLinkSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.RefinementLinkSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.ScenarioRealizationSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.ScenarioRealizationSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.ScenarioRealizationSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.ScenarioSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.ScenarioSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.ScenarioSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.SequenceMessageSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.SequenceMessageSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.SequenceMessageSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.StateFragmentSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.StateFragmentSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.StateFragmentSection"
               tab="BaseSiriusDiagram">
         </propertySection>
      </propertySections>
   </extension>
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">      
	  <propertySections contributorId="org.eclipse.sirius.table.ui.EditorID">
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.AbstractCapabilityExtendSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.AbstractCapabilityExtendSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.AbstractCapabilityExtendSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.AbstractCapabilityExtensionPointSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.AbstractCapabilityExtensionPointSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.AbstractCapabilityExtensionPointSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.AbstractCapabilityGeneralizationSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.AbstractCapabilityGeneralizationSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.AbstractCapabilityGeneralizationSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.AbstractCapabilityIncludeSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.AbstractCapabilityIncludeSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.AbstractCapabilityIncludeSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.AbstractCapabilityRealizationSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.AbstractCapabilityRealizationSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.AbstractCapabilityRealizationSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.AbstractFunctionAbstractCapabilityInvolvementSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.AbstractFunctionAbstractCapabilityInvolvementSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.AbstractFunctionAbstractCapabilityInvolvementSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.ArmTimerEventSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.ArmTimerEventSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.ArmTimerEventSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.CancelTimerEventSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.CancelTimerEventSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.CancelTimerEventSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.CombinedFragmentSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.CombinedFragmentSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.CombinedFragmentSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.ConstraintDurationSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.ConstraintDurationSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.ConstraintDurationSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.CreationEventSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.CreationEventSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.CreationEventSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.DestructionEventSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.DestructionEventSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.DestructionEventSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.EventReceiptOperationSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.EventReceiptOperationSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.EventReceiptOperationSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.EventSentOperationSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.EventSentOperationSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.EventSentOperationSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.ExecutionEndSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.ExecutionEndSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.ExecutionEndSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.ExecutionEventSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.ExecutionEventSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.ExecutionEventSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.ExecutionSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.ExecutionSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.ExecutionSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.FragmentEndSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.FragmentEndSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.FragmentEndSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.FunctionalChainAbstractCapabilityInvolvementSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.FunctionalChainAbstractCapabilityInvolvementSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.FunctionalChainAbstractCapabilityInvolvementSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.GateSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.GateSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.GateSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.InstanceRoleSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.InstanceRoleSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.InstanceRoleSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.InteractionOperandSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.InteractionOperandSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.InteractionOperandSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.InteractionStateSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.InteractionStateSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.InteractionStateSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.InteractionUseSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.InteractionUseSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.InteractionUseSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.MergeLinkSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.MergeLinkSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.MergeLinkSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.MessageEndSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.MessageEndSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.MessageEndSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.RefinementLinkSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.RefinementLinkSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.RefinementLinkSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.ScenarioRealizationSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.ScenarioRealizationSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.ScenarioRealizationSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.ScenarioSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.ScenarioSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.ScenarioSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.SequenceMessageSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.SequenceMessageSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.SequenceMessageSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.interaction.properties.sections.StateFragmentSection"
               filter="org.polarsys.capella.core.data.interaction.properties.sections.StateFragmentSection"
               id="org.polarsys.capella.core.data.interaction.properties.sections.StateFragmentSection"
               tab="BaseSiriusTable">
         </propertySection>
      </propertySections>
   </extension>
</plugin>
