<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  Copyright (c) 2006, 2018 THALES GLOBAL SERVICES.
  
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0
  
  SPDX-License-Identifier: EPL-2.0

  Contributors:
       Thales - initial API and implementation
-->
<plugin>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
      	adaptableType="org.eclipse.sirius.viewpoint.DSemanticDecorator"
      	class="org.polarsys.capella.core.platform.sirius.adapter.SiriusToCapellaAdapterFactory" >
      	<adapter type="org.polarsys.kitalpha.emde.model.Element">
      	</adapter> 
      </factory>
      <factory
      	adaptableType="org.eclipse.gef.EditPart"
      	class="org.polarsys.capella.core.platform.sirius.adapter.SiriusToCapellaAdapterFactory" >
      	<adapter type="org.polarsys.kitalpha.emde.model.Element">
      	</adapter> 
      </factory>
      <factory
      	adaptableType="org.eclipse.core.resources.IMarker"
      	class="org.polarsys.capella.core.platform.sirius.adapter.SiriusToCapellaAdapterFactory" >
      	<adapter type="org.polarsys.kitalpha.emde.model.Element">
      	</adapter> 
      </factory>
      <factory
      	adaptableType="org.polarsys.capella.common.ui.toolkit.browser.content.provider.wrapper.EObjectWrapper"
      	class="org.polarsys.capella.core.platform.sirius.adapter.SiriusToCapellaAdapterFactory" >
      	<adapter type="org.polarsys.kitalpha.emde.model.Element">
      	</adapter> 
      </factory>
      <factory
      	adaptableType="org.eclipse.sirius.ui.tools.api.views.common.item.ItemWrapper"
      	class="org.polarsys.capella.core.platform.sirius.adapter.SiriusToCapellaAdapterFactory" >
      	<adapter type="org.polarsys.kitalpha.emde.model.Element">
      	</adapter> 
      </factory>
   </extension>
</plugin>
