<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  Copyright (c) 2006, 2019 THALES GLOBAL SERVICES.
  
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0
  
  SPDX-License-Identifier: EPL-2.0
  
  Contributors:
       Thales - initial API and implementation
-->
<plugin>
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections contributorId="org.polarsys.capella.core.data.capellamodeller.properties">
         <propertySection
               class="org.polarsys.capella.core.data.la.properties.sections.CapabilityRealizationPkgSection"
               filter="org.polarsys.capella.core.data.la.properties.sections.CapabilityRealizationPkgSection"
               id="org.polarsys.capella.core.data.la.properties.sections.CapabilityRealizationPkgSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.la.properties.sections.CapabilityRealizationSection"
               filter="org.polarsys.capella.core.data.la.properties.sections.CapabilityRealizationSection"
               id="org.polarsys.capella.core.data.la.properties.sections.CapabilityRealizationSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.la.properties.sections.ContextInterfaceRealizationSection"
               filter="org.polarsys.capella.core.data.la.properties.sections.ContextInterfaceRealizationSection"
               id="org.polarsys.capella.core.data.la.properties.sections.ContextInterfaceRealizationSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.la.properties.sections.LogicalArchitecturePkgSection"
               filter="org.polarsys.capella.core.data.la.properties.sections.LogicalArchitecturePkgSection"
               id="org.polarsys.capella.core.data.la.properties.sections.LogicalArchitecturePkgSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.la.properties.sections.LogicalArchitectureSection"
               filter="org.polarsys.capella.core.data.la.properties.sections.LogicalArchitectureSection"
               id="org.polarsys.capella.core.data.la.properties.sections.LogicalArchitectureSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.la.properties.sections.LogicalComponentPkgSection"
               filter="org.polarsys.capella.core.data.la.properties.sections.LogicalComponentPkgSection"
               id="org.polarsys.capella.core.data.la.properties.sections.LogicalComponentPkgSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.la.properties.sections.LogicalComponentSection"
               filter="org.polarsys.capella.core.data.la.properties.sections.LogicalComponentSection"
               id="org.polarsys.capella.core.data.la.properties.sections.LogicalComponentSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.la.properties.sections.LogicalFunctionPkgSection"
               filter="org.polarsys.capella.core.data.la.properties.sections.LogicalFunctionPkgSection"
               id="org.polarsys.capella.core.data.la.properties.sections.LogicalFunctionPkgSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.la.properties.sections.LogicalFunctionSection"
               filter="org.polarsys.capella.core.data.la.properties.sections.LogicalFunctionSection"
               id="org.polarsys.capella.core.data.la.properties.sections.LogicalFunctionSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.la.properties.sections.SystemAnalysisRealizationSection"
               filter="org.polarsys.capella.core.data.la.properties.sections.SystemAnalysisRealizationSection"
               id="org.polarsys.capella.core.data.la.properties.sections.SystemAnalysisRealizationSection"
               tab="BaseCapella">
         </propertySection>
      </propertySections>
   </extension>
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">      
	  <propertySections contributorId="org.eclipse.sirius.diagram.ui">
         <propertySection
               class="org.polarsys.capella.core.data.la.properties.sections.CapabilityRealizationPkgSection"
               filter="org.polarsys.capella.core.data.la.properties.sections.CapabilityRealizationPkgSection"
               id="org.polarsys.capella.core.data.la.properties.sections.CapabilityRealizationPkgSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.la.properties.sections.CapabilityRealizationSection"
               filter="org.polarsys.capella.core.data.la.properties.sections.CapabilityRealizationSection"
               id="org.polarsys.capella.core.data.la.properties.sections.CapabilityRealizationSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.la.properties.sections.ContextInterfaceRealizationSection"
               filter="org.polarsys.capella.core.data.la.properties.sections.ContextInterfaceRealizationSection"
               id="org.polarsys.capella.core.data.la.properties.sections.ContextInterfaceRealizationSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.la.properties.sections.LogicalArchitecturePkgSection"
               filter="org.polarsys.capella.core.data.la.properties.sections.LogicalArchitecturePkgSection"
               id="org.polarsys.capella.core.data.la.properties.sections.LogicalArchitecturePkgSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.la.properties.sections.LogicalArchitectureSection"
               filter="org.polarsys.capella.core.data.la.properties.sections.LogicalArchitectureSection"
               id="org.polarsys.capella.core.data.la.properties.sections.LogicalArchitectureSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.la.properties.sections.LogicalComponentPkgSection"
               filter="org.polarsys.capella.core.data.la.properties.sections.LogicalComponentPkgSection"
               id="org.polarsys.capella.core.data.la.properties.sections.LogicalComponentPkgSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.la.properties.sections.LogicalComponentSection"
               filter="org.polarsys.capella.core.data.la.properties.sections.LogicalComponentSection"
               id="org.polarsys.capella.core.data.la.properties.sections.LogicalComponentSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.la.properties.sections.LogicalFunctionPkgSection"
               filter="org.polarsys.capella.core.data.la.properties.sections.LogicalFunctionPkgSection"
               id="org.polarsys.capella.core.data.la.properties.sections.LogicalFunctionPkgSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.la.properties.sections.LogicalFunctionSection"
               filter="org.polarsys.capella.core.data.la.properties.sections.LogicalFunctionSection"
               id="org.polarsys.capella.core.data.la.properties.sections.LogicalFunctionSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.la.properties.sections.SystemAnalysisRealizationSection"
               filter="org.polarsys.capella.core.data.la.properties.sections.SystemAnalysisRealizationSection"
               id="org.polarsys.capella.core.data.la.properties.sections.SystemAnalysisRealizationSection"
               tab="BaseSiriusDiagram">
         </propertySection>
      </propertySections>
   </extension>
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">      
	  <propertySections contributorId="org.eclipse.sirius.table.ui.EditorID">
         <propertySection
               class="org.polarsys.capella.core.data.la.properties.sections.CapabilityRealizationPkgSection"
               filter="org.polarsys.capella.core.data.la.properties.sections.CapabilityRealizationPkgSection"
               id="org.polarsys.capella.core.data.la.properties.sections.CapabilityRealizationPkgSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.la.properties.sections.CapabilityRealizationSection"
               filter="org.polarsys.capella.core.data.la.properties.sections.CapabilityRealizationSection"
               id="org.polarsys.capella.core.data.la.properties.sections.CapabilityRealizationSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.la.properties.sections.ContextInterfaceRealizationSection"
               filter="org.polarsys.capella.core.data.la.properties.sections.ContextInterfaceRealizationSection"
               id="org.polarsys.capella.core.data.la.properties.sections.ContextInterfaceRealizationSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.la.properties.sections.LogicalArchitecturePkgSection"
               filter="org.polarsys.capella.core.data.la.properties.sections.LogicalArchitecturePkgSection"
               id="org.polarsys.capella.core.data.la.properties.sections.LogicalArchitecturePkgSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.la.properties.sections.LogicalArchitectureSection"
               filter="org.polarsys.capella.core.data.la.properties.sections.LogicalArchitectureSection"
               id="org.polarsys.capella.core.data.la.properties.sections.LogicalArchitectureSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.la.properties.sections.LogicalComponentPkgSection"
               filter="org.polarsys.capella.core.data.la.properties.sections.LogicalComponentPkgSection"
               id="org.polarsys.capella.core.data.la.properties.sections.LogicalComponentPkgSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.la.properties.sections.LogicalComponentSection"
               filter="org.polarsys.capella.core.data.la.properties.sections.LogicalComponentSection"
               id="org.polarsys.capella.core.data.la.properties.sections.LogicalComponentSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.la.properties.sections.LogicalFunctionPkgSection"
               filter="org.polarsys.capella.core.data.la.properties.sections.LogicalFunctionPkgSection"
               id="org.polarsys.capella.core.data.la.properties.sections.LogicalFunctionPkgSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.la.properties.sections.LogicalFunctionSection"
               filter="org.polarsys.capella.core.data.la.properties.sections.LogicalFunctionSection"
               id="org.polarsys.capella.core.data.la.properties.sections.LogicalFunctionSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.la.properties.sections.SystemAnalysisRealizationSection"
               filter="org.polarsys.capella.core.data.la.properties.sections.SystemAnalysisRealizationSection"
               id="org.polarsys.capella.core.data.la.properties.sections.SystemAnalysisRealizationSection"
               tab="BaseSiriusTable">
         </propertySection>
      </propertySections>
   </extension>
</plugin>
