<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  Copyright (c) 2006, 2020 THALES GLOBAL SERVICES.
  
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0
  
  SPDX-License-Identifier: EPL-2.0
  
  Contributors:
       Thales - initial API and implementation
-->
<plugin>
   <extension
         point="org.polarsys.capella.core.validation.ui.ide.capellaQuickFix">
      <resolver
            class="org.polarsys.capella.core.platform.sirius.sirius.validation.ddiagram.I_22_Resolver"
            desc="%quickFix.I_22_Resolver.desc"
            label="%quickFix.I_22_Resolver.label"
            icon="icons/search16.gif">
         <rules
               ruleId="I_22">
         </rules>
      </resolver>
      <resolver
            class="org.polarsys.capella.core.platform.sirius.sirius.validation.ddiagram.I_23_Resolver"
            desc="%quickFix.I_23_Resolver.desc"
            icon="icons/search16.gif"
            label="%quickFix.I_23_Resolver.label">
         <rules
               ruleId="I_23">
         </rules>
      </resolver>
      <resolver
            class="org.polarsys.capella.core.platform.sirius.sirius.validation.ddiagram.ImagePathResolver"
            desc="%quickFix.ImagePath_Resolver.desc"
            label="%quickFix.ImagePath_Resolver.label">
         <rules
               ruleId="I_46">
         </rules>
      </resolver>
      <resolver
            class="org.polarsys.capella.core.platform.sirius.sirius.validation.ddiagram.ImagePathResolver"
            desc="%quickFix.ImagePath_Resolver.desc"
            label="%quickFix.ImagePath_Resolver.label">
         <rules
               ruleId="I_47">
         </rules>
      </resolver>
      <resolver
            class="org.polarsys.capella.core.platform.sirius.sirius.validation.ddiagram.ImagePathMassResolver"
            desc="%quickFix.ImagePath_MassResolver.desc"
            label="%quickFix.ImagePath_MassResolver.label">
         <rules
               ruleId="I_46">
         </rules>
      </resolver>
      <resolver
            class="org.polarsys.capella.core.platform.sirius.sirius.validation.ddiagram.ImagePathMassResolver"
            desc="%quickFix.ImagePath_MassResolver.desc"
            label="%quickFix.ImagePath_MassResolver.label">
         <rules
               ruleId="I_47">
         </rules>
      </resolver>
   </extension>
   <extension point="org.eclipse.emf.validation.constraintProviders">
      <constraintProvider>
         <package
               namespaceUri="http://www.polarsys.org/capella/core/core/6.0.0">
         </package>
         <constraints
               categories="capella.category/integrity">
            <constraint
                  class="org.polarsys.capella.core.platform.sirius.sirius.validation.ddiagram.CapellaElementNamingConflictDiagram"
                  id="I_07"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="I_07 - Diagram Naming conflicts check"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  {0}"{1}" content has a naming conflict for: {2}.
               </message>
               <description>
                  This rule checks  that a diagram doesn&apos;t contain naming conflict with other diagrams of the same type.
               </description>
               <target
                     class="CapellaElement">
               </target>
            </constraint>
            <constraint
                  class="org.polarsys.capella.core.platform.sirius.sirius.validation.ddiagram.CapellaElementInDescriptionNameCheck"
                  id="I_22"
                  isEnabledByDefault="false"
                  lang="java"
                  mode="Batch"
                  name="I_22 - HyperLink to capella element or diagram name check"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="CapellaElement">
               </target>
               <description>
                  This rule ensures that hyperLinks to capella elements or diagrams names are up to date.
               </description>
            </constraint>
            <constraint
                  class="org.polarsys.capella.core.platform.sirius.sirius.validation.ddiagram.CapellaElementInDescriptionExistanceCheck"
                  id="I_23"
                  isEnabledByDefault="false"
                  lang="java"
                  mode="Batch"
                  name="I_23 - HyperLink to capella element or diagram existance check"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="CapellaElement">
               </target>
               <description>
                  This rule ensures that hyperLinks to non existing capella element or diagram are removed from the description.
               </description>
            </constraint>
            <constraint
                  class="org.polarsys.capella.core.platform.sirius.sirius.validation.ddiagram.ImagePathInDiagramCheck"
                  id="I_46"
                  isEnabledByDefault="false"
                  lang="java"
                  mode="Batch"
                  name="I_46 - Check that the image used for diagram nodes is found"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="CapellaElement">
               </target>
               <description>
                  Warning: This rule applies on diagrams elements of diagram associated to the Capella element and will load the diagram. 
It is recommended to uncheck this rule by default.

This rule ensures that images, used as background of diagram elements, can be found.

Tip: If some cases are detected (validation markers), it is recommended to check the existence of the image and move it in the right folder according to the used expected image path location. Once done, you can restart the validation. If you have still validation markers, then use the &quot;Quick fix&quot; tool to select a new image.
               </description>
            </constraint>
            <constraint
                  class="org.polarsys.capella.core.platform.sirius.sirius.validation.ddiagram.ImagePathOnRichTextAttributeCheck"
                  id="I_47"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Batch"
                  name="I_47 - Check that images used in rich text is found (Capella and diagram descriptions etc)"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <description>
                  This rule ensures that images, used in rich text editor, for attributes such as Capella elements description or diagram description, can be found.

Tip: If some cases are detected (validation markers), it is recommended to check the existence of the image and move it in the right folder according to the used expected image path location. Once done, you can restart the validation. If you have still validation markers, then use the &quot;Quick fix&quot; tool to select a new image.
               </description>
            </constraint>
         </constraints>
      </constraintProvider>
   </extension>
</plugin>
