<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
  Copyright (c) 2006, 2015 THALES GLOBAL SERVICES.
  
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0
  
  SPDX-License-Identifier: EPL-2.0

  Contributors:
       Thales - initial API and implementation
-->
<plugin>

   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="false">
      </toc>
      <toc
            file="html/Validation Rules/design/completeness/ValidationRules-toc.xml"
            primary="false">
      </toc>
      <toc
            file="html/Validation Rules/design/consistency/ValidationRules-toc.xml"
            primary="false">
      </toc>
      <toc
            file="html/Validation Rules/design/coverage/ValidationRules-toc.xml"
            primary="false">
      </toc>
      <toc
            file="html/Validation Rules/design/well-formedness/capabilities/ValidationRules-toc.xml"
            primary="false">
      </toc>
      <toc
            file="html/Validation Rules/design/well-formedness/components/ValidationRules-toc.xml"
            primary="false">
      </toc>
      <toc
            file="html/Validation Rules/design/well-formedness/data/ValidationRules-toc.xml"
            primary="false">
      </toc>
      <toc
            file="html/Validation Rules/design/well-formedness/dataflows/ValidationRules-toc.xml"
            primary="false">
      </toc>
      <toc
            file="html/Validation Rules/design/well-formedness/interfaces/ValidationRules-toc.xml"
            primary="false">
      </toc>
      <toc
            file="html/Validation Rules/design/well-formedness/scenarios/ValidationRules-toc.xml"
            primary="false">
      </toc>
      <toc
            file="html/Validation Rules/design/well-formedness/state_machines/ValidationRules-toc.xml"
            primary="false">
      </toc>
      <toc
            file="html/Validation Rules/design/well-formedness/use_cases/ValidationRules-toc.xml"
            primary="false">
      </toc>
      <toc
            file="html/Validation Rules/integrity/ValidationRules-toc.xml"
            primary="false">
      </toc>
      <toc
            file="html/Validation Rules/quality/ValidationRules-toc.xml"
            primary="false">
      </toc>
      <toc
            file="html/Validation Rules/transition/consistency/components/ValidationRules-toc.xml"
            primary="false">
      </toc>
      <toc
            file="html/Validation Rules/transition/consistency/dataflows/ValidationRules-toc.xml"
            primary="false">
      </toc>
      <toc
            file="html/Validation Rules/transition/consistency/interfaces/ValidationRules-toc.xml"
            primary="false">
      </toc>
      <toc
            file="html/Validation Rules/transition/consistency/scenarios/ValidationRules-toc.xml"
            primary="false">
      </toc>
      <toc
            file="html/Validation Rules/transition/consistency/state_machines/ValidationRules-toc.xml"
            primary="false">
      </toc>
      <toc
            file="html/Validation Rules/transition/justification/epbs/ValidationRules-toc.xml"
            primary="false">
      </toc>
      <toc
            file="html/Validation Rules/transition/justification/generic/ValidationRules-toc.xml"
            primary="false">
      </toc>
      <toc
            file="html/Validation Rules/transition/justification/logical_architecture/ValidationRules-toc.xml"
            primary="false">
      </toc>
      <toc
            file="html/Validation Rules/transition/justification/physical_architecture/ValidationRules-toc.xml"
            primary="false">
      </toc>
      <toc
            file="html/Validation Rules/transition/justification/system_analysis/ValidationRules-toc.xml"
            primary="false">
      </toc>
   </extension>
</plugin>
