<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  Copyright (c) 2006, 2020, 2020 THALES GLOBAL SERVICES.
  
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0
  
  SPDX-License-Identifier: EPL-2.0
  
  Contributors:
       Thales - initial API and implementation
-->
<plugin>
<extension
         point="org.eclipse.emf.validation.constraintProviders">
      <constraintProvider>
         <package
               namespaceUri="http://www.polarsys.org/capella/core/epbs/7.0.0">
         </package>
         <constraints
               categories="capella.category/transition/justification/epbs">
            <constraint
                  class="org.polarsys.capella.core.data.epbs.validation.configurationItem.MDCHK_ConfigurationItem_Allocation_1"
                  id="TJ_EPBS_03"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="TJ_EPBS_03 - Configuration Physical Artifacts Realization check"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  {0} (Configuration Item) does not  realize any Physical Artifact.
               </message>
               <description>
                  This rule checks that a Configuration Item realizes at least one Physical Artifact.
               </description>
               <target
                     class="ConfigurationItem">
               </target>
            </constraint>
            <constraint
                  class="org.polarsys.capella.core.data.epbs.validation.epbsArchitecture.MDCHK_EPBSArchitecture_EpbsArchitectureToPaRealization"
                  id="TJ_EPBS_04"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="TJ_EPBS_04 - EPBS Architecture Realization"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}.
               </message>
               <description>
                  This rule ensures the realization consistency between EPBS Architecture and Physical Architecture.
               </description>
               <target
                     class="EPBSArchitecture">
               </target>
            </constraint>
         </constraints>
         <constraints
               categories="capella.category/transition/consistency/components">
            <constraint
                  class="org.polarsys.capella.core.data.epbs.validation.configurationItem.MDCHK_ConfigurationItem_PhysicalComponentRealization"
                  id="TC_DC_04"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="TC_DC_04 - Physical Artifacts Realization"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  Realization consistency error :{0} (ConfigurationItem) realizes {1} which is not a Physical Artifact but a {2}.
               </message>
               <target
                     class="ConfigurationItem">
               </target>
               <description>
                  This rule checks that a Physical Artifact Realization from a Configuration Item targets a Physical Artifact.
               </description>
            </constraint>
         </constraints>
      </constraintProvider>
   </extension>
</plugin>
