<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  Copyright (c) 2006, 2017 THALES GLOBAL SERVICES.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html

  Contributors:
       Thales - initial API and implementation
-->
<plugin>
   <extension
         point="org.polarsys.capella.common.ui.toolkit.browser.labelProviderFactory">
      <labelProviderFactory
            class="org.polarsys.capella.core.ui.semantic.browser.label.provider.SemanticBrowserLabelProviderFactoryImpl">
      </labelProviderFactory>
   </extension>
   <extension
         point="org.polarsys.capella.common.ui.toolkit.browser.contentProviderFactory">
      <contentProviderFactory
            class="org.polarsys.capella.core.ui.semantic.browser.content.provider.SemanticBrowserContentProviderFactory">
      </contentProviderFactory>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.polarsys.capella.core.ui.semantic.browser.internal.NavigateBackHandler"
            id="org.polarsys.capella.core.ui.semantic.browser.backwardNavigation"
            name="%navigateBackwardCommand">
      </command>
      <command
            defaultHandler="org.polarsys.capella.core.ui.semantic.browser.internal.NavigateForwardHandler"
            id="org.polarsys.capella.core.ui.semantic.browser.forwardNavigation"
            name="%navigateForwardCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.polarsys.capella.core.ui.semantic.browser.backwardNavigation"
            schemeId="org.polarsys.capella.core.defaultAcceleratorConfiguration"
            sequence="CTRL+ARROW_LEFT">
      </key>
      <key
            commandId="org.polarsys.capella.core.ui.semantic.browser.forwardNavigation"
            schemeId="org.polarsys.capella.core.defaultAcceleratorConfiguration"
            sequence="CTRL+ARROW_RIGHT">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.polarsys.capella.core.ui.semantic.browser.view.SemanticBrowserID?after=additions">
            <command
               commandId="org.polarsys.capella.core.platform.sirius.ui.navigator.showInDiagramCommand"
               id="org.polarsys.capella.core.ui.semantic.browser.showInDiagramAction"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <with
                     variable="activeMenuSelection">
                  <and>
                     <iterate>
                        <instanceof
                              value="org.polarsys.kitalpha.emde.model.Element">
                        </instanceof>
                     </iterate>
                     <count
                           value="1">
                     </count>
                  </and>
               </with>
            </visibleWhen>
         </command>
            <command
                  commandId="org.polarsys.capella.core.platform.sirius.ui.navigator.showImpactAnalysisCommand"
                  id="org.polarsys.capella.core.ui.semantic.browser.sirius.showImpactAnalysis"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
                  <with
                        variable="activeMenuSelection">
                     <and>
                        <iterate>
                           <instanceof
                                 value="org.polarsys.kitalpha.emde.model.Element">
                           </instanceof>
                        </iterate>
                        <count
                              value="1">
                        </count>
                     </and>
                  </with>
               </visibleWhen>
            </command>
      </menuContribution>
   </extension>
</plugin>
