<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  Copyright (c) 2006, 2018 THALES GLOBAL SERVICES.
  
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0
  
  SPDX-License-Identifier: EPL-2.0
  
  Contributors:
       Thales - initial API and implementation
-->
<plugin>
   <extension
         point="org.polarsys.capella.common.ui.toolkit.browser.labelProviderFactory">
      <labelProviderFactory
            class="org.polarsys.capella.core.ui.semantic.browser.label.provider.SemanticBrowserLabelProviderFactoryImpl">
      </labelProviderFactory>
   </extension>
   <extension
         point="org.polarsys.capella.common.ui.toolkit.browser.contentProviderFactory">
      <contentProviderFactory
            class="org.polarsys.capella.core.ui.semantic.browser.content.provider.SemanticBrowserContentProviderFactory">
      </contentProviderFactory>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.polarsys.capella.core.ui.semantic.browser.internal.NavigateBackHandler"
            id="org.polarsys.capella.core.ui.semantic.browser.backwardNavigation"
            name="%navigateBackwardCommand">
      </command>
      <command
            defaultHandler="org.polarsys.capella.core.ui.semantic.browser.internal.NavigateForwardHandler"
            id="org.polarsys.capella.core.ui.semantic.browser.forwardNavigation"
            name="%navigateForwardCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.polarsys.capella.core.ui.semantic.browser.backwardNavigation"
            schemeId="org.polarsys.capella.core.defaultAcceleratorConfiguration"
            sequence="CTRL+ARROW_LEFT">
      </key>
      <key
            commandId="org.polarsys.capella.core.ui.semantic.browser.forwardNavigation"
            schemeId="org.polarsys.capella.core.defaultAcceleratorConfiguration"
            sequence="CTRL+ARROW_RIGHT">
      </key>
   </extension>
</plugin>
