<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  Copyright (c) 2006, 2020 THALES GLOBAL SERVICES.
  
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0
  
  SPDX-License-Identifier: EPL-2.0
  
  Contributors:
       Thales - initial API and implementation
-->
<plugin>
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections contributorId="org.polarsys.capella.core.data.capellamodeller.properties">
         <propertySection
               class="org.polarsys.capella.core.data.common.properties.sections.AbstractStateRealizationSection"
               filter="org.polarsys.capella.core.data.common.properties.sections.AbstractStateRealizationSection"
               id="org.polarsys.capella.core.data.common.section.AbstractStateRealization"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.common.properties.sections.ChoicePseudoStateSection"
               filter="org.polarsys.capella.core.data.common.properties.sections.ChoicePseudoStateSection"
               id="org.polarsys.capella.core.data.common.section.ChoicePseudoState"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.common.properties.sections.FinalStateSection"
               filter="org.polarsys.capella.core.data.common.properties.sections.FinalStateSection"
               id="org.polarsys.capella.core.data.common.section.FinalState"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.common.properties.sections.ForkPseudoStateSection"
               filter="org.polarsys.capella.core.data.common.properties.sections.ForkPseudoStateSection"
               id="org.polarsys.capella.core.data.common.section.ForkPseudoState"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.common.properties.sections.EntryPointPseudoStateSection"
               filter="org.polarsys.capella.core.data.common.properties.sections.EntryPointPseudoStateSection"
               id="org.polarsys.capella.core.data.common.section.EntryPointPseudoState"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.common.properties.sections.ExitPointPseudoStateSection"
               filter="org.polarsys.capella.core.data.common.properties.sections.ExitPointPseudoStateSection"
               id="org.polarsys.capella.core.data.common.section.ExitPointPseudoState"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.common.properties.sections.ShallowHistoryPseudoStateSection"
               filter="org.polarsys.capella.core.data.common.properties.sections.ShallowHistoryPseudoStateSection"
               id="org.polarsys.capella.core.data.common.section.ShallowHistoryPseudoState"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.common.properties.sections.DeepHistoryPseudoStateSection"
               filter="org.polarsys.capella.core.data.common.properties.sections.DeepHistoryPseudoStateSection"
               id="org.polarsys.capella.core.data.common.section.DeepHistoryPseudoState"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.common.properties.sections.GenericTraceSection"
               filter="org.polarsys.capella.core.data.common.properties.sections.GenericTraceSection"
               id="org.polarsys.capella.core.data.common.section.GenericTraceState"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.common.properties.sections.InitialPseudoStateSection"
               filter="org.polarsys.capella.core.data.common.properties.sections.InitialPseudoStateSection"
               id="org.polarsys.capella.core.data.common.section.InitialPseudoState"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.common.properties.sections.JoinPseudoStateSection"
               filter="org.polarsys.capella.core.data.common.properties.sections.JoinPseudoStateSection"
               id="org.polarsys.capella.core.data.common.section.JoinPseudoState"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.common.properties.sections.ModeSection"
               filter="org.polarsys.capella.core.data.common.properties.sections.ModeSection"
               id="org.polarsys.capella.core.data.common.section.Mode"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.common.properties.sections.RegionSection"
               filter="org.polarsys.capella.core.data.common.properties.sections.RegionSection"
               id="org.polarsys.capella.core.data.common.section.Region"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.common.properties.sections.StateSection"
               filter="org.polarsys.capella.core.data.common.properties.sections.StateSection"
               id="org.polarsys.capella.core.data.common.section.State"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.common.properties.sections.StateMachineSection"
               filter="org.polarsys.capella.core.data.common.properties.sections.StateMachineSection"
               id="org.polarsys.capella.core.data.common.section.StateMachine"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.common.properties.sections.StateTransitionSection"
               filter="org.polarsys.capella.core.data.common.properties.sections.StateTransitionSection"
               id="org.polarsys.capella.core.data.common.section.StateTransition"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.common.properties.sections.StateEventRealizationSection"
               filter="org.polarsys.capella.core.data.common.properties.sections.StateEventRealizationSection"
               id="org.polarsys.capella.core.data.common.section.StateEventRealizationSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.common.properties.sections.StateTransitionRealizationSection"
               filter="org.polarsys.capella.core.data.common.properties.sections.StateTransitionRealizationSection"
               id="org.polarsys.capella.core.data.common.section.StateTransitionRealization"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.common.properties.sections.TerminatePseudoStateSection"
               filter="org.polarsys.capella.core.data.common.properties.sections.TerminatePseudoStateSection"
               id="org.polarsys.capella.core.data.common.section.TerminatePseudoState"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.common.properties.sections.TransfoLinkSection"
               filter="org.polarsys.capella.core.data.common.properties.sections.TransfoLinkSection"
               id="org.polarsys.capella.core.data.common.section.TransfoLink"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.common.properties.sections.TimeEventSection"
               filter="org.polarsys.capella.core.data.common.properties.sections.TimeEventSection"
               id="org.polarsys.capella.core.data.common.section.TimeEventSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.common.properties.sections.ChangeEventSection"
               filter="org.polarsys.capella.core.data.common.properties.sections.ChangeEventSection"
               id="org.polarsys.capella.core.data.common.section.ChangeEventSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.common.properties.sections.CapabilityRealizationInvolvementSection"
               filter="org.polarsys.capella.core.data.common.properties.sections.CapabilityRealizationInvolvementSection"
               id="org.polarsys.capella.core.data.common.section.SystemComponentCapabilityRealizationInvolvement"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.common.properties.sections.JustificationLinkSection"
               filter="org.polarsys.capella.core.data.common.properties.sections.JustificationLinkSection"
               id="org.polarsys.capella.core.data.common.section.JustificationLinkSection"
               tab="BaseCapella">
         </propertySection>
      </propertySections>
   </extension>
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">      
	  <propertySections contributorId="org.eclipse.sirius.diagram.ui">
         <propertySection
               class="org.polarsys.capella.core.data.common.properties.sections.AbstractStateRealizationSection"
               filter="org.polarsys.capella.core.data.common.properties.sections.AbstractStateRealizationSection"
               id="org.polarsys.capella.core.data.common.section.AbstractStateRealizationBasePropertySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.common.properties.sections.ChoicePseudoStateSection"
               filter="org.polarsys.capella.core.data.common.properties.sections.ChoicePseudoStateSection"
               id="org.polarsys.capella.core.data.common.section.ChoicePseudoStateBasePropertySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.common.properties.sections.FinalStateSection"
               filter="org.polarsys.capella.core.data.common.properties.sections.FinalStateSection"
               id="org.polarsys.capella.core.data.common.section.FinalStateBasePropertySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.common.properties.sections.ForkPseudoStateSection"
               filter="org.polarsys.capella.core.data.common.properties.sections.ForkPseudoStateSection"
               id="org.polarsys.capella.core.data.common.section.ForkPseudoStateBasePropertySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.common.properties.sections.EntryPointPseudoStateSection"
               filter="org.polarsys.capella.core.data.common.properties.sections.EntryPointPseudoStateSection"
               id="org.polarsys.capella.core.data.common.section.EntryPointPseudoState"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.common.properties.sections.ExitPointPseudoStateSection"
               filter="org.polarsys.capella.core.data.common.properties.sections.ExitPointPseudoStateSection"
               id="org.polarsys.capella.core.data.common.section.ExitPointPseudoState"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.common.properties.sections.ShallowHistoryPseudoStateSection"
               filter="org.polarsys.capella.core.data.common.properties.sections.ShallowHistoryPseudoStateSection"
               id="org.polarsys.capella.core.data.common.section.ShallowHistoryPseudoState"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.common.properties.sections.DeepHistoryPseudoStateSection"
               filter="org.polarsys.capella.core.data.common.properties.sections.DeepHistoryPseudoStateSection"
               id="org.polarsys.capella.core.data.common.section.DeepHistoryPseudoState"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.common.properties.sections.GenericTraceSection"
               filter="org.polarsys.capella.core.data.common.properties.sections.GenericTraceSection"
               id="org.polarsys.capella.core.data.common.section.GenericTraceBasePropertySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.common.properties.sections.InitialPseudoStateSection"
               filter="org.polarsys.capella.core.data.common.properties.sections.InitialPseudoStateSection"
               id="org.polarsys.capella.core.data.common.section.InitialPseudoStateBasePropertySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.common.properties.sections.JoinPseudoStateSection"
               filter="org.polarsys.capella.core.data.common.properties.sections.JoinPseudoStateSection"
               id="org.polarsys.capella.core.data.common.section.JoinPseudoStateBasePropertySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.common.properties.sections.ModeSection"
               filter="org.polarsys.capella.core.data.common.properties.sections.ModeSection"
               id="org.polarsys.capella.core.data.common.section.ModeBasePropertySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.common.properties.sections.RegionSection"
               filter="org.polarsys.capella.core.data.common.properties.sections.RegionSection"
               id="org.polarsys.capella.core.data.common.section.RegionBasePropertySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.common.properties.sections.StateSection"
               filter="org.polarsys.capella.core.data.common.properties.sections.StateSection"
               id="org.polarsys.capella.core.data.common.section.StateBasePropertySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.common.properties.sections.StateMachineSection"
               filter="org.polarsys.capella.core.data.common.properties.sections.StateMachineSection"
               id="org.polarsys.capella.core.data.common.section.StateMachineBasePropertySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.common.properties.sections.StateTransitionSection"
               filter="org.polarsys.capella.core.data.common.properties.sections.StateTransitionSection"
               id="org.polarsys.capella.core.data.common.section.StateTransitionBasePropertySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.common.properties.sections.StateEventRealizationSection"
               filter="org.polarsys.capella.core.data.common.properties.sections.StateEventRealizationSection"
               id="org.polarsys.capella.core.data.common.section.StateEventRealizationSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.common.properties.sections.StateTransitionRealizationSection"
               filter="org.polarsys.capella.core.data.common.properties.sections.StateTransitionRealizationSection"
               id="org.polarsys.capella.core.data.common.section.StateTransitionRealizationBasePropertySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.common.properties.sections.TerminatePseudoStateSection"
               filter="org.polarsys.capella.core.data.common.properties.sections.TerminatePseudoStateSection"
               id="org.polarsys.capella.core.data.common.section.TerminatePseudoStateBasePropertySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.common.properties.sections.TransfoLinkSection"
               filter="org.polarsys.capella.core.data.common.properties.sections.TransfoLinkSection"
               id="org.polarsys.capella.core.data.common.section.TransfoLinkBasePropertySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.common.properties.sections.TimeEventSection"
               filter="org.polarsys.capella.core.data.common.properties.sections.TimeEventSection"
               id="org.polarsys.capella.core.data.common.section.TimeEventBasePropertySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.common.properties.sections.ChangeEventSection"
               filter="org.polarsys.capella.core.data.common.properties.sections.ChangeEventSection"
               id="org.polarsys.capella.core.data.common.section.ChangeEventBasePropertySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.common.properties.sections.CapabilityRealizationInvolvementSection"
               filter="org.polarsys.capella.core.data.common.properties.sections.CapabilityRealizationInvolvementSection"
               id="org.polarsys.capella.core.data.common.section.SystemComponentCapabilityRealizationInvolvementBasePropertySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.common.properties.sections.JustificationLinkSection"
               filter="org.polarsys.capella.core.data.common.properties.sections.JustificationLinkSection"
               id="org.polarsys.capella.core.data.common.section.JustificationLinkSection"
               tab="BaseSiriusDiagram">
         </propertySection>
      </propertySections>
   </extension>
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">      
	  <propertySections contributorId="org.eclipse.sirius.table.ui.EditorID">
         <propertySection
               class="org.polarsys.capella.core.data.common.properties.sections.AbstractStateRealizationSection"
               filter="org.polarsys.capella.core.data.common.properties.sections.AbstractStateRealizationSection"
               id="org.polarsys.capella.core.data.common.section.AbstractStateRealizationBasePropertySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.common.properties.sections.ChoicePseudoStateSection"
               filter="org.polarsys.capella.core.data.common.properties.sections.ChoicePseudoStateSection"
               id="org.polarsys.capella.core.data.common.section.ChoicePseudoStateBasePropertySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.common.properties.sections.FinalStateSection"
               filter="org.polarsys.capella.core.data.common.properties.sections.FinalStateSection"
               id="org.polarsys.capella.core.data.common.section.FinalStateBasePropertySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.common.properties.sections.ForkPseudoStateSection"
               filter="org.polarsys.capella.core.data.common.properties.sections.ForkPseudoStateSection"
               id="org.polarsys.capella.core.data.common.section.ForkPseudoStateBasePropertySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.common.properties.sections.EntryPointPseudoStateSection"
               filter="org.polarsys.capella.core.data.common.properties.sections.EntryPointPseudoStateSection"
               id="org.polarsys.capella.core.data.common.section.EntryPointPseudoState"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.common.properties.sections.ExitPointPseudoStateSection"
               filter="org.polarsys.capella.core.data.common.properties.sections.ExitPointPseudoStateSection"
               id="org.polarsys.capella.core.data.common.section.ExitPointPseudoState"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.common.properties.sections.ShallowHistoryPseudoStateSection"
               filter="org.polarsys.capella.core.data.common.properties.sections.ShallowHistoryPseudoStateSection"
               id="org.polarsys.capella.core.data.common.section.ShallowHistoryPseudoState"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.common.properties.sections.DeepHistoryPseudoStateSection"
               filter="org.polarsys.capella.core.data.common.properties.sections.DeepHistoryPseudoStateSection"
               id="org.polarsys.capella.core.data.common.section.DeepHistoryPseudoState"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.common.properties.sections.GenericTraceSection"
               filter="org.polarsys.capella.core.data.common.properties.sections.GenericTraceSection"
               id="org.polarsys.capella.core.data.common.section.GenericTraceBasePropertySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.common.properties.sections.InitialPseudoStateSection"
               filter="org.polarsys.capella.core.data.common.properties.sections.InitialPseudoStateSection"
               id="org.polarsys.capella.core.data.common.section.InitialPseudoStateBasePropertySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.common.properties.sections.JoinPseudoStateSection"
               filter="org.polarsys.capella.core.data.common.properties.sections.JoinPseudoStateSection"
               id="org.polarsys.capella.core.data.common.section.JoinPseudoStateBasePropertySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.common.properties.sections.ModeSection"
               filter="org.polarsys.capella.core.data.common.properties.sections.ModeSection"
               id="org.polarsys.capella.core.data.common.section.ModeBasePropertySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.common.properties.sections.RegionSection"
               filter="org.polarsys.capella.core.data.common.properties.sections.RegionSection"
               id="org.polarsys.capella.core.data.common.section.RegionBasePropertySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.common.properties.sections.StateSection"
               filter="org.polarsys.capella.core.data.common.properties.sections.StateSection"
               id="org.polarsys.capella.core.data.common.section.StateBasePropertySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.common.properties.sections.StateMachineSection"
               filter="org.polarsys.capella.core.data.common.properties.sections.StateMachineSection"
               id="org.polarsys.capella.core.data.common.section.StateMachineBasePropertySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.common.properties.sections.StateTransitionSection"
               filter="org.polarsys.capella.core.data.common.properties.sections.StateTransitionSection"
               id="org.polarsys.capella.core.data.common.section.StateTransitionBasePropertySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.common.properties.sections.StateEventRealizationSection"
               filter="org.polarsys.capella.core.data.common.properties.sections.StateEventRealizationSection"
               id="org.polarsys.capella.core.data.common.section.StateEventRealizationSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.common.properties.sections.StateTransitionRealizationSection"
               filter="org.polarsys.capella.core.data.common.properties.sections.StateTransitionRealizationSection"
               id="org.polarsys.capella.core.data.common.section.StateTransitionRealizationBasePropertySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.common.properties.sections.TerminatePseudoStateSection"
               filter="org.polarsys.capella.core.data.common.properties.sections.TerminatePseudoStateSection"
               id="org.polarsys.capella.core.data.common.section.TerminatePseudoStateBasePropertySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.common.properties.sections.TransfoLinkSection"
               filter="org.polarsys.capella.core.data.common.properties.sections.TransfoLinkSection"
               id="org.polarsys.capella.core.data.common.section.TransfoLinkBasePropertySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.common.properties.sections.TimeEventSection"
               filter="org.polarsys.capella.core.data.common.properties.sections.TimeEventSection"
               id="org.polarsys.capella.core.data.common.section.TimeEventBasePropertySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.common.properties.sections.ChangeEventSection"
               filter="org.polarsys.capella.core.data.common.properties.sections.ChangeEventSection"
               id="org.polarsys.capella.core.data.common.section.ChangeEventBasePropertySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.common.properties.sections.CapabilityRealizationInvolvementSection"
               filter="org.polarsys.capella.core.data.common.properties.sections.CapabilityRealizationInvolvementSection"
               id="org.polarsys.capella.core.data.common.section.SystemComponentCapabilityRealizationInvolvementBasePropertySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.common.properties.sections.JustificationLinkSection"
               filter="org.polarsys.capella.core.data.common.properties.sections.JustificationLinkSection"
               id="org.polarsys.capella.core.data.common.section.JustificationLinkSection"
               tab="BaseSiriusTable">
         </propertySection>
      </propertySections>
   </extension>
</plugin>
