/OperationAllocation__allocatedOperation.java
/OperationAllocation__allocatingOperation.java
/Operation__allocatedOperations.java
/Operation__allocatingOperations.java
/Operation.java
/Operation__realizedExchangeItems.java
/PortAllocation.java
/PortAllocation__allocatedPort.java
/PortAllocation__allocatingPort.java
/Port.java
/Port__incomingPortAllocations.java
/Port__incomingPortRealizations.java
/Port__outgoingPortAllocations.java
/Port__outgoingPortRealizations.java
/PortRealization.java
/PortRealization__realizedPort.java
/PortRealization__realizingPort.java
/AbstractInstance.java
/AbstractInstance__representingInstanceRoles.java
/ExchangeItem.java
/ExchangeItem__allocatorInterfaces.java
/ExchangeItem__realizedExchangeItems.java
/ExchangeItem__realizingExchangeItems.java
/ExchangeItem__realizingOperations.java
/Collection.java
/Collection__containedOperations.java
/Class__realizedClasses.java
/Property.java
/Property__association.java
/Union.java
/Union__containedUnionProperties.java
/AbstractEventOperation.java
/AbstractEventOperation__invokingSequenceMessages.java
/OperationAllocation.java
/Class.java
/Class__realizingClasses.java
/ExchangeItemRealization.java
/ExchangeItemRealization__realizedItem.java
/ExchangeItemRealization__realizingOperation.java
/Service.java
/Service__messages.java
