/PhysicalArchitecture.java
/PhysicalArchitecture__allocatedLogicalArchitectureRealizations.java
/PhysicalArchitecture__allocatedLogicalArchitectures.java
/PhysicalArchitecture__allocatingEpbsArchitectures.java
/PhysicalArchitecture__containedCapabilityRealizationPkg.java
/PhysicalArchitecture__containedPhysicalFunctionPkg.java
/PhysicalComponent.java
/PhysicalComponent__allocatedPhysicalFunctions.java
/PhysicalComponent__deployedPhysicalComponents.java
/PhysicalComponent__deployingPhysicalComponents.java
/PhysicalComponent__logicalInterfaceRealizations.java
/PhysicalComponent__realizedLogicalComponents.java
/PhysicalComponent__subPhysicalComponents.java
/PhysicalNode.java
/PhysicalNode__subPhysicalNodes.java
/PhysicalFunction__realizedLogicalFunctions.java
/PhysicalFunction__containedPhysicalFunctions.java
/PhysicalFunction.java
/PhysicalFunction__allocatingPhysicalComponents.java
/PhysicalFunction__childrenPhysicalFunctions.java
