<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  Copyright (c) 2018, 2020 THALES GLOBAL SERVICES.
  
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0
  
  SPDX-License-Identifier: EPL-2.0
  
  Contributors:
       Thales - initial API and implementation
-->
<plugin>
   <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <constraintProvider>
         <package
               namespaceUri="http://www.polarsys.org/capella/core/core/7.0.0">
         </package>
         <constraints
               categories="capella.category/design/well-formedness/data">
            <constraint
                  class="org.polarsys.capella.core.data.capellamodeller.validation.MDCHK_Class_Generalization_2"
                  id="DWF_D_19"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="%constraint.name"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  %constraint.message
               </message>
               <target
                     class="GeneralizableElement">
               </target>
               <description>
                  %constraint.description
               </description>
            </constraint>
            <!--
            <constraint
                  class="org.polarsys.capella.core.data.core.validation.constraint.MDCHK_Constraint_Expression"
                  id="DWF_D_20"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="DWF_D_20 - Constraint ownedSpecification type check 1"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  "{0}" constraint ownedSpecification must be of type boolean.
               </message>
               <description>
                  This rule checks that the ownedSpecification of a constraint is of type boolean.
               </description>
               <target
                     class="Constraint">
               </target>
            </constraint>
            -->
            <constraint
                  class="org.polarsys.capella.core.data.capellamodeller.validation.MDCHKClassWithAbstractAttributes"
                  id="DWF_D_41"
                  isEnabledByDefault="false"
                  lang="Java"
                  mode="Batch"
                  name="%constraint.name.0"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  %constraint.message.0
               </message>
               <description>
                  %constraint.description.0
               </description> 
               <target
                     class="CapellaElement">
               </target>
            </constraint>    
            <constraint
                        class="org.polarsys.capella.core.data.capellamodeller.validation.MDCHK_Class_FinalSuperClass"
                        id="DWF_D_47"
                        isEnabledByDefault="true"
                        lang="Java"
                        mode="Batch"
                        name="%constraint.name.1"
                        severity="WARNING"
                        statusCode="1">
                    <message>
                        %constraint.message.1
                    </message>
                    <target
                        class="GeneralizableElement">
                    </target>
                    <description>
                        %constraint.description.1
                    </description>
            </constraint>
            <constraint
                  class="org.polarsys.capella.core.data.capellamodeller.validation.PkgDependenciesCycleLiveValidationRule"
                  id="DWF_D_55"
                  isEnabledByDefault="false"
                  lang="Java"
                  mode="Live"
                  name="%constraint.name.2"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  %constraint.message.2
               </message>
               <description>
                  %constraint.description.2
               </description>
               <target
                     class="AbstractDependenciesPkg"></target>
            </constraint>
            <constraint
                  class="org.polarsys.capella.core.data.capellamodeller.validation.ConstraintAssignmentRule"
                  id="DWF_D_58"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Batch"
                  name="%constraint.name.3"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  %constraint.message.3
               </message>
               <target
                     class="Constraint">
               </target>
               <description>
                  %constraint.description.3
               </description>
            </constraint>
            <constraint
                  class="org.polarsys.capella.core.data.capellamodeller.validation.ConstraintLocationRule"
                  id="DWF_D_59"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Batch"
                  name="%constraint.name.4"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  %constraint.message.4
               </message>
               <target
                     class="Constraint">
               </target>
               <description>
                  %constraint.description.4
               </description>
            </constraint>
         </constraints>
         <constraints
               categories="capella.category/quality">
            <constraint
                  class="org.polarsys.capella.core.data.core.validation.capellaelement.MDCHK_ModelElement_SummaryNotEmpty"
                  id="Q_01"
                  isEnabledByDefault="falsee"
                  lang="Java"
                  mode="Batch"
                  name="%constraint.name.5"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  %constraint.message.5
               </message>
               <description>
                  %constraint.description.5
               </description>
               <target
                     class="CapellaElement">
               </target>
            </constraint>
            <constraint
                  class="org.polarsys.capella.core.data.core.validation.capellaelement.MDCHK_ModelElement_DescriptionNotEmpty"
                  id="Q_02"
                  isEnabledByDefault="falsee"
                  lang="Java"
                  mode="Batch"
                  name="%constraint.name.6"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  %constraint.message.6
               </message>
               <description>
                  %constraint.description.6
               </description>
               <target
                     class="CapellaElement">
               </target>
            </constraint>
            <constraint
                  class="org.polarsys.capella.core.data.core.validation.capellaelement.CapellaElementReviewFieldNotEmpty"
                  id="Q_03"
                  isEnabledByDefault="false"
                  lang="Java"
                  mode="Batch"
                  name="%constraint.name.7"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  %constraint.message.7
               </message>
               <description>
                  %constraint.description.7
               </description>
               <target
                     class="CapellaElement">
               </target>
            </constraint>
         </constraints>
         <constraints
               categories="capella.category/integrity">
            <constraint
                  class="org.polarsys.capella.core.data.core.validation.capellaelement.MDCHK_CapellaElement_Naming_1"
                  id="I_08"
                  isEnabledByDefault="false"
                  lang="Java"
                  mode="Batch"
                  name="%constraint.name.8"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  %constraint.message.8
               </message>
               <description>
                  %constraint.description.8
               </description>
               <target
                     class="CapellaElement">
               </target>
            </constraint>
            <constraint
                  class="org.polarsys.capella.core.data.core.validation.capellaelement.MDCHK_DE_CE_PL_Naming_1"
                  id="I_09"
                  isEnabledByDefault="false"
                  lang="Java"
                  mode="Batch"
                  name="%constraint.name.9"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  %constraint.message.9
               </message>
               <description>
                  %constraint.description.9
               </description>
               <target
                     class="CapellaElement">
               </target>
            </constraint>
            <constraint
                  class="org.polarsys.capella.core.data.core.validation.capellaelement.UnnamedElement"
                  id="I_10"
                  isEnabledByDefault="false"
                  lang="Java"
                  mode="Batch"
                  name="%constraint.name.10"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  %constraint.message.10
               </message>
               <description>
                  %constraint.description.10
               </description>
               <target
                     class="CapellaElement">
               </target>
            </constraint>
            <constraint
                  class="org.polarsys.capella.core.data.core.validation.capellaelement.NameConflict"
                  id="I_19"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="%constraint.name.11"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  %constraint.message.11
               </message>
               <target
                     class="CapellaElement">
               </target>
               <description>
                  %constraint.description.11
               </description>
            </constraint>
            <constraint
                  class="org.polarsys.capella.core.data.core.validation.constraint.UniqueModelElementIDs"
                  id="I_21"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Batch"
                  name="%constraint.name.12"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  %constraint.message.12
               </message>
               <target
                     class="CapellaElement">
               </target>
               <description>
                  %constraint.description.12
               </description>
            </constraint>
            <constraint
                  class="org.polarsys.capella.core.data.core.validation.constraint.DWF_D_31"
                  id="I_25"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="%constraint.name.13"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  %constraint.message.13
               </message>
               <description>
                  %constraint.description.13
               </description>
               <target
                     class="CapellaElement">
               </target>
            </constraint>
            <constraint
                  class="org.polarsys.capella.core.data.core.validation.capellaelement.PartNotNull"
                  id="I_31"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="%constraint.name.14"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  %constraint.message.14
               </message>
               <target
                     class="CapellaElement">
               </target>
               <description>
                  %constraint.description.14
               </description>
            </constraint>
            <constraint
                  class="org.polarsys.capella.core.data.capellamodeller.validation.SingletonModeWithEnds"
                  id="I_32"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="%constraint.name.15"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  %constraint.message.15
               </message>
               <description>
                  %constraint.description.15
               </description>
               <target
                     class="CapellaElement"></target>
            </constraint>
            <constraint
                  class="org.polarsys.capella.core.data.capellamodeller.validation.SingletonModeWithMultipleParts"
                  id="I_33"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="%constraint.name.16"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  %constraint.message.16
               </message>
               <description>
                  %constraint.description.16
               </description>
               <target
                     class="CapellaElement"></target>
            </constraint>
            <constraint
                  class="org.polarsys.capella.core.data.core.validation.constraint.I_36_ConstraintNotReferenced"
                  id="I_36"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="%constraint.name.17"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  %constraint.message.17
               </message>
               <description>
                  %constraint.description.17
               </description>
               <target
                     class="Constraint">
               </target>
            </constraint>
            <constraint
                  class="org.polarsys.capella.core.data.core.validation.constraint.ReferentialConstraintsValidationRule"
                  id="I_38"
                  isEnabledByDefault="false"
                  lang="Java"
                  mode="Batch"
                  name="%constraint.name.18"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  %constraint.message.18 
               </message>
               <description>
                  %constraint.description.18
               </description>
               <target
                     class="CapellaElement">
               </target>
            </constraint>
             <constraint
                  class="org.polarsys.capella.core.data.core.validation.constraint.InterModelConsistencyLiveValidationRule"
                  id="I_39"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Live"
                  name="%constraint.name.19"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  %constraint.message.19
               </message>
               <description>
                  %constraint.description.19 
               </description>
               <target
                     class="CapellaElement">
               </target>
            </constraint>
         </constraints>
      </constraintProvider>
      <constraintProvider>
         <package
               namespaceUri="http://www.polarsys.org/capella/core/modeller/7.0.0">
         </package>
         <package
               namespaceUri="http://www.polarsys.org/capella/core/core/7.0.0">
         </package>
         <package
               namespaceUri="http://www.polarsys.org/capella/core/cs/7.0.0">
         </package>
         <constraints
               categories="capella.category/design/well-formedness/data">
            <constraint
                  class="org.polarsys.capella.core.data.capellamodeller.validation.PkgDependenciesCycleValidationRule"
                  id="DWF_D_25"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="%constraint.name.20"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  %constraint.message.20
               </message>
               <description>
                  %constraint.description.20
               </description>
               <target
                     class="SystemEngineering">
               </target>
               <target
                     class="BlockArchitecture">
               </target>
               <target
                     class="AbstractDependenciesPkg">
               </target>
            </constraint>
        	<constraint
                  class="org.polarsys.capella.core.data.capellamodeller.validation.MDCHKPackageVisibility"
                  id="DWF_D_42"
                  isEnabledByDefault="false"
                  lang="Java"
                  mode="Batch"
                  name="%constraint.name.21"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  %constraint.message.21
               </message>
               <description>
                  %constraint.description.21
               </description> 
               <target
                     class="SystemEngineering">
               </target>
            </constraint>             
         </constraints>         
         <constraints
               categories="capella.category/integrity">
            <constraint
                  class="org.polarsys.capella.core.data.capellamodeller.validation.InterModelInconsistencyValidationRule"
                  id="I_34"
                  isEnabledByDefault="false"
                  lang="Java"
                  mode="Batch"
                  name="%constraint.name.22"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  %constraint.message.22
               </message>
               <description>
                  %constraint.description.22
               </description>
               <target
                     class="SystemEngineering">
               </target>
            </constraint>
         </constraints> 
           
      </constraintProvider>
      <constraintProvider>
         <package
               namespaceUri="http://www.polarsys.org/capella/common/core/7.0.0">
         </package>
         <constraints
               categories="capella.category/transition/justification/generic">
            <constraint
                  class="org.polarsys.capella.core.data.core.validation.capellaelement.AbstractTraceSourceAndTargetNaming"
                  id="TJ_G_05"
                  isEnabledByDefault="false"
                  lang="Java"
                  mode="Batch"
                  name="%constraint.name.23"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  %constraint.message.23
               </message>
               <description>
                  %constraint.description.23
               </description>
               <target
                     class="TraceableElement">
               </target>
            </constraint>
         </constraints>
         <constraints
               categories="capella.category/integrity">
            <constraint
                  class="org.polarsys.capella.core.data.core.validation.constraint.UniqueAbstractTraceConstraint"
                  id="I_26"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="%constraint.name.24"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  %constraint.message.24
               </message>
               <description>
                  %constraint.description.24
               </description>
               <target
                     class="AbstractTrace">
               </target>
            </constraint>
            <constraint
                  class="org.polarsys.capella.core.data.core.validation.capellaelement.TypedElementHasDifferentNameThanType"
                  id="I_45"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="%constraint.name.25"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  %constraint.message.25
               </message>
               <description>
                  %constraint.description.25
               </description>
               <target
                     class="AbstractTypedElement">
               </target>
            </constraint>
         </constraints>
      </constraintProvider>
      <constraintProvider>
         <package
               namespaceUri="http://www.polarsys.org/capella/core/core/7.0.0">
         </package>
         <constraints
               categories="capella.category/integrity">
            <constraint
                  class="org.polarsys.capella.core.data.core.validation.constraint.UniqueInvolvementConstraint"
                  id="I_40"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="%constraint.name.26"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  %constraint.message.26
               </message>
               <description>
                  %constraint.description.26
               </description>
               <target
                     class="Involvement">
               </target>
            </constraint>
         </constraints>
      </constraintProvider>
   </extension>
</plugin>
