<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  Copyright (c) 2006, 2020 THALES GLOBAL SERVICES.
  
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0
  
  SPDX-License-Identifier: EPL-2.0
  
  Contributors:
       Thales - initial API and implementation
-->
<plugin>
  <extension
         point="org.polarsys.capella.core.tiger">
   
   <ruleset
            context="org.polarsys.capella.core.projection.interfaces.generation"
            rulepackage="org.polarsys.capella.core.projection.interfaces.generateInterfaces"
            transfolink="org.polarsys.capella.core.projection.common.ProjectionTraceLinkProvider">
      
      <rule rulename="Rule_Component"/>
      <rule rulename="Rule_FunctionalExchange_Interface"/>
      <rule rulename="Rule_FunctionOutputPort"/>
      <rule rulename="Rule_FunctionInputPort"/>
      <rule rulename="Rule_ComponentExchange_Interface"/>
      <rule rulename="Rule_ComponentPort"/>

   </ruleset>
   
   </extension>
  <extension
        point="org.eclipse.emf.validation.constraintProviders">
     <constraintProvider
           cache="true"
           mode="Batch">
        <package
              namespaceUri="http://www.polarsys.org/capella/core/fa/7.0.0">
        </package>
        <constraints
              categories="capella.category/design/well-formedness/interfaces">
            <constraint
                  class="org.polarsys.capella.core.projection.interfaces.validation.DWF_I_23_GenerateInterfacesValidator"
                  id="DWF_I_23"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="DWF_I_23 - Missing/Unused Exchange Items on generated Interfaces"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  message is generated dynamically
               </message>
               <description>
This rule produces Errors for missing or unused Exchange Items on Interfaces generated by the&quot;Interfaces from allocated Functions&quot; modelling accelerator. In this context, an Exchange Item is unused on an Interface, if it is not allocated to any of the Interfaces related Functional or Component Exchanges. An Exchange Item is missing on an Interface if it is allocated on at least one of the Interfaces related Functional or Component Exchanges but not present on the Interface.
               </description>
               <target class="ComponentPort">
               </target>
            </constraint>
        </constraints>
     </constraintProvider>
  </extension>
  
  <extension point="org.eclipse.ui.commands">
  
  		<command
               defaultHandler="org.polarsys.capella.core.projection.interfaces.generateInterfaces.GenerateInterfacesHandler"
               id="org.polarsys.capella.core.transfo.commands.actions.accelerator.GenerateInterfacesAction"
               name="%generateInterfaces_label"
               >
         </command>
         
         
      </extension>
      
      <extension
            point="org.eclipse.ui.commandImages">
            
            <image
               commandId="org.polarsys.capella.core.transfo.commands.actions.accelerator.GenerateInterfacesAction"
               icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif">
         </image>
      </extension>
      
      <extension
            point="org.eclipse.ui.menus">
            
         <menuContribution allPopups="true"
            locationURI="popup:org.polarsys.capella.core.accelerators?after=additions">
             <command  commandId="org.polarsys.capella.core.transfo.commands.actions.accelerator.GenerateInterfacesAction" >
         <visibleWhen checkEnabled="false">
            <with variable="selection">
                <iterate ifEmpty="false">
                        <test
			                  forcePluginActivation="true"
			                  property="org.polarsys.capella.core.platform.sirius.ui.projectionMode"
			                  value="generateInterfaces">
			            </test>
                </iterate>
            </with>
         </visibleWhen> 
         </command> 
         
         
         </menuContribution>
      </extension>
</plugin>
