<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
  Copyright (c) 2006, 2019 THALES GLOBAL SERVICES.
  
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0
  
  SPDX-License-Identifier: EPL-2.0

  Contributors:
       Thales - initial API and implementation
-->
<plugin>

   <extension
         point="org.polarsys.capella.core.validation.ui.ide.capellaQuickFix">
      <resolver
            class="org.polarsys.capella.core.re.ui.quickfix.resolver.DCON_02_Resolver"
            desc="%quickFix.DCON_02.desc"
            icon="icons/goto_16.png"
            label="%quickFix.DCON_02.label">
         <rules
               ruleId="DCON_02">
         </rules>
      </resolver>
      
      <resolver
            class="org.polarsys.capella.core.re.ui.quickfix.resolver.DCON_04_Resolver"
            desc="%quickFix.DCON_04.desc"
            icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif"
            label="%quickFix.DCON_04.label">
         <rules
               ruleId="DCON_04">
         </rules>
      </resolver>
      
      <resolver
            class="org.polarsys.capella.core.re.ui.quickfix.resolver.DeleteGivenElement"
            desc="%quickFix.DCON_05.desc"
            icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_delete.gif"
            label="%quickFix.DCON_05.label">
         <rules
               ruleId="DCON_05">
         </rules>
      </resolver>
      
      <resolver
            class="org.polarsys.capella.core.re.ui.quickfix.resolver.DCON_06_Resolver"
            desc="%quickFix.DCON_06.desc"
            icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif"
            label="%quickFix.DCON_06.label">
         <rules
               ruleId="DCON_06">
         </rules>
      </resolver>
      
      <resolver
            class="org.polarsys.capella.core.re.ui.quickfix.resolver.DeleteGivenElement"
            desc="%quickFix.DCON_07.desc"
            icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_delete.gif"
            label="%quickFix.DCON_07.label">
         <rules
               ruleId="DCON_07">
         </rules>
      </resolver>
      <resolver
            class="org.polarsys.capella.core.re.ui.quickfix.resolver.DeleteGivenElement"
            desc="%quickFix.DCON_08.desc"
            icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_delete.gif"
            label="%quickFix.DCON_08.label">
         <rules
               ruleId="DCON_08">
         </rules>
      </resolver>
      <resolver
            class="org.polarsys.capella.core.re.ui.quickfix.resolver.DeleteGivenElement"
            desc="%quickFix.I_43_Delete.desc"
            icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_delete.gif"
            label="%quickFix.I_43_Delete.label">
         <rules
               ruleId="I_43">
         </rules>
      </resolver>
      <resolver
            class="org.polarsys.capella.core.re.ui.quickfix.resolver.I_43_Replace"
            desc="%quickFix.I_43_Replace.desc"
            icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif"
            label="%quickFix.I_43_Replace.label">
         <rules
               ruleId="I_43">
         </rules>
      </resolver>
   </extension>
</plugin>
