<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
  Copyright (c) 2006, 2015 THALES GLOBAL SERVICES.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html

  Contributors:
       Thales - initial API and implementation
-->
<plugin>
  <extension point="org.polarsys.capella.common.queries.query">
    <querySpecification queryIdentifier="GetABShowHideActor">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.GetABShowHideActor" />
    </querySpecification>
    <querySpecification extendedQueryIdentifier="GetCCEIInsertInterface" queryIdentifier="GetCCEIInsertInterfaceForLib">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.csServices.GetCCEIInsertInterfaceForLib" />
    </querySpecification>
    <querySpecification extendedQueryIdentifier="GetAllDataPkgs" queryIdentifier="GetAllDataPkgsForLib">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.GenericGetForLibWithCorrespondingArchitectureElement" />
    </querySpecification>
    <querySpecification extendedQueryIdentifier="GetAllDataTypes" queryIdentifier="GetAllDataTypesForLib">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.GenericGetForLibWithCorrespondingArchitectureElement" />
    </querySpecification>
    <querySpecification extendedQueryIdentifier="GetAllClasses" queryIdentifier="GetAllClassesForLib">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.GenericGetForLibWithCorrespondingArchitectureElement" />
    </querySpecification>
    <querySpecification extendedQueryIdentifier="GetAllCollections" queryIdentifier="GetAllCollectionsForLib">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.GenericGetForLibWithCorrespondingArchitectureElement" />
    </querySpecification>
    <querySpecification extendedQueryIdentifier="GetDataValues" queryIdentifier="GetDataValuesForLib">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.GenericGetForLibWithCorrespondingArchitectureElement" />
    </querySpecification>
    <querySpecification extendedQueryIdentifier="GetAllInterfaces" queryIdentifier="GetAllInterfacesForLib">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.GenericGetForLibWithCorrespondingArchitectureElement" />
    </querySpecification>
    <querySpecification extendedQueryIdentifier="GetAllInterfacePcks" queryIdentifier="GetAllInterfacePcksForLib">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.GenericGetForLibWithCorrespondingArchitectureElement" />
    </querySpecification>
    <querySpecification extendedQueryIdentifier="GetAllExchangeItems" queryIdentifier="GetAllExchangeItemsForLib">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.GenericGetForLibWithCorrespondingArchitectureElement" />
    </querySpecification>
    <querySpecification extendedQueryIdentifier="GetAvailableArchitectures" queryIdentifier="GetAvailableArchitecturesForLib">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.GenericGetForLibWithCorrespondingArchitectureElement" />
    </querySpecification>
    <querySpecification extendedQueryIdentifier="GetAvailable_ComponentPort_ProvidedInterfaces" queryIdentifier="GetAvailable_ComponentPort_ProvidedInterfaces__Lib">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.GenericGetForLibWithCorrespondingArchitectureElementAndParameter" />
    </querySpecification>
    <querySpecification extendedQueryIdentifier="GetAvailable_ComponentPort_RequiredInterfaces" queryIdentifier="GetAvailable_ComponentPort_RequiredInterfaces__Lib">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.GenericGetForLibWithCorrespondingArchitectureElementAndParameter" />
    </querySpecification>
    <querySpecification extendedQueryIdentifier="GetAvailable_LogicalComponent_ImplementedInterfaces" queryIdentifier="GetAvailable_LogicalComponent_ImplementedInterfaces__Lib">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.GenericGetForLibWithCorrespondingArchitectureElementAndParameter" />
    </querySpecification>
    <querySpecification extendedQueryIdentifier="GetAvailable_LogicalComponent_UsedInterfaces" queryIdentifier="GetAvailable_LogicalComponent_UsedInterfaces__Lib">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.GenericGetForLibWithCorrespondingArchitectureElementAndParameter" />
    </querySpecification>
    <querySpecification extendedQueryIdentifier="GetAvailable_FunctionalExchangeItems" queryIdentifier="GetAvailable_FunctionalExchangeItems__Lib">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.GenericGetForLibWithCorrespondingArchitectureElement" />
    </querySpecification>
    <querySpecification extendedQueryIdentifier="GetAvailable_PhysicalActor_FunctionalAllocation" queryIdentifier="GetAvailable_PhysicalActor_FunctionalAllocation__Lib">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.GenericGetForLibWithCorrespondingArchitectureElement" />
    </querySpecification>
    <querySpecification extendedQueryIdentifier="GetAvailable_PhysicalComponent_FunctionalAllocation" queryIdentifier="GetAvailable_PhysicalComponent_FunctionalAllocation__Lib">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.GenericGetForLibWithCorrespondingArchitectureElement" />
    </querySpecification>
    <querySpecification extendedQueryIdentifier="GetAvailable_LogicalActor_FunctionalAllocation" queryIdentifier="GetAvailable_LogicalActor_FunctionalAllocation__Lib">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.GenericGetForLibWithCorrespondingArchitectureElement" />
    </querySpecification>
    <querySpecification extendedQueryIdentifier="GetAvailable_Actor_FunctionalAllocation" queryIdentifier="GetAvailable_Actor_FunctionalAllocation__Lib">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.GenericGetForLibWithCorrespondingArchitectureElement" />
    </querySpecification>
    <querySpecification extendedQueryIdentifier="GetAvailable_System_FunctionalAllocation" queryIdentifier="GetAvailable_System_FunctionalAllocation__Lib">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.GenericGetForLibWithCorrespondingArchitectureElement" />
    </querySpecification>
    <querySpecification extendedQueryIdentifier="GetAvailable_Entity_AllocatedActivities" queryIdentifier="GetAvailable_Entity_AllocatedActivities__Lib">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.GenericGetForLibWithCorrespondingArchitectureElement" />
    </querySpecification>
    <querySpecification extendedQueryIdentifier="GetAvailable_FunctionalExchange_FunctionalExchangeRealizations" queryIdentifier="GetAvailable_FunctionalExchange_FunctionalExchangeRealizations__Lib">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.GenericGetForLibWithCorrespondingArchitectureElement" />
    </querySpecification>
    <querySpecification extendedQueryIdentifier="GetAvailable_FunctionalExchange_ExchangeItems" queryIdentifier="GetAvailable_FunctionalExchange_ExchangeItems__Lib">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.GenericGetForLibWithCorrespondingArchitectureElement" />
    </querySpecification>
    <querySpecification extendedQueryIdentifier="GetAvailable_FunctionInputPort_InComingExchangeItems" queryIdentifier="GetAvailable_FunctionInputPort_InComingExchangeItems__Lib">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.GenericGetForLibWithCorrespondingArchitectureElement" />
    </querySpecification>
    <querySpecification extendedQueryIdentifier="GetAvailable_FunctionOutputPort_OutGoingExchangeItems" queryIdentifier="GetAvailable_FunctionOutputPort_OutGoingExchangeItems__Lib">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.GenericGetForLibWithCorrespondingArchitectureElement" />
    </querySpecification>
    <querySpecification extendedQueryIdentifier="GetAvailable_Interface_InheritedInterfaces" queryIdentifier="GetAvailable_Interface_InheritedInterfaces__Lib">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.cs.GetAvailable_Interface_InheritedInterfaces__Lib" />
    </querySpecification>
    <querySpecification extendedQueryIdentifier="GetAvailable_Interface_ExchangeItems" queryIdentifier="GetAvailable_Interface_ExchangeItems__Lib">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.GenericGetForLibWithCorrespondingArchitectureElement" />
    </querySpecification>
    <querySpecification extendedQueryIdentifier="GetCCIIInsertComponent" queryIdentifier="GetCCIIInsertComponent__Lib">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.GenericGetForLibWithCorrespondingArchitectureElement" />
    </querySpecification>
    <querySpecification extendedQueryIdentifier="GetABInsertActor" queryIdentifier="GetABInsertActor__Lib">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.csServices.GetABInsertActor__Lib" />
    </querySpecification>
    <querySpecification queryIdentifier="GetAvailable_Class_InheritedClasses__Lib" extendedQueryIdentifier="GetAvailable_Class_InheritedClasses">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.information.GetAvailable_Class_InheritedClasses__Lib" />
    </querySpecification>
    <querySpecification queryIdentifier="GetAvailable_PhysicalComp_UsedInterface__Lib" extendedQueryIdentifier="GetAvailable_PhysicalComp_UsedInterface">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.pa.GetAvailable_PhysicalComp_UsedInterface__Lib" />
    </querySpecification>
    <querySpecification queryIdentifier="GetAvailable_PhysicalComp_ImplementedInterface__Lib" extendedQueryIdentifier="GetAvailable_PhysicalComp_ImplementedInterface">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.pa.GetAvailable_PhysicalComp_ImplementedInterface__Lib" />
    </querySpecification>
    <querySpecification queryIdentifier="GetAvailable_System_ImplementedInterfaces__Lib" extendedQueryIdentifier="GetAvailable_System_ImplementedInterfaces">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.ctx.GetAvailable_System_ImplementedInterfaces__Lib" />
    </querySpecification>
    <querySpecification queryIdentifier="GetAvailable_System_UsedInterfaces__Lib" extendedQueryIdentifier="GetAvailable_System_UsedInterfaces">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.ctx.GetAvailable_System_UsedInterfaces__Lib" />
    </querySpecification>
    <querySpecification queryIdentifier="GetAvailable_Actor_ImplementedInterfaces__Lib" extendedQueryIdentifier="GetAvailable_Actor_ImplementedInterfaces">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.ctx.GetAvailable_Actor_ImplementedInterfaces__Lib" />
    </querySpecification>
    <querySpecification queryIdentifier="GetAvailable_Actor_UsedInterfaces__Lib" extendedQueryIdentifier="GetAvailable_Actor_UsedInterfaces">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.ctx.GetAvailable_Actor_UsedInterfaces__Lib" />
    </querySpecification>
    <querySpecification queryIdentifier="GetAvailable_LogicalActor_ImplInterfaces__Lib" extendedQueryIdentifier="GetAvailable_LogicalActor_ImplInterfaces">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.la.GetAvailable_LogicalActor_ImplInterfaces__Lib" />
    </querySpecification>
    <querySpecification queryIdentifier="GetAvailable_LogicalActor_UsedInterfaces__Lib" extendedQueryIdentifier="GetAvailable_LogicalActor_UsedInterfaces">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.la.GetAvailable_LogicalActor_UsedInterfaces__Lib" />
    </querySpecification>
    <querySpecification queryIdentifier="GetAvailable_PhysicalActor_ImplementedInterfaces__Lib" extendedQueryIdentifier="GetAvailable_PhysicalActor_ImplementedInterfaces">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.pa.GetAvailable_PhysicalActor_ImplementedInterfaces__Lib" />
    </querySpecification>
    <querySpecification queryIdentifier="GetAvailable_PhysicalActor_UsedInterfaces__Lib" extendedQueryIdentifier="GetAvailable_PhysicalActor_UsedInterfaces">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.pa.GetAvailable_PhysicalActor_UsedInterfaces__Lib" />
    </querySpecification>
    <querySpecification queryIdentifier="GetAvailable_ConfigurationItem_ImplementedInterfaces__Lib" extendedQueryIdentifier="GetAvailable_ConfigurationItem_ImplementedInterfaces">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.epbs.GetAvailable_ConfigurationItem_ImplementedInterfaces__Lib" />
    </querySpecification>
    <querySpecification queryIdentifier="GetAvailable_ConfigurationItem_UsedInterfaces__Lib" extendedQueryIdentifier="GetAvailable_ConfigurationItem_UsedInterfaces">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.epbs.GetAvailable_ConfigurationItem_UsedInterfaces__Lib" />
    </querySpecification>
    <querySpecification queryIdentifier="GetAvailable_StateTransitionTrigger__Lib" extendedQueryIdentifier="GetAvailable_StateTransitionTrigger">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.GenericGetForLibWithCorrespondingArchitectureElement" />
    </querySpecification>
    <querySpecification queryIdentifier="GetAvailable_StateTransitionEffect__Lib" extendedQueryIdentifier="GetAvailable_StateTransitionEffect">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.GenericGetForLibWithCorrespondingArchitectureElement" />
    </querySpecification>
    <querySpecification queryIdentifier="GetAvailable_Part_Type__Lib" extendedQueryIdentifier="GetAvailable_Part_Type">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.cs.GetAvailable_Part_Type__Lib" />
    </querySpecification>
    <querySpecification queryIdentifier="GetAvailable_ExchangeItemElement_Type__Lib" extendedQueryIdentifier="GetAvailable_ExchangeItemElement_Type">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.information.GetAvailable_ExchangeItemElement_Type__Lib" />
    </querySpecification>
    <querySpecification queryIdentifier="GetAvailable_NumericType_InheritedNumericType__Lib" extendedQueryIdentifier="GetAvailable_NumericType_InheritedNumericType">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.information.GetAvailable_NumericType_InheritedNumericType__Lib" />
    </querySpecification>
    <querySpecification queryIdentifier="GetAvailable_PhysicalQuantity_InheritedType__Lib" extendedQueryIdentifier="GetAvailable_PhysicalQuantity_InheritedType">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.information.GetAvailable_PhysicalQuantity_InheritedType__Lib" />
    </querySpecification>
    <querySpecification queryIdentifier="GetAvailable_PhysicalQuantity_Unit__Lib" extendedQueryIdentifier="GetAvailable_PhysicalQuantity_Unit">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.information.GetAvailable_PhysicalQuantity_Unit__Lib" />
    </querySpecification>
    <querySpecification queryIdentifier="GetAvailable_Property_Type__Lib" extendedQueryIdentifier="GetAvailable_Property_Type">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.information.GetAvailable_Property_Type__Lib" />
    </querySpecification>
    <querySpecification queryIdentifier="GetAvailable_Collection_Type__Lib" extendedQueryIdentifier="GetAvailable_Collection_Type">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.information.GetAvailable_Collection_Type__Lib" />
    </querySpecification>
    <querySpecification queryIdentifier="GetAvailable_Collection_InheritedCollection__Lib" extendedQueryIdentifier="GetAvailable_Collection_InheritedCollection">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.information.GetAvailable_Collection_InheritedCollection__Lib" />
    </querySpecification>
    <querySpecification queryIdentifier="GetAvailable_CommunicationLink_ExchangeItem__Lib" extendedQueryIdentifier="GetAvailable_CommunicationLink_ExchangeItem">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.GenericGetForLibWithCorrespondingArchitectureElement" />
    </querySpecification>
    <querySpecification queryIdentifier="GetAvailable_BooleanType_InheritedBooleanType__Lib" extendedQueryIdentifier="GetAvailable_BooleanType_InheritedBooleanType">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.information.GetAvailable_BooleanType_InheritedBooleanType__Lib" />
    </querySpecification>
    <querySpecification queryIdentifier="GetAvailable_Enumeration_InheritedEnumeration__Lib" extendedQueryIdentifier="GetAvailable_Enumeration_InheritedEnumeration">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.information.GetAvailable_Enumeration_InheritedEnumeration__Lib" />
    </querySpecification>
    <querySpecification queryIdentifier="GetAvailable_SequenceMessage_ServiceInterface__Lib" extendedQueryIdentifier="GetAvailable_SequenceMessage_ServiceInterface">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.GenericGetForLibWithCorrespondingArchitectureElement" />
    </querySpecification>
    <querySpecification queryIdentifier="GetAvailable_InstanceRole_RepresentedInstance__Lib" extendedQueryIdentifier="GetAvailable_InstanceRole_RepresentedInstance">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.interaction.GetAvailable_InstanceRole_RepresentedInstance__Lib" />
    </querySpecification>
    <querySpecification queryIdentifier="GetCCEIShowHideComponent__Lib" extendedQueryIdentifier="GetBrotherComponents">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.csServices.GetCCEIShowHideComponent__Lib" />
    </querySpecification>
    <querySpecification queryIdentifier="GetIBShowHideComponent__Lib" extendedQueryIdentifier="GetIBShowHideComponent">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.csServices.GetIBShowHideComponent__Lib" />
    </querySpecification>
    <querySpecification queryIdentifier="GetAvailable_Part_DeployedElements__Lib" extendedQueryIdentifier="GetAvailable_Part_DeployedElements">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.cs.GetAvailable_Part_DeployedElements__Lib" />
    </querySpecification>
    <querySpecification queryIdentifier="GetAvailable_Connection_ConvoyedInformation__Lib" extendedQueryIdentifier="GetAvailable_Connection_ConvoyedInformation">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.GenericGetForLibWithCorrespondingArchitectureElement" />
    </querySpecification>
    <querySpecification queryIdentifier="GetAvailable_LiteralNumericValue_AbstractType__Lib" extendedQueryIdentifier="GetAvailable_LiteralNumericValue_AbstractType">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.GenericGetForLibWithCorrespondingArchitectureElement" />
    </querySpecification>
    <querySpecification queryIdentifier="GetAvailable_LiteralStringValue_AbstractType__Lib" extendedQueryIdentifier="GetAvailable_LiteralStringValue_AbstractType">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.GenericGetForLibWithCorrespondingArchitectureElement" />
    </querySpecification>
    <querySpecification queryIdentifier="GetAvailable_Enumeration_DomainType__Lib" extendedQueryIdentifier="GetAvailable_Enumeration_DomainType">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.GenericGetForLibWithCorrespondingArchitectureElement" />
    </querySpecification>
    <querySpecification queryIdentifier="GetAvailable_Property_MinCardinality__Lib" extendedQueryIdentifier="GetAvailable_Property_MinCardinality">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.GenericGetForLibWithCorrespondingArchitectureElement" />
    </querySpecification>
    <querySpecification queryIdentifier="GetAvailable_Property_MaxCardinality__Lib" extendedQueryIdentifier="GetAvailable_Property_MaxCardinality">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.GenericGetForLibWithCorrespondingArchitectureElement" />
    </querySpecification>
    <querySpecification queryIdentifier="GetAvailable_BooleanType_DefaultValue__Lib" extendedQueryIdentifier="GetAvailable_BooleanType_DefaultValue">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.information.GetAvailable_BooleanType_DefaultValue__Lib" />
    </querySpecification>
    <querySpecification queryIdentifier="GetAvailable_EnumerationReference_ReferencedValue__Lib" extendedQueryIdentifier="GetAvailable_EnumerationReference_ReferencedValue">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.GenericGetForLibWithCorrespondingArchitectureElement" />
    </querySpecification>
    <querySpecification queryIdentifier="GetAvailable_NumericReference_ReferencedValue__Lib" extendedQueryIdentifier="GetAvailable_NumericReference_ReferencedValue">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.GenericGetForLibWithCorrespondingArchitectureElement" />
    </querySpecification>
    <querySpecification queryIdentifier="GetAvailable_NumericType_DefaultValue__Lib" extendedQueryIdentifier="GetAvailable_NumericType_DefaultValue">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.information.GetAvailable_NumericType_DefaultValue__Lib" />
    </querySpecification>
    <querySpecification queryIdentifier="GetAvailable_StringReference_ReferencedValue__Lib" extendedQueryIdentifier="GetAvailable_StringReference_ReferencedValue">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.GenericGetForLibWithCorrespondingArchitectureElement" />
    </querySpecification>
    <querySpecification queryIdentifier="GetAvailable_StringType_DefaultValue__Lib" extendedQueryIdentifier="GetAvailable_StringType_DefaultValue">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.information.GetAvailable_StringType_DefaultValue__Lib" />
    </querySpecification>
    <querySpecification queryIdentifier="GetAvailable_BinaryExpression_LeftOperand__Lib" extendedQueryIdentifier="GetAvailable_BinaryExpression_LeftOperand">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.GenericGetForLibWithCorrespondingArchitectureElement" />
    </querySpecification>
    <querySpecification queryIdentifier="GetAvailable_BinaryExpression_RightOperand__Lib" extendedQueryIdentifier="GetAvailable_BinaryExpression_RightOperand">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.GenericGetForLibWithCorrespondingArchitectureElement" />
    </querySpecification>
    <querySpecification queryIdentifier="GetAvailable_UnaryExpression_Operand__Lib" extendedQueryIdentifier="GetAvailable_UnaryExpression_Operand">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.GenericGetForLibWithCorrespondingArchitectureElement" />
    </querySpecification>
    <querySpecification queryIdentifier="GetAvailable_BooleanReference_ReferencedProperty__Lib" extendedQueryIdentifier="GetAvailable_BooleanReference_ReferencedProperty">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.GenericGetForLibWithCorrespondingArchitectureElement" />
    </querySpecification>
    <querySpecification queryIdentifier="GetAvailable_CollectionValue_Type__Lib" extendedQueryIdentifier="GetAvailable_CollectionValue_Type">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.GenericGetForLibWithCorrespondingArchitectureElement" />
    </querySpecification>
    <querySpecification queryIdentifier="GetAvailable_CollectionValueReferenceType__Lib" extendedQueryIdentifier="GetAvailable_CollectionValueReferenceType">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.GenericGetForLibWithCorrespondingArchitectureElement" />
    </querySpecification>
    <querySpecification queryIdentifier="GetAvailable_CollectionValueRefReferencedValue__Lib" extendedQueryIdentifier="GetAvailable_CollectionValueRefReferencedValue">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.GenericGetForLibWithCorrespondingArchitectureElement" />
    </querySpecification>
    <querySpecification queryIdentifier="GetAvailable_CollectionValueRefReferencedProperty__Lib" extendedQueryIdentifier="GetAvailable_CollectionValueRefReferencedProperty">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.GenericGetForLibWithCorrespondingArchitectureElement" />
    </querySpecification>
    <querySpecification queryIdentifier="GetAvailable_EnumerationReference_ReferencedProperty__Lib" extendedQueryIdentifier="GetAvailable_EnumerationReference_ReferencedProperty">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.GenericGetForLibWithCorrespondingArchitectureElement" />
    </querySpecification>
    <querySpecification queryIdentifier="GetAvailable_NumericReference_ReferencedProperty__Lib" extendedQueryIdentifier="GetAvailable_NumericReference_ReferencedProperty">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.GenericGetForLibWithCorrespondingArchitectureElement" />
    </querySpecification>
    <querySpecification queryIdentifier="GetAvailable_StringReference_ReferencedProperty__Lib" extendedQueryIdentifier="GetAvailable_StringReference_ReferencedProperty">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.GenericGetForLibWithCorrespondingArchitectureElement" />
    </querySpecification>
    <querySpecification queryIdentifier="GetAvailable_ComplexValue_Type__Lib" extendedQueryIdentifier="GetAvailable_ComplexValue_Type">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.GenericGetForLibWithCorrespondingArchitectureElement" />
    </querySpecification>
    <querySpecification queryIdentifier="GetAvailable_ComplexValueReferenceType__Lib" extendedQueryIdentifier="GetAvailable_ComplexValueReferenceType">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.GenericGetForLibWithCorrespondingArchitectureElement" />
    </querySpecification>
    <querySpecification queryIdentifier="GetAvailable_ComplexValueRefReferencedProperty__Lib" extendedQueryIdentifier="GetAvailable_ComplexValueRefReferencedProperty">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.GenericGetForLibWithCorrespondingArchitectureElement" />
    </querySpecification>
    <querySpecification queryIdentifier="GetAvailable_ComplexValueRefReferencedValue__Lib" extendedQueryIdentifier="GetAvailable_ComplexValueRefReferencedValue">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.GenericGetForLibWithCorrespondingArchitectureElement" />
    </querySpecification>
    <querySpecification queryIdentifier="GetAvailable_Generic_ReferencedValue__Lib" extendedQueryIdentifier="GetAvailable_Generic_ReferencedValue">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.information.GetAvailable_Generic_ReferencedValue__Lib" />
    </querySpecification>
    <querySpecification queryIdentifier="GetAvailable_AbstractExpressionValue_Type__Lib" extendedQueryIdentifier="GetAvailable_AbstractExpressionValue_Type">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.GenericGetForLibWithCorrespondingArchitectureElement" />
    </querySpecification>
    <querySpecification queryIdentifier="GetAvailable_DataValue_AbstractType__Lib" extendedQueryIdentifier="GetAvailable_DataValue_AbstractType">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.information.GetAvailable_DataValue_AbstractType__Lib" />
    </querySpecification>
    <querySpecification queryIdentifier="GetAvailable_NumericValue_Unit__Lib" extendedQueryIdentifier="GetAvailable_NumericValue_Unit">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.information.GetAvailable_NumericValue_Unit__Lib" />
    </querySpecification>
    <querySpecification queryIdentifier="GetAvailable_Generic_ReferencedProperty__Lib" extendedQueryIdentifier="GetAvailable_Generic_ReferencedProperty">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.information.GetAvailable_Generic_ReferencedProperty__Lib" />
    </querySpecification>
    <querySpecification queryIdentifier="GetAvailable_AbstractExpressionValue_Operand__Lib" extendedQueryIdentifier="GetAvailable_AbstractExpressionValue_Operand">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.information.GetAvailable_AbstractExpressionValue_Operand__Lib" />
    </querySpecification>            
    <querySpecification queryIdentifier="GetAvailable_Property_NullValue__Lib" extendedQueryIdentifier="GetAvailable_Property_NullValue">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.information.GetAvailable_Property_NullValue__Lib" />
    </querySpecification>
    <querySpecification queryIdentifier="GetAvailable_NumericType_NullValue__Lib" extendedQueryIdentifier="GetAvailable_NumericType_NullValue">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.information.GetAvailable_NumericType_NullValue__Lib" />
    </querySpecification>
    <querySpecification queryIdentifier="GetAvailable_StringType_NullValue__Lib" extendedQueryIdentifier="GetAvailable_StringType_NullValue">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.information.GetAvailable_StringType_NullValue__Lib" />
    </querySpecification>
    <querySpecification queryIdentifier="GetAvailable_Property_Cardinality__Lib" extendedQueryIdentifier="GetAvailable_Property_Cardinality">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.information.GetAvailable_Property_Cardinality__Lib" />
    </querySpecification>
    <querySpecification queryIdentifier="GetCCIIShowHideComponent__Lib" extendedQueryIdentifier="GetCCIIShowHideComponent">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.csServices.GetCCIIShowHideComponent__Lib" />
    </querySpecification>        
    <querySpecification extendedQueryIdentifier="GetCCEIShowHideActors" queryIdentifier="GetCCEIShowHideActors__Lib">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.csServices.GetCCEIShowHideActors__Lib" />
    </querySpecification>
    <querySpecification extendedQueryIdentifier="GetISScopeInsertActors" queryIdentifier="GetISScopeInsertActors__Lib">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.interactionServices.GetISScopeInsertActors__Lib" />
    </querySpecification>
    <querySpecification extendedQueryIdentifier="GetISScopeInsertComponents" queryIdentifier="GetISScopeInsertComponents__Lib">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.interactionServices.GetISScopeInsertComponents__Lib" />
    </querySpecification>
    <querySpecification queryIdentifier="GetAvailable_EnumerationLiteralDomainValue__Lib" extendedQueryIdentifier="GetAvailable_EnumerationLiteralDomainValue">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.information.GetAvailable_EnumerationLiteralDomainValue__Lib" />
    </querySpecification>
    <querySpecification queryIdentifier="GetAvailable_LogicalActor_InheritedActors__Lib" extendedQueryIdentifier="GetAvailable_LogicalActor_InheritedActors">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.la.GetAvailable_LogicalActor_InheritedActors__Lib" />
    </querySpecification>
    <querySpecification queryIdentifier="GetAvailable_PhysicalActor_InheritedActors__Lib" extendedQueryIdentifier="GetAvailable_PhysicalActor_InheritedActors">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.pa.GetAvailable_PhysicalActor_InheritedActors__Lib" />
    </querySpecification>            
    <querySpecification extendedQueryIdentifier="GetAllRealizablePhysicalArtefacts" queryIdentifier="GetAllRealizablePhysicalArtefacts__Lib">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.GenericGetForLibWithCorrespondingArchitectureElement" />
    </querySpecification>    
    <querySpecification queryIdentifier="GetAvailable_Enumeration_DefaultValue__Lib" extendedQueryIdentifier="GetAvailable_Enumeration_DefaultValue">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.information.GetAvailable_Enumeration_DefaultValue__Lib" />
    </querySpecification>
    <querySpecification queryIdentifier="GetAvailable_ExchangeItem_InheritedExchangeItem__Lib" extendedQueryIdentifier="GetAvailable_ExchangeItem_InheritedExchangeItem">
      <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.GenericGetForLibWithCorrespondingArchitectureElement" />
    </querySpecification>
    <querySpecification extendedQueryIdentifier="GetAvailable_AbstractStateProperties"
          queryIdentifier="GetAvailable_AbstractStateProperties__Lib">
       <queryAlgorithm algorithm="org.polarsys.capella.core.libraries.extendedqueries.capellacommon.GetAvailable_AbstractStateProperties__Lib">
       </queryAlgorithm>
    </querySpecification>    
  </extension>
</plugin>
