<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
  Copyright (c) 2006, 2015 THALES GLOBAL SERVICES.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html

  Contributors:
       Thales - initial API and implementation
-->
<plugin>
   <extension-point id="org.polarsys.capella.common.libraries.providers" name="org.polarsys.capella.common.libraries.providers" schema="schema/providers.exsd"/>
   <extension
         point="org.polarsys.capella.common.ef.editingDomainListener">
      <editingDomainListener
            class="org.polarsys.capella.common.libraries.manager.LibraryEditingDomainListener">
      </editingDomainListener>
   </extension>

</plugin>
