/FunctionalExchange__allocatingComponentExchanges.java
/FunctionalExchange__categories.java
/FunctionalExchange__incomingComponentExchangeFunctionalExchangeRealizations.java
/FunctionalExchange__incomingFunctionalExchangeRealizations.java
/FunctionalExchange__involvingFunctionalChains.java
/FunctionalExchange__outgoingFunctionalExchangeRealizations.java
/FunctionalExchange__sourceFunctionOutputPort.java
/FunctionalExchange__targetFunctionInputPort.java
/ComponentExchangeAllocation.java
/ComponentExchangeAllocation__componentExchangeAllocated.java
/ComponentExchangeAllocation__componentExchangeAllocator.java
/ComponentExchangeFunctionalExchangeAllocation.java
/ComponentExchangeFunctionalExchangeAllocation__allocatedFunctionalExchange.java
/ComponentExchangeFunctionalExchangeAllocation__allocatingComponentExchange.java
/FunctionInputPort.java
/FunctionInputPort__incomingFunctionalExchanges.java
/FunctionOutputPort.java
/FunctionOutputPort__outgoingFunctionalExchanges.java
/FunctionRealization.java
/FunctionRealization__allocatedFunction.java
/FunctionRealization__allocatingFunction.java
/ComponentPortAllocation__allocatedPort.java
/ComponentPortAllocation__allocatingPort.java
/ComponentPortAllocationEnd.java
/ComponentPortAllocationEnd__owningComponentPortAllocation.java
/ExchangeLink.java
/ExchangeLink__exchanges.java
/FunctionSpecification.java
/FunctionSpecification__subFunctionSpecifications.java
/FunctionalExchangeRealization.java
/FunctionalExchangeRealization__realizedFunctionalExchange.java
/FunctionalExchangeRealization__realizingFunctionalExchange.java
/FunctionalChain__involvedFunctionalChainInvolvements.java
/FunctionalChain__involvedFunctions.java
/FunctionalChain__involvedFunctionalExchanges.java
/FunctionalChainInvolvement.java
/FunctionalChainInvolvement__involvedElement.java
/FunctionalChainInvolvement__previousFunctionalChainInvolvements.java
/FunctionalChainInvolvement_nextFunctionalChainInvolvements.java
/FunctionalChain__enactedFunctionalBlocks.java
/FunctionalChain__enactedFunctions.java
/FunctionalChain__firstFunctionalChainInvolvements.java
/FunctionalChain__involvedElements.java
/FunctionalChain__involvingCapabilities.java
/ComponentPortAllocation.java
/FunctionalChainReference.java
/FunctionalChainReference__referencedFunctionalChain.java
/ComponentExchange.java
/ComponentExchange__allocatedFunctionalExchanges.java
/ComponentExchange__allocatorPhysicalLinks.java
/ComponentExchange__categories.java
/ComponentExchange__incomingComponentExchangeRealizations.java
/ComponentExchange__outgoingComponentExchangeFunctionalExchangeAllocations.java
/ComponentExchange__outgoingComponentExchangeRealizations.java
/ComponentExchange__realizedComponentExchanges.java
/ComponentExchange__realizingComponentExchanges.java
/ComponentExchange__sourcePart.java
/ComponentExchange__sourcePort.java
/ComponentExchange__targetPart.java
/ComponentExchange__targetPort.java
/ComponentPort__allocatedFunctionPorts.java
/ComponentPort__componentExchanges.java
/ComponentPort__delegatedComponentPorts.java
/ComponentPort__delegatingComponentPorts.java
/ComponentPort__allocatingPhysicalPorts.java
/AbstractFunction__allocationBlocks.java
/AbstractFunction__componentFunctionalAllocations.java
/AbstractFunction__inFunctionRealizations.java
/AbstractFunction__outFunctionRealizations.java
/AbstractFunction__subFunctions.java
/ExchangeSpecificationRealization.java
/ExchangeSpecificationRealization__realizedExchangeSpecification.java
/ExchangeSpecificationRealization__realizingExchangeSpecification.java
/ComponentPort.java
/ComponentPort__realizedComponentPorts.java
/ComponentPort__realizingComponentPorts.java
/FunctionPort.java
/FunctionPort__allocatorComponentPorts.java
/FunctionPort__realizedFunctionPorts.java
/FunctionPort__realizingFunctionPorts.java
/ComponentExchangeRealization.java
/ComponentExchangeRealization__allocatedComponentExchange.java
/ComponentExchangeRealization__allocatingComponentExchange.java
/FunctionalExchangeSpecification.java
/FunctionalExchangeSpecification__functionalExchanges.java
/FunctionalChain.java
/FunctionalChain__involvingCapabilityRealizations.java
/FunctionalChain__realizedFunctionalChains.java
/FunctionalChain__realizingFunctionalChains.java
/ExchangeSpecification__containingLink.java
/AbstractFunction.java
/AbstractFunction__involvingCapabilityRealizations.java
/AbstractFunction__involvingFunctionalChains.java
/AbstractFunction__linkedFunctionSpecification.java
/AbstractFunction__linkedStateMachine.java
/ComponentFunctionalAllocation.java
/ComponentFunctionalAllocation__block.java
/ComponentFunctionalAllocation__function.java
/AbstractFunctionalBlock.java
/AbstractFunctionalBlock__allocatedFunctions.java
/AbstractFunctionalBlock__functionalAllocations.java
/ComponentExchangeAllocator.java
/ComponentExchangeAllocator__allocatedComponentExchanges.java
/ExchangeSpecification.java
/ExchangeSpecification__incomingExchangeSpecificationRealizations.java
/ExchangeSpecification__outgoingExchangeSpecificationRealizations.java
/FunctionalChainInvolvementFunction.java
/FunctionalChainInvolvementFunction__incomingInvolvementLinks.java
/FunctionalChainInvolvementFunction__outgoingInvolvementLinks.java
/FunctionalExchange.java
/FunctionalExchange__realizedFunctionalExchanges.java
/FunctionalExchange__realizingFunctionalExchanges.java
