<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  Copyright (c) 2006, 2017 THALES GLOBAL SERVICES.
  
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0
  
  SPDX-License-Identifier: EPL-2.0

  Contributors:
       Thales - initial API and implementation
-->
<plugin>
   <extension-point id="fileModificationPreconditionChecker" name="File Modification Precondition Checker" schema="schema/fileModificationPreconditionChecker.exsd"/>
   <extension-point id="delegatedSemanticEditingDomainProviders" name="Delegated Semantic Editing Domain Providers" schema="schema/delegatedSemanticEditingDomainProviders.exsd"/>
   <extension-point id="delegatedCapellaResourceHelper" name="Delegated Capella Resource Helper" schema="schema/delegatedCapellaResourceHelper.exsd"/>
   <extension-point id="readOnlySectionHandler" name="Read Only Section Handler" schema="schema/readOnlySectionHandler.exsd"/>
   <extension-point id="diagnosticianProviders" name="diagnosticianProviders" schema="schema/diagnosticianProviders.exsd"/>
   <extension-point id="delegateWorkbenchAdvisor" name="Delegate Application Advisor" schema="schema/delegateWorkbenchAdvisor.exsd"/>
   <extension-point id="deleteCommandProvider" name="Delete Command Provider" schema="schema/deleteCommandProvider.exsd"/>
   <extension-point id="decoratorAdapterFactory" name="Decorator Adapter Factory" schema="schema/decoratorAdapterFactory.exsd"/>
   <extension
         point="org.polarsys.capella.common.platform.sirius.ted.semanticEditingDomainProviders">
      <semanticEditingDomainProviders
            class="org.polarsys.capella.core.model.handler.provider.CapellaSemanticEditingDomainProviders">
      </semanticEditingDomainProviders>
   </extension>
   <extension
         id="capellaEditingDomainFactoryId"
         name="Capella Editing Domain Factory"
         point="org.eclipse.sirius.common.editingDomainFactory">
      <editingDomainFactory
            class="org.polarsys.capella.common.platform.sirius.ted.SiriusEditingDomainProvider"
            override="org.eclipse.sirius.LocalSessionEditingDomainFactory">
      </editingDomainFactory>
   </extension>
   <extension
         point="org.polarsys.capella.common.ef.editingDomainListener">
      <editingDomainListener
            class="org.polarsys.capella.core.model.handler.post.commit.listener.ProxyResolutionResourceSetListener">
      </editingDomainListener>
   </extension>
   <extension
         point="org.eclipse.sirius.sessionManagerListener">
      <listener
            class="org.polarsys.capella.core.model.handler.internal.session.CapellaSessionListener">
      </listener>
   </extension>
</plugin>
