<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
  Copyright (c) 2006, 2014 THALES GLOBAL SERVICES.
  
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0
  
  SPDX-License-Identifier: EPL-2.0
  
  Contributors:
       Thales - initial API and implementation
-->
<plugin>
   <extension
         point="org.polarsys.kitalpha.model.detachment.ui.page">
      <page
            class="org.polarsys.capella.core.model.detachement.CapellaDetachmentFormPage"
            id="org.polarsys.capella.core.model.detachement.page"
            scrutinizeId="org.polarsys.capella.core.model.detachement.scrutiny"
            title="Capella Libraries">
      </page>
   </extension>
   <extension
         point="org.polarsys.kitalpha.model.common.scrutiny.scrutinize">
      <scrutiny
            id="org.polarsys.capella.core.model.detachement.scrutiny"
            name="org.polarsys.capella.core.model.detachement.scrutiny">
         <class
               scrutinize="org.polarsys.capella.core.model.detachement.CapellaLibrariesScrutinize">
         </class>
      </scrutiny>
   </extension>
   <extension
         point="org.polarsys.kitalpha.model.common.commands.definition">
      <command
            class="org.polarsys.capella.core.model.detachement.CapellaModelCommand"
            id="org.polarsys.capella.core.model.detachement.command"
            priority="1000.00"
            scrutinizeId="org.polarsys.capella.core.model.detachement.scrutiny"
            workflow="DETACHMENT">
      </command>
   </extension>

</plugin>
