<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  Copyright (c) 2006, 2020 THALES GLOBAL SERVICES.
  
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0
  
  SPDX-License-Identifier: EPL-2.0
  
  Contributors:
       Thales - initial API and implementation
-->
<plugin>
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections contributorId="org.polarsys.capella.core.data.capellamodeller.properties">
         <propertySection
               class="org.polarsys.capella.core.data.information.datavalue.properties.sections.BinaryExpressionSection"
               filter="org.polarsys.capella.core.data.information.datavalue.properties.sections.BinaryExpressionSection"
               id="org.polarsys.capella.core.data.information.datavalue.section.BinaryExpression"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.datavalue.properties.sections.BooleanReferenceSection"
               filter="org.polarsys.capella.core.data.information.datavalue.properties.sections.BooleanReferenceSection"
               id="org.polarsys.capella.core.data.information.datavalue.section.BooleanReference"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.datavalue.properties.sections.CollectionValueReferenceSection"
               filter="org.polarsys.capella.core.data.information.datavalue.properties.sections.CollectionValueReferenceSection"
               id="org.polarsys.capella.core.data.information.datavalue.section.CollectionValueReference"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.datavalue.properties.sections.CollectionValueSection"
               filter="org.polarsys.capella.core.data.information.datavalue.properties.sections.CollectionValueSection"
               id="org.polarsys.capella.core.data.information.datavalue.section.CollectionValue"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.datavalue.properties.sections.ComplexValueReferenceSection"
               filter="org.polarsys.capella.core.data.information.datavalue.properties.sections.ComplexValueReferenceSection"
               id="org.polarsys.capella.core.data.information.datavalue.section.ComplexValueReference"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.datavalue.properties.sections.ComplexValueSection"
               filter="org.polarsys.capella.core.data.information.datavalue.properties.sections.ComplexValueSection"
               id="org.polarsys.capella.core.data.information.datavalue.section.ComplexValue"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.datavalue.properties.sections.DataValueContainerSection"
               filter="org.polarsys.capella.core.data.information.datavalue.properties.sections.DataValueContainerSection"
               id="org.polarsys.capella.core.data.information.datavalue.section.DataValueContainer"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.datavalue.properties.sections.EnumerationLiteralSection"
               filter="org.polarsys.capella.core.data.information.datavalue.properties.sections.EnumerationLiteralSection"
               id="org.polarsys.capella.core.data.information.datavalue.section.EnumerationLiteral"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.datavalue.properties.sections.EnumerationReferenceSection"
               filter="org.polarsys.capella.core.data.information.datavalue.properties.sections.EnumerationReferenceSection"
               id="org.polarsys.capella.core.data.information.datavalue.section.EnumerationReference"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.datavalue.properties.sections.LiteralBooleanValueSection"
               filter="org.polarsys.capella.core.data.information.datavalue.properties.sections.LiteralBooleanValueSection"
               id="org.polarsys.capella.core.data.information.datavalue.section.LiteralBooleanValue"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.datavalue.properties.sections.LiteralNumericValueSection"
               filter="org.polarsys.capella.core.data.information.datavalue.properties.sections.LiteralNumericValueSection"
               id="org.polarsys.capella.core.data.information.datavalue.section.LiteralNumericValue"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.datavalue.properties.sections.LiteralStringValueSection"
               filter="org.polarsys.capella.core.data.information.datavalue.properties.sections.LiteralStringValueSection"
               id="org.polarsys.capella.core.data.information.datavalue.section.LiteralStringValue"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.datavalue.properties.sections.NumericReferenceSection"
               filter="org.polarsys.capella.core.data.information.datavalue.properties.sections.NumericReferenceSection"
               id="org.polarsys.capella.core.data.information.datavalue.section.NumericReference"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.datavalue.properties.sections.StringReferenceSection"
               filter="org.polarsys.capella.core.data.information.datavalue.properties.sections.StringReferenceSection"
               id="org.polarsys.capella.core.data.information.datavalue.section.StringReference"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.datavalue.properties.sections.UnaryExpressionSection"
               filter="org.polarsys.capella.core.data.information.datavalue.properties.sections.UnaryExpressionSection"
               id="org.polarsys.capella.core.data.information.datavalue.section.UnaryExpression"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.datavalue.properties.sections.ValuePartSection"
               filter="org.polarsys.capella.core.data.information.datavalue.properties.sections.ValuePartSection"
               id="org.polarsys.capella.core.data.information.datavalue.section.ValuePart"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.datavalue.properties.sections.OpaqueExpressionSection"
               filter="org.polarsys.capella.core.data.information.datavalue.properties.sections.OpaqueExpressionSection"
               id="org.polarsys.capella.core.data.information.datavalue.properties.OpaqueExpression"
               tab="BaseCapella">
         </propertySection>
      </propertySections>
   </extension>
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">      
	  <propertySections contributorId="org.eclipse.sirius.diagram.ui">
         <propertySection
               class="org.polarsys.capella.core.data.information.datavalue.properties.sections.BinaryExpressionSection"
               filter="org.polarsys.capella.core.data.information.datavalue.properties.sections.BinaryExpressionSection"
               id="org.polarsys.capella.core.data.information.datavalue.section.BinaryExpressionBasePropertySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.datavalue.properties.sections.BooleanReferenceSection"
               filter="org.polarsys.capella.core.data.information.datavalue.properties.sections.BooleanReferenceSection"
               id="org.polarsys.capella.core.data.information.datavalue.section.BooleanReferenceBasePropertySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.datavalue.properties.sections.CollectionValueReferenceSection"
               filter="org.polarsys.capella.core.data.information.datavalue.properties.sections.CollectionValueReferenceSection"
               id="org.polarsys.capella.core.data.information.datavalue.section.CollectionValueReferenceBasePropertySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.datavalue.properties.sections.CollectionValueSection"
               filter="org.polarsys.capella.core.data.information.datavalue.properties.sections.CollectionValueSection"
               id="org.polarsys.capella.core.data.information.datavalue.section.CollectionValueBasePropertySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.datavalue.properties.sections.ComplexValueReferenceSection"
               filter="org.polarsys.capella.core.data.information.datavalue.properties.sections.ComplexValueReferenceSection"
               id="org.polarsys.capella.core.data.information.datavalue.section.ComplexValueReferenceBasePropertySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.datavalue.properties.sections.ComplexValueSection"
               filter="org.polarsys.capella.core.data.information.datavalue.properties.sections.ComplexValueSection"
               id="org.polarsys.capella.core.data.information.datavalue.section.ComplexValueBasePropertySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.datavalue.properties.sections.DataValueContainerSection"
               filter="org.polarsys.capella.core.data.information.datavalue.properties.sections.DataValueContainerSection"
               id="org.polarsys.capella.core.data.information.datavalue.section.DataValueContainerBasePropertySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.datavalue.properties.sections.EnumerationLiteralSection"
               filter="org.polarsys.capella.core.data.information.datavalue.properties.sections.EnumerationLiteralSection"
               id="org.polarsys.capella.core.data.information.datavalue.section.EnumerationLiteralBasePropertySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.datavalue.properties.sections.EnumerationReferenceSection"
               filter="org.polarsys.capella.core.data.information.datavalue.properties.sections.EnumerationReferenceSection"
               id="org.polarsys.capella.core.data.information.datavalue.section.EnumerationReferenceBasePropertySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.datavalue.properties.sections.LiteralBooleanValueSection"
               filter="org.polarsys.capella.core.data.information.datavalue.properties.sections.LiteralBooleanValueSection"
               id="org.polarsys.capella.core.data.information.datavalue.section.LiteralBooleanValueBasePropertySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.datavalue.properties.sections.LiteralNumericValueSection"
               filter="org.polarsys.capella.core.data.information.datavalue.properties.sections.LiteralNumericValueSection"
               id="org.polarsys.capella.core.data.information.datavalue.section.LiteralNumericValueBasePropertySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.datavalue.properties.sections.LiteralStringValueSection"
               filter="org.polarsys.capella.core.data.information.datavalue.properties.sections.LiteralStringValueSection"
               id="org.polarsys.capella.core.data.information.datavalue.section.LiteralStringValueBasePropertySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.datavalue.properties.sections.NumericReferenceSection"
               filter="org.polarsys.capella.core.data.information.datavalue.properties.sections.NumericReferenceSection"
               id="org.polarsys.capella.core.data.information.datavalue.section.NumericReferenceBasePropertySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.datavalue.properties.sections.StringReferenceSection"
               filter="org.polarsys.capella.core.data.information.datavalue.properties.sections.StringReferenceSection"
               id="org.polarsys.capella.core.data.information.datavalue.section.StringReferenceBasePropertySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.datavalue.properties.sections.UnaryExpressionSection"
               filter="org.polarsys.capella.core.data.information.datavalue.properties.sections.UnaryExpressionSection"
               id="org.polarsys.capella.core.data.information.datavalue.section.UnaryExpressionBasePropertySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.datavalue.properties.sections.ValuePartSection"
               filter="org.polarsys.capella.core.data.information.datavalue.properties.sections.ValuePartSection"
               id="org.polarsys.capella.core.data.information.datavalue.section.ValuePartBasePropertySection"
               tab="BaseSiriusDiagram">
         </propertySection>
      </propertySections>
   </extension>
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">      
	  <propertySections contributorId="org.eclipse.sirius.table.ui.EditorID">
         <propertySection
               class="org.polarsys.capella.core.data.information.datavalue.properties.sections.BinaryExpressionSection"
               filter="org.polarsys.capella.core.data.information.datavalue.properties.sections.BinaryExpressionSection"
               id="org.polarsys.capella.core.data.information.datavalue.section.BinaryExpressionBasePropertySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.datavalue.properties.sections.BooleanReferenceSection"
               filter="org.polarsys.capella.core.data.information.datavalue.properties.sections.BooleanReferenceSection"
               id="org.polarsys.capella.core.data.information.datavalue.section.BooleanReferenceBasePropertySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.datavalue.properties.sections.CollectionValueReferenceSection"
               filter="org.polarsys.capella.core.data.information.datavalue.properties.sections.CollectionValueReferenceSection"
               id="org.polarsys.capella.core.data.information.datavalue.section.CollectionValueReferenceBasePropertySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.datavalue.properties.sections.CollectionValueSection"
               filter="org.polarsys.capella.core.data.information.datavalue.properties.sections.CollectionValueSection"
               id="org.polarsys.capella.core.data.information.datavalue.section.CollectionValueBasePropertySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.datavalue.properties.sections.ComplexValueReferenceSection"
               filter="org.polarsys.capella.core.data.information.datavalue.properties.sections.ComplexValueReferenceSection"
               id="org.polarsys.capella.core.data.information.datavalue.section.ComplexValueReferenceBasePropertySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.datavalue.properties.sections.ComplexValueSection"
               filter="org.polarsys.capella.core.data.information.datavalue.properties.sections.ComplexValueSection"
               id="org.polarsys.capella.core.data.information.datavalue.section.ComplexValueBasePropertySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.datavalue.properties.sections.DataValueContainerSection"
               filter="org.polarsys.capella.core.data.information.datavalue.properties.sections.DataValueContainerSection"
               id="org.polarsys.capella.core.data.information.datavalue.section.DataValueContainerBasePropertySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.datavalue.properties.sections.EnumerationLiteralSection"
               filter="org.polarsys.capella.core.data.information.datavalue.properties.sections.EnumerationLiteralSection"
               id="org.polarsys.capella.core.data.information.datavalue.section.EnumerationLiteralBasePropertySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.datavalue.properties.sections.EnumerationReferenceSection"
               filter="org.polarsys.capella.core.data.information.datavalue.properties.sections.EnumerationReferenceSection"
               id="org.polarsys.capella.core.data.information.datavalue.section.EnumerationReferenceBasePropertySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.datavalue.properties.sections.LiteralBooleanValueSection"
               filter="org.polarsys.capella.core.data.information.datavalue.properties.sections.LiteralBooleanValueSection"
               id="org.polarsys.capella.core.data.information.datavalue.section.LiteralBooleanValueBasePropertySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.datavalue.properties.sections.LiteralNumericValueSection"
               filter="org.polarsys.capella.core.data.information.datavalue.properties.sections.LiteralNumericValueSection"
               id="org.polarsys.capella.core.data.information.datavalue.section.LiteralNumericValueBasePropertySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.datavalue.properties.sections.LiteralStringValueSection"
               filter="org.polarsys.capella.core.data.information.datavalue.properties.sections.LiteralStringValueSection"
               id="org.polarsys.capella.core.data.information.datavalue.section.LiteralStringValueBasePropertySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.datavalue.properties.sections.NumericReferenceSection"
               filter="org.polarsys.capella.core.data.information.datavalue.properties.sections.NumericReferenceSection"
               id="org.polarsys.capella.core.data.information.datavalue.section.NumericReferenceBasePropertySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.datavalue.properties.sections.StringReferenceSection"
               filter="org.polarsys.capella.core.data.information.datavalue.properties.sections.StringReferenceSection"
               id="org.polarsys.capella.core.data.information.datavalue.section.StringReferenceBasePropertySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.datavalue.properties.sections.UnaryExpressionSection"
               filter="org.polarsys.capella.core.data.information.datavalue.properties.sections.UnaryExpressionSection"
               id="org.polarsys.capella.core.data.information.datavalue.section.UnaryExpressionBasePropertySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.datavalue.properties.sections.ValuePartSection"
               filter="org.polarsys.capella.core.data.information.datavalue.properties.sections.ValuePartSection"
               id="org.polarsys.capella.core.data.information.datavalue.section.ValuePartBasePropertySection"
               tab="BaseSiriusTable">
         </propertySection>
      </propertySections>
   </extension>
</plugin>
