/CommunicationItem.java
/CommunicationItem__properties.java
/CommunicationLinkExchanger.java
/CommunicationLinkExchanger__access.java
/CommunicationLinkExchanger__acquire.java
/CommunicationLinkExchanger__call.java
/CommunicationLinkExchanger__consume.java
/CommunicationLinkExchanger__execute.java
/CommunicationLinkExchanger__produce.java
/CommunicationLinkExchanger__receive.java
/CommunicationLinkExchanger__send.java
/CommunicationLinkExchanger__transmit.java
/CommunicationLinkExchanger__write.java
