<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
  Copyright (c) 2006, 2022 THALES GLOBAL SERVICES.
  
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0
  
  SPDX-License-Identifier: EPL-2.0
  
  Contributors:
       Thales - initial API and implementation
-->
<plugin>
   <extension
         point="org.polarsys.capella.core.validation.ui.ide.capellaQuickFix">
      <resolver
            class="org.polarsys.capella.core.data.interaction.ui.quickfix.resolver.DWF_DS_08_Resolver"
            desc="%quickFix.DWF_DS_08.desc"
            icon="icons/search16.gif"
            label="%quickFix.DWF_DS_08.label">
         <rules
               ruleId="DWF_DS_08">
         </rules>
      </resolver>
       <resolver
            class="org.polarsys.capella.core.data.interaction.ui.quickfix.resolver.DWF_DS_09_Resolver"
            desc="%quickFix.DWF_DS_09.desc"
            icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_delete.gif"
            label="%quickFix.DWF_DS_09.label">
         <rules
               ruleId="DWF_DS_09">
         </rules>
      </resolver>
      <resolver
            class="org.polarsys.capella.core.data.interaction.ui.quickfix.resolver.DWF_DS_17_Resolver1"
            desc="%quickFix1.DWF_DS_17.desc"
            icon="icons/search16.gif"
            label="%quickFix1.DWF_DS_17.label">
         <rules
               ruleId="DWF_DS_17">
         </rules>
      </resolver>
      <resolver
            class="org.polarsys.capella.core.data.interaction.ui.quickfix.resolver.DWF_DS_17_Resolver2"
            desc="%quickFix2.DWF_DS_17.desc"
            icon="icons/search16.gif"
            label="%quickFix2.DWF_DS_17.label">
         <rules
               ruleId="DWF_DS_17">
         </rules>
      </resolver>
      <resolver
            class="org.polarsys.capella.core.data.interaction.ui.quickfix.resolver.DWF_DS_12_EditResolver"
            desc="%quickFix1.DWF_DS_12.desc"
            icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_edit.gif"
            label="%quickFix1.DWF_DS_12.label">
         <rules
               ruleId="DWF_DS_12">
         </rules>
      </resolver>
      <resolver
            class="org.polarsys.capella.core.data.interaction.ui.quickfix.resolver.DWF_DS_12_RenameResolver"
            desc="%quickFix2.DWF_DS_12.desc"
            icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif"
            label="%quickFix2.DWF_DS_12.label">
         <rules
               ruleId="DWF_DS_12">
         </rules>
      </resolver>
      <resolver
            class="org.polarsys.capella.core.data.interaction.ui.quickfix.resolver.DWF_DS_23_ScenarioReferencedResolver"
            desc="%quickFix1.DWF_DS_23.desc"
            icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif"
            label="%quickFix1.DWF_DS_23.label">
         <rules
               ruleId="DWF_DS_23">
         </rules>
      </resolver>
      <resolver
            class="org.polarsys.capella.core.data.interaction.ui.quickfix.resolver.DWF_DS_23_DeleteReferenceResolver"
            desc="%quickFix2.DWF_DS_23.desc"
            icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_delete.gif"
            label="%quickFix2.DWF_DS_23.label">
         <rules
               ruleId="DWF_DS_23">
         </rules>
      </resolver>
      <resolver
            class="org.polarsys.capella.core.data.interaction.ui.quickfix.resolver.InstanceRoleHasDifferentNameThanRepresentedInstanceResolver"
            desc="%quickFix.DWF_DS_24.desc"
            icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif"
            label="%quickFix.DWF_DS_24.label">
         <rules
               ruleId="DWF_DS_24">
         </rules>
      </resolver>
      <resolver
            class="org.polarsys.capella.core.data.interaction.ui.quickfix.resolver.AddAllExchangeItemsToSequenceMessageResolver"
            desc="%quickFix.DCOM_24.desc"
            icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif"
            label="%quickFix.DCOM_24.label">
         <rules
               ruleId="DCOM_24">
         </rules>
      </resolver>
      <resolver
            class="org.polarsys.capella.core.data.interaction.ui.quickfix.resolver.DWF_DS_12_EditResolver"
            desc="%quickFix.DCOM_24_edit.desc"
            icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_edit.gif"
            label="%quickFix.DCOM_24_edit.label">
         <rules
               ruleId="DCOM_24">
         </rules>
      </resolver>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="org.polarsys.capella.core.data.interaction.ui.quickfix.generator.DWF_DS_04_Resolutions"
            markerType="org.polarsys.capella.core.validation.markers">
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="org.polarsys.capella.core.data.interaction.ui.quickfix.generator.DWF_DS_18_Resolutions"
            markerType="org.polarsys.capella.core.validation.markers">
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="org.polarsys.capella.core.data.interaction.ui.quickfix.generator.DWF_DS_19_Resolutions"
            markerType="org.polarsys.capella.core.validation.markers">
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="org.polarsys.capella.core.data.interaction.ui.quickfix.generator.DWF_DS_20_Resolutions"
            markerType="org.polarsys.capella.core.validation.markers">
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="org.polarsys.capella.core.data.interaction.ui.quickfix.generator.DWF_DS_21_Resolutions"
            markerType="org.polarsys.capella.core.validation.markers">
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="org.polarsys.capella.core.data.interaction.ui.quickfix.generator.DWF_DS_22_Resolutions"
            markerType="org.polarsys.capella.core.validation.markers">
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="org.polarsys.capella.core.data.interaction.ui.quickfix.generator.DWF_CA_07_Resolutions"
            markerType="org.polarsys.capella.core.validation.markers">
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="org.polarsys.capella.core.data.interaction.ui.quickfix.generator.DWF_CA_08_Resolutions"
            markerType="org.polarsys.capella.core.validation.markers">
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="org.polarsys.capella.core.data.interaction.ui.quickfix.generator.DWF_CA_09_Resolutions"
            markerType="org.polarsys.capella.core.validation.markers">
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="org.polarsys.capella.core.data.interaction.ui.quickfix.generator.DCOM_05_Resolutions"
            markerType="org.polarsys.capella.core.validation.markers">
      </markerResolutionGenerator>
   </extension>
</plugin>
