<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
  Copyright (c) 2018 THALES GLOBAL SERVICES.
  
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0
  
  SPDX-License-Identifier: EPL-2.0
  
  Contributors:
       Thales - initial API and implementation
-->
<plugin>
   <extension
         point="org.polarsys.capella.core.validation.ui.ide.capellaQuickFix">
      <resolver
            class="org.polarsys.capella.core.data.core.ui.quickfix.resolver.DWF_D25_Resolver"
            desc="%quickFix.CO21.desc"
            icon="icons/search16.gif"
            label="%quickFix.CO21.label">
         <rules
               ruleId="DWF_D_25">
         </rules>
      </resolver>
      <resolver
            class="org.polarsys.capella.core.data.core.ui.quickfix.resolver.I_34_Resolver"
            desc="%quickFix.I_34.desc"
            icon="icons/search16.gif"
            label="%quickFix.I_34.label">
         <rules
               ruleId="I_34">
         </rules>
      </resolver>      
      <resolver
            class="org.polarsys.capella.core.data.core.ui.quickfix.resolver.TJ_G_05_SourceNameEqualsTargetName"
            desc="%quickFix.TJ_G_05_a.desc"
            icon="icons/search16.gif"
            label="%quickFix.TJ_G_05_a.label">
         <rules
               ruleId="TJ_G_05">
         </rules>
      </resolver>
      <resolver
            class="org.polarsys.capella.core.data.core.ui.quickfix.resolver.TJ_G_05_TargetNameEqualsSourceName"
            desc="%quickFix.TJ_G_05_b.desc"
            icon="icons/search16.gif"
            label="%quickFix.TJ_G_05_b.label">
         <rules
               ruleId="TJ_G_05">
         </rules>
      </resolver>
      <resolver
            class="org.polarsys.capella.core.data.core.ui.quickfix.resolver.Q3_Edit_Resolver"
            desc="%quickFix.Q3.desc"
            icon="icons/search16.gif"
            label="%quickFix.Q3.label">
         <rules
               ruleId="Q_03">
         </rules>
      </resolver>
      <resolver
            class="org.polarsys.capella.core.data.core.ui.quickfix.resolver.I_36_Resolver"
            desc="%quickFix.I_36.desc"
            icon="icons/search16.gif"
            label="%quickFix.I_36.label">
         <rules
               ruleId="I_36">
         </rules>
      </resolver>
      <resolver
            class="org.polarsys.capella.core.data.core.ui.quickfix.resolver.I_40_Resolver"
            desc="%quickFix.I_40.desc"
            icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_delete.gif"
            label="%quickFix.I_40.label">
         <rules
               ruleId="I_40">
         </rules>
      </resolver>
      <resolver
            class="org.polarsys.capella.core.data.core.ui.quickfix.resolver.I_03_Resolver"
            desc="%quickFix.I_03.desc"
            icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_manage.gif"
            label="%quickFix.I_03.label">
         <rules
               ruleId="I_03">
         </rules>
      </resolver>
      <resolver
            class="org.polarsys.capella.core.data.core.ui.quickfix.resolver.I_44_Resolver"
            desc="%quickFix.I_44.label"
            icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_delete.gif"
            label="%quickFix.I_44.label">
         <rules
               ruleId="I_44">
         </rules>
      </resolver>
   </extension>

</plugin>
