<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
  Copyright (c) 2006, 2019 THALES GLOBAL SERVICES.
  
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0
  
  SPDX-License-Identifier: EPL-2.0
  
  Contributors:
       Thales - initial API and implementation
-->
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.polarsys.capella.views.category"
            class="org.polarsys.capella.core.ui.reportlog.InformationView"
            icon="icons/eview16/information.png"
            id="org.polarsys.capella.common.tools.report.appenders.reportlogview.logview"
            name="%view.name">
      </view>
   </extension>
   
   <extension
         point="org.polarsys.capella.common.tools.report.appenders.reportlogview.filterOnReportView">
      <reportView
            markerIDsProvider="org.polarsys.capella.core.ui.reportlog.CapellaReportViewMarkerIdsProvider"
            viewID="org.polarsys.capella.common.tools.report.appenders.reportlogview.logview">
      </reportView>
   </extension>
   <extension
         point="org.eclipse.sirius.sessionManagerListener">
      <listener
            class="org.polarsys.capella.core.ui.reportlog.InformationViewSessionListener">
      </listener>
   </extension>
   <extension
         point="org.polarsys.capella.common.ef.editingDomainListener">
      <editingDomainListener
            class="org.polarsys.capella.core.ui.reportlog.DeleteMarkerListener">
      </editingDomainListener>
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
         
   		<menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.pde.runtime.LogView">
         <command
               commandId="org.polarsys.capella.core.ui.reportlog.logcommand"
               icon="icons/add_element.gif"
               style="push">
         </command>
      	</menuContribution>
      
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.polarsys.capella.core.ui.reportlog.logcommand"
            name="%logcommand.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.polarsys.capella.core.ui.reportlog.LogDataHandler"
            commandId="org.polarsys.capella.core.ui.reportlog.logcommand">
      </handler>
   </extension>
   
</plugin>
