<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  Copyright (c) 2006, 2018 THALES GLOBAL SERVICES.
  
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0
  
  SPDX-License-Identifier: EPL-2.0

  Contributors:
       Thales - initial API and implementation
-->
<plugin>
   <extension-point id="semanticEditingDomainProviders" name="SemanticEditingDomain Providers" schema="schema/semanticEditingDomainProviders.exsd"/>
   <extension-point id="derivedSemanticResourceProvider" name="Derived Semantic Resource Provider" schema="schema/derivedSemanticResourceProvider.exsd"/>
   <extension-point id="metadataProvider" name="Metadata Resource Provider" schema="schema/metadataProvider.exsd"/>
   <extension
         point="org.eclipse.emf.transaction.editingDomains">
      <editingDomain
            factory="org.polarsys.capella.common.platform.sirius.ted.SemanticEditingDomainFactory"
            id="org.polarsys.capella.common.platform.sirius.ted.EditingDomain">
      </editingDomain>
   </extension>
   <extension
         point="org.eclipse.sirius.sessionManagerListener">
      <listener
            class="org.polarsys.capella.common.platform.sirius.ted.SiriusSessionListener">
      </listener>
   </extension>
   <extension
         id="siriusSessionFactory"
         point="org.eclipse.sirius.sessionFactory">
      <sessionFactory
            class="org.polarsys.capella.common.platform.sirius.ted.SiriusSessionFactory">
      </sessionFactory>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
    		class="org.polarsys.capella.common.platform.sirius.ted.property.testers.ElementOfOpenedSessionTester"
            id="org.polarsys.capella.common.platform.sirius.ted.property.testers.ElementOfOpenedSessionTester"
            namespace="org.polarsys.capella.common.platform.sirius.ted.property.testers"
            properties="elementOfOpenedSessionTester"
            type="java.lang.Object">
		</propertyTester>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
		<definition
            id="org.polarsys.capella.common.platform.sirius.ted.definition.checkElementOfOpenedSessionOnCompareEditorPartOnly">
			<or>
	    		<with variable="activePartId">
	            	<not>
	                    <equals value="org.eclipse.compare.CompareEditor"/>
	                </not>
	       		</with>
	    		<and>
	    			<with variable="activePartId">
	                	<equals value="org.eclipse.compare.CompareEditor"/>
	               	</with>
	        		<test
	                	forcePluginActivation="true"
	                		property="org.polarsys.capella.common.platform.sirius.ted.property.testers.elementOfOpenedSessionTester">
	          		</test>
	        	</and>
	    	</or>
		</definition>
   </extension>
</plugin>
