<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
	     point="org.eclipse.ui.views">
	  <view
	        name="ms"
	        icon="icons/view.gif"
	        category="org.polarsys.kitalpha.view.category"
	        class="org.polarsys.kitalpha.ad.viewpoint.ui.views.ViewpointView"
	        id="org.polarsys.capella.vp.ms.view"
	        resourceId="org.polarsys.capella.vp.ms"/>
	</extension>
	<extension
	     point="org.polarsys.kitalpha.resourcereuse.resources">
	  <resource
	        domain="AF"
	        id="org.polarsys.capella.vp.ms"
	        tags="vp, stateMutableActivation"
	        name="ms"
	        path="/org.polarsys.capella.vp.ms.af/model/ms.vp#_rs4akLUdEeWSn8ImNVQfrQ"/>
	</extension>
	<extension 
	     point="org.eclipse.ui.propertiesView">
	 	<excludeSources
	    	id="org.polarsys.capella.vp.ms.view">
	 	</excludeSources>
	</extension>
</plugin>

