<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  Copyright (c) 2006, 2017 THALES GLOBAL SERVICES.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html

  Contributors:
       Thales - initial API and implementation
-->
<plugin>
   <extension
         point="org.polarsys.capella.core.tiger">
         
     <ruleset context="org.polarsys.capella.core.projection.constraint"
      	rulepackage="org.polarsys.capella.core.projection.common.rules.core">
          <rule rulename="Rule_Constraint"/>
          <rule rulename="Rule_OpaqueExpression"/>
       </ruleset>
       
      <ruleset context="org.polarsys.capella.core.projection.common.resolver">
         <finalizer class="org.polarsys.capella.core.projection.common.resolver.ResolverFinalizer"/>
      </ruleset>
      
      <ruleset
            context="org.polarsys.capella.core.projection.capability"
            rulepackage="org.polarsys.capella.core.projection.common.rules.interaction"
            transfolink="org.polarsys.capella.core.projection.common.ProjectionTraceLinkProvider">
         <rule rulename="Rule_AbstractCapability"/>
         <rule rulename="Rule_OperationalCapability"/>
         <rule rulename="Rule_AbstractCapabilityPkg"/>
         
         <rule rulename="Rule_AbstractCapabilityGeneralization"/>
         <rule rulename="Rule_ActorCapabilityInvolvement"/>
         <rule rulename="Rule_AbstractFunctionAbstractCapabilityInvolvement"/>
         <rule rulename="Rule_FunctionalChainAbstractCapabilityInvolvement"/>
      
      <sharedContext context="org.polarsys.capella.core.projection.functional.realization"/>
      <sharedContext context="org.polarsys.capella.core.projection.interfaces.definition"/>
      <sharedContext context="capella.statemachine.rules"/>
      
      </ruleset>
   
      <ruleset
            context="org.polarsys.capella.core.projection.functional.realization"
            rulepackage="org.polarsys.capella.core.projection.common.rules.fa"
            transfolink="org.polarsys.capella.core.projection.common.ProjectionTraceLinkProvider">
          <!-- To load PortRealization, which is used in Rule_PortAllocation -->
          <rule rulename="Rule_FunctionInputPort"/>
          <!-- To load PortRealization, which is used in Rule_PortAllocation -->
          <rule rulename="Rule_FunctionOutputPort"/>
          <!-- To load FunctionalExchangeRealization, which is used in Rule_ConnectionFunctionalExchangeAllocation-->
          <rule rulename="Rule_FunctionalExchange"/>
          <!-- To load FunctionRealization, which is used in Rule_ComponentFunctionalAllocation -->
          <rule rulename="Rule_Function"/>
          <rule rulename="Rule_FunctionPkg"/>
      </ruleset>
      
      <ruleset
            context="org.polarsys.capella.core.projection.rules.la"
            rulepackage="org.polarsys.capella.core.projection.common.rules.la"
            transfolink="org.polarsys.capella.core.projection.common.ProjectionTraceLinkProvider">
          <rule rulename="Rule_LogicalComponentPkg"/>
      </ruleset>
      
   <ruleset
      context="org.polarsys.capella.core.projection.global">
      
   	<sharedContext context="org.polarsys.capella.core.projection.scenario.es2es"/>
   	<sharedContext context="capella.statemachine.rules"/>
   	<sharedContext context="org.polarsys.capella.core.projection.capability"/>
      <sharedContext context="org.polarsys.capella.core.projection.functional.realization"/>
      <sharedContext context="org.polarsys.capella.core.projection.interfaces.definition"/>
      <sharedContext context="org.polarsys.capella.core.projection.lc2pc.breakdownstrategy"/>
      <sharedContext context="capella.logicalfunctions.rules"/>
      <sharedContext context="capella.operationalactivities.rules"/>
      <sharedContext context="capella.systemfunction.rules"/>
   </ruleset>
   </extension>
   
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
   
         <propertyTester
             id="org.polarsys.capella.core.platform.sirius.ui.property.projectionMode"
             type="org.polarsys.capella.common.data.modellingcore.ModelElement"
             namespace="org.polarsys.capella.core.platform.sirius.ui"
             properties="projectionMode"
             class="org.polarsys.capella.core.projection.common.CommandTester"
         >
         </propertyTester>    
         
         <propertyTester
             id="org.polarsys.capella.core.platform.sirius.ui.property.graphicalProjectionMode"
             type="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart"
             namespace="org.polarsys.capella.core.platform.sirius.ui"
             properties="projectionMode"
             class="org.polarsys.capella.core.projection.common.CommandTester"
         >
         </propertyTester>
         
   </extension>
  
</plugin>
