<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
  Copyright (c) 2018, 2020 THALES GLOBAL SERVICES.
  
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0
  
  SPDX-License-Identifier: EPL-2.0
  
  Contributors:
       Thales - initial API and implementation
-->
<plugin>

   <extension
         point="org.polarsys.capella.core.validation.ui.ide.capellaQuickFix">
      <resolver
            class="org.polarsys.capella.core.data.information.ui.quickfix.resolver.DWF_D16_Resolver"
            desc="%quickFix.CO23.desc"
            icon="icons/search16.gif"
            label="%quickFix.CO23.label">
         <rules
               ruleId="DWF_D_16">
         </rules>
      </resolver>
      <resolver
            class="org.polarsys.capella.core.data.information.ui.quickfix.resolver.CO1218Resolver"
            desc="%quickFix.CO1218.desc"
            icon="icons/search16.gif"
            label="%quickFix.CO1218.label">
         <rules
               ruleId="DWF_D_06">
         </rules>
      </resolver>
      <resolver
            class="org.polarsys.capella.core.data.information.ui.quickfix.resolver.DataValueReferenceResolver"
            desc="%quickFix.DWF_D_28.desc"
            icon="icons/search16.gif"
            label="%quickFix.DWF_D_28.label">
         <rules
               ruleId="DWF_D_28">
         </rules>
      </resolver>
      <resolver
            class="org.polarsys.capella.core.data.information.ui.quickfix.resolver.AssociationAssociationKindResolver"
            desc="%quickFix.DWF_D_29.desc"
            icon="icons/search16.gif"
            label="%quickFix.DWF_D_29.label">
         <rules
               ruleId="DWF_D_29">
         </rules>
      </resolver>
      <resolver
            class="org.polarsys.capella.core.data.information.ui.quickfix.resolver.AssociationAssociationKindResolver"
            desc="%quickFix.DWF_D_10_And_09.desc"
            icon="icons/search16.gif"
            label="%quickFix.DWF_D_10_And_09.label">
         <rules
               ruleId="DWF_D_10">
         </rules>
      </resolver>
      <resolver
            class="org.polarsys.capella.core.data.information.ui.quickfix.resolver.DataValueTypeResolver"
            desc="%quickFix.DWF_D_30.desc"
            icon="icons/search16.gif"
            label="%quickFix.DWF_D_30.label">
         <rules
               ruleId="DWF_D_30">
         </rules>
         <rules
               ruleId="DWF_D_32">
         </rules>
         <rules
               ruleId="DWF_D_33">
         </rules>
         <rules
               ruleId="DWF_D_34">
         </rules>
         <rules
               ruleId="DWF_D_35">
         </rules>
         <rules
               ruleId="DWF_D_36">
         </rules>
         <rules
               ruleId="DWF_D_37">
         </rules>
      </resolver>
      <resolver
            class="org.polarsys.capella.core.data.information.ui.quickfix.resolver.EditExchangeItem"
            desc="%quickFix.TC_I_06.desc"
            icon="icons/search16.gif"
            label="%quickFix.TC_I_06.label">
         <rules
               ruleId="TC_I_06">
         </rules>
         <rules
               ruleId="TC_I_07">
         </rules>
         <rules
               ruleId="TC_I_08">
         </rules>
         <rules
               ruleId="TC_I_09">
         </rules>
         <rules
               ruleId="TC_I_10">
         </rules>
      </resolver>
      <resolver
            class="org.polarsys.capella.core.data.information.ui.quickfix.resolver.EditExchangeItem"
            desc="%quickFix.DWF_D_43.desc"
            icon="icons/search16.gif"
            label="%quickFix.DWF_D_43.label">
         <rules
               ruleId="DWF_D_43">
         </rules>
      </resolver>
      <resolver
            class="org.polarsys.capella.core.data.information.ui.quickfix.resolver.DataValueTypeResolver"
            desc="%quickFix.DWF_D_24.desc"
            icon="icons/search16.gif"
            label="%quickFix.DWF_D_24.label">
         <rules
               ruleId="DWF_D_24">
         </rules>
      </resolver>
      <resolver
            class="org.polarsys.capella.core.data.information.ui.quickfix.resolver.EditDataValue"
            desc="%quickFix.DWF_D_28.desc"
            icon="icons/search16.gif"
            label="%quickFix.DWF_D_28.label">
         <rules
               ruleId="DWF_D_39">
         </rules>
      </resolver>
      <resolver
            class="org.polarsys.capella.core.data.information.ui.quickfix.resolver.AssociationAssociationKindResolver"
            desc="%quickFix.DWF_D_40.desc"
            icon="icons/search16.gif"
            label="%quickFix.DWF_D_40.label">
         <rules
               ruleId="DWF_D_40">
         </rules>
      </resolver>
      <resolver
            class="org.polarsys.capella.core.data.information.ui.quickfix.resolver.DWFD41Resolver"
            desc="%quickFix.DWF_D_41.desc"
            icon="icons/search16.gif"
            label="%quickFix.DWF_D_41.label">
         <rules
               ruleId="DWF_D_41">
         </rules>
      </resolver>
      <resolver
            class="org.polarsys.capella.core.data.information.ui.quickfix.resolver.AssociationAssociationKindResolver"
            desc="%quickFix.DWF_D_45_Open.desc"
            icon="icons/search16.gif"
            label="%quickFix.DWF_D_45_Open.label">
         <rules
               ruleId="DWF_D_45">
         </rules>
      </resolver>
      <resolver
            class="org.polarsys.capella.core.data.information.ui.quickfix.resolver.DeleteAssociationResolver"
            desc="%quickFix.DWF_D_45_Del.desc"
            icon="icons/delete_element.gif"
            label="%quickFix.DWF_D_45_Del.label">
         <rules
               ruleId="DWF_D_45">
         </rules>
      </resolver>
      <resolver
            class="org.polarsys.capella.core.data.information.ui.quickfix.resolver.DeletePropertyResolver"
            desc="%quickFix.DWF_D_12_Del.desc"
            icon="icons/delete_element.gif"
            label="%quickFix.DWF_D_12_Del.label">
         <rules
               ruleId="DWF_D_12">
         </rules>
      </resolver>
      <resolver
            class="org.polarsys.capella.core.data.information.ui.quickfix.resolver.OpenPropertyResolver"
            desc="%quickFix.DWF_D_12_Open.desc"
            icon="icons/search16.gif"
            label="%quickFix.DWF_D_12_Open.label">
         <rules
               ruleId="DWF_D_12">
         </rules>
      </resolver>
      <resolver
            class="org.polarsys.capella.core.data.information.ui.quickfix.resolver.RelocateAssociationResolver"
            desc="%quickFix.DWF_D_46.desc"
            icon="icons/move.gif"
            label="%quickFix.DWF_D_46.label">
         <rules
               ruleId="DWF_D_46">
         </rules>
      </resolver>
      <resolver
            class="org.polarsys.capella.core.data.information.ui.quickfix.resolver.DeleteConstraintResolver"
            desc="%quickFix.DWF_D_48_delconstraint.desc"
            icon="icons/delete_element.gif"
            label="%quickFix.DWF_D_48_delconstraint.label">
         <rules
               ruleId="DWF_D_48">
         </rules>
      </resolver>
      <resolver
            class="org.polarsys.capella.core.data.information.ui.quickfix.resolver.CleanReferenceElementResolver"
            desc="%quickFix.DWF_D_48_cleanDanglingReference.desc "
            icon="icons/clear.gif"
            label="%quickFix.DWF_D_48_cleanDanglingReference.label">
         <rules
               ruleId="DWF_D_48">
         </rules>
      </resolver>
      <resolver
            class="org.polarsys.capella.core.data.information.ui.quickfix.resolver.EnumerationLiteralTypeResolver"
            desc="%quickFix.DWF_D_56.desc"
            icon="icons/search16.gif"
            label="%quickFix.DWF_D_56.label">
         <rules
               ruleId="DWF_D_56">
         </rules>
      </resolver>
      <resolver
            class="org.polarsys.capella.core.data.information.ui.quickfix.resolver.DWFD57Resolver"
            desc="%quickFix.DWF_D_57.desc"
            icon="icons/capella_process.gif"
            label="%quickFix.DWF_D_57.label">
         <rules
               ruleId="DWF_D_57">
         </rules>
      </resolver>
   </extension>

</plugin>
