<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
  Copyright (c) 2006, 2020 THALES GLOBAL SERVICES.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html

  Contributors:
       Thales - initial API and implementation
-->
<plugin>

<extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.polarsys.capella.core.transition.system.topdown.ui.preferences.TopDownPreferenceInitializer">
      </initializer>
   </extension>
   
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.polarsys.capella.core.platform.sirius.ui.actions.Capella.page"
            class="org.polarsys.capella.core.transition.system.topdown.ui.preferences.TopDownPreferencePage"
            id="org.polarsys.capella.core.transition.preferences.ProjectionPreferencePage"
            name="Transitions/Generation">
      </page>
   </extension>
   
      <extension
         point="org.eclipse.ui.propertyPages">
      <page
            category="org.polarsys.capella.core.platform.sirius.ui.actions.Capella.page"
            class="org.polarsys.capella.core.transition.system.topdown.ui.preferences.TopDownPreferencePage"
            id="org.polarsys.capella.core.transition.preferences.ProjectionPreferencePage"
            objectClass="org.eclipse.core.resources.IProject"
            name="Transitions/Generation">
            <enabledWhen>
                 <reference definitionId="org.polarsys.capella.core.preferences.project.property.pages.visibilityExpression"/>
            </enabledWhen>
            
      </page>
   </extension>
   
   
   
   
   <extension
         point="org.polarsys.capella.common.flexibility.wizards">
      
      <bindings properties="capella.core.transition.system.topdown">
        
        <propertyBinding
                  property="interface.mode"
                  renderer="checkboxRenderer">
        </propertyBinding>
        
        <propertyBinding
                  property="projection.exchangeItems"
                  renderer="checkboxRenderer">
        </propertyBinding>
      
        <propertyBinding
                  property="projection.dataType"
                  renderer="checkboxRenderer">
        </propertyBinding>
        
        <propertyBinding
                  property="projection.component.stateMachine"
                  renderer="checkboxRenderer">
        </propertyBinding>
        
        <propertyBinding
                  property="projection.functional"
                  renderer="checkboxRenderer">
        </propertyBinding>
        
        <propertyBinding
                  property="projection.lcpc.mode"
                  renderer="optionRenderer">
        </propertyBinding>
        
        <propertyBinding
                  property="outputModel"
                  renderer="none">
        </propertyBinding>
        
        <propertyBinding
                  property="log.enabled"
                  renderer="checkboxRenderer">
        </propertyBinding>
        
        <propertyBinding
                  property="projection.propertyValue.involvedElements"
                  renderer="checkboxRenderer">
        </propertyBinding>
        
        
        
        
        <propertyBinding
                  property="projection.propertyValue"
                  renderer="checkboxRenderer">
        </propertyBinding>
        
        <propertyBinding
                  property="projection.propertyValue.appliedPropertyValues"
                  renderer="checkboxRenderer">
        </propertyBinding>
        
        <propertyBinding
                  property="transition.system.scope.appliedPropertyValues"
                  renderer="checkboxRenderer">
        </propertyBinding>
        
        <propertyBinding
                  property="transition.system.scope.ownedPropertyValues"
                  renderer="checkboxRenderer">
        </propertyBinding>
        
        <propertyBinding
              property="projection.pc2ci.kind"
              renderer="optionHorizontalRenderer">
        </propertyBinding>
        
        <propertyBinding
              property="projection.pc2ci.enabled"
              renderer="checkboxRenderer">
        </propertyBinding>
      
      </bindings>
      
      
      <bindings properties="capella.core.transition.generation">
      
      
        <propertyBinding
                  property="projection.interfaces.propagateEI"
                  renderer="checkboxRenderer">
        </propertyBinding>
        
        <propertyBinding
                  property="projection.interfaces.createCE"
                  renderer="checkboxRenderer">
        </propertyBinding>
        
        <propertyBinding
              property="transition.fc2fs.sequence.message.strategy"
              renderer="optionRenderer">
        </propertyBinding>
        
        <propertyBinding
              property="transition.op2oas.sequence.message.strategy"
              renderer="optionRenderer">
        </propertyBinding>
      </bindings>
      
      
   </extension>
   
   

		
		
		
    <extension
         point="org.eclipse.ui.menus">
         
       <menuContribution  allPopups="false"
            locationURI="popup:org.polarsys.capella.core.transitions?after=additions">
         <command  commandId="org.polarsys.capella.core.transition.system.topdown.ui.commands.command2" style="push" icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif" >
            
         <visibleWhen checkEnabled="false">
            <and>
           <reference definitionId="org.polarsys.capella.core.transition.system.topdown.ui.expression.transitionVisibilityModelElementExpression"/>
                        <with variable="selection">
                <iterate>
                            <test property="org.polarsys.capella.core.transition.system.topdown.transitionMode" forcePluginActivation="true"
                               value="transitionInterface">
                            </test>
                </iterate>
            </with>
            </and>
        </visibleWhen>
       </command>
       
         <command  commandId="org.polarsys.capella.core.transition.system.topdown.ui.commands.command4"  style="push" icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif" >
         <visibleWhen checkEnabled="false">
            <and>
           <reference definitionId="org.polarsys.capella.core.transition.system.topdown.ui.expression.transitionVisibilityModelElementExpression"/>
                        <with variable="selection">
                <iterate>
                            <test property="org.polarsys.capella.core.transition.system.topdown.transitionMode" forcePluginActivation="true"
                               value="transitionFunctional">
                            </test>
                </iterate>
            </with>
            </and>
         </visibleWhen> 
         </command> 
         
         <command  commandId="org.polarsys.capella.core.transition.system.topdown.ui.commands.command6"  style="push" icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif" >
           
         <visibleWhen checkEnabled="false">
            <and>
           <reference definitionId="org.polarsys.capella.core.transition.system.topdown.ui.expression.transitionVisibilityModelElementExpression"/>
                        <with variable="selection">
                <iterate>
                            <test property="org.polarsys.capella.core.transition.system.topdown.transitionMode" forcePluginActivation="true"
                               value="transitionStateMachine">
                            </test>
                </iterate>
            </with>
            </and>
         </visibleWhen> 
           
        </command> 
         <command  commandId="org.polarsys.capella.core.transition.system.topdown.ui.commands.command8"  style="push" icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif" >  
          <visibleWhen checkEnabled="false">
            <and>
           <reference definitionId="org.polarsys.capella.core.transition.system.topdown.ui.expression.transitionVisibilityModelElementExpression"/>
                        <with variable="selection">
                <iterate>
                            <test property="org.polarsys.capella.core.transition.system.topdown.transitionMode" forcePluginActivation="true"
                               value="transitionData">
                            </test>
                </iterate>
            </with>
            </and>
         </visibleWhen> 
         </command> 
         <command  commandId="org.polarsys.capella.core.transition.system.topdown.ui.commands.command10"  style="push" icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif" >
          <visibleWhen checkEnabled="false">
            <and>
           <reference definitionId="org.polarsys.capella.core.transition.system.topdown.ui.expression.transitionVisibilityModelElementExpression"/>
                        <with variable="selection">
                <iterate>
                            <test property="org.polarsys.capella.core.transition.system.topdown.transitionMode" forcePluginActivation="true"
                               value="transitionPropertyValue">
                            </test>
                </iterate>
            </with>
            </and>
         </visibleWhen> 
         </command>
         <command  commandId="org.polarsys.capella.core.transition.system.topdown.ui.commands.command12"  style="push" icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif" >  
         <visibleWhen checkEnabled="false">
            <and>
           <reference definitionId="org.polarsys.capella.core.transition.system.topdown.ui.expression.transitionVisibilityModelElementExpression"/>
                        <with variable="selection">
                <iterate>
                            <test property="org.polarsys.capella.core.transition.system.topdown.transitionMode" forcePluginActivation="true"
                               value="transitionExchangeItem">
                            </test>
                </iterate>
            </with>
            </and>
         </visibleWhen> 
        </command>
         <command  commandId="org.polarsys.capella.core.transition.system.topdown.ui.commands.command14"  style="push" icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif" > 
          <visibleWhen checkEnabled="false">
            <and>
           <reference definitionId="org.polarsys.capella.core.transition.system.topdown.ui.expression.transitionVisibilityModelElementExpression"/>
                        <with variable="selection">
                <iterate>
                            <test property="org.polarsys.capella.core.transition.system.topdown.transitionMode" forcePluginActivation="true"
                               value="transitionActor">
                            </test>
                </iterate>
            </with>
            </and>
         </visibleWhen> 
        </command>
         <command  commandId="org.polarsys.capella.core.transition.system.topdown.ui.commands.command16"  style="push" icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif" >
           <visibleWhen checkEnabled="false">
            <and>
           <reference definitionId="org.polarsys.capella.core.transition.system.topdown.ui.expression.transitionVisibilityModelElementExpression"/>
                        <with variable="selection">
                <iterate>
                            <test property="org.polarsys.capella.core.transition.system.topdown.transitionMode" forcePluginActivation="true"
                               value="transitionSystem">
                            </test>
                </iterate>
            </with>
            </and>
         </visibleWhen> 
         </command>
         <command  commandId="org.polarsys.capella.core.transition.system.topdown.ui.commands.command18"  style="push" icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif" >
           <visibleWhen checkEnabled="false">
            <and>
           <reference definitionId="org.polarsys.capella.core.transition.system.topdown.ui.expression.transitionVisibilityModelElementExpression"/>
                        <with variable="selection">
                <iterate>
                            <test property="org.polarsys.capella.core.transition.system.topdown.transitionMode" forcePluginActivation="true"
                               value="transitionLC2PC">
                            </test>
                </iterate>
            </with>
            </and>
         </visibleWhen> 
        </command>
         <command  commandId="org.polarsys.capella.core.transition.system.topdown.ui.commands.command20"  style="push" icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif" > 
          <visibleWhen checkEnabled="false">
            <and>
           <reference definitionId="org.polarsys.capella.core.transition.system.topdown.ui.expression.transitionVisibilityModelElementExpression"/>
                        <with variable="selection">
                <iterate>
                            <test property="org.polarsys.capella.core.transition.system.topdown.transitionMode" forcePluginActivation="true"
                               value="transitionOE2Actor">
                            </test>
                </iterate>
            </with>
            </and>
         </visibleWhen> 
        </command>
         <command  commandId="org.polarsys.capella.core.transition.system.topdown.ui.commands.command22"  style="push" icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif" > 
          <visibleWhen checkEnabled="false">
            <and>
           <reference definitionId="org.polarsys.capella.core.transition.system.topdown.ui.expression.transitionVisibilityModelElementExpression"/>
                        <with variable="selection">
                <iterate>
                            <test property="org.polarsys.capella.core.transition.system.topdown.transitionMode" forcePluginActivation="true"
                               value="transitionOE2System">
                            </test>
                </iterate>
            </with>
            </and>
         </visibleWhen> 
        </command>
         <command  commandId="org.polarsys.capella.core.transition.system.topdown.ui.commands.command24"  style="push" icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif" >
          <visibleWhen checkEnabled="false">
            <and>
           <reference definitionId="org.polarsys.capella.core.transition.system.topdown.ui.expression.transitionVisibilityModelElementExpression"/>
                        <with variable="selection">
                <iterate>
                            <test property="org.polarsys.capella.core.transition.system.topdown.transitionMode" forcePluginActivation="true"
                               value="transitionCapability">
                            </test>
                </iterate>
            </with>
            </and>
         </visibleWhen> 
        </command>
         <command  commandId="org.polarsys.capella.core.transition.system.topdown.ui.commands.command26"  style="push" icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif" > 
          <visibleWhen checkEnabled="false">
            <and>
           <reference definitionId="org.polarsys.capella.core.transition.system.topdown.ui.expression.transitionVisibilityModelElementExpression"/>
                        <with variable="selection">
                <iterate>
                            <test property="org.polarsys.capella.core.transition.system.topdown.transitionMode" forcePluginActivation="true"
                               value="transitionOC2SM">
                            </test>
                </iterate>
            </with>
            </and>
         </visibleWhen> 
        </command>
         <command  commandId="org.polarsys.capella.core.transition.system.topdown.ui.commands.command28"  style="push" icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif" > 
          <visibleWhen checkEnabled="false">
            <and>
               <reference definitionId="org.polarsys.capella.core.transition.system.topdown.ui.expression.transitionVisibilityModelElementExpression"/>
                         <with variable="selection">
                <iterate>
                           <test property="org.polarsys.capella.core.transition.system.topdown.transitionMode" forcePluginActivation="true"
                               value="transitionOA2SC">
                            </test>
                </iterate>
            </with>
            </and>
         </visibleWhen> 
        </command>
         <command  commandId="org.polarsys.capella.core.transition.system.topdown.ui.commands.command30"  style="push" icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif" >
          <visibleWhen checkEnabled="false">
            <and>
               <reference definitionId="org.polarsys.capella.core.transition.system.topdown.ui.expression.transitionVisibilityModelElementExpression"/>
                <with variable="selection">
                <iterate>
                            <test property="org.polarsys.capella.core.transition.system.topdown.transitionMode" forcePluginActivation="true"
                               value="transitionOA2SM">
                            </test>
                </iterate>
            </with>
            </and>
         </visibleWhen> 
        </command>
         <command
               commandId="org.polarsys.capella.core.transition.system.topdown.ui.commands.command32"
               icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <reference
                        definitionId="org.polarsys.capella.core.transition.system.topdown.ui.expression.transitionVisibilityModelElementExpression">
                  </reference>
                  <with
                        variable="selection">
                     <iterate>
                        <test
                              forcePluginActivation="true"
                              property="org.polarsys.capella.core.transition.system.topdown.transitionMode"
                              value="transitionPC2CI">
                        </test></iterate>
                  </with>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
      
      </extension>
   
   
   
   
   <extension
         point="org.eclipse.ui.commands">
		 <command
               categoryId="org.polarsys.capella.core.transitions"
               defaultHandler="org.polarsys.capella.core.transition.system.topdown.ui.handlers.InterfaceTransitionHandler"
               id="org.polarsys.capella.core.transition.system.topdown.ui.commands.command2"
               name="%topdownTransition_Interface_label"
               >
         </command>
		 

		 <command
               categoryId="org.polarsys.capella.core.transitions"
               defaultHandler="org.polarsys.capella.core.transition.system.topdown.ui.handlers.FunctionalTransitionHandler"
               id="org.polarsys.capella.core.transition.system.topdown.ui.commands.command4"
               name="%topdownTransition_Functional_label"
               >
         </command>

		 <command
               categoryId="org.polarsys.capella.core.transitions"
               defaultHandler="org.polarsys.capella.core.transition.system.topdown.ui.handlers.StateMachineTransitionHandler"
               id="org.polarsys.capella.core.transition.system.topdown.ui.commands.command6"
               name="%topdownTransition_StateMachine_label"
               >
         </command>

		 <command
               categoryId="org.polarsys.capella.core.transitions"
               defaultHandler="org.polarsys.capella.core.transition.system.topdown.ui.handlers.DataTransitionHandler"
               id="org.polarsys.capella.core.transition.system.topdown.ui.commands.command8"
               name="%topdownTransition_Data_label"
               >
         </command>
		 
         <command
               categoryId="org.polarsys.capella.core.transitions"
               defaultHandler="org.polarsys.capella.core.transition.system.topdown.ui.handlers.PropertyValueTransitionHandler"
               id="org.polarsys.capella.core.transition.system.topdown.ui.commands.command10"
               name="%topdownTransition_PropertyValue_label"
               >
         </command>

		 <command
               categoryId="org.polarsys.capella.core.transitions"
               defaultHandler="org.polarsys.capella.core.transition.system.topdown.ui.handlers.ExchangeItemTransitionHandler"
               id="org.polarsys.capella.core.transition.system.topdown.ui.commands.command12"
               name="%topdownTransition_ExchangeItem_label"
               >
         </command>

		 <command
               categoryId="org.polarsys.capella.core.transitions"
               defaultHandler="org.polarsys.capella.core.transition.system.topdown.ui.handlers.ActorTransitionHandler"
               id="org.polarsys.capella.core.transition.system.topdown.ui.commands.command14"
               name="%topdownTransition_Actor_label"
               >
         </command>

		 <command
               categoryId="org.polarsys.capella.core.transitions"
               defaultHandler="org.polarsys.capella.core.transition.system.topdown.ui.handlers.SystemTransitionHandler"
               id="org.polarsys.capella.core.transition.system.topdown.ui.commands.command16"
               name="%topdownTransition_System_label"
               >
         </command>
		 
		 <command
               categoryId="org.polarsys.capella.core.transitions"
               defaultHandler="org.polarsys.capella.core.transition.system.topdown.ui.handlers.LC2PCTransitionHandler"
               id="org.polarsys.capella.core.transition.system.topdown.ui.commands.command18"
               name="%topdownTransition_LC2PC_label"
               >
         </command>
		         
         <command
               categoryId="org.polarsys.capella.core.transitions"
               defaultHandler="org.polarsys.capella.core.transition.system.topdown.ui.handlers.OE2ActorTransitionHandler"
               id="org.polarsys.capella.core.transition.system.topdown.ui.commands.command20"
               name="%topdownTransition_OE2Actor_label"
               >
         </command>

         <command
               categoryId="org.polarsys.capella.core.transitions"
               defaultHandler="org.polarsys.capella.core.transition.system.topdown.ui.handlers.OE2SystemTransitionHandler"
               id="org.polarsys.capella.core.transition.system.topdown.ui.commands.command22"
               name="%topdownTransition_OE2System_label"
               >
         </command>

         <command
               categoryId="org.polarsys.capella.core.transitions"
               defaultHandler="org.polarsys.capella.core.transition.system.topdown.ui.handlers.CapabilityTransitionHandler"
               id="org.polarsys.capella.core.transition.system.topdown.ui.commands.command24"
               name="%topdownTransition_Capability_label"
               >
         </command>

         <command
               categoryId="org.polarsys.capella.core.transitions"
               defaultHandler="org.polarsys.capella.core.transition.system.topdown.ui.handlers.OC2SMTransitionHandler"
               id="org.polarsys.capella.core.transition.system.topdown.ui.commands.command26"
               name="%topdownTransition_OC2SM_label"
               >
         </command>

         <command
               categoryId="org.polarsys.capella.core.transitions"
               defaultHandler="org.polarsys.capella.core.transition.system.topdown.ui.handlers.OA2SCTransitionHandler"
               id="org.polarsys.capella.core.transition.system.topdown.ui.commands.command28"
               name="%topdownTransition_OA2SC_label"
               >
         </command>

         <command
               categoryId="org.polarsys.capella.core.transitions"
               defaultHandler="org.polarsys.capella.core.transition.system.topdown.ui.handlers.OA2SMTransitionHandler"
               id="org.polarsys.capella.core.transition.system.topdown.ui.commands.command30"
               name="%topdownTransition_OA2SM_label"
               >
         </command>
         <command
               categoryId="org.polarsys.capella.core.transitions"
               defaultHandler="org.polarsys.capella.core.transition.system.topdown.ui.handlers.PC2CITransitionHandler"
               id="org.polarsys.capella.core.transition.system.topdown.ui.commands.command32"
               name="%topdownTransition_PC2CI_label">
         </command>
	  
    </extension>
  
   
   <extension point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.polarsys.capella.core.transition.system.topdown.ui.expression.transitionVisibilityModelElementExpression">
               <with
                  variable="selection">
               <and>
                  <iterate ifEmpty="false">
                       <or>
                        <instanceof
                                   value="org.polarsys.capella.common.data.modellingcore.ModelElement">
                             </instanceof>
                             
                        <instanceof
                              value="org.eclipse.sirius.diagram.ui.edit.api.part.IDiagramElementEditPart">
                        </instanceof>
                        <instanceof
                              value="org.eclipse.sirius.diagram.ui.edit.api.part.IDDiagramEditPart">
                        </instanceof>
                       </or>
                  </iterate>
               </and>
            </with>
      </definition>
   </extension>


<extension point="org.eclipse.core.expressions.propertyTesters">
         <propertyTester
             id="org.polarsys.capella.core.diagram.transition.system.topdown.property"
             type="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart"
             namespace="org.polarsys.capella.core.diagram.transition.system.topdown"
             properties="transitionMode"
             class="org.polarsys.capella.core.transition.system.topdown.ui.handlers.tester.CommandTester">
         </propertyTester>    
</extension>

<extension point="org.eclipse.core.expressions.propertyTesters">
         <propertyTester
             id="org.polarsys.capella.core.transition.system.topdown.property"
             type="org.polarsys.capella.common.data.modellingcore.ModelElement"
             namespace="org.polarsys.capella.core.transition.system.topdown"
             properties="transitionMode"
             class="org.polarsys.capella.core.transition.system.topdown.ui.handlers.tester.CommandTester"
         >
         </propertyTester>    
         
         <propertyTester
             id="org.polarsys.capella.core.transition.system.topdown.graphicalProperty"
             type="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart"
             namespace="org.polarsys.capella.core.transition.system.topdown"
             properties="transitionMode"
             class="org.polarsys.capella.core.transition.system.topdown.ui.handlers.tester.CommandTester"
         >
         </propertyTester>
         
   </extension>
<extension
      point="org.polarsys.capella.core.preferences.capellaPreferences">
   <category
         description="%topdownTransition_description"
         name="%topdownTransition_label">
      <item
            id="org.polarsys.capella.core.transition.system.topdown.ui.commands.command2">
      </item>
      <item
            id="org.polarsys.capella.core.transition.system.topdown.ui.commands.command4">
      </item>
      <item
            id="org.polarsys.capella.core.transition.system.topdown.ui.commands.command6">
      </item>
      <item
            id="org.polarsys.capella.core.transition.system.topdown.ui.commands.command8">
      </item>
      <item
            id="org.polarsys.capella.core.transition.system.topdown.ui.commands.command10">
      </item>
      <item
            id="org.polarsys.capella.core.transition.system.topdown.ui.commands.command12">
      </item>
      <item
            id="org.polarsys.capella.core.transition.system.topdown.ui.commands.command14">
      </item>
      <item
            id="org.polarsys.capella.core.transition.system.topdown.ui.commands.command16">
      </item>
      <item
            id="org.polarsys.capella.core.transition.system.topdown.ui.commands.command18">
      </item>
      <item
            id="org.polarsys.capella.core.transition.system.topdown.ui.commands.command20">
      </item>
      <item
            id="org.polarsys.capella.core.transition.system.topdown.ui.commands.command22">
      </item>
      <item
            id="org.polarsys.capella.core.transition.system.topdown.ui.commands.command24">
      </item>
      <item
            id="org.polarsys.capella.core.transition.system.topdown.ui.commands.command26">
      </item>
      <item
            id="org.polarsys.capella.core.transition.system.topdown.ui.commands.command28">
      </item>
      <item
            id="org.polarsys.capella.core.transition.system.topdown.ui.commands.command30">
      </item>
   </category>
</extension>
   
  
  </plugin>
