<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<!--
#
#  Copyright (c) 2006, 2020 THALES GLOBAL SERVICES.
#  
#  This program and the accompanying materials are made available under the
#  terms of the Eclipse Public License 2.0 which is available at
#  http://www.eclipse.org/legal/epl-2.0
#  
#  SPDX-License-Identifier: EPL-2.0
# 
#  Contributors:
#     Thales - initial API and implementation
-->

<plugin>
   <extension
         point="org.eclipse.sirius.externalJavaAction">
      <javaActions
            actionClass="org.polarsys.capella.test.diagram.common.ju.headless.actions.HeadlessSelectElementsFromListWizard"
            id="org.polarsys.capella.core.sirius.analysis.actions.extensions.SelectElementFromListWizard">
      </javaActions>
      <javaActions
            actionClass="org.polarsys.capella.test.diagram.common.ju.headless.actions.HeadlessSelectElementsFromTransferWizard"
            id="org.polarsys.capella.core.sirius.analysis.actions.extensions.SelectElementsFromTransferWizard">
      </javaActions>
      <javaActions
            actionClass="org.polarsys.capella.test.diagram.common.ju.headless.actions.HeadlessSelectLinksFromTransferWizard"
            id="org.polarsys.capella.core.sirius.analysis.actions.extensions.SelectLinksFromTransferWizard">
      </javaActions>
      <javaActions
            actionClass="org.polarsys.capella.test.diagram.common.ju.headless.actions.HeadlessAffectToMessageDialogBox"
            id="org.polarsys.capella.core.sirius.analysis.affectToSequenceMessageDialogBox">
      </javaActions>
      <javaActions
            actionClass="org.polarsys.capella.test.diagram.common.ju.headless.actions.HeadlessEditCapellaPropertyWizard"
            id="org.polarsys.capella.core.sirius.analysis.actions.extensions.EditCapellaPropertyWizard">
      </javaActions>
      <javaActions
            actionClass="org.polarsys.capella.test.diagram.common.ju.headless.actions.HeadlessSelectElementsFromCheckBoxWizard"
            id="org.polarsys.capella.core.sirius.analysis.actions.extensions.SelectElementsFromCheckBoxWizard">
      </javaActions>
      <javaActions
            actionClass="org.polarsys.capella.test.diagram.common.ju.headless.actions.HeadlessSelectElementsFromTransferWizard"
            id="org.polarsys.capella.core.sirius.analysis.actions.extensions.SelectLinksFromTransferWizardIDB">
      </javaActions>
      <javaActions
            actionClass="org.polarsys.capella.test.diagram.common.ju.headless.actions.HeadlessSelectOrCreateFunctionalExchangeWizard"
            id="org.polarsys.capella.core.sirius.analysis.actions.extensions.SelectOrCreateFunctionalExchangeWizard">
      </javaActions>
      
   </extension>
   

</plugin>
