<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!--
  Copyright (c) 2016, 2017 THALES GLOBAL SERVICES.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html

  Contributors:
       Thales - initial API and implementation
-->
<target name="Capella" sequenceNumber="1450804471">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.platform.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.query.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.transaction.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.gmf.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.executable.feature.group" version="0.0.0"/>
      <unit id="com.ibm.icu" version="0.0.0"/>
      <repository location="http://download.eclipse.org/releases/neon"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.sirius.runtime.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.runtime.ide.ui.feature.group" version="0.0.0"/>
      <repository location="http://download.eclipse.org/sirius/updates/releases/4.1.1/neon"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.polarsys.kitalpha.ad.feature.feature.group" version="0.0.0"/>
      <unit id="org.polarsys.kitalpha.ad.integration.amalgam.feature.feature.group" version="0.0.0"/>
      <unit id="org.polarsys.kitalpha.ad.integration.emde.feature.feature.group" version="0.0.0"/>
      <unit id="org.polarsys.kitalpha.ad.integration.sirius.feature.feature.group" version="0.0.0"/>
      <unit id="org.polarsys.kitalpha.cadence.feature.feature.group" version="0.0.0"/>
      <unit id="org.polarsys.kitalpha.common.feature.feature.group" version="0.0.0"/>
      <unit id="org.polarsys.kitalpha.emde.feature.feature.group" version="0.0.0"/>
      <unit id="org.polarsys.kitalpha.emde.ui.feature.feature.group" version="0.0.0"/>
      <unit id="org.polarsys.kitalpha.model.common.commands.feature.feature.group" version="0.0.0"/>
      <unit id="org.polarsys.kitalpha.model.common.scrutiny.feature.feature.group" version="0.0.0"/>
      <unit id="org.polarsys.kitalpha.model.common.share.feature.feature.group" version="0.0.0"/>
      <unit id="org.polarsys.kitalpha.model.detachment.contrib.viewpoints.feature.feature.group" version="0.0.0"/>
      <unit id="org.polarsys.kitalpha.model.detachment.feature.feature.group" version="0.0.0"/>
      <unit id="org.polarsys.kitalpha.model.detachment.ui.feature.feature.group" version="0.0.0"/>
      <unit id="org.polarsys.kitalpha.patterns.feature.feature.group" version="0.0.0"/>
      <unit id="org.polarsys.kitalpha.report.feature.feature.group" version="0.0.0"/>
      <unit id="org.polarsys.kitalpha.report.ui.feature.feature.group" version="0.0.0"/>
      <unit id="org.polarsys.kitalpha.transposer.feature.feature.group" version="0.0.0"/>
      <repository location="https://hudson.polarsys.org/kitalpha/job/Kitalpha_master/lastSuccessfulBuild/artifact/result/publish/kitalpha_runtime/site.p2"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.diffmerge.sdk.feature.feature.group" version="0.0.0"/>
      <repository location="http://download.eclipse.org/diffmerge/releases/0.7.0/emf-diffmerge-site"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.diffmerge.patterns.sdk.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.diffmerge.patterns.sirius.sdk.feature.feature.group" version="0.0.0"/>
      <repository location="http://download.eclipse.org/diffmerge/releases/0.7.0/edm-patterns-site"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.amalgam.explorer.activity.feature.group" version="0.0.0"/>
      <repository location="http://download.eclipse.org/modeling/amalgam/updates/nightly/1.7.0-N20160409-021353/neon"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.sirius.query.legacy.feature.feature.group" version="0.0.0"/>
      <repository location="http://download.eclipse.org/sirius/updates/legacy/1.1.0"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.apache.log4j" version="1.2.15.v201012070815"/>
      <unit id="org.apache.commons.lang" version="2.4.0.v201005080502"/>
      <unit id="org.apache.commons.net" version="3.2.0.v201305141515"/>
      <repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20130827064939/repository"/>
    </location>
   <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="com.google.guava" version="15.0.0.v201403281430"/>
      <repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20140525021250/repository"/>
   </location>
  </locations>
</target>
