/LogicalFunction.java
/LogicalFunction__allocatingSystemComponents.java
/LogicalFunction__childrenLogicalFunctions.java
/LogicalFunction__containedLogicalFunctions.java
/LogicalFunction__realizedSystemFunctions.java
/LogicalFunction__realizingPhysicalFunctions.java
/LogicalComponent.java
/LogicalComponent__allocatedLogicalFunctions.java
/LogicalComponent__realizedSystemComponents.java
/LogicalComponent__realizingPhysicalComponents.java
/LogicalComponent__subLogicalComponents.java
/LogicalArchitecture.java
/LogicalArchitecture__allocatedSystemAnalyses.java
/LogicalArchitecture__allocatedSystemAnalysisRealizations.java
/LogicalArchitecture__allocatingPhysicalArchitectures.java
/LogicalArchitecture__containedCapabilityRealizationPkg.java
/LogicalArchitecture__containedLogicalFunctionPkg.java
/CapabilityInvolvement__capability.java
/CapabilityInvolvement__systemComponent.java
/CapabilityRealization.java
/CapabilityRealization__realizedCapabilities.java
/CapabilityRealization__realizedCapabilityRealizations.java
/CapabilityRealization__realizingCapabilityRealizations.java
