/InstanceRole.java
/InstanceRole__abstractEnds.java
/FragmentEnd.java
/FragmentEnd__abstractFragment.java
/AbstractFunctionAbstractCapabilityInvolvement.java
/AbstractFunctionAbstractCapabilityInvolvement__capability.java
/AbstractFunctionAbstractCapabilityInvolvement__function.java
/AbstractEnd.java
/AbstractEnd__covered.java
/CombinedFragment.java
/CombinedFragment__expressionGates.java
/InteractionUse.java
/InteractionUse__actualGates.java
/ScenarioRealization.java
/ScenarioRealization__realizedScenario.java
/ScenarioRealization__realizingScenario.java
/Scenario.java
/Scenario__containedFunctions.java
/Scenario__containedParts.java
/Scenario__realizedScenarios.java
/Scenario__realizingScenarios.java
/Scenario__referencedScenarios.java
/AbstractCapabilityInclude.java
/AbstractCapabilityInclude__inclusion.java
/AbstractCapability__extending.java
/AbstractCapability__incomingCapabilityAllocation.java
/AbstractCapability__outgoingCapabilityAllocation.java
/AbstractCapability__subGeneralizations.java
/AbstractCapability__including.java
/FunctionalChainAbstractCapabilityInvolvement.java
/FunctionalChainAbstractCapabilityInvolvement__capability.java
/FunctionalChainAbstractCapabilityInvolvement__functionalChain.java
/SequenceMessage.java
/SequenceMessage__invokedOperation.java
/SequenceMessage__receivingFunction.java
/SequenceMessage__receivingPart.java
/SequenceMessage__sendingFunction.java
/SequenceMessage__sendingPart.java
/ExecutionEnd.java
/ExecutionEnd__execution.java
/Execution.java
/Execution__covered.java
/AbstractCapabilityExtend__extension.java
/AbstractCapabilityRealization.java
/AbstractCapabilityRealization__realizedCapability.java
/AbstractCapabilityRealization__realizingCapability.java
/AbstractCapabilityExtensionPoint.java
/AbstractCapabilityExtensionPoint__abstractCapability.java
/MessageEnd.java
/MessageEnd__message.java
/InteractionState.java
/InteractionState__covered.java
/AbstractCapability__extendedAbstractCapabilities.java
/AbstractCapability__includedAbstractCapabilities.java
/AbstractCapability__includingAbstractCapabilities.java
/AbstractCapability__sub.java
/AbstractCapability__super.java
/AbstractCapability.java
/AbstractCapability__extendingAbstractCapabilities.java
/AbstractCapability__involvedAbstractFunctions.java
/AbstractCapability__involvedFunctionalChains.java
/AbstractCapabilityGeneralization.java
/AbstractCapabilityGeneralization__sub.java
