<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
  Copyright (c) 2017, 2018 THALES GLOBAL SERVICES.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html

  Contributors:
       Thales - initial API and implementation
-->
<plugin>
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections contributorId="org.polarsys.capella.core.data.capellamodeller.properties">
         <propertySection tab="DescriptionCapella"
               class="org.polarsys.capella.core.ui.properties.richtext.sections.CapellaDescriptionPropertySection"
			   filter="org.polarsys.capella.core.ui.properties.richtext.sections.CapellaDescriptionPropertySection"
               id="org.polarsys.capella.core.ui.properties.descriptions.sections.CapellaDescriptionPropertySection.navigator">
            <input
                  type="org.polarsys.capella.core.data.capellacore.CapellaElement">
            </input>
            <input
                  type="org.eclipse.sirius.viewpoint.DRepresentationDescriptor">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	  <propertySections contributorId="org.eclipse.sirius.diagram.ui">
         <propertySection tab="DescriptionSiriusDiagram"
               class="org.polarsys.capella.core.ui.properties.richtext.sections.CapellaDescriptionPropertySection"
			   filter="org.polarsys.capella.core.ui.properties.richtext.sections.CapellaDescriptionPropertySection"
               id="org.polarsys.capella.core.ui.properties.descriptions.sections.CapellaDescriptionPropertySection.diagram">
         </propertySection>
      </propertySections>
   </extension>
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	  <propertySections contributorId="org.eclipse.sirius.table.ui.EditorID">
         <propertySection tab="DescriptionSiriusTable"
               class="org.polarsys.capella.core.ui.properties.richtext.sections.CapellaDescriptionPropertySection"
			   filter="org.polarsys.capella.core.ui.properties.richtext.sections.CapellaDescriptionPropertySection"
               id="org.polarsys.capella.core.ui.properties.descriptions.sections.CapellaDescriptionPropertySection.table">
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.polarsys.kitalpha.richtext.widget.propertySheetPageDelegate">
      <propertySheetDelegate
            contributorId="org.polarsys.capella.core.data.capellamodeller.properties"
            delegateProvider="org.polarsys.capella.core.ui.properties.richtext.propertysheet.CapellaPropertySheetProvider">
      </propertySheetDelegate>
   </extension>
   <extension
         point="org.polarsys.kitalpha.richtext.widget.tools.ext.openLinkStrategy">
      <openStrategy
            strategy="org.polarsys.capella.core.ui.properties.richtext.navigation.CapellaNavigationModelElement">
      </openStrategy>
   </extension>
   <extension
         point="org.polarsys.kitalpha.richtext.widget.editorInputFeatureContribution">
      <featureContribution
            class="org.polarsys.capella.core.ui.properties.richtext.contribution.CapellaEditorInputFeatureContribution">
      </featureContribution>
   </extension>
   <extension
         point="org.polarsys.kitalpha.richtext.widget.editorWidgetContribution">
      <editorWidgetContribution
            class="org.polarsys.capella.core.ui.properties.richtext.CapellaMDERichtextWidgetEditorImpl">
      </editorWidgetContribution>
   </extension>
</plugin>
