<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
  Copyright (c) 2017, 2023 THALES GLOBAL SERVICES.
  
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0
  
  SPDX-License-Identifier: EPL-2.0
  
  Contributors:
       Thales - initial API and implementation
-->
<plugin>
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections contributorId="org.polarsys.capella.core.data.capellamodeller.properties">
         <propertySection tab="DescriptionCapella"
               class="org.polarsys.capella.core.ui.properties.richtext.sections.CapellaDescriptionPropertySection"
			   filter="org.polarsys.capella.core.ui.properties.richtext.sections.CapellaDescriptionPropertySection"
               id="org.polarsys.capella.core.ui.properties.descriptions.sections.CapellaDescriptionPropertySection.navigator">
            <input
                  type="org.polarsys.capella.core.data.capellacore.CapellaElement">
            </input>
            <input
                  type="org.eclipse.sirius.viewpoint.DRepresentationDescriptor">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	  <propertySections contributorId="org.eclipse.sirius.diagram.ui">
         <propertySection tab="DescriptionSiriusDiagram"
               class="org.polarsys.capella.core.ui.properties.richtext.sections.CapellaDescriptionPropertySection"
			   filter="org.polarsys.capella.core.ui.properties.richtext.sections.CapellaDescriptionPropertySection"
               id="org.polarsys.capella.core.ui.properties.descriptions.sections.CapellaDescriptionPropertySection.diagram">
         </propertySection>
      </propertySections>
   </extension>
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	  <propertySections contributorId="org.eclipse.sirius.table.ui.EditorID">
         <propertySection tab="DescriptionSiriusTable"
               class="org.polarsys.capella.core.ui.properties.richtext.sections.CapellaDescriptionPropertySection"
			   filter="org.polarsys.capella.core.ui.properties.richtext.sections.CapellaDescriptionPropertySection"
               id="org.polarsys.capella.core.ui.properties.descriptions.sections.CapellaDescriptionPropertySection.table">
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.polarsys.kitalpha.richtext.widget.propertySheetPageDelegate">
      <propertySheetDelegate
            contributorId="org.polarsys.capella.core.data.capellamodeller.properties"
            delegateProvider="org.polarsys.capella.core.ui.properties.richtext.propertysheet.CapellaPropertySheetProvider">
      </propertySheetDelegate>
   </extension>
   <extension
         point="org.polarsys.kitalpha.richtext.widget.tools.ext.openLinkStrategy">
      <openStrategy
            strategy="org.polarsys.capella.core.ui.properties.richtext.navigation.CapellaNavigationModelElement">
      </openStrategy>
   </extension>
   <extension
         point="org.polarsys.kitalpha.richtext.widget.editorInputFeatureContribution">
      <featureContribution
            class="org.polarsys.capella.core.ui.properties.richtext.contribution.CapellaEditorInputFeatureContribution">
      </featureContribution>
   </extension>
   <extension
         point="org.polarsys.kitalpha.richtext.widget.editorWidgetContribution">
      <editorWidgetContribution
            class="org.polarsys.capella.core.ui.properties.richtext.CapellaMDERichtextWidgetEditorImpl">
      </editorWidgetContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.polarsys.capella.core.platform.sirius.ui.navigator"
            defaultHandler="org.polarsys.capella.core.ui.properties.richtext.handlers.CopyAsHyperlinkForDescriptionHandler"
            id="org.polarsys.capella.core.ui.properties.richtext.copyAsHyperlinkForDescription"
            name="%command.copyAsHyperlinkForDescription.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.polarsys.capella.core.copyAs?after=org.polarsys.capella.core.platform.sirius.ui.actions.CopyPath">
         <command
               commandId="org.polarsys.capella.core.ui.properties.richtext.copyAsHyperlinkForDescription"
               icon="icons/full/obj16/copy_as_hyperlink.gif"
               label="%menu.copyAsHyperlinkForDescription.label"
               style="push"
               tooltip="%menu.copyAsHyperlinkForDescription.tooltip">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="org.polarsys.capella.core.ui.properties.richtext.enablementExpression.CopyAsHyperlinkForDescription">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.polarsys.capella.core.ui.properties.richtext.copyAsHyperlinkForDescription"
            schemeId="org.polarsys.capella.core.defaultAcceleratorConfiguration"
            sequence="CTRL+SHIFT+C">
      </key>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.polarsys.capella.core.ui.properties.richtext.enablementExpression.CopyAsHyperlinkForDescription">
         <with
               variable="selection">
               <iterate 
                   ifEmpty="false">
                   <and>
                       <or>
                           <instanceof
                               value="org.eclipse.emf.ecore.EObject">
                           </instanceof>
                           <adapt
                               type="org.polarsys.kitalpha.emde.model.Element">
                           </adapt>
                           <adapt
                               type="org.eclipse.sirius.viewpoint.DRepresentationDescriptor">
                           </adapt>
                      </or>
                      <reference
                          definitionId="org.polarsys.capella.common.platform.sirius.ted.definition.checkElementOfOpenedSessionOnCompareEditorPartOnly">
                      </reference>
                  </and>
              </iterate>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.polarsys.capella.core.ui.properties.richtext.editor.CapellaMDERichTextEditor"
            default="true"
            icon="icons/full/obj16/open_in_editor.gif"
            id="org.polarsys.capella.core.ui.properties.richtext.editor"
            matchingStrategy="org.polarsys.kitalpha.richtext.widget.editor.MDERichTextEditorMatchingStrategy"
            name="%capella.richtext.editor.name">
      </editor>
   </extension>
</plugin>
