<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
  Copyright (c) 2017, 2018 THALES GLOBAL SERVICES.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html

  Contributors:
       Thales - initial API and implementation
-->
<plugin>
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections contributorId="org.polarsys.capella.core.data.capellamodeller.properties">
         <propertySection tab="DescriptionCapella"
               class="org.polarsys.capella.core.ui.properties.richtext.sections.CapellaDescriptionPropertySection"
			   filter="org.polarsys.capella.core.ui.properties.richtext.sections.CapellaDescriptionPropertySection"
               id="org.polarsys.capella.core.ui.properties.descriptions.sections.CapellaDescriptionPropertySection.navigator">
            <input
                  type="org.polarsys.capella.core.data.capellacore.CapellaElement">
            </input>
         </propertySection>
         <propertySection tab="DescriptionCapella"
               class="org.polarsys.capella.core.ui.properties.richtext.sections.DiagramDescriptionPropertySection"
			   filter="org.polarsys.capella.core.ui.properties.richtext.sections.DiagramDescriptionPropertySection"
               id="org.polarsys.capella.core.ui.properties.descriptions.sections.DiagramaDescriptionPropertySection.navigator">
            <input
                  type="org.eclipse.sirius.viewpoint.DRepresentationDescriptor">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	  <propertySections contributorId="org.eclipse.sirius.diagram.ui">
         <propertySection tab="DescriptionSiriusDiagram"
               class="org.polarsys.capella.core.ui.properties.richtext.sections.CapellaDescriptionPropertySection"
			   filter="org.polarsys.capella.core.ui.properties.richtext.sections.CapellaDescriptionPropertySection"
               id="org.polarsys.capella.core.ui.properties.descriptions.sections.CapellaDescriptionPropertySection.diagram">
         </propertySection>
         <propertySection tab="DescriptionSiriusDiagram"
               class="org.polarsys.capella.core.ui.properties.richtext.sections.DiagramDescriptionPropertySection"
               filter="org.polarsys.capella.core.ui.properties.richtext.sections.DiagramDescriptionPropertySection"
               id="org.polarsys.capella.core.ui.properties.descriptions.section.DiagramDescriptionPropertySection.diagram">
            <input
                  type="org.eclipse.sirius.diagram.ui.edit.api.part.IDDiagramEditPart">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	  <propertySections contributorId="org.eclipse.sirius.table.ui.EditorID">
         <propertySection tab="DescriptionSiriusTable"
               class="org.polarsys.capella.core.ui.properties.richtext.sections.CapellaDescriptionPropertySection"
			   filter="org.polarsys.capella.core.ui.properties.richtext.sections.CapellaDescriptionPropertySection"
               id="org.polarsys.capella.core.ui.properties.descriptions.sections.CapellaDescriptionPropertySection.table">
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.polarsys.kitalpha.richtext.widget.propertySheetPageDelegate">
      <propertySheetDelegate
            contributorId="org.polarsys.capella.core.data.capellamodeller.properties"
            delegateProvider="org.polarsys.capella.core.ui.properties.richtext.propertysheet.CapellaPropertySheetProvider">
      </propertySheetDelegate>
   </extension>
   <extension
         point="org.polarsys.kitalpha.richtext.widget.tools.ext.openLinkStrategy">
      <openStrategy
            strategy="org.polarsys.capella.core.ui.properties.richtext.navigation.CapellaNavigationModelElement">
      </openStrategy>
   </extension>
   <extension
         point="org.polarsys.kitalpha.richtext.widget.editorInputFeatureContribution">
      <featureContribution
            class="org.polarsys.capella.core.ui.properties.richtext.contribution.CapellaEditorInputFeatureContribution">
      </featureContribution>
   </extension>
   <extension
         point="org.polarsys.kitalpha.richtext.widget.editorWidgetContribution">
      <editorWidgetContribution
            class="org.polarsys.capella.core.ui.properties.richtext.CapellaMDERichtextWidgetEditorImpl">
      </editorWidgetContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.polarsys.capella.core.platform.sirius.ui.navigator"
            defaultHandler="org.polarsys.capella.core.ui.properties.richtext.handlers.CopyAsDescriptionLinkHandler"
            id="org.polarsys.capella.core.ui.properties.richtext.CopyAsDescriptionLink"
            name="%command.copyAsDescriptionLink.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any?after=org.polarsys.capella.core.platform.sirius.ui.actions.CopyPath">
         <command
               commandId="org.polarsys.capella.core.ui.properties.richtext.CopyAsDescriptionLink"
               icon="icons/full/obj16/copy_as_link.gif"
               label="%menu.copyAsDescriptionLink.label"
               style="push"
               tooltip="%menu.copyAsDescriptionLink.tooltip">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="org.polarsys.capella.core.ui.properties.richtext.enablementExpression.CopyAsDescriptionLink">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.polarsys.capella.core.ui.properties.richtext.CopyAsDescriptionLink"
            schemeId="org.polarsys.capella.core.defaultAcceleratorConfiguration"
            sequence="CTRL+SHIFT+C">
      </key>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.polarsys.capella.core.ui.properties.richtext.enablementExpression.CopyAsDescriptionLink">
         <with
               variable="selection">
               <iterate 
                   ifEmpty="false">
                   <and>
                       <or>
                           <instanceof
                               value="org.eclipse.emf.ecore.EObject">
                           </instanceof>
                           <adapt
                               type="org.polarsys.kitalpha.emde.model.Element">
                           </adapt>
                           <adapt
                               type="org.eclipse.sirius.viewpoint.DRepresentationDescriptor">
                           </adapt>
                      </or>
                      <reference
                          definitionId="org.polarsys.capella.common.platform.sirius.ted.definition.checkElementOfOpenedSessionOnCompareEditorPartOnly">
                      </reference>
                  </and>
              </iterate>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.polarsys.capella.core.ui.properties.richtext.editor.CapellaMDERichTextEditor"
            default="true"
            icon="icons/full/obj16/open_in_editor.gif"
            id="org.polarsys.capella.core.ui.properties.richtext.editor"
            matchingStrategy="org.polarsys.kitalpha.richtext.widget.editor.MDERichTextEditorMatchingStrategy"
            name="%capella.richtext.editor.name">
      </editor>
   </extension>
</plugin>
