<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  Copyright (c) 2017, 2019 THALES GLOBAL SERVICES.
  
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0
  
  SPDX-License-Identifier: EPL-2.0

  Contributors:
       Thales - initial API and implementation
-->
<plugin>
   <extension
         point="org.polarsys.capella.core.tiger">
      <resolver
            class="org.polarsys.capella.core.projection.common.ui.resolver.UIResolver"
            id="org.polarsys.capella.core.projection.common.uiResolver"
            priority="low">
      </resolver>
   </extension>
   
   <extension point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.polarsys.capella.core.projection.commands.ui.expression.transitionVisibilityModelElementExpression">
               <with
                  variable="selection">
               <and>
                  <iterate ifEmpty="false">
                        <or>
                        <instanceof
                              value="org.polarsys.capella.common.data.modellingcore.ModelElement">
                        </instanceof>
                        <instanceof
                              value="org.eclipse.sirius.diagram.ui.edit.api.part.IDiagramElementEditPart">
                        </instanceof>
                        <instanceof
                              value="org.eclipse.sirius.diagram.ui.edit.api.part.IDDiagramEditPart">
                        </instanceof>
                       </or>
                  </iterate>
               </and>
            </with>
               
      </definition>
   </extension>
</plugin>
