<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  Copyright (c) 2006, 2019 THALES GLOBAL SERVICES.
  
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0
  
  SPDX-License-Identifier: EPL-2.0
  
  Contributors:
       Thales - initial API and implementation
-->
<plugin>
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections contributorId="org.polarsys.capella.core.data.capellamodeller.properties">
         <propertySection
               class="org.polarsys.capella.core.data.information.communication.properties.sections.CommunicationLinkSection"
               filter="org.polarsys.capella.core.data.information.communication.properties.sections.CommunicationLinkSection"
               id="org.polarsys.capella.core.data.information.communication.properties.sections.CommunicationLinkSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.communication.properties.sections.ExceptionSection"
               filter="org.polarsys.capella.core.data.information.communication.properties.sections.ExceptionSection"
               id="org.polarsys.capella.core.data.information.communication.properties.sections.ExceptionSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.communication.properties.sections.MessageReferenceSection"
               filter="org.polarsys.capella.core.data.information.communication.properties.sections.MessageReferenceSection"
               id="org.polarsys.capella.core.data.information.communication.properties.sections.MessageReferenceSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.communication.properties.sections.MessageSection"
               filter="org.polarsys.capella.core.data.information.communication.properties.sections.MessageSection"
               id="org.polarsys.capella.core.data.information.communication.properties.sections.MessageSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.communication.properties.sections.SignalInstanceSection"
               filter="org.polarsys.capella.core.data.information.communication.properties.sections.SignalInstanceSection"
               id="org.polarsys.capella.core.data.information.communication.properties.sections.SignalInstanceSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.communication.properties.sections.SignalSection"
               filter="org.polarsys.capella.core.data.information.communication.properties.sections.SignalSection"
               id="org.polarsys.capella.core.data.information.communication.properties.sections.SignalSection"
               tab="BaseCapella">
         </propertySection>
      </propertySections>
   </extension>
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">      
	  <propertySections contributorId="org.eclipse.sirius.diagram.ui">
         <propertySection
               class="org.polarsys.capella.core.data.information.communication.properties.sections.CommunicationLinkSection"
               filter="org.polarsys.capella.core.data.information.communication.properties.sections.CommunicationLinkSection"
               id="org.polarsys.capella.core.data.information.communication.properties.sections.CommunicationLinkSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.communication.properties.sections.ExceptionSection"
               filter="org.polarsys.capella.core.data.information.communication.properties.sections.ExceptionSection"
               id="org.polarsys.capella.core.data.information.communication.properties.sections.ExceptionSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.communication.properties.sections.MessageReferenceSection"
               filter="org.polarsys.capella.core.data.information.communication.properties.sections.MessageReferenceSection"
               id="org.polarsys.capella.core.data.information.communication.properties.sections.MessageReferenceSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.communication.properties.sections.MessageSection"
               filter="org.polarsys.capella.core.data.information.communication.properties.sections.MessageSection"
               id="org.polarsys.capella.core.data.information.communication.properties.sections.MessageSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.communication.properties.sections.SignalInstanceSection"
               filter="org.polarsys.capella.core.data.information.communication.properties.sections.SignalInstanceSection"
               id="org.polarsys.capella.core.data.information.communication.properties.sections.SignalInstanceSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.communication.properties.sections.SignalSection"
               filter="org.polarsys.capella.core.data.information.communication.properties.sections.SignalSection"
               id="org.polarsys.capella.core.data.information.communication.properties.sections.SignalSection"
               tab="BaseSiriusDiagram">
         </propertySection>
      </propertySections>
   </extension>
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">      
	  <propertySections contributorId="org.eclipse.sirius.table.ui.EditorID">
         <propertySection
               class="org.polarsys.capella.core.data.information.communication.properties.sections.CommunicationLinkSection"
               filter="org.polarsys.capella.core.data.information.communication.properties.sections.CommunicationLinkSection"
               id="org.polarsys.capella.core.data.information.communication.properties.sections.CommunicationLinkSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.communication.properties.sections.ExceptionSection"
               filter="org.polarsys.capella.core.data.information.communication.properties.sections.ExceptionSection"
               id="org.polarsys.capella.core.data.information.communication.properties.sections.ExceptionSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.communication.properties.sections.MessageReferenceSection"
               filter="org.polarsys.capella.core.data.information.communication.properties.sections.MessageReferenceSection"
               id="org.polarsys.capella.core.data.information.communication.properties.sections.MessageReferenceSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.communication.properties.sections.MessageSection"
               filter="org.polarsys.capella.core.data.information.communication.properties.sections.MessageSection"
               id="org.polarsys.capella.core.data.information.communication.properties.sections.MessageSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.communication.properties.sections.SignalInstanceSection"
               filter="org.polarsys.capella.core.data.information.communication.properties.sections.SignalInstanceSection"
               id="org.polarsys.capella.core.data.information.communication.properties.sections.SignalInstanceSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.communication.properties.sections.SignalSection"
               filter="org.polarsys.capella.core.data.information.communication.properties.sections.SignalSection"
               id="org.polarsys.capella.core.data.information.communication.properties.sections.SignalSection"
               tab="BaseSiriusTable">
         </propertySection>
      </propertySections>
   </extension>
</plugin>
