<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  Copyright (c) 2006, 2020 THALES GLOBAL SERVICES.
  
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0
  
  SPDX-License-Identifier: EPL-2.0
  
  Contributors:
       Thales - initial API and implementation
-->
<plugin>
   <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <constraintProvider>
         <package
               namespaceUri="http://www.polarsys.org/capella/core/information/communication/7.0.0">
         </package>
         <constraints
               categories="capella.category/design/well-formedness/interfaces">
            <constraint
                  class="org.polarsys.capella.core.data.information.communication.CommunicationLinkkindRule"
                  id="DWF_I_09"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="%constraint.name"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  {0} (CommunicationLink) of kind [{1}] should only reference Exchange Item of kind [{2}] (current: {3} (ExchangeItem) [{4}])
               </message>
               <description>
                  %constraint.description
               </description>
               <target
                     class="CommunicationLink">
               </target>
            </constraint>
            <constraint
                  class="org.polarsys.capella.core.data.information.communication.CommunicationLinkProtocolRule"
                  id="DWF_I_10"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="%constraint.name.0"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  {0} (CommunicationLink) of kind [{1}] should only have protocol of kind [{2}].
               </message>
               <description>
                  %constraint.description.0
               </description>
               <target
                     class="CommunicationLink">
               </target>
            </constraint>
         </constraints>
         <constraints
               categories="capella.category/transition/consistency/interfaces">
              <constraint
                    class="org.polarsys.capella.core.data.information.communication.CL01_CommunicationLink_KindProtocol"
                    id="TC_I_04"
                    isEnabledByDefault="true"
                    lang="Java"
                    mode="Batch"
                    name="%constraint.name.1"
                    severity="WARNING"
                    statusCode="1">
               <message>
                  %constraint.message.1
               </message>
               <description>
                  %constraint.description.1
               </description>
               <target
                     class="CommunicationLink">
               </target>
            </constraint>
            <constraint
                  class="org.polarsys.capella.core.data.information.communication.ME01G_CommunicationLink"
                  id="TC_I_05"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="%constraint.name.2"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  %constraint.message.2
               </message>
               <description>
                  %constraint.description.2
               </description>
               <target
                     class="CommunicationLink">
               </target>
            </constraint>
         </constraints>
      </constraintProvider>
   </extension>
</plugin>
