<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  Copyright (c) 2006, 2019 THALES GLOBAL SERVICES.
  
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0
  
  SPDX-License-Identifier: EPL-2.0
  
  Contributors:
       Thales - initial API and implementation
-->
<plugin>
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections contributorId="org.polarsys.capella.core.data.capellamodeller.properties">
         <propertySection
               class="org.polarsys.capella.core.data.information.properties.sections.AssociationSection"
               filter="org.polarsys.capella.core.data.information.properties.sections.AssociationSection"
               id="org.polarsys.capella.core.data.information.section.Association"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.properties.sections.ClassSection"
               filter="org.polarsys.capella.core.data.information.properties.sections.ClassSection"
               id="org.polarsys.capella.core.data.information.section.Class"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.properties.sections.CollectionSection"
               filter="org.polarsys.capella.core.data.information.properties.sections.CollectionSection"
               id="org.polarsys.capella.core.data.information.section.Collection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.properties.sections.DataPkgSection"
               filter="org.polarsys.capella.core.data.information.properties.sections.DataPkgSection"
               id="org.polarsys.capella.core.data.information.section.DataPkg"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.properties.sections.DomainElementSection"
               filter="org.polarsys.capella.core.data.information.properties.sections.DomainElementSection"
               id="org.polarsys.capella.core.data.information.section.DomainElement"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.properties.sections.ExchangeItemSection"
               filter="org.polarsys.capella.core.data.information.properties.sections.ExchangeItemSection"
               id="org.polarsys.capella.core.data.information.section.ExchangeItem"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.properties.sections.ExchangeItemElementSection"
               filter="org.polarsys.capella.core.data.information.properties.sections.ExchangeItemElementSection"
               id="org.polarsys.capella.core.data.information.section.ExchangeItemElement"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.properties.sections.ExchangeItemInstanceSection"
               filter="org.polarsys.capella.core.data.information.properties.sections.ExchangeItemInstanceSection"
               id="org.polarsys.capella.core.data.information.section.ExchangeItemInstance"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.properties.sections.ExchangeItemRealizationSection"
               filter="org.polarsys.capella.core.data.information.properties.sections.ExchangeItemRealizationSection"
               id="org.polarsys.capella.core.data.information.section.ExchangeItemRealization"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.properties.sections.InformationRealizationSection"
               filter="org.polarsys.capella.core.data.information.properties.sections.InformationRealizationSection"
               id="org.polarsys.capella.core.data.information.section.InformationRealization"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.properties.sections.KeyPartSection"
               filter="org.polarsys.capella.core.data.information.properties.sections.KeyPartSection"
               id="org.polarsys.capella.core.data.information.section.KeyPart"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.properties.sections.OperationAllocationSection"
               filter="org.polarsys.capella.core.data.information.properties.sections.OperationAllocationSection"
               id="org.polarsys.capella.core.data.information.section.OperationAllocation"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.properties.sections.ParameterSection"
               filter="org.polarsys.capella.core.data.information.properties.sections.ParameterSection"
               id="org.polarsys.capella.core.data.information.section.Parameter"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.properties.sections.PortAllocationSection"
               filter="org.polarsys.capella.core.data.information.properties.sections.PortAllocationSection"
               id="org.polarsys.capella.core.data.information.section.PortAllocation"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.properties.sections.PortRealizationSection"
               filter="org.polarsys.capella.core.data.information.properties.sections.PortRealizationSection"
               id="org.polarsys.capella.core.data.information.section.PortRealization"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.properties.sections.PropertySection"
               filter="org.polarsys.capella.core.data.information.properties.sections.PropertySection"
               id="org.polarsys.capella.core.data.information.section.Property"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.properties.sections.ServiceSection"
               filter="org.polarsys.capella.core.data.information.properties.sections.ServiceSection"
               id="org.polarsys.capella.core.data.information.section.Service"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.properties.sections.UnionPropertySection"
               filter="org.polarsys.capella.core.data.information.properties.sections.UnionPropertySection"
               id="org.polarsys.capella.core.data.information.section.UnionProperty"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.properties.sections.UnionSection"
               filter="org.polarsys.capella.core.data.information.properties.sections.UnionSection"
               id="org.polarsys.capella.core.data.information.section.Union"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.properties.sections.UnitSection"
               filter="org.polarsys.capella.core.data.information.properties.sections.UnitSection"
               id="org.polarsys.capella.core.data.information.section.Unit"
               tab="BaseCapella">
         </propertySection>
      </propertySections>
   </extension>
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">      
	  <propertySections contributorId="org.eclipse.sirius.diagram.ui">
         <propertySection
               class="org.polarsys.capella.core.data.information.properties.sections.AssociationSection"
               filter="org.polarsys.capella.core.data.information.properties.sections.AssociationSection"
               id="org.polarsys.capella.core.data.information.section.AssociationBasePropertySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.properties.sections.ClassSection"
               filter="org.polarsys.capella.core.data.information.properties.sections.ClassSection"
               id="org.polarsys.capella.core.data.information.section.ClassBasePropertySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.properties.sections.CollectionSection"
               filter="org.polarsys.capella.core.data.information.properties.sections.CollectionSection"
               id="org.polarsys.capella.core.data.information.section.CollectionBasePropertySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.properties.sections.DataPkgSection"
               filter="org.polarsys.capella.core.data.information.properties.sections.DataPkgSection"
               id="org.polarsys.capella.core.data.information.section.DataPkgBasePropertySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.properties.sections.DomainElementSection"
               filter="org.polarsys.capella.core.data.information.properties.sections.DomainElementSection"
               id="org.polarsys.capella.core.data.information.section.DomainElementBasePropertySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.properties.sections.ExchangeItemSection"
               filter="org.polarsys.capella.core.data.information.properties.sections.ExchangeItemSection"
               id="org.polarsys.capella.core.data.information.section.ExchangeItemBasePropertySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.properties.sections.ExchangeItemElementSection"
               filter="org.polarsys.capella.core.data.information.properties.sections.ExchangeItemElementSection"
               id="org.polarsys.capella.core.data.information.section.ExchangeItemElementBasePropertySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.properties.sections.ExchangeItemInstanceSection"
               filter="org.polarsys.capella.core.data.information.properties.sections.ExchangeItemInstanceSection"
               id="org.polarsys.capella.core.data.information.section.ExchangeItemInstanceBasePropertySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.properties.sections.ExchangeItemRealizationSection"
               filter="org.polarsys.capella.core.data.information.properties.sections.ExchangeItemRealizationSection"
               id="org.polarsys.capella.core.data.information.section.ExchangeItemRealizationBasePropertySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.properties.sections.InformationRealizationSection"
               filter="org.polarsys.capella.core.data.information.properties.sections.InformationRealizationSection"
               id="org.polarsys.capella.core.data.information.section.InformationRealizationBasePropertySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.properties.sections.KeyPartSection"
               filter="org.polarsys.capella.core.data.information.properties.sections.KeyPartSection"
               id="org.polarsys.capella.core.data.information.section.KeyPartBasePropertySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.properties.sections.OperationAllocationSection"
               filter="org.polarsys.capella.core.data.information.properties.sections.OperationAllocationSection"
               id="org.polarsys.capella.core.data.information.section.OperationAllocationBasePropertySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.properties.sections.ParameterSection"
               filter="org.polarsys.capella.core.data.information.properties.sections.ParameterSection"
               id="org.polarsys.capella.core.data.information.section.ParameterBasePropertySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.properties.sections.PortAllocationSection"
               filter="org.polarsys.capella.core.data.information.properties.sections.PortAllocationSection"
               id="org.polarsys.capella.core.data.information.section.PortAllocationBasePropertySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.properties.sections.PortRealizationSection"
               filter="org.polarsys.capella.core.data.information.properties.sections.PortRealizationSection"
               id="org.polarsys.capella.core.data.information.section.PortRealizationBasePropertySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.properties.sections.PropertySection"
               filter="org.polarsys.capella.core.data.information.properties.sections.PropertySection"
               id="org.polarsys.capella.core.data.information.section.PropertyBasePropertySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.properties.sections.ServiceSection"
               filter="org.polarsys.capella.core.data.information.properties.sections.ServiceSection"
               id="org.polarsys.capella.core.data.information.section.ServiceBasePropertySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.properties.sections.UnionPropertySection"
               filter="org.polarsys.capella.core.data.information.properties.sections.UnionPropertySection"
               id="org.polarsys.capella.core.data.information.section.UnionPropertyBasePropertySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.properties.sections.UnionSection"
               filter="org.polarsys.capella.core.data.information.properties.sections.UnionSection"
               id="org.polarsys.capella.core.data.information.section.UnionBasePropertySection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.properties.sections.UnitSection"
               filter="org.polarsys.capella.core.data.information.properties.sections.UnitSection"
               id="org.polarsys.capella.core.data.information.section.UnitBasePropertySection"
               tab="BaseSiriusDiagram">
         </propertySection>
      </propertySections>
   </extension>
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">      
	  <propertySections contributorId="org.eclipse.sirius.table.ui.EditorID">
         <propertySection
               class="org.polarsys.capella.core.data.information.properties.sections.AssociationSection"
               filter="org.polarsys.capella.core.data.information.properties.sections.AssociationSection"
               id="org.polarsys.capella.core.data.information.section.AssociationBasePropertySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.properties.sections.ClassSection"
               filter="org.polarsys.capella.core.data.information.properties.sections.ClassSection"
               id="org.polarsys.capella.core.data.information.section.ClassBasePropertySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.properties.sections.CollectionSection"
               filter="org.polarsys.capella.core.data.information.properties.sections.CollectionSection"
               id="org.polarsys.capella.core.data.information.section.CollectionBasePropertySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.properties.sections.DataPkgSection"
               filter="org.polarsys.capella.core.data.information.properties.sections.DataPkgSection"
               id="org.polarsys.capella.core.data.information.section.DataPkgBasePropertySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.properties.sections.DomainElementSection"
               filter="org.polarsys.capella.core.data.information.properties.sections.DomainElementSection"
               id="org.polarsys.capella.core.data.information.section.DomainElementBasePropertySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.properties.sections.ExchangeItemSection"
               filter="org.polarsys.capella.core.data.information.properties.sections.ExchangeItemSection"
               id="org.polarsys.capella.core.data.information.section.ExchangeItemBasePropertySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.properties.sections.ExchangeItemElementSection"
               filter="org.polarsys.capella.core.data.information.properties.sections.ExchangeItemElementSection"
               id="org.polarsys.capella.core.data.information.section.ExchangeItemElementBasePropertySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.properties.sections.ExchangeItemInstanceSection"
               filter="org.polarsys.capella.core.data.information.properties.sections.ExchangeItemInstanceSection"
               id="org.polarsys.capella.core.data.information.section.ExchangeItemInstanceBasePropertySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.properties.sections.ExchangeItemRealizationSection"
               filter="org.polarsys.capella.core.data.information.properties.sections.ExchangeItemRealizationSection"
               id="org.polarsys.capella.core.data.information.section.ExchangeItemRealizationBasePropertySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.properties.sections.InformationRealizationSection"
               filter="org.polarsys.capella.core.data.information.properties.sections.InformationRealizationSection"
               id="org.polarsys.capella.core.data.information.section.InformationRealizationBasePropertySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.properties.sections.KeyPartSection"
               filter="org.polarsys.capella.core.data.information.properties.sections.KeyPartSection"
               id="org.polarsys.capella.core.data.information.section.KeyPartBasePropertySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.properties.sections.OperationAllocationSection"
               filter="org.polarsys.capella.core.data.information.properties.sections.OperationAllocationSection"
               id="org.polarsys.capella.core.data.information.section.OperationAllocationBasePropertySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.properties.sections.ParameterSection"
               filter="org.polarsys.capella.core.data.information.properties.sections.ParameterSection"
               id="org.polarsys.capella.core.data.information.section.ParameterBasePropertySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.properties.sections.PortAllocationSection"
               filter="org.polarsys.capella.core.data.information.properties.sections.PortAllocationSection"
               id="org.polarsys.capella.core.data.information.section.PortAllocationBasePropertySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.properties.sections.PortRealizationSection"
               filter="org.polarsys.capella.core.data.information.properties.sections.PortRealizationSection"
               id="org.polarsys.capella.core.data.information.section.PortRealizationBasePropertySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.properties.sections.PropertySection"
               filter="org.polarsys.capella.core.data.information.properties.sections.PropertySection"
               id="org.polarsys.capella.core.data.information.section.PropertyBasePropertySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.properties.sections.ServiceSection"
               filter="org.polarsys.capella.core.data.information.properties.sections.ServiceSection"
               id="org.polarsys.capella.core.data.information.section.ServiceBasePropertySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.properties.sections.UnionPropertySection"
               filter="org.polarsys.capella.core.data.information.properties.sections.UnionPropertySection"
               id="org.polarsys.capella.core.data.information.section.UnionPropertyBasePropertySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.properties.sections.UnionSection"
               filter="org.polarsys.capella.core.data.information.properties.sections.UnionSection"
               id="org.polarsys.capella.core.data.information.section.UnionBasePropertySection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.information.properties.sections.UnitSection"
               filter="org.polarsys.capella.core.data.information.properties.sections.UnitSection"
               id="org.polarsys.capella.core.data.information.section.UnitBasePropertySection"
               tab="BaseSiriusTable">
         </propertySection>
      </propertySections>
   </extension>
</plugin>
