<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections contributorId="org.polarsys.capella.core.data.capellamodeller.properties">
         <propertySection tab="Description"
               class="org.polarsys.capella.test.richtext.ju.mocks.CapellaDescriptionPropertySectionMock"
               id="org.polarsys.capella.core.ui.properties.descriptions.sections.CapellaDescriptionPropertySection.navigator.test">
            <input
                  type="org.polarsys.capella.core.data.capellacore.CapellaElement">
            </input>
         </propertySection>
      </propertySections>
   </extension>

</plugin>
