<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  Copyright (c) 2006, 2019 THALES GLOBAL SERVICES.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html

  Contributors:
       Thales - initial API and implementation
-->
<plugin>
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections contributorId="org.polarsys.capella.core.data.capellamodeller.properties">
         <propertySection
               class="org.polarsys.capella.core.data.core.properties.sections.BooleanPropertyValueSection"
               filter="org.polarsys.capella.core.data.core.properties.sections.BooleanPropertyValueSection"
               id="org.polarsys.capella.core.data.core.properties.sections.BooleanPropertyValueSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.core.properties.sections.ConstraintSection"
               filter="org.polarsys.capella.core.data.core.properties.sections.ConstraintSection"
               id="org.polarsys.capella.core.data.core.properties.sections.ConstraintSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.core.properties.sections.EnumerationPropertyLiteralSection"
               filter="org.polarsys.capella.core.data.core.properties.sections.EnumerationPropertyLiteralSection"
               id="org.polarsys.capella.core.data.core.properties.sections.EnumerationPropertyLiteralSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.core.properties.sections.EnumerationPropertyTypeSection"
               filter="org.polarsys.capella.core.data.core.properties.sections.EnumerationPropertyTypeSection"
               id="org.polarsys.capella.core.data.core.properties.sections.EnumerationPropertyTypeSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.core.properties.sections.EnumerationPropertyValueSection"
               filter="org.polarsys.capella.core.data.core.properties.sections.EnumerationPropertyValueSection"
               id="org.polarsys.capella.core.data.core.properties.sections.EnumerationPropertyValueSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.core.properties.sections.FloatPropertyValueSection"
               filter="org.polarsys.capella.core.data.core.properties.sections.FloatPropertyValueSection"
               id="org.polarsys.capella.core.data.core.properties.sections.FloatPropertyValueSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.core.properties.sections.GeneralizationSection"
               filter="org.polarsys.capella.core.data.core.properties.sections.GeneralizationSection"
               id="org.polarsys.capella.core.data.core.properties.sections.GeneralizationSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.core.properties.sections.IntegerPropertyValueSection"
               filter="org.polarsys.capella.core.data.core.properties.sections.IntegerPropertyValueSection"
               id="org.polarsys.capella.core.data.core.properties.sections.IntegerPropertyValueSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.core.properties.sections.KeyValueSection"
               filter="org.polarsys.capella.core.data.core.properties.sections.KeyValueSection"
               id="org.polarsys.capella.core.data.core.properties.sections.KeyValueSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.core.properties.sections.NamingRuleSection"
               filter="org.polarsys.capella.core.data.core.properties.sections.NamingRuleSection"
               id="org.polarsys.capella.core.data.core.properties.sections.NamingRuleSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.core.properties.sections.PropertyValueGroupSection"
               filter="org.polarsys.capella.core.data.core.properties.sections.PropertyValueGroupSection"
               id="org.polarsys.capella.core.data.core.properties.sections.PropertyValueGroupSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.core.properties.sections.PropertyValuePkgSection"
               filter="org.polarsys.capella.core.data.core.properties.sections.PropertyValuePkgSection"
               id="org.polarsys.capella.core.data.core.properties.sections.PropertyValuePkgSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.core.properties.sections.ReuseLinkSection"
               filter="org.polarsys.capella.core.data.core.properties.sections.ReuseLinkSection"
               id="org.polarsys.capella.core.data.core.properties.sections.ReuseLinkSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.core.properties.sections.StringPropertyValueSection"
               filter="org.polarsys.capella.core.data.core.properties.sections.StringPropertyValueSection"
               id="org.polarsys.capella.core.data.core.properties.sections.StringPropertyValueSection"
               tab="BaseCapella">
         </propertySection>
      </propertySections>
   </extension>
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">      
	  <propertySections contributorId="org.eclipse.sirius.diagram.ui">
         <propertySection
               class="org.polarsys.capella.core.data.core.properties.sections.BooleanPropertyValueSection"
               filter="org.polarsys.capella.core.data.core.properties.sections.BooleanPropertyValueSection"
               id="org.polarsys.capella.core.data.core.properties.sections.BooleanPropertyValueSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.core.properties.sections.ConstraintSection"
               filter="org.polarsys.capella.core.data.core.properties.sections.ConstraintSection"
               id="org.polarsys.capella.core.data.core.properties.sections.ConstraintSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.core.properties.sections.EnumerationPropertyLiteralSection"
               filter="org.polarsys.capella.core.data.core.properties.sections.EnumerationPropertyLiteralSection"
               id="org.polarsys.capella.core.data.core.properties.sections.EnumerationPropertyLiteralSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.core.properties.sections.EnumerationPropertyTypeSection"
               filter="org.polarsys.capella.core.data.core.properties.sections.EnumerationPropertyTypeSection"
               id="org.polarsys.capella.core.data.core.properties.sections.EnumerationPropertyTypeSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.core.properties.sections.EnumerationPropertyValueSection"
               filter="org.polarsys.capella.core.data.core.properties.sections.EnumerationPropertyValueSection"
               id="org.polarsys.capella.core.data.core.properties.sections.EnumerationPropertyValueSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.core.properties.sections.FloatPropertyValueSection"
               filter="org.polarsys.capella.core.data.core.properties.sections.FloatPropertyValueSection"
               id="org.polarsys.capella.core.data.core.properties.sections.FloatPropertyValueSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.core.properties.sections.GeneralizationSection"
               filter="org.polarsys.capella.core.data.core.properties.sections.GeneralizationSection"
               id="org.polarsys.capella.core.data.core.properties.sections.GeneralizationSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.core.properties.sections.IntegerPropertyValueSection"
               filter="org.polarsys.capella.core.data.core.properties.sections.IntegerPropertyValueSection"
               id="org.polarsys.capella.core.data.core.properties.sections.IntegerPropertyValueSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.core.properties.sections.KeyValueSection"
               filter="org.polarsys.capella.core.data.core.properties.sections.KeyValueSection"
               id="org.polarsys.capella.core.data.core.properties.sections.KeyValueSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.core.properties.sections.NamingRuleSection"
               filter="org.polarsys.capella.core.data.core.properties.sections.NamingRuleSection"
               id="org.polarsys.capella.core.data.core.properties.sections.NamingRuleSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.core.properties.sections.PropertyValueGroupSection"
               filter="org.polarsys.capella.core.data.core.properties.sections.PropertyValueGroupSection"
               id="org.polarsys.capella.core.data.core.properties.sections.PropertyValueGroupSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.core.properties.sections.PropertyValuePkgSection"
               filter="org.polarsys.capella.core.data.core.properties.sections.PropertyValuePkgSection"
               id="org.polarsys.capella.core.data.core.properties.sections.PropertyValuePkgSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.core.properties.sections.ReuseLinkSection"
               filter="org.polarsys.capella.core.data.core.properties.sections.ReuseLinkSection"
               id="org.polarsys.capella.core.data.core.properties.sections.ReuseLinkSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.core.properties.sections.StringPropertyValueSection"
               filter="org.polarsys.capella.core.data.core.properties.sections.StringPropertyValueSection"
               id="org.polarsys.capella.core.data.core.properties.sections.StringPropertyValueSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.core.properties.sections.TitleBlockCellSection"
               filter="org.polarsys.capella.core.data.core.properties.sections.TitleBlockCellSection"
               id="org.polarsys.capella.core.data.core.properties.sections.TitleBlockCellSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.core.properties.sections.DiagramTitleBlockContainerSection"
               filter="org.polarsys.capella.core.data.core.properties.sections.DiagramTitleBlockContainerSection"
               id="org.polarsys.capella.core.data.core.properties.sections.DiagramTitleBlockContainerSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.core.properties.sections.ElementTitleBlockContainerSection"
               filter="org.polarsys.capella.core.data.core.properties.sections.ElementTitleBlockContainerSection"
               id="org.polarsys.capella.core.data.core.properties.sections.ElementTitleBlockContainerSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.core.properties.sections.TitleBlockContentSection"
               filter="org.polarsys.capella.core.data.core.properties.sections.TitleBlockContentSection"
               id="org.polarsys.capella.core.data.core.properties.sections.TitleBlockContentSection"
               tab="BaseSiriusDiagram">
         </propertySection>
      </propertySections>
   </extension>
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">      
	  <propertySections contributorId="org.eclipse.sirius.table.ui.EditorID">
         <propertySection
               class="org.polarsys.capella.core.data.core.properties.sections.BooleanPropertyValueSection"
               filter="org.polarsys.capella.core.data.core.properties.sections.BooleanPropertyValueSection"
               id="org.polarsys.capella.core.data.core.properties.sections.BooleanPropertyValueSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.core.properties.sections.ConstraintSection"
               filter="org.polarsys.capella.core.data.core.properties.sections.ConstraintSection"
               id="org.polarsys.capella.core.data.core.properties.sections.ConstraintSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.core.properties.sections.EnumerationPropertyLiteralSection"
               filter="org.polarsys.capella.core.data.core.properties.sections.EnumerationPropertyLiteralSection"
               id="org.polarsys.capella.core.data.core.properties.sections.EnumerationPropertyLiteralSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.core.properties.sections.EnumerationPropertyTypeSection"
               filter="org.polarsys.capella.core.data.core.properties.sections.EnumerationPropertyTypeSection"
               id="org.polarsys.capella.core.data.core.properties.sections.EnumerationPropertyTypeSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.core.properties.sections.EnumerationPropertyValueSection"
               filter="org.polarsys.capella.core.data.core.properties.sections.EnumerationPropertyValueSection"
               id="org.polarsys.capella.core.data.core.properties.sections.EnumerationPropertyValueSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.core.properties.sections.FloatPropertyValueSection"
               filter="org.polarsys.capella.core.data.core.properties.sections.FloatPropertyValueSection"
               id="org.polarsys.capella.core.data.core.properties.sections.FloatPropertyValueSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.core.properties.sections.GeneralizationSection"
               filter="org.polarsys.capella.core.data.core.properties.sections.GeneralizationSection"
               id="org.polarsys.capella.core.data.core.properties.sections.GeneralizationSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.core.properties.sections.IntegerPropertyValueSection"
               filter="org.polarsys.capella.core.data.core.properties.sections.IntegerPropertyValueSection"
               id="org.polarsys.capella.core.data.core.properties.sections.IntegerPropertyValueSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.core.properties.sections.KeyValueSection"
               filter="org.polarsys.capella.core.data.core.properties.sections.KeyValueSection"
               id="org.polarsys.capella.core.data.core.properties.sections.KeyValueSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.core.properties.sections.NamingRuleSection"
               filter="org.polarsys.capella.core.data.core.properties.sections.NamingRuleSection"
               id="org.polarsys.capella.core.data.core.properties.sections.NamingRuleSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.core.properties.sections.PropertyValueGroupSection"
               filter="org.polarsys.capella.core.data.core.properties.sections.PropertyValueGroupSection"
               id="org.polarsys.capella.core.data.core.properties.sections.PropertyValueGroupSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.core.properties.sections.PropertyValuePkgSection"
               filter="org.polarsys.capella.core.data.core.properties.sections.PropertyValuePkgSection"
               id="org.polarsys.capella.core.data.core.properties.sections.PropertyValuePkgSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.core.properties.sections.ReuseLinkSection"
               filter="org.polarsys.capella.core.data.core.properties.sections.ReuseLinkSection"
               id="org.polarsys.capella.core.data.core.properties.sections.ReuseLinkSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.core.properties.sections.StringPropertyValueSection"
               filter="org.polarsys.capella.core.data.core.properties.sections.StringPropertyValueSection"
               id="org.polarsys.capella.core.data.core.properties.sections.StringPropertyValueSection"
               tab="BaseSiriusTable">
         </propertySection>
      </propertySections>
   </extension>
</plugin>
