<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  Copyright (c) 2006, 2019 THALES GLOBAL SERVICES.
  
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0
  
  SPDX-License-Identifier: EPL-2.0
  
  Contributors:
       Thales - initial API and implementation
-->
<plugin>
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections contributorId="org.polarsys.capella.core.data.capellamodeller.properties">
         <propertySection
               class="org.polarsys.capella.core.data.requirement.properties.sections.RequirementsPkgSection"
               filter="org.polarsys.capella.core.data.requirement.properties.sections.RequirementsPkgSection"
               id="org.polarsys.capella.core.data.requirement.properties.sections.RequirementsPkgSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.requirement.properties.sections.RequirementsTraceSection"
               filter="org.polarsys.capella.core.data.requirement.properties.sections.RequirementsTraceSection"
               id="org.polarsys.capella.core.data.requirement.properties.sections.RequirementsTraceSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.requirement.properties.sections.SystemFunctionalInterfaceRequirementSection"
               filter="org.polarsys.capella.core.data.requirement.properties.sections.SystemFunctionalInterfaceRequirementSection"
               id="org.polarsys.capella.core.data.requirement.properties.sections.SystemFunctionalInterfaceRequirementSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.requirement.properties.sections.SystemFunctionalRequirementSection"
               filter="org.polarsys.capella.core.data.requirement.properties.sections.SystemFunctionalRequirementSection"
               id="org.polarsys.capella.core.data.requirement.properties.sections.SystemFunctionalRequirementSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.requirement.properties.sections.SystemNonFunctionalInterfaceRequirementSection"
               filter="org.polarsys.capella.core.data.requirement.properties.sections.SystemNonFunctionalInterfaceRequirementSection"
               id="org.polarsys.capella.core.data.requirement.properties.sections.SystemNonFunctionalInterfaceRequirementSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.requirement.properties.sections.SystemNonFunctionalRequirementSection"
               filter="org.polarsys.capella.core.data.requirement.properties.sections.SystemNonFunctionalRequirementSection"
               id="org.polarsys.capella.core.data.requirement.properties.sections.SystemNonFunctionalRequirementSection"
               tab="BaseCapella">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.requirement.properties.sections.SystemUserRequirementSection"
               filter="org.polarsys.capella.core.data.requirement.properties.sections.SystemUserRequirementSection"
               id="org.polarsys.capella.core.data.requirement.properties.sections.SystemUserRequirementSection"
               tab="BaseCapella">
         </propertySection>
      </propertySections>
   </extension>
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">      
	  <propertySections contributorId="org.eclipse.sirius.diagram.ui">
         <propertySection
               class="org.polarsys.capella.core.data.requirement.properties.sections.RequirementsPkgSection"
               filter="org.polarsys.capella.core.data.requirement.properties.sections.RequirementsPkgSection"
               id="org.polarsys.capella.core.data.requirement.properties.sections.RequirementsPkgSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.requirement.properties.sections.RequirementsTraceSection"
               filter="org.polarsys.capella.core.data.requirement.properties.sections.RequirementsTraceSection"
               id="org.polarsys.capella.core.data.requirement.properties.sections.RequirementsTraceSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.requirement.properties.sections.SystemFunctionalInterfaceRequirementSection"
               filter="org.polarsys.capella.core.data.requirement.properties.sections.SystemFunctionalInterfaceRequirementSection"
               id="org.polarsys.capella.core.data.requirement.properties.sections.SystemFunctionalInterfaceRequirementSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.requirement.properties.sections.SystemFunctionalRequirementSection"
               filter="org.polarsys.capella.core.data.requirement.properties.sections.SystemFunctionalRequirementSection"
               id="org.polarsys.capella.core.data.requirement.properties.sections.SystemFunctionalRequirementSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.requirement.properties.sections.SystemNonFunctionalInterfaceRequirementSection"
               filter="org.polarsys.capella.core.data.requirement.properties.sections.SystemNonFunctionalInterfaceRequirementSection"
               id="org.polarsys.capella.core.data.requirement.properties.sections.SystemNonFunctionalInterfaceRequirementSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.requirement.properties.sections.SystemNonFunctionalRequirementSection"
               filter="org.polarsys.capella.core.data.requirement.properties.sections.SystemNonFunctionalRequirementSection"
               id="org.polarsys.capella.core.data.requirement.properties.sections.SystemNonFunctionalRequirementSection"
               tab="BaseSiriusDiagram">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.requirement.properties.sections.SystemUserRequirementSection"
               filter="org.polarsys.capella.core.data.requirement.properties.sections.SystemUserRequirementSection"
               id="org.polarsys.capella.core.data.requirement.properties.sections.SystemUserRequirementSection"
               tab="BaseSiriusDiagram">
         </propertySection>
      </propertySections>
   </extension>
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">      
	  <propertySections contributorId="org.eclipse.sirius.table.ui.EditorID">
         <propertySection
               class="org.polarsys.capella.core.data.requirement.properties.sections.RequirementsPkgSection"
               filter="org.polarsys.capella.core.data.requirement.properties.sections.RequirementsPkgSection"
               id="org.polarsys.capella.core.data.requirement.properties.sections.RequirementsPkgSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.requirement.properties.sections.RequirementsTraceSection"
               filter="org.polarsys.capella.core.data.requirement.properties.sections.RequirementsTraceSection"
               id="org.polarsys.capella.core.data.requirement.properties.sections.RequirementsTraceSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.requirement.properties.sections.SystemFunctionalInterfaceRequirementSection"
               filter="org.polarsys.capella.core.data.requirement.properties.sections.SystemFunctionalInterfaceRequirementSection"
               id="org.polarsys.capella.core.data.requirement.properties.sections.SystemFunctionalInterfaceRequirementSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.requirement.properties.sections.SystemFunctionalRequirementSection"
               filter="org.polarsys.capella.core.data.requirement.properties.sections.SystemFunctionalRequirementSection"
               id="org.polarsys.capella.core.data.requirement.properties.sections.SystemFunctionalRequirementSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.requirement.properties.sections.SystemNonFunctionalInterfaceRequirementSection"
               filter="org.polarsys.capella.core.data.requirement.properties.sections.SystemNonFunctionalInterfaceRequirementSection"
               id="org.polarsys.capella.core.data.requirement.properties.sections.SystemNonFunctionalInterfaceRequirementSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.requirement.properties.sections.SystemNonFunctionalRequirementSection"
               filter="org.polarsys.capella.core.data.requirement.properties.sections.SystemNonFunctionalRequirementSection"
               id="org.polarsys.capella.core.data.requirement.properties.sections.SystemNonFunctionalRequirementSection"
               tab="BaseSiriusTable">
         </propertySection>
         <propertySection
               class="org.polarsys.capella.core.data.requirement.properties.sections.SystemUserRequirementSection"
               filter="org.polarsys.capella.core.data.requirement.properties.sections.SystemUserRequirementSection"
               id="org.polarsys.capella.core.data.requirement.properties.sections.SystemUserRequirementSection"
               tab="BaseSiriusTable">
         </propertySection>
      </propertySections>
   </extension>
</plugin>
