<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
  Copyright (c) 2006, 2021 THALES GLOBAL SERVICES.
  
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0
  
  SPDX-License-Identifier: EPL-2.0
  
  Contributors:
       Thales - initial API and implementation
-->
<plugin>
   <extension
         point="org.polarsys.capella.core.validation.ui.ide.capellaQuickFix">
      <resolver
            class="org.polarsys.capella.core.data.pa.ui.quickfix.resolver.DWF_DC_20_Resolver"
            desc="%quickFix.DWF_DC_20.desc"
            label="%quickFix.DWF_DC_20.label">
         <rules
               ruleId="DWF_DC_20">
         </rules>
      </resolver>
      <resolver
            class="org.polarsys.capella.core.data.pa.ui.quickfix.resolver.EditPhysicalComponent"
            desc="%quickFix.DWF_DC_21_22.desc"
            label="%quickFix.DWF_DC_21_22.label">
         <rules
               ruleId="DWF_DC_21">
         </rules>
         <rules
               ruleId="DWF_DC_22">
         </rules>
      </resolver>
      <resolver
            class="org.polarsys.capella.core.data.pa.ui.quickfix.resolver.DeletePhysicalComponent"
            desc="%quickFix.DWF_DC_21_22_delete.desc"
            label="%quickFix.DWF_DC_21_22_delete.label">
         <rules
               ruleId="DWF_DC_21">
         </rules>
         <rules
               ruleId="DWF_DC_22">
         </rules>
      </resolver>
      <resolver
            class="org.polarsys.capella.core.data.pa.ui.quickfix.resolver.PhysicalComponentNatureToBehaviorResolver"
            desc="%quickFix.DWF_DC_34_set_nature_behavior.desc"
            label="%quickFix.DWF_DC_34_set_nature_behavior.label">
         <rules
               ruleId="DWF_DC_34">
         </rules>
      </resolver>
      <resolver
            class="org.polarsys.capella.core.data.pa.ui.quickfix.resolver.PhysicalComponentNatureToNodeResolver"
            desc="%quickFix.DWF_DC_34_set_nature_node.desc"
            label="%quickFix.DWF_DC_34_set_nature_node.label">
         <rules
               ruleId="DWF_DC_34">
         </rules>
      </resolver>
      <resolver
            class="org.polarsys.capella.core.data.pa.ui.quickfix.resolver.PhysicalComponentNatureToUnsetResolver"
            desc="%quickFix.DWF_DC_39_set_nature_unset.desc"
            label="%quickFix.DWF_DC_39_set_nature_unset.label">
         <rules
               ruleId="DWF_DC_39">
         </rules>
      </resolver>
      <resolver
            class="org.polarsys.capella.core.data.pa.ui.quickfix.resolver.PhysicalComponentDeleteDeploymentLinkResolver"
            desc="%quickFix.DWF_DC_44_delete_deployment_links.desc"
            label="%quickFix.DWF_DC_44_delete_deployment_links.label"
            icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_delete.gif">
         <rules
               ruleId="DWF_DC_44">
         </rules>
      </resolver>
      <resolver
            class="org.polarsys.capella.core.data.pa.ui.quickfix.resolver.PhysicalComponentRealizedLogicalComponentsResolver"
            desc="%quickFix.TC_DC_13.desc"
            icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif"
            label="%quickFix.TC_DC_13.label">
         <rules
               ruleId="TC_DC_13">
         </rules>
      </resolver>
      <resolver
            class="org.polarsys.capella.core.data.pa.ui.quickfix.resolver.PhysicalArchitectureRealizedLogicalArchitectureResolver"
            desc="%quickFix.TJ_PA_12.desc"
            icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_process.gif"
            label="%quickFix.TJ_PA_12.label">
         <rules
               ruleId="TJ_PA_12">
         </rules>
      </resolver>      
    </extension>  
    <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="org.polarsys.capella.core.data.pa.ui.quickfix.resolution.DWF_DC_21_Resolutions"
            markerType="org.polarsys.capella.core.validation.markers">
      </markerResolutionGenerator>
            <markerResolutionGenerator
            class="org.polarsys.capella.core.data.pa.ui.quickfix.resolution.DWF_DC_22_Resolutions"
            markerType="org.polarsys.capella.core.validation.markers">
      </markerResolutionGenerator>
      
   </extension>


</plugin>
