<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright (c) 2018, 2019 THALES GLOBAL SERVICES.
    
    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License 2.0 which is available at
    http://www.eclipse.org/legal/epl-2.0
    
    SPDX-License-Identifier: EPL-2.0
   
    Contributors:
    Thales - initial API and implementation
 -->

<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="org.polarsys.capella.views.category"
            class="org.polarsys.capella.common.ui.massactions.edit.CapellaMEView"
            icon="icons/full/obj16/me_view.gif"
            id="org.polarsys.capella.common.ui.massactions.editing.view"
            name="%view.editing.name"
            restorable="false">
      </view>
      <view
            allowMultiple="true"
            category="org.polarsys.capella.views.category"
            class="org.polarsys.capella.common.ui.massactions.visualization.CapellaMVView"
            icon="icons/full/obj16/mv_view.gif"
            id="org.polarsys.capella.common.ui.massactions.visualizing.view"
            name="%view.visualization.name"
            restorable="false">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="capella.sirius.perspective">
         <viewShortcut
               id="org.polarsys.capella.common.ui.massactions.editing.view">
         </viewShortcut>
         <viewShortcut
               id="org.polarsys.capella.common.ui.massactions.visualizing.view">
         </viewShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="%view.editing.sendTo.description"
            id="org.polarsys.capella.common.ui.massactions.command.SendToMassEditingView"
            name="%view.editing.sendTo.name">
         <commandParameter
               id="org.polarsys.capella.common.ui.massactions.command.SendToMassEditingView.primaryViewId"
               name="primaryViewId"
               optional="false">
         </commandParameter>
         <commandParameter
               id="org.polarsys.capella.common.ui.massactions.command.SendToMassEditingView.secondaryViewId"
               name="secondaryViewId"
               optional="false">
         </commandParameter>
         <commandParameter
               id="org.polarsys.capella.common.ui.massactions.command.SendToMassEditingView.shouldCreateViewId"
               name="shouldCreateView"
               optional="false">
         </commandParameter>
      </command>
      <command
            description="%view.visualization.sendTo.description"
            id="org.polarsys.capella.common.ui.massactions.command.SendToMassVisualizationView"
            name="%view.visualization.sendTo.name">
         <commandParameter
               id="org.polarsys.capella.common.ui.massactions.command.SendToMassVisualizationView.primaryViewId"
               name="primaryViewId"
               optional="false">
         </commandParameter>
         <commandParameter
               id="org.polarsys.capella.common.ui.massactions.command.SendToMassVisualizationView.secondaryViewId"
               name="secondaryViewId"
               optional="false">
         </commandParameter>
         <commandParameter
               id="org.polarsys.capella.common.ui.massactions.command.SendToMassVisualizationView.shouldCreateViewId"
               name="shouldCreateView"
               optional="false">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.polarsys.capella.common.ui.massactions.sendToMassViewOrEditorVisibilityEnablementExpression">
		    <with
		          variable="selection">
		       <iterate
		             ifEmpty="false">
		             <and>
		                  <or>
		                     <instanceof
		                           value="org.eclipse.emf.ecore.EObject">
		                     </instanceof>
		                     <adapt
		                           type="org.polarsys.kitalpha.emde.model.Element">
		                     </adapt>
		                       <adapt
		                             type="org.eclipse.sirius.viewpoint.DRepresentationDescriptor">
		                       </adapt>
		                  </or>
		                  <reference
                  				definitionId="org.polarsys.capella.common.platform.sirius.ted.definition.checkElementOfOpenedSessionOnCompareEditorPartOnly">
                    		</reference>
		             </and>
		       </iterate>
		    </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.polarsys.capella.common.ui.massactions.edit.commands.SendToMECommandHandler"
            commandId="org.polarsys.capella.common.ui.massactions.command.SendToMassEditingView">
         <enabledWhen>
            <reference
                  definitionId="org.polarsys.capella.common.ui.massactions.sendToMassViewOrEditorVisibilityEnablementExpression">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="org.polarsys.capella.common.ui.massactions.visualization.commands.SendToMVCommandHandler"
            commandId="org.polarsys.capella.common.ui.massactions.command.SendToMassVisualizationView">
         <enabledWhen>
            <reference
                  definitionId="org.polarsys.capella.common.ui.massactions.sendToMassViewOrEditorVisibilityEnablementExpression">
            </reference>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any?after=group.sendTo">
         <menu
               icon="icons/full/obj16/mv_view.gif"
               label="%view.visualization.sendTo.name">
            <dynamic
                  class="org.polarsys.capella.common.ui.massactions.visualization.contributionitem.SendToMVMenuContributionItem"
                  id="org.polarsys.capella.common.ui.massediting.dynamic8">
            </dynamic>
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="org.polarsys.capella.common.ui.massactions.sendToMassViewOrEditorVisibilityEnablementExpression">
               </reference>
            </visibleWhen>
         </menu>
      </menuContribution>
      
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any?after=group.sendTo">
         <menu
               icon="icons/full/obj16/me_view.gif"
               label="%view.editing.sendTo.name">
            <dynamic
                  class="org.polarsys.capella.common.ui.massactions.edit.contributionitem.SendToMEMenuContributionItem"
                  id="org.polarsys.capella.common.ui.massediting.dynamic7">
            </dynamic>
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="org.polarsys.capella.common.ui.massactions.sendToMassViewOrEditorVisibilityEnablementExpression">
               </reference>
            </visibleWhen>
         </menu>
      </menuContribution>
      
       <menuContribution
                locationURI="popup:org.polarsys.capella.common.ui.massactions.editing.view.rowHeader?after=additions">
               
              <separator name="group.showIn" visible="true" />
              <separator name="group.sendTo" visible="true" />
              
       </menuContribution>
       
       <menuContribution
                locationURI="popup:org.polarsys.capella.common.ui.massactions.editing.view.body?after=additions">
               
              <separator name="group.showIn" visible="true" />
              <separator name="group.sendTo" visible="true" />
              
       </menuContribution>
       
       <menuContribution
                locationURI="popup:org.polarsys.capella.common.ui.massactions.visualizing.view.rowHeader?after=additions">
               
              <separator name="group.showIn" visible="true" />
              <separator name="group.sendTo" visible="true" />
              
       </menuContribution>
       
       <menuContribution
                locationURI="popup:org.polarsys.capella.common.ui.massactions.visualizing.view.body?after=additions">
               
              <separator name="group.showIn" visible="true" />
              <separator name="group.sendTo" visible="true" />
              
       </menuContribution>
       
   </extension>

</plugin>

