<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
#
#  Copyright (c) 2006, 2023 THALES GLOBAL SERVICES.
#  This program and the accompanying materials are made available under the
#  terms of the Eclipse Public License 2.0 which is available at
#  http://www.eclipse.org/legal/epl-2.0
# 
#  SPDX-License-Identifier: EPL-2.0
# 
#  Contributors:
#     Thales - initial API and implementation
-->

<plugin>

   
<!--@generated-->
  <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated CapellaModeller -->
      <factory class="org.polarsys.capella.core.data.capellamodeller.provider.CapellamodellerItemProviderAdapterFactory" supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider                org.eclipse.emf.edit.provider.IStructuredItemContentProvider                org.eclipse.emf.edit.provider.ITreeItemContentProvider                org.eclipse.emf.edit.provider.IItemLabelProvider                org.eclipse.emf.edit.provider.IItemPropertySource" uri="http://www.polarsys.org/capella/core/modeller/7.0.0"/>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated CapellaModeller -->
      <factory class="org.polarsys.capella.core.data.capellacore.provider.CapellacoreItemProviderAdapterFactory" supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider                org.eclipse.emf.edit.provider.IStructuredItemContentProvider                org.eclipse.emf.edit.provider.ITreeItemContentProvider                org.eclipse.emf.edit.provider.IItemLabelProvider                org.eclipse.emf.edit.provider.IItemPropertySource" uri="http://www.polarsys.org/capella/core/core/7.0.0"/>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated CapellaModeller -->
      <extender class="org.polarsys.capella.core.data.capellacore.provider.CapellacoreItemProviderAdapterFactory$ModellingcoreChildCreationExtender" uri="http://www.polarsys.org/capella/common/core/7.0.0"/>
      <extender class="org.polarsys.capella.core.data.capellacore.provider.CapellacoreItemProviderAdapterFactory$ActivityChildCreationExtender" uri="http://www.polarsys.org/capella/common/activity/7.0.0"/>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated CapellaModeller -->
      <factory class="org.polarsys.capella.core.data.oa.provider.OaItemProviderAdapterFactory" supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider                org.eclipse.emf.edit.provider.IStructuredItemContentProvider                org.eclipse.emf.edit.provider.ITreeItemContentProvider                org.eclipse.emf.edit.provider.IItemLabelProvider                org.eclipse.emf.edit.provider.IItemPropertySource" uri="http://www.polarsys.org/capella/core/oa/7.0.0"/>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated CapellaModeller -->
      <extender class="org.polarsys.capella.core.data.oa.provider.OaItemProviderAdapterFactory$ActivityChildCreationExtender" uri="http://www.polarsys.org/capella/common/activity/7.0.0"/>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated CapellaModeller -->
      <factory class="org.polarsys.capella.core.data.ctx.provider.CtxItemProviderAdapterFactory" supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider                org.eclipse.emf.edit.provider.IStructuredItemContentProvider                org.eclipse.emf.edit.provider.ITreeItemContentProvider                org.eclipse.emf.edit.provider.IItemLabelProvider                org.eclipse.emf.edit.provider.IItemPropertySource" uri="http://www.polarsys.org/capella/core/ctx/7.0.0"/>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated CapellaModeller -->
      <extender class="org.polarsys.capella.core.data.ctx.provider.CtxItemProviderAdapterFactory$ActivityChildCreationExtender" uri="http://www.polarsys.org/capella/common/activity/7.0.0"/>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated CapellaModeller -->
      <factory class="org.polarsys.capella.core.data.la.provider.LaItemProviderAdapterFactory" supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider                org.eclipse.emf.edit.provider.IStructuredItemContentProvider                org.eclipse.emf.edit.provider.ITreeItemContentProvider                org.eclipse.emf.edit.provider.IItemLabelProvider                org.eclipse.emf.edit.provider.IItemPropertySource" uri="http://www.polarsys.org/capella/core/la/7.0.0"/>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated CapellaModeller -->
      <extender class="org.polarsys.capella.core.data.la.provider.LaItemProviderAdapterFactory$ActivityChildCreationExtender" uri="http://www.polarsys.org/capella/common/activity/7.0.0"/>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated CapellaModeller -->
      <factory class="org.polarsys.capella.core.data.pa.provider.PaItemProviderAdapterFactory" supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider                org.eclipse.emf.edit.provider.IStructuredItemContentProvider                org.eclipse.emf.edit.provider.ITreeItemContentProvider                org.eclipse.emf.edit.provider.IItemLabelProvider                org.eclipse.emf.edit.provider.IItemPropertySource" uri="http://www.polarsys.org/capella/core/pa/7.0.0"/>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated CapellaModeller -->
      <extender class="org.polarsys.capella.core.data.pa.provider.PaItemProviderAdapterFactory$ActivityChildCreationExtender" uri="http://www.polarsys.org/capella/common/activity/7.0.0"/>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated CapellaModeller -->
      <factory class="org.polarsys.capella.core.data.pa.deployment.provider.DeploymentItemProviderAdapterFactory" supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider                org.eclipse.emf.edit.provider.IStructuredItemContentProvider                org.eclipse.emf.edit.provider.ITreeItemContentProvider                org.eclipse.emf.edit.provider.IItemLabelProvider                org.eclipse.emf.edit.provider.IItemPropertySource" uri="http://www.polarsys.org/capella/core/pa/deployment/7.0.0"/>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated CapellaModeller -->
      <factory class="org.polarsys.capella.core.data.epbs.provider.EpbsItemProviderAdapterFactory" supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider                org.eclipse.emf.edit.provider.IStructuredItemContentProvider                org.eclipse.emf.edit.provider.ITreeItemContentProvider                org.eclipse.emf.edit.provider.IItemLabelProvider                org.eclipse.emf.edit.provider.IItemPropertySource" uri="http://www.polarsys.org/capella/core/epbs/7.0.0"/>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated CapellaModeller -->
      <factory class="org.polarsys.capella.core.data.sharedmodel.provider.SharedmodelItemProviderAdapterFactory" supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider                org.eclipse.emf.edit.provider.IStructuredItemContentProvider                org.eclipse.emf.edit.provider.ITreeItemContentProvider                org.eclipse.emf.edit.provider.IItemLabelProvider                org.eclipse.emf.edit.provider.IItemPropertySource" uri="http://www.polarsys.org/capella/core/sharedmodel/7.0.0"/>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated CapellaModeller -->
      <factory class="org.polarsys.capella.core.data.capellacommon.provider.CapellacommonItemProviderAdapterFactory" supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider                org.eclipse.emf.edit.provider.IStructuredItemContentProvider                org.eclipse.emf.edit.provider.ITreeItemContentProvider                org.eclipse.emf.edit.provider.IItemLabelProvider                org.eclipse.emf.edit.provider.IItemPropertySource" uri="http://www.polarsys.org/capella/core/common/7.0.0"/>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated CapellaModeller -->
      <factory class="org.polarsys.capella.core.data.information.provider.InformationItemProviderAdapterFactory" supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider                org.eclipse.emf.edit.provider.IStructuredItemContentProvider                org.eclipse.emf.edit.provider.ITreeItemContentProvider                org.eclipse.emf.edit.provider.IItemLabelProvider                org.eclipse.emf.edit.provider.IItemPropertySource" uri="http://www.polarsys.org/capella/core/information/7.0.0"/>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated CapellaModeller -->
      <extender class="org.polarsys.capella.core.data.information.provider.InformationItemProviderAdapterFactory$ModellingcoreChildCreationExtender" uri="http://www.polarsys.org/capella/common/core/7.0.0"/>
      <extender class="org.polarsys.capella.core.data.information.provider.InformationItemProviderAdapterFactory$ActivityChildCreationExtender" uri="http://www.polarsys.org/capella/common/activity/7.0.0"/>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated CapellaModeller -->
      <factory class="org.polarsys.capella.core.data.information.communication.provider.CommunicationItemProviderAdapterFactory" supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider                org.eclipse.emf.edit.provider.IStructuredItemContentProvider                org.eclipse.emf.edit.provider.ITreeItemContentProvider                org.eclipse.emf.edit.provider.IItemLabelProvider                org.eclipse.emf.edit.provider.IItemPropertySource" uri="http://www.polarsys.org/capella/core/information/communication/7.0.0"/>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated CapellaModeller -->
      <factory class="org.polarsys.capella.core.data.information.datatype.provider.DatatypeItemProviderAdapterFactory" supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider                org.eclipse.emf.edit.provider.IStructuredItemContentProvider                org.eclipse.emf.edit.provider.ITreeItemContentProvider                org.eclipse.emf.edit.provider.IItemLabelProvider                org.eclipse.emf.edit.provider.IItemPropertySource" uri="http://www.polarsys.org/capella/core/information/datatype/7.0.0"/>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated CapellaModeller -->
      <factory class="org.polarsys.capella.core.data.information.datavalue.provider.DatavalueItemProviderAdapterFactory" supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider                org.eclipse.emf.edit.provider.IStructuredItemContentProvider                org.eclipse.emf.edit.provider.ITreeItemContentProvider                org.eclipse.emf.edit.provider.IItemLabelProvider                org.eclipse.emf.edit.provider.IItemPropertySource" uri="http://www.polarsys.org/capella/core/information/datavalue/7.0.0"/>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated CapellaModeller -->
      <extender class="org.polarsys.capella.core.data.information.datavalue.provider.DatavalueItemProviderAdapterFactory$ModellingcoreChildCreationExtender" uri="http://www.polarsys.org/capella/common/core/7.0.0"/>
      <extender class="org.polarsys.capella.core.data.information.datavalue.provider.DatavalueItemProviderAdapterFactory$ActivityChildCreationExtender" uri="http://www.polarsys.org/capella/common/activity/7.0.0"/>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated CapellaModeller -->
      <factory class="org.polarsys.capella.core.data.cs.provider.CsItemProviderAdapterFactory" supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider                org.eclipse.emf.edit.provider.IStructuredItemContentProvider                org.eclipse.emf.edit.provider.ITreeItemContentProvider                org.eclipse.emf.edit.provider.IItemLabelProvider                org.eclipse.emf.edit.provider.IItemPropertySource" uri="http://www.polarsys.org/capella/core/cs/7.0.0"/>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated CapellaModeller -->
      <factory class="org.polarsys.capella.core.data.fa.provider.FaItemProviderAdapterFactory" supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider                org.eclipse.emf.edit.provider.IStructuredItemContentProvider                org.eclipse.emf.edit.provider.ITreeItemContentProvider                org.eclipse.emf.edit.provider.IItemLabelProvider                org.eclipse.emf.edit.provider.IItemPropertySource" uri="http://www.polarsys.org/capella/core/fa/7.0.0"/>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated CapellaModeller -->
      <extender class="org.polarsys.capella.core.data.fa.provider.FaItemProviderAdapterFactory$ActivityChildCreationExtender" uri="http://www.polarsys.org/capella/common/activity/7.0.0"/>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated CapellaModeller -->
      <factory class="org.polarsys.capella.core.data.interaction.provider.InteractionItemProviderAdapterFactory" supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider                org.eclipse.emf.edit.provider.IStructuredItemContentProvider                org.eclipse.emf.edit.provider.ITreeItemContentProvider                org.eclipse.emf.edit.provider.IItemLabelProvider                org.eclipse.emf.edit.provider.IItemPropertySource" uri="http://www.polarsys.org/capella/core/interaction/7.0.0"/>
   </extension>

</plugin>
