<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  Copyright (c) 2006, 2022 THALES GLOBAL SERVICES and others.
  
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0
  
  SPDX-License-Identifier: EPL-2.0
  
  Contributors:
       Thales - initial API and implementation
       Obeo - 2303 Add computed transitions in M&S diagrams
-->
<plugin>
   <extension-point id="migrationContributions" name="Migration Contributions" schema="schema/migrationContributions.exsd"/>
   <extension-point id="migrationContributors" name="Migration Contributors" schema="schema/migrationContributors.exsd"/>
   
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.polarsys.capella.core.data.migration"
            name="%migrationMenu">
      </category>
      
      <command
            categoryId="org.polarsys.capella.core.data.migration"
            id="org.polarsys.capella.core.data.migration.project"
            name="%projectMigration"
            description="%projectMigration_description">
      </command>
      
      <command
            categoryId="org.polarsys.capella.core.data.migration"
            id="org.polarsys.capella.core.data.migration.model"
            name="%semanticModelMigration"
            description="%semanticModelMigration_description">
      </command>
      
      <command
            categoryId="org.polarsys.capella.core.data.migration"
            id="org.polarsys.capella.core.data.migration.aird"
            name="%airdModelMigration"
            description="%airdModelMigration_description">
      </command>
      
   </extension>
   
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.polarsys.capella.core.data.migration.handlers.ProjectMigrationHandler"
            commandId="org.polarsys.capella.core.data.migration.project">
      </handler>
      <handler
            class="org.polarsys.capella.core.data.migration.handlers.ModelMigrationHandler"
            commandId="org.polarsys.capella.core.data.migration.model">
      </handler>
      <handler
            class="org.polarsys.capella.core.data.migration.handlers.AirdMigrationHandler"
            commandId="org.polarsys.capella.core.data.migration.aird">
      </handler>
      
   </extension>
   
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.polarsys.capella.core.data.migration.project"
            icon="icons/full/etools16/capella_migrate.gif">
      </image>
      <image
            commandId="org.polarsys.capella.core.data.migration.model"
            icon="icons/full/etools16/capella_migrate.gif">
      </image>
      <image
            commandId="org.polarsys.capella.core.data.migration.aird"
            icon="icons/full/etools16/capella_migrate.gif">
      </image>
      
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:capella.project.explorer#PopupMenu?after=group.migration">
            <menu id="org.polarsys.capella.core.data.migration" label="%migrationMenu">
            
	            <command
	                  commandId="org.polarsys.capella.core.data.migration.project">
	                  	<visibleWhen checkEnabled="false">
			              <reference
	                        definitionId="org.polarsys.capella.core.data.migration.visibilityMigration.project.expression" />
	           		    </visibleWhen>
	            </command>
	            <command
	                  commandId="org.polarsys.capella.core.data.migration.model">
	                  	<visibleWhen checkEnabled="false">
			              <reference
	                        definitionId="org.polarsys.capella.core.data.migration.visibilityMigration.model.expression" />
	           		    </visibleWhen>
	            </command>
	            <command
	                  commandId="org.polarsys.capella.core.data.migration.aird">
	                  	<visibleWhen checkEnabled="false">
			              <reference
	                        definitionId="org.polarsys.capella.core.data.migration.visibilityMigration.aird.expression" />
		          		</visibleWhen>
	            </command>
            
            </menu>
         
      </menuContribution>
   </extension>
   
   
   <extension
      point="org.polarsys.capella.core.preferences.capellaPreferences">
    
    <category
         name="%migrationMenu"
         description="%migrationMenu">
      <item
            id="org.polarsys.capella.core.data.migration.project"
            enableByDefault="true">
      </item>
      <item
            id="org.polarsys.capella.core.data.migration.aird"
            enableByDefault="false">
      </item>
      <item
            id="org.polarsys.capella.core.data.migration.model"
            enableByDefault="false">
      </item>
    </category>
      
   </extension>
   
   <!-- Contributions that should not be removed between versions -->
   <extension
         point="org.polarsys.capella.core.data.migration.migrationContributions">
      <migrationContribution
            class="org.polarsys.capella.core.data.migration.capella.CapellaMigrationContribution">
      </migrationContribution>
      <migrationContribution
            class="org.polarsys.capella.core.data.migration.aird.SiriusMigrationContribution">
      </migrationContribution>
      <migrationContribution
         class="org.polarsys.capella.core.data.migration.af.ViewpointMigrationContribution">
      </migrationContribution>
      <migrationContribution
            class="org.polarsys.capella.core.data.migration.contribution.BackupResourceContribution">
      </migrationContribution>
      <migrationContribution
            class="org.polarsys.capella.core.data.migration.contribution.SVGMigrationContribution">
      </migrationContribution>
      
      
      <migrationContribution 
            class="org.polarsys.capella.core.data.migration.capella.HoldingResourceRemovalContribution">
      </migrationContribution>
      <migrationContribution 
            class="org.polarsys.capella.core.data.migration.capella.EOppositeMigrationContribution">
      </migrationContribution>
      <migrationContribution
            class="org.polarsys.capella.core.data.migration.capella.OpaqueExpressionMigrationContribution">
      </migrationContribution>
       <migrationContribution
             class="org.polarsys.capella.core.data.migration.capella.InvalidAirdReferenceMigrationContribution">
       </migrationContribution>
      <migrationContribution 
            class="org.polarsys.capella.core.data.migration.contribution.PatternInstanceDeletionContribution">
      </migrationContribution>
      <migrationContribution
            class="org.polarsys.capella.core.data.migration.contribution.EnableFCAndPPFiltersMigrationContribution">
      </migrationContribution>
      <migrationContribution
            class="org.polarsys.capella.core.data.migration.contribution.ImagePathInRichTextAttributeContribution">
      </migrationContribution>
   </extension>
   
   
   <extension
         point="org.polarsys.capella.core.data.migration.migrationContributors">
      <migrationContributor
            class="org.polarsys.capella.core.data.migration.capella.CapellaMigrationContributor">
      </migrationContributor>
      <migrationContributor
            class="org.polarsys.capella.core.data.migration.aird.AirdMigrationContributor">
      </migrationContributor>
      <migrationContributor
         class="org.polarsys.capella.core.data.migration.af.ViewpointMigrationContributor"> 
      </migrationContributor>
      <migrationContributor
         class="org.polarsys.capella.core.data.migration.contribution.PatternCatalogDeletionContributor"> 
      </migrationContributor>
      <migrationContributor
            class="org.polarsys.capella.core.data.migration.aird.ImageDependenciesMigrationContributor">
      </migrationContributor>
      
   </extension>
   
   <extension point="org.polarsys.capella.core.commandline.core.commandline">
	      <CommandlineExtension
	            class="org.polarsys.capella.core.data.migration.cmdline.MigrationCommandLine"
	            id="org.polarsys.capella.migration">
	      </CommandlineExtension>
	</extension>
   
   
   
   
   <!-- Contributions that should be removed between versions -->
   
   <extension
         point="org.polarsys.capella.core.data.migration.migrationContributions">
      <migrationContribution
            class="org.polarsys.capella.core.data.migration.capella.LegacyResourceMigrationContribution">
      </migrationContribution>
      <migrationContribution
            class="org.polarsys.capella.core.data.migration.contribution.ActivateDiagramFiltersContribution">
      </migrationContribution>
 
   </extension>
   
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
         <propertyTester
            class="org.polarsys.capella.core.data.migration.handlers.MigrationPropertyTester"
            id="org.polarsys.capella.core.data.migration.isValidMigrationCommand"
            namespace="org.polarsys.capella.core.data.migration"
            properties="isValidMigrationCommand"
            type="org.eclipse.core.resources.IResource">
          </propertyTester>
  </extension>
   
  <extension
         point="org.eclipse.core.expressions.definitions"> 
         <definition
            id="org.polarsys.capella.core.data.migration.visibilityMigration.project.expression">
              <with
                  variable="selection">
                  <iterate ifEmpty="false">
                    <test
                        forcePluginActivation="true"
                        args="org.polarsys.capella.core.data.migration.project"
                        property="org.polarsys.capella.core.data.migration.isValidMigrationCommand">
                      </test>
                  </iterate>
            </with>
      </definition>
      <definition
            id="org.polarsys.capella.core.data.migration.visibilityMigration.model.expression">
              <with
                  variable="selection">
                  <iterate ifEmpty="false">
                    <test
                        forcePluginActivation="true"
                        args="org.polarsys.capella.core.data.migration.model"
                        property="org.polarsys.capella.core.data.migration.isValidMigrationCommand">
                    </test>
                  </iterate>
            </with>
      </definition>
      <definition
            id="org.polarsys.capella.core.data.migration.visibilityMigration.aird.expression">
              <with
                  variable="selection">
                  <iterate ifEmpty="false">
                    <test
                        forcePluginActivation="true"
                        args="org.polarsys.capella.core.data.migration.aird"
                        property="org.polarsys.capella.core.data.migration.isValidMigrationCommand">
                    </test>
                  </iterate>
            </with>
      </definition>
   </extension>
   
   
</plugin>
