<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  Copyright (c) 2006, 2022 THALES GLOBAL SERVICES.
  
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0
  
  SPDX-License-Identifier: EPL-2.0
  
  Contributors:
       Thales - initial API and implementation
-->
<plugin>
   <extension point="org.eclipse.emf.validation.constraintProviders">
      <constraintProvider>
         <package namespaceUri="http://www.polarsys.org/capella/core/interaction/7.0.0">
         </package>
         <constraints categories="capella.category/design/well-formedness/scenarios">
            <constraint class="org.polarsys.capella.core.data.interaction.validation.interactionUse.MDCHK_InteractionUse_ReferencedScenario_1" id="DWF_DS_01" isEnabledByDefault="true" lang="Java" mode="Batch" name="%constraint.name" severity="WARNING" statusCode="1">
               <message>
                  %constraint.message
               </message>
               <description>
                  %constraint.description
               </description>
               <target class="InteractionUse">
               </target>
               <param name="group" value="MERGE">
               </param>
            </constraint>
            <constraint class="org.polarsys.capella.core.data.interaction.validation.instanceRole.MDCHK_InstanceRole_Type_1" id="DWF_DS_02" isEnabledByDefault="true" lang="Java" mode="Batch" name="%constraint.name.0" severity="ERROR" statusCode="1">
               <message>
                  %constraint.message.0
               </message>
               <description>
                  %constraint.description.0
               </description>
               <target class="InstanceRole">
               </target>
               <param name="group" value="MERGE">
               </param>
            </constraint>
            <constraint class="org.polarsys.capella.core.data.interaction.validation.sequenceMessage.MDCHK_SequenceMessage_InvokedOperation_1" id="DWF_DS_03" isEnabledByDefault="true" lang="Java" mode="Batch" name="%constraint.name.1" severity="ERROR" statusCode="1">
               <message>
                  %constraint.message.1
               </message>
               <description>
                  %constraint.description.1
               </description>
               <target class="SequenceMessage">
               </target>
               <param name="group" value="MERGE">
               </param>
            </constraint>
            <constraint class="org.polarsys.capella.core.data.interaction.validation.sequenceMessage.MDCHK_SequenceMessage_InvokedOperation_2" id="DWF_DS_04" isEnabledByDefault="true" lang="Java" mode="Batch" name="%constraint.name.2" severity="ERROR" statusCode="1">
               <message>
                  %constraint.message.2
               </message>
               <description>
                  %constraint.description.2
               </description>
               <target class="SequenceMessage">
               </target>
               <param name="group" value="MERGE">
               </param>
            </constraint>
            <constraint class="org.polarsys.capella.core.data.interaction.validation.sequenceMessage.MDCHK_SequenceMessage_ComponentsFiliationJustification" id="DWF_DS_05" isEnabledByDefault="true" lang="Java" mode="Batch" name="%constraint.name.3" severity="WARNING" statusCode="1">
               <message>
                  %constraint.message.3
               </message>
               <description>
                  %constraint.description.3
               </description>
               <target class="SequenceMessage">
               </target>
               <param name="group" value="MERGE">
               </param>
            </constraint>
            <constraint class="org.polarsys.capella.core.data.interaction.validation.sequenceMessage.MDCHK_SequenceMessage_OperationJustification" id="DWF_DS_06" isEnabledByDefault="true" lang="Java" mode="Batch" name="%constraint.name.4" severity="WARNING" statusCode="1">
               <message>
                  %constraint.message.4
               </message>
               <description>
                  %constraint.description.4
               </description>
               <target class="SequenceMessage">
               </target>
               <param name="group" value="MERGE">
               </param>
            </constraint>
            <constraint class="org.polarsys.capella.core.data.interaction.validation.sequenceMessage.MDCHK_SequenceMessage_NotNullInvokedOperation" id="DWF_DS_07" isEnabledByDefault="true" lang="Java" mode="Batch" name="%constraint.name.5" severity="ERROR" statusCode="1">
               <message>
                  %constraint.message.5
               </message>
               <description>
                  %constraint.description.5
               </description>
               <target class="SequenceMessage">
               </target>
            </constraint>
            <constraint class="org.polarsys.capella.core.data.interaction.validation.scenario.MDCHK_Scenario_Ordering" id="DWF_DS_08" isEnabledByDefault="true" lang="java" mode="Live" name="%constraint.name.6" severity="ERROR" statusCode="1">
               <message>
                  %constraint.message.6
               </message>
               <description>
                  %constraint.description.6
               </description>
               <target class="Scenario">
               </target>
            </constraint>
            <constraint class="org.polarsys.capella.core.data.interaction.validation.sequenceMessage.SequenceMessageExchangeItems" id="DWF_DS_09" isEnabledByDefault="true" lang="Java" mode="Batch" name="%constraint.name.7" severity="ERROR" statusCode="1">
               <message>
                  %constraint.message.7
               </message>
               <description>
                  %constraint.description.7
               </description>
               <target class="SequenceMessage">
               </target>
            </constraint>
            <constraint class="org.polarsys.capella.core.data.interaction.validation.scenario.MDCHK_Scenario_KindVSLevelConsistency" id="DWF_DS_10" isEnabledByDefault="true" lang="Java" mode="Batch" name="%constraint.name.8" severity="ERROR" statusCode="1">
               <message>
                  %constraint.message.8
               </message>
               <description>
                  %constraint.description.8
               </description>
               <target class="Scenario">
               </target>
            </constraint>
            <constraint class="org.polarsys.capella.core.data.interaction.validation.scenario.MDCHK_Scenario_BranchsSequenceMessageOrdered_1" id="DWF_DS_11" isEnabledByDefault="true" lang="Java" mode="Batch" name="%constraint.name.9" severity="ERROR" statusCode="1">
               <message>
                  %constraint.message.9
               </message>
               <description>
                  %constraint.description.9
               </description>
               <target class="Scenario">
               </target>
            </constraint>
            <constraint class="org.polarsys.capella.core.data.interaction.validation.sequenceMessage.MDCHK_SequenceMessage_NameValidation" id="DWF_DS_12" isEnabledByDefault="true" lang="Java" mode="Batch" name="%constraint.name.10" severity="WARNING" statusCode="1">
               <message>
                  %constraint.message.10
               </message>
               <description>
                  %constraint.description.10
               </description>
               <target class="SequenceMessage">
               </target>
            </constraint>
            <constraint class="org.polarsys.capella.core.data.interaction.validation.sequenceMessage.MDCHK_SequenceMessage_TimerReflexive" id="DWF_DS_13" isEnabledByDefault="true" lang="Java" mode="Batch" name="%constraint.name.11" severity="ERROR" statusCode="1">
               <message>
                  %constraint.message.11
               </message>
               <description>
                  %constraint.description.11
               </description>
               <target class="SequenceMessage">
               </target>
            </constraint>
            <constraint class="org.polarsys.capella.core.data.interaction.validation.sequenceMessage.MDCHK_SequenceMessage_CancelTimer" id="DWF_DS_14" isEnabledByDefault="true" lang="Java" mode="Batch" name="%constraint.name.12" severity="ERROR" statusCode="1">
               <message>
                  %constraint.message.12
               </message>
               <target class="SequenceMessage">
               </target>
               <description>
                  %constraint.description.12
               </description>
            </constraint>
            <constraint class="org.polarsys.capella.core.data.interaction.validation.sequenceMessage.MDCHK_SequenceMessage_ReadSharedData" id="DWF_DS_15" isEnabledByDefault="true" lang="Java" mode="Batch" name="%constraint.name.13" severity="ERROR" statusCode="1">
               <message>
                  %constraint.message.13
               </message>
               <target class="SequenceMessage">
               </target>
               <description>
                  %constraint.description.13
               </description>
            </constraint>
            <constraint class="org.polarsys.capella.core.data.interaction.validation.sequenceMessage.MDCHK_SequenceMessage_Kind" id="DWF_DS_17" isEnabledByDefault="true" lang="Java" mode="Batch" name="%constraint.name.14" severity="WARNING" statusCode="1">
               <message>
                  %constraint.message.14
               </message>
               <target class="SequenceMessage">
               </target>
               <description>
                  %constraint.description.14
               </description>
            </constraint>
            <constraint class="org.polarsys.capella.core.data.interaction.validation.sequenceMessage.MDCHK_SequenceMessage_ES_OES_InvokedOperation" id="DWF_DS_18" isEnabledByDefault="true" lang="Java" mode="Batch" name="%constraint.name.15" severity="ERROR" statusCode="1">
               <message>
                  %constraint.message.15
               </message>
               <description>
                  %constraint.description.15
               </description>
               <target class="SequenceMessage">
               </target>
            </constraint>
            <constraint class="org.polarsys.capella.core.data.interaction.validation.sequenceMessage.MDCHK_SequenceMessage_FS_OAS_InvokedOperation" id="DWF_DS_19" isEnabledByDefault="true" lang="Java" mode="Batch" name="%constraint.name.16" severity="ERROR" statusCode="1">
               <message>
                  %constraint.message.16
               </message>
               <target class="SequenceMessage"/>
               <description>
                  %constraint.description.16
               </description>
            </constraint>
            <constraint class="org.polarsys.capella.core.data.interaction.validation.stateFragment.MDCHK_StateFragment_ES_OES_AllocatedFunction" id="DWF_DS_20" isEnabledByDefault="true" lang="Java" mode="Batch" name="%constraint.name.17" severity="ERROR" statusCode="1">
               <message>
                  %constraint.message.17
               </message>
               <target class="StateFragment"/>
               <description>
                  %constraint.description.17
               </description>
            </constraint>
            <constraint class="org.polarsys.capella.core.data.interaction.validation.stateFragment.MDCHK_StateFragment_ES_OES_ModeState" id="DWF_DS_21" isEnabledByDefault="true" lang="Java" mode="Batch" name="%constraint.name.18" severity="ERROR" statusCode="1">
               <message>
                  %constraint.message.18
               </message>
               <target class="StateFragment">
               </target>
               <description>
                  %constraint.description.18
               </description>
            </constraint>
            <constraint class="org.polarsys.capella.core.data.interaction.validation.stateFragment.MDCHK_StateFragment_FS_OAS_StateModeAvailability" id="DWF_DS_22" isEnabledByDefault="true" lang="Java" mode="Batch" name="%constraint.name.19" severity="ERROR" statusCode="1">
               <message>
                  %constraint.message.19
               </message>
               <target class="StateFragment">
               </target>
               <description>
                  %constraint.description.19
               </description>
            </constraint>
            <constraint class="org.polarsys.capella.core.data.interaction.validation.interactionUse.MDCHK_InteractionUse_ReferencedScenario" 
            id="DWF_DS_23" isEnabledByDefault="true" lang="Java" mode="Batch" 
            name="%constraint.name.20" severity="ERROR" statusCode="1">
               <message>
               	  %constraint.message.20
               </message>
               <target class="InteractionUse">
               </target>
               <description>
                  %constraint.description.20
               </description>
            </constraint>
            <constraint
                  class="org.polarsys.capella.core.data.interaction.validation.scenario.InstanceRoleHasDifferentNameThanRepresentedInstance"
                  id="DWF_DS_24"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="%constraint.name.21"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  %constraint.message.21
               </message>
               <target
                     class="Scenario">
               </target>
               <description>
                  %constraint.description.21
               </description>
            </constraint>
            <constraint
                  class="org.polarsys.capella.core.data.interaction.validation.sequenceMessage.SequenceMessageInvokedOperationExchangeItems"
                  id="DCOM_24"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="%constraint.name.22"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  %constraint.message.22
               </message>
               <target
                     class="SequenceMessage">
               </target>
               <description>
                  %constraint.description.22
               </description>
            </constraint>
         </constraints>
         <constraints categories="capella.category/design/completeness">
            <constraint class="org.polarsys.capella.core.data.interaction.validation.scenario.MDCHK_Scenario_InvolvementComponents_1" id="DCOM_05" isEnabledByDefault="true" lang="Java" mode="Batch" 
            name="%constraint.name.23" severity="WARNING" statusCode="1">
               <message>
                  %constraint.message.23
               </message>
               <description>
                  %constraint.description.23
               </description>
               <target class="Scenario">
               </target>
            </constraint>
         </constraints>
         <constraints categories="capella.category/transition/consistency/scenarios">
            <constraint class="org.polarsys.capella.core.data.interaction.validation.scenario.MDCHK_Scenario_SequenceMessageOrderedConforms_1" id="TC_DS_01" isEnabledByDefault="true" lang="Java" mode="Batch" name="%constraint.name.24" severity="ERROR" statusCode="1">
               <message>
                  %constraint.message.24
               </message>
               <description>
                  %constraint.description.24
               </description>
               <target class="Scenario">
               </target>
               <param name="group" value="MERGE">
               </param>
            </constraint>
            <constraint class="org.polarsys.capella.core.data.interaction.validation.sequenceMessage.MDCHK_SequenceMessage_UnlinkJustification" id="TC_DS_02" isEnabledByDefault="true" lang="Java" mode="Batch" name="%constraint.name.25" severity="WARNING" statusCode="1">
               <message>
                  %constraint.message.25
               </message>
               <description>
                  %constraint.description.25
               </description>
               <target class="SequenceMessage">
               </target>
               <param name="group" value="MERGE">
               </param>
            </constraint>
            <constraint class="org.polarsys.capella.core.data.interaction.validation.scenario.ScenarioRealizationCheck" id="TC_DS_03" isEnabledByDefault="true" lang="Java" mode="Batch" name="%constraint.name.26" severity="WARNING" statusCode="1">
               <message>
                  %constraint.message.26
               </message>
               <description>
                  %constraint.description.26
               </description>
               <target class="Scenario">
               </target>
               <param name="group" value="MERGE">
               </param>
            </constraint>
         </constraints>
         <constraints categories="capella.category/design/well-formedness/use_cases">
            <constraint class="org.polarsys.capella.core.data.interaction.validation.abstractCapability.AbstractCapability_Realization" id="DWF_UC_02" isEnabledByDefault="true" lang="Java" mode="Batch" name="%constraint.name.27" severity="WARNING" statusCode="1">
               <message>
                  %constraint.message.27
               </message>
               <description>
                  %constraint.description.27
               </description>
               <target class="AbstractCapability">
               </target>
               <param name="group" value="MERGE">
               </param>
            </constraint>
         </constraints>
         <constraints
            categories="capella.category/design/well-formedness/capabilities">
         <constraint
	               class="org.polarsys.capella.core.data.interaction.validation.abstractCapability.MDCHK_Capability_Components_Involved"
	               id="DWF_CA_07"
	               isEnabledByDefault="true"
	               lang="java"
	               mode="Batch"
	               name="%constraint.name.28"
	               severity="WARNING"
	               statusCode="1">
	            <message>
	               %constraint.message.28
	            </message>
	            <description>
	               %constraint.description.28
	            </description>
	            <target
	                  class="AbstractCapability">
	            </target>
            </constraint>
            <constraint
	               class="org.polarsys.capella.core.data.interaction.validation.abstractCapability.MDCHK_Capability_Components_NotInvolved"
	               id="DWF_CA_08"
	               isEnabledByDefault="true"
	               lang="java"
	               mode="Batch"
	               name="%constraint.name.29"
	               severity="WARNING"
	               statusCode="1">
	            <message>
	               %constraint.message.29
	            </message>
	            <description>
	               %constraint.description.29
	            </description>
	            <target
	                  class="AbstractCapability">
	            </target>
            </constraint>
            <constraint
	               class="org.polarsys.capella.core.data.interaction.validation.abstractCapability.MDCHK_Capability_FunctionalChains_Involvement"
	               id="DWF_CA_09"
	               isEnabledByDefault="true"
	               lang="java"
	               mode="Batch"
	               name="%constraint.name.30"
	               severity="WARNING"
	               statusCode="1">
	            <message>
	               %constraint.message.30
	            </message>
	            <description>
	               %constraint.description.30
	            </description>
	            <target
	                  class="AbstractCapability">
	            </target>
            </constraint>
         </constraints>
      </constraintProvider>
   </extension>
</plugin>
