<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  Copyright (c) 2018, 2020 THALES GLOBAL SERVICES.
  
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0
  
  SPDX-License-Identifier: EPL-2.0
  
  Contributors:
       Thales - initial API and implementation
-->
<plugin>
   <extension point="org.eclipse.emf.validation.constraintProviders">
     <constraintProvider>
         <package namespaceUri="http://www.polarsys.org/capella/core/information/7.0.0">
         </package>
         <constraints categories="capella.category/transition/consistency/components">
            <constraint class="org.polarsys.capella.core.data.information.validation.port.PR01_PortRealization_Realization" id="TC_DC_01" isEnabledByDefault="true" lang="Java" mode="Batch" name="%constraint.name" severity="WARNING" statusCode="1">
               <message>
                  %constraint.message
               </message>
               <target class="PortAllocation">
               </target>
               <description>
                  %constraint.description
               </description>
            </constraint>
            <constraint class="org.polarsys.capella.core.data.information.validation.port.MDCHK_Port_PortRealization" id="TC_DC_02" isEnabledByDefault="true" lang="Java" mode="Batch" name="%constraint.name.0" severity="ERROR" statusCode="1">
               <message>
                  %constraint.message.0
               </message>
               <target class="Port">
               </target>
               <description>
                  %constraint.description.0
               </description>
            </constraint>
         </constraints>
         <constraints categories="capella.category/transition/consistency/interfaces">
            <constraint class="org.polarsys.capella.core.data.information.validation.exchangeitem.EI01_ExchangeItemMechanism" id="TC_I_01" isEnabledByDefault="true" lang="Java" mode="Batch" name="%constraint.name.1" severity="WARNING" statusCode="1">
               <message>
                  %constraint.message.1
               </message>
               <description>
                  %constraint.description.1
               </description>
               <target class="ExchangeItem">
               </target>
            </constraint>
            <constraint class="org.polarsys.capella.core.data.information.validation.exchangeitem.ME01G_ExchangeItemElement" id="TC_I_02" isEnabledByDefault="true" lang="Java" mode="Batch" name="%constraint.name.2" severity="WARNING" statusCode="1">
               <message>
                  %constraint.message.2
               </message>
               <description>
                  %constraint.description.2
               </description>
               <target class="ExchangeItemElement">
               </target>
            </constraint>
            <constraint class="org.polarsys.capella.core.data.information.validation.exchangeitem.ExchangeItemMechanismRestriction" id="TC_I_06" isEnabledByDefault="true" lang="Java" mode="Batch" name="%constraint.name.3" severity="WARNING" statusCode="1">
               <message>
                  %constraint.message.3
               </message>
               <description>
                  %constraint.description.3
               </description>
               <target class="ExchangeItem">
               </target>
            </constraint>
            <constraint class="org.polarsys.capella.core.data.information.validation.exchangeitem.OALayerExchangeItemMechanismRestriction" id="TC_I_07" isEnabledByDefault="false" lang="Java" mode="Batch" name="%constraint.name.4" severity="ERROR" statusCode="1">
               <message>
                  %constraint.message.4
               </message>
               <description>
                  %constraint.description.4
               </description>
               <target class="ExchangeItem">
               </target>
            </constraint>
            <constraint class="org.polarsys.capella.core.data.information.validation.exchangeitem.SALayerExchangeItemMechanismRestriction" id="TC_I_08" isEnabledByDefault="false" lang="Java" mode="Batch" name="%constraint.name.5" severity="ERROR" statusCode="1">
               <message>
                  %constraint.message.5
               </message>
               <description>
                  %constraint.description.5
               </description>
               <target class="ExchangeItem">
               </target>
            </constraint>
            <constraint class="org.polarsys.capella.core.data.information.validation.exchangeitem.LALayerExchangeItemMechanismRestriction" id="TC_I_09" isEnabledByDefault="false" lang="Java" mode="Batch" name="%constraint.name.6" severity="ERROR" statusCode="1">
               <message>
                  %constraint.message.6
               </message>
               <description>
                  %constraint.description.6
               </description>
               <target class="ExchangeItem">
               </target>
            </constraint>
            <constraint class="org.polarsys.capella.core.data.information.validation.exchangeitem.EPBSLayerExchangeItemMechanismRestriction" id="TC_I_10" isEnabledByDefault="false" lang="Java" mode="Batch" name="%constraint.name.7" severity="ERROR" statusCode="1">
               <message>
                  %constraint.message.7
               </message>
               <description>
                  %constraint.description.7
               </description>
               <target class="ExchangeItem">
               </target>
            </constraint>
            <constraint
                  class="org.polarsys.capella.core.data.information.validation.exchangeitem.ExchangeItemsWithAnInheritanceRelationshipHaveTheSameExchangeMechanism"
                  id="TC_I_11"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="%constraint.name.8"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  %constraint.message.8
               </message>
               <description>
                  %constraint.description.8
               </description>
               <target
                     class="ExchangeItem">
               </target>
            </constraint>
            <constraint
                  class="org.polarsys.capella.core.data.information.validation.exchangeitem.InheritanceConstraintForExchangeItemElement"
                  id="TC_I_12"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="%constraint.name.9"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  %constraint.message.9
               </message>
               <description>
                  %constraint.description.9
               </description>
               <target
                     class="ExchangeItem">
               </target>
            </constraint>
            <constraint
                  class="org.polarsys.capella.core.data.information.validation.exchangeitem.InheritanceConstraint2ForExchangeItemElement"
                  id="TC_I_13"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="%constraint.name.10"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  %constraint.message.10
               </message>
               <description>
                  %constraint.description.10
               </description>
               <target
                     class="ExchangeItem">
               </target>
            </constraint>
         </constraints>
         <constraints categories="capella.category/integrity">
            <constraint class="org.polarsys.capella.core.data.information.validation.association.MDCHK_Association_Unnaming" id="I_01" isEnabledByDefault="false" lang="Java" mode="Batch" name="%constraint.name.11" severity="WARNING" statusCode="1">
               <message>
                  %constraint.message.11
               </message>
               <target class="Association">
               </target>
               <description>
                  %constraint.description.11
               </description>
            </constraint>
            <constraint class="org.polarsys.capella.core.data.information.validation.classpkg.MDCHK_DataPkg_Naming_1" id="I_02" isEnabledByDefault="false" lang="Java" mode="Batch" name="%constraint.name.12" severity="WARNING" statusCode="1">
               <message>
                  %constraint.message.12
               </message>
               <target class="DataPkg">
               </target>
               <description>
                  %constraint.description.12
               </description>
            </constraint>
         </constraints>
         <constraints categories="capella.category/design/well-formedness/data">
            <constraint class="org.polarsys.capella.core.data.information.validation.union.MDCHK_Union_qualifierIntegrity" id="DWF_D_01" isEnabledByDefault="true" lang="Java" mode="Batch" name="%constraint.name.13" severity="ERROR" statusCode="1">
               <message>
                  %constraint.message.13
               </message>
               <description>
                  %constraint.description.13
               </description>
               <target class="Union">
               </target>
            </constraint>
            <constraint class="org.polarsys.capella.core.data.information.validation.union.MDCHK_Union_QualifierCardinality" id="DWF_D_02" isEnabledByDefault="true" lang="Java" mode="Batch" name="%constraint.name.14" severity="ERROR" statusCode="1">
               <message>
                  %constraint.message.14
               </message>
               <description>
                  %constraint.description.14
               </description>
               <target class="Union">
               </target>
            </constraint>
            <constraint class="org.polarsys.capella.core.data.information.validation.union.MDCHK_Union_DiscriminantUnionPropertyQualifier" id="DWF_D_03" isEnabledByDefault="true" lang="Java" mode="Batch" name="%constraint.name.15" severity="WARNING" statusCode="1">
               <message>
                  %constraint.message.15
               </message>
               <description>
                  %constraint.description.15
               </description>
               <target class="Union">
               </target>
            </constraint>
            <constraint class="org.polarsys.capella.core.data.information.validation.association.AssociationCompositionProperty" id="DWF_D_04" isEnabledByDefault="true" lang="Java" mode="Batch" name="%constraint.name.16" severity="ERROR" statusCode="1">
               <message>
                  %constraint.message.16
               </message>
               <description>
                  %constraint.description.16
               </description>
               <target class="Association">
               </target>
            </constraint>
            <constraint class="org.polarsys.capella.core.data.information.validation.association.AssociationEndsPrimitive" id="DWF_D_05" isEnabledByDefault="true" lang="Java" mode="Batch" name="%constraint.name.17" severity="WARNING" statusCode="1">
               <message>
                  %constraint.message.17
               </message>
               <description>
                  %constraint.description.17
               </description>
               <target class="Association">
               </target>
            </constraint>
            <constraint class="org.polarsys.capella.core.data.information.validation.property.PropertyTypeRule" id="DWF_D_06" isEnabledByDefault="true" lang="Java" mode="Batch" name="%constraint.name.18" severity="WARNING" statusCode="1">
               <message>
                  %constraint.message.18
               </message>
               <description>
                  %constraint.description.18
               </description>
               <target class="Property">
               </target>
            </constraint>
            <constraint class="org.polarsys.capella.core.data.information.validation.union.UnionDiscriminant" id="DWF_D_08" isEnabledByDefault="true" lang="Java" mode="Batch" name="%constraint.name.19" severity="ERROR" statusCode="1">
               <message>
                  %constraint.message.19
               </message>
               <description>
                  %constraint.description.19
               </description>
               <target class="Union">
               </target>
            </constraint>
            <constraint class="org.polarsys.capella.core.data.information.validation.association.MDCHK_Association_NavigableAgggregationComposition" id="DWF_D_10" isEnabledByDefault="true" lang="Java" mode="Batch" name="%constraint.name.20" severity="WARNING" statusCode="1">
               <message>
                  %constraint.message.20
               </message>
               <description>
                  %constraint.description.20
               </description>
               <target class="Association">
               </target>
            </constraint>
            <constraint class="org.polarsys.capella.core.data.information.validation.association.MDCHK_Association_PropertyAggregationKind" id="DWF_D_11" isEnabledByDefault="true" lang="Java" mode="Batch" name="%constraint.name.21" severity="WARNING" statusCode="1">
               <message>
                  %constraint.message.21
               </message>
               <description>
                  %constraint.description.21
               </description>
               <target class="Association">
               </target>
            </constraint>
            <constraint class="org.polarsys.capella.core.data.information.validation.class_.MDCHK_PropertyWithOutType_1" id="DWF_D_12" isEnabledByDefault="true" lang="Java" mode="Batch" name="%constraint.name.22" severity="WARNING" statusCode="1">
               <message>
                  %constraint.message.22
               </message>
               <description>
                  %constraint.description.22
               </description>
               <target class="Property">
               </target>
            </constraint>
            <constraint class="org.polarsys.capella.core.data.information.validation.union.UnionPropertyQualifierConsistency" id="DWF_D_13" isEnabledByDefault="true" lang="Java" mode="Batch" name="%constraint.name.23" severity="ERROR" statusCode="1">
               <message>
                  %constraint.message.23
               </message>
               <target class="UnionProperty">
               </target>
               <description>
                  %constraint.description.23
               </description>
            </constraint>
            <constraint class="org.polarsys.capella.core.data.information.validation.association.MDCHK_Association_OwnedMembers" id="DWF_D_14" isEnabledByDefault="true" lang="Java" mode="Batch" name="%constraint.name.24" severity="WARNING" statusCode="1">
               <message>
                  %constraint.message.24
               </message>
               <description>
                  %constraint.description.24
               </description>
               <target class="Association">
               </target>
            </constraint>
            <constraint class="org.polarsys.capella.core.data.information.validation.class_.MDCHK_Class_Generalization_1" id="DWF_D_15" isEnabledByDefault="true" lang="java" mode="Batch" name="%constraint.name.25" severity="ERROR" statusCode="1">
               <message>
                  %constraint.message.25
               </message>
               <description>
                  %constraint.description.25
               </description>
               <target class="Class">
               </target>
            </constraint>
            <constraint class="org.polarsys.capella.core.data.information.validation.class_.MDCHK_DWF_D16" id="DWF_D_16" isEnabledByDefault="true" lang="Java" mode="Batch" name="%constraint.name.26" severity="ERROR" statusCode="1">
               <message>
                  %constraint.message.26
               </message>
               <description>
                  %constraint.description.26
               </description>
               <target class="DataPkg">
               </target>
            </constraint>
            <constraint class="org.polarsys.capella.core.data.information.validation.union.UnionDiscriminantDataValue" id="DWF_D_17" isEnabledByDefault="true" lang="Java" mode="Batch" name="%constraint.name.27" severity="ERROR" statusCode="1">
               <message>
                  %constraint.message.27
               </message>
               <target class="Union">
               </target>
               <description>
                  %constraint.description.27
               </description>
            </constraint>
            <constraint class="org.polarsys.capella.core.data.information.validation.collection.CollectionType" id="DWF_D_18" isEnabledByDefault="true" lang="Java" mode="Batch" name="%constraint.name.28" severity="WARNING" statusCode="1">
               <message>
                  %constraint.message.28
               </message>
               <description>
                  %constraint.description.28
               </description>
               <target class="Collection">
               </target>
            </constraint>
            <constraint class="org.polarsys.capella.core.data.information.validation.association.AssociationPropertyAggregationKindUnSet" id="DWF_D_29" isEnabledByDefault="true" lang="Java" mode="Batch" name="%constraint.name.29" severity="WARNING" statusCode="1">
               <message>
                  %constraint.message.29
               </message>
               <description>
                  %constraint.description.29
               </description>
               <target class="Association">
               </target>
            </constraint>
            <constraint class="org.polarsys.capella.core.data.information.validation.dataValue.CollectionValueFamilyTypeCheck" id="DWF_D_32" isEnabledByDefault="false" lang="Java" mode="Batch" name="%constraint.name.30" severity="WARNING" statusCode="1">
               <message>
                  %constraint.message.30
               </message>
               <description>
                  %constraint.description.30
               </description>
               <target class="AbstractCollectionValue">
               </target>
            </constraint>
            <constraint class="org.polarsys.capella.core.data.information.validation.association.AssociationTargetClassPropertyIsKey" id="DWF_D_38" isEnabledByDefault="false" lang="Java" mode="Batch" name="%constraint.name.31" severity="ERROR" statusCode="1">
               <message>
                  %constraint.message.31
               </message>
               <description>
                  %constraint.description.31
               </description>
               <target class="Property">
               </target>
            </constraint>
            <constraint class="org.polarsys.capella.core.data.information.validation.association.AssociationConsistencyBetweenLayers" id="DWF_D_40" isEnabledByDefault="true" lang="Java" mode="Batch" name="%constraint.name.32" severity="WARNING" statusCode="1">
               <message>
                  %constraint.message.32
               </message>
               <description>
                  %constraint.description.32</description>
               <target class="Association">
               </target>
            </constraint>
            <constraint class="org.polarsys.capella.core.data.information.validation.exchangeitem.CheckExchangeItemElementDirection" id="DWF_D_43" isEnabledByDefault="true" lang="Java" mode="Batch" name="%constraint.name.33" severity="ERROR" statusCode="1">
               <message>
                %constraint.message.33
               </message>
               <description>
                  %constraint.description.33
               </description>
               <target class="ExchangeItemElement">
               </target>
            </constraint>
            
            <constraint class="org.polarsys.capella.core.data.information.validation.association.ClassAssociationConsistency" id="DWF_D_45" isEnabledByDefault="true" lang="Java" mode="Batch" name="%constraint.name.34" severity="ERROR" statusCode="1">
               <message>
                  %constraint.message.34
               </message>
               <description>
                  %constraint.description.34
               </description>
               <target class="Association">
               </target>
            </constraint><constraint class="org.polarsys.capella.core.data.information.validation.association.AssociationContainerCheck" id="DWF_D_46" isEnabledByDefault="true" lang="Java" mode="Batch" name="%constraint.name.35" severity="WARNING" statusCode="1">
               <message>
                  %constraint.message.35
               </message>
               <description>
                  %constraint.description.35</description>
               <target class="Association">
               </target>
            </constraint>
                         <constraint
                               class="org.polarsys.capella.core.data.information.validation.property.PropertyKeyPartsCardinality"
                               id="DWF_D_49"
                               isEnabledByDefault="true"
                               lang="Java"
                               mode="Batch"
                               name="%constraint.name.36"
                               severity="ERROR"
                               statusCode="1">
                            <message>
                               %constraint.message.36
                               
                            </message>
                            <description>
                               %constraint.description.36
                            </description>
                            <target
                                  class="Property">
                            </target>
                         </constraint>
                         <constraint
                               class="org.polarsys.capella.core.data.information.validation.property.PropertyMaximumCardinalityIsNatural"
                               id="DWF_D_50"
                               isEnabledByDefault="false"
                               lang="Java"
                               mode="Batch"
                               name="%constraint.name.37"
                               severity="ERROR"
                               statusCode="1">
                            <message>
                               %constraint.message.37
                            </message>
                            <description>
                               %constraint.description.37
                            </description>
                            <target
                                  class="Property">
                            </target>
                            <target
                                  class="ExchangeItemElement">
                            </target>
                         </constraint>
                         <constraint
                               class="org.polarsys.capella.core.data.information.validation.property.PropertyMinimumCardinalityIsNaturalOrZero"
                               id="DWF_D_51"
                               isEnabledByDefault="true"
                               lang="Java"
                               mode="Batch"
                               name="%constraint.name.38"
                               severity="ERROR"
                               statusCode="1">
                            <message>
                               %constraint.message.38
                            </message>
                            <description>
                               %constraint.description.38
                            </description>
                            <target
                                  class="Property">
                            </target>
                            <target
                                  class="ExchangeItemElement">
                            </target>
                         </constraint>
                         <constraint
                               class="org.polarsys.capella.core.data.information.validation.property.TypeOfDefaultAndNullValueForProperty"
                               id="DWF_D_52"
                               isEnabledByDefault="true"
                               lang="Java"
                               mode="Batch"
                               name="%constraint.name.39"
                               severity="ERROR"
                               statusCode="1">
                            <message>
                               %constraint.message.39
                            </message>
                            <description>
                               %constraint.description.39
                            </description>
                            <target
                                  class="Property">
                            </target>
                         </constraint>
                         <constraint
                               class="org.polarsys.capella.core.data.information.validation.property.PropertyOrRoleOverridingIsNotAllowed"
                               id="DWF_D_53"
                               isEnabledByDefault="true"
                               lang="Java"
                               mode="Batch"
                               name="%constraint.name.40"
                               severity="ERROR"
                               statusCode="1">
                            <message>
                               %constraint.message.40
                            </message>
                            <description>
                               %constraint.description.40
                            </description>
                            <target
                                  class="Property">
                            </target>
                         </constraint>
                         <constraint
                               class="org.polarsys.capella.core.data.information.validation.property.PropertyOrRoleRespectsCovariance"
                               id="DWF_D_54"
                               isEnabledByDefault="false"
                               lang="Java"
                               mode="Batch"
                               name="%constraint.name.41"
                               severity="ERROR"
                               statusCode="1">
                            <message>
                               %constraint.message.41
                            </message>
                            <description>
                               %constraint.description.41
                            </description>
                            <target
                                  class="Property">
                            </target>
                         </constraint>
         </constraints>
         <constraints categories="capella.category/design/well-formedness/interfaces">
            <constraint class="org.polarsys.capella.core.data.information.validation.exchangeitem.ExchangeItemKind" id="DWF_I_01" isEnabledByDefault="true" lang="Java" mode="Batch" name="%constraint.name.42" severity="ERROR" statusCode="1">
               <message>
                  %constraint.message.42
               </message>
               <description>
                  %constraint.description.42
               </description>
               <target class="ExchangeItem">
               </target>
            </constraint>
         </constraints>
      </constraintProvider>
     <constraintProvider>
        <package namespaceUri="http://www.polarsys.org/capella/core/information/datavalue/7.0.0">
        </package>
        <package namespaceUri="http://www.polarsys.org/capella/core/information/datatype/7.0.0">
        </package>
        <constraints categories="capella.category/design/well-formedness/data">
           <constraint class="org.polarsys.capella.core.data.information.validation.dataValue.LiteralBooleanValueType" id="DWF_D_26" isEnabledByDefault="true" lang="Java" mode="Batch" name="%constraint.name.43" severity="WARNING" statusCode="1">
              <message>
                 %constraint.message.43
              </message>
              <description>
                 %constraint.description.43
              </description>
              <target class="LiteralBooleanValue">
              </target>
           </constraint>
           <constraint class="org.polarsys.capella.core.data.information.validation.dataValue.DataValueReferenceReferencedValue" id="DWF_D_28" isEnabledByDefault="true" lang="Java" mode="Batch" name="%constraint.name.44" severity="WARNING" statusCode="1">
              <message>
                 %constraint.message.44
              </message>
              <description>
                 %constraint.description.44
              </description>
              <target class="DataValue">
              </target>
           </constraint>
           <constraint class="org.polarsys.capella.core.data.information.validation.dataValue.BooleanValueFamilyTypeCheck" id="DWF_D_30" isEnabledByDefault="false" lang="Java" mode="Batch" name="%constraint.name.45" severity="WARNING" statusCode="1">
              <message>
                 %constraint.message.45
              </message>
              <description>
                 %constraint.description.45
              </description>
              <target class="AbstractBooleanValue">
              </target>
           </constraint>
           <constraint class="org.polarsys.capella.core.data.information.validation.dataValue.EnumerationReferenceTypeCheck" id="DWF_D_35" isEnabledByDefault="false" lang="Java" mode="Batch" name="%constraint.name.46" severity="WARNING" statusCode="1">
              <message>
                 %constraint.message.46
              </message>
              <description>
                 %constraint.description.46
              </description>
              <target class="EnumerationReference">
              </target>
           </constraint>
           <constraint class="org.polarsys.capella.core.data.information.validation.dataValue.StringValueFamilyTypeCheck" id="DWF_D_33" isEnabledByDefault="false" lang="Java" mode="Batch" name="%constraint.name.47" severity="WARNING" statusCode="1">
              <message>
                 %constraint.message.47
              </message>
              <description>
                 %constraint.description.47
              </description>
              <target class="AbstractStringValue">
              </target>
           </constraint>
           <constraint class="org.polarsys.capella.core.data.information.validation.dataValue.ComplexValueFamilyTypeCheck" id="DWF_D_34" isEnabledByDefault="false" lang="Java" mode="Batch" name="%constraint.name.48" severity="WARNING" statusCode="1">
              <message>
                 %constraint.message.48
              </message>
              <description>
                 %constraint.description.48
              </description>
              <target class="AbstractComplexValue">
              </target>
           </constraint>
           <constraint class="org.polarsys.capella.core.data.information.validation.dataValue.NumericValueFamilyTypeCheck" id="DWF_D_36" isEnabledByDefault="false" lang="Java" mode="Batch" name="%constraint.name.49" severity="WARNING" statusCode="1">
              <message>
                 %constraint.message.49
              </message>
              <description>
                 %constraint.description.49
              </description>
              <target class="NumericValue">
              </target>
           </constraint>
           <constraint class="org.polarsys.capella.core.data.information.validation.dataValue.ExpressionValueFamilyTypeCheck" id="DWF_D_37" isEnabledByDefault="false" lang="Java" mode="Batch" name="%constraint.name.50" severity="WARNING" statusCode="1">
              <message>
                 %constraint.message.50
              </message>
              <description>
                 %constraint.description.50
              </description>
              <target class="AbstractExpressionValue">
              </target>
           </constraint>
           <constraint class="org.polarsys.capella.core.data.information.validation.dataValue.DirectDataValueNameCheck" id="DWF_D_39" isEnabledByDefault="true" lang="Java" mode="Batch" name="%constraint.name.51" severity="ERROR" statusCode="1">
              <message>
                 %constraint.message.51
              </message>
              <description>
                 %constraint.description.51
              </description>
              <target class="DataValue">
              </target>
           </constraint>
            <constraint 
            	class="org.polarsys.capella.core.data.information.validation.dataValue.EnumerationLiteralType" 
            	id="DWF_D_56" 
            	isEnabledByDefault="true" 
            	lang="Java" 
            	mode="Batch" 
            	name="%constraint.name.52" 
            	severity="WARNING" 
            	statusCode="1">
              <message>
                 %constraint.message.52
              </message>
              <description>
                 %constraint.description.52
              </description>
              <target class="EnumerationLiteral">
              </target>
           </constraint>
           <constraint class="org.polarsys.capella.core.data.information.validation.dataValue.EnumerationLiteralDomainValueCheck" id="DWF_D_44" isEnabledByDefault="true" lang="Java" mode="Batch" name="%constraint.name.53" severity="WARNING" statusCode="1">
              <message>
                 %constraint.message.53
              </message>
              <description>
                 %constraint.description.53
              </description>
              <target class="Enumeration">
              </target>
           </constraint>
           <constraint
                 class="org.polarsys.capella.core.data.information.validation.dataValue.DataValueContainingFeatureCheck"
                 id="DWF_D_57"
                 isEnabledByDefault="true"
                 lang="Java"
                 mode="Batch"
                 name="%constraint.name.54"
                 severity="ERROR"
                 statusCode="1">
              <message>
                 %constraint.message.54
              </message>
              <description>
                 %constraint.description.54
              </description>
              <target
                    class="EnumerationLiteral">
              </target>
              <target
                    class="LiteralBooleanValue">
              </target>
           </constraint>
        </constraints>
     </constraintProvider>
     <constraintProvider>
        <package
              namespaceUri="http://www.polarsys.org/capella/core/information/communication/7.0.0">
        </package>
        <constraints
              categories="capella.category/design/completeness">
           <constraint
                 class="org.polarsys.capella.core.data.information.validation.information.CommunicationLinkIsDelegatedByOneSubcomponentAtLeast"
                 id="DC_CL_01"
                 isEnabledByDefault="true"
                 lang="Java"
                 mode="Batch"
                 name="%constraint.name.55"
                 severity="WARNING"
                 statusCode="1">
              <message>
                 %constraint.message.55
              </message>
              <description>
                 %constraint.description.55
              </description>
              <target
                    class="CommunicationLink">
              </target>
           </constraint>
           <constraint
                 class="org.polarsys.capella.core.data.information.validation.information.CommunicationLinkForComponentIsDefinedInItsParent"
                 id="DC_CL_02"
                 isEnabledByDefault="true"
                 lang="Java"
                 mode="Batch"
                 name="%constraint.name.56"
                 severity="WARNING"
                 statusCode="1">
              <message>
                 %constraint.message.56
              </message>
              <description>
                 %constraint.description.56
              </description>
              <target
                    class="CommunicationLink">
              </target>
           </constraint>
        </constraints>
     </constraintProvider>
   </extension>
</plugin>
