<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
  Copyright (c) 2006, 2020 THALES GLOBAL SERVICES.
  
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0
  
  SPDX-License-Identifier: EPL-2.0
  
  Contributors:
       Thales - initial API and implementation
-->
<plugin>
      
        <extension
         point="org.eclipse.ui.menus">
            <!-- EI Allocation Management -->
              <menuContribution locationURI="popup:org.polarsys.capella.core.wizards?after=additions">
                 <command commandId="org.polarsys.capella.core.data.fa.ui.wizards.command.EIAllocationManagementWizardAction" 
                    style="push" 
                    icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_manage.gif">  
                
                 <visibleWhen checkEnabled="false">
                    <with variable="selection">
                        <iterate ifEmpty="false">
                        	<or>
                            <test property="org.polarsys.capella.core.platform.sirius.ui.classOf" forcePluginActivation="true" value="OperationalActivity"/>
                            <test property="org.polarsys.capella.core.platform.sirius.ui.classOf" forcePluginActivation="true" value="SystemFunction"/>
                            <test property="org.polarsys.capella.core.platform.sirius.ui.classOf" forcePluginActivation="true" value="LogicalFunction"/>
                            </or>
                        </iterate>
                    </with>
                  </visibleWhen>
             </command>
                
             </menuContribution>
             
             <menuContribution locationURI="popup:org.polarsys.capella.core.data.fa.ui.wizards.dialogs.eiAllocation.sourcePhase?after=additions">
             
	              <separator
	                    name="group.showIn">
	              </separator>
	              
             </menuContribution>
              
             <menuContribution locationURI="popup:org.polarsys.capella.core.data.fa.ui.wizards.dialogs.eiAllocation.targetPhase?after=additions">
	              
	              <separator
	                    name="group.showIn">
	              </separator>
              
             </menuContribution>
              
       </extension>
      
      <extension
         point="org.polarsys.capella.core.preferences.capellaPreferences">
          <category
                description="Capella Wizards"
                name="Wizards">
             <item
                   enableByDefault="true"
                   id="org.polarsys.capella.core.data.fa.ui.wizards.command.EIAllocationManagementWizardAction"
                   name="%EIAllocationManagement">
             </item>
          </category>
       </extension>
       
      <extension
         point="org.eclipse.ui.commands">
           <command
                   categoryId="org.polarsys.capella.core.wizards"
                   defaultHandler="org.polarsys.capella.core.data.fa.ui.wizards.actions.EIAllocationManagementWizardAction"
                   id="org.polarsys.capella.core.data.fa.ui.wizards.command.EIAllocationManagementWizardAction"
                   name="%EIAllocationManagement">
          </command>
      </extension>
      
      <extension point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.polarsys.capella.core.data.ui.expression.wizardVisibilityDiagramElementExpression">
               <with
                  variable="selection">
               <and>
                  <iterate>
                        <instanceof
                              value="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
                        </instanceof>
                  </iterate>
               </and>
            </with>
      </definition>
   </extension>

</plugin>
