<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
#
#  Copyright (c) 2006, 2023 THALES GLOBAL SERVICES.
#  This program and the accompanying materials are made available under the
#  terms of the Eclipse Public License 2.0 which is available at
#  http://www.eclipse.org/legal/epl-2.0
# 
#  SPDX-License-Identifier: EPL-2.0
# 
#  Contributors:
#     Thales - initial API and implementation
-->

<plugin>

   
<!--@generated-->
  <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated libraries -->
      <package class="org.polarsys.capella.common.libraries.LibrariesPackage" genModel="model/libraries.genmodel" uri="http://www.polarsys.org/capella/common/libraries/7.0.0"/>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated libraries -->
      <parser class="org.polarsys.capella.common.libraries.util.LibrariesResourceFactoryImpl" type="libraries"/>
   </extension>

<extension point="org.polarsys.capella.shared.id.handler.IdHandler">
     <IdHandler handler="org.polarsys.capella.common.libraries.LibraryIdHandler" id="org.polarsys.capella.common.libraries.LibraryIdHandler">
     </IdHandler>
  </extension></plugin>
