<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  Copyright (c) 2006, 2019 THALES GLOBAL SERVICES.
  
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0
  
  SPDX-License-Identifier: EPL-2.0
  
  Contributors:
       Thales - initial API and implementation
-->
<plugin>
   
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.polarsys.capella.core.data.migration"
            id="org.polarsys.capella.patterns.migration"
            name="%patternMigration"
            description="%patternMigration_description">
      </command>
   </extension>
      <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.polarsys.capella.core.data.migration?after=additions">
            
            <command
                  commandId="org.polarsys.capella.patterns.migration">
                <visibleWhen checkEnabled="true">
                </visibleWhen> 
            </command>
            
      </menuContribution>
   </extension>
   
   
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.polarsys.capella.patterns.migration"
            icon="icons/full/etools16/capella_migrate.gif">
      </image>
      
   </extension>
   
   
   <extension
      point="org.polarsys.capella.core.preferences.capellaPreferences">
    
    <category
         name="%migrationMenu"
         description="%migrationMenu">
      <item
            id="org.polarsys.capella.patterns.migration"
            enableByDefault="true">
      </item>
    </category>
      
   </extension>
   
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.polarsys.capella.patterns.migration.PatternsCustomizeHandler"
            commandId="org.polarsys.capella.patterns.migration">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false">
                  <and>
                  <instanceof
                        value="org.eclipse.core.resources.IResource">
                  </instanceof>
                     <test
                           forcePluginActivation="true"
                           property="org.polarsys.capella.patterns.migration.PatternMigrationEnablementTester"
                           value="org.polarsys.capella.patterns.migration">
                     </test>
                  </and>
               </iterate>
            </with>
         </enabledWhen>
      </handler> 
   </extension>
   
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.polarsys.capella.patterns.migration.PatternMigrationEnablementTester"
            id="org.polarsys.capella.patterns.migration.PatternMigrationEnablementTester"
            namespace="org.polarsys.capella.patterns.migration"
            properties="PatternMigrationEnablementTester"
            type="org.eclipse.core.resources.IResource">
      </propertyTester>
   </extension>
   
   <extension
         point="org.polarsys.capella.core.data.migration.migrationContributions">
      <migrationContribution
            class="org.polarsys.capella.patterns.migration.contribution.PatternsMigrationContribution">
      </migrationContribution>
   </extension>
   <extension
         point="org.polarsys.capella.core.data.migration.migrationContributors">
      <migrationContributor
            class="org.polarsys.capella.patterns.migration.contribution.PatternsMigrationContributor">
      </migrationContributor>
   </extension>
</plugin>
