<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
#
#  Copyright (c) 2006, 2023 THALES GLOBAL SERVICES.
#  This program and the accompanying materials are made available under the
#  terms of the Eclipse Public License 2.0 which is available at
#  http://www.eclipse.org/legal/epl-2.0
# 
#  SPDX-License-Identifier: EPL-2.0
# 
#  Contributors:
#     Thales - initial API and implementation
-->

<plugin>

   
<!--@generated-->
  <extension point="org.eclipse.ui.newWizards">
      <!-- @generated CapellaModeller -->
      <wizard category="org.polarsys.kitalpha.wizard.category/org.polarsys.kitalpha.mdeCoreTechnology.wizard.category" class="org.polarsys.capella.core.data.capellamodeller.presentation.CapellamodellerModelWizard" icon="icons/full/obj16/CapellamodellerModelFile.gif" id="org.polarsys.capella.core.data.capellamodeller.presentation.CapellamodellerModelWizardID" name="%_UI_CapellamodellerModelWizard_label">
         <description>%_UI_CapellamodellerModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.ui.editors">
      <!-- @generated CapellaModeller -->
      <editor class="org.polarsys.capella.core.data.capellamodeller.presentation.CapellamodellerEditor" contributorClass="org.polarsys.capella.core.data.capellamodeller.presentation.CapellamodellerActionBarContributor" extensions="capella" icon="icons/full/obj16/CapellamodellerModelFile.gif" id="org.polarsys.capella.core.data.capellamodeller.presentation.CapellamodellerEditorID" default="true" name="%_UI_CapellamodellerEditor_label">
      </editor>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.ui.newWizards">
      <!-- @generated CapellaModeller -->
      <wizard category="org.polarsys.kitalpha.wizard.category/org.polarsys.kitalpha.mdeCoreTechnology.wizard.category" class="org.polarsys.capella.core.data.capellacore.presentation.CapellacoreModelWizard" icon="icons/full/obj16/CapellacoreModelFile.gif" id="org.polarsys.capella.core.data.capellacore.presentation.CapellacoreModelWizardID" name="%_UI_CapellacoreModelWizard_label">
         <description>%_UI_CapellacoreModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.ui.editors">
      <!-- @generated CapellaModeller -->
      <editor class="org.polarsys.capella.core.data.capellacore.presentation.CapellacoreEditor" contributorClass="org.polarsys.capella.core.data.capellacore.presentation.CapellacoreActionBarContributor" extensions="capellacore" icon="icons/full/obj16/CapellacoreModelFile.gif" id="org.polarsys.capella.core.data.capellacore.presentation.CapellacoreEditorID" default="true" name="%_UI_CapellacoreEditor_label">
      </editor>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.ui.newWizards">
      <!-- @generated CapellaModeller -->
      <wizard category="org.polarsys.kitalpha.wizard.category/org.polarsys.kitalpha.mdeCoreTechnology.wizard.category" class="org.polarsys.capella.core.data.oa.presentation.OaModelWizard" icon="icons/full/obj16/OaModelFile.gif" id="org.polarsys.capella.core.data.oa.presentation.OaModelWizardID" name="%_UI_OaModelWizard_label">
         <description>%_UI_OaModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.ui.editors">
      <!-- @generated CapellaModeller -->
      <editor class="org.polarsys.capella.core.data.oa.presentation.OaEditor" contributorClass="org.polarsys.capella.core.data.oa.presentation.OaActionBarContributor" extensions="oa" icon="icons/full/obj16/OaModelFile.gif" id="org.polarsys.capella.core.data.oa.presentation.OaEditorID" default="true" name="%_UI_OaEditor_label">
      </editor>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.ui.newWizards">
      <!-- @generated CapellaModeller -->
      <wizard category="org.polarsys.kitalpha.wizard.category/org.polarsys.kitalpha.mdeCoreTechnology.wizard.category" class="org.polarsys.capella.core.data.ctx.presentation.CtxModelWizard" icon="icons/full/obj16/CtxModelFile.gif" id="org.polarsys.capella.core.data.ctx.presentation.CtxModelWizardID" name="%_UI_CtxModelWizard_label">
         <description>%_UI_CtxModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.ui.editors">
      <!-- @generated CapellaModeller -->
      <editor class="org.polarsys.capella.core.data.ctx.presentation.CtxEditor" contributorClass="org.polarsys.capella.core.data.ctx.presentation.CtxActionBarContributor" extensions="ctx" icon="icons/full/obj16/CtxModelFile.gif" id="org.polarsys.capella.core.data.ctx.presentation.CtxEditorID" default="true" name="%_UI_CtxEditor_label">
      </editor>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.ui.newWizards">
      <!-- @generated CapellaModeller -->
      <wizard category="org.polarsys.kitalpha.wizard.category/org.polarsys.kitalpha.mdeCoreTechnology.wizard.category" class="org.polarsys.capella.core.data.la.presentation.LaModelWizard" icon="icons/full/obj16/LaModelFile.gif" id="org.polarsys.capella.core.data.la.presentation.LaModelWizardID" name="%_UI_LaModelWizard_label">
         <description>%_UI_LaModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.ui.editors">
      <!-- @generated CapellaModeller -->
      <editor class="org.polarsys.capella.core.data.la.presentation.LaEditor" contributorClass="org.polarsys.capella.core.data.la.presentation.LaActionBarContributor" extensions="la" icon="icons/full/obj16/LaModelFile.gif" id="org.polarsys.capella.core.data.la.presentation.LaEditorID" default="true" name="%_UI_LaEditor_label">
      </editor>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.ui.newWizards">
      <!-- @generated CapellaModeller -->
      <wizard category="org.polarsys.kitalpha.wizard.category/org.polarsys.kitalpha.mdeCoreTechnology.wizard.category" class="org.polarsys.capella.core.data.pa.presentation.PaModelWizard" icon="icons/full/obj16/PaModelFile.gif" id="org.polarsys.capella.core.data.pa.presentation.PaModelWizardID" name="%_UI_PaModelWizard_label">
         <description>%_UI_PaModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.ui.editors">
      <!-- @generated CapellaModeller -->
      <editor class="org.polarsys.capella.core.data.pa.presentation.PaEditor" contributorClass="org.polarsys.capella.core.data.pa.presentation.PaActionBarContributor" extensions="pa" icon="icons/full/obj16/PaModelFile.gif" id="org.polarsys.capella.core.data.pa.presentation.PaEditorID" default="true" name="%_UI_PaEditor_label">
      </editor>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.ui.newWizards">
      <!-- @generated CapellaModeller -->
      <wizard category="org.polarsys.kitalpha.wizard.category/org.polarsys.kitalpha.mdeCoreTechnology.wizard.category" class="org.polarsys.capella.core.data.pa.deployment.presentation.DeploymentModelWizard" icon="icons/full/obj16/DeploymentModelFile.gif" id="org.polarsys.capella.core.data.pa.deployment.presentation.DeploymentModelWizardID" name="%_UI_DeploymentModelWizard_label">
         <description>%_UI_DeploymentModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.ui.editors">
      <!-- @generated CapellaModeller -->
      <editor class="org.polarsys.capella.core.data.pa.deployment.presentation.DeploymentEditor" contributorClass="org.polarsys.capella.core.data.pa.deployment.presentation.DeploymentActionBarContributor" extensions="deployment" icon="icons/full/obj16/DeploymentModelFile.gif" id="org.polarsys.capella.core.data.pa.deployment.presentation.DeploymentEditorID" default="true" name="%_UI_DeploymentEditor_label">
      </editor>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.ui.newWizards">
      <!-- @generated CapellaModeller -->
      <wizard category="org.polarsys.kitalpha.wizard.category/org.polarsys.kitalpha.mdeCoreTechnology.wizard.category" class="org.polarsys.capella.core.data.epbs.presentation.EpbsModelWizard" icon="icons/full/obj16/EpbsModelFile.gif" id="org.polarsys.capella.core.data.epbs.presentation.EpbsModelWizardID" name="%_UI_EpbsModelWizard_label">
         <description>%_UI_EpbsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.ui.editors">
      <!-- @generated CapellaModeller -->
      <editor class="org.polarsys.capella.core.data.epbs.presentation.EpbsEditor" contributorClass="org.polarsys.capella.core.data.epbs.presentation.EpbsActionBarContributor" extensions="epbs" icon="icons/full/obj16/EpbsModelFile.gif" id="org.polarsys.capella.core.data.epbs.presentation.EpbsEditorID" default="true" name="%_UI_EpbsEditor_label">
      </editor>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.ui.newWizards">
      <!-- @generated CapellaModeller -->
      <wizard category="org.polarsys.kitalpha.wizard.category/org.polarsys.kitalpha.mdeCoreTechnology.wizard.category" class="org.polarsys.capella.core.data.sharedmodel.presentation.SharedmodelModelWizard" icon="icons/full/obj16/SharedmodelModelFile.gif" id="org.polarsys.capella.core.data.sharedmodel.presentation.SharedmodelModelWizardID" name="%_UI_SharedmodelModelWizard_label">
         <description>%_UI_SharedmodelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.ui.editors">
      <!-- @generated CapellaModeller -->
      <editor class="org.polarsys.capella.core.data.sharedmodel.presentation.SharedmodelEditor" contributorClass="org.polarsys.capella.core.data.sharedmodel.presentation.SharedmodelActionBarContributor" extensions="sharedmodel" icon="icons/full/obj16/SharedmodelModelFile.gif" id="org.polarsys.capella.core.data.sharedmodel.presentation.SharedmodelEditorID" default="true" name="%_UI_SharedmodelEditor_label">
      </editor>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.ui.newWizards">
      <!-- @generated CapellaModeller -->
      <wizard category="org.polarsys.kitalpha.wizard.category/org.polarsys.kitalpha.mdeCoreTechnology.wizard.category" class="org.polarsys.capella.core.data.capellacommon.presentation.CapellacommonModelWizard" icon="icons/full/obj16/CapellacommonModelFile.gif" id="org.polarsys.capella.core.data.capellacommon.presentation.CapellacommonModelWizardID" name="%_UI_CapellacommonModelWizard_label">
         <description>%_UI_CapellacommonModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.ui.editors">
      <!-- @generated CapellaModeller -->
      <editor class="org.polarsys.capella.core.data.capellacommon.presentation.CapellacommonEditor" contributorClass="org.polarsys.capella.core.data.capellacommon.presentation.CapellacommonActionBarContributor" extensions="capellacommon" icon="icons/full/obj16/CapellacommonModelFile.gif" id="org.polarsys.capella.core.data.capellacommon.presentation.CapellacommonEditorID" default="true" name="%_UI_CapellacommonEditor_label">
      </editor>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.ui.newWizards">
      <!-- @generated CapellaModeller -->
      <wizard category="org.polarsys.kitalpha.wizard.category/org.polarsys.kitalpha.mdeCoreTechnology.wizard.category" class="org.polarsys.capella.core.data.information.presentation.InformationModelWizard" icon="icons/full/obj16/InformationModelFile.gif" id="org.polarsys.capella.core.data.information.presentation.InformationModelWizardID" name="%_UI_InformationModelWizard_label">
         <description>%_UI_InformationModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.ui.editors">
      <!-- @generated CapellaModeller -->
      <editor class="org.polarsys.capella.core.data.information.presentation.InformationEditor" contributorClass="org.polarsys.capella.core.data.information.presentation.InformationActionBarContributor" extensions="information" icon="icons/full/obj16/InformationModelFile.gif" id="org.polarsys.capella.core.data.information.presentation.InformationEditorID" default="true" name="%_UI_InformationEditor_label">
      </editor>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.ui.newWizards">
      <!-- @generated CapellaModeller -->
      <wizard category="org.polarsys.kitalpha.wizard.category/org.polarsys.kitalpha.mdeCoreTechnology.wizard.category" class="org.polarsys.capella.core.data.information.communication.presentation.CommunicationModelWizard" icon="icons/full/obj16/CommunicationModelFile.gif" id="org.polarsys.capella.core.data.information.communication.presentation.CommunicationModelWizardID" name="%_UI_CommunicationModelWizard_label">
         <description>%_UI_CommunicationModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.ui.editors">
      <!-- @generated CapellaModeller -->
      <editor class="org.polarsys.capella.core.data.information.communication.presentation.CommunicationEditor" contributorClass="org.polarsys.capella.core.data.information.communication.presentation.CommunicationActionBarContributor" extensions="communication" icon="icons/full/obj16/CommunicationModelFile.gif" id="org.polarsys.capella.core.data.information.communication.presentation.CommunicationEditorID" default="true" name="%_UI_CommunicationEditor_label">
      </editor>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.ui.newWizards">
      <!-- @generated CapellaModeller -->
      <wizard category="org.polarsys.kitalpha.wizard.category/org.polarsys.kitalpha.mdeCoreTechnology.wizard.category" class="org.polarsys.capella.core.data.information.datatype.presentation.DatatypeModelWizard" icon="icons/full/obj16/DatatypeModelFile.gif" id="org.polarsys.capella.core.data.information.datatype.presentation.DatatypeModelWizardID" name="%_UI_DatatypeModelWizard_label">
         <description>%_UI_DatatypeModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.ui.editors">
      <!-- @generated CapellaModeller -->
      <editor class="org.polarsys.capella.core.data.information.datatype.presentation.DatatypeEditor" contributorClass="org.polarsys.capella.core.data.information.datatype.presentation.DatatypeActionBarContributor" extensions="datatype" icon="icons/full/obj16/DatatypeModelFile.gif" id="org.polarsys.capella.core.data.information.datatype.presentation.DatatypeEditorID" default="true" name="%_UI_DatatypeEditor_label">
      </editor>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.ui.newWizards">
      <!-- @generated CapellaModeller -->
      <wizard category="org.polarsys.kitalpha.wizard.category/org.polarsys.kitalpha.mdeCoreTechnology.wizard.category" class="org.polarsys.capella.core.data.information.datavalue.presentation.DatavalueModelWizard" icon="icons/full/obj16/DatavalueModelFile.gif" id="org.polarsys.capella.core.data.information.datavalue.presentation.DatavalueModelWizardID" name="%_UI_DatavalueModelWizard_label">
         <description>%_UI_DatavalueModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.ui.editors">
      <!-- @generated CapellaModeller -->
      <editor class="org.polarsys.capella.core.data.information.datavalue.presentation.DatavalueEditor" contributorClass="org.polarsys.capella.core.data.information.datavalue.presentation.DatavalueActionBarContributor" extensions="datavalue" icon="icons/full/obj16/DatavalueModelFile.gif" id="org.polarsys.capella.core.data.information.datavalue.presentation.DatavalueEditorID" default="true" name="%_UI_DatavalueEditor_label">
      </editor>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.ui.newWizards">
      <!-- @generated CapellaModeller -->
      <wizard category="org.polarsys.kitalpha.wizard.category/org.polarsys.kitalpha.mdeCoreTechnology.wizard.category" class="org.polarsys.capella.core.data.cs.presentation.CsModelWizard" icon="icons/full/obj16/CsModelFile.gif" id="org.polarsys.capella.core.data.cs.presentation.CsModelWizardID" name="%_UI_CsModelWizard_label">
         <description>%_UI_CsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.ui.editors">
      <!-- @generated CapellaModeller -->
      <editor class="org.polarsys.capella.core.data.cs.presentation.CsEditor" contributorClass="org.polarsys.capella.core.data.cs.presentation.CsActionBarContributor" extensions="cs" icon="icons/full/obj16/CsModelFile.gif" id="org.polarsys.capella.core.data.cs.presentation.CsEditorID" default="true" name="%_UI_CsEditor_label">
      </editor>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.ui.newWizards">
      <!-- @generated CapellaModeller -->
      <wizard category="org.polarsys.kitalpha.wizard.category/org.polarsys.kitalpha.mdeCoreTechnology.wizard.category" class="org.polarsys.capella.core.data.fa.presentation.FaModelWizard" icon="icons/full/obj16/FaModelFile.gif" id="org.polarsys.capella.core.data.fa.presentation.FaModelWizardID" name="%_UI_FaModelWizard_label">
         <description>%_UI_FaModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.ui.editors">
      <!-- @generated CapellaModeller -->
      <editor class="org.polarsys.capella.core.data.fa.presentation.FaEditor" contributorClass="org.polarsys.capella.core.data.fa.presentation.FaActionBarContributor" extensions="fa" icon="icons/full/obj16/FaModelFile.gif" id="org.polarsys.capella.core.data.fa.presentation.FaEditorID" default="true" name="%_UI_FaEditor_label">
      </editor>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.ui.newWizards">
      <!-- @generated CapellaModeller -->
      <wizard category="org.polarsys.kitalpha.wizard.category/org.polarsys.kitalpha.mdeCoreTechnology.wizard.category" class="org.polarsys.capella.core.data.interaction.presentation.InteractionModelWizard" icon="icons/full/obj16/InteractionModelFile.gif" id="org.polarsys.capella.core.data.interaction.presentation.InteractionModelWizardID" name="%_UI_InteractionModelWizard_label">
         <description>%_UI_InteractionModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.ui.editors">
      <!-- @generated CapellaModeller -->
      <editor class="org.polarsys.capella.core.data.interaction.presentation.InteractionEditor" contributorClass="org.polarsys.capella.core.data.interaction.presentation.InteractionActionBarContributor" extensions="interaction" icon="icons/full/obj16/InteractionModelFile.gif" id="org.polarsys.capella.core.data.interaction.presentation.InteractionEditorID" default="true" name="%_UI_InteractionEditor_label">
      </editor>
   </extension>

</plugin>
