<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  Copyright (c) 2006, 2020 THALES GLOBAL SERVICES.
  
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0
  
  SPDX-License-Identifier: EPL-2.0
  
  Contributors:
       Thales - initial API and implementation
-->
<plugin>
<extension
         point="org.eclipse.emf.validation.constraintProviders">
      <constraintProvider>
         <package
               namespaceUri="http://www.polarsys.org/capella/core/cs/7.0.0">
         </package>
         <constraints
               categories="capella.category/design/well-formedness/dataflows">
         </constraints>
         <constraints
               categories="capella.category/design/well-formedness/interfaces">
            <constraint
                  class="org.polarsys.capella.core.data.cs.validation.component.MDCHK_Component_Interfaces_Level"
                  id="DWF_I_04"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="%constraint.name"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  %constraint.message
               </message>
               <description>
                  %constraint.description
               </description>
               <target
                     class="Interface">
               </target>
            </constraint>
            <constraint
                  class="org.polarsys.capella.core.data.cs.validation.component.ComponentCommunicationLinkRule"
                  id="DWF_I_05"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Batch"
                  name="%constraint.name.0"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  %constraint.message.0
               </message>
               <target
                     class="Component">
               </target>
               <description>
                  %constraint.description.0
               </description>
            </constraint>
            <constraint
                  class="org.polarsys.capella.core.data.cs.validation.interfacePkg.MDCHK_InterfacePkg_Location_1"
                  id="DWF_I_06"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="%constraint.name.1"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  %constraint.message.1
               </message>
               <description>
                  %constraint.description.1
               </description>
               <target
                     class="InterfacePkg">
               </target>
            </constraint>
            <constraint
                  class="org.polarsys.capella.core.data.cs.validation.interface_.MDCHK_Component_InterfaceLevel"
                  id="DWF_I_07"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="%constraint.name.2"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  %constraint.message.2
               </message>
               <target
                     class="Component">
               </target>
               <description>
                  %constraint.description.2
               </description>
            </constraint>
            
            
            <constraint
                  class="org.polarsys.capella.core.data.cs.validation.interface_.ExchangeItemAllocationProtocol"
                  id="DWF_I_21"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="%constraint.name.3"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  %constraint.message.3
               </message>
               <target
                     class="ExchangeItemAllocation">
               </target>
               <description>
                  %constraint.description.3
               </description>
            </constraint>
            
            <constraint
                  class="org.polarsys.capella.core.data.cs.validation.interface_.ExchangeItemAllocationProtocolSequence"
                  id="DWF_I_22"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="%constraint.name.4"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  %constraint.message.4
               </message>
               <target
                     class="ExchangeItemAllocation">
               </target>
               <description>
                  %constraint.description.4
               </description>
            </constraint>
            
            
            <constraint
                  class="org.polarsys.capella.core.data.cs.validation.interface_.ExchangeItemAllocationAllocatedItem"
                  id="DWF_I_11"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="%constraint.name.5"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  %constraint.message.5
               </message>
               <target
                     class="ExchangeItemAllocation">
               </target>
               <description>
                  %constraint.description.5
               </description>
            </constraint>
            <constraint
                  class="org.polarsys.capella.core.data.cs.validation.interface_.EIAAllocatedItemLayerConsistency"
                  id="DWF_I_12"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="%constraint.name.6"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  %constraint.message.6
               </message>
               <description>
                  %constraint.description.6
               </description>
               <target
                     class="ExchangeItemAllocation">
               </target>
            </constraint>
            <constraint
                  class="org.polarsys.capella.core.data.cs.validation.interface_.TechnicalInterfaceRepresentAllCommunicationLinks"
                  id="DWF_I_14"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="%constraint.name.7"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  %constraint.message.7
               </message>
               <description>
                  %constraint.description.7
               </description>
               <target
                     class="Interface">
               </target>
            </constraint>
            <constraint
                  class="org.polarsys.capella.core.data.cs.validation.interface_.ExchangeItemAllocationForTechnicalInterfaceHasCommunicationLink"
                  id="DWF_I_15"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="%constraint.name.8"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  %constraint.message.8
               </message>
               <description>
                  %constraint.description.8
               </description>
               <target
                     class="ExchangeItemAllocation">
               </target>
            </constraint>
            <constraint
                  class="org.polarsys.capella.core.data.cs.validation.interface_.TechnicalInterfacesAreNotProvidedOrRequired"
                  id="DWF_I_16"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="%constraint.name.9"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  %constraint.message.9
               </message>
               <description>
                  %constraint.description.9
               </description>
               <target
                     class="Interface">
               </target>
            </constraint>
            <constraint
                  class="org.polarsys.capella.core.data.cs.validation.interface_.AtMostOneTechnicalInterfaceBetweenTwoComponents"
                  id="DWF_I_17"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="%constraint.name.10"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  %constraint.message.10
               </message>
               <description>
                  %constraint.description.10
               </description>
               <target
                     class="Interface">
               </target>
            </constraint>
            <constraint
                  class="org.polarsys.capella.core.data.cs.validation.interface_.TechnicalInterfacesShouldNotBeUsedByMoreThanOneComponent"
                  id="DWF_I_18"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="%constraint.name.11"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  %constraint.message.11
               </message>
               <description>
                  %constraint.description.11
               </description>
               <target
                     class="Interface">
               </target>
            </constraint>
            <constraint
                  class="org.polarsys.capella.core.data.cs.validation.interface_.TechnicalInterfacesShouldNotBeImplementedByMoreThanOneComponent"
                  id="DWF_I_19"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="%constraint.name.12"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  %constraint.message.12
               </message>
               <description>
                  %constraint.description.12
               </description>
               <target
                     class="Interface">
               </target>
            </constraint>
            <constraint
                  class="org.polarsys.capella.core.data.cs.validation.interface_.IntefaceDoesNotContainSimilarExchangeItemAllocation"
                  id="DWF_I_20"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="%constraint.name.13"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  %constraint.message.13
               </message>
               <description>
                  %constraint.description.13
               </description>
               <target
                     class="Interface">
               </target>
            </constraint>            
         </constraints>
         <constraints
               categories="capella.category/design/well-formedness/components">
            <constraint class="org.polarsys.capella.core.data.cs.validation.component.MDCHK_ComponentCycle" 
            	id="DWF_DC_01" 
            	isEnabledByDefault="true" 
            	lang="Java" mode="Batch" 
            	name="%constraint.name.14" 
            	severity="ERROR" 
            	statusCode="1">
               <message>
                  %constraint.message.14
               </message>
               <description>
                  %constraint.description.14
               </description>
               <target class="Component">
               </target>
            </constraint>
            <constraint
                  class="org.polarsys.capella.core.data.cs.validation.part.Part_AccessibleType"
                  id="DWF_DC_05"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Batch"
                  name="%constraint.name.15"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  %constraint.message.15
               </message>
               <target
                     class="Part">
               </target>
               <description>
                  %constraint.description.15
               </description>
            </constraint>
            <constraint
                  class="org.polarsys.capella.core.data.cs.validation.component.MDCHK_Component_PartTypeLevel"
                  id="DWF_DC_06"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Batch"
                  name="%constraint.name.16"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  %constraint.message.16
               </message>
               <target
                     class="Component">
               </target>
               <description>
                  %constraint.description.16
               </description>
            </constraint>
            <constraint
                  class="org.polarsys.capella.core.data.cs.validation.physicalPath.PhysicalPathComponentExchangeAllocation"
                  id="DWF_DC_33"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="%constraint.name.17"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  %constraint.message.17
               </message>
               <description>
                  %constraint.description.17
               </description>
               <target
                     class="PhysicalPath">
               </target>
            </constraint>
            <constraint
                  class="org.polarsys.capella.core.data.cs.validation.physicalPort.PhysicalPortOnBehaviourPC"
                  id="DWF_DC_30"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="%constraint.name.18"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  %constraint.message.18
               </message>
               <description>
                  %constraint.description.18
               </description>
               <target
                     class="PhysicalPort">
               </target>
            </constraint>
            <constraint
                  class="org.polarsys.capella.core.data.cs.validation.part.Part_AbstractType"
                  id="DWF_DC_07"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="%constraint.name.19"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  %constraint.message.19
               </message>
               <description>
                  %constraint.description.19
               </description>
               <target
                     class="Part">
               </target>
            </constraint>
            <constraint
                  class="org.polarsys.capella.core.data.cs.validation.part.Part_NullType"
                  id="DWF_DC_08"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Batch"
                  name="%constraint.name.20"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  %constraint.message.20
               </message>
               <target
                     class="Part">
               </target>
               <description>
                  %constraint.description.20
               </description>
            </constraint>
            <constraint
                  class="org.polarsys.capella.core.data.cs.validation.component.MDCHK_Component_AllocatedFunctions_1"
                  id="DWF_DC_09"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="%constraint.name.21"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  %constraint.message.21
               </message>
               <description>
                  %constraint.description.21
               </description>
               <target
                     class="Component">
               </target>
            </constraint>
            <constraint
                  class="org.polarsys.capella.core.data.cs.validation.physicalPath.MDCHK_PhysicalPath_InvolvedLinks"
                  id="DWF_DC_03"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Batch"
                  name="%constraint.name.22"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  %constraint.message.22
               </message>
               <description>
                  %constraint.description.22
               </description>
               <target
                     class="PhysicalPath">
               </target>
            </constraint>
            <constraint class="org.polarsys.capella.core.data.cs.validation.physicalPathInvolvement.PhysicalPathInvolvement_Involved" 
                        id="DWF_DC_24" 
                        isEnabledByDefault="true" 
            			lang="Java" 
                        mode="Batch" 
            			name="%constraint.name.23" 
                        severity="WARNING" 
            			statusCode="1">
               <message>
                  %constraint.message.23
               </message>
               <description>
                  %constraint.description.23
               </description>
               <target class="PhysicalPathInvolvement">
               </target>
            </constraint>
            <constraint class="org.polarsys.capella.core.data.cs.validation.physicalLink.PhysicalLink_Location" id="DWF_DC_19" isEnabledByDefault="false" lang="Java" mode="Batch" name="%constraint.name.24" severity="WARNING" statusCode="1">
               <message>
                  %constraint.message.24
               </message>
               <description>
                  %constraint.description.24
               </description>
               <target class="PhysicalLink">
               </target>
            </constraint>
            <constraint class="org.polarsys.capella.core.data.cs.validation.component.MDCHK_ComponentHumanCheckNoSubComponents" id="DWF_DC_36" 
            isEnabledByDefault="true" lang="Java" mode="Batch" 
            name="%constraint.name.25" severity="ERROR" statusCode="1">
               <message>
                  %constraint.message.25
               </message>
               <description>
                  %constraint.description.25
               </description>
               <target class="Component">
               </target>
            </constraint>
            <constraint class="org.polarsys.capella.core.data.cs.validation.component.MDCHK_SystemAnalysisOneSystem" id="DWF_DC_37" 
            isEnabledByDefault="true" lang="Java" mode="Batch" 
            name="%constraint.name.26" severity="ERROR" statusCode="1">
               <message>
                  %constraint.message.26
               </message>
               <description>
                  %constraint.description.26
               </description>
               <target class="Component">
               </target>
            </constraint>
            <constraint class="org.polarsys.capella.core.data.cs.validation.component.MDCHK_OneRootComponent" id="DWF_DC_38" 
            isEnabledByDefault="true" lang="Java" mode="Batch" 
            name="%constraint.name.27" severity="ERROR" statusCode="1">
               <message>
                  %constraint.message.27
               </message>
               <description>
                  %constraint.description.27
               </description>
               <target class="ComponentArchitecture">
               </target>
            </constraint>
            <constraint class="org.polarsys.capella.core.data.cs.validation.component.MDCHK_OperationalEntityCheckNotHuman" id="DWF_DC_40" 
            isEnabledByDefault="true" lang="Java" mode="Batch" 
            name="%constraint.name.28" severity="WARNING" statusCode="1">
               <message>
                  %constraint.message.28
               </message>
               <description>
                  %constraint.description.28
               </description>
               <target class="Component">
               </target>
            </constraint>
            <constraint class="org.polarsys.capella.core.data.cs.validation.component.MDCHK_OperationalActorCheckHuman" id="DWF_DC_41" 
            isEnabledByDefault="true" lang="Java" mode="Batch" 
            name="%constraint.name.29" severity="WARNING" statusCode="1">
               <message>
                  %constraint.message.29
               </message>
               <description>
                  %constraint.description.29
               </description>
               <target class="Component">
               </target>
            </constraint>
            <constraint
                  class="org.polarsys.capella.core.data.cs.validation.component.ComponentNoPart"
                  id="DWF_DC_42"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Batch"
                  name="%constraint.name.30"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  %constraint.message.30
               </message>
               <target
                     class="Component">
               </target>
               <description>
                  %constraint.description.30
               </description>
            </constraint>
            <constraint
                  class="org.polarsys.capella.core.data.cs.validation.component.Component_GeneralizationItself"
                  id="DWF_DC_17"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Batch"
                  name="%constraint.name.31"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  %constraint.message.31
               </message>
               <target
                     class="Component">
               </target>
               <description>
                  %constraint.description.31
               </description>
            </constraint>
         </constraints>
         <constraints
               categories="capella.category/integrity">
            <constraint
                  class="org.polarsys.capella.core.data.cs.validation.component.ComponentRealization_Consistency"
                  id="I_05"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="%constraint.name.32"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  %constraint.message.32
               </message>
               <target
                     class="Component">
               </target>
               <description>
                  %constraint.description.32
               </description>
            </constraint>
            <constraint
                  class="org.polarsys.capella.core.data.cs.validation.component.MDCHK_Component_MultipleUseOrImplementationOfSameItfCheck"
                  id="I_16"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="%constraint.name.33"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  %constraint.message.33
               </message>
               <description>
                  %constraint.description.33
               </description>
               <target
                     class="Component">
               </target>
            </constraint>
            <constraint
                  class="org.polarsys.capella.core.data.cs.validation.part.ComponentPkg_RootComponentPart"
                  id="I_17"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="%constraint.name.34"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  %constraint.message.34
               </message>
               <description>
                  %constraint.description.34
               </description>
               <target
                     class="ComponentPkg">
               </target>
            </constraint>
            <constraint
                  class="org.polarsys.capella.core.data.cs.validation.physicalPathInvolvement.PhysicalPathInvolvement_NextAndPrevious_1"
                  id="I_29"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="%constraint.name.35"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  %constraint.message.35
               </message>
               <description>
                  %constraint.description.35
               </description>
               <target
                     class="PhysicalPathInvolvement">
               </target>
            </constraint>
            <constraint
                  class="org.polarsys.capella.core.data.cs.validation.physicalPathInvolvement.PhysicalPathInvolvement_NextAndPrevious_2"
                  id="I_30"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="%constraint.name.36"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  %constraint.message.36
               </message>
               <description>
                  %constraint.description.36
               </description>
               <target
                     class="PhysicalPathInvolvement">
               </target>
            </constraint>
         <constraint
                  class="org.polarsys.capella.core.data.cs.validation.component.GeneralizedComponents_Human"
                  id="I_41"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="%constraint.name.37"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  %constraint.message.37
               </message>
               <description>
                  %constraint.description.37
               </description>
               <target
                     class="Component">
               </target>
         </constraint>
         <constraint
                  class="org.polarsys.capella.core.data.cs.validation.component.RealizedComponents_Human"
                  id="I_42"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="%constraint.name.38"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  %constraint.message.38
               </message>
               <description>
                  %constraint.description.38
               </description>
               <target
                     class="Component">
               </target>
            </constraint>
         </constraints>
         <constraints
               categories="capella.category/transition/justification/physical_architecture">
            <constraint
                  class="org.polarsys.capella.core.data.cs.validation.interface_.MDCHK_Interface_Realization_2"
                  id="TJ_PA_11"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="%constraint.name.39"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  %constraint.message.39
               </message>
               <description>
                  %constraint.description.39
               </description>
               <target
                     class="Interface">
               </target>
            </constraint>
            <constraint
                  class="org.polarsys.capella.core.data.cs.validation.physicalArtifact.PhysicalArtifactAllocated"
                  id="TJ_PA_09"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="%constraint.name.40"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  %constraint.message.40
               </message>
               <target
                     class="AbstractPhysicalArtifact">
               </target>
               <description>
                  %constraint.description.40
               </description>
            </constraint>
         </constraints>
         <constraints
               categories="capella.category/design/completeness">
            <constraint
                  class="org.polarsys.capella.core.data.cs.validation.interface_.MDCHK_Interface_Implementation_1"
                  id="DCOM_06"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="%constraint.name.41"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  %constraint.message.41
               </message>
               <description>
                  %constraint.description.41
               </description>
               <target
                     class="Interface">
               </target>
            </constraint>
            <constraint
                  class="org.polarsys.capella.core.data.cs.validation.interface_.MDCHK_Interface_Usage_2"
                  id="DCOM_07"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="%constraint.name.42"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  %constraint.message.42
               </message>
               <description>
                  %constraint.description.42
               </description>
               <target
                     class="Interface">
               </target>
            </constraint>
            <constraint
                  class="org.polarsys.capella.core.data.cs.validation.interface_.MDCHK_Interface_Implementation_2"
                  id="DCOM_08"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="%constraint.name.43"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  %constraint.message.43
               </message>
               <description>
                  %constraint.description.43
               </description>
               <target
                     class="Interface">
               </target>
            </constraint>
            <constraint
                  class="org.polarsys.capella.core.data.cs.validation.interface_.MDCHK_Interface_Operations"
                  id="DCOM_09"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="%constraint.name.44"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  %constraint.message.44
               </message>
               <description>
                  %constraint.description.44
               </description>
               <target
                     class="Interface">
               </target>
            </constraint>
         </constraints>
         <constraints
               categories="capella.category/design/coverage">
            <constraint
                  class="org.polarsys.capella.core.data.cs.validation.interface_.MDCHK_Interface_Usage_1"
                  id="DCOV_01"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="%constraint.name.45"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  %constraint.message.45
               </message>
               <description>
                  %constraint.description.45
               </description>
               <target
                     class="Interface">
               </target>
            </constraint>
            <constraint class="org.polarsys.capella.core.data.cs.validation.physicalPort.PhysicalPortPhysicalLink" id="DCOV_11" isEnabledByDefault="true" lang="java" mode="Batch" name="%constraint.name.46" severity="WARNING" statusCode="1">
               <message>
                  %constraint.message.46
               </message>
               <target class="PhysicalPort">
               </target>
               <description>
                  %constraint.description.46
               </description>
            </constraint>
         </constraints>
         <constraints
               categories="capella.category/transition/consistency/interfaces">
            <constraint
                  class="org.polarsys.capella.core.data.cs.validation.interface_.ME01G_ExchangeItemAllocation"
                  id="TC_I_03"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="%constraint.name.47"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  %constraint.message.47
               </message>
               <target
                     class="ExchangeItemAllocation">
               </target>
               <description>
                  %constraint.description.47
               </description>
            </constraint>
         </constraints>
      </constraintProvider>
      
      
      <constraintProvider>
         <package
               namespaceUri="http://www.polarsys.org/capella/common/core/7.0.0">
         </package>
         <constraints
               categories="capella.category/design/completeness">
               
               <constraint
                  class="org.polarsys.capella.core.data.cs.validation.interface_.MDCHKComponentInterfaceFunctionPortExchangeItemAllocationConsistency"
                  id="DCOM_15"
                  isEnabledByDefault="false"
                  lang="Java"
                  mode="Batch"
                  name="%constraint.name.48"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  %constraint.message.48 
               </message>
               <description>
               %constraint.description.48
               </description>
               <target
                     class="ModelElement">
               </target>
            </constraint>
               
         
               <constraint
                  class="org.polarsys.capella.core.data.cs.validation.interface_.MDCHKInterfaceExchangeItemAllocationConsistency"
                  id="DCOM_16"
                  isEnabledByDefault="false"
                  lang="Java"
                  mode="Batch"
                  name="%constraint.name.49"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  %constraint.message.49 
               </message>
               <description>
               %constraint.description.49
               </description>
               <target
                     class="ModelElement">
               </target>
            </constraint>
            <constraint
                  class="org.polarsys.capella.core.data.cs.validation.interface_.MDCHKFunctionPortExchangeItemAllocationConsistency"
                  id="DCOM_17"
                  isEnabledByDefault="false"
                  lang="Java"
                  mode="Batch"
                  name="%constraint.name.50"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  %constraint.message.50 
               </message>
               <description>
%constraint.description.50
               </description>
               <target
                     class="ModelElement">
               </target>
            </constraint>
            
            </constraints>
            <constraints
               categories="capella.category/design/well-formedness/interfaces">
            <constraint
                  class="org.polarsys.capella.core.data.cs.validation.interface_.InterfaceAndExchangeItemsLocationConsistency"
                  id="DWF_I_13"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="%constraint.name.51"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  %constraint.message.51
               </message>
               <description>
                  %constraint.description.51
               </description>
               <target
                     class="ModelElement">
               </target>
            </constraint>
            
            
            
         </constraints>
      </constraintProvider>
   </extension>
</plugin>
