<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
  Copyright (c) 2006, 2014 THALES GLOBAL SERVICES.
  
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0
  
  SPDX-License-Identifier: EPL-2.0
  
  Contributors:
       Thales - initial API and implementation
-->
<plugin>
   <extension-point id="org.polarsys.capella.core.diagram.traceability" name="org.polarsys.capella.core.diagram.traceability" schema="schema/traceability.exsd"/>

   <extension
         id="titleblock.delete.helper"
         point="org.polarsys.capella.core.model.handler.deleteCommandProvider">
      <deleteHelper
            class="org.polarsys.capella.core.diagram.helpers.TitleBlockDeleteHelper">
      </deleteHelper>
   </extension>
   
</plugin>
