<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
  Copyright (c) 2006, 2014 THALES GLOBAL SERVICES.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html

  Contributors:
       Thales - initial API and implementation
-->
<plugin>
   <extension-point id="org.polarsys.capella.core.diagram.traceability" name="org.polarsys.capella.core.diagram.traceability" schema="schema/traceability.exsd"/>

	<extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
        class="org.polarsys.capella.core.diagram.helpers.providers.TitleBlockItemDecoratorAdapterFactory"
        supportedTypes="org.eclipse.emf.edit.provider.IItemLabelProvider"
        uri="http://www.polarsys.org/capella/titleblocks/providers/1.0"/>
   </extension>
   <extension
        point="org.polarsys.capella.core.model.handler.decoratorAdapterFactory">
     <decoratorAdapterFactory
           class="org.polarsys.capella.core.diagram.helpers.providers.TitleBlockItemDecoratorAdapterFactory">
     </decoratorAdapterFactory>
  </extension>
</plugin>
